{"swagger":"2.0","info":{"description":"關於農業部API平台....2","version":"1.0","title":"農業部OPEN DATA API","license":{"name":"農業部","url":"http://www.moa.gov.tw"}},"host":"data.moa.gov.tw","basePath":"/api/v1","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"securityDefinitions":{"api_key":{"type":"apiKey","name":"api_key","in":"query","description":"若您有註冊會員, 可輸入您的API_KEY值增加每日可查詢筆數"}},"security":[{"api_key":["1234"]}],"paths":{"/PesticideType/":{"get":{"summary":"農藥型別","description":"農藥型別<p><b>DATA</b>:[<br>{<br><b>PesticideID</b>(<span style=\"font-color:#6666ff\">string</option>):農藥代碼\n<b>PesticideName</b>(<span style=\"font-color:#6666ff\">string</option>):農藥中文名稱\n<b>PesticideEnName</b>(<span style=\"font-color:#6666ff\">string</option>):農藥英文名稱\n<b>PesticideCoaID</b>(<span style=\"font-color:#6666ff\">string</option>):農藥許可證字號\n<b>PesticideProductName</b>(<span style=\"font-color:#6666ff\">string</option>):農藥商品名稱\n<br>}<br>]</p>","operationId":"PesticideType","tags":["施肥用藥"],"parameters":[{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PesticideType"}}},"400":{"description":"無此API"}}}},"/PesticideCompanyType/":{"get":{"summary":"廠商型別","description":"廠商型別<p><b>DATA</b>:[<br>{<br><b>Company_Name</b>(<span style=\"font-color:#6666ff\">string</option>):廠商名稱\n<b>Company_Addr</b>(<span style=\"font-color:#6666ff\">string</option>):廠商地址\n<br>}<br>]</p>","operationId":"PesticideCompanyType","tags":["施肥用藥"],"parameters":[{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PesticideCompanyType"}}},"400":{"description":"無此API"}}}},"/PesticideDataQueryType/":{"get":{"summary":"農藥資料查詢","description":"農藥資料查詢<p><b>DATA</b>:[<br>{<br><b>EnName</b>(<span style=\"font-color:#6666ff\">string</option>):英文名稱\n<b>ChineseName</b>(<span style=\"font-color:#6666ff\">string</option>):中文名稱\n<b>ChemicalComposition</b>(<span style=\"font-color:#6666ff\">string</option>):化學成分\n<b>Vendor</b>(<span style=\"font-color:#6666ff\">string</option>):廠商名稱\n<b>Permit</b>(<span style=\"font-color:#6666ff\">string</option>):許可證字\n<b>PermitNumber</b>(<span style=\"font-color:#6666ff\">string</option>):許可證號\n<b>PesticideCode</b>(<span style=\"font-color:#6666ff\">string</option>):農藥代號\n<b>ForeignMaker</b>(<span style=\"font-color:#6666ff\">string</option>):國外原製造廠商\n<b>ExpireDate</b>(<span style=\"font-color:#6666ff\">string</option>):有效期限\n<b>BrandName</b>(<span style=\"font-color:#6666ff\">string</option>):廠牌名稱\n<b>Page</b>(<span style=\"font-color:#6666ff\">string</option>):頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數\n<b>ScopeOfUse</b>(<span style=\"font-color:#6666ff\">string</option>):農藥使用範圍\n<b>formCode</b>(<span style=\"font-color:#6666ff\">string</option>):劑型\n<b>contents</b>(<span style=\"font-color:#6666ff\">string</option>):含量\n<b>FRAC</b>(<span style=\"font-color:#6666ff\">string</option>):殺菌劑抗藥性\n<b>HRAC</b>(<span style=\"font-color:#6666ff\">string</option>):除草劑抗藥性\n<b>IRAC</b>(<span style=\"font-color:#6666ff\">string</option>):殺蟲劑抗藥性\n<b>RevocationType</b>(<span style=\"font-color:#6666ff\">string</option>):撤銷類別\n<b>RevocationDate</b>(<span style=\"font-color:#6666ff\">string</option>):撤銷日期\n<b>GetFile</b>(<span style=\"font-color:#6666ff\">string</option>):許可證標示\n<b>GetBrcodeXML</b>(<span style=\"font-color:#6666ff\">string</option>):農藥條碼資料\n<b>GetGropty</b>(<span style=\"font-color:#6666ff\">string</option>):混合劑百分率資料\n<b>PesticideCategoryCh</b>(<span style=\"font-color:#6666ff\">string</option>):農藥分類中文意義\n<b>PesticideTypeCh</b>(<span style=\"font-color:#6666ff\">string</option>):農藥類別中文意義\n<br>}<br>]</p>","operationId":"PesticideDataQueryType","tags":["施肥用藥"],"parameters":[{"name":"EnName","in":"query","description":"英文名稱","required":false,"type":"string"},{"name":"ChineseName","in":"query","description":"中文名稱","required":false,"type":"string"},{"name":"ChemicalComposition","in":"query","description":"化學成分","required":false,"type":"string"},{"name":"Vendor","in":"query","description":"廠商名稱","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PesticideDataQueryType"}}},"400":{"description":"無此API"}}}},"/FruitVegetalePestControlType/":{"get":{"summary":"蔬果重要害蟲防疫旬報","description":"蔬果重要害蟲防疫旬報<p><b>DATA</b>:[<br>{<br><b>City</b>(<span style=\"font-color:#6666ff\">string</option>):縣市\n<b>Town</b>(<span style=\"font-color:#6666ff\">string</option>):鄉鎮\n<b>PestName</b>(<span style=\"font-color:#6666ff\">string</option>):害蟲名稱\n<b>Year</b>(<span style=\"font-color:#6666ff\">string</option>):年度\n<b>TenDays</b>(<span style=\"font-color:#6666ff\">string</option>):旬\n<b>Average</b>(<span style=\"font-color:#6666ff\">number</option>):平均\n<b>Proportion_Island</b>(<span style=\"font-color:#6666ff\">number</option>):占全島比重\n<br>}<br>]</p>","operationId":"FruitVegetalePestControlType","tags":["施肥用藥"],"parameters":[{"name":"City","in":"query","description":"縣市","required":false,"type":"string"},{"name":"Town","in":"query","description":"鄉鎮","required":false,"type":"string"},{"name":"PestName","in":"query","description":"害蟲名稱","required":false,"type":"string"},{"name":"Year","in":"query","description":"年度","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FruitVegetalePestControlType"}}},"400":{"description":"無此API"}}}},"/PesticideManualType/":{"get":{"summary":"農藥名稱手冊","description":"農藥名稱手冊<p><b>DATA</b>:[<br>{<br><b>Name</b>(<span style=\"font-color:#6666ff\">string</option>):農藥名稱\n<b>EnName</b>(<span style=\"font-color:#6666ff\">string</option>):農藥英文名稱\n<b>CompositPercentage</b>(<span style=\"font-color:#6666ff\">string</option>):成分含量\n<b>PesticidesForm</b>(<span style=\"font-color:#6666ff\">string</option>):劑型\n<b>CompanyName</b>(<span style=\"font-color:#6666ff\">string</option>):廠商名稱\n<b>ProductName</b>(<span style=\"font-color:#6666ff\">string</option>):中文商品名稱\n<br>}<br>]</p>","operationId":"PesticideManualType","tags":["施肥用藥"],"parameters":[{"name":"Name","in":"query","description":"農藥名稱","required":false,"type":"string"},{"name":"EnName","in":"query","description":"農藥英文名稱","required":false,"type":"string"},{"name":"CompositPercentage","in":"query","description":"成分含量","required":false,"type":"string"},{"name":"PesticidesForm","in":"query","description":"劑型","required":false,"type":"string"},{"name":"CompanyName","in":"query","description":"廠商名稱","required":false,"type":"string"},{"name":"ProductName","in":"query","description":"中文商品名稱","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PesticideManualType"}}},"400":{"description":"無此API"}}}},"/FertilizerIntegrationInfoType/":{"get":{"summary":"肥料管理整合資訊","description":"肥料管理整合資訊<p><b>DATA</b>:[<br>{<br><b>FertilizerID</b>(<span style=\"font-color:#6666ff\">string</option>):登記證字號\n<b>IndustryName</b>(<span style=\"font-color:#6666ff\">string</option>):業者名稱\n<b>BrandName</b>(<span style=\"font-color:#6666ff\">string</option>):廠牌商品名稱\n<b>ItemName</b>(<span style=\"font-color:#6666ff\">string</option>):品目名稱\n<b>ExpiryDate</b>(<span style=\"font-color:#6666ff\">string</option>):有效日期\n<b>SellerAddress</b>(<span style=\"font-color:#6666ff\">string</option>):地址\n<b>SellerPhone</b>(<span style=\"font-color:#6666ff\">string</option>):電話\n<b>Element</b>(<span style=\"font-color:#6666ff\">string</option>):成份\n<b>Page</b>(<span style=\"font-color:#6666ff\">string</option>):頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數\n<br>}<br>]</p>","operationId":"FertilizerIntegrationInfoType","tags":["施肥用藥"],"parameters":[{"name":"FertilizerID","in":"query","description":"登記證字號","default":"0006002","required":false,"type":"string"},{"name":"IndustryName","in":"query","description":"業者名稱","default":"五葉肥料股份有限公司","required":false,"type":"string"},{"name":"BrandName","in":"query","description":"廠牌商品名稱","default":"五葉牌黑肥","required":false,"type":"string"},{"name":"ItemName","in":"query","description":"品目名稱","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FertilizerIntegrationInfoType"}}},"400":{"description":"無此API"}}}},"/ImportantAgriculturalPestDiagnosticsType/":{"get":{"summary":"重要農業害蟲診斷圖鑑","description":"重要農業害蟲診斷圖鑑<p><b>DATA</b>:[<br>{<br><b>ID</b>(<span style=\"font-color:#6666ff\">string</option>):電編編號\n<b>ReceiptDate</b>(<span style=\"font-color:#6666ff\">string</option>):收件日期\n<b>Order_Latina</b>(<span style=\"font-color:#6666ff\">string</option>):拉丁目別\n<b>Order_Ch</b>(<span style=\"font-color:#6666ff\">string</option>):中文目別\n<b>Family_Latina</b>(<span style=\"font-color:#6666ff\">string</option>):拉丁科別\n<b>Family_Ch</b>(<span style=\"font-color:#6666ff\">string</option>):中文科別\n<b>PestName_Ch</b>(<span style=\"font-color:#6666ff\">string</option>):害蟲中文名\n<b>PestName_En</b>(<span style=\"font-color:#6666ff\">string</option>):害蟲英文名\n<b>PestName_Scientific</b>(<span style=\"font-color:#6666ff\">string</option>):害蟲學名\n<b>EatWay</b>(<span style=\"font-color:#6666ff\">string</option>):口器\n<b>City_Ch</b>(<span style=\"font-color:#6666ff\">string</option>):縣市中文名\n<b>City_En</b>(<span style=\"font-color:#6666ff\">string</option>):縣市英文名\n<b>Town_Ch</b>(<span style=\"font-color:#6666ff\">string</option>):鄉鎮中文名\n<b>Town_En</b>(<span style=\"font-color:#6666ff\">string</option>):鄉鎮英文名\n<b>Identifier_Ch</b>(<span style=\"font-color:#6666ff\">string</option>):鑑定者中文名\n<b>Identifier_En</b>(<span style=\"font-color:#6666ff\">string</option>):鑑定者英文名\n<b>Harm_Root</b>(<span style=\"font-color:#6666ff\">string</option>):危害_根\n<b>Harm_Stem</b>(<span style=\"font-color:#6666ff\">string</option>):危害_莖\n<b>Harm_leaf</b>(<span style=\"font-color:#6666ff\">string</option>):危害_葉\n<b>Harm_Flower</b>(<span style=\"font-color:#6666ff\">string</option>):危害_花\n<b>Harm_Fruit</b>(<span style=\"font-color:#6666ff\">string</option>):危害_果\n<b>Harm_Plant</b>(<span style=\"font-color:#6666ff\">string</option>):危害_整株\n<b>Other</b>(<span style=\"font-color:#6666ff\">string</option>):其他\n<b>Crop_Code</b>(<span style=\"font-color:#6666ff\">string</option>):作物代碼\n<b>Crop_Name</b>(<span style=\"font-color:#6666ff\">string</option>):作物名稱\n<b>Crop_ScientificName</b>(<span style=\"font-color:#6666ff\">string</option>):作物學名\n<b>Crop_Alias</b>(<span style=\"font-color:#6666ff\">string</option>):作物別名\n<b>Crop_Family_Latina</b>(<span style=\"font-color:#6666ff\">string</option>):作物拉丁科名\n<b>Crop_Family_Ch</b>(<span style=\"font-color:#6666ff\">string</option>):作物中文科名\n<b>Image</b>(<span style=\"font-color:#6666ff\">string</option>):圖檔\n<br>}<br>]</p>","operationId":"ImportantAgriculturalPestDiagnosticsType","tags":["施肥用藥"],"parameters":[{"name":"Order_Latina","in":"query","description":"拉丁目別","required":false,"type":"string"},{"name":"Order_Ch","in":"query","description":"中文目別","required":false,"type":"string"},{"name":"PestName_Ch","in":"query","description":"害蟲中文名","required":false,"type":"string"},{"name":"PestName_En","in":"query","description":"害蟲英文名","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ImportantAgriculturalPestDiagnosticsType"}}},"400":{"description":"無此API"}}}},"/TreePestInfoType/":{"get":{"summary":"樹木病蟲害資料","description":"樹木病蟲害資料<p><b>DATA</b>:[<br>{<br><b>CaseName</b>(<span style=\"font-color:#6666ff\">string</option>):疫情名稱\n<b>TreeType</b>(<span style=\"font-color:#6666ff\">string</option>):林木種類\n<b>Location</b>(<span style=\"font-color:#6666ff\">string</option>):受害縣市\n<b>Plant_Quantity</b>(<span style=\"font-color:#6666ff\">string</option>):種植數量\n<b>Injury_Place</b>(<span style=\"font-color:#6666ff\">string</option>):受害部位\n<b>Plant_Time</b>(<span style=\"font-color:#6666ff\">string</option>):現地種植時間\n<b>symptom</b>(<span style=\"font-color:#6666ff\">string</option>):受害症狀描述\n<b>Plant_Place</b>(<span style=\"font-color:#6666ff\">string</option>):立地種類\n<b>Plant_Condition</b>(<span style=\"font-color:#6666ff\">string</option>):根基部狀況\n<b>DeliverWay</b>(<span style=\"font-color:#6666ff\">string</option>):送件方式\n<b>DiagnosisMethod</b>(<span style=\"font-color:#6666ff\">string</option>):診斷方式\n<b>Injury_Description</b>(<span style=\"font-color:#6666ff\">string</option>):危害狀況詳細描述\n<b>Injury_Type</b>(<span style=\"font-color:#6666ff\">string</option>):危害種類\n<b>ScientificName</b>(<span style=\"font-color:#6666ff\">string</option>):學名\n<b>Advice</b>(<span style=\"font-color:#6666ff\">string</option>):防治建議\n<br>}<br>]</p>","operationId":"TreePestInfoType","tags":["施肥用藥"],"parameters":[{"name":"CaseName","in":"query","description":"疫情名稱","required":false,"type":"string"},{"name":"TreeType","in":"query","description":"林木種類","required":false,"type":"string"},{"name":"Location","in":"query","description":"受害縣市","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TreePestInfoType"}}},"400":{"description":"無此API"}}}},"/PlantEpidemicType/":{"get":{"summary":"植物疫情","description":"植物疫情<p><b>DATA</b>:[<br>{<br><b>City</b>(<span style=\"font-color:#6666ff\">string</option>):發布縣市\n<b>PlantName</b>(<span style=\"font-color:#6666ff\">string</option>):植物品項\n<b>Body</b>(<span style=\"font-color:#6666ff\">string</option>):疫情內容\n<b>Prescription</b>(<span style=\"font-color:#6666ff\">string</option>):建議用藥\n<b>Issue</b>(<span style=\"font-color:#6666ff\">string</option>):發布單位\n<b>Subject</b>(<span style=\"font-color:#6666ff\">string</option>):主旨\n<b>PubDate</b>(<span style=\"font-color:#6666ff\">string</option>):發佈日期\n<br>}<br>]</p>","operationId":"PlantEpidemicType","tags":["施肥用藥"],"parameters":[{"name":"Year","in":"query","description":"發布日期(年份如:2018)","default":"2017","required":true,"type":"string"},{"name":"Month","in":"query","description":"發布日期(月份)","required":false,"type":"string"},{"name":"City","in":"query","description":"發布縣市","required":false,"type":"string"},{"name":"PlantName","in":"query","description":"植物品項","required":false,"type":"string"},{"name":"Body","in":"query","description":"疫情內容","required":false,"type":"string"},{"name":"Prescription","in":"query","description":"建議用藥","required":false,"type":"string"},{"name":"Issue","in":"query","description":"發布單位","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PlantEpidemicType"}}},"400":{"description":"無此API"}}}},"/PestDiseaseDiagnosisServiceType/":{"get":{"summary":"病蟲害診斷服務問答集","description":"病蟲害診斷服務問答集<p><b>DATA</b>:[<br>{<br><b>Type</b>(<span style=\"font-color:#6666ff\">string</option>):植物分類\n<b>ProductName</b>(<span style=\"font-color:#6666ff\">string</option>):品名\n<b>Image</b>(<span style=\"font-color:#6666ff\">string</option>):圖片Url\n<br>}<br>]</p>","operationId":"PestDiseaseDiagnosisServiceType","tags":["施肥用藥"],"parameters":[{"name":"Type","in":"query","description":"植物分類","required":false,"type":"string"},{"name":"ProductName","in":"query","description":"品名","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PestDiseaseDiagnosisServiceType"}}},"400":{"description":"無此API"}}}},"/TaiwanMeteorologicalStationInformationType/":{"get":{"summary":"台灣地區氣象測站資料","description":"台灣地區氣象測站資料<p><b>DATA</b>:[<br>{<br><b>Station_name</b>(<span style=\"font-color:#6666ff\">string</option>):測站名稱\n<b>Station_ID</b>(<span style=\"font-color:#6666ff\">string</option>):測站編號\n<b>Station_Longitude</b>(<span style=\"font-color:#6666ff\">number</option>):測站位置經度\n<b>CITY</b>(<span style=\"font-color:#6666ff\">string</option>):縣市\n<b>CITY_SN</b>(<span style=\"font-color:#6666ff\">integer</option>):縣市編號\n<b>TOWN</b>(<span style=\"font-color:#6666ff\">string</option>):鄉鎮\n<b>TOWN_SN</b>(<span style=\"font-color:#6666ff\">integer</option>):鄉鎮編號\n<br>}<br>]</p>","operationId":"TaiwanMeteorologicalStationInformationType","tags":["農業氣象"],"parameters":[{"name":"Station_name","in":"query","description":"測站名稱","required":false,"type":"string"},{"name":"Station_ID","in":"query","description":"測站編號","required":false,"type":"string"},{"name":"CITY","in":"query","description":"縣市","required":false,"type":"string"},{"name":"TOWN","in":"query","description":"鄉鎮","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TaiwanMeteorologicalStationInformationType"}}},"400":{"description":"無此API"}}}},"/TaiwanRainfallStationInformationType/":{"get":{"summary":"台灣地區雨量測站資料","description":"台灣地區雨量測站資料<p><b>DATA</b>:[<br>{<br><b>Station_name</b>(<span style=\"font-color:#6666ff\">string</option>):測站名稱\n<b>Station_ID</b>(<span style=\"font-color:#6666ff\">string</option>):測站編號\n<b>Station_Longitude</b>(<span style=\"font-color:#6666ff\">number</option>):測站位置經度\n<b>CITY</b>(<span style=\"font-color:#6666ff\">string</option>):縣市\n<b>CITY_SN</b>(<span style=\"font-color:#6666ff\">integer</option>):縣市編號\n<b>TOWN</b>(<span style=\"font-color:#6666ff\">string</option>):鄉鎮\n<b>TOWN_SN</b>(<span style=\"font-color:#6666ff\">integer</option>):鄉鎮編號\n<br>}<br>]</p>","operationId":"TaiwanRainfallStationInformationType","tags":["農業氣象"],"parameters":[{"name":"Station_name","in":"query","description":"測站名稱","required":false,"type":"string"},{"name":"Station_ID","in":"query","description":"測站編號","required":false,"type":"string"},{"name":"CITY","in":"query","description":"縣市","required":false,"type":"string"},{"name":"TOWN","in":"query","description":"鄉鎮","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TaiwanRainfallStationInformationType"}}},"400":{"description":"無此API"}}}},"/AutoWeatherStationType/":{"get":{"summary":"自動氣象站","description":"自動氣象站<p><b>DATA</b>:[<br>{<br><b>Start_time</b>(<span style=\"font-color:#6666ff\">string</option>):時間(起)\n<b>End_time</b>(<span style=\"font-color:#6666ff\">string</option>):時間(迄)\n<b>Station_name</b>(<span style=\"font-color:#6666ff\">string</option>):測站名稱\n<b>Station_ID</b>(<span style=\"font-color:#6666ff\">string</option>):測站編號\n<b>Station_Latitude</b>(<span style=\"font-color:#6666ff\">number</option>):測站位置緯度(TWD67)\n<b>Station_Longitude</b>(<span style=\"font-color:#6666ff\">number</option>):測站位置經度(TWD67)\n<b>TIME</b>(<span style=\"font-color:#6666ff\">string</option>):資料觀測時間\n<b>ELEV</b>(<span style=\"font-color:#6666ff\">number</option>):高度\n<b>WDIR</b>(<span style=\"font-color:#6666ff\">integer</option>):風向\n<b>WDSD</b>(<span style=\"font-color:#6666ff\">number</option>):風速\n<b>TEMP</b>(<span style=\"font-color:#6666ff\">number</option>):溫度\n<b>HUMD</b>(<span style=\"font-color:#6666ff\">number</option>):相對濕度\n<b>PRES</b>(<span style=\"font-color:#6666ff\">number</option>):測站氣壓\n<b>SUN</b>(<span style=\"font-color:#6666ff\">integer</option>):日照時數\n<b>H_24R</b>(<span style=\"font-color:#6666ff\">number</option>):日累積雨量\n<b>CITY</b>(<span style=\"font-color:#6666ff\">string</option>):縣市\n<b>CITY_SN</b>(<span style=\"font-color:#6666ff\">integer</option>):縣市編號\n<b>TOWN</b>(<span style=\"font-color:#6666ff\">string</option>):鄉鎮\n<b>TOWN_SN</b>(<span style=\"font-color:#6666ff\">integer</option>):鄉鎮編號\n<br>}<br>]</p>","operationId":"AutoWeatherStationType","tags":["農業氣象"],"parameters":[{"name":"Start_time","in":"query","description":"時間(起)","required":false,"type":"string"},{"name":"End_time","in":"query","description":"時間(迄)","required":false,"type":"string"},{"name":"Station_name","in":"query","description":"測站名稱","required":false,"type":"string"},{"name":"Station_ID","in":"query","description":"測站編號","required":false,"type":"string"},{"name":"CITY","in":"query","description":"縣市","required":false,"type":"string"},{"name":"TOWN","in":"query","description":"鄉鎮","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AutoWeatherStationType"}}},"400":{"description":"無此API"}}}},"/AutoRainfallStationType/":{"get":{"summary":"自動雨量站","description":"自動雨量站<p><b>DATA</b>:[<br>{<br><b>Start_time</b>(<span style=\"font-color:#6666ff\">string</option>):時間(起)\n<b>End_time</b>(<span style=\"font-color:#6666ff\">string</option>):時間(迄)\n<b>Station_name</b>(<span style=\"font-color:#6666ff\">string</option>):測站名稱\n<b>Station_ID</b>(<span style=\"font-color:#6666ff\">string</option>):測站編號\n<b>TIME</b>(<span style=\"font-color:#6666ff\">string</option>):觀測資料時間\n<b>LAT</b>(<span style=\"font-color:#6666ff\">number</option>):緯度\n<b>LON</b>(<span style=\"font-color:#6666ff\">number</option>):經度\n<b>ELEV</b>(<span style=\"font-color:#6666ff\">number</option>):高度\n<b>RAIN</b>(<span style=\"font-color:#6666ff\">integer</option>):60分鐘累積雨量\n<b>MIN_10</b>(<span style=\"font-color:#6666ff\">integer</option>):10分鐘累積雨量\n<b>HOUR_3</b>(<span style=\"font-color:#6666ff\">integer</option>):3小時累積雨量\n<b>HOUR_6</b>(<span style=\"font-color:#6666ff\">integer</option>):6小時累積雨量\n<b>HOUR_12</b>(<span style=\"font-color:#6666ff\">integer</option>):12小時累積雨量\n<b>HOUR_24</b>(<span style=\"font-color:#6666ff\">integer</option>):24小時累積雨量\n<b>NOW</b>(<span style=\"font-color:#6666ff\">integer</option>):本日累積雨量\n<b>CITY</b>(<span style=\"font-color:#6666ff\">string</option>):縣市\n<b>CITY_SN</b>(<span style=\"font-color:#6666ff\">integer</option>):縣市編號\n<b>TOWN</b>(<span style=\"font-color:#6666ff\">string</option>):鄉鎮\n<b>TOWN_SN</b>(<span style=\"font-color:#6666ff\">integer</option>):鄉鎮編號\n<b>ATTRIBUTE</b>(<span style=\"font-color:#6666ff\">string</option>):自動站屬性\n<br>}<br>]</p>","operationId":"AutoRainfallStationType","tags":["農業氣象"],"parameters":[{"name":"Start_time","in":"query","description":"時間(起)","required":false,"type":"string"},{"name":"End_time","in":"query","description":"時間(迄)","required":false,"type":"string"},{"name":"Station_name","in":"query","description":"測站名稱","required":false,"type":"string"},{"name":"Station_ID","in":"query","description":"測站編號","required":false,"type":"string"},{"name":"CITY","in":"query","description":"縣市","required":false,"type":"string"},{"name":"TOWN","in":"query","description":"鄉鎮","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AutoRainfallStationType"}}},"400":{"description":"無此API"}}}},"/AgriProductsTransType/":{"get":{"summary":"農產品交易行情","description":"農產品交易行情<p><b>DATA</b>:[<br>{<br><b>Start_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(起)\n<b>End_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(迄)\n<b>CropCode</b>(<span style=\"font-color:#6666ff\">string</option>):農產品代碼\n<b>CropName</b>(<span style=\"font-color:#6666ff\">string</option>):農產品名稱\n<b>MarketName</b>(<span style=\"font-color:#6666ff\">string</option>):市場名稱\n<b>TransDate</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期\n<b>MarketCode</b>(<span style=\"font-color:#6666ff\">string</option>):市場代號\n<b>Upper_Price</b>(<span style=\"font-color:#6666ff\">number</option>):上價(元/公斤)\n<b>Middle_Price</b>(<span style=\"font-color:#6666ff\">number</option>):中價(元/公斤)\n<b>Lower_Price</b>(<span style=\"font-color:#6666ff\">number</option>):下價(元/公斤)\n<b>Avg_Price</b>(<span style=\"font-color:#6666ff\">number</option>):平均價(元/公斤)\n<b>Trans_Quantity</b>(<span style=\"font-color:#6666ff\">number</option>):交易量(公斤)\n<b>Page</b>(<span style=\"font-color:#6666ff\">string</option>):頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數\n<b>TcType</b>(<span style=\"font-color:#6666ff\">string</option>):農產品種類代碼\n<br>}<br>]</p>","operationId":"AgriProductsTransType","tags":["交易行情"],"parameters":[{"name":"Start_time","in":"query","description":"交易日期(起)","default":"107.07.01","required":false,"type":"string"},{"name":"End_time","in":"query","description":"交易日期(迄)","default":"107.07.10","required":false,"type":"string"},{"name":"CropCode","in":"query","description":"農產品代碼","required":false,"type":"string"},{"name":"CropName","in":"query","description":"農產品名稱","required":false,"type":"string"},{"name":"MarketName","in":"query","description":"市場名稱","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"},{"name":"TcType","in":"query","description":"農產品種類代碼","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgriProductsTransType"}}},"400":{"description":"無此API"}}}},"/FisheryProductsTransType/":{"get":{"summary":"漁產品交易行情","description":"漁產品交易行情<p><b>DATA</b>:[<br>{<br><b>SeafoodProdCode</b>(<span style=\"font-color:#6666ff\">string</option>):漁產品之代碼，由業管機關定義。\n<b>SeafoodProdName</b>(<span style=\"font-color:#6666ff\">string</option>):漁產品名稱(含各語系)\n<b>MarketName</b>(<span style=\"font-color:#6666ff\">string</option>):市場之名稱(含各語系)\n<b>TransDate</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期，民國年(ex:107-05-01)\n<b>Upper_Price</b>(<span style=\"font-color:#6666ff\">number</option>):上價(元/公斤)\n<b>Middle_Price</b>(<span style=\"font-color:#6666ff\">number</option>):中價(元/公斤)\n<b>Lower_Price</b>(<span style=\"font-color:#6666ff\">number</option>):下價(元/公斤)\n<b>Trans_Quantity</b>(<span style=\"font-color:#6666ff\">number</option>):交易量(公斤)\n<b>Avg_Price</b>(<span style=\"font-color:#6666ff\">number</option>):平均價(元/公斤)\n<br>}<br>]</p>","operationId":"FisheryProductsTransType","tags":["交易行情"],"parameters":[{"name":"Start_time","in":"query","description":"交易日期(起)","default":"1060622","required":true,"type":"string"},{"name":"End_time","in":"query","description":"交易日期(迄)","default":"1060622","required":true,"type":"string"},{"name":"SeafoodProdCode","in":"query","description":"漁產品之代碼，由業管機關定義。","required":false,"type":"string"},{"name":"SeafoodProdName","in":"query","description":"漁產品名稱(含各語系)","required":false,"type":"string"},{"name":"MarketName","in":"query","description":"市場之名稱(含各語系)","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FisheryProductsTransType"}}},"400":{"description":"無此API"}}}},"/PorkTransType/":{"get":{"summary":"毛豬交易行情","description":"毛豬交易行情<p><b>DATA</b>:[<br>{<br><b>TransDate</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期\n<b>MarketName</b>(<span style=\"font-color:#6666ff\">string</option>):市場名稱\n<b>TransNum_Total</b>(<span style=\"font-color:#6666ff\">integer</option>):成交頭數總數\n<b>TransNum_AvgWgt</b>(<span style=\"font-color:#6666ff\">number</option>):成交頭數平均重量\n<b>TransNum_AvgPrice</b>(<span style=\"font-color:#6666ff\">number</option>):成交頭數平均價格\n<b>SpecPig_Num</b>(<span style=\"font-color:#6666ff\">integer</option>):規格豬_頭數\n<b>SpecPig_AvgWgt</b>(<span style=\"font-color:#6666ff\">number</option>):規格豬_平均重量\n<b>SpecPig_AvgPrice</b>(<span style=\"font-color:#6666ff\">number</option>):規格豬_平均價格\n<b>Num_95in_115in</b>(<span style=\"font-color:#6666ff\">integer</option>):95(含)-115(含)_頭數\n<b>AvgWgt_95in_115in</b>(<span style=\"font-color:#6666ff\">number</option>):95(含)_115(含)-平均重量\n<b>AvgPrice_95in_115in</b>(<span style=\"font-color:#6666ff\">number</option>):95(含)_115(含)_平均價格\n<b>Num_75in_95</b>(<span style=\"font-color:#6666ff\">integer</option>):75(含)_95(不含)_頭數\n<b>AvgWgt_75in_95</b>(<span style=\"font-color:#6666ff\">number</option>):75(含)_95(不含)_平均重量\n<b>AvgPrice_75in_95</b>(<span style=\"font-color:#6666ff\">number</option>):75(含)_95(不含)_平均價格\n<b>Num_115up</b>(<span style=\"font-color:#6666ff\">integer</option>):115(含)_135(不含)_頭數\n<b>AvgWgt_115up</b>(<span style=\"font-color:#6666ff\">number</option>):115(含)_135(不含)_平均重量\n<b>AvgPrice_115up</b>(<span style=\"font-color:#6666ff\">number</option>):115(含)_135(不含)_平均價格\n<b>Num_75low</b>(<span style=\"font-color:#6666ff\">integer</option>):75公斤以下_頭數\n<b>AvgWgt_75low</b>(<span style=\"font-color:#6666ff\">number</option>):75公斤以下_平均重量\n<b>AvgPrice_75low</b>(<span style=\"font-color:#6666ff\">number</option>):75公斤以下_平均價格\n<b>OutPigs_Num</b>(<span style=\"font-color:#6666ff\">integer</option>):淘汰種豬_頭數\n<b>OutPigs_AvgWgt</b>(<span style=\"font-color:#6666ff\">number</option>):淘汰種豬_平均重量\n<b>OutPigs_AvgPrice</b>(<span style=\"font-color:#6666ff\">number</option>):淘汰種豬_平均價格\n<b>OtherPigs_Num</b>(<span style=\"font-color:#6666ff\">integer</option>):其他豬_頭數\n<b>OtherPigs_AvgWgt</b>(<span style=\"font-color:#6666ff\">number</option>):其他豬_平均重量\n<b>OtherPigs_AvgPrice</b>(<span style=\"font-color:#6666ff\">number</option>):其他豬_平均價格\n<b>FreezerPigs_Num</b>(<span style=\"font-color:#6666ff\">integer</option>):冷凍廠_頭數\n<b>FreezerPigs_AvgWgt</b>(<span style=\"font-color:#6666ff\">number</option>):冷凍廠_平均重量\n<b>FreezerPigs_AvgPrice</b>(<span style=\"font-color:#6666ff\">number</option>):冷凍廠_平均價格\n<b>TotalTrans_ExcludeFreezer_Num</b>(<span style=\"font-color:#6666ff\">integer</option>):成交總數(不含冷凍廠)_頭數\n<b>TotalTrans_ExcludeFreezer_AvgWeight</b>(<span style=\"font-color:#6666ff\">number</option>):成交總數(不含冷凍廠)_平均重量\n<b>TotalTrans_ExcludeFreezer_AvgPrice</b>(<span style=\"font-color:#6666ff\">number</option>):成交總數(不含冷凍廠)_平均價格\n<b>Page</b>(<span style=\"font-color:#6666ff\">string</option>):頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數\n<b>KgPig5_Q</b>(<span style=\"font-color:#6666ff\">integer</option>):135(含)_155(不含)_頭數\n<b>KgPig5_W</b>(<span style=\"font-color:#6666ff\">number</option>):135(含)_155(不含)_平均重量\n<b>KgPig5_P</b>(<span style=\"font-color:#6666ff\">number</option>):135(含)_155(不含)_平均價格\n<b>KgPig6_Q</b>(<span style=\"font-color:#6666ff\">integer</option>):155公斤以上_頭數\n<b>KgPig6_W</b>(<span style=\"font-color:#6666ff\">number</option>):155公斤以上_平均重量\n<b>KgPig6_P</b>(<span style=\"font-color:#6666ff\">number</option>):155公斤以上_平均價格\n<br>}<br>]</p>","operationId":"PorkTransType","tags":["交易行情"],"parameters":[{"name":"TransDate","in":"query","description":"交易日期","default":"1070625","required":false,"type":"string"},{"name":"MarketName","in":"query","description":"市場名稱","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PorkTransType"}}},"400":{"description":"無此API"}}}},"/PoultryTransType_BoiledChicken_Eggs/":{"get":{"summary":"家禽交易行情(白肉雞/雞蛋)","description":"家禽交易行情(白肉雞/雞蛋)<p><b>DATA</b>:[<br>{<br><b>Start_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(起)\n<b>End_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(迄)\n<b>TransDate</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期\n<b>LunarCalendar</b>(<span style=\"font-color:#6666ff\">string</option>):農曆\n<b>TaijinPrice_2.0kgup</b>(<span style=\"font-color:#6666ff\">string</option>):白肉雞2.0Kg以上(元/台斤)\n<b>TaijinPrice_1.75kg_1.95kg</b>(<span style=\"font-color:#6666ff\">string</option>):白肉雞1.75-1.95Kg(元/台斤)\n<b>Store_KP_TaijinPrice</b>(<span style=\"font-color:#6666ff\">string</option>):白肉雞門市價高屏(元/台斤)\n<b>egg_Price</b>(<span style=\"font-color:#6666ff\">string</option>):雞蛋_大運輸價(元/台斤)\n<b>egg_Producer_Price</b>(<span style=\"font-color:#6666ff\">string</option>):雞蛋_產地價(元/台斤)\n<b>Page</b>(<span style=\"font-color:#6666ff\">string</option>):頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數\n<br>}<br>]</p>","operationId":"PoultryTransType_BoiledChicken_Eggs","tags":["交易行情"],"parameters":[{"name":"Start_time","in":"query","description":"交易日期(起)","default":"2018/01/01","required":false,"type":"string"},{"name":"End_time","in":"query","description":"交易日期(迄)","default":"2018/06/30","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PoultryTransType_BoiledChicken_Eggs"}}},"400":{"description":"無此API"}}}},"/PoultryTransType_Goose_Duck_Duckegg/":{"get":{"summary":"家禽交易行情(肉鵝/番鴨/鴨蛋)","description":"家禽交易行情(肉鵝/番鴨/鴨蛋)<p><b>DATA</b>:[<br>{<br><b>Start_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(起)\n<b>End_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(迄)\n<b>TransDate</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期\n<b>LunarCalendar</b>(<span style=\"font-color:#6666ff\">string</option>):農曆\n<b>Goose_WR_TaijinPrice</b>(<span style=\"font-color:#6666ff\">string</option>):肉鵝_白羅曼(元/台斤)\n<b>Duck_M_TaijinPrice</b>(<span style=\"font-color:#6666ff\">string</option>):正番鴨_公(元/台斤)\n<b>Duck_75D_TaijinPrice</b>(<span style=\"font-color:#6666ff\">string</option>):土番鴨_75天(元/台斤)\n<b>Duckegg_TNN_TaijinPrice</b>(<span style=\"font-color:#6666ff\">string</option>):鴨蛋_新蛋_台南(元/台斤)\n<b>Page</b>(<span style=\"font-color:#6666ff\">string</option>):頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數\n<br>}<br>]</p>","operationId":"PoultryTransType_Goose_Duck_Duckegg","tags":["交易行情"],"parameters":[{"name":"Start_time","in":"query","description":"交易日期(起)","default":"2018/01/01","required":false,"type":"string"},{"name":"End_time","in":"query","description":"交易日期(迄)","default":"2018/06/30","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PoultryTransType_Goose_Duck_Duckegg"}}},"400":{"description":"無此API"}}}},"/PoultryTransType_Goose_Day/":{"get":{"summary":"家禽交易行情(養鵝協會當日行情)","description":"家禽交易行情(養鵝協會當日行情)<p><b>DATA</b>:[<br>{<br><b>Start_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(起)\n<b>End_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(迄)\n<b>TransDate</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期\n<b>GoosePrices_TaijinPrice</b>(<span style=\"font-color:#6666ff\">integer</option>):肉鵝(上鵝)價格_土鵝(元/台斤)\n<b>Goose_S_Prices</b>(<span style=\"font-color:#6666ff\">integer</option>):小鵝產地價格(隻)_土鵝(元/隻)\n<b>Goose_WR_TaijinPrice</b>(<span style=\"font-color:#6666ff\">integer</option>):肉鵝(上鵝)價格_白羅曼鵝(元/台斤)\n<b>Goose_SWR_Prices</b>(<span style=\"font-color:#6666ff\">integer</option>):小鵝產地價格(隻)_白羅曼鵝(元/隻)\n<b>Page</b>(<span style=\"font-color:#6666ff\">string</option>):頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數\n<br>}<br>]</p>","operationId":"PoultryTransType_Goose_Day","tags":["交易行情"],"parameters":[{"name":"Start_time","in":"query","description":"交易日期(起)","default":"2018/01/01","required":false,"type":"string"},{"name":"End_time","in":"query","description":"交易日期(迄)","default":"2018/06/30","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PoultryTransType_Goose_Day"}}},"400":{"description":"無此API"}}}},"/PoultryTransType_Goose_Price/":{"get":{"summary":"家禽交易行情(養鵝協會近期鵝價)","description":"家禽交易行情(養鵝協會近期鵝價)<p><b>DATA</b>:[<br>{<br><b>Start_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(起)\n<b>End_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(迄)\n<b>TransDate</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期\n<b>Inc_Num</b>(<span style=\"font-color:#6666ff\">integer</option>):入孵數量\n<b>hatch_Num</b>(<span style=\"font-color:#6666ff\">integer</option>):出雛數量\n<b>Goslings_Price</b>(<span style=\"font-color:#6666ff\">integer</option>):雛鵝參考價格(元/隻)\n<b>Goose_Avg_TaijinPrice</b>(<span style=\"font-color:#6666ff\">number</option>):肉鵝平均價格(元/台斤)\n<b>Page</b>(<span style=\"font-color:#6666ff\">string</option>):頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數\n<br>}<br>]</p>","operationId":"PoultryTransType_Goose_Price","tags":["交易行情"],"parameters":[{"name":"Start_time","in":"query","description":"交易日期(起)","default":"2018/01/01","required":false,"type":"string"},{"name":"End_time","in":"query","description":"交易日期(迄)","default":"2018/06/30","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PoultryTransType_Goose_Price"}}},"400":{"description":"無此API"}}}},"/PoultryTransType_RedFeather/":{"get":{"summary":"家禽交易行情(紅羽土雞)","description":"家禽交易行情(紅羽土雞)<p><b>DATA</b>:[<br>{<br><b>RedFeather_C_M</b>(<span style=\"font-color:#6666ff\">string</option>):紅羽土雞中區(公)\n<b>RedFeather_C_F</b>(<span style=\"font-color:#6666ff\">string</option>):紅羽土雞中區(母)\n<b>RedFeather_N_F</b>(<span style=\"font-color:#6666ff\">string</option>):紅羽土雞北區(母)\n<b>RedFeather_N_M</b>(<span style=\"font-color:#6666ff\">string</option>):紅羽土雞北區(公)\n<b>RedFeather_S_F</b>(<span style=\"font-color:#6666ff\">string</option>):紅羽土雞南雞(母)\n<b>LunarCalendar</b>(<span style=\"font-color:#6666ff\">string</option>):農曆\n<b>Page</b>(<span style=\"font-color:#6666ff\">string</option>):頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數\n<b>RedFeather_S_M</b>(<span style=\"font-color:#6666ff\">string</option>):紅羽土雞南雞(公)\n<b>Start_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(起)\n<b>TransDate</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期\n<b>End_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(迄)\n<br>}<br>]</p>","operationId":"PoultryTransType_RedFeather","tags":["交易行情"],"parameters":[{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"},{"name":"Start_time","in":"query","description":"交易日期(起)","default":"2018/01/01","required":false,"type":"string"},{"name":"End_time","in":"query","description":"交易日期(迄)","default":"2018/06/30","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PoultryTransType_RedFeather"}}},"400":{"description":"無此API"}}}},"/PoultryTransType_BlackFeather/":{"get":{"summary":"家禽交易行情(黑羽土雞)","description":"家禽交易行情(黑羽土雞)<p><b>DATA</b>:[<br>{<br><b>Start_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(起)\n<b>End_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(迄)\n<b>TransDate</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期\n<b>LunarCalendar</b>(<span style=\"font-color:#6666ff\">string</option>):農曆\n<b>BlackFeather_S_M</b>(<span style=\"font-color:#6666ff\">string</option>):黑羽土雞舍飼(南區)公\n<b>BlackFeather_S_F</b>(<span style=\"font-color:#6666ff\">string</option>):黑羽土雞舍飼(南區)母\n<b>Page</b>(<span style=\"font-color:#6666ff\">string</option>):頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數\n<br>}<br>]</p>","operationId":"PoultryTransType_BlackFeather","tags":["交易行情"],"parameters":[{"name":"Start_time","in":"query","description":"交易日期(起)","default":"2018/01/01","required":false,"type":"string"},{"name":"End_time","in":"query","description":"交易日期(迄)","default":"2018/06/30","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PoultryTransType_BlackFeather"}}},"400":{"description":"無此API"}}}},"/SheepQuotation/":{"get":{"summary":"市場羊隻日行情資料","description":"市場羊隻日行情資料<p><b>DATA</b>:[<br>{<br><b>Log_Owner</b>(<span style=\"font-color:#6666ff\">string</option>):最後修改人\n<b>Start_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(起)\n<b>End_time</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期(迄)\n<b>marketID</b>(<span style=\"font-color:#6666ff\">string</option>):市場代碼\n<b>shortName</b>(<span style=\"font-color:#6666ff\">string</option>):市場簡稱\n<b>name</b>(<span style=\"font-color:#6666ff\">string</option>):市場名稱\n<b>productID</b>(<span style=\"font-color:#6666ff\">string</option>):產品代碼\n<b>productName</b>(<span style=\"font-color:#6666ff\">string</option>):產品名稱\n<b>transDate</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期\n<b>productTypeName</b>(<span style=\"font-color:#6666ff\">string</option>):產品類型\n<b>quantity</b>(<span style=\"font-color:#6666ff\">string</option>):數量\n<b>avgWeight</b>(<span style=\"font-color:#6666ff\">string</option>):平均重\n<b>avgPrice</b>(<span style=\"font-color:#6666ff\">string</option>):平均價\n<b>highestPrice</b>(<span style=\"font-color:#6666ff\">string</option>):最高價格\n<b>Record_ID</b>(<span style=\"font-color:#6666ff\">string</option>):Record_ID\n<b>Log_UpdateTime</b>(<span style=\"font-color:#6666ff\">string</option>):最後修改時間\n<br>}<br>]</p>","operationId":"SheepQuotation","tags":["交易行情"],"parameters":[{"name":"Start_time","in":"query","description":"交易日期(起)","default":"2005/01/01","required":true,"type":"string"},{"name":"End_time","in":"query","description":"交易日期(迄)","default":"2022/09/15","required":true,"type":"string"},{"name":"marketID","in":"query","description":"市場代碼","required":false,"type":"string"},{"name":"shortName","in":"query","description":"市場簡稱","required":false,"type":"string"},{"name":"name","in":"query","description":"市場名稱","required":false,"type":"string"},{"name":"productID","in":"query","description":"產品代碼","required":false,"type":"string"},{"name":"productName","in":"query","description":"產品名稱","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制","required":false,"type":"string"},{"name":"api_key","in":"query","description":"請登入帳號並輸入api_key","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SheepQuotation"}}},"400":{"description":"無此API"}}}},"/SheepTransType_MarketInfo/":{"get":{"summary":"市場羊隻日市況資料","description":"市場羊隻日市況資料<p><b>DATA</b>:[<br>{<br><b>TransDate</b>(<span style=\"font-color:#6666ff\">string</option>):交易日期\n<b>MarketCode</b>(<span style=\"font-color:#6666ff\">string</option>):市場代碼\n<b>ShortName</b>(<span style=\"font-color:#6666ff\">string</option>):市場簡稱_縣市\n<b>MarketName</b>(<span style=\"font-color:#6666ff\">string</option>):市場名稱\n<b>NextTransDate</b>(<span style=\"font-color:#6666ff\">string</option>):下次交易日期\n<b>in_Quantity</b>(<span style=\"font-color:#6666ff\">integer</option>):本日進場頭數\n<b>NextIn_Quantity</b>(<span style=\"font-color:#6666ff\">integer</option>):下次拍賣預估頭數\n<b>Kill_Quantity</b>(<span style=\"font-color:#6666ff\">integer</option>):屠宰頭數\n<br>}<br>]</p>","operationId":"SheepTransType_MarketInfo","tags":["交易行情"],"parameters":[{"name":"TransDate","in":"query","description":"交易日期","default":"2015/10/08","required":false,"type":"string"},{"name":"MarketCode","in":"query","description":"市場代碼","required":false,"type":"string"},{"name":"ShortName","in":"query","description":"市場簡稱_縣市","required":false,"type":"string"},{"name":"MarketName","in":"query","description":"市場名稱","required":false,"type":"string"},{"name":"NextTransDate","in":"query","description":"下次交易日期","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SheepTransType_MarketInfo"}}},"400":{"description":"無此API"}}}},"/TransLivestockProdType/":{"get":{"summary":"畜產品交易資料型別","description":"畜產品交易資料型別<p><b>DATA</b>:[<br>{<br><b>LivestockProdCode</b>(<span style=\"font-color:#6666ff\">string</option>):畜產品代碼\n<b>LivestockProdType</b>(<span style=\"font-color:#6666ff\">string</option>):畜產品種類\n<br>}<br>]</p>","operationId":"TransLivestockProdType","tags":["交易行情"],"parameters":[{"name":"LivestockProdType","in":"query","description":"畜產品種類","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TransLivestockProdType"}}},"400":{"description":"無此API"}}}},"/CropType/":{"get":{"summary":"農產品資料型別","description":"農產品資料型別<p><b>DATA</b>:[<br>{<br><b>CropName</b>(<span style=\"font-color:#6666ff\">string</option>):農產品名稱\n<b>CropCode</b>(<span style=\"font-color:#6666ff\">string</option>):農產品代碼\n<br>}<br>]</p>","operationId":"CropType","tags":["交易行情"],"parameters":[{"name":"CropName","in":"query","description":"農產品名稱","required":false,"type":"string"},{"name":"CropCode","in":"query","description":"農產品代碼","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CropType"}}},"400":{"description":"無此API"}}}},"/CropMarketType/":{"get":{"summary":"農產市場資料型別","description":"農產市場資料型別<p><b>DATA</b>:[<br>{<br><b>CropMarketName</b>(<span style=\"font-color:#6666ff\">string</option>):市場名稱\n<b>CropMarketCode</b>(<span style=\"font-color:#6666ff\">string</option>):市場代號\n<br>}<br>]</p>","operationId":"CropMarketType","tags":["交易行情"],"parameters":[{"name":"CropMarketName","in":"query","description":"市場名稱","required":false,"type":"string"},{"name":"CropMarketCode","in":"query","description":"市場代號","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"},{"name":"CropMarketType","in":"query","description":"市場類型資料(Veg、Fruit、Flower、ComVegFruit、ComFlower)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CropMarketType"}}},"400":{"description":"無此API"}}}},"/SeafoodProdMarketType/":{"get":{"summary":"漁市場資料型別","description":"漁市場資料型別<p><b>DATA</b>:[<br>{<br><b>SeafoodMarketName</b>(<span style=\"font-color:#6666ff\">string</option>):漁市場名稱\n<b>SeafoodMarketCode</b>(<span style=\"font-color:#6666ff\">string</option>):漁市場代碼\n<br>}<br>]</p>","operationId":"SeafoodProdMarketType","tags":["交易行情"],"parameters":[{"name":"SeafoodMarketName","in":"query","description":"漁市場名稱","required":false,"type":"string"},{"name":"SeafoodMarketCode","in":"query","description":"漁市場代碼","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SeafoodProdMarketType"}}},"400":{"description":"無此API"}}}},"/SeafoodProdType/":{"get":{"summary":"漁產品交易資料型別","description":"漁產品交易資料型別<p><b>DATA</b>:[<br>{<br><b>SeafoodProdName</b>(<span style=\"font-color:#6666ff\">string</option>):漁產品名稱\n<b>SeafoodProdCode</b>(<span style=\"font-color:#6666ff\">string</option>):漁產品代碼\n<br>}<br>]</p>","operationId":"TransSeafoodProdType","tags":["交易行情"],"parameters":[{"name":"SeafoodProdName","in":"query","description":"漁產品名稱","required":false,"type":"string"},{"name":"SeafoodProdCode","in":"query","description":"漁產品代碼","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TransSeafoodProdType"}}},"400":{"description":"無此API"}}}},"/FoodBusinessData/":{"get":{"summary":"糧商資訊系統","description":"糧商資訊系統<p><b>DATA</b>:[<br>{<br><b>bb_newid</b>(<span style=\"font-color:#6666ff\">string</option>):糧商登記證證號\n<b>bb_name</b>(<span style=\"font-color:#6666ff\">string</option>):公司或商號名稱\n<b>bb_address</b>(<span style=\"font-color:#6666ff\">string</option>):營業地址\n<b>bb_telno</b>(<span style=\"font-color:#6666ff\">string</option>):糧商電話號碼\n<b>business_category</b>(<span style=\"font-color:#6666ff\">string</option>):經營業務種類\n<b>food_category</b>(<span style=\"font-color:#6666ff\">string</option>):經營糧食種類\n<br>}<br>]</p>","operationId":"FoodBusinessData","tags":["交易行情"],"parameters":[{"name":"bb_newid","in":"query","description":"糧商登記證證號","required":false,"type":"string"},{"name":"bb_name","in":"query","description":"公司或商號名稱","required":false,"type":"string"},{"name":"bb_address","in":"query","description":"營業地址","required":false,"type":"string"},{"name":"bb_telno","in":"query","description":"糧商電話號碼","required":false,"type":"string"},{"name":"business_category","in":"query","description":"經營業務種類","required":false,"type":"string"},{"name":"food_category","in":"query","description":"經營糧食種類","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","default":"1","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FoodBusinessData"}}},"400":{"description":"無此API"}}}},"/MarketRestDayFarmWCF/":{"get":{"summary":"果菜及花卉市場休市","description":"果菜及花卉市場休市<p><b>DATA</b>:[<br>{<br><b>MarketNo</b>(<span style=\"font-color:#6666ff\">string</option>):市場名稱\n<br>}<br>]</p>原名：農市休市","operationId":"ID","tags":["交易行情"],"parameters":[],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ID"}}},"400":{"description":"無此API"}}}},"/MarketRestDayFishWCF/":{"get":{"summary":"漁市休市","description":"漁市休市<p><b>DATA</b>:[<br>{<br><span style='font-color:#6666ff\\'> MarketID(string): 市場代號 </span><br>\r\n                                     <span style='font-color:#6666ff\\'> MarketName(string): 市場名稱 </span><br> \r\n                                     <span style='font-color:#6666ff\\'> MarketTypeList:[  </span><br>\r\n                                     <span style='font-color:#6666ff\\'> &nbsp;   { </span><br>\r\n                                     <span style='font-color:#6666ff\\'> &nbsp;&nbsp;&nbsp;  marketType:(string) :市場類型 </span><br>\r\n                                     <span style='font-color:#6666ff\\'> &nbsp;&nbsp;&nbsp;  YearList:[ </span><br>\r\n                                     <span style='font-color:#6666ff\\'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  { </span><br>\r\n                                     <span style='font-color:#6666ff\\'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  MonthList : [ </span><br>\r\n                                     <span style='font-color:#6666ff\\'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  { </span><br>\r\n                                     <span style='font-color:#6666ff\\'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Month(int):月份 </span><br> \r\n                                     <span style='font-color:#6666ff\\'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Rest(string): 休市日期 </span><br>\r\n                                     <span style='font-color:#6666ff\\'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   } </span><br>\r\n                                     <span style='font-color:#6666ff\\'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   ] </span><br>\r\n                                     <span style='font-color:#6666ff\\'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; } </span><br>\r\n                                     <span style='font-color:#6666ff\\'> &nbsp;&nbsp;&nbsp; ] </span><br>\r\n                                     <span style='font-color:#6666ff\\'> &nbsp; } </span><br>\r\n                                     <span style='font-color:#6666ff\\'> ] </span><br>}<br>]</p>","operationId":"ID","tags":["交易行情"],"parameters":[],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ID"}}},"400":{"description":"無此API"}}}},"/TraceabilityType/":{"get":{"summary":"產銷履歷","description":"產銷履歷<p><b>DATA</b>:[<br>{<br><b>Tracecode</b>(<span style=\"font-color:#6666ff\">string</option>):追蹤碼\n<b>FarmerName</b>(<span style=\"font-color:#6666ff\">string</option>):生產者名稱\n<b>ProductName</b>(<span style=\"font-color:#6666ff\">string</option>):產品名稱\n<b>OrgID</b>(<span style=\"font-color:#6666ff\">string</option>):組織代碼\n<b>Producer</b>(<span style=\"font-color:#6666ff\">string</option>):農業經營業者\n<b>Place</b>(<span style=\"font-color:#6666ff\">string</option>):產地\n<b>PackDate</b>(<span style=\"font-color:#6666ff\">string</option>):包裝日期\n<b>CertificationName</b>(<span style=\"font-color:#6666ff\">string</option>):驗證機構\n<b>ValidDate</b>(<span style=\"font-color:#6666ff\">string</option>):驗證有效日期\n<b>StoreInfo</b>(<span style=\"font-color:#6666ff\">string</option>):通路商資訊\n<b>LandSecNO</b>(<span style=\"font-color:#6666ff\">string</option>):農產品產地地段地號\n<b>ParentTraceCode</b>(<span style=\"font-color:#6666ff\">string</option>):原料追溯碼網址\n<b>TraceCodelist</b>(<span style=\"font-color:#6666ff\">string</option>):一籤一碼追溯碼\n<b>Log_UpdateTime</b>(<span style=\"font-color:#6666ff\">string</option>):資料更新時間\n<b>OperationDetail</b>(<span style=\"font-color:#6666ff\">string</option>):詳細栽種流程\n<b>ResumeDetail</b>(<span style=\"font-color:#6666ff\">string</option>):詳細履歷資料\n<b>ProcessDetail</b>(<span style=\"font-color:#6666ff\">string</option>):詳細加工流程\n<b>CertificateDetail</b>(<span style=\"font-color:#6666ff\">string</option>):其他驗證資訊\n<br>}<br>]</p>","operationId":"TraceabilityType","tags":["生產追溯"],"parameters":[{"name":"Tracecode","in":"query","description":"追蹤碼","required":false,"type":"string"},{"name":"FarmerName","in":"query","description":"生產者名稱","required":false,"type":"string"},{"name":"ProductName","in":"query","description":"產品名稱","required":false,"type":"string"},{"name":"TraceCodelist","in":"query","description":"一籤一碼追溯碼","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"},{"name":"TraceCodelistCache","in":"query","description":"一籤一碼追溯碼(快取)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TraceabilityType"}}},"400":{"description":"無此API"}}}},"/AgriProductsTraceabilityType/":{"get":{"summary":"農產品生產追溯資料型別","description":"農產品生產追溯資料型別<p><b>DATA</b>:[<br>{<br><b>TraceCode</b>(<span style=\"font-color:#6666ff\">string</option>):追溯編號\n<b>Producer</b>(<span style=\"font-color:#6666ff\">string</option>):生產者\n<b>Products</b>(<span style=\"font-color:#6666ff\">string</option>):產品資訊\n<b>Address</b>(<span style=\"font-color:#6666ff\">string</option>):聯絡地址\n<b>Mark</b>(<span style=\"font-color:#6666ff\">string</option>):驗證標章\n<b>Url</b>(<span style=\"font-color:#6666ff\">string</option>):網址\n<b>Description</b>(<span style=\"font-color:#6666ff\">string</option>):簡介\n<b>Status</b>(<span style=\"font-color:#6666ff\">string</option>):使用狀態\n<b>ModifyDate</b>(<span style=\"font-color:#6666ff\">string</option>):異動日期,格式提供YYYY-MM-dd\n<br>}<br>]</p>","operationId":"AgriProductsTraceabilityType","tags":["生產追溯"],"parameters":[{"name":"TraceCode","in":"query","description":"追溯編號","required":false,"type":"string"},{"name":"Product","in":"query","description":"產品名稱","required":false,"type":"string"},{"name":"Place","in":"query","description":"生產地","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgriProductsTraceabilityType"}}},"400":{"description":"無此API"}}}},"/TWAgriProductsTraceabilityType_ProducerInfo/":{"get":{"summary":"溯源農糧產品追溯系統-生產者資訊","description":"溯源農糧產品追溯系統-生產者資訊<p><b>DATA</b>:[<br>{<br><b>TraceCode</b>(<span style=\"font-color:#6666ff\">string</option>):追溯編號\n<b>Producer</b>(<span style=\"font-color:#6666ff\">string</option>):生產者\n<b>Address</b>(<span style=\"font-color:#6666ff\">string</option>):聯絡地址\n<b>Mark</b>(<span style=\"font-color:#6666ff\">string</option>):驗證標章\n<b>Url</b>(<span style=\"font-color:#6666ff\">string</option>):網址\n<b>Description</b>(<span style=\"font-color:#6666ff\">string</option>):簡介\n<b>Status</b>(<span style=\"font-color:#6666ff\">string</option>):使用狀態\n<b>ModifyDate</b>(<span style=\"font-color:#6666ff\">string</option>):異動日期,格式提供YYYY-MM-dd\n<b>Page</b>(<span style=\"font-color:#6666ff\">string</option>):頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數\n<br>}<br>]</p>","operationId":"TWAgriProductsTraceabilityType_ProducerInfo","tags":["生產追溯"],"parameters":[{"name":"TraceCode","in":"query","description":"追溯編號","required":false,"type":"string"},{"name":"Producer","in":"query","description":"生產者","required":false,"type":"string"},{"name":"Address","in":"query","description":"聯絡地址","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TWAgriProductsTraceabilityType_ProducerInfo"}}},"400":{"description":"無此API"}}}},"/TWAgriProductsTraceabilityType_ProductInfo/":{"get":{"summary":"溯源農糧產品追溯系統-產品資訊","description":"溯源農糧產品追溯系統-產品資訊<p><b>DATA</b>:[<br>{<br><b>TraceCode</b>(<span style=\"font-color:#6666ff\">string</option>):追溯編號\n<b>Product</b>(<span style=\"font-color:#6666ff\">string</option>):產品名稱\n<b>Place</b>(<span style=\"font-color:#6666ff\">string</option>):生產地\n<b>Mark</b>(<span style=\"font-color:#6666ff\">string</option>):驗證標章\n<br>}<br>]</p>","operationId":"TWAgriProductsTraceabilityType_ProductInfo","tags":["生產追溯"],"parameters":[{"name":"TraceCode","in":"query","description":"追溯編號","required":false,"type":"string"},{"name":"Product","in":"query","description":"產品名稱","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TWAgriProductsTraceabilityType_ProductInfo"}}},"400":{"description":"無此API"}}}},"/WashedEggsTraceabilityType/":{"get":{"summary":"洗選蛋溯源","description":"洗選蛋溯源<p><b>DATA</b>:[<br>{<br><b>Traceno_Start</b>(<span style=\"font-color:#6666ff\">string</option>):溯源編號-起\n<b>Traceno_End</b>(<span style=\"font-color:#6666ff\">string</option>):溯源編號-迄\n<b>Sel_Name</b>(<span style=\"font-color:#6666ff\">string</option>):通路商名稱\n<b>Egg_Name1</b>(<span style=\"font-color:#6666ff\">string</option>):蛋農名稱\n<b>Far_Town_Name1</b>(<span style=\"font-color:#6666ff\">string</option>):所在地\n<b>Sel_No</b>(<span style=\"font-color:#6666ff\">string</option>):統一編號\n<b>Sel_Boss</b>(<span style=\"font-color:#6666ff\">string</option>):通路負責人\n<b>Sel_Addr</b>(<span style=\"font-color:#6666ff\">string</option>):所在地\n<b>Egg_Boss1</b>(<span style=\"font-color:#6666ff\">string</option>):負責人\n<b>Egg_Boss2</b>(<span style=\"font-color:#6666ff\">string</option>):負責人2\n<b>Egg_Name2</b>(<span style=\"font-color:#6666ff\">string</option>):蛋農名稱2\n<b>Far_Town_Name2</b>(<span style=\"font-color:#6666ff\">string</option>):所在地2\n<b>Egg_Boss3</b>(<span style=\"font-color:#6666ff\">string</option>):負責人3\n<b>Egg_Name3</b>(<span style=\"font-color:#6666ff\">string</option>):蛋農名稱3\n<b>Far_Town_Name3</b>(<span style=\"font-color:#6666ff\">string</option>):所在地3\n<b>Sel_Package</b>(<span style=\"font-color:#6666ff\">string</option>):包裝方式\n<br>}<br>]</p>","operationId":"WashedEggsTraceabilityType","tags":["生產追溯"],"parameters":[{"name":"Traceno_Start","in":"query","description":"溯源編號-起","required":false,"type":"string"},{"name":"Traceno_End","in":"query","description":"溯源編號-迄","required":false,"type":"string"},{"name":"Sel_Name","in":"query","description":"通路商名稱","required":false,"type":"string"},{"name":"Sel_No","in":"query","description":"統一編號","required":false,"type":"string"},{"name":"Sel_Boss","in":"query","description":"通路負責人","required":false,"type":"string"},{"name":"Sel_Addr","in":"query","description":"所在地","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"},{"name":"api_key","in":"query","description":"請登入帳號並輸入api_key","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WashedEggsTraceabilityType"}}},"400":{"description":"無此API"}}}},"/DomesticBeefTraceabilitySystemType/":{"get":{"summary":"國產牛肉追溯資訊系統","description":"國產牛肉追溯資訊系統<p><b>DATA</b>:[<br>{<br><b>CDate</b>(<span style=\"font-color:#6666ff\">string</option>):更新日期\n<b>CowTracecode</b>(<span style=\"font-color:#6666ff\">string</option>):牛隻追溯號碼\n<b>FarmAdd</b>(<span style=\"font-color:#6666ff\">string</option>):畜牧場場址\n<b>FarmID</b>(<span style=\"font-color:#6666ff\">string</option>):畜牧場登記證號\n<b>FarmName</b>(<span style=\"font-color:#6666ff\">string</option>):畜牧場名稱\n<b>FarmPrincipal</b>(<span style=\"font-color:#6666ff\">string</option>):畜牧場負責人\n<b>ownerCity</b>(<span style=\"font-color:#6666ff\">string</option>):生產者縣市\n<b>ownerTel</b>(<span style=\"font-color:#6666ff\">string</option>):生產者電話\n<b>ownerTown</b>(<span style=\"font-color:#6666ff\">string</option>):生產者鄉鎮\n<b>SlaughterAdd</b>(<span style=\"font-color:#6666ff\">string</option>):屠宰場場址\n<b>SlaughterDate</b>(<span style=\"font-color:#6666ff\">string</option>):屠宰日期\n<b>SlaughterID</b>(<span style=\"font-color:#6666ff\">string</option>):屠宰場登記證\n<b>SlaughterName</b>(<span style=\"font-color:#6666ff\">string</option>):屠宰場\n<b>SlaughterPrincipal</b>(<span style=\"font-color:#6666ff\">string</option>):屠宰場負責人\n<br>}<br>]</p>","operationId":"DomesticBeefTraceabilitySystemType","tags":["生產追溯"],"parameters":[{"name":"CowTracecode","in":"query","description":"牛隻追溯號碼","required":false,"type":"string"},{"name":"FarmID","in":"query","description":"畜牧場登記證號","required":false,"type":"string"},{"name":"FarmName","in":"query","description":"畜牧場名稱","required":false,"type":"string"},{"name":"ownerCity","in":"query","description":"生產者縣市","required":false,"type":"string"},{"name":"ownerTel","in":"query","description":"生產者電話","required":false,"type":"string"},{"name":"ownerTown","in":"query","description":"生產者鄉鎮","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"},{"name":"SlaughterDate","in":"query","description":"屠宰日期","required":true,"type":"string"},{"name":"SlaughterID","in":"query","description":"屠宰場登記證","required":false,"type":"string"},{"name":"SlaughterName","in":"query","description":"屠宰場","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DomesticBeefTraceabilitySystemType"}}},"400":{"description":"無此API"}}}},"/TWSeafoodTraceabilityType/":{"get":{"summary":"臺灣水產品生產追溯資訊","description":"臺灣水產品生產追溯資訊<p><b>DATA</b>:[<br>{<br><b>TraceNo</b>(<span style=\"font-color:#6666ff\">string</option>):追溯代號\n<b>AquaName</b>(<span style=\"font-color:#6666ff\">string</option>):生產者名稱\n<b>Addr</b>(<span style=\"font-color:#6666ff\">string</option>):聯絡地址\n<b>Email</b>(<span style=\"font-color:#6666ff\">string</option>):電子郵件\n<b>Url</b>(<span style=\"font-color:#6666ff\">string</option>):網址\n<b>ProdName</b>(<span style=\"font-color:#6666ff\">string</option>):出貨產品\n<br>}<br>]</p>","operationId":"TWSeafoodTraceabilityType","tags":["生產追溯"],"parameters":[{"name":"TraceNo","in":"query","description":"追溯代號","required":false,"type":"string"},{"name":"AquaName","in":"query","description":"生產者名稱","required":false,"type":"string"},{"name":"Addr","in":"query","description":"聯絡地址","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TWSeafoodTraceabilityType"}}},"400":{"description":"無此API"}}}},"/DomesticPorkTraceabilityListType/":{"get":{"summary":"國產生鮮豬肉追溯拍賣編號清單","description":"國產生鮮豬肉追溯拍賣編號清單<p><b>DATA</b>:[<br>{<br><b>SaleNo</b>(<span style=\"font-color:#6666ff\">string</option>):拍賣編號\n<b>FarmName</b>(<span style=\"font-color:#6666ff\">string</option>):來源畜牧場\n<b>City</b>(<span style=\"font-color:#6666ff\">string</option>):縣市\n<b>Town</b>(<span style=\"font-color:#6666ff\">string</option>):鄉鎮\n<br>}<br>]</p>","operationId":"DomesticPorkTraceabilityListType","tags":["生產追溯"],"parameters":[{"name":"Year","in":"query","description":"年份","default":"2018","required":true,"type":"string"},{"name":"SaleNo","in":"query","description":"拍賣編號","required":false,"type":"string"},{"name":"FarmName","in":"query","description":"來源畜牧場","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"},{"name":"City","in":"query","description":"縣市","required":false,"type":"string"},{"name":"Town","in":"query","description":"鄉鎮","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DomesticPorkTraceabilityListType"}}},"400":{"description":"無此API"}}}},"/TWEggTracerProducerInfoType/":{"get":{"summary":"台灣雞蛋溯源生產者資訊","description":"台灣雞蛋溯源生產者資訊<p><b>DATA</b>:[<br>{<br><b>TraceNo</b>(<span style=\"font-color:#6666ff\">string</option>):溯源編號\n<b>Name</b>(<span style=\"font-color:#6666ff\">string</option>):農業經營者\n<b>Sname</b>(<span style=\"font-color:#6666ff\">string</option>):簡稱\n<b>Prod</b>(<span style=\"font-color:#6666ff\">string</option>):產品名稱\n<b>Addr</b>(<span style=\"font-color:#6666ff\">string</option>):產地\n<b>Boss</b>(<span style=\"font-color:#6666ff\">string</option>):生產者姓名\n<b>RegNo</b>(<span style=\"font-color:#6666ff\">string</option>):登記號碼\n<b>Addr2</b>(<span style=\"font-color:#6666ff\">string</option>):通訊地址\n<b>C01_Name</b>(<span style=\"font-color:#6666ff\">string</option>):禽種\n<b>Qty</b>(<span style=\"font-color:#6666ff\">string</option>):飼養規模\n<b>C02</b>(<span style=\"font-color:#6666ff\">string</option>):飼養方式\n<b>Typical</b>(<span style=\"font-color:#6666ff\">string</option>):特色\n<b>Introduce</b>(<span style=\"font-color:#6666ff\">string</option>):畜牧場介紹\n<br>}<br>]</p>","operationId":"TWEggTracerProducerInfoType","tags":["生產追溯"],"parameters":[{"name":"TraceNo","in":"query","description":"溯源編號","required":false,"type":"string"},{"name":"Name","in":"query","description":"農業經營者","required":false,"type":"string"},{"name":"Sname","in":"query","description":"簡稱","required":false,"type":"string"},{"name":"Prod","in":"query","description":"產品名稱","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TWEggTracerProducerInfoType"}}},"400":{"description":"無此API"}}}},"/DomesticPoultryTraceabilityType/":{"get":{"summary":"國產生鮮禽肉溯源","description":"國產生鮮禽肉溯源<p><b>DATA</b>:[<br>{<br><b>Kil_No</b>(<span style=\"font-color:#6666ff\">string</option>):統一編號\n<b>Kil_Name</b>(<span style=\"font-color:#6666ff\">string</option>):電宰場名稱\n<b>Kil_Regno</b>(<span style=\"font-color:#6666ff\">string</option>):登記證號\n<b>Kil_Boss</b>(<span style=\"font-color:#6666ff\">string</option>):負責人\n<b>Kil_Tel</b>(<span style=\"font-color:#6666ff\">string</option>):電話\n<b>Kil_Addr</b>(<span style=\"font-color:#6666ff\">string</option>):地址\n<b>Traceno_Start</b>(<span style=\"font-color:#6666ff\">string</option>):溯源編號-起\n<b>Traceno_End</b>(<span style=\"font-color:#6666ff\">string</option>):溯源編號-迄\n<b>FarmersUser1</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場生產者1\n<b>FarmersName1</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場名稱1\n<b>FarmersType1</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場禽種1\n<b>Farmersplace1</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場所在地1\n<b>FarmersUser2</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場生產者2\n<b>FarmersName2</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場名稱2\n<b>FarmersType2</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場禽種2\n<b>Farmersplace2</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場所在地2\n<b>FarmersUser3</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場生產者3\n<b>FarmersName3</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場名稱3\n<b>FarmersType3</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場禽種3\n<b>Farmersplace3</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場所在地3\n<b>FarmersUser4</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場生產者4\n<b>FarmersName4</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場名稱4\n<b>FarmersType4</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場禽種4\n<b>Farmersplace4</b>(<span style=\"font-color:#6666ff\">string</option>):來源牧場所在地4\n<b>Cdate</b>(<span style=\"font-color:#6666ff\">string</option>):日期\n<br>}<br>]</p>","operationId":"DomesticPoultryTraceabilityType","tags":["生產追溯"],"parameters":[{"name":"Kil_Name","in":"query","description":"電宰場名稱","required":false,"type":"string"},{"name":"Kil_Regno","in":"query","description":"登記證號","required":false,"type":"string"},{"name":"Traceno_Start","in":"query","description":"溯源編號-起","required":false,"type":"string"},{"name":"Traceno_End","in":"query","description":"溯源編號-迄","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DomesticPoultryTraceabilityType"}}},"400":{"description":"無此API"}}}},"/TWOrganicAgricultureVerificationInformationType/":{"get":{"summary":"臺灣有機農業資訊","description":"臺灣有機農業資訊<p><b>DATA</b>:[<br>{<br><b>Name</b>(<span style=\"font-color:#6666ff\">string</option>):農產品經營者名稱\n<b>Address</b>(<span style=\"font-color:#6666ff\">string</option>):農產品經營者地址\n<b>Tel</b>(<span style=\"font-color:#6666ff\">string</option>):電話\n<b>Products</b>(<span style=\"font-color:#6666ff\">string</option>):產品品項\n<b>BehaviorType</b>(<span style=\"font-color:#6666ff\">string</option>):驗證行為\n<b>CompanyName</b>(<span style=\"font-color:#6666ff\">string</option>):驗證機構名稱\n<b>CertOrganicSn</b>(<span style=\"font-color:#6666ff\">string</option>):證書序號\n<b>EffectiveDate</b>(<span style=\"font-color:#6666ff\">string</option>):證書效期\n<b>Status</b>(<span style=\"font-color:#6666ff\">string</option>):驗證狀態\n<b>Page</b>(<span style=\"font-color:#6666ff\">string</option>):頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數\n<b>ContainCrops</b>(<span style=\"font-color:#6666ff\">string</option>):產品範圍\n<b>MailingAddress</b>(<span style=\"font-color:#6666ff\">string</option>):通訊地址\n<b>OldCertOrganicSN</b>(<span style=\"font-color:#6666ff\">string</option>):舊證書字號\n<br>}<br>]</p>","operationId":"TWOrganicAgricultureVerificationInformationType","tags":["生產追溯"],"parameters":[{"name":"Name","in":"query","description":"農產品經營者名稱","required":false,"type":"string"},{"name":"Address","in":"query","description":"農產品經營者地址","required":false,"type":"string"},{"name":"Tel","in":"query","description":"電話","required":false,"type":"string"},{"name":"Products","in":"query","description":"產品品項","required":false,"type":"string"},{"name":"CertOrganicSn","in":"query","description":"證書序號","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TWOrganicAgricultureVerificationInformationType"}}},"400":{"description":"無此API"}}}},"/CASProductInquiryType/":{"get":{"summary":"CAS產品查詢","description":"CAS產品查詢<p><b>DATA</b>:[<br>{<br><b>Emblem_ID</b>(<span style=\"font-color:#6666ff\">string</option>):標章編號\n<b>Factory_CName</b>(<span style=\"font-color:#6666ff\">string</option>):廠商名稱\n<b>Factory_Address</b>(<span style=\"font-color:#6666ff\">string</option>):地址\n<b>Factory_Tel</b>(<span style=\"font-color:#6666ff\">string</option>):電話\n<b>Factory_Fax</b>(<span style=\"font-color:#6666ff\">string</option>):傳真\n<b>Factory_Director</b>(<span style=\"font-color:#6666ff\">string</option>):負責人\n<b>Material_Name</b>(<span style=\"font-color:#6666ff\">string</option>):產品類別\n<b>PType_Name</b>(<span style=\"font-color:#6666ff\">string</option>):產品種類\n<b>Product_Name</b>(<span style=\"font-color:#6666ff\">string</option>):產品名稱\n<b>Emb_No</b>(<span style=\"font-color:#6666ff\">string</option>):標章資料唯一值\n<br>}<br>]</p>","operationId":"CASProductInquiryType","tags":["生產追溯"],"parameters":[{"name":"Emblem_ID","in":"query","description":"標章編號","required":false,"type":"string"},{"name":"Factory_CName","in":"query","description":"廠商名稱","required":false,"type":"string"},{"name":"Factory_Address","in":"query","description":"地址","required":false,"type":"string"},{"name":"Factory_Tel","in":"query","description":"電話","required":false,"type":"string"},{"name":"Factory_Fax","in":"query","description":"傳真","required":false,"type":"string"},{"name":"Factory_Director","in":"query","description":"負責人","required":false,"type":"string"},{"name":"Material_Name","in":"query","description":"產品類別","required":false,"type":"string"},{"name":"PType_Name","in":"query","description":"產品種類","required":false,"type":"string"},{"name":"Product_Name","in":"query","description":"產品名稱","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CASProductInquiryType"}}},"400":{"description":"無此API"}}}},"/SalesResumeAgriproductsResultsType/":{"get":{"summary":"產銷履歷農糧產品檢驗結果","description":"產銷履歷農糧產品檢驗結果<p><b>DATA</b>:[<br>{<br><b>Number</b>(<span style=\"font-color:#6666ff\">string</option>):編號\n<b>SamplingDate</b>(<span style=\"font-color:#6666ff\">string</option>):抽檢日期\n<b>ProductName</b>(<span style=\"font-color:#6666ff\">string</option>):商品名稱\n<b>ProductID</b>(<span style=\"font-color:#6666ff\">string</option>):條碼編號\n<b>ProducerName</b>(<span style=\"font-color:#6666ff\">string</option>):經營業者名稱\n<b>SamplingLocation</b>(<span style=\"font-color:#6666ff\">string</option>):採樣地點\n<b>InspectResult</b>(<span style=\"font-color:#6666ff\">string</option>):抽檢結果\n<b>Note</b>(<span style=\"font-color:#6666ff\">string</option>):備註\n<br>}<br>]</p>","operationId":"SalesResumeAgriproductsResultsType","tags":["產銷履歷"],"parameters":[{"name":"Number","in":"query","description":"編號","required":false,"type":"string"},{"name":"ProductName","in":"query","description":"商品名稱","required":false,"type":"string"},{"name":"ProducerName","in":"query","description":"經營業者名稱","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SalesResumeAgriproductsResultsType"}}},"400":{"description":"無此API"}}}},"/ProductCost/":{"get":{"summary":"農產品生產成本查詢","description":"農產品生產成本查詢<p><b>DATA</b>:[<br>{<br><b>作物名稱</b>(<span style=\"font-color:#6666ff\">string</option>):作物名稱\n<b>年度</b>(<span style=\"font-color:#6666ff\">integer</option>):年度\n<b>成本檔URL</b>(<span style=\"font-color:#6666ff\">string</option>):成本檔URL\n<b>群組</b>(<span style=\"font-color:#6666ff\">string</option>):群組\n<br>}<br>]</p>","operationId":"ProductCost","tags":["農糧"],"parameters":[{"name":"Year","in":"query","description":"年度","default":"2018","required":false,"type":"string"},{"name":"Group","in":"query","description":"群組","required":false,"type":"string"},{"name":"ProductName","in":"query","description":"作物名稱","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ProductCost"}}},"400":{"description":"無此API"}}}},"/FarmerAcademyData/":{"get":{"summary":"農民學院","description":"農民學院<p><b>DATA</b>:[<br>{<br><b>course_id</b>(<span style=\"font-color:#6666ff\">string</option>):課程編號\n<b>course_name</b>(<span style=\"font-color:#6666ff\">string</option>):課程名稱\n<b>grade</b>(<span style=\"font-color:#6666ff\">string</option>):訓練別\n<b>register_time</b>(<span style=\"font-color:#6666ff\">string</option>):報名時間\n<b>course_type</b>(<span style=\"font-color:#6666ff\">string</option>):課程型態\n<b>skill_type</b>(<span style=\"font-color:#6666ff\">string</option>):產業別\n<b>course_status</b>(<span style=\"font-color:#6666ff\">string</option>):課程狀態\n<b>money</b>(<span style=\"font-color:#6666ff\">string</option>):課程費用\n<b>register_time</b>(<span style=\"font-color:#6666ff\">string</option>):報名時間\n<b>qualify_num</b>(<span style=\"font-color:#6666ff\">string</option>):名額\n<b>num</b>(<span style=\"font-color:#6666ff\">string</option>):報名人數\n<b>content</b>(<span style=\"font-color:#6666ff\">string</option>):課程內容\n<b>target</b>(<span style=\"font-color:#6666ff\">string</option>):參加對象\n<b>condition</b>(<span style=\"font-color:#6666ff\">string</option>):資格條件\n<b>location</b>(<span style=\"font-color:#6666ff\">string</option>):課程地點\n<b>contact</b>(<span style=\"font-color:#6666ff\">string</option>):聯絡資訊\n<b>course_name</b>(<span style=\"font-color:#6666ff\">string</option>):課程名稱\n<br>}<br>]</p>","operationId":"FarmerAcademyData","tags":["進修充電"],"parameters":[{"name":"course_id","in":"query","description":"課程編號","required":false,"type":"string"},{"name":"course_name","in":"query","description":"課程名稱","required":false,"type":"string"},{"name":"grade","in":"query","description":"訓練別","required":false,"type":"string"},{"name":"register_time","in":"query","description":"報名時間","required":false,"type":"string"},{"name":"course_type","in":"query","description":"課程型態","required":false,"type":"string"},{"name":"skill_type","in":"query","description":"產業別","required":false,"type":"string"},{"name":"course_start","in":"query","description":"課程開始日期","required":false,"type":"string"},{"name":"course_end","in":"query","description":"課程結束日期","required":false,"type":"string"},{"name":"course_date","in":"query","description":"課程日期","required":false,"type":"string"},{"name":"course_status","in":"query","description":"課程狀態","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FarmerAcademyData"}}},"400":{"description":"無此API"}}}},"/AnimalRecognition/":{"get":{"summary":"動物認領養","description":"動物認領養<p><b>DATA</b>:[<br>{<br><b>animal_id</b>(<span style=\"font-color:#6666ff\">integer</option>):動物的流水編號\n<b>animal_subid</b>(<span style=\"font-color:#6666ff\">string</option>):動物的收容編號\n<b>animal_area_pkid</b>(<span style=\"font-color:#6666ff\">string</option>):動物所屬縣市代碼\n<b>animal_shelter_pkid</b>(<span style=\"font-color:#6666ff\">string</option>):動物所屬收容所代碼\n<b>animal_place</b>(<span style=\"font-color:#6666ff\">string</option>):動物的實際所在地\n<b>animal_kind</b>(<span style=\"font-color:#6666ff\">string</option>):動物的類型\n<b>animal_sex</b>(<span style=\"font-color:#6666ff\">string</option>):動物性別\n<b>animal_bodytype</b>(<span style=\"font-color:#6666ff\">string</option>):動物體型\n<b>animal_colour</b>(<span style=\"font-color:#6666ff\">string</option>):動物毛色\n<b>animal_age</b>(<span style=\"font-color:#6666ff\">string</option>):動物年紀\n<b>animal_sterilization</b>(<span style=\"font-color:#6666ff\">string</option>):是否絕育\n<b>animal_foundplace</b>(<span style=\"font-color:#6666ff\">string</option>):動物尋獲地\n<b>animal_title</b>(<span style=\"font-color:#6666ff\">string</option>):動物網頁標題\n<b>animal_status</b>(<span style=\"font-color:#6666ff\">string</option>):動物狀態\n<b>animal_remark</b>(<span style=\"font-color:#6666ff\">string</option>):資料備註\n<b>animal_caption</b>(<span style=\"font-color:#6666ff\">string</option>):其他說明\n<b>animal_opendate</b>(<span style=\"font-color:#6666ff\">string</option>):開放認養時間(起)\n<b>animal_closeddate</b>(<span style=\"font-color:#6666ff\">string</option>):開放認養時間(迄)\n<b>animal_update</b>(<span style=\"font-color:#6666ff\">string</option>):動物資料異動時間\n<b>animal_createtime</b>(<span style=\"font-color:#6666ff\">string</option>):動物資料建立時間\n<b>shelter_name</b>(<span style=\"font-color:#6666ff\">string</option>):動物所屬收容所名稱\n<b>album_file</b>(<span style=\"font-color:#6666ff\">string</option>):圖片名稱\n<b>album_update</b>(<span style=\"font-color:#6666ff\">string</option>):資料更新時間\n<b>cDate</b>(<span style=\"font-color:#6666ff\">string</option>):資料建立時間\n<b>shelter_address</b>(<span style=\"font-color:#6666ff\">string</option>):地址\n<b>shelter_tel</b>(<span style=\"font-color:#6666ff\">string</option>):聯絡電話\n<br>}<br>]</p>","operationId":"AnimalRecognition","tags":["寵物"],"parameters":[{"name":"animal_id","in":"query","description":"動物的流水編號","required":false,"type":"integer"},{"name":"animal_subid","in":"query","description":"動物的收容編號","required":false,"type":"string"},{"name":"animal_area_pkid","in":"query","description":"動物所屬縣市代碼","required":false,"type":"string"},{"name":"animal_shelter_pkid","in":"query","description":"動物所屬收容所代碼","required":false,"type":"string"},{"name":"animal_place","in":"query","description":"動物的實際所在地","required":false,"type":"string"},{"name":"animal_kind","in":"query","description":"動物的類型","required":false,"type":"string"},{"name":"animal_sex","in":"query","description":"動物性別","required":false,"type":"string"},{"name":"animal_bodytype","in":"query","description":"動物體型","required":false,"type":"string"},{"name":"animal_colour","in":"query","description":"動物毛色","required":false,"type":"string"},{"name":"animal_age","in":"query","description":"動物年紀","required":false,"type":"string"},{"name":"animal_sterilization","in":"query","description":"是否絕育","required":false,"type":"string"},{"name":"animal_bacterin","in":"query","description":"是否施打狂犬病疫苗","required":false,"type":"string"},{"name":"animal_foundplace","in":"query","description":"動物尋獲地","required":false,"type":"string"},{"name":"animal_title","in":"query","description":"動物網頁標題","required":false,"type":"string"},{"name":"animal_status","in":"query","description":"動物狀態","required":false,"type":"string"},{"name":"animal_remark","in":"query","description":"資料備註","required":false,"type":"string"},{"name":"animal_caption","in":"query","description":"其他說明","required":false,"type":"string"},{"name":"animal_opendate","in":"query","description":"開放認養時間(起)","required":false,"type":"string"},{"name":"animal_closeddate","in":"query","description":"開放認養時間(迄)","required":false,"type":"string"},{"name":"animal_update","in":"query","description":"動物資料異動時間","required":false,"type":"string"},{"name":"animal_createtime","in":"query","description":"動物資料建立時間","required":false,"type":"string"},{"name":"shelter_name","in":"query","description":"動物所屬收容所名稱","required":false,"type":"string"},{"name":"album_file","in":"query","description":"圖片名稱","required":false,"type":"string"},{"name":"album_update","in":"query","description":"資料更新時間","required":false,"type":"string"},{"name":"cDate","in":"query","description":"資料建立時間","required":false,"type":"string"},{"name":"shelter_address","in":"query","description":"地址","required":false,"type":"string"},{"name":"shelter_tel","in":"query","description":"聯絡電話","required":false,"type":"string"},{"name":"$top","in":"query","description":"取得前幾筆","default":"1000","required":false,"type":"integer"},{"name":"Page","in":"query","description":"頁碼","default":"1","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AnimalRecognition"}}},"400":{"description":"無此API"}}}},"/PetLoseList/":{"get":{"summary":"寵物遺失啟事","description":"寵物遺失啟事<p><b>DATA</b>:[<br>{<br><b>ChipNum</b>(<span style=\"font-color:#6666ff\">string</option>):晶片號碼\n<b>PetName</b>(<span style=\"font-color:#6666ff\">string</option>):寵物名\n<b>PetCategory</b>(<span style=\"font-color:#6666ff\">string</option>):寵物別\n<b>Gender</b>(<span style=\"font-color:#6666ff\">string</option>):性別\n<b>Variety</b>(<span style=\"font-color:#6666ff\">string</option>):品種\n<b>Coat</b>(<span style=\"font-color:#6666ff\">string</option>):毛色\n<b>Exterior</b>(<span style=\"font-color:#6666ff\">string</option>):外觀\n<b>Feature</b>(<span style=\"font-color:#6666ff\">string</option>):特徵\n<b>LostTime</b>(<span style=\"font-color:#6666ff\">string</option>):遺失時間\n<b>LostPlace</b>(<span style=\"font-color:#6666ff\">string</option>):遺失地點\n<b>FeederName</b>(<span style=\"font-color:#6666ff\">string</option>):飼主姓名\n<b>PhoneNum</b>(<span style=\"font-color:#6666ff\">string</option>):連絡電話\n<b>EMail</b>(<span style=\"font-color:#6666ff\">string</option>):EMail\n<b>Picture</b>(<span style=\"font-color:#6666ff\">string</option>):圖片網址\n<br>}<br>]</p>","operationId":"PetLoseList","tags":["寵物"],"parameters":[{"name":"ChipNum","in":"query","description":"晶片號碼","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","default":"1","required":false,"type":"integer"},{"name":"PetName","in":"query","description":"寵物名","required":false,"type":"string"},{"name":"PetCategory","in":"query","description":"寵物別","default":"狗","required":false,"type":"string"},{"name":"Gender","in":"query","description":"性別","default":"公","required":false,"type":"string"},{"name":"Variety","in":"query","description":"品種","required":false,"type":"string"},{"name":"Coat","in":"query","description":"毛色","required":false,"type":"string"},{"name":"Exterior","in":"query","description":"外觀","required":false,"type":"string"},{"name":"Feature","in":"query","description":"特徵","required":false,"type":"string"},{"name":"LostTime","in":"query","description":"遺失時間","required":false,"type":"string"},{"name":"LostPlace","in":"query","description":"遺失地點","required":false,"type":"string"},{"name":"FeederName","in":"query","description":"飼主姓名","required":false,"type":"string"},{"name":"PhoneNum","in":"query","description":"連絡電話","required":false,"type":"string"},{"name":"EMail","in":"query","description":"EMail","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PetLoseList"}}},"400":{"description":"無此API"}}}},"/LegalSpecificPet/":{"get":{"summary":"合法特定寵物業名單","description":"合法特定寵物業名單<p><b>DATA</b>:[<br>{<br><b>legaltype</b>(<span style=\"font-color:#6666ff\">string</option>):所在縣市代碼\n<b>busitem</b>(<span style=\"font-color:#6666ff\">string</option>):營業項目\n<b>animaltype</b>(<span style=\"font-color:#6666ff\">string</option>):特定寵物種類\n<b>ID</b>(<span style=\"font-color:#6666ff\">string</option>):序號\n<b>legalname</b>(<span style=\"font-color:#6666ff\">string</option>):業者名稱\n<b>legaladdress</b>(<span style=\"font-color:#6666ff\">string</option>):連絡地址\n<b>validnum</b>(<span style=\"font-color:#6666ff\">string</option>):許可證字號\n<b>validdate</b>(<span style=\"font-color:#6666ff\">string</option>):許可證有效日期\n<b>own_name</b>(<span style=\"font-color:#6666ff\">string</option>):負責人姓名\n<b>bos_name</b>(<span style=\"font-color:#6666ff\">string</option>):專任人員姓名\n<b>rank_year</b>(<span style=\"font-color:#6666ff\">string</option>):評鑑年度\n<b>rank_code</b>(<span style=\"font-color:#6666ff\">string</option>):評鑑字號\n<b>rank_flag_1</b>(<span style=\"font-color:#6666ff\">string</option>):評鑑資料顯示代碼\n<b>rank_flag_2</b>(<span style=\"font-color:#6666ff\">string</option>):評鑑說明顯示代碼\n<b>rank_text</b>(<span style=\"font-color:#6666ff\">string</option>):評鑑說明\n<b>state_flag</b>(<span style=\"font-color:#6666ff\">string</option>):商家狀態代碼\n<br>}<br>]</p>","operationId":"LegalSpecificPet","tags":["寵物"],"parameters":[{"name":"legaltype","in":"query","description":"所在縣市代碼","required":false,"type":"string"},{"name":"busitem","in":"query","description":"營業項目","required":false,"type":"string"},{"name":"animaltype","in":"query","description":"特定寵物種類","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","required":false,"type":"string"},{"name":"api_key","in":"query","description":"請登入帳號並輸入api_key","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LegalSpecificPet"}}},"400":{"description":"無此API"}}}},"/PetFood/":{"get":{"summary":"寵物食品資料","description":"寵物食品資料<p><b>DATA</b>:[<br>{<br><b>fitem</b>(<span style=\"font-color:#6666ff\">string</option>):食品種類\n<b>fsource</b>(<span style=\"font-color:#6666ff\">string</option>):產品來源\n<b>fusage1</b>(<span style=\"font-color:#6666ff\">string</option>):適用寵物種類\n<b>forigin</b>(<span style=\"font-color:#6666ff\">string</option>):原產地\n<b>flegalname</b>(<span style=\"font-color:#6666ff\">string</option>):廠商名稱\n<b>ID</b>(<span style=\"font-color:#6666ff\">string</option>):食品序號\n<b>fname</b>(<span style=\"font-color:#6666ff\">string</option>):食品名稱\n<b>fmat</b>(<span style=\"font-color:#6666ff\">string</option>):主要原料及添加物\n<b>fnut</b>(<span style=\"font-color:#6666ff\">string</option>):要營養成分及含量\n<b>fusage2</b>(<span style=\"font-color:#6666ff\">string</option>):使用方法\n<b>fusage3</b>(<span style=\"font-color:#6666ff\">string</option>):保存方法\n<b>fwcn</b>(<span style=\"font-color:#6666ff\">string</option>):包裝規格\n<br>}<br>]</p>","operationId":"PetFood","tags":["寵物"],"parameters":[{"name":"fitem","in":"query","description":"食品種類","required":false,"type":"string"},{"name":"fsource","in":"query","description":"產品來源","required":false,"type":"string"},{"name":"fusage1","in":"query","description":"適用寵物種類","required":false,"type":"string"},{"name":"forigin","in":"query","description":"原產地","required":false,"type":"string"},{"name":"flegalname","in":"query","description":"廠商名稱","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制","required":false,"type":"string"},{"name":"api_key","in":"query","description":"頁碼控制","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PetFood"}}},"400":{"description":"無此API"}}}},"/FeedAndAdditiveInputCertificate/":{"get":{"summary":"飼料、飼料添加物輸入登記證","description":"飼料、飼料添加物輸入登記證<p><b>DATA</b>:[<br>{<br><b>CertificateNo</b>(<span style=\"font-color:#6666ff\">string</option>):登記證證號\n<b>CertificateType</b>(<span style=\"font-color:#6666ff\">string</option>):登記證類別\n<b>TradeNames</b>(<span style=\"font-color:#6666ff\">string</option>):商號名稱\n<b>FeedItemsType</b>(<span style=\"font-color:#6666ff\">string</option>):飼料品目類別\n<b>FeedItems</b>(<span style=\"font-color:#6666ff\">string</option>):飼料品目\n<b>ProductName</b>(<span style=\"font-color:#6666ff\">string</option>):商品名稱\n<b>TradeCode</b>(<span style=\"font-color:#6666ff\">string</option>):商號代碼\n<b>FactoryNames</b>(<span style=\"font-color:#6666ff\">string</option>):工廠名稱\n<b>FactoryAddress</b>(<span style=\"font-color:#6666ff\">string</option>):工廠地址\n<b>ResponsibleName</b>(<span style=\"font-color:#6666ff\">string</option>):負責人姓名\n<b>SuitableObject</b>(<span style=\"font-color:#6666ff\">string</option>):適用對象\n<b>PackingStyle</b>(<span style=\"font-color:#6666ff\">string</option>):包裝型式\n<b>Shape</b>(<span style=\"font-color:#6666ff\">string</option>):形狀\n<b>CompositionInfo</b>(<span style=\"font-color:#6666ff\">string</option>):成分\n<b>ApproveDate</b>(<span style=\"font-color:#6666ff\">string</option>):核發日期\n<b>EffectiveDate</b>(<span style=\"font-color:#6666ff\">string</option>):有效日期\n<br>}<br>]</p>","operationId":"FeedAndAdditiveInputCertificate","tags":["畜牧"],"parameters":[{"name":"CertificateNo","in":"query","description":"登記證證號","required":false,"type":"string"},{"name":"TradeNames","in":"query","description":"商號名稱","required":false,"type":"string"},{"name":"FeedItemsType","in":"query","description":"飼料品目類別","required":false,"type":"string"},{"name":"FeedItems","in":"query","description":"飼料品目","required":false,"type":"string"},{"name":"ProductName","in":"query","description":"商品名稱","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制","required":false,"type":"string"},{"name":"api_key","in":"query","description":"請登入帳號並輸入api_key","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FeedAndAdditiveInputCertificate"}}},"400":{"description":"無此API"}}}},"/ADProData/":{"get":{"summary":"動物用藥資訊","description":"動物用藥資訊<p><b>DATA</b>:[<br>{<br><b>LicenceNum</b>(<span style=\"font-color:#6666ff\">string</option>):許可證字號\n<b>MedicineCName</b>(<span style=\"font-color:#6666ff\">string</option>):動物用藥品中文名稱\n<b>MedicineEName</b>(<span style=\"font-color:#6666ff\">string</option>):動物用藥品英文名稱\n<b>CompanyName</b>(<span style=\"font-color:#6666ff\">string</option>):業者名稱\n<b>CompanyAddress</b>(<span style=\"font-color:#6666ff\">string</option>):業者地址\n<b>FactoryName</b>(<span style=\"font-color:#6666ff\">string</option>):製造廠名稱\n<b>FactoryAddress</b>(<span style=\"font-color:#6666ff\">string</option>):製造廠地址\n<b>DrugType</b>(<span style=\"font-color:#6666ff\">string</option>):劑型\n<b>AllowPackage</b>(<span style=\"font-color:#6666ff\">string</option>):包裝\n<b>Efficacy</b>(<span style=\"font-color:#6666ff\">string</option>):效能(適應症)\n<b>Ingredient</b>(<span style=\"font-color:#6666ff\">string</option>):成分\n<b>IssueDate</b>(<span style=\"font-color:#6666ff\">string</option>):核發日期\n<b>ValidDate</b>(<span style=\"font-color:#6666ff\">string</option>):有效期間\n<b>SaleAbroad</b>(<span style=\"font-color:#6666ff\">string</option>):外銷專用\n<br>}<br>]</p>","operationId":"ADProData","tags":["畜牧"],"parameters":[{"name":"LicenceNum","in":"query","description":"許可證字號","required":false,"type":"string"},{"name":"MedicineCName","in":"query","description":"動物用藥品中文名稱","required":false,"type":"string"},{"name":"MedicineEName","in":"query","description":"動物用藥品英文名稱","required":false,"type":"string"},{"name":"CompanyName","in":"query","description":"業者名稱","required":false,"type":"string"},{"name":"FactoryName","in":"query","description":"製造廠名稱","required":false,"type":"string"},{"name":"DrugType","in":"query","description":"劑型","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制, 當回傳結果Next=ture時, 才需傳入此參數","default":"1","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ADProData"}}},"400":{"description":"無此API"}}}},"/FeedManagementInfo/":{"get":{"summary":"飼料管理資訊","description":"飼料管理資訊<p><b>DATA</b>:[<br>{<br><b>ID</b>(<span style=\"font-color:#6666ff\">string</option>):登記證字號\n<b>IssueDate</b>(<span style=\"font-color:#6666ff\">string</option>):核發日期\n<b>EffectDate</b>(<span style=\"font-color:#6666ff\">string</option>):有效日期\n<b>FeedItem</b>(<span style=\"font-color:#6666ff\">string</option>):飼料品目\n<b>BusinessName</b>(<span style=\"font-color:#6666ff\">string</option>):商號名稱\n<b>登記證類別</b>(<span style=\"font-color:#6666ff\">string</option>):登記證類別\n<br>}<br>]</p>","operationId":"FeedManagementInfo","tags":["畜牧"],"parameters":[{"name":"ID","in":"query","description":"登記證字號","required":false,"type":"string"},{"name":"IssueDate","in":"query","description":"核發日期","required":false,"type":"string"},{"name":"EffectDate","in":"query","description":"有效日期","required":false,"type":"string"},{"name":"FeedItem","in":"query","description":"飼料品目","required":false,"type":"string"},{"name":"BusinessName","in":"query","description":"商號名稱","required":false,"type":"string"},{"name":"登記證類別","in":"query","description":"登記證類別","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼控制","required":false,"type":"string"},{"name":"api_key","in":"query","description":"請登入帳號並輸入api_key","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FeedManagementInfo"}}},"400":{"description":"無此API"}}}},"/DebrisAlertServices/GetDebrisVillInfo/":{"get":{"summary":"土石流潛勢溪流資料","description":"土石流潛勢溪流資料<p><b>DATA</b>:[<br>{<br><b>County</b>(<span style=\"font-color:#6666ff\">string</option>):縣市\n<b>Town</b>(<span style=\"font-color:#6666ff\">string</option>):鄉鎮市區名稱\n<b>Debrisno</b>(<span style=\"font-color:#6666ff\">string</option>):警戒溪流編號\n<b>AlertValue</b>(<span style=\"font-color:#6666ff\">integer</option>):警戒值\n<b>station1ID</b>(<span style=\"font-color:#6666ff\">integer</option>):偵測站編號\n<b>station1StationName</b>(<span style=\"font-color:#6666ff\">string</option>):偵測站名稱\n<b>station2ID</b>(<span style=\"font-color:#6666ff\">string</option>):偵測站2編號\n<b>station2StationName</b>(<span style=\"font-color:#6666ff\">string</option>):偵測站2名稱\n<br>}<br>]</p>","operationId":"GetDebrisVillInfo","tags":["水土保持"],"parameters":[{"name":"strCountry","in":"query","description":"縣市名稱","default":"臺中市","required":true,"type":"string"},{"name":"strTown","in":"query","description":"鄉鎮市區名稱","default":"北屯區","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/GetDebrisVillInfo"}}},"400":{"description":"無此API"}}}},"/DebrisAlertServices/GetCustomerDebrisAlertInfo/":{"get":{"summary":"土石流警戒資料","description":"土石流警戒資料<p><b>DATA</b>:[<br>{<br><b>county</b>(<span style=\"font-color:#6666ff\">string</option>):警戒發布縣市\n<b>town</b>(<span style=\"font-color:#6666ff\">string</option>):警戒發布鄉鎮\n<b>vill</b>(<span style=\"font-color:#6666ff\">string</option>):警戒發布村里\n<b>debrisNo</b>(<span style=\"font-color:#6666ff\">string</option>):土石流潛勢溪流編號\n<b>alert_date</b>(<span style=\"font-color:#6666ff\">string</option>):紅色警戒發布時間(如有時間值代表發布紅色警戒)\n<b>alert_date_yellow</b>(<span style=\"font-color:#6666ff\">string</option>):黃色警戒發布時間(如有時間值代表發布黃色警戒)\n<br>}<br>]</p>","operationId":"GetCustomerDebrisAlertInfo","tags":["水土保持"],"parameters":[],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/GetCustomerDebrisAlertInfo"}}},"400":{"description":"無此API"}}}},"/DebrisAlertServices/GetStationMonitor/":{"get":{"summary":"土石流觀測站影像","description":"土石流觀測站影像<p><b>DATA</b>:[<br>{<br><b>攝影機名稱</b>(<span style=\"font-color:#6666ff\">string</option>):攝影機名稱\n<b>縣市</b>(<span style=\"font-color:#6666ff\">string</option>):縣市\n<b>行政區</b>(<span style=\"font-color:#6666ff\">string</option>):行政區\n<b>架設或拍攝地點</b>(<span style=\"font-color:#6666ff\">string</option>):架設或拍攝地點\n<b>影像網址</b>(<span style=\"font-color:#6666ff\">string</option>):影像網址\n<b>經度</b>(<span style=\"font-color:#6666ff\">string</option>):經度\n<b>緯度</b>(<span style=\"font-color:#6666ff\">string</option>):緯度\n<br>}<br>]</p>","operationId":"GetStationMonitor","tags":["水土保持"],"parameters":[{"name":"攝影機名稱","in":"query","description":"攝影機名稱","required":false,"type":"string"},{"name":"縣市","in":"query","description":"縣市","required":false,"type":"string"},{"name":"行政區","in":"query","description":"行政區","required":false,"type":"string"},{"name":"架設或拍攝地點","in":"query","description":"架設或拍攝地點","required":false,"type":"string"},{"name":"影像網址","in":"query","description":"影像網址","required":false,"type":"string"},{"name":"經度","in":"query","description":"經度","required":false,"type":"string"},{"name":"緯度","in":"query","description":"緯度","required":false,"type":"string"},{"name":"Page","in":"query","description":"頁碼","default":"1","required":true,"type":"integer"}],"responses":{
[...]
