{
  "swagger": "2.0",
  "info": {
    "title": "中央氣象署開放資料平臺之資料擷取API",
    "description": "提供目前開放資料之擷取API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://opendata.cwa.gov.tw",
      "description": "Local Development Server"
    }
  ],
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "query",
      "description": "氣象開放資料平台會員授權碼"
    }
  },
  "schemes": [
    "https",
    "http"
  ],
  "basePath": "/api",
  "produces": [
    "application/json",
    "application/xml"
  ],
  "paths": {
    "/v1/rest/datastore/F-C0032-001": {
      "get": {
        "summary": "一般天氣預報-今明 36 小時天氣預報",
        "description": "臺灣各縣市天氣預報資料及國際都市天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "locationName",
            "in": "query",
            "description": "臺灣各縣市，預設為回傳全部縣市",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "宜蘭縣",
                "花蓮縣",
                "臺東縣",
                "澎湖縣",
                "金門縣",
                "連江縣",
                "臺北市",
                "新北市",
                "桃園市",
                "臺中市",
                "臺南市",
                "高雄市",
                "基隆市",
                "新竹縣",
                "新竹市",
                "苗栗縣",
                "彰化縣",
                "南投縣",
                "雲林縣",
                "嘉義縣",
                "嘉義市",
                "屏東縣"
              ]
            }
          },
          {
            "name": "elementName",
            "in": "query",
            "description": "天氣因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Wx",
                "PoP",
                "CI",
                "MinT",
                "MaxT"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「startTime」，「endTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「startTime」，則參數「timeFrom」的篩選資料則會失去作用， 預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，根據內容可篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用「startTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-001": {
      "get": {
        "summary": "鄉鎮天氣預報-宜蘭縣未來3天天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "露點溫度",
                "天氣預報綜合描述",
                "舒適度指數",
                "風向",
                "3小時降雨機率",
                "溫度",
                "風速",
                "天氣現象",
                "相對濕度",
                "體感溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」，「DataTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "DataTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-003": {
      "get": {
        "summary": "鄉鎮天氣預報-宜蘭縣未來1週天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "最高溫度",
                "天氣預報綜合描述",
                "平均相對濕度",
                "最高體感溫度",
                "12小時降雨機率",
                "風向",
                "平均露點溫度",
                "最低體感溫度",
                "平均溫度",
                "最大舒適度指數",
                "最小舒適度指數",
                "風速",
                "紫外線指數",
                "天氣現象",
                "最低溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段:時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-005": {
      "get": {
        "summary": "鄉鎮天氣預報-桃園市未來3天天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "露點溫度",
                "天氣預報綜合描述",
                "舒適度指數",
                "風向",
                "3小時降雨機率",
                "溫度",
                "風速",
                "天氣現象",
                "相對濕度",
                "體感溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」，「DataTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "DataTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-007": {
      "get": {
        "summary": "鄉鎮天氣預報-桃園市未來1週天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "最高溫度",
                "天氣預報綜合描述",
                "平均相對濕度",
                "最高體感溫度",
                "12小時降雨機率",
                "風向",
                "平均露點溫度",
                "最低體感溫度",
                "平均溫度",
                "最大舒適度指數",
                "最小舒適度指數",
                "風速",
                "紫外線指數",
                "天氣現象",
                "最低溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段:時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-009": {
      "get": {
        "summary": "鄉鎮天氣預報-新竹縣未來3天天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "露點溫度",
                "天氣預報綜合描述",
                "舒適度指數",
                "風向",
                "3小時降雨機率",
                "溫度",
                "風速",
                "天氣現象",
                "相對濕度",
                "體感溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」，「DataTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "DataTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-011": {
      "get": {
        "summary": "鄉鎮天氣預報-新竹縣未來1週天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "最高溫度",
                "天氣預報綜合描述",
                "平均相對濕度",
                "最高體感溫度",
                "12小時降雨機率",
                "風向",
                "平均露點溫度",
                "最低體感溫度",
                "平均溫度",
                "最大舒適度指數",
                "最小舒適度指數",
                "風速",
                "紫外線指數",
                "天氣現象",
                "最低溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段:時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-013": {
      "get": {
        "summary": "鄉鎮天氣預報-苗栗縣未來3天天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "露點溫度",
                "天氣預報綜合描述",
                "舒適度指數",
                "風向",
                "3小時降雨機率",
                "溫度",
                "風速",
                "天氣現象",
                "相對濕度",
                "體感溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」，「DataTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "DataTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-015": {
      "get": {
        "summary": "鄉鎮天氣預報-苗栗縣未來1週天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "最高溫度",
                "天氣預報綜合描述",
                "平均相對濕度",
                "最高體感溫度",
                "12小時降雨機率",
                "風向",
                "平均露點溫度",
                "最低體感溫度",
                "平均溫度",
                "最大舒適度指數",
                "最小舒適度指數",
                "風速",
                "紫外線指數",
                "天氣現象",
                "最低溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段:時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-017": {
      "get": {
        "summary": "鄉鎮天氣預報-彰化縣未來3天天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "露點溫度",
                "天氣預報綜合描述",
                "舒適度指數",
                "風向",
                "3小時降雨機率",
                "溫度",
                "風速",
                "天氣現象",
                "相對濕度",
                "體感溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」，「DataTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "DataTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-019": {
      "get": {
        "summary": "鄉鎮天氣預報-彰化縣未來1週天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "最高溫度",
                "天氣預報綜合描述",
                "平均相對濕度",
                "最高體感溫度",
                "12小時降雨機率",
                "風向",
                "平均露點溫度",
                "最低體感溫度",
                "平均溫度",
                "最大舒適度指數",
                "最小舒適度指數",
                "風速",
                "紫外線指數",
                "天氣現象",
                "最低溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段:時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-021": {
      "get": {
        "summary": "鄉鎮天氣預報-南投縣未來3天天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "露點溫度",
                "天氣預報綜合描述",
                "舒適度指數",
                "風向",
                "3小時降雨機率",
                "溫度",
                "風速",
                "天氣現象",
                "相對濕度",
                "體感溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」，「DataTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "DataTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-023": {
      "get": {
        "summary": "鄉鎮天氣預報-南投縣未來1週天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "最高溫度",
                "天氣預報綜合描述",
                "平均相對濕度",
                "最高體感溫度",
                "12小時降雨機率",
                "風向",
                "平均露點溫度",
                "最低體感溫度",
                "平均溫度",
                "最大舒適度指數",
                "最小舒適度指數",
                "風速",
                "紫外線指數",
                "天氣現象",
                "最低溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段:時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-025": {
      "get": {
        "summary": "鄉鎮天氣預報-雲林縣未來3天天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "露點溫度",
                "天氣預報綜合描述",
                "舒適度指數",
                "風向",
                "3小時降雨機率",
                "溫度",
                "風速",
                "天氣現象",
                "相對濕度",
                "體感溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」，「DataTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "DataTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-027": {
      "get": {
        "summary": "鄉鎮天氣預報-雲林縣未來1週天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "最高溫度",
                "天氣預報綜合描述",
                "平均相對濕度",
                "最高體感溫度",
                "12小時降雨機率",
                "風向",
                "平均露點溫度",
                "最低體感溫度",
                "平均溫度",
                "最大舒適度指數",
                "最小舒適度指數",
                "風速",
                "紫外線指數",
                "天氣現象",
                "最低溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段:時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-029": {
      "get": {
        "summary": "鄉鎮天氣預報-嘉義縣未來3天天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "露點溫度",
                "天氣預報綜合描述",
                "舒適度指數",
                "風向",
                "3小時降雨機率",
                "溫度",
                "風速",
                "天氣現象",
                "相對濕度",
                "體感溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」，「DataTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "DataTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-031": {
      "get": {
        "summary": "鄉鎮天氣預報-嘉義縣未來1週天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "最高溫度",
                "天氣預報綜合描述",
                "平均相對濕度",
                "最高體感溫度",
                "12小時降雨機率",
                "風向",
                "平均露點溫度",
                "最低體感溫度",
                "平均溫度",
                "最大舒適度指數",
                "最小舒適度指數",
                "風速",
                "紫外線指數",
                "天氣現象",
                "最低溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段:時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-033": {
      "get": {
        "summary": "鄉鎮天氣預報-屏東縣未來3天天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "露點溫度",
                "天氣預報綜合描述",
                "舒適度指數",
                "風向",
                "3小時降雨機率",
                "溫度",
                "風速",
                "天氣現象",
                "相對濕度",
                "體感溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」，「DataTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "DataTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-035": {
      "get": {
        "summary": "鄉鎮天氣預報-屏東縣未來1週天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "最高溫度",
                "天氣預報綜合描述",
                "平均相對濕度",
                "最高體感溫度",
                "12小時降雨機率",
                "風向",
                "平均露點溫度",
                "最低體感溫度",
                "平均溫度",
                "最大舒適度指數",
                "最小舒適度指數",
                "風速",
                "紫外線指數",
                "天氣現象",
                "最低溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段:時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-037": {
      "get": {
        "summary": "鄉鎮天氣預報-臺東縣未來3天天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "露點溫度",
                "天氣預報綜合描述",
                "舒適度指數",
                "風向",
                "3小時降雨機率",
                "溫度",
                "風速",
                "天氣現象",
                "相對濕度",
                "體感溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」，「DataTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "DataTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-039": {
      "get": {
        "summary": "鄉鎮天氣預報-臺東縣未來1週天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "最高溫度",
                "天氣預報綜合描述",
                "平均相對濕度",
                "最高體感溫度",
                "12小時降雨機率",
                "風向",
                "平均露點溫度",
                "最低體感溫度",
                "平均溫度",
                "最大舒適度指數",
                "最小舒適度指數",
                "風速",
                "紫外線指數",
                "天氣現象",
                "最低溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段:時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-041": {
      "get": {
        "summary": "鄉鎮天氣預報-花蓮縣未來3天天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "露點溫度",
                "天氣預報綜合描述",
                "舒適度指數",
                "風向",
                "3小時降雨機率",
                "溫度",
                "風速",
                "天氣現象",
                "相對濕度",
                "體感溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」，「DataTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "DataTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-043": {
      "get": {
        "summary": "鄉鎮天氣預報-花蓮縣未來1週天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "最高溫度",
                "天氣預報綜合描述",
                "平均相對濕度",
                "最高體感溫度",
                "12小時降雨機率",
                "風向",
                "平均露點溫度",
                "最低體感溫度",
                "平均溫度",
                "最大舒適度指數",
                "最小舒適度指數",
                "風速",
                "紫外線指數",
                "天氣現象",
                "最低溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段:時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-045": {
      "get": {
        "summary": "鄉鎮天氣預報-澎湖縣未來3天天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "露點溫度",
                "天氣預報綜合描述",
                "舒適度指數",
                "風向",
                "3小時降雨機率",
                "溫度",
                "風速",
                "天氣現象",
                "相對濕度",
                "體感溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」，「DataTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "DataTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-047": {
      "get": {
        "summary": "鄉鎮天氣預報-澎湖縣未來1週天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "最高溫度",
                "天氣預報綜合描述",
                "平均相對濕度",
                "最高體感溫度",
                "12小時降雨機率",
                "風向",
                "平均露點溫度",
                "最低體感溫度",
                "平均溫度",
                "最大舒適度指數",
                "最小舒適度指數",
                "風速",
                "紫外線指數",
                "天氣現象",
                "最低溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段:時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-049": {
      "get": {
        "summary": "鄉鎮天氣預報-基隆市未來3天天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "format",
            "in": "query",
            "description": "回傳資料格式，預設為 json 格式",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "各縣市所對應鄉鎮名稱，請參考https://opendata.cwa.gov.tw/opendatadoc/Opendata_City.pdf ，附錄 A『全臺縣市鄉鎮對照表』，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElementName",
            "in": "query",
            "description": "天氣預報因子，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "露點溫度",
                "天氣預報綜合描述",
                "舒適度指數",
                "風向",
                "3小時降雨機率",
                "溫度",
                "風速",
                "天氣現象",
                "相對濕度",
                "體感溫度"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "同時對 「StartTime」，「EndTime」，「DataTime」 做升冪排序，預設不排序",
            "required": false,
            "type": "string",
            "enum": [
              "time"
            ]
          },
          {
            "name": "StartTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "DataTime",
            "in": "query",
            "description": "時間因子，格式為「yyyy-MM-ddThh:mm:ss」，預設為全部回傳",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
            }
          },
          {
            "name": "timeFrom",
            "in": "query",
            "description": "時間區段，時間從「timeFrom」 開始篩選，直到內容之最後時間，並可與參數 「timeTo」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeFrom」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          },
          {
            "name": "timeTo",
            "in": "query",
            "description": "時間區段，篩選需要之時間區段，時間從內容之最初時間開始篩選，直到 「timeTo」，並可與參數 「timeFrom」 合併使用，格式為「yyyy-MM-ddThh:mm:ss」，若使用參數「StartTime」或「DataTime」，則參數「timeTo」的篩選資料則會失效，預設為全部回傳",
            "required": false,
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$"
          }
        ],
        "tags": [
          "預報"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/rest/datastore/F-D0047-051": {
      "get": {
        "summary": "鄉鎮天氣預報-基隆市未來1週天氣預報",
        "description": "臺灣各鄉鎮市區預報資料-臺灣各鄉鎮市區未來3天(逐3小時)及未來1週天氣預報\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "限制最多回傳的資料，預設為回傳全部筆數",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "指定從第幾筆後開始回傳，預設為第 0 筆開始回傳",
            "required": false,
            "type": "number",
            "format": "int"
[...]
