{
  "x-generator": "NSwag v13.11.1.0 (NJsonSchema v10.4.3.0 (Newtonsoft.Json v12.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "客家委員會OpenAPI",
    "description": "客家委員會 OpenAPI",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://data.hakka.gov.tw"
    }
  ],
  "paths": {
    "/Dataset/DS0162572": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心會計報表",
        "operationId": "Dataset_ODID162572",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會客家文化發展中心會計報表，詳細請參考主要欄位說明\n            category(類別)、YYYROC(民國年)、month(月份)、file_name(檔案名稱)、URL(網址)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162544": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客庄輕旅行遊程索引(已停辦)",
        "operationId": "Dataset_ODID162544",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "包含7大在地遊程地圖，以及客庄景點、業者基本資訊，提供民眾參訪客庄參考。\n            Scenic_spots_or_Industry(景點或業者名稱)、address(地址)、LocalCallService(市話)、latitude(緯度)、longitude(經度)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162547": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會「客家特色產業國內大型展售會」歷年參展",
        "operationId": "Dataset_ODID162547",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "提供「客家特色產業國內大型展售會」歷年參展資料。\n            YYYROC(民國年)、date(日期)、activity(活動名稱)、place(地點)、description(說明)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0114446": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會桐花文學獎(已停辦)",
        "operationId": "Dataset_ODID114446",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "介紹歷屆桐花文學得獎作品。\n            year(年度)、award_categories(獎項類別)、rank(名次)、author(作者)、works_name(作品名稱)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162481": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會桐花創作音樂(已停辦)",
        "operationId": "Dataset_ODID162481",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "介紹歷屆桐花創作音樂得獎作品。\n            YYYY(西元年)、music_name(作品名稱)、author(作者)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0164481": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家網路影音(已關站，不再更新)",
        "operationId": "Dataset_ODID164481",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "98年~111年於「好客ING客家影音網路平台」網站，提供民眾隨選收看歷年來進行數位典藏的各類客家影音節目。\n            name(主要題名)、author(製作者)、description(摘要/故事大綱)、length(影音檔秒數)、Date(日期)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162476": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "推動客語薪傳師傳習補助作業要點(要點已於107年1月1日廢止生效)",
        "operationId": "Dataset_ODID162476",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "提供客語薪傳師傳習計畫課程開班資訊。\n            city_name(縣市別)、teaching_curriculum(傳習課程)、URL(網址)、teacher(薪傳師)、Date(日期)、for_locations(辦理地點)、number_of_participants(參與人數)、remark(備註)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162962": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客語薪傳師總覽",
        "operationId": "Dataset_ODID162962",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "網站公告客語薪傳師各縣市與各類別薪傳師名單與人數統計資訊。\n            kind(類別)、CountyCode(縣市別代碼)、person_name(人名)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162480": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客語薪傳師性別統計",
        "operationId": "Dataset_ODID162480",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "本會客語薪傳師通過者性別統計概況。\n            YYYROC(民國年)、number_of_women(女性人數)、percentage_of_women(女性百分比)、number_of_men(男性人數)、percentage_of_men(男性百分比)、NumberofRecord(筆數)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0167692": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會補助客家出版品",
        "operationId": "Dataset_ODID167692",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "本會歷年補助之客家出版品\n            book_name(書名)、type(出版類型)、YYYMMROC(民國年月)、Publishing_Unit(出版單位)、page(頁數)、excerpt(摘要)、author(作者)、DollarTWD(金額元新台幣)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162612": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會累計提列公務人員高普考試職缺數",
        "operationId": "Dataset_ODID162612",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "本會年度內累計提列公務人員高普考試職缺數\n            YYYROC(民國年)、number(累計提列公務人員高普考試職缺數)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162695": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會組織人力概況",
        "operationId": "Dataset_ODID162695",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會組織之人力概況\n            YYYROC(民國年)、unit(單位)、Gender(性別)、number(人數)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162611": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會職務出缺公告",
        "operationId": "Dataset_ODID162611",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "本會職務出缺公告\n            no(序)、name(本會職缺出處)、URL(網址)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0152264": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "建築類圖像及後設等資料_API",
        "operationId": "Dataset_ODID152264",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "內容為建築影像及細部描述資料。(文化資源普查)\n            URL(資料網址)、RepresentativeImageSerial(圖檔檔名)、CulturalResourceName(文化資源名稱)、CheckSerialNo(詮釋資料識別碼)、CheckDate(踏查日期)、CulturalResourceSort(文化資源種類)、CulturalResourceNickname(文化資源別稱)、CulturalResourceHakkaSpelling(文化資源客語拼音)、ScreeningReason(篩選理由)、Latitude(經度)、Longitude(緯度)、History(歷史沿革)、HistoryResource(歷史沿革資料來源)、MaintenanceRecord(維修紀錄)、BuildingStatusSituation(建築狀況)、BuildingCharacteristicDescription(建築特色描述)、Keywords(關鍵字)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0155466": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客語數位學習教材(來上客)",
        "operationId": "Dataset_ODID155466",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客語6腔調之數位教材（四縣腔、南四縣腔、海陸腔、大埔腔、饒平腔、詔安腔），包括電子書、句型、生詞、動畫及非同步教學影片等，提供多元化的客語學習方式。\n            kind(分類)、course_name(課程名稱)、course_description(課程簡介)、accent(腔調)、grade(年級)、url(學習連結)、Semester(學期)、LessonNum(第幾課)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162458": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會資料開放行動策略",
        "operationId": "Dataset_ODID162458",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會資料開放行動策略。\n            no(序)、name(名稱)、URL(網址)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162866": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會獎項",
        "operationId": "Dataset_ODID162866",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會獎項說明\n            name(獎項名稱)、URL(網址)、purpose(獎項宗旨)、period(創立時程及辦理週期)、objects(獎勵對象)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162578": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心區域結盟",
        "operationId": "Dataset_ODID162578",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家文化發展中心區域結盟\n            YYYROC(民國年)、alliance(結盟機關)、position(機關位置)、URL(網址)、cause(案由)、area(區域)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162579": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心場域租借空間",
        "operationId": "Dataset_ODID162579",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會客家文化發展中心場域租借空間，詳細請參考主要欄位說明\n            YYYROC(民國年)、area(園區)、land(場域)、unit(計價單位)、according(收費辦法)、margin(保證金)、remarks(備註)、URL(網址)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162580": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心招商委外空間",
        "operationId": "Dataset_ODID162580",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會客家文化發展中心招商委外空間，詳細請參考主要欄位說明\n            YYYROC(民國年)、area(園區)、land(場域)、unit(空間大小)、according(收費辦法)、margin(保證金)、remarks(備註)、URL(網址)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162581": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心AED緊急救護系統位置",
        "operationId": "Dataset_ODID162581",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會客家文化發展中心AED緊急救護系統位置，詳細請參考主要欄位說明\n            YYYROC(民國年)、area(園區)、position(設置位置)、Quantity(數量)、baby(嬰兒專用貼片)、remarks(備註)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162582": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心定時定點導覽",
        "operationId": "Dataset_ODID162582",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會客家文化發展中心定時定點導覽，詳細請參考主要欄位說明\n            YYYROC(民國年)、area(園區)、position(園區空間)、time(定時導覽時間)、remarks(備註)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162584": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心影片播放資訊",
        "operationId": "Dataset_ODID162584",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會客家文化發展中心影片播放資訊，詳細請參考主要欄位說明\n            area(所屬園區)、YYYROC(民國年)、movie(片名)、time(撥出時間)、position(撥放場域空間)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0168013": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "建築類圖像及後設等資料",
        "operationId": "Dataset_ODID168013",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "內容為建築影像及細部描述資料。(文化資源普查)\n            URL(網址)、imageURL(設施圖片連結)、CulturalResourceName(文化資源名稱)、CheckSerialNo(詮釋資料識別碼)、CheckDate(踏查日期)、CulturalResourceSort(文化資源種類)、CulturalResourceNickname(文化資源別稱)、CulturalResourceHakkaSpelling(文化資源客語拼音)、ScreeningReason(篩選理由)、Latitude(經度)、Longitude(緯度)、History(歷史沿革)、HistoryResource(歷史沿革資料來源)、MaintenanceRecord(維修紀錄)、BuildingStatusSituation(建築狀況)、BuildingCharacteristicDescription(建築特色描述)、Keywords(關鍵字)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0163095": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "藝術與技術類圖像及後設等資料",
        "operationId": "Dataset_ODID163095",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "內容為藝術與技術影像及細部描述資料。(文化資源普查)\n            URL(網址)、RepresentativeImageSerial(圖檔檔名)、CulturalResourceName(文化資源名稱)、CheckSerialNo(詮釋資料識別碼)、Description(說明/備註)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0163098": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "民俗節慶類圖像及後設等資料",
        "operationId": "Dataset_ODID163098",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "內容為民俗節慶影像及細部描述資料。(文化資源普查)\n            URL(網址)、imageURL(圖片連結)、CulturalResourceName(文化資源名稱)、CulturalResourceSort(文化資源種類)、CulturalResourceHakkaSpelling(文化資源客語拼音)、ScreeningReason(篩選理由)、Latitude(經度)、Longitude(緯度)、BriefDescription(簡單敘述)、Description(說明/備註)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0163107": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "文物類圖像及後設等資料",
        "operationId": "Dataset_ODID163107",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "內容為文物影像及細部描述資料。(文化資源普查)\n            URL(網址)、RepresentativeImageSerial(圖檔檔名)、CulturalResourceName(文化資源名稱)、CulturalResourceHakkaSpelling(文化資源客語拼音)、Description(說明/備註)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0163113": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "自然風景類圖像及後設等資料",
        "operationId": "Dataset_ODID163113",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "內容為自然風景影像及細部描述資料。(文化資源普查)\n            URL(網址)、RepresentativeImageSerial(圖檔檔名)、CulturalResourceName(文化資源名稱)、CulturalResourceHakkaSpelling(文化資源客語拼音)、Description(說明/備註)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0168876": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心大事紀",
        "operationId": "Dataset_ODID168876",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會客家文化發展中心歷程\n            UnitName(單位名稱)、activities(重要活動)、YYYMMROC(民國年月)、location(地點)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0168877": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心線上教學資源",
        "operationId": "Dataset_ODID168877",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "建立客家線上教學主題單元、開發輔助教材。以「遠距學園」概念，配合幼兒園、國小鄉土 相關課綱及依兒童年齡層，設計數位學習教材。\n            CategoryName(分類)、title(名稱)、grade(適用年級)、Description(說明/備註)、website(網站)、object(對象)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0168879": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心展示",
        "operationId": "Dataset_ODID168879",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "園區各展館主題展示內容(含歷史展)\n            Description(說明/備註)、Date(開展時間)、location(地點)、UnitName(單位名稱)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0168880": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心藝文表演團體",
        "operationId": "Dataset_ODID168880",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "園區邀請藝文表演團體名稱\n            Author(作者)、CategoryName(分類)、title(活動名稱)、Description(說明/備註)、location(地點)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0168881": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心導覽人員性別統計",
        "operationId": "Dataset_ODID168881",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "歷年園區導覽人員人數及性別分析\n            YYYROC(民國年)、location(地點)、Number(數量)、Man_of_number(男性人數)、Female_of_number(女性人數)、Male18_29(男18-29歲)、Female18_29(女18-29歲)、Male30_49(男30-49歲)、Female30_49(女30-49歲)、Male50_54(男50-54歲)、Female_50_54(女50-54歲)、Male55_64(男55-64歲)、Female55_64(女55-64歲)、Male65_up(男65歲以上)、Female65_up(女65歲以上)、Male_hakka(男客家族群)、Female_hakka(女客家族群)、Male_hakka_language(男客家語言)、Female_hakka_language(女客家語言)、Male_hakka_teacher(男客語薪傳師身份)、Female_hakka_teacher(女客語薪傳師身份)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0168882": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心志工性別統計",
        "operationId": "Dataset_ODID168882",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "歷年園區志工人數及性別分析\n            Year(西元年)、location(地點)、The_number_of_teams(隊數)、Total(總計)、Man_of_number(男性人數)、Female_of_number(女性人數)、Male_12_years_under(未滿12歲_男)、female_12_years_under(未滿12歲_女)、Male_12_17years(12-17歲_男)、female_12_17years(12-17歲_女)、Male_18_29years(18-29歲_男)、female_18_29years(18-29歲_女)、Male_30_49years(30-49歲_男)、female_30_49years(30-49歲_女)、Male_50_54years(50-54歲_男)、female_50_54years(50-54歲_女)、Male_55_64years(55-64歲_男)、female_55_64years(55-64歲_女)、Male_Over_65years(65歲以上_男)、female_Over_65years(65歲以上_女)、Indigenous_Male(具原住民身分_男)、Indigenous_female(具原住民身分_女)、Public_Personnel_employment_Male(軍公教人員在職_男)、Public_Personnel_employment_female(軍公教人員在職_女)、Public_Personnel_Retired_Male(軍公教人員已退休_男)、Public_Personnel_Retired_female(軍公教人員已退休_女)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0168883": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心團體導覽屬性分析統計",
        "operationId": "Dataset_ODID168883",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "園區團體導覽屬性分析\n            YYYROC(民國年)、Month(月份)、location(園區)、Group_number(團數)、Number_of_people(人數)、General_group(一般團體)、General_people(一般團體人數)、Education_group(教育團體)、Education_people(教學團體人數)、Gov_group(政府機關)、Gov_people(政府團體人數)、Academic_group(學術單位)、Academic_people(學術團體人數)、Overseas_group(海外團體)、Overseas_people(海外團體人數)、hakka_group(客家團體)、hakka_people(客家團體人數)、Community_group(社區團體)、Community_people(社區團體人數)、Other_group(其他社團)、Other_people(其他社團人數)、New_resident_group(新住民團體)、New_resident_people(新住民人數)、Environment_group(環教團體)、Environment_people(環教人數)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0168884": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化發展中心停車場空間",
        "operationId": "Dataset_ODID168884",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會客家文化發展中心停車場空間，詳細請參考主要欄位說明\n            YYYROC(民國年)、location(地點)、car_number(汽車格數)、bike_number(機車格數)、cause(收費辦法)、Description(說明/備註)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0163019": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客籍作家",
        "operationId": "Dataset_ODID163019",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "介紹本會97年至101年收錄之100位客籍作家。\n            YYYROC(民國年)、writer(作家)、person_name(本名)、other_aliases(其他別名)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162446": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會地方客家單位",
        "operationId": "Dataset_ODID162446",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "介紹全台地方客家單位網站資訊，提供多元化資訊內容\n            no(序)、unit_name(單位名稱)、URL(網址)、adress(地址)、LocalCallService(市話)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0073163": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家人口比例及推估人數",
        "operationId": "Dataset_ODID73163",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "本會為客家族群人口數(萬人)，以及縣市、鄉(鎮、市、區)分布，以推估全國客家人口數資料。\n            year(年度)、defined_category(定義類別)、estimated_number(推估人數)、male_proportion(男生比例)、male_number(男生人數)、female_proportion(女生比例)、female_number(女生人數)、y0_9_proportion(0-9歲比例)、y0_9_number(0-9歲人數)、y10_19_proportion(10-19歲比例)、y10_19_number(10-19歲人數)、y20_29_proportion(20-29歲比例)、y20_29_number(20-29歲人數)、y30_39_proportion(30-39歲比例)、y30_39_number(30-39歲人數)、y40_49_proportion(40-49歲比例)、y40_49_number(40-49歲人數)、y50_59_proportion(50-59歲比例)、y50_59_number(50-59歲人數)、y60_69_proportion(60-69歲比例)、y60_69_number(60-69歲人數)、y70_proportion(70歲以上比例)、y70_number(70歲以上人數)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0166193": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家學術機構",
        "operationId": "Dataset_ODID166193",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "國內大學校院成立之客家學院系所及客家研究中心資料\n            no(編號)、school_name(校名)、agency_name(名稱)、found_date(成立時間)、URL(網址)、Closing_time(停辦時間)、Number_of_administration_staff(行政人員數量)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0166204": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家人口暨語言調查資料",
        "operationId": "Dataset_ODID166204",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "歷年客家人口暨語言調查資訊\n            category(類別)、Year(年度)、name(名稱)、URL(網址)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162463": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會補助大學校院發展客家學術機構",
        "operationId": "Dataset_ODID162463",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會補助大學校院發展-客家學術機構\n            school(學校名稱)、plan(計畫名稱)、subsidy(ten thousand dollars)、YYYROC(民國年)、description(說明)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162466": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化重點發展區",
        "operationId": "Dataset_ODID162466",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家人口達三分之一以上之鄉(鎮、市、區)，提供該鄉（鎮、市、區）客家人口比例、主要客語腔調及公所網站等資訊。\n            area_name(直轄市或縣市)、AreaCode(地址-行政區域代碼)、Ratio(比率)、hakka_accent(客語腔調)、major_festivals(重大節慶)、URL(網址)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162452": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會獎助客家研究優良博碩士論文概況(歷史資料不再更新)",
        "operationId": "Dataset_ODID162452",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "介紹本會歷年獎助客家研究優良博碩士論文。\n            YYYROC(民國年)、title(論文標題)、summary(論文摘要)、author(作者)、author_sex(作者性別)、graduation_school(畢業學校)、graduation_department(畢業系所)、graduation_date(畢業年月)、DollarTWD(金額元新台幣)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162453": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會獎助客家學術研究概況",
        "operationId": "Dataset_ODID162453",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "介紹本會歷年獎助客家學術研究。\n            YYYROC(民國年)、author(作者)、Gender(性別)、title_of_thesis(論文名稱)、grant_amount(獎助金額萬元)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162808": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會委員",
        "operationId": "Dataset_ODID162808",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會委員名單\n            session(屆期)、name(委員姓名)、Gender(性別)、category(派聘兼類別)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0163039": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客語結合十二年國教校訂課程",
        "operationId": "Dataset_ODID163039",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "補助辦理客語結合十二年國教校訂課程計畫\n            serial_number(年度)、school_name(校名)、CountyCode(縣市別代碼)、AreaCode(地址-行政區域代碼)、course_name(課程名稱)、course_description(課程簡介)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0167841": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客語能力認證考試性別統計",
        "operationId": "Dataset_ODID167841",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "本會客語能力認證考試報名者及通過者性別統計概況。\n            Level(級別)、YYYROC(民國年)、number_of_all(報名人數)、number_of_women(女性人 數)、pass1_of_women(女性通過基礎級中級高級人數)、pass2_of_women(女性通過初級中高級人數)、number_of_men(男性人數)、pass1_of_men(男性通過基礎級中級高級人數)、pass2_of_men(男性通過初級中高級人數)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162477": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客語能力認證中級考試暨中高級考試性別統計",
        "operationId": "Dataset_ODID162477",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "本會客語能力認證中級考試暨中高級考試報名者及通過者性別統計概況。\n            YYYROC(民國年)、NumberofRecord(筆數)、number_of_women(女性人數)、pass1_of_women(女性通過中級人數)、pass2_of_women(女性通過中高級人數)、number_of_men(男性人數)、pass1_of_men(男性通過中級人數)、pass2_of_men(男性通過中高級人數)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162479": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客語能力認證初級考試性別統計",
        "operationId": "Dataset_ODID162479",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "本會客語能力認證初級考試報名者及通過者性別統計概況。\n            YYYROC(民國年)、NumberofRecord(筆數)、number_of_women(女性人數)、pass_of_women(女性通過人數)、number_of_men(男性人數)、pass_of_men(男性通過人數)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0169568": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會公務統計",
        "operationId": "Dataset_ODID169568",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會之公務統計資訊\n            category(類別)、YYYROC(民國年)、file_name(檔案名稱)、URL(網址)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162592": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會性別平等專案小組",
        "operationId": "Dataset_ODID162592",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "客家委員會性別主流化資訊網性別平等專案小組\n            basis(設置依據)、current_Members(現任委員)、URL(網址)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162489": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會「客家產業輔導計畫」亮點業者",
        "operationId": "Dataset_ODID162489",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "提供「客家產業輔導計畫」輔導之亮點業者資訊。\n            business_name(業者名稱)、address(地址)、LocalCallService(市話)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0163032": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會好客卡特約商店(已停辦)",
        "operationId": "Dataset_ODID163032",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "提供好客卡特約商店地址及相關優惠內容\n            company_name(業者名稱)、address(地址)、LocalCallService(市話)、Latitude(緯度)、Longitude(經度)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162963": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客庄景點(已停辦)",
        "operationId": "Dataset_ODID162963",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "介紹全台客庄相關旅遊景點，提供給民眾作為旅遊參考資訊。\n            title(標題)、CountyCode(縣市別代碼)、AreaCode(地址-行政區域代碼)、address(地址)、explanation(說明)、remark(備註)、latitude(緯度)、longitude(經度)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0163025": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會「Hakka TAIWAN臺灣客家」登錄商品(已停辦)",
        "operationId": "Dataset_ODID163025",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "提供客家特色商品及業者資訊\n            company_name(業者名稱)、product(商品名稱)、address(地址)、LocalCallService(市話)、Latitude(緯度)、Longitude(經度)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162968": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會臺灣客家特色商品通路標章授權業者(已停辦)",
        "operationId": "Dataset_ODID162968",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "提供獲本會授權「臺灣客家特色商品通路標章」之業者資訊\n            business_name(業者名稱)、CountyCode(縣市別代碼)、address(地址)、latitude(緯度)、longitude(經度)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162495": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會客家文化意象暨桐花布料設計專利權及著作權授權利用單位(已停辦)",
        "operationId": "Dataset_ODID162495",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "提供客家文化意象暨桐花布料相關應用業者資訊。\n            industry(業者名稱)、product(商品名稱)、application_image(應用圖案)、URL(網址)、address(地址)、LocalCallService(市話)、latitude(緯度)、longitude(經度)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162975": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會「客庄智慧樂活4G應用服務計畫」業者(已停辦)",
        "operationId": "Dataset_ODID162975",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "提供「客庄智慧樂活4G應用服務計畫」業者及商品資訊。\n            viewpoint(景點或業者名稱)、product_name(商品名稱)、CountyCode(縣市別代碼)、address(地址)、LocalCallService(市話)、latitude(緯度)、longitude(經度)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162546": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "客家委員會「臺灣客家文化巡禮」及「客家節慶」踩線遊程(已停辦)",
        "operationId": "Dataset_ODID162546",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "提供「臺灣客家文化巡禮」及「客家節慶」踩線遊程資訊。\n            viewpoint(景點或業者名稱)、address(地址)、LocalCallService(市話)、latitude(緯度)、longitude(經度)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162623": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "2022桐花季經典45條桐花小旅行遊程",
        "operationId": "Dataset_ODID162623",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁筆數",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 1.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "本會2022年補助地方政府辦理桐花祭活動核定名單。\n            no(序)、area_name(區域)、city_name(區域2)、tour(遊程名稱)、LocalCallService(市話)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dataset/DS0162979": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "2021客庄小旅行升級計畫獲選受輔導社區團隊",
        "operationId": "Dataset_ODID162979",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼 (0..N)",
[...]
