{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/1d0677bb-38e7-4b13-bb87-4c742245d8c9\/csv":{"get":{"tags":["CSV"],"summary":"107年上半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:107年1月1日至107年6月30日)","operationId":"get_1d0677bb_38e7_4b13_bb87_4c742245d8c9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1d0677bb-38e7-4b13-bb87-4c742245d8c9\/json":{"get":{"tags":["JSON"],"summary":"107年上半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:107年1月1日至107年6月30日)","operationId":"get_1d0677bb_38e7_4b13_bb87_4c742245d8c9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1d0677bb-38e7-4b13-bb87-4c742245d8c9\/xml":{"get":{"tags":["XML"],"summary":"107年上半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:107年1月1日至107年6月30日)","operationId":"get_1d0677bb_38e7_4b13_bb87_4c742245d8c9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d8369eb2-c4ba-4868-bfeb-1a50af8214fb\/csv":{"get":{"tags":["CSV"],"summary":"107年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:107年7月1日至107年12月31日)","operationId":"get_d8369eb2_c4ba_4868_bfeb_1a50af8214fb_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d8369eb2-c4ba-4868-bfeb-1a50af8214fb\/json":{"get":{"tags":["JSON"],"summary":"107年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:107年7月1日至107年12月31日)","operationId":"get_d8369eb2_c4ba_4868_bfeb_1a50af8214fb_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d8369eb2-c4ba-4868-bfeb-1a50af8214fb\/xml":{"get":{"tags":["XML"],"summary":"107年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:107年7月1日至107年12月31日)","operationId":"get_d8369eb2_c4ba_4868_bfeb_1a50af8214fb_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3f6b9cee-7021-412e-a1f2-359811c615a8\/csv":{"get":{"tags":["CSV"],"summary":"108年上半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:108年1月1日至108年6月30日)","operationId":"get_3f6b9cee_7021_412e_a1f2_359811c615a8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3f6b9cee-7021-412e-a1f2-359811c615a8\/json":{"get":{"tags":["JSON"],"summary":"108年上半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:108年1月1日至108年6月30日)","operationId":"get_3f6b9cee_7021_412e_a1f2_359811c615a8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3f6b9cee-7021-412e-a1f2-359811c615a8\/xml":{"get":{"tags":["XML"],"summary":"108年上半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:108年1月1日至108年6月30日)","operationId":"get_3f6b9cee_7021_412e_a1f2_359811c615a8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a1a04c6c-7336-4c7b-86c2-694dd6b654dd\/csv":{"get":{"tags":["CSV"],"summary":"108年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:108年7月1日至108年12月31日)","operationId":"get_a1a04c6c_7336_4c7b_86c2_694dd6b654dd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a1a04c6c-7336-4c7b-86c2-694dd6b654dd\/json":{"get":{"tags":["JSON"],"summary":"108年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:108年7月1日至108年12月31日)","operationId":"get_a1a04c6c_7336_4c7b_86c2_694dd6b654dd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a1a04c6c-7336-4c7b-86c2-694dd6b654dd\/xml":{"get":{"tags":["XML"],"summary":"108年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:108年7月1日至108年12月31日)","operationId":"get_a1a04c6c_7336_4c7b_86c2_694dd6b654dd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6228758b-b3eb-45ac-841c-eaf49beab759\/csv":{"get":{"tags":["CSV"],"summary":" 109年上半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:109年1月1日至109年6月30日)","operationId":"get_6228758b_b3eb_45ac_841c_eaf49beab759_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6228758b-b3eb-45ac-841c-eaf49beab759\/json":{"get":{"tags":["JSON"],"summary":" 109年上半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:109年1月1日至109年6月30日)","operationId":"get_6228758b_b3eb_45ac_841c_eaf49beab759_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6228758b-b3eb-45ac-841c-eaf49beab759\/xml":{"get":{"tags":["XML"],"summary":" 109年上半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:109年1月1日至109年6月30日)","operationId":"get_6228758b_b3eb_45ac_841c_eaf49beab759_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bec2e946-d239-4852-afdc-140487ce293f\/csv":{"get":{"tags":["CSV"],"summary":"109年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:109年7月1日至109年12月31日)","operationId":"get_bec2e946_d239_4852_afdc_140487ce293f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bec2e946-d239-4852-afdc-140487ce293f\/json":{"get":{"tags":["JSON"],"summary":"109年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:109年7月1日至109年12月31日)","operationId":"get_bec2e946_d239_4852_afdc_140487ce293f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bec2e946-d239-4852-afdc-140487ce293f\/xml":{"get":{"tags":["XML"],"summary":"109年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:109年7月1日至109年12月31日)","operationId":"get_bec2e946_d239_4852_afdc_140487ce293f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7670fb18-aaa1-44d0-838d-f511cd48ae30\/csv":{"get":{"tags":["CSV"],"summary":"110年上半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:110年1月1日至110年6月30日)","operationId":"get_7670fb18_aaa1_44d0_838d_f511cd48ae30_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7670fb18-aaa1-44d0-838d-f511cd48ae30\/json":{"get":{"tags":["JSON"],"summary":"110年上半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:110年1月1日至110年6月30日)","operationId":"get_7670fb18_aaa1_44d0_838d_f511cd48ae30_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7670fb18-aaa1-44d0-838d-f511cd48ae30\/xml":{"get":{"tags":["XML"],"summary":"110年上半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:110年1月1日至110年6月30日)","operationId":"get_7670fb18_aaa1_44d0_838d_f511cd48ae30_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a6fcca72-e14e-4447-8604-59552939ce14\/csv":{"get":{"tags":["CSV"],"summary":" 110年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:110年7月1日至110年12月31日)","operationId":"get_a6fcca72_e14e_4447_8604_59552939ce14_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a6fcca72-e14e-4447-8604-59552939ce14\/json":{"get":{"tags":["JSON"],"summary":" 110年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:110年7月1日至110年12月31日)","operationId":"get_a6fcca72_e14e_4447_8604_59552939ce14_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a6fcca72-e14e-4447-8604-59552939ce14\/xml":{"get":{"tags":["XML"],"summary":" 110年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:110年7月1日至110年12月31日)","operationId":"get_a6fcca72_e14e_4447_8604_59552939ce14_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/39158d0d-67fc-4ad6-b8d9-61830d9a160c\/csv":{"get":{"tags":["CSV"],"summary":"111年上半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:111年1月1日至111年6月30日)","operationId":"get_39158d0d_67fc_4ad6_b8d9_61830d9a160c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/39158d0d-67fc-4ad6-b8d9-61830d9a160c\/json":{"get":{"tags":["JSON"],"summary":"111年上半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:111年1月1日至111年6月30日)","operationId":"get_39158d0d_67fc_4ad6_b8d9_61830d9a160c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/39158d0d-67fc-4ad6-b8d9-61830d9a160c\/xml":{"get":{"tags":["XML"],"summary":"111年上半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:111年1月1日至111年6月30日)","operationId":"get_39158d0d_67fc_4ad6_b8d9_61830d9a160c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/17e3c26b-8cec-4eb3-a326-406e9faa40a9\/csv":{"get":{"tags":["CSV"],"summary":"111年下半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(資料統計：111年7月1日至12月31日)","operationId":"get_17e3c26b_8cec_4eb3_a326_406e9faa40a9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/17e3c26b-8cec-4eb3-a326-406e9faa40a9\/json":{"get":{"tags":["JSON"],"summary":"111年下半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(資料統計：111年7月1日至12月31日)","operationId":"get_17e3c26b_8cec_4eb3_a326_406e9faa40a9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/17e3c26b-8cec-4eb3-a326-406e9faa40a9\/xml":{"get":{"tags":["XML"],"summary":"111年下半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(資料統計：111年7月1日至12月31日)","operationId":"get_17e3c26b_8cec_4eb3_a326_406e9faa40a9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ab776755-81fb-476d-8c04-df5ebe4a5bb3\/csv":{"get":{"tags":["CSV"],"summary":"112年上半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:112年1月1至112年6月30)","operationId":"get_ab776755_81fb_476d_8c04_df5ebe4a5bb3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ab776755-81fb-476d-8c04-df5ebe4a5bb3\/json":{"get":{"tags":["JSON"],"summary":"112年上半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:112年1月1至112年6月30)","operationId":"get_ab776755_81fb_476d_8c04_df5ebe4a5bb3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ab776755-81fb-476d-8c04-df5ebe4a5bb3\/xml":{"get":{"tags":["XML"],"summary":"112年上半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:112年1月1至112年6月30)","operationId":"get_ab776755_81fb_476d_8c04_df5ebe4a5bb3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d9b83b3e-3b2a-4eb0-b12c-14d7d908b397\/csv":{"get":{"tags":["CSV"],"summary":" 112年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:112年6月1至112年12月31)","operationId":"get_d9b83b3e_3b2a_4eb0_b12c_14d7d908b397_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d9b83b3e-3b2a-4eb0-b12c-14d7d908b397\/json":{"get":{"tags":["JSON"],"summary":" 112年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:112年6月1至112年12月31)","operationId":"get_d9b83b3e_3b2a_4eb0_b12c_14d7d908b397_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d9b83b3e-3b2a-4eb0-b12c-14d7d908b397\/xml":{"get":{"tags":["XML"],"summary":" 112年下半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:112年6月1至112年12月31)","operationId":"get_d9b83b3e_3b2a_4eb0_b12c_14d7d908b397_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6f80684a-8bfe-4a3d-9df1-766b06ec3069\/csv":{"get":{"tags":["CSV"],"summary":" 113年上半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:113年1月1至113年6月30)","operationId":"get_6f80684a_8bfe_4a3d_9df1_766b06ec3069_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6f80684a-8bfe-4a3d-9df1-766b06ec3069\/json":{"get":{"tags":["JSON"],"summary":" 113年上半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:113年1月1至113年6月30)","operationId":"get_6f80684a_8bfe_4a3d_9df1_766b06ec3069_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6f80684a-8bfe-4a3d-9df1-766b06ec3069\/xml":{"get":{"tags":["XML"],"summary":" 113年上半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:113年1月1至113年6月30)","operationId":"get_6f80684a_8bfe_4a3d_9df1_766b06ec3069_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e83aaec8-65e5-4bf4-9bd5-7238b2f92732\/csv":{"get":{"tags":["CSV"],"summary":" 113年下半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:113年7月1至113年12月31)","operationId":"get_e83aaec8_65e5_4bf4_9bd5_7238b2f92732_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e83aaec8-65e5-4bf4-9bd5-7238b2f92732\/json":{"get":{"tags":["JSON"],"summary":" 113年下半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:113年7月1至113年12月31)","operationId":"get_e83aaec8_65e5_4bf4_9bd5_7238b2f92732_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e83aaec8-65e5-4bf4-9bd5-7238b2f92732\/xml":{"get":{"tags":["XML"],"summary":" 113年下半年1999話務中心客服人員滿意度指標","description":"1999話務中心客服人員滿意度指標(調查期間:113年7月1至113年12月31)","operationId":"get_e83aaec8_65e5_4bf4_9bd5_7238b2f92732_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6bda45b7-b421-4244-885d-649d7b08c026\/csv":{"get":{"tags":["CSV"],"summary":" 114年上半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:114年1月1至6月30)","operationId":"get_6bda45b7_b421_4244_885d_649d7b08c026_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6bda45b7-b421-4244-885d-649d7b08c026\/json":{"get":{"tags":["JSON"],"summary":" 114年上半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:114年1月1至6月30)","operationId":"get_6bda45b7_b421_4244_885d_649d7b08c026_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6bda45b7-b421-4244-885d-649d7b08c026\/xml":{"get":{"tags":["XML"],"summary":" 114年上半年1999話務中心客服人員滿意度指標","description":" 1999話務中心客服人員滿意度指標(調查期間:114年1月1至6月30)","operationId":"get_6bda45b7_b421_4244_885d_649d7b08c026_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c6c18820-f7ca-44f5-992c-6f46fe3fa594\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年上半年新措施一覽表","description":"新北市104年上半年新措施一覽表(103年12月24日發布)","operationId":"get_c6c18820_f7ca_44f5_992c_6f46fe3fa594_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c6c18820-f7ca-44f5-992c-6f46fe3fa594\/json":{"get":{"tags":["JSON"],"summary":"新北市104年上半年新措施一覽表","description":"新北市104年上半年新措施一覽表(103年12月24日發布)","operationId":"get_c6c18820_f7ca_44f5_992c_6f46fe3fa594_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c6c18820-f7ca-44f5-992c-6f46fe3fa594\/xml":{"get":{"tags":["XML"],"summary":"新北市104年上半年新措施一覽表","description":"新北市104年上半年新措施一覽表(103年12月24日發布)","operationId":"get_c6c18820_f7ca_44f5_992c_6f46fe3fa594_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/05808b70-16aa-42a8-80b9-6435375a22e4\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年下半年新措施一覽表 ","description":"新北市104年下半年新措施一覽表(104年6月26日發布)","operationId":"get_05808b70_16aa_42a8_80b9_6435375a22e4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/05808b70-16aa-42a8-80b9-6435375a22e4\/json":{"get":{"tags":["JSON"],"summary":"新北市104年下半年新措施一覽表 ","description":"新北市104年下半年新措施一覽表(104年6月26日發布)","operationId":"get_05808b70_16aa_42a8_80b9_6435375a22e4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/05808b70-16aa-42a8-80b9-6435375a22e4\/xml":{"get":{"tags":["XML"],"summary":"新北市104年下半年新措施一覽表 ","description":"新北市104年下半年新措施一覽表(104年6月26日發布)","operationId":"get_05808b70_16aa_42a8_80b9_6435375a22e4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e0a9c101-115c-4f5d-b683-1d1743c64d00\/csv":{"get":{"tags":["CSV"],"summary":"新北市105年上半年新措施一覽表","description":"新北市105年上半年新措施一覽表(104年12月31日發布)","operationId":"get_e0a9c101_115c_4f5d_b683_1d1743c64d00_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e0a9c101-115c-4f5d-b683-1d1743c64d00\/json":{"get":{"tags":["JSON"],"summary":"新北市105年上半年新措施一覽表","description":"新北市105年上半年新措施一覽表(104年12月31日發布)","operationId":"get_e0a9c101_115c_4f5d_b683_1d1743c64d00_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e0a9c101-115c-4f5d-b683-1d1743c64d00\/xml":{"get":{"tags":["XML"],"summary":"新北市105年上半年新措施一覽表","description":"新北市105年上半年新措施一覽表(104年12月31日發布)","operationId":"get_e0a9c101_115c_4f5d_b683_1d1743c64d00_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ce656587-8da1-4fe7-923a-242dd3c804e3\/csv":{"get":{"tags":["CSV"],"summary":"新北市105年下半年新措施一覽表","description":"新北市105年下半年新措施一覽表(105年6月30日發布)","operationId":"get_ce656587_8da1_4fe7_923a_242dd3c804e3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ce656587-8da1-4fe7-923a-242dd3c804e3\/json":{"get":{"tags":["JSON"],"summary":"新北市105年下半年新措施一覽表","description":"新北市105年下半年新措施一覽表(105年6月30日發布)","operationId":"get_ce656587_8da1_4fe7_923a_242dd3c804e3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ce656587-8da1-4fe7-923a-242dd3c804e3\/xml":{"get":{"tags":["XML"],"summary":"新北市105年下半年新措施一覽表","description":"新北市105年下半年新措施一覽表(105年6月30日發布)","operationId":"get_ce656587_8da1_4fe7_923a_242dd3c804e3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b98f0794-647f-47cb-81ee-fbbd4004cdc1\/csv":{"get":{"tags":["CSV"],"summary":"新北市106年上半年新措施一覽表","description":"新北市106年上半年新措施一覽表(105年12月27日發布)","operationId":"get_b98f0794_647f_47cb_81ee_fbbd4004cdc1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b98f0794-647f-47cb-81ee-fbbd4004cdc1\/json":{"get":{"tags":["JSON"],"summary":"新北市106年上半年新措施一覽表","description":"新北市106年上半年新措施一覽表(105年12月27日發布)","operationId":"get_b98f0794_647f_47cb_81ee_fbbd4004cdc1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b98f0794-647f-47cb-81ee-fbbd4004cdc1\/xml":{"get":{"tags":["XML"],"summary":"新北市106年上半年新措施一覽表","description":"新北市106年上半年新措施一覽表(105年12月27日發布)","operationId":"get_b98f0794_647f_47cb_81ee_fbbd4004cdc1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7ad3d093-e0a7-4903-9119-3db3cfb4d4c3\/csv":{"get":{"tags":["CSV"],"summary":"新北市106年下半年新措施一覽表","description":"新北市106年下半年新措施一覽表(106年6月30日發布)","operationId":"get_7ad3d093_e0a7_4903_9119_3db3cfb4d4c3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7ad3d093-e0a7-4903-9119-3db3cfb4d4c3\/json":{"get":{"tags":["JSON"],"summary":"新北市106年下半年新措施一覽表","description":"新北市106年下半年新措施一覽表(106年6月30日發布)","operationId":"get_7ad3d093_e0a7_4903_9119_3db3cfb4d4c3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7ad3d093-e0a7-4903-9119-3db3cfb4d4c3\/xml":{"get":{"tags":["XML"],"summary":"新北市106年下半年新措施一覽表","description":"新北市106年下半年新措施一覽表(106年6月30日發布)","operationId":"get_7ad3d093_e0a7_4903_9119_3db3cfb4d4c3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/aa2087ec-c821-4663-9abb-58182c17fe21\/csv":{"get":{"tags":["CSV"],"summary":"新北市107年上半年新措施一覽表","description":"新北市107年上半年新措施一覽表(106年12月29日發布)","operationId":"get_aa2087ec_c821_4663_9abb_58182c17fe21_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/aa2087ec-c821-4663-9abb-58182c17fe21\/json":{"get":{"tags":["JSON"],"summary":"新北市107年上半年新措施一覽表","description":"新北市107年上半年新措施一覽表(106年12月29日發布)","operationId":"get_aa2087ec_c821_4663_9abb_58182c17fe21_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/aa2087ec-c821-4663-9abb-58182c17fe21\/xml":{"get":{"tags":["XML"],"summary":"新北市107年上半年新措施一覽表","description":"新北市107年上半年新措施一覽表(106年12月29日發布)","operationId":"get_aa2087ec_c821_4663_9abb_58182c17fe21_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/556ac4aa-4a22-4179-bc37-c98f59bd5eb4\/csv":{"get":{"tags":["CSV"],"summary":"新北市107年下半年新措施一覽表","description":"新北市107年下半年新措施一覽表(107年6月28日發布)","operationId":"get_556ac4aa_4a22_4179_bc37_c98f59bd5eb4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/556ac4aa-4a22-4179-bc37-c98f59bd5eb4\/json":{"get":{"tags":["JSON"],"summary":"新北市107年下半年新措施一覽表","description":"新北市107年下半年新措施一覽表(107年6月28日發布)","operationId":"get_556ac4aa_4a22_4179_bc37_c98f59bd5eb4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/556ac4aa-4a22-4179-bc37-c98f59bd5eb4\/xml":{"get":{"tags":["XML"],"summary":"新北市107年下半年新措施一覽表","description":"新北市107年下半年新措施一覽表(107年6月28日發布)","operationId":"get_556ac4aa_4a22_4179_bc37_c98f59bd5eb4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c660ec98-0ffb-497d-9a4b-91e906e48709\/csv":{"get":{"tags":["CSV"],"summary":"新北市108年上半年新措施一覽表","description":"新北市108年上半年新措施一覽表(107年12月31日發布)","operationId":"get_c660ec98_0ffb_497d_9a4b_91e906e48709_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c660ec98-0ffb-497d-9a4b-91e906e48709\/json":{"get":{"tags":["JSON"],"summary":"新北市108年上半年新措施一覽表","description":"新北市108年上半年新措施一覽表(107年12月31日發布)","operationId":"get_c660ec98_0ffb_497d_9a4b_91e906e48709_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c660ec98-0ffb-497d-9a4b-91e906e48709\/xml":{"get":{"tags":["XML"],"summary":"新北市108年上半年新措施一覽表","description":"新北市108年上半年新措施一覽表(107年12月31日發布)","operationId":"get_c660ec98_0ffb_497d_9a4b_91e906e48709_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0bce1d9f-3795-45bc-9667-b90fee1e8a08\/csv":{"get":{"tags":["CSV"],"summary":"新北市108年下半年新措施一覽表","description":"新北市108年下半年新措施一覽表(108年)","operationId":"get_0bce1d9f_3795_45bc_9667_b90fee1e8a08_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0bce1d9f-3795-45bc-9667-b90fee1e8a08\/json":{"get":{"tags":["JSON"],"summary":"新北市108年下半年新措施一覽表","description":"新北市108年下半年新措施一覽表(108年)","operationId":"get_0bce1d9f_3795_45bc_9667_b90fee1e8a08_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0bce1d9f-3795-45bc-9667-b90fee1e8a08\/xml":{"get":{"tags":["XML"],"summary":"新北市108年下半年新措施一覽表","description":"新北市108年下半年新措施一覽表(108年)","operationId":"get_0bce1d9f_3795_45bc_9667_b90fee1e8a08_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/31866f92-8d32-4db0-9415-4c6e0246c39a\/csv":{"get":{"tags":["CSV"],"summary":"新北市109年上半年新措施一覽表","description":"新北市109年上半年新措施一覽表(108年12月31日發布)","operationId":"get_31866f92_8d32_4db0_9415_4c6e0246c39a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/31866f92-8d32-4db0-9415-4c6e0246c39a\/json":{"get":{"tags":["JSON"],"summary":"新北市109年上半年新措施一覽表","description":"新北市109年上半年新措施一覽表(108年12月31日發布)","operationId":"get_31866f92_8d32_4db0_9415_4c6e0246c39a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/31866f92-8d32-4db0-9415-4c6e0246c39a\/xml":{"get":{"tags":["XML"],"summary":"新北市109年上半年新措施一覽表","description":"新北市109年上半年新措施一覽表(108年12月31日發布)","operationId":"get_31866f92_8d32_4db0_9415_4c6e0246c39a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/80b358e9-b16f-408d-88ac-e2c219a8dd9c\/csv":{"get":{"tags":["CSV"],"summary":"新北市109年下半年新措施一覽表","description":"新北市109年下半年新措施一覽表(109年6月30日發布)","operationId":"get_80b358e9_b16f_408d_88ac_e2c219a8dd9c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/80b358e9-b16f-408d-88ac-e2c219a8dd9c\/json":{"get":{"tags":["JSON"],"summary":"新北市109年下半年新措施一覽表","description":"新北市109年下半年新措施一覽表(109年6月30日發布)","operationId":"get_80b358e9_b16f_408d_88ac_e2c219a8dd9c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/80b358e9-b16f-408d-88ac-e2c219a8dd9c\/xml":{"get":{"tags":["XML"],"summary":"新北市109年下半年新措施一覽表","description":"新北市109年下半年新措施一覽表(109年6月30日發布)","operationId":"get_80b358e9_b16f_408d_88ac_e2c219a8dd9c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/efa4217a-2aac-4d7e-b1a7-422f439b85ee\/csv":{"get":{"tags":["CSV"],"summary":"新北市110年上半年新措施一覽表","description":"新北市110年上半年新措施一覽表(109年12月24日發布)","operationId":"get_efa4217a_2aac_4d7e_b1a7_422f439b85ee_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/efa4217a-2aac-4d7e-b1a7-422f439b85ee\/json":{"get":{"tags":["JSON"],"summary":"新北市110年上半年新措施一覽表","description":"新北市110年上半年新措施一覽表(109年12月24日發布)","operationId":"get_efa4217a_2aac_4d7e_b1a7_422f439b85ee_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/efa4217a-2aac-4d7e-b1a7-422f439b85ee\/xml":{"get":{"tags":["XML"],"summary":"新北市110年上半年新措施一覽表","description":"新北市110年上半年新措施一覽表(109年12月24日發布)","operationId":"get_efa4217a_2aac_4d7e_b1a7_422f439b85ee_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/54754a01-c603-488f-a602-42a8d79970fe\/csv":{"get":{"tags":["CSV"],"summary":"新北市110年下半年新措施一覽表","description":"新北市110年下半年新措施一覽表(110年6月29日發布)","operationId":"get_54754a01_c603_488f_a602_42a8d79970fe_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/54754a01-c603-488f-a602-42a8d79970fe\/json":{"get":{"tags":["JSON"],"summary":"新北市110年下半年新措施一覽表","description":"新北市110年下半年新措施一覽表(110年6月29日發布)","operationId":"get_54754a01_c603_488f_a602_42a8d79970fe_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/54754a01-c603-488f-a602-42a8d79970fe\/xml":{"get":{"tags":["XML"],"summary":"新北市110年下半年新措施一覽表","description":"新北市110年下半年新措施一覽表(110年6月29日發布)","operationId":"get_54754a01_c603_488f_a602_42a8d79970fe_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3bf5fdbb-f445-48ed-b972-258bf0818227\/csv":{"get":{"tags":["CSV"],"summary":"新北市111年上半年新措施一覽表","description":"新北市111年上半年新措施一覽表(110年12月30日發布)","operationId":"get_3bf5fdbb_f445_48ed_b972_258bf0818227_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3bf5fdbb-f445-48ed-b972-258bf0818227\/json":{"get":{"tags":["JSON"],"summary":"新北市111年上半年新措施一覽表","description":"新北市111年上半年新措施一覽表(110年12月30日發布)","operationId":"get_3bf5fdbb_f445_48ed_b972_258bf0818227_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3bf5fdbb-f445-48ed-b972-258bf0818227\/xml":{"get":{"tags":["XML"],"summary":"新北市111年上半年新措施一覽表","description":"新北市111年上半年新措施一覽表(110年12月30日發布)","operationId":"get_3bf5fdbb_f445_48ed_b972_258bf0818227_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7de0e6aa-6140-4824-95b5-2cd847c4c25d\/csv":{"get":{"tags":["CSV"],"summary":"新北市111年下半年新措施一覽表","description":"新北市111年下半年新措施一覽表(111年6月22日發布)","operationId":"get_7de0e6aa_6140_4824_95b5_2cd847c4c25d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7de0e6aa-6140-4824-95b5-2cd847c4c25d\/json":{"get":{"tags":["JSON"],"summary":"新北市111年下半年新措施一覽表","description":"新北市111年下半年新措施一覽表(111年6月22日發布)","operationId":"get_7de0e6aa_6140_4824_95b5_2cd847c4c25d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7de0e6aa-6140-4824-95b5-2cd847c4c25d\/xml":{"get":{"tags":["XML"],"summary":"新北市111年下半年新措施一覽表","description":"新北市111年下半年新措施一覽表(111年6月22日發布)","operationId":"get_7de0e6aa_6140_4824_95b5_2cd847c4c25d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/589ad9a4-8ba3-43a5-8075-396bf71310cf\/csv":{"get":{"tags":["CSV"],"summary":"新北市112年上半年新措施一覽表","description":"新北市112年上半年新措施一覽表(111年12月20日發布)","operationId":"get_589ad9a4_8ba3_43a5_8075_396bf71310cf_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/589ad9a4-8ba3-43a5-8075-396bf71310cf\/json":{"get":{"tags":["JSON"],"summary":"新北市112年上半年新措施一覽表","description":"新北市112年上半年新措施一覽表(111年12月20日發布)","operationId":"get_589ad9a4_8ba3_43a5_8075_396bf71310cf_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/589ad9a4-8ba3-43a5-8075-396bf71310cf\/xml":{"get":{"tags":["XML"],"summary":"新北市112年上半年新措施一覽表","description":"新北市112年上半年新措施一覽表(111年12月20日發布)","operationId":"get_589ad9a4_8ba3_43a5_8075_396bf71310cf_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/da67805c-7560-4757-817e-c69e3f4dc625\/csv":{"get":{"tags":["CSV"],"summary":"新北市112年下半年新措施一覽表","description":"新北市112年下半年新措施一覽表(112年6月21日發布)","operationId":"get_da67805c_7560_4757_817e_c69e3f4dc625_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/da67805c-7560-4757-817e-c69e3f4dc625\/json":{"get":{"tags":["JSON"],"summary":"新北市112年下半年新措施一覽表","description":"新北市112年下半年新措施一覽表(112年6月21日發布)","operationId":"get_da67805c_7560_4757_817e_c69e3f4dc625_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/da67805c-7560-4757-817e-c69e3f4dc625\/xml":{"get":{"tags":["XML"],"summary":"新北市112年下半年新措施一覽表","description":"新北市112年下半年新措施一覽表(112年6月21日發布)","operationId":"get_da67805c_7560_4757_817e_c69e3f4dc625_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/add0f92a-8483-4494-a560-a0b941d2f983\/csv":{"get":{"tags":["CSV"],"summary":"新北市113年上半年新措施一覽表","description":" 新北市113年上半年新措施一覽表(112年12月21日發布)","operationId":"get_add0f92a_8483_4494_a560_a0b941d2f983_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/add0f92a-8483-4494-a560-a0b941d2f983\/json":{"get":{"tags":["JSON"],"summary":"新北市113年上半年新措施一覽表","description":" 新北市113年上半年新措施一覽表(112年12月21日發布)","operationId":"get_add0f92a_8483_4494_a560_a0b941d2f983_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/add0f92a-8483-4494-a560-a0b941d2f983\/xml":{"get":{"tags":["XML"],"summary":"新北市113年上半年新措施一覽表","description":" 新北市113年上半年新措施一覽表(112年12月21日發布)","operationId":"get_add0f92a_8483_4494_a560_a0b941d2f983_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/86d9d60b-37f8-41f6-99aa-9909541df44d\/csv":{"get":{"tags":["CSV"],"summary":" 新北市113年下半年新措施一覽表","description":" 新北市113年下半年新措施一覽表(113年6月26日發布)","operationId":"get_86d9d60b_37f8_41f6_99aa_9909541df44d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/86d9d60b-37f8-41f6-99aa-9909541df44d\/json":{"get":{"tags":["JSON"],"summary":" 新北市113年下半年新措施一覽表","description":" 新北市113年下半年新措施一覽表(113年6月26日發布)","operationId":"get_86d9d60b_37f8_41f6_99aa_9909541df44d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/86d9d60b-37f8-41f6-99aa-9909541df44d\/xml":{"get":{"tags":["XML"],"summary":" 新北市113年下半年新措施一覽表","description":" 新北市113年下半年新措施一覽表(113年6月26日發布)","operationId":"get_86d9d60b_37f8_41f6_99aa_9909541df44d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/dab4201c-9fb4-4563-be8b-cac990d28e03\/csv":{"get":{"tags":["CSV"],"summary":" 新北市114年上半年新措施一覽表","description":" 新北市114年上半年新措施一覽表(113年12月25日發布)","operationId":"get_dab4201c_9fb4_4563_be8b_cac990d28e03_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/dab4201c-9fb4-4563-be8b-cac990d28e03\/json":{"get":{"tags":["JSON"],"summary":" 新北市114年上半年新措施一覽表","description":" 新北市114年上半年新措施一覽表(113年12月25日發布)","operationId":"get_dab4201c_9fb4_4563_be8b_cac990d28e03_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/dab4201c-9fb4-4563-be8b-cac990d28e03\/xml":{"get":{"tags":["XML"],"summary":" 新北市114年上半年新措施一覽表","description":" 新北市114年上半年新措施一覽表(113年12月25日發布)","operationId":"get_dab4201c_9fb4_4563_be8b_cac990d28e03_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/611f4310-1bae-4f43-a2f8-1cfd510fed29\/csv":{"get":{"tags":["CSV"],"summary":"新北市114年下半年新措施一覽表","description":" 新北市114年下半年新措施一覽表(114年6月25日發布)","operationId":"get_611f4310_1bae_4f43_a2f8_1cfd510fed29_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/611f4310-1bae-4f43-a2f8-1cfd510fed29\/json":{"get":{"tags":["JSON"],"summary":"新北市114年下半年新措施一覽表","description":" 新北市114年下半年新措施一覽表(114年6月25日發布)","operationId":"get_611f4310_1bae_4f43_a2f8_1cfd510fed29_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/611f4310-1bae-4f43-a2f8-1cfd510fed29\/xml":{"get":{"tags":["XML"],"summary":"新北市114年下半年新措施一覽表","description":" 新北市114年下半年新措施一覽表(114年6月25日發布)","operationId":"get_611f4310_1bae_4f43_a2f8_1cfd510fed29_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/756816d8-b93b-4893-bbad-cf5aadd735ca\/csv":{"get":{"tags":["CSV"],"summary":"新北市1999市政服務專線便民服務工作成果表(每月)","description":"新北市1999市政服務專線便民服務工作成果表(統計期間：106年至114年8月)","operationId":"get_756816d8_b93b_4893_bbad_cf5aadd735ca_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/756816d8-b93b-4893-bbad-cf5aadd735ca\/json":{"get":{"tags":["JSON"],"summary":"新北市1999市政服務專線便民服務工作成果表(每月)","description":"新北市1999市政服務專線便民服務工作成果表(統計期間：106年至114年8月)","operationId":"get_756816d8_b93b_4893_bbad_cf5aadd735ca_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/756816d8-b93b-4893-bbad-cf5aadd735ca\/xml":{"get":{"tags":["XML"],"summary":"新北市1999市政服務專線便民服務工作成果表(每月)","description":"新北市1999市政服務專線便民服務工作成果表(統計期間：106年至114年8月)","operationId":"get_756816d8_b93b_4893_bbad_cf5aadd735ca_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/04958686-1b92-4b74-889d-9f34409b272b\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點","description":"新北市政府無線網路(NewTaipei)熱點資訊。","operationId":"get_04958686_1b92_4b74_889d_9f34409b272b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/04958686-1b92-4b74-889d-9f34409b272b\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點","description":"新北市政府無線網路(NewTaipei)熱點資訊。","operationId":"get_04958686_1b92_4b74_889d_9f34409b272b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/04958686-1b92-4b74-889d-9f34409b272b\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點","description":"新北市政府無線網路(NewTaipei)熱點資訊。","operationId":"get_04958686_1b92_4b74_889d_9f34409b272b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f4894284-6f15-4744-9f57-a003167f9e69\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-三峽區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(三峽區)","operationId":"get_f4894284_6f15_4744_9f57_a003167f9e69_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f4894284-6f15-4744-9f57-a003167f9e69\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-三峽區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(三峽區)","operationId":"get_f4894284_6f15_4744_9f57_a003167f9e69_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f4894284-6f15-4744-9f57-a003167f9e69\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-三峽區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(三峽區)","operationId":"get_f4894284_6f15_4744_9f57_a003167f9e69_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c999fe30-3817-43d4-8b8d-b1fab42bb622\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-三芝區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(三芝區)","operationId":"get_c999fe30_3817_43d4_8b8d_b1fab42bb622_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c999fe30-3817-43d4-8b8d-b1fab42bb622\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-三芝區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(三芝區)","operationId":"get_c999fe30_3817_43d4_8b8d_b1fab42bb622_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c999fe30-3817-43d4-8b8d-b1fab42bb622\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-三芝區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(三芝區)","operationId":"get_c999fe30_3817_43d4_8b8d_b1fab42bb622_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bc7c4a58-379f-4121-ad06-315130042057\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-三重區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(三重區)","operationId":"get_bc7c4a58_379f_4121_ad06_315130042057_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bc7c4a58-379f-4121-ad06-315130042057\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-三重區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(三重區)","operationId":"get_bc7c4a58_379f_4121_ad06_315130042057_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bc7c4a58-379f-4121-ad06-315130042057\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-三重區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(三重區)","operationId":"get_bc7c4a58_379f_4121_ad06_315130042057_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/549d1ee6-5fb5-4dc2-ac01-3e8be165b2e7\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-中和區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(中和區)","operationId":"get_549d1ee6_5fb5_4dc2_ac01_3e8be165b2e7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/549d1ee6-5fb5-4dc2-ac01-3e8be165b2e7\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-中和區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(中和區)","operationId":"get_549d1ee6_5fb5_4dc2_ac01_3e8be165b2e7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/549d1ee6-5fb5-4dc2-ac01-3e8be165b2e7\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-中和區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(中和區)","operationId":"get_549d1ee6_5fb5_4dc2_ac01_3e8be165b2e7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ff1e62a2-ecee-4dd6-82de-dd5d147ae86c\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-五股區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(五股區)","operationId":"get_ff1e62a2_ecee_4dd6_82de_dd5d147ae86c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ff1e62a2-ecee-4dd6-82de-dd5d147ae86c\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-五股區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(五股區)","operationId":"get_ff1e62a2_ecee_4dd6_82de_dd5d147ae86c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ff1e62a2-ecee-4dd6-82de-dd5d147ae86c\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-五股區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(五股區)","operationId":"get_ff1e62a2_ecee_4dd6_82de_dd5d147ae86c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9b953c93-8303-4244-bb0a-b0c08902ba3a\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-八里區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(八里區)","operationId":"get_9b953c93_8303_4244_bb0a_b0c08902ba3a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9b953c93-8303-4244-bb0a-b0c08902ba3a\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-八里區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(八里區)","operationId":"get_9b953c93_8303_4244_bb0a_b0c08902ba3a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9b953c93-8303-4244-bb0a-b0c08902ba3a\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-八里區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(八里區)","operationId":"get_9b953c93_8303_4244_bb0a_b0c08902ba3a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b66019c8-7b30-4f91-801b-29bdbcb9afb0\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-土城區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(土城區)","operationId":"get_b66019c8_7b30_4f91_801b_29bdbcb9afb0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b66019c8-7b30-4f91-801b-29bdbcb9afb0\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-土城區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(土城區)","operationId":"get_b66019c8_7b30_4f91_801b_29bdbcb9afb0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b66019c8-7b30-4f91-801b-29bdbcb9afb0\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-土城區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(土城區)","operationId":"get_b66019c8_7b30_4f91_801b_29bdbcb9afb0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2ea194f7-ee98-4df8-aa0e-e8a742c0a86d\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-坪林區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(坪林區)","operationId":"get_2ea194f7_ee98_4df8_aa0e_e8a742c0a86d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2ea194f7-ee98-4df8-aa0e-e8a742c0a86d\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-坪林區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(坪林區)","operationId":"get_2ea194f7_ee98_4df8_aa0e_e8a742c0a86d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2ea194f7-ee98-4df8-aa0e-e8a742c0a86d\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-坪林區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(坪林區)","operationId":"get_2ea194f7_ee98_4df8_aa0e_e8a742c0a86d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/241f0a8a-9e9b-445e-9069-c08e1ea6363d\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-平溪區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(平溪區)","operationId":"get_241f0a8a_9e9b_445e_9069_c08e1ea6363d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/241f0a8a-9e9b-445e-9069-c08e1ea6363d\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-平溪區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(平溪區)","operationId":"get_241f0a8a_9e9b_445e_9069_c08e1ea6363d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/241f0a8a-9e9b-445e-9069-c08e1ea6363d\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-平溪區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(平溪區)","operationId":"get_241f0a8a_9e9b_445e_9069_c08e1ea6363d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/04dd6c96-08fd-4973-ac96-df4ced5a4954\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-新店區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(新店區)","operationId":"get_04dd6c96_08fd_4973_ac96_df4ced5a4954_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/04dd6c96-08fd-4973-ac96-df4ced5a4954\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-新店區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(新店區)","operationId":"get_04dd6c96_08fd_4973_ac96_df4ced5a4954_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/04dd6c96-08fd-4973-ac96-df4ced5a4954\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-新店區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(新店區)","operationId":"get_04dd6c96_08fd_4973_ac96_df4ced5a4954_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/27352b84-b2e2-4053-b4eb-f50783da46dc\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-新莊區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(新莊區)","operationId":"get_27352b84_b2e2_4053_b4eb_f50783da46dc_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/27352b84-b2e2-4053-b4eb-f50783da46dc\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-新莊區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(新莊區)","operationId":"get_27352b84_b2e2_4053_b4eb_f50783da46dc_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/27352b84-b2e2-4053-b4eb-f50783da46dc\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-新莊區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(新莊區)","operationId":"get_27352b84_b2e2_4053_b4eb_f50783da46dc_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/76da0638-8dfe-4374-959c-c2f684ad9291\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-板橋區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(板橋區)","operationId":"get_76da0638_8dfe_4374_959c_c2f684ad9291_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/76da0638-8dfe-4374-959c-c2f684ad9291\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-板橋區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(板橋區)","operationId":"get_76da0638_8dfe_4374_959c_c2f684ad9291_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/76da0638-8dfe-4374-959c-c2f684ad9291\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-板橋區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(板橋區)","operationId":"get_76da0638_8dfe_4374_959c_c2f684ad9291_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d9166de7-2d3f-46c6-b453-f86f25f6984c\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-林口區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(林口區)","operationId":"get_d9166de7_2d3f_46c6_b453_f86f25f6984c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d9166de7-2d3f-46c6-b453-f86f25f6984c\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-林口區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(林口區)","operationId":"get_d9166de7_2d3f_46c6_b453_f86f25f6984c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d9166de7-2d3f-46c6-b453-f86f25f6984c\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-林口區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(林口區)","operationId":"get_d9166de7_2d3f_46c6_b453_f86f25f6984c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/539c846d-d6e8-495b-b61f-2de903dbbfaa\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-樹林區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(樹林區)","operationId":"get_539c846d_d6e8_495b_b61f_2de903dbbfaa_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/539c846d-d6e8-495b-b61f-2de903dbbfaa\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-樹林區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(樹林區)","operationId":"get_539c846d_d6e8_495b_b61f_2de903dbbfaa_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/539c846d-d6e8-495b-b61f-2de903dbbfaa\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-樹林區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(樹林區)","operationId":"get_539c846d_d6e8_495b_b61f_2de903dbbfaa_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3f3b27ce-db6c-4d51-935d-bee5cfbd2606\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-永和區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(永和區)","operationId":"get_3f3b27ce_db6c_4d51_935d_bee5cfbd2606_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3f3b27ce-db6c-4d51-935d-bee5cfbd2606\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-永和區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(永和區)","operationId":"get_3f3b27ce_db6c_4d51_935d_bee5cfbd2606_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3f3b27ce-db6c-4d51-935d-bee5cfbd2606\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-永和區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(永和區)","operationId":"get_3f3b27ce_db6c_4d51_935d_bee5cfbd2606_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3aafe50b-61d3-484f-a526-b72270253ac6\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-汐止區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(汐止區)","operationId":"get_3aafe50b_61d3_484f_a526_b72270253ac6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3aafe50b-61d3-484f-a526-b72270253ac6\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-汐止區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(汐止區)","operationId":"get_3aafe50b_61d3_484f_a526_b72270253ac6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3aafe50b-61d3-484f-a526-b72270253ac6\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-汐止區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(汐止區)","operationId":"get_3aafe50b_61d3_484f_a526_b72270253ac6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/25e4330e-882d-4e62-aa5a-529819ddaa9f\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-泰山區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(泰山區)","operationId":"get_25e4330e_882d_4e62_aa5a_529819ddaa9f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/25e4330e-882d-4e62-aa5a-529819ddaa9f\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-泰山區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(泰山區)","operationId":"get_25e4330e_882d_4e62_aa5a_529819ddaa9f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/25e4330e-882d-4e62-aa5a-529819ddaa9f\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-泰山區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(泰山區)","operationId":"get_25e4330e_882d_4e62_aa5a_529819ddaa9f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7a67b9ed-122b-4a76-a80f-3a19c2df99e8\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-淡水區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(淡水區)","operationId":"get_7a67b9ed_122b_4a76_a80f_3a19c2df99e8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7a67b9ed-122b-4a76-a80f-3a19c2df99e8\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-淡水區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(淡水區)","operationId":"get_7a67b9ed_122b_4a76_a80f_3a19c2df99e8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7a67b9ed-122b-4a76-a80f-3a19c2df99e8\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-淡水區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(淡水區)","operationId":"get_7a67b9ed_122b_4a76_a80f_3a19c2df99e8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/245a355c-248e-42a0-8850-62736459c737\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-深坑區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(深坑區)","operationId":"get_245a355c_248e_42a0_8850_62736459c737_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/245a355c-248e-42a0-8850-62736459c737\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-深坑區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(深坑區)","operationId":"get_245a355c_248e_42a0_8850_62736459c737_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/245a355c-248e-42a0-8850-62736459c737\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-深坑區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(深坑區)","operationId":"get_245a355c_248e_42a0_8850_62736459c737_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5918200a-6b34-4c7c-9eeb-c787d858133e\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-烏來區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(烏來區)","operationId":"get_5918200a_6b34_4c7c_9eeb_c787d858133e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5918200a-6b34-4c7c-9eeb-c787d858133e\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-烏來區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(烏來區)","operationId":"get_5918200a_6b34_4c7c_9eeb_c787d858133e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5918200a-6b34-4c7c-9eeb-c787d858133e\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-烏來區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(烏來區)","operationId":"get_5918200a_6b34_4c7c_9eeb_c787d858133e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e0df2bf8-9657-4570-8725-7e6c802c8234\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-瑞芳區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(瑞芳區)","operationId":"get_e0df2bf8_9657_4570_8725_7e6c802c8234_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e0df2bf8-9657-4570-8725-7e6c802c8234\/json":{"get":{"tags":["JSON"],"summary":"新北市NewTaipei熱點-瑞芳區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(瑞芳區)","operationId":"get_e0df2bf8_9657_4570_8725_7e6c802c8234_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e0df2bf8-9657-4570-8725-7e6c802c8234\/xml":{"get":{"tags":["XML"],"summary":"新北市NewTaipei熱點-瑞芳區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(瑞芳區)","operationId":"get_e0df2bf8_9657_4570_8725_7e6c802c8234_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0476c573-e716-49ee-bfe1-acb53325bab9\/csv":{"get":{"tags":["CSV"],"summary":"新北市NewTaipei熱點-石碇區","description":"新北市政府無線網路(NewTaipei)熱點資訊。(石碇區)","operationId":"get_0476c573_e716_49ee_bfe1_acb53325bab9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}
[...]
