{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/f1de3ad5-560e-41e4-a68e-7cd03a40f1a0\/csv":{"get":{"tags":["CSV"],"summary":"113年新北市政府消防局辦理國家賠償事件收結情形表","description":"提供新北市政府消防局辦理國家賠償事件收結情形","operationId":"get_f1de3ad5_560e_41e4_a68e_7cd03a40f1a0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f1de3ad5-560e-41e4-a68e-7cd03a40f1a0\/json":{"get":{"tags":["JSON"],"summary":"113年新北市政府消防局辦理國家賠償事件收結情形表","description":"提供新北市政府消防局辦理國家賠償事件收結情形","operationId":"get_f1de3ad5_560e_41e4_a68e_7cd03a40f1a0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f1de3ad5-560e-41e4-a68e-7cd03a40f1a0\/xml":{"get":{"tags":["XML"],"summary":"113年新北市政府消防局辦理國家賠償事件收結情形表","description":"提供新北市政府消防局辦理國家賠償事件收結情形","operationId":"get_f1de3ad5_560e_41e4_a68e_7cd03a40f1a0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/574d983f-8693-4161-80a5-76e18f2f9594\/csv":{"get":{"tags":["CSV"],"summary":"成立災害應變中心一覽表","description":"新北市成立災害應變中心一覽表","operationId":"get_574d983f_8693_4161_80a5_76e18f2f9594_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/574d983f-8693-4161-80a5-76e18f2f9594\/json":{"get":{"tags":["JSON"],"summary":"成立災害應變中心一覽表","description":"新北市成立災害應變中心一覽表","operationId":"get_574d983f_8693_4161_80a5_76e18f2f9594_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/574d983f-8693-4161-80a5-76e18f2f9594\/xml":{"get":{"tags":["XML"],"summary":"成立災害應變中心一覽表","description":"新北市成立災害應變中心一覽表","operationId":"get_574d983f_8693_4161_80a5_76e18f2f9594_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5e423d7c-63f2-49b6-bbce-75465db5d12c\/csv":{"get":{"tags":["CSV"],"summary":"救護車裝備捐贈芳名錄","description":"救護車裝備捐贈資訊","operationId":"get_5e423d7c_63f2_49b6_bbce_75465db5d12c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5e423d7c-63f2-49b6-bbce-75465db5d12c\/json":{"get":{"tags":["JSON"],"summary":"救護車裝備捐贈芳名錄","description":"救護車裝備捐贈資訊","operationId":"get_5e423d7c_63f2_49b6_bbce_75465db5d12c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5e423d7c-63f2-49b6-bbce-75465db5d12c\/xml":{"get":{"tags":["XML"],"summary":"救護車裝備捐贈芳名錄","description":"救護車裝備捐贈資訊","operationId":"get_5e423d7c_63f2_49b6_bbce_75465db5d12c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/713f49a4-4244-4be7-b71d-5e83db7859e8\/csv":{"get":{"tags":["CSV"],"summary":"新北市-113年緊急醫療醫院能力分級","description":"新北市-113年緊急醫療醫院能力分級。","operationId":"get_713f49a4_4244_4be7_b71d_5e83db7859e8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/713f49a4-4244-4be7-b71d-5e83db7859e8\/json":{"get":{"tags":["JSON"],"summary":"新北市-113年緊急醫療醫院能力分級","description":"新北市-113年緊急醫療醫院能力分級。","operationId":"get_713f49a4_4244_4be7_b71d_5e83db7859e8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/713f49a4-4244-4be7-b71d-5e83db7859e8\/xml":{"get":{"tags":["XML"],"summary":"新北市-113年緊急醫療醫院能力分級","description":"新北市-113年緊急醫療醫院能力分級。","operationId":"get_713f49a4_4244_4be7_b71d_5e83db7859e8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/01b21e91-b51f-4ff9-a3bf-f21997b38d4e\/csv":{"get":{"tags":["CSV"],"summary":"新北市免費救生衣借用點","description":"新北市轄內消防、警察及海巡單位提供遊客免費借用救生衣之地點","operationId":"get_01b21e91_b51f_4ff9_a3bf_f21997b38d4e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/01b21e91-b51f-4ff9-a3bf-f21997b38d4e\/json":{"get":{"tags":["JSON"],"summary":"新北市免費救生衣借用點","description":"新北市轄內消防、警察及海巡單位提供遊客免費借用救生衣之地點","operationId":"get_01b21e91_b51f_4ff9_a3bf_f21997b38d4e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/01b21e91-b51f-4ff9-a3bf-f21997b38d4e\/xml":{"get":{"tags":["XML"],"summary":"新北市免費救生衣借用點","description":"新北市轄內消防、警察及海巡單位提供遊客免費借用救生衣之地點","operationId":"get_01b21e91_b51f_4ff9_a3bf_f21997b38d4e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8ea9491d-ff84-4525-9264-86a2097cca97\/csv":{"get":{"tags":["CSV"],"summary":"新北市危險水域","description":"新北市政府消防局提供您危險水域，提醒您出遊時要小心遠離危險提供的欄位包含了編號、行政區、危險水域地點","operationId":"get_8ea9491d_ff84_4525_9264_86a2097cca97_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8ea9491d-ff84-4525-9264-86a2097cca97\/json":{"get":{"tags":["JSON"],"summary":"新北市危險水域","description":"新北市政府消防局提供您危險水域，提醒您出遊時要小心遠離危險提供的欄位包含了編號、行政區、危險水域地點","operationId":"get_8ea9491d_ff84_4525_9264_86a2097cca97_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8ea9491d-ff84-4525-9264-86a2097cca97\/xml":{"get":{"tags":["XML"],"summary":"新北市危險水域","description":"新北市政府消防局提供您危險水域，提醒您出遊時要小心遠離危險提供的欄位包含了編號、行政區、危險水域地點","operationId":"get_8ea9491d_ff84_4525_9264_86a2097cca97_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/842d0887-071f-4f67-aeb5-7da724004703\/csv":{"get":{"tags":["CSV"],"summary":"新北市各區防災地圖","description":"新北市各區防災地圖GIS網址清單","operationId":"get_842d0887_071f_4f67_aeb5_7da724004703_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/842d0887-071f-4f67-aeb5-7da724004703\/json":{"get":{"tags":["JSON"],"summary":"新北市各區防災地圖","description":"新北市各區防災地圖GIS網址清單","operationId":"get_842d0887_071f_4f67_aeb5_7da724004703_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/842d0887-071f-4f67-aeb5-7da724004703\/xml":{"get":{"tags":["XML"],"summary":"新北市各區防災地圖","description":"新北市各區防災地圖GIS網址清單","operationId":"get_842d0887_071f_4f67_aeb5_7da724004703_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/84ea5e70-3e88-4124-ab6f-83747361a5e2\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府消防局捐贈消防人員車輛及裝備器材芳名錄","description":"新北市政府消防局捐贈消防人員車輛及裝備器材捐贈資料","operationId":"get_84ea5e70_3e88_4124_ab6f_83747361a5e2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/84ea5e70-3e88-4124-ab6f-83747361a5e2\/json":{"get":{"tags":["JSON"],"summary":"新北市政府消防局捐贈消防人員車輛及裝備器材芳名錄","description":"新北市政府消防局捐贈消防人員車輛及裝備器材捐贈資料","operationId":"get_84ea5e70_3e88_4124_ab6f_83747361a5e2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/84ea5e70-3e88-4124-ab6f-83747361a5e2\/xml":{"get":{"tags":["XML"],"summary":"新北市政府消防局捐贈消防人員車輛及裝備器材芳名錄","description":"新北市政府消防局捐贈消防人員車輛及裝備器材捐贈資料","operationId":"get_84ea5e70_3e88_4124_ab6f_83747361a5e2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3640207c-eb19-4f8f-a180-37b20dd872cd\/csv":{"get":{"tags":["CSV"],"summary":" 新北市政府消防局救災救護指揮中心受理電話量","description":"新北市政府消防局救災救護指揮中心(119)受理電話量","operationId":"get_3640207c_eb19_4f8f_a180_37b20dd872cd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3640207c-eb19-4f8f-a180-37b20dd872cd\/json":{"get":{"tags":["JSON"],"summary":" 新北市政府消防局救災救護指揮中心受理電話量","description":"新北市政府消防局救災救護指揮中心(119)受理電話量","operationId":"get_3640207c_eb19_4f8f_a180_37b20dd872cd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3640207c-eb19-4f8f-a180-37b20dd872cd\/xml":{"get":{"tags":["XML"],"summary":" 新北市政府消防局救災救護指揮中心受理電話量","description":"新北市政府消防局救災救護指揮中心(119)受理電話量","operationId":"get_3640207c_eb19_4f8f_a180_37b20dd872cd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/80dc6551-a36d-4172-968c-4f72d74db82f\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府消防據點","description":"新北市政府消防據點清冊(消防局各大隊、分隊位址及聯絡電話)","operationId":"get_80dc6551_a36d_4172_968c_4f72d74db82f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/80dc6551-a36d-4172-968c-4f72d74db82f\/json":{"get":{"tags":["JSON"],"summary":"新北市政府消防據點","description":"新北市政府消防據點清冊(消防局各大隊、分隊位址及聯絡電話)","operationId":"get_80dc6551_a36d_4172_968c_4f72d74db82f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/80dc6551-a36d-4172-968c-4f72d74db82f\/xml":{"get":{"tags":["XML"],"summary":"新北市政府消防據點","description":"新北市政府消防據點清冊(消防局各大隊、分隊位址及聯絡電話)","operationId":"get_80dc6551_a36d_4172_968c_4f72d74db82f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/492c2e0a-44c4-4e2d-ab74-a90e728fae9f\/csv":{"get":{"tags":["CSV"],"summary":"新北市易發生危險之釣魚區域","description":"新北市易發生危險之釣魚區域清冊","operationId":"get_492c2e0a_44c4_4e2d_ab74_a90e728fae9f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/492c2e0a-44c4-4e2d-ab74-a90e728fae9f\/json":{"get":{"tags":["JSON"],"summary":"新北市易發生危險之釣魚區域","description":"新北市易發生危險之釣魚區域清冊","operationId":"get_492c2e0a_44c4_4e2d_ab74_a90e728fae9f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/492c2e0a-44c4-4e2d-ab74-a90e728fae9f\/xml":{"get":{"tags":["XML"],"summary":"新北市易發生危險之釣魚區域","description":"新北市易發生危險之釣魚區域清冊","operationId":"get_492c2e0a_44c4_4e2d_ab74_a90e728fae9f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/aad3d6e0-6e6e-44ff-a658-aad41e84c6ef\/csv":{"get":{"tags":["CSV"],"summary":"新北市易發生溺水地點","description":"新北市易發生溺水地點分析","operationId":"get_aad3d6e0_6e6e_44ff_a658_aad41e84c6ef_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/aad3d6e0-6e6e-44ff-a658-aad41e84c6ef\/json":{"get":{"tags":["JSON"],"summary":"新北市易發生溺水地點","description":"新北市易發生溺水地點分析","operationId":"get_aad3d6e0_6e6e_44ff_a658_aad41e84c6ef_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/aad3d6e0-6e6e-44ff-a658-aad41e84c6ef\/xml":{"get":{"tags":["XML"],"summary":"新北市易發生溺水地點","description":"新北市易發生溺水地點分析","operationId":"get_aad3d6e0_6e6e_44ff_a658_aad41e84c6ef_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/381427dd-3cf4-43f4-af0e-0ae4461f996c\/csv":{"get":{"tags":["CSV"],"summary":"新北市歷年重大災害一覽表","description":"新北市歷年重大災害發生時間、地點及災情程度","operationId":"get_381427dd_3cf4_43f4_af0e_0ae4461f996c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/381427dd-3cf4-43f4-af0e-0ae4461f996c\/json":{"get":{"tags":["JSON"],"summary":"新北市歷年重大災害一覽表","description":"新北市歷年重大災害發生時間、地點及災情程度","operationId":"get_381427dd_3cf4_43f4_af0e_0ae4461f996c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/381427dd-3cf4-43f4-af0e-0ae4461f996c\/xml":{"get":{"tags":["XML"],"summary":"新北市歷年重大災害一覽表","description":"新北市歷年重大災害發生時間、地點及災情程度","operationId":"get_381427dd_3cf4_43f4_af0e_0ae4461f996c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e81bb1d3-883d-40f1-b841-8ac9698d5f0d\/csv":{"get":{"tags":["CSV"],"summary":"新北市滅火器性能檢查及藥劑更換充填作業專業廠商","description":"新北市滅火器性能檢查及藥劑更換充填作業專業廠商清冊","operationId":"get_e81bb1d3_883d_40f1_b841_8ac9698d5f0d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e81bb1d3-883d-40f1-b841-8ac9698d5f0d\/json":{"get":{"tags":["JSON"],"summary":"新北市滅火器性能檢查及藥劑更換充填作業專業廠商","description":"新北市滅火器性能檢查及藥劑更換充填作業專業廠商清冊","operationId":"get_e81bb1d3_883d_40f1_b841_8ac9698d5f0d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e81bb1d3-883d-40f1-b841-8ac9698d5f0d\/xml":{"get":{"tags":["XML"],"summary":"新北市滅火器性能檢查及藥劑更換充填作業專業廠商","description":"新北市滅火器性能檢查及藥劑更換充填作業專業廠商清冊","operationId":"get_e81bb1d3_883d_40f1_b841_8ac9698d5f0d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/25c46328-cbff-4cb4-b8aa-2d045ead6749\/csv":{"get":{"tags":["CSV"],"summary":"新北市火災人員死傷、財物損失","description":"新北市火災人員死傷、財物損失。","operationId":"get_25c46328_cbff_4cb4_b8aa_2d045ead6749_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/25c46328-cbff-4cb4-b8aa-2d045ead6749\/json":{"get":{"tags":["JSON"],"summary":"新北市火災人員死傷、財物損失","description":"新北市火災人員死傷、財物損失。","operationId":"get_25c46328_cbff_4cb4_b8aa_2d045ead6749_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/25c46328-cbff-4cb4-b8aa-2d045ead6749\/xml":{"get":{"tags":["XML"],"summary":"新北市火災人員死傷、財物損失","description":"新北市火災人員死傷、財物損失。","operationId":"get_25c46328_cbff_4cb4_b8aa_2d045ead6749_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5fdac0e3-7115-427a-8ef5-4cfb2f056c18\/csv":{"get":{"tags":["CSV"],"summary":"新北市火災次數分類及時間","description":"新北市火災次數分類及時間。","operationId":"get_5fdac0e3_7115_427a_8ef5_4cfb2f056c18_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5fdac0e3-7115-427a-8ef5-4cfb2f056c18\/json":{"get":{"tags":["JSON"],"summary":"新北市火災次數分類及時間","description":"新北市火災次數分類及時間。","operationId":"get_5fdac0e3_7115_427a_8ef5_4cfb2f056c18_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5fdac0e3-7115-427a-8ef5-4cfb2f056c18\/xml":{"get":{"tags":["XML"],"summary":"新北市火災次數分類及時間","description":"新北市火災次數分類及時間。","operationId":"get_5fdac0e3_7115_427a_8ef5_4cfb2f056c18_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cb1a181c-34f0-44d2-a72a-0053d9dd4153\/csv":{"get":{"tags":["CSV"],"summary":"新北市火災次數按起火原因分","description":"新北市火災次數按起火原因分。","operationId":"get_cb1a181c_34f0_44d2_a72a_0053d9dd4153_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cb1a181c-34f0-44d2-a72a-0053d9dd4153\/json":{"get":{"tags":["JSON"],"summary":"新北市火災次數按起火原因分","description":"新北市火災次數按起火原因分。","operationId":"get_cb1a181c_34f0_44d2_a72a_0053d9dd4153_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/cb1a181c-34f0-44d2-a72a-0053d9dd4153\/xml":{"get":{"tags":["XML"],"summary":"新北市火災次數按起火原因分","description":"新北市火災次數按起火原因分。","operationId":"get_cb1a181c_34f0_44d2_a72a_0053d9dd4153_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/640adb33-148b-4f5f-9899-d2a69a2d5de2\/csv":{"get":{"tags":["CSV"],"summary":"新北市火災次數按起火處所分","description":"新北市火災次數按起火處所分編製說明\r\n一、統計範圍及對象：凡所發生火災之起火處所均為統計對象。\r\n二、統計標準時間：以每月1日至月底之事實為準。","operationId":"get_640adb33_148b_4f5f_9899_d2a69a2d5de2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/640adb33-148b-4f5f-9899-d2a69a2d5de2\/json":{"get":{"tags":["JSON"],"summary":"新北市火災次數按起火處所分","description":"新北市火災次數按起火處所分編製說明\r\n一、統計範圍及對象：凡所發生火災之起火處所均為統計對象。\r\n二、統計標準時間：以每月1日至月底之事實為準。","operationId":"get_640adb33_148b_4f5f_9899_d2a69a2d5de2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/640adb33-148b-4f5f-9899-d2a69a2d5de2\/xml":{"get":{"tags":["XML"],"summary":"新北市火災次數按起火處所分","description":"新北市火災次數按起火處所分編製說明\r\n一、統計範圍及對象：凡所發生火災之起火處所均為統計對象。\r\n二、統計標準時間：以每月1日至月底之事實為準。","operationId":"get_640adb33_148b_4f5f_9899_d2a69a2d5de2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5e5bd1b4-b5fd-406b-84c4-ae2d70d2ba71\/csv":{"get":{"tags":["CSV"],"summary":"新北市狹小巷道列管清冊","description":"提供本列管清冊供民眾查詢","operationId":"get_5e5bd1b4_b5fd_406b_84c4_ae2d70d2ba71_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5e5bd1b4-b5fd-406b-84c4-ae2d70d2ba71\/json":{"get":{"tags":["JSON"],"summary":"新北市狹小巷道列管清冊","description":"提供本列管清冊供民眾查詢","operationId":"get_5e5bd1b4_b5fd_406b_84c4_ae2d70d2ba71_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5e5bd1b4-b5fd-406b-84c4-ae2d70d2ba71\/xml":{"get":{"tags":["XML"],"summary":"新北市狹小巷道列管清冊","description":"提供本列管清冊供民眾查詢","operationId":"get_5e5bd1b4_b5fd_406b_84c4_ae2d70d2ba71_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e6ed4801-bb8e-47c3-8638-c5d6895caa48\/csv":{"get":{"tags":["CSV"],"summary":"新北市義勇消防總隊接受捐贈","description":"新北市義勇消防總隊接受捐贈資訊","operationId":"get_e6ed4801_bb8e_47c3_8638_c5d6895caa48_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e6ed4801-bb8e-47c3-8638-c5d6895caa48\/json":{"get":{"tags":["JSON"],"summary":"新北市義勇消防總隊接受捐贈","description":"新北市義勇消防總隊接受捐贈資訊","operationId":"get_e6ed4801_bb8e_47c3_8638_c5d6895caa48_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e6ed4801-bb8e-47c3-8638-c5d6895caa48\/xml":{"get":{"tags":["XML"],"summary":"新北市義勇消防總隊接受捐贈","description":"新北市義勇消防總隊接受捐贈資訊","operationId":"get_e6ed4801_bb8e_47c3_8638_c5d6895caa48_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cc243e1c-d8ea-4211-8c09-c969a8ac3624\/csv":{"get":{"tags":["CSV"],"summary":"新北市起火建築物","description":"新北市起火建築物編製說明\r\n一、統計範圍及對象：凡所發生火災之建築物均為統計對象。\r\n二、統計標準時間：以每月1日至月底之事實為準。\r\n","operationId":"get_cc243e1c_d8ea_4211_8c09_c969a8ac3624_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cc243e1c-d8ea-4211-8c09-c969a8ac3624\/json":{"get":{"tags":["JSON"],"summary":"新北市起火建築物","description":"新北市起火建築物編製說明\r\n一、統計範圍及對象：凡所發生火災之建築物均為統計對象。\r\n二、統計標準時間：以每月1日至月底之事實為準。\r\n","operationId":"get_cc243e1c_d8ea_4211_8c09_c969a8ac3624_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/cc243e1c-d8ea-4211-8c09-c969a8ac3624\/xml":{"get":{"tags":["XML"],"summary":"新北市起火建築物","description":"新北市起火建築物編製說明\r\n一、統計範圍及對象：凡所發生火災之建築物均為統計對象。\r\n二、統計標準時間：以每月1日至月底之事實為準。\r\n","operationId":"get_cc243e1c_d8ea_4211_8c09_c969a8ac3624_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3c0c5742-a78c-418f-95f2-19057258f93e\/csv":{"get":{"tags":["CSV"],"summary":"消防安全檢查重大不合格場所公告","description":"新北市消防安全檢查重大不合格場所清冊","operationId":"get_3c0c5742_a78c_418f_95f2_19057258f93e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3c0c5742-a78c-418f-95f2-19057258f93e\/json":{"get":{"tags":["JSON"],"summary":"消防安全檢查重大不合格場所公告","description":"新北市消防安全檢查重大不合格場所清冊","operationId":"get_3c0c5742_a78c_418f_95f2_19057258f93e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3c0c5742-a78c-418f-95f2-19057258f93e\/xml":{"get":{"tags":["XML"],"summary":"消防安全檢查重大不合格場所公告","description":"新北市消防安全檢查重大不合格場所清冊","operationId":"get_3c0c5742_a78c_418f_95f2_19057258f93e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/92ba1731-f868-404f-a038-6108a61a2f5d\/csv":{"get":{"tags":["CSV"],"summary":"消防榮譽榜─即時表揚","description":"本局全體員工及本市義勇消防人員，平時工作表現績效優良者，獲得表揚之名單。","operationId":"get_92ba1731_f868_404f_a038_6108a61a2f5d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/92ba1731-f868-404f-a038-6108a61a2f5d\/json":{"get":{"tags":["JSON"],"summary":"消防榮譽榜─即時表揚","description":"本局全體員工及本市義勇消防人員，平時工作表現績效優良者，獲得表揚之名單。","operationId":"get_92ba1731_f868_404f_a038_6108a61a2f5d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/92ba1731-f868-404f-a038-6108a61a2f5d\/xml":{"get":{"tags":["XML"],"summary":"消防榮譽榜─即時表揚","description":"本局全體員工及本市義勇消防人員，平時工作表現績效優良者，獲得表揚之名單。","operationId":"get_92ba1731_f868_404f_a038_6108a61a2f5d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ed576edd-d207-44a4-8979-1da34dc4ae63\/csv":{"get":{"tags":["CSV"],"summary":"消防榮譽榜─每月績優人員","description":"新北市政府消防局每月績優人員名冊","operationId":"get_ed576edd_d207_44a4_8979_1da34dc4ae63_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ed576edd-d207-44a4-8979-1da34dc4ae63\/json":{"get":{"tags":["JSON"],"summary":"消防榮譽榜─每月績優人員","description":"新北市政府消防局每月績優人員名冊","operationId":"get_ed576edd_d207_44a4_8979_1da34dc4ae63_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ed576edd-d207-44a4-8979-1da34dc4ae63\/xml":{"get":{"tags":["XML"],"summary":"消防榮譽榜─每月績優人員","description":"新北市政府消防局每月績優人員名冊","operationId":"get_ed576edd_d207_44a4_8979_1da34dc4ae63_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/65400095-d3c9-419f-8f4a-194d0c63d53d\/csv":{"get":{"tags":["CSV"],"summary":"熱水器遷移更換補助","description":"熱水器遷移或更換補助3,000元","operationId":"get_65400095_d3c9_419f_8f4a_194d0c63d53d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/65400095-d3c9-419f-8f4a-194d0c63d53d\/json":{"get":{"tags":["JSON"],"summary":"熱水器遷移更換補助","description":"熱水器遷移或更換補助3,000元","operationId":"get_65400095_d3c9_419f_8f4a_194d0c63d53d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/65400095-d3c9-419f-8f4a-194d0c63d53d\/xml":{"get":{"tags":["XML"],"summary":"熱水器遷移更換補助","description":"熱水器遷移或更換補助3,000元","operationId":"get_65400095_d3c9_419f_8f4a_194d0c63d53d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/664dc5db-ebf3-4293-8c41-c72c78d9a1e6\/csv":{"get":{"tags":["CSV"],"summary":"燃氣熱水器承裝業及技術士資料","description":"合格燃氣熱水器承裝業、技術士清冊","operationId":"get_664dc5db_ebf3_4293_8c41_c72c78d9a1e6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/664dc5db-ebf3-4293-8c41-c72c78d9a1e6\/json":{"get":{"tags":["JSON"],"summary":"燃氣熱水器承裝業及技術士資料","description":"合格燃氣熱水器承裝業、技術士清冊","operationId":"get_664dc5db_ebf3_4293_8c41_c72c78d9a1e6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/664dc5db-ebf3-4293-8c41-c72c78d9a1e6\/xml":{"get":{"tags":["XML"],"summary":"燃氣熱水器承裝業及技術士資料","description":"合格燃氣熱水器承裝業、技術士清冊","operationId":"get_664dc5db_ebf3_4293_8c41_c72c78d9a1e6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ae85eb17-b4c1-4724-99b4-7fb2edc20409\/csv":{"get":{"tags":["CSV"],"summary":"配合簽定供氣契約瓦斯行清冊","description":"配合簽定供氣契約瓦斯行清冊。","operationId":"get_ae85eb17_b4c1_4724_99b4_7fb2edc20409_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ae85eb17-b4c1-4724-99b4-7fb2edc20409\/json":{"get":{"tags":["JSON"],"summary":"配合簽定供氣契約瓦斯行清冊","description":"配合簽定供氣契約瓦斯行清冊。","operationId":"get_ae85eb17_b4c1_4724_99b4_7fb2edc20409_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ae85eb17-b4c1-4724-99b4-7fb2edc20409\/xml":{"get":{"tags":["XML"],"summary":"配合簽定供氣契約瓦斯行清冊","description":"配合簽定供氣契約瓦斯行清冊。","operationId":"get_ae85eb17_b4c1_4724_99b4_7fb2edc20409_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/33347e9a-afd1-483b-b4d9-53c121ef831d\/csv":{"get":{"tags":["CSV"],"summary":"防火管理法規","description":"提供一定規模以上應實施防火管理場所","operationId":"get_33347e9a_afd1_483b_b4d9_53c121ef831d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/33347e9a-afd1-483b-b4d9-53c121ef831d\/json":{"get":{"tags":["JSON"],"summary":"防火管理法規","description":"提供一定規模以上應實施防火管理場所","operationId":"get_33347e9a_afd1_483b_b4d9_53c121ef831d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/33347e9a-afd1-483b-b4d9-53c121ef831d\/xml":{"get":{"tags":["XML"],"summary":"防火管理法規","description":"提供一定規模以上應實施防火管理場所","operationId":"get_33347e9a_afd1_483b_b4d9_53c121ef831d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9fcadce5-1159-4eb3-89f5-7903dc1bb3db\/csv":{"get":{"tags":["CSV"],"summary":"颱風來襲管制區域","description":"颱風來襲管制區域，新北市三個地區劃定為管制區，凡颱風發佈海上陸上颱風警報，非持有通行證件，不得進入","operationId":"get_9fcadce5_1159_4eb3_89f5_7903dc1bb3db_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9fcadce5-1159-4eb3-89f5-7903dc1bb3db\/json":{"get":{"tags":["JSON"],"summary":"颱風來襲管制區域","description":"颱風來襲管制區域，新北市三個地區劃定為管制區，凡颱風發佈海上陸上颱風警報，非持有通行證件，不得進入","operationId":"get_9fcadce5_1159_4eb3_89f5_7903dc1bb3db_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9fcadce5-1159-4eb3-89f5-7903dc1bb3db\/xml":{"get":{"tags":["XML"],"summary":"颱風來襲管制區域","description":"颱風來襲管制區域，新北市三個地區劃定為管制區，凡颱風發佈海上陸上颱風警報，非持有通行證件，不得進入","operationId":"get_9fcadce5_1159_4eb3_89f5_7903dc1bb3db_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}