{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/3121c2fa-feac-487b-8495-731830a43b0f\/csv":{"get":{"tags":["CSV"],"summary":"戶所等待人數","description":"新北市各戶所等待人數即時資訊","operationId":"get_3121c2fa_feac_487b_8495_731830a43b0f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3121c2fa-feac-487b-8495-731830a43b0f\/json":{"get":{"tags":["JSON"],"summary":"戶所等待人數","description":"新北市各戶所等待人數即時資訊","operationId":"get_3121c2fa_feac_487b_8495_731830a43b0f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3121c2fa-feac-487b-8495-731830a43b0f\/xml":{"get":{"tags":["XML"],"summary":"戶所等待人數","description":"新北市各戶所等待人數即時資訊","operationId":"get_3121c2fa_feac_487b_8495_731830a43b0f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1d228eab-23d4-41a6-bd33-f4014dd44660\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢","description":"新北市公立公墓、納骨塔清冊","operationId":"get_1d228eab_23d4_41a6_bd33_f4014dd44660_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1d228eab-23d4-41a6-bd33-f4014dd44660\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢","description":"新北市公立公墓、納骨塔清冊","operationId":"get_1d228eab_23d4_41a6_bd33_f4014dd44660_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1d228eab-23d4-41a6-bd33-f4014dd44660\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢","description":"新北市公立公墓、納骨塔清冊","operationId":"get_1d228eab_23d4_41a6_bd33_f4014dd44660_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fe4b9691-37d3-4e80-b4b2-a1f07e5a4436\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-三峽區","description":"新北市公立公墓、納骨塔清冊(三峽區)","operationId":"get_fe4b9691_37d3_4e80_b4b2_a1f07e5a4436_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fe4b9691-37d3-4e80-b4b2-a1f07e5a4436\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-三峽區","description":"新北市公立公墓、納骨塔清冊(三峽區)","operationId":"get_fe4b9691_37d3_4e80_b4b2_a1f07e5a4436_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fe4b9691-37d3-4e80-b4b2-a1f07e5a4436\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-三峽區","description":"新北市公立公墓、納骨塔清冊(三峽區)","operationId":"get_fe4b9691_37d3_4e80_b4b2_a1f07e5a4436_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c433ff06-e07d-4323-820c-89597cb413f9\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-三芝區","description":"新北市公立公墓、納骨塔清冊(三芝區)","operationId":"get_c433ff06_e07d_4323_820c_89597cb413f9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c433ff06-e07d-4323-820c-89597cb413f9\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-三芝區","description":"新北市公立公墓、納骨塔清冊(三芝區)","operationId":"get_c433ff06_e07d_4323_820c_89597cb413f9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c433ff06-e07d-4323-820c-89597cb413f9\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-三芝區","description":"新北市公立公墓、納骨塔清冊(三芝區)","operationId":"get_c433ff06_e07d_4323_820c_89597cb413f9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0a7f6939-6837-4e04-8031-477ce4c1ad2c\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-中和區","description":"新北市公立公墓、納骨塔清冊(中和區)","operationId":"get_0a7f6939_6837_4e04_8031_477ce4c1ad2c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0a7f6939-6837-4e04-8031-477ce4c1ad2c\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-中和區","description":"新北市公立公墓、納骨塔清冊(中和區)","operationId":"get_0a7f6939_6837_4e04_8031_477ce4c1ad2c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0a7f6939-6837-4e04-8031-477ce4c1ad2c\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-中和區","description":"新北市公立公墓、納骨塔清冊(中和區)","operationId":"get_0a7f6939_6837_4e04_8031_477ce4c1ad2c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4791f358-1a9e-4b50-a795-b27b6a0cc82d\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-五股區","description":"新北市公立公墓、納骨塔清冊(五股區)","operationId":"get_4791f358_1a9e_4b50_a795_b27b6a0cc82d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4791f358-1a9e-4b50-a795-b27b6a0cc82d\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-五股區","description":"新北市公立公墓、納骨塔清冊(五股區)","operationId":"get_4791f358_1a9e_4b50_a795_b27b6a0cc82d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4791f358-1a9e-4b50-a795-b27b6a0cc82d\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-五股區","description":"新北市公立公墓、納骨塔清冊(五股區)","operationId":"get_4791f358_1a9e_4b50_a795_b27b6a0cc82d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a82da6f3-5efa-404d-a1fc-d7c2385b35de\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-八里區","description":"新北市公立公墓、納骨塔清冊(八里區)","operationId":"get_a82da6f3_5efa_404d_a1fc_d7c2385b35de_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a82da6f3-5efa-404d-a1fc-d7c2385b35de\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-八里區","description":"新北市公立公墓、納骨塔清冊(八里區)","operationId":"get_a82da6f3_5efa_404d_a1fc_d7c2385b35de_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a82da6f3-5efa-404d-a1fc-d7c2385b35de\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-八里區","description":"新北市公立公墓、納骨塔清冊(八里區)","operationId":"get_a82da6f3_5efa_404d_a1fc_d7c2385b35de_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b9ed9be0-6dee-41c8-94d7-b09b7ad3b2af\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-土城區","description":"新北市公立公墓、納骨塔清冊(土城區)","operationId":"get_b9ed9be0_6dee_41c8_94d7_b09b7ad3b2af_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b9ed9be0-6dee-41c8-94d7-b09b7ad3b2af\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-土城區","description":"新北市公立公墓、納骨塔清冊(土城區)","operationId":"get_b9ed9be0_6dee_41c8_94d7_b09b7ad3b2af_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b9ed9be0-6dee-41c8-94d7-b09b7ad3b2af\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-土城區","description":"新北市公立公墓、納骨塔清冊(土城區)","operationId":"get_b9ed9be0_6dee_41c8_94d7_b09b7ad3b2af_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/edf1a52e-37e9-474c-b878-315ac41f531a\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-坪林區","description":"新北市公立公墓、納骨塔清冊(坪林區)","operationId":"get_edf1a52e_37e9_474c_b878_315ac41f531a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/edf1a52e-37e9-474c-b878-315ac41f531a\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-坪林區","description":"新北市公立公墓、納骨塔清冊(坪林區)","operationId":"get_edf1a52e_37e9_474c_b878_315ac41f531a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/edf1a52e-37e9-474c-b878-315ac41f531a\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-坪林區","description":"新北市公立公墓、納骨塔清冊(坪林區)","operationId":"get_edf1a52e_37e9_474c_b878_315ac41f531a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4a1b403d-692c-4532-af8f-fd18fe8e1eec\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-平溪區","description":"新北市公立公墓、納骨塔清冊(平溪區)","operationId":"get_4a1b403d_692c_4532_af8f_fd18fe8e1eec_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4a1b403d-692c-4532-af8f-fd18fe8e1eec\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-平溪區","description":"新北市公立公墓、納骨塔清冊(平溪區)","operationId":"get_4a1b403d_692c_4532_af8f_fd18fe8e1eec_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4a1b403d-692c-4532-af8f-fd18fe8e1eec\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-平溪區","description":"新北市公立公墓、納骨塔清冊(平溪區)","operationId":"get_4a1b403d_692c_4532_af8f_fd18fe8e1eec_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6ca12acf-1bab-4ddf-98bc-e6aefebd7e25\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-新店區","description":"新北市公立公墓、納骨塔清冊(新店區)","operationId":"get_6ca12acf_1bab_4ddf_98bc_e6aefebd7e25_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6ca12acf-1bab-4ddf-98bc-e6aefebd7e25\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-新店區","description":"新北市公立公墓、納骨塔清冊(新店區)","operationId":"get_6ca12acf_1bab_4ddf_98bc_e6aefebd7e25_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6ca12acf-1bab-4ddf-98bc-e6aefebd7e25\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-新店區","description":"新北市公立公墓、納骨塔清冊(新店區)","operationId":"get_6ca12acf_1bab_4ddf_98bc_e6aefebd7e25_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/661d95fd-cbac-424f-8068-3bced7c3294e\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-新莊區","description":"新北市公立公墓、納骨塔清冊(新莊區)","operationId":"get_661d95fd_cbac_424f_8068_3bced7c3294e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/661d95fd-cbac-424f-8068-3bced7c3294e\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-新莊區","description":"新北市公立公墓、納骨塔清冊(新莊區)","operationId":"get_661d95fd_cbac_424f_8068_3bced7c3294e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/661d95fd-cbac-424f-8068-3bced7c3294e\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-新莊區","description":"新北市公立公墓、納骨塔清冊(新莊區)","operationId":"get_661d95fd_cbac_424f_8068_3bced7c3294e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e428b3d0-f1f4-492a-98d7-ca040726fadd\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-林口區","description":"新北市公立公墓、納骨塔清冊(林口區)","operationId":"get_e428b3d0_f1f4_492a_98d7_ca040726fadd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e428b3d0-f1f4-492a-98d7-ca040726fadd\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-林口區","description":"新北市公立公墓、納骨塔清冊(林口區)","operationId":"get_e428b3d0_f1f4_492a_98d7_ca040726fadd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e428b3d0-f1f4-492a-98d7-ca040726fadd\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-林口區","description":"新北市公立公墓、納骨塔清冊(林口區)","operationId":"get_e428b3d0_f1f4_492a_98d7_ca040726fadd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/572e92d4-714f-4b5a-99bb-884e7520485f\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-樹林區","description":"新北市公立公墓、納骨塔清冊(樹林區)","operationId":"get_572e92d4_714f_4b5a_99bb_884e7520485f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/572e92d4-714f-4b5a-99bb-884e7520485f\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-樹林區","description":"新北市公立公墓、納骨塔清冊(樹林區)","operationId":"get_572e92d4_714f_4b5a_99bb_884e7520485f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/572e92d4-714f-4b5a-99bb-884e7520485f\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-樹林區","description":"新北市公立公墓、納骨塔清冊(樹林區)","operationId":"get_572e92d4_714f_4b5a_99bb_884e7520485f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1e6c5354-b62c-4b1a-928d-47720f3fec46\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-汐止區","description":"新北市公立公墓、納骨塔清冊(汐止區)","operationId":"get_1e6c5354_b62c_4b1a_928d_47720f3fec46_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1e6c5354-b62c-4b1a-928d-47720f3fec46\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-汐止區","description":"新北市公立公墓、納骨塔清冊(汐止區)","operationId":"get_1e6c5354_b62c_4b1a_928d_47720f3fec46_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1e6c5354-b62c-4b1a-928d-47720f3fec46\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-汐止區","description":"新北市公立公墓、納骨塔清冊(汐止區)","operationId":"get_1e6c5354_b62c_4b1a_928d_47720f3fec46_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/89c9a83b-49b1-4565-a742-2f11a03ccdba\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-泰山區","description":"新北市公立公墓、納骨塔清冊(泰山區)","operationId":"get_89c9a83b_49b1_4565_a742_2f11a03ccdba_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/89c9a83b-49b1-4565-a742-2f11a03ccdba\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-泰山區","description":"新北市公立公墓、納骨塔清冊(泰山區)","operationId":"get_89c9a83b_49b1_4565_a742_2f11a03ccdba_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/89c9a83b-49b1-4565-a742-2f11a03ccdba\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-泰山區","description":"新北市公立公墓、納骨塔清冊(泰山區)","operationId":"get_89c9a83b_49b1_4565_a742_2f11a03ccdba_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/129e17cc-5bde-46c6-9a9b-7fa89854b13a\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-淡水區","description":"新北市公立公墓、納骨塔清冊(淡水區)","operationId":"get_129e17cc_5bde_46c6_9a9b_7fa89854b13a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/129e17cc-5bde-46c6-9a9b-7fa89854b13a\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-淡水區","description":"新北市公立公墓、納骨塔清冊(淡水區)","operationId":"get_129e17cc_5bde_46c6_9a9b_7fa89854b13a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/129e17cc-5bde-46c6-9a9b-7fa89854b13a\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-淡水區","description":"新北市公立公墓、納骨塔清冊(淡水區)","operationId":"get_129e17cc_5bde_46c6_9a9b_7fa89854b13a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c381bcdb-8d4f-4b48-b17f-57b67cbefae3\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-深坑區","description":"新北市公立公墓、納骨塔清冊(深坑區)","operationId":"get_c381bcdb_8d4f_4b48_b17f_57b67cbefae3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c381bcdb-8d4f-4b48-b17f-57b67cbefae3\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-深坑區","description":"新北市公立公墓、納骨塔清冊(深坑區)","operationId":"get_c381bcdb_8d4f_4b48_b17f_57b67cbefae3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c381bcdb-8d4f-4b48-b17f-57b67cbefae3\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-深坑區","description":"新北市公立公墓、納骨塔清冊(深坑區)","operationId":"get_c381bcdb_8d4f_4b48_b17f_57b67cbefae3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f5822f0a-6fb5-49ff-9343-343ce4bbb8f9\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-烏來區","description":"新北市公立公墓、納骨塔清冊(烏來區)","operationId":"get_f5822f0a_6fb5_49ff_9343_343ce4bbb8f9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f5822f0a-6fb5-49ff-9343-343ce4bbb8f9\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-烏來區","description":"新北市公立公墓、納骨塔清冊(烏來區)","operationId":"get_f5822f0a_6fb5_49ff_9343_343ce4bbb8f9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f5822f0a-6fb5-49ff-9343-343ce4bbb8f9\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-烏來區","description":"新北市公立公墓、納骨塔清冊(烏來區)","operationId":"get_f5822f0a_6fb5_49ff_9343_343ce4bbb8f9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/578fcf0d-73a5-4d59-9b87-ac941359dff3\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-瑞芳區","description":"新北市公立公墓、納骨塔清冊(瑞芳區)","operationId":"get_578fcf0d_73a5_4d59_9b87_ac941359dff3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/578fcf0d-73a5-4d59-9b87-ac941359dff3\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-瑞芳區","description":"新北市公立公墓、納骨塔清冊(瑞芳區)","operationId":"get_578fcf0d_73a5_4d59_9b87_ac941359dff3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/578fcf0d-73a5-4d59-9b87-ac941359dff3\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-瑞芳區","description":"新北市公立公墓、納骨塔清冊(瑞芳區)","operationId":"get_578fcf0d_73a5_4d59_9b87_ac941359dff3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0c5eeaa0-9e7e-4f9c-a970-60a3d27a783d\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-石碇區","description":"新北市公立公墓、納骨塔清冊(石碇區)","operationId":"get_0c5eeaa0_9e7e_4f9c_a970_60a3d27a783d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0c5eeaa0-9e7e-4f9c-a970-60a3d27a783d\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-石碇區","description":"新北市公立公墓、納骨塔清冊(石碇區)","operationId":"get_0c5eeaa0_9e7e_4f9c_a970_60a3d27a783d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0c5eeaa0-9e7e-4f9c-a970-60a3d27a783d\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-石碇區","description":"新北市公立公墓、納骨塔清冊(石碇區)","operationId":"get_0c5eeaa0_9e7e_4f9c_a970_60a3d27a783d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a6fa1235-531e-4af8-a0bf-a858e0aad707\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-石門區","description":"新北市公立公墓、納骨塔清冊(石門區)","operationId":"get_a6fa1235_531e_4af8_a0bf_a858e0aad707_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a6fa1235-531e-4af8-a0bf-a858e0aad707\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-石門區","description":"新北市公立公墓、納骨塔清冊(石門區)","operationId":"get_a6fa1235_531e_4af8_a0bf_a858e0aad707_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a6fa1235-531e-4af8-a0bf-a858e0aad707\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-石門區","description":"新北市公立公墓、納骨塔清冊(石門區)","operationId":"get_a6fa1235_531e_4af8_a0bf_a858e0aad707_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4940d874-6c10-4e2b-8c5e-b2dd9e3fbffa\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-萬里區","description":"新北市公立公墓、納骨塔清冊(萬里區)","operationId":"get_4940d874_6c10_4e2b_8c5e_b2dd9e3fbffa_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4940d874-6c10-4e2b-8c5e-b2dd9e3fbffa\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-萬里區","description":"新北市公立公墓、納骨塔清冊(萬里區)","operationId":"get_4940d874_6c10_4e2b_8c5e_b2dd9e3fbffa_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4940d874-6c10-4e2b-8c5e-b2dd9e3fbffa\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-萬里區","description":"新北市公立公墓、納骨塔清冊(萬里區)","operationId":"get_4940d874_6c10_4e2b_8c5e_b2dd9e3fbffa_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b302d998-ca42-4919-84e0-76377e7068ce\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-貢寮區","description":"新北市公立公墓、納骨塔清冊(貢寮區)","operationId":"get_b302d998_ca42_4919_84e0_76377e7068ce_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b302d998-ca42-4919-84e0-76377e7068ce\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-貢寮區","description":"新北市公立公墓、納骨塔清冊(貢寮區)","operationId":"get_b302d998_ca42_4919_84e0_76377e7068ce_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b302d998-ca42-4919-84e0-76377e7068ce\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-貢寮區","description":"新北市公立公墓、納骨塔清冊(貢寮區)","operationId":"get_b302d998_ca42_4919_84e0_76377e7068ce_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/22f7f27c-062a-41ac-a885-0be39437b858\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-金山區","description":"新北市公立公墓、納骨塔清冊(金山區)","operationId":"get_22f7f27c_062a_41ac_a885_0be39437b858_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/22f7f27c-062a-41ac-a885-0be39437b858\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-金山區","description":"新北市公立公墓、納骨塔清冊(金山區)","operationId":"get_22f7f27c_062a_41ac_a885_0be39437b858_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/22f7f27c-062a-41ac-a885-0be39437b858\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-金山區","description":"新北市公立公墓、納骨塔清冊(金山區)","operationId":"get_22f7f27c_062a_41ac_a885_0be39437b858_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0c1e06e6-d74d-47a5-a4b7-6c9381f12a5d\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-雙溪區","description":"新北市公立公墓、納骨塔清冊(雙溪區)","operationId":"get_0c1e06e6_d74d_47a5_a4b7_6c9381f12a5d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0c1e06e6-d74d-47a5-a4b7-6c9381f12a5d\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-雙溪區","description":"新北市公立公墓、納骨塔清冊(雙溪區)","operationId":"get_0c1e06e6_d74d_47a5_a4b7_6c9381f12a5d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0c1e06e6-d74d-47a5-a4b7-6c9381f12a5d\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-雙溪區","description":"新北市公立公墓、納骨塔清冊(雙溪區)","operationId":"get_0c1e06e6_d74d_47a5_a4b7_6c9381f12a5d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cb3bac48-398c-4d4f-a0a4-6186b997c824\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立公墓納骨塔查詢-鶯歌區","description":"新北市公立公墓、納骨塔清冊(鶯歌區)","operationId":"get_cb3bac48_398c_4d4f_a0a4_6186b997c824_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cb3bac48-398c-4d4f-a0a4-6186b997c824\/json":{"get":{"tags":["JSON"],"summary":"新北市公立公墓納骨塔查詢-鶯歌區","description":"新北市公立公墓、納骨塔清冊(鶯歌區)","operationId":"get_cb3bac48_398c_4d4f_a0a4_6186b997c824_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/cb3bac48-398c-4d4f-a0a4-6186b997c824\/xml":{"get":{"tags":["XML"],"summary":"新北市公立公墓納骨塔查詢-鶯歌區","description":"新北市公立公墓、納骨塔清冊(鶯歌區)","operationId":"get_cb3bac48_398c_4d4f_a0a4_6186b997c824_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/292443d2-faef-452c-96cd-33053e7369b6\/csv":{"get":{"tags":["CSV"],"summary":"新北市各區人數統計表","description":"新北市各區人數統計表，為新北市各里數、鄰數、戶數、男女人口、總人口的統計資料。","operationId":"get_292443d2_faef_452c_96cd_33053e7369b6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/292443d2-faef-452c-96cd-33053e7369b6\/json":{"get":{"tags":["JSON"],"summary":"新北市各區人數統計表","description":"新北市各區人數統計表，為新北市各里數、鄰數、戶數、男女人口、總人口的統計資料。","operationId":"get_292443d2_faef_452c_96cd_33053e7369b6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/292443d2-faef-452c-96cd-33053e7369b6\/xml":{"get":{"tags":["XML"],"summary":"新北市各區人數統計表","description":"新北市各區人數統計表，為新北市各里數、鄰數、戶數、男女人口、總人口的統計資料。","operationId":"get_292443d2_faef_452c_96cd_33053e7369b6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5333cca8-f9a7-446f-9b9a-92fede2fe04e\/csv":{"get":{"tags":["CSV"],"summary":"新北市各里人數排行榜(新版)","description":"新北市各里人數排行榜，其資料內容包含各里鄰數、戶數、男女人口、總人口等資訊。","operationId":"get_5333cca8_f9a7_446f_9b9a_92fede2fe04e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5333cca8-f9a7-446f-9b9a-92fede2fe04e\/json":{"get":{"tags":["JSON"],"summary":"新北市各里人數排行榜(新版)","description":"新北市各里人數排行榜，其資料內容包含各里鄰數、戶數、男女人口、總人口等資訊。","operationId":"get_5333cca8_f9a7_446f_9b9a_92fede2fe04e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5333cca8-f9a7-446f-9b9a-92fede2fe04e\/xml":{"get":{"tags":["XML"],"summary":"新北市各里人數排行榜(新版)","description":"新北市各里人數排行榜，其資料內容包含各里鄰數、戶數、男女人口、總人口等資訊。","operationId":"get_5333cca8_f9a7_446f_9b9a_92fede2fe04e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fa61db8d-79d1-447f-9f7a-fe4a8d4af96d\/csv":{"get":{"tags":["CSV"],"summary":"新北市各類戶籍登記人數統計表","description":"新北市各類戶籍登記人數統計表，為新北市各區遷入、遷出、出生、死亡、結婚及離婚統計資料","operationId":"get_fa61db8d_79d1_447f_9f7a_fe4a8d4af96d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fa61db8d-79d1-447f-9f7a-fe4a8d4af96d\/json":{"get":{"tags":["JSON"],"summary":"新北市各類戶籍登記人數統計表","description":"新北市各類戶籍登記人數統計表，為新北市各區遷入、遷出、出生、死亡、結婚及離婚統計資料","operationId":"get_fa61db8d_79d1_447f_9f7a_fe4a8d4af96d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fa61db8d-79d1-447f-9f7a-fe4a8d4af96d\/xml":{"get":{"tags":["XML"],"summary":"新北市各類戶籍登記人數統計表","description":"新北市各類戶籍登記人數統計表，為新北市各區遷入、遷出、出生、死亡、結婚及離婚統計資料","operationId":"get_fa61db8d_79d1_447f_9f7a_fe4a8d4af96d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d1bdde62-58cf-4179-a797-cbd806482003\/csv":{"get":{"tags":["CSV"],"summary":"新北市地方特色地圖","description":"「新北市地方特色地圖」用航海古地圖為背景，以卡通手法設計，並結合電影、時事等熱門話題，介紹29區特色，包括傳統活動、名產、建築、景點等，是經網路票選48萬票所產生，都是新北市高人氣的地方特色。","operationId":"get_d1bdde62_58cf_4179_a797_cbd806482003_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d1bdde62-58cf-4179-a797-cbd806482003\/json":{"get":{"tags":["JSON"],"summary":"新北市地方特色地圖","description":"「新北市地方特色地圖」用航海古地圖為背景，以卡通手法設計，並結合電影、時事等熱門話題，介紹29區特色，包括傳統活動、名產、建築、景點等，是經網路票選48萬票所產生，都是新北市高人氣的地方特色。","operationId":"get_d1bdde62_58cf_4179_a797_cbd806482003_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d1bdde62-58cf-4179-a797-cbd806482003\/xml":{"get":{"tags":["XML"],"summary":"新北市地方特色地圖","description":"「新北市地方特色地圖」用航海古地圖為背景，以卡通手法設計，並結合電影、時事等熱門話題，介紹29區特色，包括傳統活動、名產、建築、景點等，是經網路票選48萬票所產生，都是新北市高人氣的地方特色。","operationId":"get_d1bdde62_58cf_4179_a797_cbd806482003_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f0e1879f-3c5b-429f-a12b-9540acac26e8\/csv":{"get":{"tags":["CSV"],"summary":"新北市寺廟資料","description":"新北市登記設立寺廟基本資料\r\n(各宮廟有多個節慶活動而有多筆資料呈現)","operationId":"get_f0e1879f_3c5b_429f_a12b_9540acac26e8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f0e1879f-3c5b-429f-a12b-9540acac26e8\/json":{"get":{"tags":["JSON"],"summary":"新北市寺廟資料","description":"新北市登記設立寺廟基本資料\r\n(各宮廟有多個節慶活動而有多筆資料呈現)","operationId":"get_f0e1879f_3c5b_429f_a12b_9540acac26e8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f0e1879f-3c5b-429f-a12b-9540acac26e8\/xml":{"get":{"tags":["XML"],"summary":"新北市寺廟資料","description":"新北市登記設立寺廟基本資料\r\n(各宮廟有多個節慶活動而有多筆資料呈現)","operationId":"get_f0e1879f_3c5b_429f_a12b_9540acac26e8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/08df50e4-2ab6-47b6-91b6-fa9ae08a30bd\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料","description":"提供各區市民活動中心名稱及地址等相關資料。","operationId":"get_08df50e4_2ab6_47b6_91b6_fa9ae08a30bd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/08df50e4-2ab6-47b6-91b6-fa9ae08a30bd\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料","description":"提供各區市民活動中心名稱及地址等相關資料。","operationId":"get_08df50e4_2ab6_47b6_91b6_fa9ae08a30bd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/08df50e4-2ab6-47b6-91b6-fa9ae08a30bd\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料","description":"提供各區市民活動中心名稱及地址等相關資料。","operationId":"get_08df50e4_2ab6_47b6_91b6_fa9ae08a30bd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0fefc7fe-4131-4623-9d8a-f18b9628082a\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-三峽","description":"提供各區市民活動中心名稱及地址等相關資料。(三峽)","operationId":"get_0fefc7fe_4131_4623_9d8a_f18b9628082a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0fefc7fe-4131-4623-9d8a-f18b9628082a\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-三峽","description":"提供各區市民活動中心名稱及地址等相關資料。(三峽)","operationId":"get_0fefc7fe_4131_4623_9d8a_f18b9628082a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0fefc7fe-4131-4623-9d8a-f18b9628082a\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-三峽","description":"提供各區市民活動中心名稱及地址等相關資料。(三峽)","operationId":"get_0fefc7fe_4131_4623_9d8a_f18b9628082a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6719f54e-0c2b-4ab8-9bff-2684927766ec\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-三芝","description":"提供各區市民活動中心名稱及地址等相關資料。(三芝)","operationId":"get_6719f54e_0c2b_4ab8_9bff_2684927766ec_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6719f54e-0c2b-4ab8-9bff-2684927766ec\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-三芝","description":"提供各區市民活動中心名稱及地址等相關資料。(三芝)","operationId":"get_6719f54e_0c2b_4ab8_9bff_2684927766ec_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6719f54e-0c2b-4ab8-9bff-2684927766ec\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-三芝","description":"提供各區市民活動中心名稱及地址等相關資料。(三芝)","operationId":"get_6719f54e_0c2b_4ab8_9bff_2684927766ec_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/89d3026f-c9a5-4079-a30b-2c3140a3bbfa\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-三重","description":"提供各區市民活動中心名稱及地址等相關資料。(三重)","operationId":"get_89d3026f_c9a5_4079_a30b_2c3140a3bbfa_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/89d3026f-c9a5-4079-a30b-2c3140a3bbfa\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-三重","description":"提供各區市民活動中心名稱及地址等相關資料。(三重)","operationId":"get_89d3026f_c9a5_4079_a30b_2c3140a3bbfa_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/89d3026f-c9a5-4079-a30b-2c3140a3bbfa\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-三重","description":"提供各區市民活動中心名稱及地址等相關資料。(三重)","operationId":"get_89d3026f_c9a5_4079_a30b_2c3140a3bbfa_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/683673d9-3f43-4788-a4e7-a6222ad56978\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-中和","description":"提供各區市民活動中心名稱及地址等相關資料。(中和)","operationId":"get_683673d9_3f43_4788_a4e7_a6222ad56978_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/683673d9-3f43-4788-a4e7-a6222ad56978\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-中和","description":"提供各區市民活動中心名稱及地址等相關資料。(中和)","operationId":"get_683673d9_3f43_4788_a4e7_a6222ad56978_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/683673d9-3f43-4788-a4e7-a6222ad56978\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-中和","description":"提供各區市民活動中心名稱及地址等相關資料。(中和)","operationId":"get_683673d9_3f43_4788_a4e7_a6222ad56978_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/34d9858c-fee7-4e6f-a094-74c5585bc997\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-五股","description":"提供各區市民活動中心名稱及地址等相關資料。(五股)","operationId":"get_34d9858c_fee7_4e6f_a094_74c5585bc997_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/34d9858c-fee7-4e6f-a094-74c5585bc997\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-五股","description":"提供各區市民活動中心名稱及地址等相關資料。(五股)","operationId":"get_34d9858c_fee7_4e6f_a094_74c5585bc997_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/34d9858c-fee7-4e6f-a094-74c5585bc997\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-五股","description":"提供各區市民活動中心名稱及地址等相關資料。(五股)","operationId":"get_34d9858c_fee7_4e6f_a094_74c5585bc997_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c08a902d-8993-4659-a85f-ae6d62d01969\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-八里","description":"提供各區市民活動中心名稱及地址等相關資料。(八里)","operationId":"get_c08a902d_8993_4659_a85f_ae6d62d01969_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c08a902d-8993-4659-a85f-ae6d62d01969\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-八里","description":"提供各區市民活動中心名稱及地址等相關資料。(八里)","operationId":"get_c08a902d_8993_4659_a85f_ae6d62d01969_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c08a902d-8993-4659-a85f-ae6d62d01969\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-八里","description":"提供各區市民活動中心名稱及地址等相關資料。(八里)","operationId":"get_c08a902d_8993_4659_a85f_ae6d62d01969_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0c830bf2-2674-4a43-93fb-66f5c546ccef\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-土城","description":"提供各區市民活動中心名稱及地址等相關資料。(土城)","operationId":"get_0c830bf2_2674_4a43_93fb_66f5c546ccef_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0c830bf2-2674-4a43-93fb-66f5c546ccef\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-土城","description":"提供各區市民活動中心名稱及地址等相關資料。(土城)","operationId":"get_0c830bf2_2674_4a43_93fb_66f5c546ccef_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0c830bf2-2674-4a43-93fb-66f5c546ccef\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-土城","description":"提供各區市民活動中心名稱及地址等相關資料。(土城)","operationId":"get_0c830bf2_2674_4a43_93fb_66f5c546ccef_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b389a902-1a06-4258-b766-5528edab7250\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-坪林","description":"提供各區市民活動中心名稱及地址等相關資料。(坪林)","operationId":"get_b389a902_1a06_4258_b766_5528edab7250_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b389a902-1a06-4258-b766-5528edab7250\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-坪林","description":"提供各區市民活動中心名稱及地址等相關資料。(坪林)","operationId":"get_b389a902_1a06_4258_b766_5528edab7250_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b389a902-1a06-4258-b766-5528edab7250\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-坪林","description":"提供各區市民活動中心名稱及地址等相關資料。(坪林)","operationId":"get_b389a902_1a06_4258_b766_5528edab7250_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ad2a95c5-c390-43bd-804f-d5f6209bee2d\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-平溪","description":"提供各區市民活動中心名稱及地址等相關資料。(平溪)","operationId":"get_ad2a95c5_c390_43bd_804f_d5f6209bee2d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ad2a95c5-c390-43bd-804f-d5f6209bee2d\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-平溪","description":"提供各區市民活動中心名稱及地址等相關資料。(平溪)","operationId":"get_ad2a95c5_c390_43bd_804f_d5f6209bee2d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ad2a95c5-c390-43bd-804f-d5f6209bee2d\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-平溪","description":"提供各區市民活動中心名稱及地址等相關資料。(平溪)","operationId":"get_ad2a95c5_c390_43bd_804f_d5f6209bee2d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6608fc48-0a0d-4141-a8b4-880a9d107531\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-新店","description":"提供各區市民活動中心名稱及地址等相關資料。(新店)","operationId":"get_6608fc48_0a0d_4141_a8b4_880a9d107531_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6608fc48-0a0d-4141-a8b4-880a9d107531\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-新店","description":"提供各區市民活動中心名稱及地址等相關資料。(新店)","operationId":"get_6608fc48_0a0d_4141_a8b4_880a9d107531_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6608fc48-0a0d-4141-a8b4-880a9d107531\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-新店","description":"提供各區市民活動中心名稱及地址等相關資料。(新店)","operationId":"get_6608fc48_0a0d_4141_a8b4_880a9d107531_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a8e57626-f522-40bb-a3da-b137b22f6f07\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-新莊","description":"提供各區市民活動中心名稱及地址等相關資料。(新莊)","operationId":"get_a8e57626_f522_40bb_a3da_b137b22f6f07_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a8e57626-f522-40bb-a3da-b137b22f6f07\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-新莊","description":"提供各區市民活動中心名稱及地址等相關資料。(新莊)","operationId":"get_a8e57626_f522_40bb_a3da_b137b22f6f07_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a8e57626-f522-40bb-a3da-b137b22f6f07\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-新莊","description":"提供各區市民活動中心名稱及地址等相關資料。(新莊)","operationId":"get_a8e57626_f522_40bb_a3da_b137b22f6f07_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f2f1bf0d-160a-42b6-b19e-84023db4e4a7\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-板橋","description":"提供各區市民活動中心名稱及地址等相關資料。(板橋)","operationId":"get_f2f1bf0d_160a_42b6_b19e_84023db4e4a7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f2f1bf0d-160a-42b6-b19e-84023db4e4a7\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-板橋","description":"提供各區市民活動中心名稱及地址等相關資料。(板橋)","operationId":"get_f2f1bf0d_160a_42b6_b19e_84023db4e4a7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f2f1bf0d-160a-42b6-b19e-84023db4e4a7\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-板橋","description":"提供各區市民活動中心名稱及地址等相關資料。(板橋)","operationId":"get_f2f1bf0d_160a_42b6_b19e_84023db4e4a7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e4cd8e57-6ca7-4109-8b2a-4f93829da8bd\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-林口","description":"提供各區市民活動中心名稱及地址等相關資料。(林口)","operationId":"get_e4cd8e57_6ca7_4109_8b2a_4f93829da8bd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e4cd8e57-6ca7-4109-8b2a-4f93829da8bd\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-林口","description":"提供各區市民活動中心名稱及地址等相關資料。(林口)","operationId":"get_e4cd8e57_6ca7_4109_8b2a_4f93829da8bd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e4cd8e57-6ca7-4109-8b2a-4f93829da8bd\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-林口","description":"提供各區市民活動中心名稱及地址等相關資料。(林口)","operationId":"get_e4cd8e57_6ca7_4109_8b2a_4f93829da8bd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/df387aea-c563-44ca-ac90-2fb50d8f9f55\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-樹林","description":"提供各區市民活動中心名稱及地址等相關資料。(樹林)","operationId":"get_df387aea_c563_44ca_ac90_2fb50d8f9f55_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/df387aea-c563-44ca-ac90-2fb50d8f9f55\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-樹林","description":"提供各區市民活動中心名稱及地址等相關資料。(樹林)","operationId":"get_df387aea_c563_44ca_ac90_2fb50d8f9f55_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/df387aea-c563-44ca-ac90-2fb50d8f9f55\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-樹林","description":"提供各區市民活動中心名稱及地址等相關資料。(樹林)","operationId":"get_df387aea_c563_44ca_ac90_2fb50d8f9f55_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9717187e-63f4-435e-b6ce-2c3645e47d3c\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-永和","description":"提供各區市民活動中心名稱及地址等相關資料。(永和)","operationId":"get_9717187e_63f4_435e_b6ce_2c3645e47d3c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9717187e-63f4-435e-b6ce-2c3645e47d3c\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-永和","description":"提供各區市民活動中心名稱及地址等相關資料。(永和)","operationId":"get_9717187e_63f4_435e_b6ce_2c3645e47d3c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9717187e-63f4-435e-b6ce-2c3645e47d3c\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-永和","description":"提供各區市民活動中心名稱及地址等相關資料。(永和)","operationId":"get_9717187e_63f4_435e_b6ce_2c3645e47d3c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/37a6a3db-f44e-4bb1-8345-e1d229b9fd9b\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-汐止","description":"提供各區市民活動中心名稱及地址等相關資料。(汐止)","operationId":"get_37a6a3db_f44e_4bb1_8345_e1d229b9fd9b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/37a6a3db-f44e-4bb1-8345-e1d229b9fd9b\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-汐止","description":"提供各區市民活動中心名稱及地址等相關資料。(汐止)","operationId":"get_37a6a3db_f44e_4bb1_8345_e1d229b9fd9b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/37a6a3db-f44e-4bb1-8345-e1d229b9fd9b\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-汐止","description":"提供各區市民活動中心名稱及地址等相關資料。(汐止)","operationId":"get_37a6a3db_f44e_4bb1_8345_e1d229b9fd9b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c7e6b42e-3252-4ef9-8961-9d9d1399e634\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-泰山","description":"提供各區市民活動中心名稱及地址等相關資料。(泰山)","operationId":"get_c7e6b42e_3252_4ef9_8961_9d9d1399e634_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c7e6b42e-3252-4ef9-8961-9d9d1399e634\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-泰山","description":"提供各區市民活動中心名稱及地址等相關資料。(泰山)","operationId":"get_c7e6b42e_3252_4ef9_8961_9d9d1399e634_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c7e6b42e-3252-4ef9-8961-9d9d1399e634\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-泰山","description":"提供各區市民活動中心名稱及地址等相關資料。(泰山)","operationId":"get_c7e6b42e_3252_4ef9_8961_9d9d1399e634_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8fd65496-1839-4747-8468-c78762aa18c0\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-淡水","description":"提供各區市民活動中心名稱及地址等相關資料。(淡水)","operationId":"get_8fd65496_1839_4747_8468_c78762aa18c0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8fd65496-1839-4747-8468-c78762aa18c0\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-淡水","description":"提供各區市民活動中心名稱及地址等相關資料。(淡水)","operationId":"get_8fd65496_1839_4747_8468_c78762aa18c0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8fd65496-1839-4747-8468-c78762aa18c0\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-淡水","description":"提供各區市民活動中心名稱及地址等相關資料。(淡水)","operationId":"get_8fd65496_1839_4747_8468_c78762aa18c0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a6a76c3b-dc14-4c6f-858c-97bb521aa2b8\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-深坑","description":"提供各區市民活動中心名稱及地址等相關資料。(深坑)","operationId":"get_a6a76c3b_dc14_4c6f_858c_97bb521aa2b8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a6a76c3b-dc14-4c6f-858c-97bb521aa2b8\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-深坑","description":"提供各區市民活動中心名稱及地址等相關資料。(深坑)","operationId":"get_a6a76c3b_dc14_4c6f_858c_97bb521aa2b8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a6a76c3b-dc14-4c6f-858c-97bb521aa2b8\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-深坑","description":"提供各區市民活動中心名稱及地址等相關資料。(深坑)","operationId":"get_a6a76c3b_dc14_4c6f_858c_97bb521aa2b8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/346f8806-1bd2-4592-a590-a88cfb858d59\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-烏來","description":"提供各區市民活動中心名稱及地址等相關資料。(烏來)","operationId":"get_346f8806_1bd2_4592_a590_a88cfb858d59_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/346f8806-1bd2-4592-a590-a88cfb858d59\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-烏來","description":"提供各區市民活動中心名稱及地址等相關資料。(烏來)","operationId":"get_346f8806_1bd2_4592_a590_a88cfb858d59_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/346f8806-1bd2-4592-a590-a88cfb858d59\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-烏來","description":"提供各區市民活動中心名稱及地址等相關資料。(烏來)","operationId":"get_346f8806_1bd2_4592_a590_a88cfb858d59_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/14034cb5-8f92-49f6-bc46-46a95639874e\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-瑞芳","description":"提供各區市民活動中心名稱及地址等相關資料。(瑞芳)","operationId":"get_14034cb5_8f92_49f6_bc46_46a95639874e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/14034cb5-8f92-49f6-bc46-46a95639874e\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-瑞芳","description":"提供各區市民活動中心名稱及地址等相關資料。(瑞芳)","operationId":"get_14034cb5_8f92_49f6_bc46_46a95639874e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/14034cb5-8f92-49f6-bc46-46a95639874e\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-瑞芳","description":"提供各區市民活動中心名稱及地址等相關資料。(瑞芳)","operationId":"get_14034cb5_8f92_49f6_bc46_46a95639874e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cb3ea67d-ff97-4756-922f-89b029627358\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-石碇","description":"提供各區市民活動中心名稱及地址等相關資料。(石碇)","operationId":"get_cb3ea67d_ff97_4756_922f_89b029627358_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cb3ea67d-ff97-4756-922f-89b029627358\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-石碇","description":"提供各區市民活動中心名稱及地址等相關資料。(石碇)","operationId":"get_cb3ea67d_ff97_4756_922f_89b029627358_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/cb3ea67d-ff97-4756-922f-89b029627358\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-石碇","description":"提供各區市民活動中心名稱及地址等相關資料。(石碇)","operationId":"get_cb3ea67d_ff97_4756_922f_89b029627358_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/46db26ea-4f49-41ef-9c9d-57300ac6557e\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-石門","description":"提供各區市民活動中心名稱及地址等相關資料。(石門)","operationId":"get_46db26ea_4f49_41ef_9c9d_57300ac6557e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/46db26ea-4f49-41ef-9c9d-57300ac6557e\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-石門","description":"提供各區市民活動中心名稱及地址等相關資料。(石門)","operationId":"get_46db26ea_4f49_41ef_9c9d_57300ac6557e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/46db26ea-4f49-41ef-9c9d-57300ac6557e\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-石門","description":"提供各區市民活動中心名稱及地址等相關資料。(石門)","operationId":"get_46db26ea_4f49_41ef_9c9d_57300ac6557e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/17a1a062-2474-4c7e-ba75-db0f8886c8b3\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-萬里","description":"提供各區市民活動中心名稱及地址等相關資料。(萬里)","operationId":"get_17a1a062_2474_4c7e_ba75_db0f8886c8b3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/17a1a062-2474-4c7e-ba75-db0f8886c8b3\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-萬里","description":"提供各區市民活動中心名稱及地址等相關資料。(萬里)","operationId":"get_17a1a062_2474_4c7e_ba75_db0f8886c8b3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/17a1a062-2474-4c7e-ba75-db0f8886c8b3\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-萬里","description":"提供各區市民活動中心名稱及地址等相關資料。(萬里)","operationId":"get_17a1a062_2474_4c7e_ba75_db0f8886c8b3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fcd1074a-95ce-4577-b6a7-ae62816bcbed\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-蘆洲","description":"提供各區市民活動中心名稱及地址等相關資料。(蘆洲)","operationId":"get_fcd1074a_95ce_4577_b6a7_ae62816bcbed_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fcd1074a-95ce-4577-b6a7-ae62816bcbed\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-蘆洲","description":"提供各區市民活動中心名稱及地址等相關資料。(蘆洲)","operationId":"get_fcd1074a_95ce_4577_b6a7_ae62816bcbed_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fcd1074a-95ce-4577-b6a7-ae62816bcbed\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-蘆洲","description":"提供各區市民活動中心名稱及地址等相關資料。(蘆洲)","operationId":"get_fcd1074a_95ce_4577_b6a7_ae62816bcbed_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/03b25e08-927f-4f3f-b017-62bacd05686c\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-貢寮","description":"提供各區市民活動中心名稱及地址等相關資料。(貢寮)","operationId":"get_03b25e08_927f_4f3f_b017_62bacd05686c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/03b25e08-927f-4f3f-b017-62bacd05686c\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-貢寮","description":"提供各區市民活動中心名稱及地址等相關資料。(貢寮)","operationId":"get_03b25e08_927f_4f3f_b017_62bacd05686c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/03b25e08-927f-4f3f-b017-62bacd05686c\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-貢寮","description":"提供各區市民活動中心名稱及地址等相關資料。(貢寮)","operationId":"get_03b25e08_927f_4f3f_b017_62bacd05686c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/437338e7-b95f-4446-b0ad-22b54a19aa22\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-金山","description":"提供各區市民活動中心名稱及地址等相關資料。(金山)","operationId":"get_437338e7_b95f_4446_b0ad_22b54a19aa22_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/437338e7-b95f-4446-b0ad-22b54a19aa22\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-金山","description":"提供各區市民活動中心名稱及地址等相關資料。(金山)","operationId":"get_437338e7_b95f_4446_b0ad_22b54a19aa22_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/437338e7-b95f-4446-b0ad-22b54a19aa22\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-金山","description":"提供各區市民活動中心名稱及地址等相關資料。(金山)","operationId":"get_437338e7_b95f_4446_b0ad_22b54a19aa22_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/eda929e9-a1d7-4c29-8a27-5eed48c815e4\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-雙溪","description":"提供各區市民活動中心名稱及地址等相關資料。(雙溪)","operationId":"get_eda929e9_a1d7_4c29_8a27_5eed48c815e4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/eda929e9-a1d7-4c29-8a27-5eed48c815e4\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-雙溪","description":"提供各區市民活動中心名稱及地址等相關資料。(雙溪)","operationId":"get_eda929e9_a1d7_4c29_8a27_5eed48c815e4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/eda929e9-a1d7-4c29-8a27-5eed48c815e4\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-雙溪","description":"提供各區市民活動中心名稱及地址等相關資料。(雙溪)","operationId":"get_eda929e9_a1d7_4c29_8a27_5eed48c815e4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/52a7efd8-efa3-463b-bd34-4b0d4938f5ec\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民活動中心資料-鶯歌","description":"提供各區市民活動中心名稱及地址等相關資料。(鶯歌)","operationId":"get_52a7efd8_efa3_463b_bd34_4b0d4938f5ec_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/52a7efd8-efa3-463b-bd34-4b0d4938f5ec\/json":{"get":{"tags":["JSON"],"summary":"新北市市民活動中心資料-鶯歌","description":"提供各區市民活動中心名稱及地址等相關資料。(鶯歌)","operationId":"get_52a7efd8_efa3_463b_bd34_4b0d4938f5ec_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/52a7efd8-efa3-463b-bd34-4b0d4938f5ec\/xml":{"get":{"tags":["XML"],"summary":"新北市市民活動中心資料-鶯歌","description":"提供各區市民活動中心名稱及地址等相關資料。(鶯歌)","operationId":"get_52a7efd8_efa3_463b_bd34_4b0d4938f5ec_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name
[...]
