{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/4001b8d2-2b1d-4466-8515-134326471842\/csv":{"get":{"tags":["CSV"],"summary":"新北客家文化活動","description":"新北客家文化活動，內容包含日期、標題、內容及連結","operationId":"get_4001b8d2_2b1d_4466_8515_134326471842_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4001b8d2-2b1d-4466-8515-134326471842\/json":{"get":{"tags":["JSON"],"summary":"新北客家文化活動","description":"新北客家文化活動，內容包含日期、標題、內容及連結","operationId":"get_4001b8d2_2b1d_4466_8515_134326471842_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4001b8d2-2b1d-4466-8515-134326471842\/xml":{"get":{"tags":["XML"],"summary":"新北客家文化活動","description":"新北客家文化活動，內容包含日期、標題、內容及連結","operationId":"get_4001b8d2_2b1d_4466_8515_134326471842_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e18c9c8c-e8d6-45ee-8ed0-37204e8b3d12\/csv":{"get":{"tags":["CSV"],"summary":"新北市客家文化園區DIY課程一覽表","description":"歡迎來電洽詢\r\n上課教室：新北市客家文化園區研習教室\r\n地址：新北市三峽區隆恩街239號\r\n連絡電話：02-2672-9996","operationId":"get_e18c9c8c_e8d6_45ee_8ed0_37204e8b3d12_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e18c9c8c-e8d6-45ee-8ed0-37204e8b3d12\/json":{"get":{"tags":["JSON"],"summary":"新北市客家文化園區DIY課程一覽表","description":"歡迎來電洽詢\r\n上課教室：新北市客家文化園區研習教室\r\n地址：新北市三峽區隆恩街239號\r\n連絡電話：02-2672-9996","operationId":"get_e18c9c8c_e8d6_45ee_8ed0_37204e8b3d12_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e18c9c8c-e8d6-45ee-8ed0-37204e8b3d12\/xml":{"get":{"tags":["XML"],"summary":"新北市客家文化園區DIY課程一覽表","description":"歡迎來電洽詢\r\n上課教室：新北市客家文化園區研習教室\r\n地址：新北市三峽區隆恩街239號\r\n連絡電話：02-2672-9996","operationId":"get_e18c9c8c_e8d6_45ee_8ed0_37204e8b3d12_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1dba5442-f90d-4032-b8d8-26844bec88dd\/csv":{"get":{"tags":["CSV"],"summary":"新北市客家文化園區出版品","description":"新北市客家文化園區出版品資訊，內容包含書名、作者、出版日期、定價、國際標準書號、政府出版品統一編號","operationId":"get_1dba5442_f90d_4032_b8d8_26844bec88dd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1dba5442-f90d-4032-b8d8-26844bec88dd\/json":{"get":{"tags":["JSON"],"summary":"新北市客家文化園區出版品","description":"新北市客家文化園區出版品資訊，內容包含書名、作者、出版日期、定價、國際標準書號、政府出版品統一編號","operationId":"get_1dba5442_f90d_4032_b8d8_26844bec88dd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1dba5442-f90d-4032-b8d8-26844bec88dd\/xml":{"get":{"tags":["XML"],"summary":"新北市客家文化園區出版品","description":"新北市客家文化園區出版品資訊，內容包含書名、作者、出版日期、定價、國際標準書號、政府出版品統一編號","operationId":"get_1dba5442_f90d_4032_b8d8_26844bec88dd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/efd09ede-cbef-4ce5-80a2-511e56842a00\/csv":{"get":{"tags":["CSV"],"summary":"新北市客家文化園區場地使用收費標準","description":"一、申請使用新北市客家文化園區場地，經新北市政府(以下簡稱本府)客家事務局(以下簡稱本局)審查核准者，其應繳納之各項費用及保證金如附表。\r\n二、本府及所屬機關、學校以前項場地主辦活動者，經本局審查核准，得免收場地使用費。\r\n三、各場地使用時間如下：\r\n上午次：09：00 - 12：00\r\n下午次：14：00 - 17：00\r\n晚間次：18：00 - 22：00\r\n\r\n前項機關、學校協辦活動者，得收取半數場地使用費及免收保證金。","operationId":"get_efd09ede_cbef_4ce5_80a2_511e56842a00_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/efd09ede-cbef-4ce5-80a2-511e56842a00\/json":{"get":{"tags":["JSON"],"summary":"新北市客家文化園區場地使用收費標準","description":"一、申請使用新北市客家文化園區場地，經新北市政府(以下簡稱本府)客家事務局(以下簡稱本局)審查核准者，其應繳納之各項費用及保證金如附表。\r\n二、本府及所屬機關、學校以前項場地主辦活動者，經本局審查核准，得免收場地使用費。\r\n三、各場地使用時間如下：\r\n上午次：09：00 - 12：00\r\n下午次：14：00 - 17：00\r\n晚間次：18：00 - 22：00\r\n\r\n前項機關、學校協辦活動者，得收取半數場地使用費及免收保證金。","operationId":"get_efd09ede_cbef_4ce5_80a2_511e56842a00_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/efd09ede-cbef-4ce5-80a2-511e56842a00\/xml":{"get":{"tags":["XML"],"summary":"新北市客家文化園區場地使用收費標準","description":"一、申請使用新北市客家文化園區場地，經新北市政府(以下簡稱本府)客家事務局(以下簡稱本局)審查核准者，其應繳納之各項費用及保證金如附表。\r\n二、本府及所屬機關、學校以前項場地主辦活動者，經本局審查核准，得免收場地使用費。\r\n三、各場地使用時間如下：\r\n上午次：09：00 - 12：00\r\n下午次：14：00 - 17：00\r\n晚間次：18：00 - 22：00\r\n\r\n前項機關、學校協辦活動者，得收取半數場地使用費及免收保證金。","operationId":"get_efd09ede_cbef_4ce5_80a2_511e56842a00_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b16d00b6-c1cb-4ceb-a30f-72f2d88ffa83\/csv":{"get":{"tags":["CSV"],"summary":"新北市客家文化園區場地使用管理要點","description":"新北市客家文化園區場地使用管理要點。","operationId":"get_b16d00b6_c1cb_4ceb_a30f_72f2d88ffa83_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b16d00b6-c1cb-4ceb-a30f-72f2d88ffa83\/json":{"get":{"tags":["JSON"],"summary":"新北市客家文化園區場地使用管理要點","description":"新北市客家文化園區場地使用管理要點。","operationId":"get_b16d00b6_c1cb_4ceb_a30f_72f2d88ffa83_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b16d00b6-c1cb-4ceb-a30f-72f2d88ffa83\/xml":{"get":{"tags":["XML"],"summary":"新北市客家文化園區場地使用管理要點","description":"新北市客家文化園區場地使用管理要點。","operationId":"get_b16d00b6_c1cb_4ceb_a30f_72f2d88ffa83_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0fed7bab-fe26-434c-8fd8-847af73c384a\/csv":{"get":{"tags":["CSV"],"summary":"新北市客屬團體資訊","description":"新北市客屬團體資訊，包含團體名稱、理事長、聯絡方式等。","operationId":"get_0fed7bab_fe26_434c_8fd8_847af73c384a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0fed7bab-fe26-434c-8fd8-847af73c384a\/json":{"get":{"tags":["JSON"],"summary":"新北市客屬團體資訊","description":"新北市客屬團體資訊，包含團體名稱、理事長、聯絡方式等。","operationId":"get_0fed7bab_fe26_434c_8fd8_847af73c384a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0fed7bab-fe26-434c-8fd8-847af73c384a\/xml":{"get":{"tags":["XML"],"summary":"新北市客屬團體資訊","description":"新北市客屬團體資訊，包含團體名稱、理事長、聯絡方式等。","operationId":"get_0fed7bab_fe26_434c_8fd8_847af73c384a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}