{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/8565597e-a174-4907-99c7-adb5ddee1326\/csv":{"get":{"tags":["CSV"],"summary":"新北市合法一般旅館名冊","description":"新北市合法一般旅館名冊，其資料包含旅館名稱、電話、地址、座標、房間數及價格等資訊。\r\n","operationId":"get_8565597e_a174_4907_99c7_adb5ddee1326_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8565597e-a174-4907-99c7-adb5ddee1326\/json":{"get":{"tags":["JSON"],"summary":"新北市合法一般旅館名冊","description":"新北市合法一般旅館名冊，其資料包含旅館名稱、電話、地址、座標、房間數及價格等資訊。\r\n","operationId":"get_8565597e_a174_4907_99c7_adb5ddee1326_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8565597e-a174-4907-99c7-adb5ddee1326\/xml":{"get":{"tags":["XML"],"summary":"新北市合法一般旅館名冊","description":"新北市合法一般旅館名冊，其資料包含旅館名稱、電話、地址、座標、房間數及價格等資訊。\r\n","operationId":"get_8565597e_a174_4907_99c7_adb5ddee1326_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/137e071b-f315-43bb-adc8-90fafa014c4a\/csv":{"get":{"tags":["CSV"],"summary":"新北市合法民宿名冊","description":"新北市合法民宿名冊，其資料包含民宿名稱、電話、地址、座標、價格等資訊。","operationId":"get_137e071b_f315_43bb_adc8_90fafa014c4a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/137e071b-f315-43bb-adc8-90fafa014c4a\/json":{"get":{"tags":["JSON"],"summary":"新北市合法民宿名冊","description":"新北市合法民宿名冊，其資料包含民宿名稱、電話、地址、座標、價格等資訊。","operationId":"get_137e071b_f315_43bb_adc8_90fafa014c4a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/137e071b-f315-43bb-adc8-90fafa014c4a\/xml":{"get":{"tags":["XML"],"summary":"新北市合法民宿名冊","description":"新北市合法民宿名冊，其資料包含民宿名稱、電話、地址、座標、價格等資訊。","operationId":"get_137e071b_f315_43bb_adc8_90fafa014c4a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/79dccdc3-1e46-4ae8-870a-44988344ce48\/csv":{"get":{"tags":["CSV"],"summary":"新北市旅服中心到站人次","description":"新北市旅服中心到站人次，其資料包含遊客中心、1-12月份及各月份總計至遊客中心之人數統計資訊(資料自105年起統計)。","operationId":"get_79dccdc3_1e46_4ae8_870a_44988344ce48_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/79dccdc3-1e46-4ae8-870a-44988344ce48\/json":{"get":{"tags":["JSON"],"summary":"新北市旅服中心到站人次","description":"新北市旅服中心到站人次，其資料包含遊客中心、1-12月份及各月份總計至遊客中心之人數統計資訊(資料自105年起統計)。","operationId":"get_79dccdc3_1e46_4ae8_870a_44988344ce48_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/79dccdc3-1e46-4ae8-870a-44988344ce48\/xml":{"get":{"tags":["XML"],"summary":"新北市旅服中心到站人次","description":"新北市旅服中心到站人次，其資料包含遊客中心、1-12月份及各月份總計至遊客中心之人數統計資訊(資料自105年起統計)。","operationId":"get_79dccdc3_1e46_4ae8_870a_44988344ce48_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9d8a7a93-c1c4-4609-84cc-c744c4744c66\/csv":{"get":{"tags":["CSV"],"summary":"新北市旅遊摺頁文宣資料","description":"新北市旅遊摺頁文宣資料，其資料包含摺頁名稱及語言版本。","operationId":"get_9d8a7a93_c1c4_4609_84cc_c744c4744c66_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9d8a7a93-c1c4-4609-84cc-c744c4744c66\/json":{"get":{"tags":["JSON"],"summary":"新北市旅遊摺頁文宣資料","description":"新北市旅遊摺頁文宣資料，其資料包含摺頁名稱及語言版本。","operationId":"get_9d8a7a93_c1c4_4609_84cc_c744c4744c66_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9d8a7a93-c1c4-4609-84cc-c744c4744c66\/xml":{"get":{"tags":["XML"],"summary":"新北市旅遊摺頁文宣資料","description":"新北市旅遊摺頁文宣資料，其資料包含摺頁名稱及語言版本。","operationId":"get_9d8a7a93_c1c4_4609_84cc_c744c4744c66_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/88c57f8a-31df-4dac-a81a-b8b22b8744b6\/csv":{"get":{"tags":["CSV"],"summary":"新北市旅遊服務中心資訊","description":"新北市旅遊服務中心資訊，其資料包含名稱、電話、(郵遞區號)地址及營運時間。","operationId":"get_88c57f8a_31df_4dac_a81a_b8b22b8744b6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/88c57f8a-31df-4dac-a81a-b8b22b8744b6\/json":{"get":{"tags":["JSON"],"summary":"新北市旅遊服務中心資訊","description":"新北市旅遊服務中心資訊，其資料包含名稱、電話、(郵遞區號)地址及營運時間。","operationId":"get_88c57f8a_31df_4dac_a81a_b8b22b8744b6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/88c57f8a-31df-4dac-a81a-b8b22b8744b6\/xml":{"get":{"tags":["XML"],"summary":"新北市旅遊服務中心資訊","description":"新北市旅遊服務中心資訊，其資料包含名稱、電話、(郵遞區號)地址及營運時間。","operationId":"get_88c57f8a_31df_4dac_a81a_b8b22b8744b6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/60d18399-a0f3-4c31-bf21-ceabfdc04ce7\/csv":{"get":{"tags":["CSV"],"summary":"新北市旅館民宿業者(中文)","description":"提供新北市觀光旅遊網中的旅館民宿業資料，包含旅館民宿店家的名稱、簡介、電話、地址、座標等資料(中文)","operationId":"get_60d18399_a0f3_4c31_bf21_ceabfdc04ce7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/60d18399-a0f3-4c31-bf21-ceabfdc04ce7\/json":{"get":{"tags":["JSON"],"summary":"新北市旅館民宿業者(中文)","description":"提供新北市觀光旅遊網中的旅館民宿業資料，包含旅館民宿店家的名稱、簡介、電話、地址、座標等資料(中文)","operationId":"get_60d18399_a0f3_4c31_bf21_ceabfdc04ce7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/60d18399-a0f3-4c31-bf21-ceabfdc04ce7\/xml":{"get":{"tags":["XML"],"summary":"新北市旅館民宿業者(中文)","description":"提供新北市觀光旅遊網中的旅館民宿業資料，包含旅館民宿店家的名稱、簡介、電話、地址、座標等資料(中文)","operationId":"get_60d18399_a0f3_4c31_bf21_ceabfdc04ce7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9862d577-b695-4d58-bec3-7259acca3c51\/csv":{"get":{"tags":["CSV"],"summary":"新北市旅館民宿業者(日文)","description":"提供新北市觀光旅遊網中的旅館民宿業資料，包含旅館民宿店家的名稱、簡介、電話、地址、座標等資料(日文)","operationId":"get_9862d577_b695_4d58_bec3_7259acca3c51_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9862d577-b695-4d58-bec3-7259acca3c51\/json":{"get":{"tags":["JSON"],"summary":"新北市旅館民宿業者(日文)","description":"提供新北市觀光旅遊網中的旅館民宿業資料，包含旅館民宿店家的名稱、簡介、電話、地址、座標等資料(日文)","operationId":"get_9862d577_b695_4d58_bec3_7259acca3c51_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9862d577-b695-4d58-bec3-7259acca3c51\/xml":{"get":{"tags":["XML"],"summary":"新北市旅館民宿業者(日文)","description":"提供新北市觀光旅遊網中的旅館民宿業資料，包含旅館民宿店家的名稱、簡介、電話、地址、座標等資料(日文)","operationId":"get_9862d577_b695_4d58_bec3_7259acca3c51_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/207a41af-e6d5-4098-b6ab-91eb51e94850\/csv":{"get":{"tags":["CSV"],"summary":"新北市旅館民宿業者(英文)","description":"提供新北市觀光旅遊網中的旅館民宿業資料，包含旅館民宿店家的名稱、簡介、電話、地址、座標等資料(英文)","operationId":"get_207a41af_e6d5_4098_b6ab_91eb51e94850_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/207a41af-e6d5-4098-b6ab-91eb51e94850\/json":{"get":{"tags":["JSON"],"summary":"新北市旅館民宿業者(英文)","description":"提供新北市觀光旅遊網中的旅館民宿業資料，包含旅館民宿店家的名稱、簡介、電話、地址、座標等資料(英文)","operationId":"get_207a41af_e6d5_4098_b6ab_91eb51e94850_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/207a41af-e6d5-4098-b6ab-91eb51e94850\/xml":{"get":{"tags":["XML"],"summary":"新北市旅館民宿業者(英文)","description":"提供新北市觀光旅遊網中的旅館民宿業資料，包含旅館民宿店家的名稱、簡介、電話、地址、座標等資料(英文)","operationId":"get_207a41af_e6d5_4098_b6ab_91eb51e94850_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f5f1f361-255d-4db9-8165-db46c49464b4\/csv":{"get":{"tags":["CSV"],"summary":"新北市旅館民宿業者(韓文)","description":"提供新北市觀光旅遊網中的旅館民宿業資料，包含旅館民宿店家的名稱、簡介、電話、地址、座標等資料(韓文)","operationId":"get_f5f1f361_255d_4db9_8165_db46c49464b4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f5f1f361-255d-4db9-8165-db46c49464b4\/json":{"get":{"tags":["JSON"],"summary":"新北市旅館民宿業者(韓文)","description":"提供新北市觀光旅遊網中的旅館民宿業資料，包含旅館民宿店家的名稱、簡介、電話、地址、座標等資料(韓文)","operationId":"get_f5f1f361_255d_4db9_8165_db46c49464b4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f5f1f361-255d-4db9-8165-db46c49464b4\/xml":{"get":{"tags":["XML"],"summary":"新北市旅館民宿業者(韓文)","description":"提供新北市觀光旅遊網中的旅館民宿業資料，包含旅館民宿店家的名稱、簡介、電話、地址、座標等資料(韓文)","operationId":"get_f5f1f361_255d_4db9_8165_db46c49464b4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1498e0b9-78cc-41c4-b569-e0c7b4458178\/csv":{"get":{"tags":["CSV"],"summary":"新北市景點遊客人次統計(不含中央所屬北觀處及東北角管理處之統計資訊)","description":"新北市景點遊客人次統計(自104年起算)，其資料包含景點名稱、1-12月份及各月份總計之遊客統計資訊。但資料內容不含中央所屬北觀處及東北角管理處管轄之景點人次。","operationId":"get_1498e0b9_78cc_41c4_b569_e0c7b4458178_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1498e0b9-78cc-41c4-b569-e0c7b4458178\/json":{"get":{"tags":["JSON"],"summary":"新北市景點遊客人次統計(不含中央所屬北觀處及東北角管理處之統計資訊)","description":"新北市景點遊客人次統計(自104年起算)，其資料包含景點名稱、1-12月份及各月份總計之遊客統計資訊。但資料內容不含中央所屬北觀處及東北角管理處管轄之景點人次。","operationId":"get_1498e0b9_78cc_41c4_b569_e0c7b4458178_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1498e0b9-78cc-41c4-b569-e0c7b4458178\/xml":{"get":{"tags":["XML"],"summary":"新北市景點遊客人次統計(不含中央所屬北觀處及東北角管理處之統計資訊)","description":"新北市景點遊客人次統計(自104年起算)，其資料包含景點名稱、1-12月份及各月份總計之遊客統計資訊。但資料內容不含中央所屬北觀處及東北角管理處管轄之景點人次。","operationId":"get_1498e0b9_78cc_41c4_b569_e0c7b4458178_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5c581667-4cc3-4af0-af6e-18649bc93c3b\/csv":{"get":{"tags":["CSV"],"summary":"新北市禁止或限制水域遊憩活動區域","description":"新北市禁止或限制水域遊憩活動區域，包含資料座標、主管機關、法令依據與罰則","operationId":"get_5c581667_4cc3_4af0_af6e_18649bc93c3b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5c581667-4cc3-4af0-af6e-18649bc93c3b\/json":{"get":{"tags":["JSON"],"summary":"新北市禁止或限制水域遊憩活動區域","description":"新北市禁止或限制水域遊憩活動區域，包含資料座標、主管機關、法令依據與罰則","operationId":"get_5c581667_4cc3_4af0_af6e_18649bc93c3b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5c581667-4cc3-4af0-af6e-18649bc93c3b\/xml":{"get":{"tags":["XML"],"summary":"新北市禁止或限制水域遊憩活動區域","description":"新北市禁止或限制水域遊憩活動區域，包含資料座標、主管機關、法令依據與罰則","operationId":"get_5c581667_4cc3_4af0_af6e_18649bc93c3b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b3a30a19-4b89-4da2-8d99-18200dc5dfde\/csv":{"get":{"tags":["CSV"],"summary":"新北市觀光旅遊景點(中文)","description":"提供新北市觀光旅遊網中的景點資料，包含景點的名稱、簡介、電話、地址、座標等資料(中文)","operationId":"get_b3a30a19_4b89_4da2_8d99_18200dc5dfde_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b3a30a19-4b89-4da2-8d99-18200dc5dfde\/json":{"get":{"tags":["JSON"],"summary":"新北市觀光旅遊景點(中文)","description":"提供新北市觀光旅遊網中的景點資料，包含景點的名稱、簡介、電話、地址、座標等資料(中文)","operationId":"get_b3a30a19_4b89_4da2_8d99_18200dc5dfde_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b3a30a19-4b89-4da2-8d99-18200dc5dfde\/xml":{"get":{"tags":["XML"],"summary":"新北市觀光旅遊景點(中文)","description":"提供新北市觀光旅遊網中的景點資料，包含景點的名稱、簡介、電話、地址、座標等資料(中文)","operationId":"get_b3a30a19_4b89_4da2_8d99_18200dc5dfde_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a595d0fb-88b5-4153-8493-e89a78f8f244\/csv":{"get":{"tags":["CSV"],"summary":"新北市觀光旅遊景點(日文)","description":"提供新北市觀光旅遊網中的景點資料，包含景點的名稱、簡介、電話、地址、座標等資料(日文)","operationId":"get_a595d0fb_88b5_4153_8493_e89a78f8f244_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a595d0fb-88b5-4153-8493-e89a78f8f244\/json":{"get":{"tags":["JSON"],"summary":"新北市觀光旅遊景點(日文)","description":"提供新北市觀光旅遊網中的景點資料，包含景點的名稱、簡介、電話、地址、座標等資料(日文)","operationId":"get_a595d0fb_88b5_4153_8493_e89a78f8f244_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a595d0fb-88b5-4153-8493-e89a78f8f244\/xml":{"get":{"tags":["XML"],"summary":"新北市觀光旅遊景點(日文)","description":"提供新北市觀光旅遊網中的景點資料，包含景點的名稱、簡介、電話、地址、座標等資料(日文)","operationId":"get_a595d0fb_88b5_4153_8493_e89a78f8f244_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c00b7482-64c0-46cc-bb34-2b2bbcb2c9e0\/csv":{"get":{"tags":["CSV"],"summary":"新北市觀光旅遊景點(英文)","description":"提供新北市觀光旅遊網中的景點資料，包含景點的名稱、簡介、電話、地址、座標等資料(英文)","operationId":"get_c00b7482_64c0_46cc_bb34_2b2bbcb2c9e0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c00b7482-64c0-46cc-bb34-2b2bbcb2c9e0\/json":{"get":{"tags":["JSON"],"summary":"新北市觀光旅遊景點(英文)","description":"提供新北市觀光旅遊網中的景點資料，包含景點的名稱、簡介、電話、地址、座標等資料(英文)","operationId":"get_c00b7482_64c0_46cc_bb34_2b2bbcb2c9e0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c00b7482-64c0-46cc-bb34-2b2bbcb2c9e0\/xml":{"get":{"tags":["XML"],"summary":"新北市觀光旅遊景點(英文)","description":"提供新北市觀光旅遊網中的景點資料，包含景點的名稱、簡介、電話、地址、座標等資料(英文)","operationId":"get_c00b7482_64c0_46cc_bb34_2b2bbcb2c9e0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ba9c6f4d-f285-48e1-a3cf-15ab0ddc31ab\/csv":{"get":{"tags":["CSV"],"summary":"新北市觀光旅遊景點(韓文)","description":"提供新北市觀光旅遊網中的景點資料，包含景點的名稱、簡介、電話、地址、座標等資料(韓文)","operationId":"get_ba9c6f4d_f285_48e1_a3cf_15ab0ddc31ab_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ba9c6f4d-f285-48e1-a3cf-15ab0ddc31ab\/json":{"get":{"tags":["JSON"],"summary":"新北市觀光旅遊景點(韓文)","description":"提供新北市觀光旅遊網中的景點資料，包含景點的名稱、簡介、電話、地址、座標等資料(韓文)","operationId":"get_ba9c6f4d_f285_48e1_a3cf_15ab0ddc31ab_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ba9c6f4d-f285-48e1-a3cf-15ab0ddc31ab\/xml":{"get":{"tags":["XML"],"summary":"新北市觀光旅遊景點(韓文)","description":"提供新北市觀光旅遊網中的景點資料，包含景點的名稱、簡介、電話、地址、座標等資料(韓文)","operationId":"get_ba9c6f4d_f285_48e1_a3cf_15ab0ddc31ab_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8e64b205-a100-4a9a-bd76-8e362761fd61\/csv":{"get":{"tags":["CSV"],"summary":"新北市餐飲業者(中文-106年更新)","description":"提供新北市觀光旅遊網中的餐廳飲食業資料，包含餐廳飲食店家的名稱、簡介、電話、地址、座標等資料(中文)","operationId":"get_8e64b205_a100_4a9a_bd76_8e362761fd61_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8e64b205-a100-4a9a-bd76-8e362761fd61\/json":{"get":{"tags":["JSON"],"summary":"新北市餐飲業者(中文-106年更新)","description":"提供新北市觀光旅遊網中的餐廳飲食業資料，包含餐廳飲食店家的名稱、簡介、電話、地址、座標等資料(中文)","operationId":"get_8e64b205_a100_4a9a_bd76_8e362761fd61_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8e64b205-a100-4a9a-bd76-8e362761fd61\/xml":{"get":{"tags":["XML"],"summary":"新北市餐飲業者(中文-106年更新)","description":"提供新北市觀光旅遊網中的餐廳飲食業資料，包含餐廳飲食店家的名稱、簡介、電話、地址、座標等資料(中文)","operationId":"get_8e64b205_a100_4a9a_bd76_8e362761fd61_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b84c2159-4305-4fd2-bba7-8fbe74e6972a\/csv":{"get":{"tags":["CSV"],"summary":"新北市餐飲業者(日文)","description":"提供新北市觀光旅遊網中的餐廳飲食業資料，包含餐廳飲食店家的名稱、簡介、電話、地址、座標等資料(日文)","operationId":"get_b84c2159_4305_4fd2_bba7_8fbe74e6972a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b84c2159-4305-4fd2-bba7-8fbe74e6972a\/json":{"get":{"tags":["JSON"],"summary":"新北市餐飲業者(日文)","description":"提供新北市觀光旅遊網中的餐廳飲食業資料，包含餐廳飲食店家的名稱、簡介、電話、地址、座標等資料(日文)","operationId":"get_b84c2159_4305_4fd2_bba7_8fbe74e6972a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b84c2159-4305-4fd2-bba7-8fbe74e6972a\/xml":{"get":{"tags":["XML"],"summary":"新北市餐飲業者(日文)","description":"提供新北市觀光旅遊網中的餐廳飲食業資料，包含餐廳飲食店家的名稱、簡介、電話、地址、座標等資料(日文)","operationId":"get_b84c2159_4305_4fd2_bba7_8fbe74e6972a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/03674c50-9a22-40ff-acb2-52f912f67c72\/csv":{"get":{"tags":["CSV"],"summary":"新北市餐飲業者(英文)","description":"提供新北市觀光旅遊網中的餐廳飲食業資料，包含餐廳飲食店家的名稱、簡介、電話、地址、座標等資料(英文)","operationId":"get_03674c50_9a22_40ff_acb2_52f912f67c72_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/03674c50-9a22-40ff-acb2-52f912f67c72\/json":{"get":{"tags":["JSON"],"summary":"新北市餐飲業者(英文)","description":"提供新北市觀光旅遊網中的餐廳飲食業資料，包含餐廳飲食店家的名稱、簡介、電話、地址、座標等資料(英文)","operationId":"get_03674c50_9a22_40ff_acb2_52f912f67c72_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/03674c50-9a22-40ff-acb2-52f912f67c72\/xml":{"get":{"tags":["XML"],"summary":"新北市餐飲業者(英文)","description":"提供新北市觀光旅遊網中的餐廳飲食業資料，包含餐廳飲食店家的名稱、簡介、電話、地址、座標等資料(英文)","operationId":"get_03674c50_9a22_40ff_acb2_52f912f67c72_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cadec51c-f83a-4544-a2c8-14ed75d783f4\/csv":{"get":{"tags":["CSV"],"summary":"新北市餐飲業者(韓文)","description":"提供新北市觀光旅遊網中的餐廳飲食業資料，包含餐廳飲食店家的名稱、簡介、電話、地址、座標等資料(韓文)","operationId":"get_cadec51c_f83a_4544_a2c8_14ed75d783f4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cadec51c-f83a-4544-a2c8-14ed75d783f4\/json":{"get":{"tags":["JSON"],"summary":"新北市餐飲業者(韓文)","description":"提供新北市觀光旅遊網中的餐廳飲食業資料，包含餐廳飲食店家的名稱、簡介、電話、地址、座標等資料(韓文)","operationId":"get_cadec51c_f83a_4544_a2c8_14ed75d783f4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/cadec51c-f83a-4544-a2c8-14ed75d783f4\/xml":{"get":{"tags":["XML"],"summary":"新北市餐飲業者(韓文)","description":"提供新北市觀光旅遊網中的餐廳飲食業資料，包含餐廳飲食店家的名稱、簡介、電話、地址、座標等資料(韓文)","operationId":"get_cadec51c_f83a_4544_a2c8_14ed75d783f4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}