{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/4fe7ded9-6b3a-44fd-a8b1-fec547bd94f9\/csv":{"get":{"tags":["CSV"],"summary":"114年度新北市青年參與社區營造獎勵計畫執行名單","description":"114年度新北市青年參與社區營造獎勵計畫執行名單及計畫簡介","operationId":"get_4fe7ded9_6b3a_44fd_a8b1_fec547bd94f9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4fe7ded9-6b3a-44fd-a8b1-fec547bd94f9\/json":{"get":{"tags":["JSON"],"summary":"114年度新北市青年參與社區營造獎勵計畫執行名單","description":"114年度新北市青年參與社區營造獎勵計畫執行名單及計畫簡介","operationId":"get_4fe7ded9_6b3a_44fd_a8b1_fec547bd94f9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4fe7ded9-6b3a-44fd-a8b1-fec547bd94f9\/xml":{"get":{"tags":["XML"],"summary":"114年度新北市青年參與社區營造獎勵計畫執行名單","description":"114年度新北市青年參與社區營造獎勵計畫執行名單及計畫簡介","operationId":"get_4fe7ded9_6b3a_44fd_a8b1_fec547bd94f9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/47ccf63f-733f-422d-ab20-5b50e8a6f983\/csv":{"get":{"tags":["CSV"],"summary":"新北市公共藝術","description":"此資料為新北市公共藝術一覽，標明創作者、設置地點、作品類型、作品材質等資訊。","operationId":"get_47ccf63f_733f_422d_ab20_5b50e8a6f983_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/47ccf63f-733f-422d-ab20-5b50e8a6f983\/json":{"get":{"tags":["JSON"],"summary":"新北市公共藝術","description":"此資料為新北市公共藝術一覽，標明創作者、設置地點、作品類型、作品材質等資訊。","operationId":"get_47ccf63f_733f_422d_ab20_5b50e8a6f983_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/47ccf63f-733f-422d-ab20-5b50e8a6f983\/xml":{"get":{"tags":["XML"],"summary":"新北市公共藝術","description":"此資料為新北市公共藝術一覽，標明創作者、設置地點、作品類型、作品材質等資訊。","operationId":"get_47ccf63f_733f_422d_ab20_5b50e8a6f983_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/df63a853-aba9-4ec1-bd28-e74459e5d5c5\/csv":{"get":{"tags":["CSV"],"summary":"新北市博物館家族清單","description":"新北市博物館家族名稱、地址、電話等聯絡資訊","operationId":"get_df63a853_aba9_4ec1_bd28_e74459e5d5c5_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/df63a853-aba9-4ec1-bd28-e74459e5d5c5\/json":{"get":{"tags":["JSON"],"summary":"新北市博物館家族清單","description":"新北市博物館家族名稱、地址、電話等聯絡資訊","operationId":"get_df63a853_aba9_4ec1_bd28_e74459e5d5c5_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/df63a853-aba9-4ec1-bd28-e74459e5d5c5\/xml":{"get":{"tags":["XML"],"summary":"新北市博物館家族清單","description":"新北市博物館家族名稱、地址、電話等聯絡資訊","operationId":"get_df63a853_aba9_4ec1_bd28_e74459e5d5c5_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f3782313-6f12-4958-a5b3-3d29f72fac84\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府徵選獎勵傑出演藝團隊補助作業要點","description":"新北市政府為執行文化部補助直轄市及縣（市）政府辦理縣市傑出演藝團隊徵選及獎勵計畫作業要點之規定，以獎勵並扶植新北市傑出演藝團隊，使其永續經營，提升創作及演出水準，特訂定本要點。","operationId":"get_f3782313_6f12_4958_a5b3_3d29f72fac84_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f3782313-6f12-4958-a5b3-3d29f72fac84\/json":{"get":{"tags":["JSON"],"summary":"新北市政府徵選獎勵傑出演藝團隊補助作業要點","description":"新北市政府為執行文化部補助直轄市及縣（市）政府辦理縣市傑出演藝團隊徵選及獎勵計畫作業要點之規定，以獎勵並扶植新北市傑出演藝團隊，使其永續經營，提升創作及演出水準，特訂定本要點。","operationId":"get_f3782313_6f12_4958_a5b3_3d29f72fac84_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f3782313-6f12-4958-a5b3-3d29f72fac84\/xml":{"get":{"tags":["XML"],"summary":"新北市政府徵選獎勵傑出演藝團隊補助作業要點","description":"新北市政府為執行文化部補助直轄市及縣（市）政府辦理縣市傑出演藝團隊徵選及獎勵計畫作業要點之規定，以獎勵並扶植新北市傑出演藝團隊，使其永續經營，提升創作及演出水準，特訂定本要點。","operationId":"get_f3782313_6f12_4958_a5b3_3d29f72fac84_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/781b822e-214a-4b9a-b4db-32c9f4626d98\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府文化局藝文活動","description":"新北市政府文化局藝文活動。","operationId":"get_781b822e_214a_4b9a_b4db_32c9f4626d98_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/781b822e-214a-4b9a-b4db-32c9f4626d98\/json":{"get":{"tags":["JSON"],"summary":"新北市政府文化局藝文活動","description":"新北市政府文化局藝文活動。","operationId":"get_781b822e_214a_4b9a_b4db_32c9f4626d98_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/781b822e-214a-4b9a-b4db-32c9f4626d98\/xml":{"get":{"tags":["XML"],"summary":"新北市政府文化局藝文活動","description":"新北市政府文化局藝文活動。","operationId":"get_781b822e_214a_4b9a_b4db_32c9f4626d98_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f7a3961e-11c9-46b0-875a-285acaf34245\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府文化局藝文空間一覽表","description":"新北市政府文化局藝文空間之開放時間、地址、電話等聯絡資訊","operationId":"get_f7a3961e_11c9_46b0_875a_285acaf34245_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f7a3961e-11c9-46b0-875a-285acaf34245\/json":{"get":{"tags":["JSON"],"summary":"新北市政府文化局藝文空間一覽表","description":"新北市政府文化局藝文空間之開放時間、地址、電話等聯絡資訊","operationId":"get_f7a3961e_11c9_46b0_875a_285acaf34245_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f7a3961e-11c9-46b0-875a-285acaf34245\/xml":{"get":{"tags":["XML"],"summary":"新北市政府文化局藝文空間一覽表","description":"新北市政府文化局藝文空間之開放時間、地址、電話等聯絡資訊","operationId":"get_f7a3961e_11c9_46b0_875a_285acaf34245_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b3e2c8a4-62ce-41b1-9fdd-61f70cef7721\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府辦理演藝活動補助作業要點","description":"新北市政府文化局為鼓勵優秀團體及個人辦理各項演藝活動，以提升新北市文化水準，特訂定本要點。","operationId":"get_b3e2c8a4_62ce_41b1_9fdd_61f70cef7721_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b3e2c8a4-62ce-41b1-9fdd-61f70cef7721\/json":{"get":{"tags":["JSON"],"summary":"新北市政府辦理演藝活動補助作業要點","description":"新北市政府文化局為鼓勵優秀團體及個人辦理各項演藝活動，以提升新北市文化水準，特訂定本要點。","operationId":"get_b3e2c8a4_62ce_41b1_9fdd_61f70cef7721_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b3e2c8a4-62ce-41b1-9fdd-61f70cef7721\/xml":{"get":{"tags":["XML"],"summary":"新北市政府辦理演藝活動補助作業要點","description":"新北市政府文化局為鼓勵優秀團體及個人辦理各項演藝活動，以提升新北市文化水準，特訂定本要點。","operationId":"get_b3e2c8a4_62ce_41b1_9fdd_61f70cef7721_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0351d41c-ef33-44da-bc3c-a64af58ddb91\/csv":{"get":{"tags":["CSV"],"summary":"新北市文化基金會一覽表","description":"新北市文化藝術財團法人之名稱、地址等資料","operationId":"get_0351d41c_ef33_44da_bc3c_a64af58ddb91_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0351d41c-ef33-44da-bc3c-a64af58ddb91\/json":{"get":{"tags":["JSON"],"summary":"新北市文化基金會一覽表","description":"新北市文化藝術財團法人之名稱、地址等資料","operationId":"get_0351d41c_ef33_44da_bc3c_a64af58ddb91_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0351d41c-ef33-44da-bc3c-a64af58ddb91\/xml":{"get":{"tags":["XML"],"summary":"新北市文化基金會一覽表","description":"新北市文化藝術財團法人之名稱、地址等資料","operationId":"get_0351d41c_ef33_44da_bc3c_a64af58ddb91_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d8eb898f-6c59-4689-9191-48dbbef16606\/csv":{"get":{"tags":["CSV"],"summary":"新北市文化資產","description":"新北市已公告之古蹟、歷史建築、紀念建築、聚落建築群、考古遺址、史蹟、文化景觀、古物、傳統藝術、傳統工藝、表演藝術、民俗及有關文物之基本資料","operationId":"get_d8eb898f_6c59_4689_9191_48dbbef16606_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d8eb898f-6c59-4689-9191-48dbbef16606\/json":{"get":{"tags":["JSON"],"summary":"新北市文化資產","description":"新北市已公告之古蹟、歷史建築、紀念建築、聚落建築群、考古遺址、史蹟、文化景觀、古物、傳統藝術、傳統工藝、表演藝術、民俗及有關文物之基本資料","operationId":"get_d8eb898f_6c59_4689_9191_48dbbef16606_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d8eb898f-6c59-4689-9191-48dbbef16606\/xml":{"get":{"tags":["XML"],"summary":"新北市文化資產","description":"新北市已公告之古蹟、歷史建築、紀念建築、聚落建築群、考古遺址、史蹟、文化景觀、古物、傳統藝術、傳統工藝、表演藝術、民俗及有關文物之基本資料","operationId":"get_d8eb898f_6c59_4689_9191_48dbbef16606_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0d07db17-675d-4104-b809-62079bf061da\/csv":{"get":{"tags":["CSV"],"summary":"新北市演藝團體一覽表","description":"新北市登記立案演藝團體之類別、團名、負責人、團址等資料","operationId":"get_0d07db17_675d_4104_b809_62079bf061da_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0d07db17-675d-4104-b809-62079bf061da\/json":{"get":{"tags":["JSON"],"summary":"新北市演藝團體一覽表","description":"新北市登記立案演藝團體之類別、團名、負責人、團址等資料","operationId":"get_0d07db17_675d_4104_b809_62079bf061da_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0d07db17-675d-4104-b809-62079bf061da\/xml":{"get":{"tags":["XML"],"summary":"新北市演藝團體一覽表","description":"新北市登記立案演藝團體之類別、團名、負責人、團址等資料","operationId":"get_0d07db17_675d_4104_b809_62079bf061da_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/64025643-34bf-489d-ac5c-13b90ddd7629\/csv":{"get":{"tags":["CSV"],"summary":"新北市立博物館群","description":"新北市立博物館群地址資訊。","operationId":"get_64025643_34bf_489d_ac5c_13b90ddd7629_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/64025643-34bf-489d-ac5c-13b90ddd7629\/json":{"get":{"tags":["JSON"],"summary":"新北市立博物館群","description":"新北市立博物館群地址資訊。","operationId":"get_64025643_34bf_489d_ac5c_13b90ddd7629_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/64025643-34bf-489d-ac5c-13b90ddd7629\/xml":{"get":{"tags":["XML"],"summary":"新北市立博物館群","description":"新北市立博物館群地址資訊。","operationId":"get_64025643_34bf_489d_ac5c_13b90ddd7629_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/20a3b141-b1c1-4b61-b36a-7569e8ce24b3\/csv":{"get":{"tags":["CSV"],"summary":"新北市藝遊","description":"提供新北市當月藝文活動資訊","operationId":"get_20a3b141_b1c1_4b61_b36a_7569e8ce24b3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/20a3b141-b1c1-4b61-b36a-7569e8ce24b3\/json":{"get":{"tags":["JSON"],"summary":"新北市藝遊","description":"提供新北市當月藝文活動資訊","operationId":"get_20a3b141_b1c1_4b61_b36a_7569e8ce24b3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/20a3b141-b1c1-4b61-b36a-7569e8ce24b3\/xml":{"get":{"tags":["XML"],"summary":"新北市藝遊","description":"提供新北市當月藝文活動資訊","operationId":"get_20a3b141_b1c1_4b61_b36a_7569e8ce24b3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ba47fc6f-1fee-41e7-ab71-c50f9b5211c8\/csv":{"get":{"tags":["CSV"],"summary":"新北市街頭藝人","description":"新北市街頭藝人通過認證審查之名冊","operationId":"get_ba47fc6f_1fee_41e7_ab71_c50f9b5211c8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ba47fc6f-1fee-41e7-ab71-c50f9b5211c8\/json":{"get":{"tags":["JSON"],"summary":"新北市街頭藝人","description":"新北市街頭藝人通過認證審查之名冊","operationId":"get_ba47fc6f_1fee_41e7_ab71_c50f9b5211c8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ba47fc6f-1fee-41e7-ab71-c50f9b5211c8\/xml":{"get":{"tags":["XML"],"summary":"新北市街頭藝人","description":"新北市街頭藝人通過認證審查之名冊","operationId":"get_ba47fc6f_1fee_41e7_ab71_c50f9b5211c8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c0cc9bd8-870d-454b-afaa-277fac536277\/csv":{"get":{"tags":["CSV"],"summary":"新北市街頭藝人展演場地","description":"新北市街頭藝人展演場地。","operationId":"get_c0cc9bd8_870d_454b_afaa_277fac536277_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c0cc9bd8-870d-454b-afaa-277fac536277\/json":{"get":{"tags":["JSON"],"summary":"新北市街頭藝人展演場地","description":"新北市街頭藝人展演場地。","operationId":"get_c0cc9bd8_870d_454b_afaa_277fac536277_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c0cc9bd8-870d-454b-afaa-277fac536277\/xml":{"get":{"tags":["XML"],"summary":"新北市街頭藝人展演場地","description":"新北市街頭藝人展演場地。","operationId":"get_c0cc9bd8_870d_454b_afaa_277fac536277_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6276f36f-bb74-4910-be71-8683e3755302\/csv":{"get":{"tags":["CSV"],"summary":"社區營造名單","description":"年度社區營造補助類型及名單等相關資訊","operationId":"get_6276f36f_bb74_4910_be71_8683e3755302_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6276f36f-bb74-4910-be71-8683e3755302\/json":{"get":{"tags":["JSON"],"summary":"社區營造名單","description":"年度社區營造補助類型及名單等相關資訊","operationId":"get_6276f36f_bb74_4910_be71_8683e3755302_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6276f36f-bb74-4910-be71-8683e3755302\/xml":{"get":{"tags":["XML"],"summary":"社區營造名單","description":"年度社區營造補助類型及名單等相關資訊","operationId":"get_6276f36f_bb74_4910_be71_8683e3755302_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/02565993-4f7f-4700-8b96-383ce2f763ba\/csv":{"get":{"tags":["CSV"],"summary":"補助私有文化資產一覽表","description":"補助私有文化資產之案件名稱","operationId":"get_02565993_4f7f_4700_8b96_383ce2f763ba_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/02565993-4f7f-4700-8b96-383ce2f763ba\/json":{"get":{"tags":["JSON"],"summary":"補助私有文化資產一覽表","description":"補助私有文化資產之案件名稱","operationId":"get_02565993_4f7f_4700_8b96_383ce2f763ba_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/02565993-4f7f-4700-8b96-383ce2f763ba\/xml":{"get":{"tags":["XML"],"summary":"補助私有文化資產一覽表","description":"補助私有文化資產之案件名稱","operationId":"get_02565993_4f7f_4700_8b96_383ce2f763ba_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}