{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/992cc894-c2a6-4350-adcb-a731726533da\/csv":{"get":{"tags":["CSV"],"summary":"全民造林及獎勵造林辦理情形","description":"全民造林及獎勵造林辦理情形。","operationId":"get_992cc894_c2a6_4350_adcb_a731726533da_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/992cc894-c2a6-4350-adcb-a731726533da\/json":{"get":{"tags":["JSON"],"summary":"全民造林及獎勵造林辦理情形","description":"全民造林及獎勵造林辦理情形。","operationId":"get_992cc894_c2a6_4350_adcb_a731726533da_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/992cc894-c2a6-4350-adcb-a731726533da\/xml":{"get":{"tags":["XML"],"summary":"全民造林及獎勵造林辦理情形","description":"全民造林及獎勵造林辦理情形。","operationId":"get_992cc894_c2a6_4350_adcb_a731726533da_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/16d737de-db60-412d-8941-06740b06207e\/csv":{"get":{"tags":["CSV"],"summary":"原生動植物復育名單","description":"原生動植物復育名單。","operationId":"get_16d737de_db60_412d_8941_06740b06207e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/16d737de-db60-412d-8941-06740b06207e\/json":{"get":{"tags":["JSON"],"summary":"原生動植物復育名單","description":"原生動植物復育名單。","operationId":"get_16d737de_db60_412d_8941_06740b06207e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/16d737de-db60-412d-8941-06740b06207e\/xml":{"get":{"tags":["XML"],"summary":"原生動植物復育名單","description":"原生動植物復育名單。","operationId":"get_16d737de_db60_412d_8941_06740b06207e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c651de04-9dff-4da3-bbbf-570563b6fbd3\/csv":{"get":{"tags":["CSV"],"summary":"外來入侵動植物防治名單","description":"外來入侵動植物防治名單。","operationId":"get_c651de04_9dff_4da3_bbbf_570563b6fbd3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c651de04-9dff-4da3-bbbf-570563b6fbd3\/json":{"get":{"tags":["JSON"],"summary":"外來入侵動植物防治名單","description":"外來入侵動植物防治名單。","operationId":"get_c651de04_9dff_4da3_bbbf_570563b6fbd3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c651de04-9dff-4da3-bbbf-570563b6fbd3\/xml":{"get":{"tags":["XML"],"summary":"外來入侵動植物防治名單","description":"外來入侵動植物防治名單。","operationId":"get_c651de04_9dff_4da3_bbbf_570563b6fbd3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/02f2e513-f2cb-4df9-aa84-2467eb3758fe\/csv":{"get":{"tags":["CSV"],"summary":"寵物登記站簽約動物醫院","description":"資料由新北市政府動物保護防疫處提供","operationId":"get_02f2e513_f2cb_4df9_aa84_2467eb3758fe_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/02f2e513-f2cb-4df9-aa84-2467eb3758fe\/json":{"get":{"tags":["JSON"],"summary":"寵物登記站簽約動物醫院","description":"資料由新北市政府動物保護防疫處提供","operationId":"get_02f2e513_f2cb_4df9_aa84_2467eb3758fe_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/02f2e513-f2cb-4df9-aa84-2467eb3758fe\/xml":{"get":{"tags":["XML"],"summary":"寵物登記站簽約動物醫院","description":"資料由新北市政府動物保護防疫處提供","operationId":"get_02f2e513_f2cb_4df9_aa84_2467eb3758fe_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/842eb6a6-49a2-4e43-8630-e5727f791de9\/csv":{"get":{"tags":["CSV"],"summary":"封溪護漁範圍清單","description":"封溪護漁範圍清單區域資料","operationId":"get_842eb6a6_49a2_4e43_8630_e5727f791de9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/842eb6a6-49a2-4e43-8630-e5727f791de9\/json":{"get":{"tags":["JSON"],"summary":"封溪護漁範圍清單","description":"封溪護漁範圍清單區域資料","operationId":"get_842eb6a6_49a2_4e43_8630_e5727f791de9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/842eb6a6-49a2-4e43-8630-e5727f791de9\/xml":{"get":{"tags":["XML"],"summary":"封溪護漁範圍清單","description":"封溪護漁範圍清單區域資料","operationId":"get_842eb6a6_49a2_4e43_8630_e5727f791de9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d88624f6-0490-4a11-a047-76390e56cc4f\/csv":{"get":{"tags":["CSV"],"summary":"挖子尾自然保留區動物名錄","description":"挖子尾自然保留區動物名錄。","operationId":"get_d88624f6_0490_4a11_a047_76390e56cc4f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d88624f6-0490-4a11-a047-76390e56cc4f\/json":{"get":{"tags":["JSON"],"summary":"挖子尾自然保留區動物名錄","description":"挖子尾自然保留區動物名錄。","operationId":"get_d88624f6_0490_4a11_a047_76390e56cc4f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d88624f6-0490-4a11-a047-76390e56cc4f\/xml":{"get":{"tags":["XML"],"summary":"挖子尾自然保留區動物名錄","description":"挖子尾自然保留區動物名錄。","operationId":"get_d88624f6_0490_4a11_a047_76390e56cc4f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/977ecbcf-8b95-438f-8be6-1b770294d3a3\/csv":{"get":{"tags":["CSV"],"summary":"新北市3星等以上衛生安全製茶廠名冊","description":"108年度為評鑑年，本市共有30家製茶廠獲評為3星至5星等","operationId":"get_977ecbcf_8b95_438f_8be6_1b770294d3a3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/977ecbcf-8b95-438f-8be6-1b770294d3a3\/json":{"get":{"tags":["JSON"],"summary":"新北市3星等以上衛生安全製茶廠名冊","description":"108年度為評鑑年，本市共有30家製茶廠獲評為3星至5星等","operationId":"get_977ecbcf_8b95_438f_8be6_1b770294d3a3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/977ecbcf-8b95-438f-8be6-1b770294d3a3\/xml":{"get":{"tags":["XML"],"summary":"新北市3星等以上衛生安全製茶廠名冊","description":"108年度為評鑑年，本市共有30家製茶廠獲評為3星至5星等","operationId":"get_977ecbcf_8b95_438f_8be6_1b770294d3a3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5fe3a136-29cc-4695-a17e-6636a32c3342\/csv":{"get":{"tags":["CSV"],"summary":"新北市公園","description":"新北市公園基本資料包含:名稱、所在區、地址、管理單位及聯絡電話","operationId":"get_5fe3a136_29cc_4695_a17e_6636a32c3342_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5fe3a136-29cc-4695-a17e-6636a32c3342\/json":{"get":{"tags":["JSON"],"summary":"新北市公園","description":"新北市公園基本資料包含:名稱、所在區、地址、管理單位及聯絡電話","operationId":"get_5fe3a136_29cc_4695_a17e_6636a32c3342_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5fe3a136-29cc-4695-a17e-6636a32c3342\/xml":{"get":{"tags":["XML"],"summary":"新北市公園","description":"新北市公園基本資料包含:名稱、所在區、地址、管理單位及聯絡電話","operationId":"get_5fe3a136_29cc_4695_a17e_6636a32c3342_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bf90fa7e-c358-4cda-b579-b6c84adc96a1\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立動物之家","description":"新北市農業局所提供的公立動物之家，歡迎民眾認養流浪犬貓。","operationId":"get_bf90fa7e_c358_4cda_b579_b6c84adc96a1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bf90fa7e-c358-4cda-b579-b6c84adc96a1\/json":{"get":{"tags":["JSON"],"summary":"新北市公立動物之家","description":"新北市農業局所提供的公立動物之家，歡迎民眾認養流浪犬貓。","operationId":"get_bf90fa7e_c358_4cda_b579_b6c84adc96a1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bf90fa7e-c358-4cda-b579-b6c84adc96a1\/xml":{"get":{"tags":["XML"],"summary":"新北市公立動物之家","description":"新北市農業局所提供的公立動物之家，歡迎民眾認養流浪犬貓。","operationId":"get_bf90fa7e_c358_4cda_b579_b6c84adc96a1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fd89a2de-5124-45bc-865e-991e9e683adb\/csv":{"get":{"tags":["CSV"],"summary":"新北市動保處愛心認養小棧合作店家","description":"與新北市政府動物保護防疫處合作之認養小棧愛心店家","operationId":"get_fd89a2de_5124_45bc_865e_991e9e683adb_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fd89a2de-5124-45bc-865e-991e9e683adb\/json":{"get":{"tags":["JSON"],"summary":"新北市動保處愛心認養小棧合作店家","description":"與新北市政府動物保護防疫處合作之認養小棧愛心店家","operationId":"get_fd89a2de_5124_45bc_865e_991e9e683adb_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fd89a2de-5124-45bc-865e-991e9e683adb\/xml":{"get":{"tags":["XML"],"summary":"新北市動保處愛心認養小棧合作店家","description":"與新北市政府動物保護防疫處合作之認養小棧愛心店家","operationId":"get_fd89a2de_5124_45bc_865e_991e9e683adb_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/de4cfd62-e977-4c4f-822f-7d2aa65f6e4a\/csv":{"get":{"tags":["CSV"],"summary":"新北市動物醫院一覽表","description":"新北市動物醫院的地址及電話。","operationId":"get_de4cfd62_e977_4c4f_822f_7d2aa65f6e4a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/de4cfd62-e977-4c4f-822f-7d2aa65f6e4a\/json":{"get":{"tags":["JSON"],"summary":"新北市動物醫院一覽表","description":"新北市動物醫院的地址及電話。","operationId":"get_de4cfd62_e977_4c4f_822f_7d2aa65f6e4a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/de4cfd62-e977-4c4f-822f-7d2aa65f6e4a\/xml":{"get":{"tags":["XML"],"summary":"新北市動物醫院一覽表","description":"新北市動物醫院的地址及電話。","operationId":"get_de4cfd62_e977_4c4f_822f_7d2aa65f6e4a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/51c9bee4-5397-40c5-801b-53cb76374a48\/csv":{"get":{"tags":["CSV"],"summary":"新北市市民農園","description":"「市民農園」土地來源為閒置農地，輔導農會推動設置或改善充實市民農園設施。市民農園資料包括地址、成立時間、面積及承租戶數。","operationId":"get_51c9bee4_5397_40c5_801b_53cb76374a48_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/51c9bee4-5397-40c5-801b-53cb76374a48\/json":{"get":{"tags":["JSON"],"summary":"新北市市民農園","description":"「市民農園」土地來源為閒置農地，輔導農會推動設置或改善充實市民農園設施。市民農園資料包括地址、成立時間、面積及承租戶數。","operationId":"get_51c9bee4_5397_40c5_801b_53cb76374a48_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/51c9bee4-5397-40c5-801b-53cb76374a48\/xml":{"get":{"tags":["XML"],"summary":"新北市市民農園","description":"「市民農園」土地來源為閒置農地，輔導農會推動設置或改善充實市民農園設施。市民農園資料包括地址、成立時間、面積及承租戶數。","operationId":"get_51c9bee4_5397_40c5_801b_53cb76374a48_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fc30f585-66d9-4233-a65e-c650d177ebfe\/csv":{"get":{"tags":["CSV"],"summary":"新北市有機農場","description":"新北市有機農場資料,含地址、電話及經營者名稱等資料","operationId":"get_fc30f585_66d9_4233_a65e_c650d177ebfe_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fc30f585-66d9-4233-a65e-c650d177ebfe\/json":{"get":{"tags":["JSON"],"summary":"新北市有機農場","description":"新北市有機農場資料,含地址、電話及經營者名稱等資料","operationId":"get_fc30f585_66d9_4233_a65e_c650d177ebfe_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fc30f585-66d9-4233-a65e-c650d177ebfe\/xml":{"get":{"tags":["XML"],"summary":"新北市有機農場","description":"新北市有機農場資料,含地址、電話及經營者名稱等資料","operationId":"get_fc30f585_66d9_4233_a65e_c650d177ebfe_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/94cbd261-e567-4bb7-bf95-7dcb3b631887\/csv":{"get":{"tags":["CSV"],"summary":"新北市漁會通訊資料","description":"新北市漁會的通訊資料。","operationId":"get_94cbd261_e567_4bb7_bf95_7dcb3b631887_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/94cbd261-e567-4bb7-bf95-7dcb3b631887\/json":{"get":{"tags":["JSON"],"summary":"新北市漁會通訊資料","description":"新北市漁會的通訊資料。","operationId":"get_94cbd261_e567_4bb7_bf95_7dcb3b631887_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/94cbd261-e567-4bb7-bf95-7dcb3b631887\/xml":{"get":{"tags":["XML"],"summary":"新北市漁會通訊資料","description":"新北市漁會的通訊資料。","operationId":"get_94cbd261_e567_4bb7_bf95_7dcb3b631887_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/dfd0dd0f-564b-461f-88fd-4493a87387b9\/csv":{"get":{"tags":["CSV"],"summary":"新北市珍貴樹木","description":"老樹是我們自然界無形的資產，有人因為它年齡蒼老、幹圍大而稱它為神木、巨木或是老樹，但是，不管它的名字是什麼，在我們的心目中，每一棵老樹就好像是一座小小的森林，在這座森林中我們可以發現到有許多小客人的蹤跡，像是烏頭翁、獨角仙、赤腹松鼠、松葉蕨、風藤、白石斛等，都是常見的伴生動物、依附植物。而由由環境保護的觀點，老樹具有的公益功能，如：製造氧氣、淨化空氣、遮蔽陽光、調節氣溫、創造綠意、美化景觀等等，不勝枚舉。 ","operationId":"get_dfd0dd0f_564b_461f_88fd_4493a87387b9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/dfd0dd0f-564b-461f-88fd-4493a87387b9\/json":{"get":{"tags":["JSON"],"summary":"新北市珍貴樹木","description":"老樹是我們自然界無形的資產，有人因為它年齡蒼老、幹圍大而稱它為神木、巨木或是老樹，但是，不管它的名字是什麼，在我們的心目中，每一棵老樹就好像是一座小小的森林，在這座森林中我們可以發現到有許多小客人的蹤跡，像是烏頭翁、獨角仙、赤腹松鼠、松葉蕨、風藤、白石斛等，都是常見的伴生動物、依附植物。而由由環境保護的觀點，老樹具有的公益功能，如：製造氧氣、淨化空氣、遮蔽陽光、調節氣溫、創造綠意、美化景觀等等，不勝枚舉。 ","operationId":"get_dfd0dd0f_564b_461f_88fd_4493a87387b9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/dfd0dd0f-564b-461f-88fd-4493a87387b9\/xml":{"get":{"tags":["XML"],"summary":"新北市珍貴樹木","description":"老樹是我們自然界無形的資產，有人因為它年齡蒼老、幹圍大而稱它為神木、巨木或是老樹，但是，不管它的名字是什麼，在我們的心目中，每一棵老樹就好像是一座小小的森林，在這座森林中我們可以發現到有許多小客人的蹤跡，像是烏頭翁、獨角仙、赤腹松鼠、松葉蕨、風藤、白石斛等，都是常見的伴生動物、依附植物。而由由環境保護的觀點，老樹具有的公益功能，如：製造氧氣、淨化空氣、遮蔽陽光、調節氣溫、創造綠意、美化景觀等等，不勝枚舉。 ","operationId":"get_dfd0dd0f_564b_461f_88fd_4493a87387b9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/57f99afb-94e2-4e67-9de7-961f5e9a9e18\/csv":{"get":{"tags":["CSV"],"summary":"新北市行道樹資料","description":"凡在都市地區、鄉村及郊區之道路兩旁、分隔島或人行道上栽植的樹木，均可稱之為「行道樹」。而行道樹之栽植，各依一定間隔距離整齊排列配置成行，應著重於美化環境、淨化空氣、調節氣候、減輕噪音及庇蔭行人等功能。依據新北市樹木保護自治條例第5條定義指省道、縣道、鄉道或市區道路所栽植之喬木。","operationId":"get_57f99afb_94e2_4e67_9de7_961f5e9a9e18_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/57f99afb-94e2-4e67-9de7-961f5e9a9e18\/json":{"get":{"tags":["JSON"],"summary":"新北市行道樹資料","description":"凡在都市地區、鄉村及郊區之道路兩旁、分隔島或人行道上栽植的樹木，均可稱之為「行道樹」。而行道樹之栽植，各依一定間隔距離整齊排列配置成行，應著重於美化環境、淨化空氣、調節氣候、減輕噪音及庇蔭行人等功能。依據新北市樹木保護自治條例第5條定義指省道、縣道、鄉道或市區道路所栽植之喬木。","operationId":"get_57f99afb_94e2_4e67_9de7_961f5e9a9e18_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/57f99afb-94e2-4e67-9de7-961f5e9a9e18\/xml":{"get":{"tags":["XML"],"summary":"新北市行道樹資料","description":"凡在都市地區、鄉村及郊區之道路兩旁、分隔島或人行道上栽植的樹木，均可稱之為「行道樹」。而行道樹之栽植，各依一定間隔距離整齊排列配置成行，應著重於美化環境、淨化空氣、調節氣候、減輕噪音及庇蔭行人等功能。依據新北市樹木保護自治條例第5條定義指省道、縣道、鄉道或市區道路所栽植之喬木。","operationId":"get_57f99afb_94e2_4e67_9de7_961f5e9a9e18_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/aac5c97e-eefb-41ec-81bc-9ba148a7a54c\/csv":{"get":{"tags":["CSV"],"summary":"新北市農會通訊資料","description":"新北市農會通訊資料。","operationId":"get_aac5c97e_eefb_41ec_81bc_9ba148a7a54c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/aac5c97e-eefb-41ec-81bc-9ba148a7a54c\/json":{"get":{"tags":["JSON"],"summary":"新北市農會通訊資料","description":"新北市農會通訊資料。","operationId":"get_aac5c97e_eefb_41ec_81bc_9ba148a7a54c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/aac5c97e-eefb-41ec-81bc-9ba148a7a54c\/xml":{"get":{"tags":["XML"],"summary":"新北市農會通訊資料","description":"新北市農會通訊資料。","operationId":"get_aac5c97e_eefb_41ec_81bc_9ba148a7a54c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/66b246fc-454f-46a7-b3c7-5927be51ffb9\/csv":{"get":{"tags":["CSV"],"summary":"新北市農產品產期表","description":"新北市政府農業局提供新北市各行政區於各月份的農產品以及產期的相關資料主要提供欄位包含產品、 產期月份、行政區等","operationId":"get_66b246fc_454f_46a7_b3c7_5927be51ffb9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/66b246fc-454f-46a7-b3c7-5927be51ffb9\/json":{"get":{"tags":["JSON"],"summary":"新北市農產品產期表","description":"新北市政府農業局提供新北市各行政區於各月份的農產品以及產期的相關資料主要提供欄位包含產品、 產期月份、行政區等","operationId":"get_66b246fc_454f_46a7_b3c7_5927be51ffb9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/66b246fc-454f-46a7-b3c7-5927be51ffb9\/xml":{"get":{"tags":["XML"],"summary":"新北市農產品產期表","description":"新北市政府農業局提供新北市各行政區於各月份的農產品以及產期的相關資料主要提供欄位包含產品、 產期月份、行政區等","operationId":"get_66b246fc_454f_46a7_b3c7_5927be51ffb9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a570ec11-c636-4103-9193-068ebe630c6e\/csv":{"get":{"tags":["CSV"],"summary":"狂犬病通知單相關QA","description":"狂犬病通知單相關QA。","operationId":"get_a570ec11_c636_4103_9193_068ebe630c6e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a570ec11-c636-4103-9193-068ebe630c6e\/json":{"get":{"tags":["JSON"],"summary":"狂犬病通知單相關QA","description":"狂犬病通知單相關QA。","operationId":"get_a570ec11_c636_4103_9193_068ebe630c6e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a570ec11-c636-4103-9193-068ebe630c6e\/xml":{"get":{"tags":["XML"],"summary":"狂犬病通知單相關QA","description":"狂犬病通知單相關QA。","operationId":"get_a570ec11_c636_4103_9193_068ebe630c6e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fc7629c2-8166-4396-9b96-9f05e929063e\/csv":{"get":{"tags":["CSV"],"summary":"狂犬病預防注射簽約動物醫院","description":"106年度與本市合作之狂犬病預防注射簽約動物醫院","operationId":"get_fc7629c2_8166_4396_9b96_9f05e929063e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fc7629c2-8166-4396-9b96-9f05e929063e\/json":{"get":{"tags":["JSON"],"summary":"狂犬病預防注射簽約動物醫院","description":"106年度與本市合作之狂犬病預防注射簽約動物醫院","operationId":"get_fc7629c2_8166_4396_9b96_9f05e929063e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fc7629c2-8166-4396-9b96-9f05e929063e\/xml":{"get":{"tags":["XML"],"summary":"狂犬病預防注射簽約動物醫院","description":"106年度與本市合作之狂犬病預防注射簽約動物醫院","operationId":"get_fc7629c2_8166_4396_9b96_9f05e929063e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1e604ad9-03f6-495a-b18e-2f4d6299e8e1\/csv":{"get":{"tags":["CSV"],"summary":"絕育補助簽約動物醫院","description":"與新北市政府動物保護防疫處合作之絕育補助簽約動物醫院","operationId":"get_1e604ad9_03f6_495a_b18e_2f4d6299e8e1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1e604ad9-03f6-495a-b18e-2f4d6299e8e1\/json":{"get":{"tags":["JSON"],"summary":"絕育補助簽約動物醫院","description":"與新北市政府動物保護防疫處合作之絕育補助簽約動物醫院","operationId":"get_1e604ad9_03f6_495a_b18e_2f4d6299e8e1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1e604ad9-03f6-495a-b18e-2f4d6299e8e1\/xml":{"get":{"tags":["XML"],"summary":"絕育補助簽約動物醫院","description":"與新北市政府動物保護防疫處合作之絕育補助簽約動物醫院","operationId":"get_1e604ad9_03f6_495a_b18e_2f4d6299e8e1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d2169490-82f4-40ec-b506-6c240633acfa\/csv":{"get":{"tags":["CSV"],"summary":"賞魚、蝶、螢之資訊","description":"賞魚、蝶、螢之資訊。","operationId":"get_d2169490_82f4_40ec_b506_6c240633acfa_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d2169490-82f4-40ec-b506-6c240633acfa\/json":{"get":{"tags":["JSON"],"summary":"賞魚、蝶、螢之資訊","description":"賞魚、蝶、螢之資訊。","operationId":"get_d2169490_82f4_40ec_b506_6c240633acfa_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d2169490-82f4-40ec-b506-6c240633acfa\/xml":{"get":{"tags":["XML"],"summary":"賞魚、蝶、螢之資訊","description":"賞魚、蝶、螢之資訊。","operationId":"get_d2169490_82f4_40ec_b506_6c240633acfa_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}