{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/22ecd1e6-842b-419b-b78a-c60482af298a\/csv":{"get":{"tags":["CSV"],"summary":"新北市原住民族別人數排行榜統計表","description":"新北市原住民族別人數排行榜統計表，其資料包含男女人口排行等資料。","operationId":"get_22ecd1e6_842b_419b_b78a_c60482af298a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/22ecd1e6-842b-419b-b78a-c60482af298a\/json":{"get":{"tags":["JSON"],"summary":"新北市原住民族別人數排行榜統計表","description":"新北市原住民族別人數排行榜統計表，其資料包含男女人口排行等資料。","operationId":"get_22ecd1e6_842b_419b_b78a_c60482af298a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/22ecd1e6-842b-419b-b78a-c60482af298a\/xml":{"get":{"tags":["XML"],"summary":"新北市原住民族別人數排行榜統計表","description":"新北市原住民族別人數排行榜統計表，其資料包含男女人口排行等資料。","operationId":"get_22ecd1e6_842b_419b_b78a_c60482af298a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7718c478-8c01-4570-8b12-643da2285dec\/csv":{"get":{"tags":["CSV"],"summary":"新北市原民團體資料","description":"新北市原民團體資料，資料包含原住民族發展協進會、原住民族立案社團、 新北市原住民族各族群同鄉會等團體。<br\/>","operationId":"get_7718c478_8c01_4570_8b12_643da2285dec_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7718c478-8c01-4570-8b12-643da2285dec\/json":{"get":{"tags":["JSON"],"summary":"新北市原民團體資料","description":"新北市原民團體資料，資料包含原住民族發展協進會、原住民族立案社團、 新北市原住民族各族群同鄉會等團體。<br\/>","operationId":"get_7718c478_8c01_4570_8b12_643da2285dec_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7718c478-8c01-4570-8b12-643da2285dec\/xml":{"get":{"tags":["XML"],"summary":"新北市原民團體資料","description":"新北市原民團體資料，資料包含原住民族發展協進會、原住民族立案社團、 新北市原住民族各族群同鄉會等團體。<br\/>","operationId":"get_7718c478_8c01_4570_8b12_643da2285dec_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e5bef801-73f7-4074-82df-2df430a08af6\/csv":{"get":{"tags":["CSV"],"summary":"新北市各區區公所原住民服務窗口","description":"新北市各區區公所原住民服務窗口。","operationId":"get_e5bef801_73f7_4074_82df_2df430a08af6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e5bef801-73f7-4074-82df-2df430a08af6\/json":{"get":{"tags":["JSON"],"summary":"新北市各區區公所原住民服務窗口","description":"新北市各區區公所原住民服務窗口。","operationId":"get_e5bef801_73f7_4074_82df_2df430a08af6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e5bef801-73f7-4074-82df-2df430a08af6\/xml":{"get":{"tags":["XML"],"summary":"新北市各區區公所原住民服務窗口","description":"新北市各區區公所原住民服務窗口。","operationId":"get_e5bef801_73f7_4074_82df_2df430a08af6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0de9326d-22ed-4ac7-8491-65bec2758af9\/csv":{"get":{"tags":["CSV"],"summary":"新北市各區原住民人數統計表","description":"新北市各區原住民人數統計，其資料包含各區原住名男女人口等資訊。\r\n","operationId":"get_0de9326d_22ed_4ac7_8491_65bec2758af9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0de9326d-22ed-4ac7-8491-65bec2758af9\/json":{"get":{"tags":["JSON"],"summary":"新北市各區原住民人數統計表","description":"新北市各區原住民人數統計，其資料包含各區原住名男女人口等資訊。\r\n","operationId":"get_0de9326d_22ed_4ac7_8491_65bec2758af9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0de9326d-22ed-4ac7-8491-65bec2758af9\/xml":{"get":{"tags":["XML"],"summary":"新北市各區原住民人數統計表","description":"新北市各區原住民人數統計，其資料包含各區原住名男女人口等資訊。\r\n","operationId":"get_0de9326d_22ed_4ac7_8491_65bec2758af9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}