{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/deb37d64-264a-48f3-b3d6-978a98d22c68\/csv":{"get":{"tags":["CSV"],"summary":"新北市公共自行車租借站及價格(新版)","description":"資料由新北市政府高灘地工程管理處所提供主要欄位包含了出租日類型、租借站名稱、電話、位置、營運時間、現場借用一小時淑女\/幼童車(平日\/假日)、現場借用二小時淑女\/幼童車(平日\/假日)、現場借用六小時淑女\/幼童車(平日\/假日)、現場借用一小時變速車、現場借用二小時變速車、現場借用六小時變速車、現場借用一小時高級變速車\/協力車、現場借用二小時高級變速車\/協力車、現場借用六小時高級變速車\/協力車、甲借乙還四小時以內淑女\/幼童車(平日\/假日)、甲借乙還四小時以內變速車、甲借乙還四小時以內高級變速車\/協力車、甲借乙還四小時以後淑女\/幼童車(平日\/假日)、甲借乙還四小時以後變速車、甲借乙還四小時以後高級變速車\/協力車價位等  ","operationId":"get_deb37d64_264a_48f3_b3d6_978a98d22c68_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/deb37d64-264a-48f3-b3d6-978a98d22c68\/json":{"get":{"tags":["JSON"],"summary":"新北市公共自行車租借站及價格(新版)","description":"資料由新北市政府高灘地工程管理處所提供主要欄位包含了出租日類型、租借站名稱、電話、位置、營運時間、現場借用一小時淑女\/幼童車(平日\/假日)、現場借用二小時淑女\/幼童車(平日\/假日)、現場借用六小時淑女\/幼童車(平日\/假日)、現場借用一小時變速車、現場借用二小時變速車、現場借用六小時變速車、現場借用一小時高級變速車\/協力車、現場借用二小時高級變速車\/協力車、現場借用六小時高級變速車\/協力車、甲借乙還四小時以內淑女\/幼童車(平日\/假日)、甲借乙還四小時以內變速車、甲借乙還四小時以內高級變速車\/協力車、甲借乙還四小時以後淑女\/幼童車(平日\/假日)、甲借乙還四小時以後變速車、甲借乙還四小時以後高級變速車\/協力車價位等  ","operationId":"get_deb37d64_264a_48f3_b3d6_978a98d22c68_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/deb37d64-264a-48f3-b3d6-978a98d22c68\/xml":{"get":{"tags":["XML"],"summary":"新北市公共自行車租借站及價格(新版)","description":"資料由新北市政府高灘地工程管理處所提供主要欄位包含了出租日類型、租借站名稱、電話、位置、營運時間、現場借用一小時淑女\/幼童車(平日\/假日)、現場借用二小時淑女\/幼童車(平日\/假日)、現場借用六小時淑女\/幼童車(平日\/假日)、現場借用一小時變速車、現場借用二小時變速車、現場借用六小時變速車、現場借用一小時高級變速車\/協力車、現場借用二小時高級變速車\/協力車、現場借用六小時高級變速車\/協力車、甲借乙還四小時以內淑女\/幼童車(平日\/假日)、甲借乙還四小時以內變速車、甲借乙還四小時以內高級變速車\/協力車、甲借乙還四小時以後淑女\/幼童車(平日\/假日)、甲借乙還四小時以後變速車、甲借乙還四小時以後高級變速車\/協力車價位等  ","operationId":"get_deb37d64_264a_48f3_b3d6_978a98d22c68_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3674522f-e5a1-469f-9fd8-7f2c195427ad\/csv":{"get":{"tags":["CSV"],"summary":"新北市十大低漥地區","description":"105年統計發生積淹水紀錄結果，屬天然地形及地勢低漥，雖經本局採各種改善工程，如包含側溝或下水道擴大、瓶頸段打通、增設低地排水設施…等，仍無法免除豪大雨或颱風期間易發生積淹水情形，請周邊市民加強預防措施將易因水災受損物品墊高，如有需使用砂包阻隔需求者，可至各公所領取砂包備用。","operationId":"get_3674522f_e5a1_469f_9fd8_7f2c195427ad_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3674522f-e5a1-469f-9fd8-7f2c195427ad\/json":{"get":{"tags":["JSON"],"summary":"新北市十大低漥地區","description":"105年統計發生積淹水紀錄結果，屬天然地形及地勢低漥，雖經本局採各種改善工程，如包含側溝或下水道擴大、瓶頸段打通、增設低地排水設施…等，仍無法免除豪大雨或颱風期間易發生積淹水情形，請周邊市民加強預防措施將易因水災受損物品墊高，如有需使用砂包阻隔需求者，可至各公所領取砂包備用。","operationId":"get_3674522f_e5a1_469f_9fd8_7f2c195427ad_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3674522f-e5a1-469f-9fd8-7f2c195427ad\/xml":{"get":{"tags":["XML"],"summary":"新北市十大低漥地區","description":"105年統計發生積淹水紀錄結果，屬天然地形及地勢低漥，雖經本局採各種改善工程，如包含側溝或下水道擴大、瓶頸段打通、增設低地排水設施…等，仍無法免除豪大雨或颱風期間易發生積淹水情形，請周邊市民加強預防措施將易因水災受損物品墊高，如有需使用砂包阻隔需求者，可至各公所領取砂包備用。","operationId":"get_3674522f_e5a1_469f_9fd8_7f2c195427ad_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3cdc5b9c-ce48-4dd6-8079-b9b3fa4b7296\/csv":{"get":{"tags":["CSV"],"summary":"新北市各抽水站資訊","description":"抽水站所在的位置是雨水下水道的末端，當大雨或漲潮時，導致堤外水位高於堤內水位就要關閉重力閘門，並於到達啟抽水位時啟動抽水機將水排出。","operationId":"get_3cdc5b9c_ce48_4dd6_8079_b9b3fa4b7296_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3cdc5b9c-ce48-4dd6-8079-b9b3fa4b7296\/json":{"get":{"tags":["JSON"],"summary":"新北市各抽水站資訊","description":"抽水站所在的位置是雨水下水道的末端，當大雨或漲潮時，導致堤外水位高於堤內水位就要關閉重力閘門，並於到達啟抽水位時啟動抽水機將水排出。","operationId":"get_3cdc5b9c_ce48_4dd6_8079_b9b3fa4b7296_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3cdc5b9c-ce48-4dd6-8079-b9b3fa4b7296\/xml":{"get":{"tags":["XML"],"summary":"新北市各抽水站資訊","description":"抽水站所在的位置是雨水下水道的末端，當大雨或漲潮時，導致堤外水位高於堤內水位就要關閉重力閘門，並於到達啟抽水位時啟動抽水機將水排出。","operationId":"get_3cdc5b9c_ce48_4dd6_8079_b9b3fa4b7296_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/aee21d56-9a92-45af-8534-cbc7c2e5922c\/csv":{"get":{"tags":["CSV"],"summary":"新北市市管河川資訊","description":"提供本市19條市管河川之基本資訊(如：地區、河川名稱、治理長度(公里)、河川出口、治理起點、治理終點) \r\n","operationId":"get_aee21d56_9a92_45af_8534_cbc7c2e5922c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/aee21d56-9a92-45af-8534-cbc7c2e5922c\/json":{"get":{"tags":["JSON"],"summary":"新北市市管河川資訊","description":"提供本市19條市管河川之基本資訊(如：地區、河川名稱、治理長度(公里)、河川出口、治理起點、治理終點) \r\n","operationId":"get_aee21d56_9a92_45af_8534_cbc7c2e5922c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/aee21d56-9a92-45af-8534-cbc7c2e5922c\/xml":{"get":{"tags":["XML"],"summary":"新北市市管河川資訊","description":"提供本市19條市管河川之基本資訊(如：地區、河川名稱、治理長度(公里)、河川出口、治理起點、治理終點) \r\n","operationId":"get_aee21d56_9a92_45af_8534_cbc7c2e5922c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5d733e16-f779-4592-940b-d473e23d649d\/csv":{"get":{"tags":["CSV"],"summary":"新北市抗旱水井","description":"本市目前計有7口抗旱水井(管徑400mm)，為水利署91年度於本市樹林區所施作，有5口位於樹林省民公園，現由本府教育局體育處及水利署第十河川局管理，另有2口位於樹林河濱公園，為本府高灘地管理處管轄範圍。","operationId":"get_5d733e16_f779_4592_940b_d473e23d649d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5d733e16-f779-4592-940b-d473e23d649d\/json":{"get":{"tags":["JSON"],"summary":"新北市抗旱水井","description":"本市目前計有7口抗旱水井(管徑400mm)，為水利署91年度於本市樹林區所施作，有5口位於樹林省民公園，現由本府教育局體育處及水利署第十河川局管理，另有2口位於樹林河濱公園，為本府高灘地管理處管轄範圍。","operationId":"get_5d733e16_f779_4592_940b_d473e23d649d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5d733e16-f779-4592-940b-d473e23d649d\/xml":{"get":{"tags":["XML"],"summary":"新北市抗旱水井","description":"本市目前計有7口抗旱水井(管徑400mm)，為水利署91年度於本市樹林區所施作，有5口位於樹林省民公園，現由本府教育局體育處及水利署第十河川局管理，另有2口位於樹林河濱公園，為本府高灘地管理處管轄範圍。","operationId":"get_5d733e16_f779_4592_940b_d473e23d649d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/27032374-4e06-4372-97c0-b7f3e9ad0f03\/csv":{"get":{"tags":["CSV"],"summary":"新北市抽水站參訪資訊","description":"本府水利局開放轄內四處抽水站供民眾參訪，讓市民完整了解抽水站的防洪、防災功能。","operationId":"get_27032374_4e06_4372_97c0_b7f3e9ad0f03_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/27032374-4e06-4372-97c0-b7f3e9ad0f03\/json":{"get":{"tags":["JSON"],"summary":"新北市抽水站參訪資訊","description":"本府水利局開放轄內四處抽水站供民眾參訪，讓市民完整了解抽水站的防洪、防災功能。","operationId":"get_27032374_4e06_4372_97c0_b7f3e9ad0f03_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/27032374-4e06-4372-97c0-b7f3e9ad0f03\/xml":{"get":{"tags":["XML"],"summary":"新北市抽水站參訪資訊","description":"本府水利局開放轄內四處抽水站供民眾參訪，讓市民完整了解抽水站的防洪、防災功能。","operationId":"get_27032374_4e06_4372_97c0_b7f3e9ad0f03_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c40bf768-8a36-4b99-94db-622c27122d61\/csv":{"get":{"tags":["CSV"],"summary":"新北市橫移門資訊","description":"在不影響防洪安全狀況下興建橫移門，平時堤防外高灘地可供民眾休閒之場所或開放車輛停放，當有颱風來臨時或者水庫洩洪造成河川水位上升時，將提早宣布關閉橫移門作業，避免河水淹入市區。","operationId":"get_c40bf768_8a36_4b99_94db_622c27122d61_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c40bf768-8a36-4b99-94db-622c27122d61\/json":{"get":{"tags":["JSON"],"summary":"新北市橫移門資訊","description":"在不影響防洪安全狀況下興建橫移門，平時堤防外高灘地可供民眾休閒之場所或開放車輛停放，當有颱風來臨時或者水庫洩洪造成河川水位上升時，將提早宣布關閉橫移門作業，避免河水淹入市區。","operationId":"get_c40bf768_8a36_4b99_94db_622c27122d61_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c40bf768-8a36-4b99-94db-622c27122d61\/xml":{"get":{"tags":["XML"],"summary":"新北市橫移門資訊","description":"在不影響防洪安全狀況下興建橫移門，平時堤防外高灘地可供民眾休閒之場所或開放車輛停放，當有颱風來臨時或者水庫洩洪造成河川水位上升時，將提早宣布關閉橫移門作業，避免河水淹入市區。","operationId":"get_c40bf768_8a36_4b99_94db_622c27122d61_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bf784279-31aa-44bc-a210-33151d03e7ab\/csv":{"get":{"tags":["CSV"],"summary":"新北市水門資料","description":"水門為設置於渠道中控制水流的閘門，主要設於堤防上，平時開啟保持排水暢通，颱風期間關閉防止河水倒灌。","operationId":"get_bf784279_31aa_44bc_a210_33151d03e7ab_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bf784279-31aa-44bc-a210-33151d03e7ab\/json":{"get":{"tags":["JSON"],"summary":"新北市水門資料","description":"水門為設置於渠道中控制水流的閘門，主要設於堤防上，平時開啟保持排水暢通，颱風期間關閉防止河水倒灌。","operationId":"get_bf784279_31aa_44bc_a210_33151d03e7ab_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bf784279-31aa-44bc-a210-33151d03e7ab\/xml":{"get":{"tags":["XML"],"summary":"新北市水門資料","description":"水門為設置於渠道中控制水流的閘門，主要設於堤防上，平時開啟保持排水暢通，颱風期間關閉防止河水倒灌。","operationId":"get_bf784279_31aa_44bc_a210_33151d03e7ab_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0ae3bb6f-6bcf-4a38-b45e-a371fbefb9dc\/csv":{"get":{"tags":["CSV"],"summary":"新北市污水下水道用戶接管普及率","description":"新普及率處理率計算依據污水下水道第五期建設計畫修正以接管戶數乘以各縣市戶量除以各縣市總人口數而得；各縣市總人口數及各縣市戶量資料來源為內政部戶政司人口資料（縣市人口性比例及人口密度）。","operationId":"get_0ae3bb6f_6bcf_4a38_b45e_a371fbefb9dc_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0ae3bb6f-6bcf-4a38-b45e-a371fbefb9dc\/json":{"get":{"tags":["JSON"],"summary":"新北市污水下水道用戶接管普及率","description":"新普及率處理率計算依據污水下水道第五期建設計畫修正以接管戶數乘以各縣市戶量除以各縣市總人口數而得；各縣市總人口數及各縣市戶量資料來源為內政部戶政司人口資料（縣市人口性比例及人口密度）。","operationId":"get_0ae3bb6f_6bcf_4a38_b45e_a371fbefb9dc_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0ae3bb6f-6bcf-4a38-b45e-a371fbefb9dc\/xml":{"get":{"tags":["XML"],"summary":"新北市污水下水道用戶接管普及率","description":"新普及率處理率計算依據污水下水道第五期建設計畫修正以接管戶數乘以各縣市戶量除以各縣市總人口數而得；各縣市總人口數及各縣市戶量資料來源為內政部戶政司人口資料（縣市人口性比例及人口密度）。","operationId":"get_0ae3bb6f_6bcf_4a38_b45e_a371fbefb9dc_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/19c9859b-d081-4aeb-8ae6-fe91d8f1934e\/csv":{"get":{"tags":["CSV"],"summary":"新北市污水處理率","description":"新北市全區之污水處理率\r\n計算式如下:\r\n整體污水處理率=(用戶接管普及率)+(專用污水下水道普及率)+(建築物污水處理設施設置率) \r\n用戶接管普及率=(公共污水下水道已接管戶數\/總戶數)","operationId":"get_19c9859b_d081_4aeb_8ae6_fe91d8f1934e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/19c9859b-d081-4aeb-8ae6-fe91d8f1934e\/json":{"get":{"tags":["JSON"],"summary":"新北市污水處理率","description":"新北市全區之污水處理率\r\n計算式如下:\r\n整體污水處理率=(用戶接管普及率)+(專用污水下水道普及率)+(建築物污水處理設施設置率) \r\n用戶接管普及率=(公共污水下水道已接管戶數\/總戶數)","operationId":"get_19c9859b_d081_4aeb_8ae6_fe91d8f1934e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/19c9859b-d081-4aeb-8ae6-fe91d8f1934e\/xml":{"get":{"tags":["XML"],"summary":"新北市污水處理率","description":"新北市全區之污水處理率\r\n計算式如下:\r\n整體污水處理率=(用戶接管普及率)+(專用污水下水道普及率)+(建築物污水處理設施設置率) \r\n用戶接管普及率=(公共污水下水道已接管戶數\/總戶數)","operationId":"get_19c9859b_d081_4aeb_8ae6_fe91d8f1934e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8d44bfab-002c-4403-a283-d77c752aa1c3\/csv":{"get":{"tags":["CSV"],"summary":"新北市河濱公園園區設施","description":"新北市河濱公園及園區設施分布","operationId":"get_8d44bfab_002c_4403_a283_d77c752aa1c3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8d44bfab-002c-4403-a283-d77c752aa1c3\/json":{"get":{"tags":["JSON"],"summary":"新北市河濱公園園區設施","description":"新北市河濱公園及園區設施分布","operationId":"get_8d44bfab_002c_4403_a283_d77c752aa1c3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8d44bfab-002c-4403-a283-d77c752aa1c3\/xml":{"get":{"tags":["XML"],"summary":"新北市河濱公園園區設施","description":"新北市河濱公園及園區設施分布","operationId":"get_8d44bfab_002c_4403_a283_d77c752aa1c3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b95d126d-4ee7-40f1-828c-22591cf0ff86\/csv":{"get":{"tags":["CSV"],"summary":"新北市河濱公園行動餐車位置","description":"新北市河濱公園行動餐車，是仿效「國道休息站」方式把河濱公園單車道看成高速公路，行動餐車變成單車騎士的「休息站」，選擇設置地點於各定點路橋下，提供多樣化輕食，並一旁搭配設置單車租借維修站，以及流動廁所等公共設施，提供民眾更友善、多元的遊憩空間，藉此提升自行車道的品質。","operationId":"get_b95d126d_4ee7_40f1_828c_22591cf0ff86_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b95d126d-4ee7-40f1-828c-22591cf0ff86\/json":{"get":{"tags":["JSON"],"summary":"新北市河濱公園行動餐車位置","description":"新北市河濱公園行動餐車，是仿效「國道休息站」方式把河濱公園單車道看成高速公路，行動餐車變成單車騎士的「休息站」，選擇設置地點於各定點路橋下，提供多樣化輕食，並一旁搭配設置單車租借維修站，以及流動廁所等公共設施，提供民眾更友善、多元的遊憩空間，藉此提升自行車道的品質。","operationId":"get_b95d126d_4ee7_40f1_828c_22591cf0ff86_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b95d126d-4ee7-40f1-828c-22591cf0ff86\/xml":{"get":{"tags":["XML"],"summary":"新北市河濱公園行動餐車位置","description":"新北市河濱公園行動餐車，是仿效「國道休息站」方式把河濱公園單車道看成高速公路，行動餐車變成單車騎士的「休息站」，選擇設置地點於各定點路橋下，提供多樣化輕食，並一旁搭配設置單車租借維修站，以及流動廁所等公共設施，提供民眾更友善、多元的遊憩空間，藉此提升自行車道的品質。","operationId":"get_b95d126d_4ee7_40f1_828c_22591cf0ff86_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/443888b8-7cdd-4853-9c63-a33a776341fb\/csv":{"get":{"tags":["CSV"],"summary":"新北市無線電中繼站","description":"無線電中繼站可將訊號發送至較偏遠地區及增加訊號強度","operationId":"get_443888b8_7cdd_4853_9c63_a33a776341fb_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/443888b8-7cdd-4853-9c63-a33a776341fb\/json":{"get":{"tags":["JSON"],"summary":"新北市無線電中繼站","description":"無線電中繼站可將訊號發送至較偏遠地區及增加訊號強度","operationId":"get_443888b8_7cdd_4853_9c63_a33a776341fb_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/443888b8-7cdd-4853-9c63-a33a776341fb\/xml":{"get":{"tags":["XML"],"summary":"新北市無線電中繼站","description":"無線電中繼站可將訊號發送至較偏遠地區及增加訊號強度","operationId":"get_443888b8_7cdd_4853_9c63_a33a776341fb_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bfcaacf8-c9c1-4d9a-8561-ac232819e001\/csv":{"get":{"tags":["CSV"],"summary":"新北市管區域排水資訊","description":"區域排水：是指容納兩種類型以上之較大型排水，是屬於地區性排水，最後再匯入河川。\r\n","operationId":"get_bfcaacf8_c9c1_4d9a_8561_ac232819e001_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bfcaacf8-c9c1-4d9a-8561-ac232819e001\/json":{"get":{"tags":["JSON"],"summary":"新北市管區域排水資訊","description":"區域排水：是指容納兩種類型以上之較大型排水，是屬於地區性排水，最後再匯入河川。\r\n","operationId":"get_bfcaacf8_c9c1_4d9a_8561_ac232819e001_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bfcaacf8-c9c1-4d9a-8561-ac232819e001\/xml":{"get":{"tags":["XML"],"summary":"新北市管區域排水資訊","description":"區域排水：是指容納兩種類型以上之較大型排水，是屬於地區性排水，最後再匯入河川。\r\n","operationId":"get_bfcaacf8_c9c1_4d9a_8561_ac232819e001_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/996a600d-fd74-4a49-92d3-9464d2606e3f\/csv":{"get":{"tags":["CSV"],"summary":"新北市自行車道資料","description":"此為新北市水利局所提供之自行車道出入口資料，內有二重疏洪道及淡水河畔、大漢溪、基隆河段、淡水八里區、新店溪及橫移門等資料。","operationId":"get_996a600d_fd74_4a49_92d3_9464d2606e3f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/996a600d-fd74-4a49-92d3-9464d2606e3f\/json":{"get":{"tags":["JSON"],"summary":"新北市自行車道資料","description":"此為新北市水利局所提供之自行車道出入口資料，內有二重疏洪道及淡水河畔、大漢溪、基隆河段、淡水八里區、新店溪及橫移門等資料。","operationId":"get_996a600d_fd74_4a49_92d3_9464d2606e3f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/996a600d-fd74-4a49-92d3-9464d2606e3f\/xml":{"get":{"tags":["XML"],"summary":"新北市自行車道資料","description":"此為新北市水利局所提供之自行車道出入口資料，內有二重疏洪道及淡水河畔、大漢溪、基隆河段、淡水八里區、新店溪及橫移門等資料。","operationId":"get_996a600d_fd74_4a49_92d3_9464d2606e3f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e86a3f65-cb0e-423f-80aa-b2b69a017799\/csv":{"get":{"tags":["CSV"],"summary":"新北市藍色公路碼頭","description":"新北市所屬藍色公路碼頭位置資訊\r\n","operationId":"get_e86a3f65_cb0e_423f_80aa_b2b69a017799_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e86a3f65-cb0e-423f-80aa-b2b69a017799\/json":{"get":{"tags":["JSON"],"summary":"新北市藍色公路碼頭","description":"新北市所屬藍色公路碼頭位置資訊\r\n","operationId":"get_e86a3f65_cb0e_423f_80aa_b2b69a017799_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e86a3f65-cb0e-423f-80aa-b2b69a017799\/xml":{"get":{"tags":["XML"],"summary":"新北市藍色公路碼頭","description":"新北市所屬藍色公路碼頭位置資訊\r\n","operationId":"get_e86a3f65_cb0e_423f_80aa_b2b69a017799_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e445d330-e40a-425f-ae61-3f1840a31242\/csv":{"get":{"tags":["CSV"],"summary":"新北市陸閘資訊","description":"於汐止地區基隆河沿岸橋梁處設置陸閘，提供人、車出入 ，並強化防洪功能。","operationId":"get_e445d330_e40a_425f_ae61_3f1840a31242_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e445d330-e40a-425f-ae61-3f1840a31242\/json":{"get":{"tags":["JSON"],"summary":"新北市陸閘資訊","description":"於汐止地區基隆河沿岸橋梁處設置陸閘，提供人、車出入 ，並強化防洪功能。","operationId":"get_e445d330_e40a_425f_ae61_3f1840a31242_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e445d330-e40a-425f-ae61-3f1840a31242\/xml":{"get":{"tags":["XML"],"summary":"新北市陸閘資訊","description":"於汐止地區基隆河沿岸橋梁處設置陸閘，提供人、車出入 ，並強化防洪功能。","operationId":"get_e445d330_e40a_425f_ae61_3f1840a31242_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fae7f80a-b075-4977-a654-bfdc11dc4cc6\/csv":{"get":{"tags":["CSV"],"summary":"新北市颱風期間各型移動式抽水機佈設資訊","description":"提供本市陸上颱風警報發佈後於易積淹水地區佈設各型移動式抽水機之基本資訊(如：地區、位置、機型名稱、數量、排出口)","operationId":"get_fae7f80a_b075_4977_a654_bfdc11dc4cc6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fae7f80a-b075-4977-a654-bfdc11dc4cc6\/json":{"get":{"tags":["JSON"],"summary":"新北市颱風期間各型移動式抽水機佈設資訊","description":"提供本市陸上颱風警報發佈後於易積淹水地區佈設各型移動式抽水機之基本資訊(如：地區、位置、機型名稱、數量、排出口)","operationId":"get_fae7f80a_b075_4977_a654_bfdc11dc4cc6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fae7f80a-b075-4977-a654-bfdc11dc4cc6\/xml":{"get":{"tags":["XML"],"summary":"新北市颱風期間各型移動式抽水機佈設資訊","description":"提供本市陸上颱風警報發佈後於易積淹水地區佈設各型移動式抽水機之基本資訊(如：地區、位置、機型名稱、數量、排出口)","operationId":"get_fae7f80a_b075_4977_a654_bfdc11dc4cc6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/803d19e4-b252-41cc-b1a3-a91f9c60d74b\/csv":{"get":{"tags":["CSV"],"summary":"林口區內滯洪設施位置及用地面積","description":"滯洪池：位於河溪湖泊內、或鄰接處、或支流上開挖出的區域，將地表逕流暫時儲存以收調節洪水功效，降低因為暴雨尖峰流量對下游低勢地區所帶來的傷害。\r\n提供之基本資訊(如：都市計畫用地編號、總集水面積(km2)、地籍面積(m2)、滯洪池使用面積(m2)、現地使用情形) \r\n新增加欄位：公園 \/ 停車場名稱及位置","operationId":"get_803d19e4_b252_41cc_b1a3_a91f9c60d74b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/803d19e4-b252-41cc-b1a3-a91f9c60d74b\/json":{"get":{"tags":["JSON"],"summary":"林口區內滯洪設施位置及用地面積","description":"滯洪池：位於河溪湖泊內、或鄰接處、或支流上開挖出的區域，將地表逕流暫時儲存以收調節洪水功效，降低因為暴雨尖峰流量對下游低勢地區所帶來的傷害。\r\n提供之基本資訊(如：都市計畫用地編號、總集水面積(km2)、地籍面積(m2)、滯洪池使用面積(m2)、現地使用情形) \r\n新增加欄位：公園 \/ 停車場名稱及位置","operationId":"get_803d19e4_b252_41cc_b1a3_a91f9c60d74b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/803d19e4-b252-41cc-b1a3-a91f9c60d74b\/xml":{"get":{"tags":["XML"],"summary":"林口區內滯洪設施位置及用地面積","description":"滯洪池：位於河溪湖泊內、或鄰接處、或支流上開挖出的區域，將地表逕流暫時儲存以收調節洪水功效，降低因為暴雨尖峰流量對下游低勢地區所帶來的傷害。\r\n提供之基本資訊(如：都市計畫用地編號、總集水面積(km2)、地籍面積(m2)、滯洪池使用面積(m2)、現地使用情形) \r\n新增加欄位：公園 \/ 停車場名稱及位置","operationId":"get_803d19e4_b252_41cc_b1a3_a91f9c60d74b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c3867812-6188-4b0a-a487-03bb4d93238d\/csv":{"get":{"tags":["CSV"],"summary":"河濱公園位置","description":"新北市高灘地園區河濱公園分布位置","operationId":"get_c3867812_6188_4b0a_a487_03bb4d93238d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c3867812-6188-4b0a-a487-03bb4d93238d\/json":{"get":{"tags":["JSON"],"summary":"河濱公園位置","description":"新北市高灘地園區河濱公園分布位置","operationId":"get_c3867812_6188_4b0a_a487_03bb4d93238d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c3867812-6188-4b0a-a487-03bb4d93238d\/xml":{"get":{"tags":["XML"],"summary":"河濱公園位置","description":"新北市高灘地園區河濱公園分布位置","operationId":"get_c3867812_6188_4b0a_a487_03bb4d93238d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ef526dd1-a39c-4186-8905-3ac4726051b5\/csv":{"get":{"tags":["CSV"],"summary":"河濱公園景觀廁所位置","description":"新北市高灘地園區之景觀廁所分布","operationId":"get_ef526dd1_a39c_4186_8905_3ac4726051b5_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ef526dd1-a39c-4186-8905-3ac4726051b5\/json":{"get":{"tags":["JSON"],"summary":"河濱公園景觀廁所位置","description":"新北市高灘地園區之景觀廁所分布","operationId":"get_ef526dd1_a39c_4186_8905_3ac4726051b5_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ef526dd1-a39c-4186-8905-3ac4726051b5\/xml":{"get":{"tags":["XML"],"summary":"河濱公園景觀廁所位置","description":"新北市高灘地園區之景觀廁所分布","operationId":"get_ef526dd1_a39c_4186_8905_3ac4726051b5_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}