{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/a607e6a4-2458-4502-b706-e13865364864\/csv":{"get":{"tags":["CSV"],"summary":"102年新北市公地撥用","description":"102年新北市公地撥用。","operationId":"get_a607e6a4_2458_4502_b706_e13865364864_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a607e6a4-2458-4502-b706-e13865364864\/json":{"get":{"tags":["JSON"],"summary":"102年新北市公地撥用","description":"102年新北市公地撥用。","operationId":"get_a607e6a4_2458_4502_b706_e13865364864_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a607e6a4-2458-4502-b706-e13865364864\/xml":{"get":{"tags":["XML"],"summary":"102年新北市公地撥用","description":"102年新北市公地撥用。","operationId":"get_a607e6a4_2458_4502_b706_e13865364864_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e2cc2bf4-08b3-470d-acd2-4c5bb86fe7fb\/csv":{"get":{"tags":["CSV"],"summary":"103年新北市公地撥用","description":"103年新北市公地撥用。","operationId":"get_e2cc2bf4_08b3_470d_acd2_4c5bb86fe7fb_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e2cc2bf4-08b3-470d-acd2-4c5bb86fe7fb\/json":{"get":{"tags":["JSON"],"summary":"103年新北市公地撥用","description":"103年新北市公地撥用。","operationId":"get_e2cc2bf4_08b3_470d_acd2_4c5bb86fe7fb_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e2cc2bf4-08b3-470d-acd2-4c5bb86fe7fb\/xml":{"get":{"tags":["XML"],"summary":"103年新北市公地撥用","description":"103年新北市公地撥用。","operationId":"get_e2cc2bf4_08b3_470d_acd2_4c5bb86fe7fb_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/575da319-1ef3-420e-aef3-b6d6b895d2d5\/csv":{"get":{"tags":["CSV"],"summary":"104年度二重疏洪道兩側重劃區土地標售成果一覽表","description":"104年度二重疏洪道兩側重劃區土地標售成果一覽表。","operationId":"get_575da319_1ef3_420e_aef3_b6d6b895d2d5_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/575da319-1ef3-420e-aef3-b6d6b895d2d5\/json":{"get":{"tags":["JSON"],"summary":"104年度二重疏洪道兩側重劃區土地標售成果一覽表","description":"104年度二重疏洪道兩側重劃區土地標售成果一覽表。","operationId":"get_575da319_1ef3_420e_aef3_b6d6b895d2d5_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/575da319-1ef3-420e-aef3-b6d6b895d2d5\/xml":{"get":{"tags":["XML"],"summary":"104年度二重疏洪道兩側重劃區土地標售成果一覽表","description":"104年度二重疏洪道兩側重劃區土地標售成果一覽表。","operationId":"get_575da319_1ef3_420e_aef3_b6d6b895d2d5_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/55d88550-e33b-43a9-b8be-40d084b81692\/csv":{"get":{"tags":["CSV"],"summary":"104年新北市公地撥用","description":"104年新北市公地撥用。","operationId":"get_55d88550_e33b_43a9_b8be_40d084b81692_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/55d88550-e33b-43a9-b8be-40d084b81692\/json":{"get":{"tags":["JSON"],"summary":"104年新北市公地撥用","description":"104年新北市公地撥用。","operationId":"get_55d88550_e33b_43a9_b8be_40d084b81692_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/55d88550-e33b-43a9-b8be-40d084b81692\/xml":{"get":{"tags":["XML"],"summary":"104年新北市公地撥用","description":"104年新北市公地撥用。","operationId":"get_55d88550_e33b_43a9_b8be_40d084b81692_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/abbf6900-7ef1-462d-8ebb-a07f0969c520\/csv":{"get":{"tags":["CSV"],"summary":"105年度土城暫緩發展區及附近地區市地重劃開發案土地標售成果一覽表","description":"105年度土城暫緩發展區及附近地區市地重劃開發案土地標售成果一覽表。","operationId":"get_abbf6900_7ef1_462d_8ebb_a07f0969c520_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/abbf6900-7ef1-462d-8ebb-a07f0969c520\/json":{"get":{"tags":["JSON"],"summary":"105年度土城暫緩發展區及附近地區市地重劃開發案土地標售成果一覽表","description":"105年度土城暫緩發展區及附近地區市地重劃開發案土地標售成果一覽表。","operationId":"get_abbf6900_7ef1_462d_8ebb_a07f0969c520_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/abbf6900-7ef1-462d-8ebb-a07f0969c520\/xml":{"get":{"tags":["XML"],"summary":"105年度土城暫緩發展區及附近地區市地重劃開發案土地標售成果一覽表","description":"105年度土城暫緩發展區及附近地區市地重劃開發案土地標售成果一覽表。","operationId":"get_abbf6900_7ef1_462d_8ebb_a07f0969c520_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/eeeaa1f9-1503-4750-8a95-dbbc0ee1b57d\/csv":{"get":{"tags":["CSV"],"summary":"105年度地政士開業及異動年報統計表","description":"105年度地政士開業及異動年報統計表。","operationId":"get_eeeaa1f9_1503_4750_8a95_dbbc0ee1b57d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/eeeaa1f9-1503-4750-8a95-dbbc0ee1b57d\/json":{"get":{"tags":["JSON"],"summary":"105年度地政士開業及異動年報統計表","description":"105年度地政士開業及異動年報統計表。","operationId":"get_eeeaa1f9_1503_4750_8a95_dbbc0ee1b57d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/eeeaa1f9-1503-4750-8a95-dbbc0ee1b57d\/xml":{"get":{"tags":["XML"],"summary":"105年度地政士開業及異動年報統計表","description":"105年度地政士開業及異動年報統計表。","operationId":"get_eeeaa1f9_1503_4750_8a95_dbbc0ee1b57d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/84d5f643-1313-4529-b446-e860b3e3078f\/csv":{"get":{"tags":["CSV"],"summary":"105年新北市公地撥用","description":"105年新北市公地撥用。","operationId":"get_84d5f643_1313_4529_b446_e860b3e3078f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/84d5f643-1313-4529-b446-e860b3e3078f\/json":{"get":{"tags":["JSON"],"summary":"105年新北市公地撥用","description":"105年新北市公地撥用。","operationId":"get_84d5f643_1313_4529_b446_e860b3e3078f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/84d5f643-1313-4529-b446-e860b3e3078f\/xml":{"get":{"tags":["XML"],"summary":"105年新北市公地撥用","description":"105年新北市公地撥用。","operationId":"get_84d5f643_1313_4529_b446_e860b3e3078f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/54bcc5c2-444a-4de5-9388-045a9e76dbf5\/csv":{"get":{"tags":["CSV"],"summary":"106年度地政士開業及異動年報統計表","description":"106年度地政士開業及異動年報統計表。","operationId":"get_54bcc5c2_444a_4de5_9388_045a9e76dbf5_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/54bcc5c2-444a-4de5-9388-045a9e76dbf5\/json":{"get":{"tags":["JSON"],"summary":"106年度地政士開業及異動年報統計表","description":"106年度地政士開業及異動年報統計表。","operationId":"get_54bcc5c2_444a_4de5_9388_045a9e76dbf5_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/54bcc5c2-444a-4de5-9388-045a9e76dbf5\/xml":{"get":{"tags":["XML"],"summary":"106年度地政士開業及異動年報統計表","description":"106年度地政士開業及異動年報統計表。","operationId":"get_54bcc5c2_444a_4de5_9388_045a9e76dbf5_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5d6510df-cfb5-4329-91ce-d6401ac56d3d\/csv":{"get":{"tags":["CSV"],"summary":"106年新北市公地撥用","description":"106年新北市公地撥用。","operationId":"get_5d6510df_cfb5_4329_91ce_d6401ac56d3d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5d6510df-cfb5-4329-91ce-d6401ac56d3d\/json":{"get":{"tags":["JSON"],"summary":"106年新北市公地撥用","description":"106年新北市公地撥用。","operationId":"get_5d6510df_cfb5_4329_91ce_d6401ac56d3d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5d6510df-cfb5-4329-91ce-d6401ac56d3d\/xml":{"get":{"tags":["XML"],"summary":"106年新北市公地撥用","description":"106年新北市公地撥用。","operationId":"get_5d6510df_cfb5_4329_91ce_d6401ac56d3d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/64c76ca6-f80d-4491-8e78-2dfb1de1be97\/csv":{"get":{"tags":["CSV"],"summary":"107年度地政士開業及異動年報統計表","description":"107年度地政士開業及異動年報統計表。","operationId":"get_64c76ca6_f80d_4491_8e78_2dfb1de1be97_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/64c76ca6-f80d-4491-8e78-2dfb1de1be97\/json":{"get":{"tags":["JSON"],"summary":"107年度地政士開業及異動年報統計表","description":"107年度地政士開業及異動年報統計表。","operationId":"get_64c76ca6_f80d_4491_8e78_2dfb1de1be97_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/64c76ca6-f80d-4491-8e78-2dfb1de1be97\/xml":{"get":{"tags":["XML"],"summary":"107年度地政士開業及異動年報統計表","description":"107年度地政士開業及異動年報統計表。","operationId":"get_64c76ca6_f80d_4491_8e78_2dfb1de1be97_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/23bbb476-1c1e-4bd7-b464-32e1042b9690\/csv":{"get":{"tags":["CSV"],"summary":"107年新北市公地撥用","description":"107年新北市公地撥用。","operationId":"get_23bbb476_1c1e_4bd7_b464_32e1042b9690_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/23bbb476-1c1e-4bd7-b464-32e1042b9690\/json":{"get":{"tags":["JSON"],"summary":"107年新北市公地撥用","description":"107年新北市公地撥用。","operationId":"get_23bbb476_1c1e_4bd7_b464_32e1042b9690_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/23bbb476-1c1e-4bd7-b464-32e1042b9690\/xml":{"get":{"tags":["XML"],"summary":"107年新北市公地撥用","description":"107年新北市公地撥用。","operationId":"get_23bbb476_1c1e_4bd7_b464_32e1042b9690_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f9506143-437d-4352-9e98-ebd05a931665\/csv":{"get":{"tags":["CSV"],"summary":"108年度地政士開業及異動年報統計表","description":"108年度地政士開業及異動年報統計表。","operationId":"get_f9506143_437d_4352_9e98_ebd05a931665_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f9506143-437d-4352-9e98-ebd05a931665\/json":{"get":{"tags":["JSON"],"summary":"108年度地政士開業及異動年報統計表","description":"108年度地政士開業及異動年報統計表。","operationId":"get_f9506143_437d_4352_9e98_ebd05a931665_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f9506143-437d-4352-9e98-ebd05a931665\/xml":{"get":{"tags":["XML"],"summary":"108年度地政士開業及異動年報統計表","description":"108年度地政士開業及異動年報統計表。","operationId":"get_f9506143_437d_4352_9e98_ebd05a931665_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a3140534-1067-4123-81ab-debb92032fc8\/csv":{"get":{"tags":["CSV"],"summary":"108年新北市公地撥用","description":"108年新北市公地撥用。","operationId":"get_a3140534_1067_4123_81ab_debb92032fc8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a3140534-1067-4123-81ab-debb92032fc8\/json":{"get":{"tags":["JSON"],"summary":"108年新北市公地撥用","description":"108年新北市公地撥用。","operationId":"get_a3140534_1067_4123_81ab_debb92032fc8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a3140534-1067-4123-81ab-debb92032fc8\/xml":{"get":{"tags":["XML"],"summary":"108年新北市公地撥用","description":"108年新北市公地撥用。","operationId":"get_a3140534_1067_4123_81ab_debb92032fc8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/581bc606-954b-4790-abf1-3ed276f48101\/csv":{"get":{"tags":["CSV"],"summary":"109年度地政士開業及異動年報統計表","description":"109年度地政士開業及異動年報統計表。","operationId":"get_581bc606_954b_4790_abf1_3ed276f48101_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/581bc606-954b-4790-abf1-3ed276f48101\/json":{"get":{"tags":["JSON"],"summary":"109年度地政士開業及異動年報統計表","description":"109年度地政士開業及異動年報統計表。","operationId":"get_581bc606_954b_4790_abf1_3ed276f48101_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/581bc606-954b-4790-abf1-3ed276f48101\/xml":{"get":{"tags":["XML"],"summary":"109年度地政士開業及異動年報統計表","description":"109年度地政士開業及異動年報統計表。","operationId":"get_581bc606_954b_4790_abf1_3ed276f48101_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/30949cf0-e476-4d02-be50-eb6e1ce45b87\/csv":{"get":{"tags":["CSV"],"summary":"109年新北市公地撥用","description":"109年新北市公地撥用。","operationId":"get_30949cf0_e476_4d02_be50_eb6e1ce45b87_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/30949cf0-e476-4d02-be50-eb6e1ce45b87\/json":{"get":{"tags":["JSON"],"summary":"109年新北市公地撥用","description":"109年新北市公地撥用。","operationId":"get_30949cf0_e476_4d02_be50_eb6e1ce45b87_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/30949cf0-e476-4d02-be50-eb6e1ce45b87\/xml":{"get":{"tags":["XML"],"summary":"109年新北市公地撥用","description":"109年新北市公地撥用。","operationId":"get_30949cf0_e476_4d02_be50_eb6e1ce45b87_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f2dce1b2-db1d-4c2e-983c-8516a988e242\/csv":{"get":{"tags":["CSV"],"summary":"110年度地政士開業及異動年報統計表","description":"110年度地政士開業及異動年報-統計表","operationId":"get_f2dce1b2_db1d_4c2e_983c_8516a988e242_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f2dce1b2-db1d-4c2e-983c-8516a988e242\/json":{"get":{"tags":["JSON"],"summary":"110年度地政士開業及異動年報統計表","description":"110年度地政士開業及異動年報-統計表","operationId":"get_f2dce1b2_db1d_4c2e_983c_8516a988e242_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f2dce1b2-db1d-4c2e-983c-8516a988e242\/xml":{"get":{"tags":["XML"],"summary":"110年度地政士開業及異動年報統計表","description":"110年度地政士開業及異動年報-統計表","operationId":"get_f2dce1b2_db1d_4c2e_983c_8516a988e242_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c983e22a-74ca-4616-9d4a-ce1ed40b8eba\/csv":{"get":{"tags":["CSV"],"summary":"110年新北市公地撥用","description":"110年新北市公地撥用，包含權屬、筆數、面積資料","operationId":"get_c983e22a_74ca_4616_9d4a_ce1ed40b8eba_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c983e22a-74ca-4616-9d4a-ce1ed40b8eba\/json":{"get":{"tags":["JSON"],"summary":"110年新北市公地撥用","description":"110年新北市公地撥用，包含權屬、筆數、面積資料","operationId":"get_c983e22a_74ca_4616_9d4a_ce1ed40b8eba_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c983e22a-74ca-4616-9d4a-ce1ed40b8eba\/xml":{"get":{"tags":["XML"],"summary":"110年新北市公地撥用","description":"110年新北市公地撥用，包含權屬、筆數、面積資料","operationId":"get_c983e22a_74ca_4616_9d4a_ce1ed40b8eba_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d38ebdf8-0f86-439a-8393-f8702280efa8\/csv":{"get":{"tags":["CSV"],"summary":"111年度地政士開業及異動年報統計表","description":"111年度地政士開業及異動年報-統計表","operationId":"get_d38ebdf8_0f86_439a_8393_f8702280efa8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d38ebdf8-0f86-439a-8393-f8702280efa8\/json":{"get":{"tags":["JSON"],"summary":"111年度地政士開業及異動年報統計表","description":"111年度地政士開業及異動年報-統計表","operationId":"get_d38ebdf8_0f86_439a_8393_f8702280efa8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d38ebdf8-0f86-439a-8393-f8702280efa8\/xml":{"get":{"tags":["XML"],"summary":"111年度地政士開業及異動年報統計表","description":"111年度地政士開業及異動年報-統計表","operationId":"get_d38ebdf8_0f86_439a_8393_f8702280efa8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5ac91103-8b91-46f2-9bf3-847fef510991\/csv":{"get":{"tags":["CSV"],"summary":"111年新北市公地撥用","description":"111年新北市公地撥用。","operationId":"get_5ac91103_8b91_46f2_9bf3_847fef510991_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5ac91103-8b91-46f2-9bf3-847fef510991\/json":{"get":{"tags":["JSON"],"summary":"111年新北市公地撥用","description":"111年新北市公地撥用。","operationId":"get_5ac91103_8b91_46f2_9bf3_847fef510991_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5ac91103-8b91-46f2-9bf3-847fef510991\/xml":{"get":{"tags":["XML"],"summary":"111年新北市公地撥用","description":"111年新北市公地撥用。","operationId":"get_5ac91103_8b91_46f2_9bf3_847fef510991_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7858e162-c796-4401-b1a4-2dc45fca6892\/csv":{"get":{"tags":["CSV"],"summary":"112年度地政士開業及異動年報統計表","description":"112年度地政士開業及異動","operationId":"get_7858e162_c796_4401_b1a4_2dc45fca6892_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7858e162-c796-4401-b1a4-2dc45fca6892\/json":{"get":{"tags":["JSON"],"summary":"112年度地政士開業及異動年報統計表","description":"112年度地政士開業及異動","operationId":"get_7858e162_c796_4401_b1a4_2dc45fca6892_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7858e162-c796-4401-b1a4-2dc45fca6892\/xml":{"get":{"tags":["XML"],"summary":"112年度地政士開業及異動年報統計表","description":"112年度地政士開業及異動","operationId":"get_7858e162_c796_4401_b1a4_2dc45fca6892_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2201f46f-7b77-44bb-bee3-5e56fcd560c2\/csv":{"get":{"tags":["CSV"],"summary":"112年新北市公地撥用 ","description":"112年 新北市公地撥用 ","operationId":"get_2201f46f_7b77_44bb_bee3_5e56fcd560c2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2201f46f-7b77-44bb-bee3-5e56fcd560c2\/json":{"get":{"tags":["JSON"],"summary":"112年新北市公地撥用 ","description":"112年 新北市公地撥用 ","operationId":"get_2201f46f_7b77_44bb_bee3_5e56fcd560c2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2201f46f-7b77-44bb-bee3-5e56fcd560c2\/xml":{"get":{"tags":["XML"],"summary":"112年新北市公地撥用 ","description":"112年 新北市公地撥用 ","operationId":"get_2201f46f_7b77_44bb_bee3_5e56fcd560c2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/efd60789-4a72-4a43-bd55-61f3c8953d30\/csv":{"get":{"tags":["CSV"],"summary":"113年度地政士開業及異動年報統計表","description":"113年度地政士開業及異動","operationId":"get_efd60789_4a72_4a43_bd55_61f3c8953d30_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/efd60789-4a72-4a43-bd55-61f3c8953d30\/json":{"get":{"tags":["JSON"],"summary":"113年度地政士開業及異動年報統計表","description":"113年度地政士開業及異動","operationId":"get_efd60789_4a72_4a43_bd55_61f3c8953d30_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/efd60789-4a72-4a43-bd55-61f3c8953d30\/xml":{"get":{"tags":["XML"],"summary":"113年度地政士開業及異動年報統計表","description":"113年度地政士開業及異動","operationId":"get_efd60789_4a72_4a43_bd55_61f3c8953d30_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2fec184a-e122-4142-9f7e-a7cc2c24dc3f\/csv":{"get":{"tags":["CSV"],"summary":"三重地政事務所新舊地號對照表","description":"本資料集為本市三重地政事務所轄區之土地新舊地號對照表(資料更新截至113年12月31日)","operationId":"get_2fec184a_e122_4142_9f7e_a7cc2c24dc3f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2fec184a-e122-4142-9f7e-a7cc2c24dc3f\/json":{"get":{"tags":["JSON"],"summary":"三重地政事務所新舊地號對照表","description":"本資料集為本市三重地政事務所轄區之土地新舊地號對照表(資料更新截至113年12月31日)","operationId":"get_2fec184a_e122_4142_9f7e_a7cc2c24dc3f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2fec184a-e122-4142-9f7e-a7cc2c24dc3f\/xml":{"get":{"tags":["XML"],"summary":"三重地政事務所新舊地號對照表","description":"本資料集為本市三重地政事務所轄區之土地新舊地號對照表(資料更新截至113年12月31日)","operationId":"get_2fec184a_e122_4142_9f7e_a7cc2c24dc3f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c99b9221-02da-4faa-a543-bf7a115b0a03\/csv":{"get":{"tags":["CSV"],"summary":"三重地政事務所新舊地號對照表-三重區","description":"本資料集為本市三重地政事務所轄區之土地新舊地號對照表(資料更新截至113年12月31日)(三重區)","operationId":"get_c99b9221_02da_4faa_a543_bf7a115b0a03_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c99b9221-02da-4faa-a543-bf7a115b0a03\/json":{"get":{"tags":["JSON"],"summary":"三重地政事務所新舊地號對照表-三重區","description":"本資料集為本市三重地政事務所轄區之土地新舊地號對照表(資料更新截至113年12月31日)(三重區)","operationId":"get_c99b9221_02da_4faa_a543_bf7a115b0a03_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c99b9221-02da-4faa-a543-bf7a115b0a03\/xml":{"get":{"tags":["XML"],"summary":"三重地政事務所新舊地號對照表-三重區","description":"本資料集為本市三重地政事務所轄區之土地新舊地號對照表(資料更新截至113年12月31日)(三重區)","operationId":"get_c99b9221_02da_4faa_a543_bf7a115b0a03_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/804bbaaa-c30a-4667-9aa1-1b000d338de6\/csv":{"get":{"tags":["CSV"],"summary":"三重地政事務所新舊地號對照表-蘆洲區","description":"本資料集為本市三重地政事務所轄區之土地新舊地號對照表(資料更新截至113年12月31日)(蘆洲區)","operationId":"get_804bbaaa_c30a_4667_9aa1_1b000d338de6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/804bbaaa-c30a-4667-9aa1-1b000d338de6\/json":{"get":{"tags":["JSON"],"summary":"三重地政事務所新舊地號對照表-蘆洲區","description":"本資料集為本市三重地政事務所轄區之土地新舊地號對照表(資料更新截至113年12月31日)(蘆洲區)","operationId":"get_804bbaaa_c30a_4667_9aa1_1b000d338de6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/804bbaaa-c30a-4667-9aa1-1b000d338de6\/xml":{"get":{"tags":["XML"],"summary":"三重地政事務所新舊地號對照表-蘆洲區","description":"本資料集為本市三重地政事務所轄區之土地新舊地號對照表(資料更新截至113年12月31日)(蘆洲區)","operationId":"get_804bbaaa_c30a_4667_9aa1_1b000d338de6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f3493651-6051-43ad-bb00-9c084a662ada\/csv":{"get":{"tags":["CSV"],"summary":"三重地政事務所新舊建號對照表","description":"本資料集為本市三重地政事務所轄區之土地新舊建號對照表(資料更新截至111年12月31日)","operationId":"get_f3493651_6051_43ad_bb00_9c084a662ada_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f3493651-6051-43ad-bb00-9c084a662ada\/json":{"get":{"tags":["JSON"],"summary":"三重地政事務所新舊建號對照表","description":"本資料集為本市三重地政事務所轄區之土地新舊建號對照表(資料更新截至111年12月31日)","operationId":"get_f3493651_6051_43ad_bb00_9c084a662ada_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f3493651-6051-43ad-bb00-9c084a662ada\/xml":{"get":{"tags":["XML"],"summary":"三重地政事務所新舊建號對照表","description":"本資料集為本市三重地政事務所轄區之土地新舊建號對照表(資料更新截至111年12月31日)","operationId":"get_f3493651_6051_43ad_bb00_9c084a662ada_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/410bcc09-a86c-4506-9e5e-504e9b557982\/csv":{"get":{"tags":["CSV"],"summary":"三重地政事務所新舊建號對照表-三重區","description":"本資料集為本市三重地政事務所轄區之土地新舊建號對照表(資料更新截至111年12月31日)(三重區)","operationId":"get_410bcc09_a86c_4506_9e5e_504e9b557982_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/410bcc09-a86c-4506-9e5e-504e9b557982\/json":{"get":{"tags":["JSON"],"summary":"三重地政事務所新舊建號對照表-三重區","description":"本資料集為本市三重地政事務所轄區之土地新舊建號對照表(資料更新截至111年12月31日)(三重區)","operationId":"get_410bcc09_a86c_4506_9e5e_504e9b557982_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/410bcc09-a86c-4506-9e5e-504e9b557982\/xml":{"get":{"tags":["XML"],"summary":"三重地政事務所新舊建號對照表-三重區","description":"本資料集為本市三重地政事務所轄區之土地新舊建號對照表(資料更新截至111年12月31日)(三重區)","operationId":"get_410bcc09_a86c_4506_9e5e_504e9b557982_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b7c7edb3-de08-49dd-ab55-af1577dcf7ff\/csv":{"get":{"tags":["CSV"],"summary":"三重地政事務所新舊建號對照表-蘆洲區","description":"本資料集為本市三重地政事務所轄區之土地新舊建號對照表(資料更新截至111年12月31日)(蘆洲區)","operationId":"get_b7c7edb3_de08_49dd_ab55_af1577dcf7ff_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b7c7edb3-de08-49dd-ab55-af1577dcf7ff\/json":{"get":{"tags":["JSON"],"summary":"三重地政事務所新舊建號對照表-蘆洲區","description":"本資料集為本市三重地政事務所轄區之土地新舊建號對照表(資料更新截至111年12月31日)(蘆洲區)","operationId":"get_b7c7edb3_de08_49dd_ab55_af1577dcf7ff_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b7c7edb3-de08-49dd-ab55-af1577dcf7ff\/xml":{"get":{"tags":["XML"],"summary":"三重地政事務所新舊建號對照表-蘆洲區","description":"本資料集為本市三重地政事務所轄區之土地新舊建號對照表(資料更新截至111年12月31日)(蘆洲區)","operationId":"get_b7c7edb3_de08_49dd_ab55_af1577dcf7ff_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/18d62577-1d5f-4967-ab9c-d71faba8cde1\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。","operationId":"get_18d62577_1d5f_4967_ab9c_d71faba8cde1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/18d62577-1d5f-4967-ab9c-d71faba8cde1\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。","operationId":"get_18d62577_1d5f_4967_ab9c_d71faba8cde1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/18d62577-1d5f-4967-ab9c-d71faba8cde1\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。","operationId":"get_18d62577_1d5f_4967_ab9c_d71faba8cde1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b8d48610-6d9f-46cc-bb32-ff9242daa753\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-三峽區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(三峽區)","operationId":"get_b8d48610_6d9f_46cc_bb32_ff9242daa753_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b8d48610-6d9f-46cc-bb32-ff9242daa753\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-三峽區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(三峽區)","operationId":"get_b8d48610_6d9f_46cc_bb32_ff9242daa753_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b8d48610-6d9f-46cc-bb32-ff9242daa753\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-三峽區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(三峽區)","operationId":"get_b8d48610_6d9f_46cc_bb32_ff9242daa753_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3ffc149d-572d-4c5b-85c2-2539b690f2ce\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-三芝區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(三芝區)","operationId":"get_3ffc149d_572d_4c5b_85c2_2539b690f2ce_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3ffc149d-572d-4c5b-85c2-2539b690f2ce\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-三芝區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(三芝區)","operationId":"get_3ffc149d_572d_4c5b_85c2_2539b690f2ce_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3ffc149d-572d-4c5b-85c2-2539b690f2ce\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-三芝區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(三芝區)","operationId":"get_3ffc149d_572d_4c5b_85c2_2539b690f2ce_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f39c75aa-1c49-4441-b1fe-295e16650e72\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-三重區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(三重區)","operationId":"get_f39c75aa_1c49_4441_b1fe_295e16650e72_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f39c75aa-1c49-4441-b1fe-295e16650e72\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-三重區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(三重區)","operationId":"get_f39c75aa_1c49_4441_b1fe_295e16650e72_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f39c75aa-1c49-4441-b1fe-295e16650e72\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-三重區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(三重區)","operationId":"get_f39c75aa_1c49_4441_b1fe_295e16650e72_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4f081be4-924b-4a8c-b108-46a09aa3c1b7\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-中和區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(中和區)","operationId":"get_4f081be4_924b_4a8c_b108_46a09aa3c1b7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4f081be4-924b-4a8c-b108-46a09aa3c1b7\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-中和區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(中和區)","operationId":"get_4f081be4_924b_4a8c_b108_46a09aa3c1b7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4f081be4-924b-4a8c-b108-46a09aa3c1b7\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-中和區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(中和區)","operationId":"get_4f081be4_924b_4a8c_b108_46a09aa3c1b7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/758c45b9-be58-415a-b576-9c5e2b0f6f64\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-五股區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(五股區)","operationId":"get_758c45b9_be58_415a_b576_9c5e2b0f6f64_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/758c45b9-be58-415a-b576-9c5e2b0f6f64\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-五股區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(五股區)","operationId":"get_758c45b9_be58_415a_b576_9c5e2b0f6f64_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/758c45b9-be58-415a-b576-9c5e2b0f6f64\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-五股區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(五股區)","operationId":"get_758c45b9_be58_415a_b576_9c5e2b0f6f64_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/056db4f0-09b4-4582-aefe-eb3d7a858fed\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-八里區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(八里區)","operationId":"get_056db4f0_09b4_4582_aefe_eb3d7a858fed_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/056db4f0-09b4-4582-aefe-eb3d7a858fed\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-八里區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(八里區)","operationId":"get_056db4f0_09b4_4582_aefe_eb3d7a858fed_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/056db4f0-09b4-4582-aefe-eb3d7a858fed\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-八里區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(八里區)","operationId":"get_056db4f0_09b4_4582_aefe_eb3d7a858fed_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1b454421-6094-42c9-ad65-4d77010eb05d\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-土城區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(土城區)","operationId":"get_1b454421_6094_42c9_ad65_4d77010eb05d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1b454421-6094-42c9-ad65-4d77010eb05d\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-土城區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(土城區)","operationId":"get_1b454421_6094_42c9_ad65_4d77010eb05d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1b454421-6094-42c9-ad65-4d77010eb05d\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-土城區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(土城區)","operationId":"get_1b454421_6094_42c9_ad65_4d77010eb05d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6655b207-f430-442f-bce0-82aa2e3080a1\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-新店區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(新店區)","operationId":"get_6655b207_f430_442f_bce0_82aa2e3080a1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6655b207-f430-442f-bce0-82aa2e3080a1\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-新店區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(新店區)","operationId":"get_6655b207_f430_442f_bce0_82aa2e3080a1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6655b207-f430-442f-bce0-82aa2e3080a1\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-新店區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(新店區)","operationId":"get_6655b207_f430_442f_bce0_82aa2e3080a1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/32f4c231-5493-4235-8873-7ea2c8c6ee61\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-新莊區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(新莊區)","operationId":"get_32f4c231_5493_4235_8873_7ea2c8c6ee61_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/32f4c231-5493-4235-8873-7ea2c8c6ee61\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-新莊區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(新莊區)","operationId":"get_32f4c231_5493_4235_8873_7ea2c8c6ee61_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/32f4c231-5493-4235-8873-7ea2c8c6ee61\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-新莊區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(新莊區)","operationId":"get_32f4c231_5493_4235_8873_7ea2c8c6ee61_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a2e8c406-cfd4-4b68-ae29-c0156487e9d1\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-板橋區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(板橋區)","operationId":"get_a2e8c406_cfd4_4b68_ae29_c0156487e9d1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a2e8c406-cfd4-4b68-ae29-c0156487e9d1\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-板橋區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(板橋區)","operationId":"get_a2e8c406_cfd4_4b68_ae29_c0156487e9d1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a2e8c406-cfd4-4b68-ae29-c0156487e9d1\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-板橋區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(板橋區)","operationId":"get_a2e8c406_cfd4_4b68_ae29_c0156487e9d1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d1e35a54-c4f8-4750-9f55-d8911647edaf\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-林口區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(林口區)","operationId":"get_d1e35a54_c4f8_4750_9f55_d8911647edaf_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d1e35a54-c4f8-4750-9f55-d8911647edaf\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-林口區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(林口區)","operationId":"get_d1e35a54_c4f8_4750_9f55_d8911647edaf_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d1e35a54-c4f8-4750-9f55-d8911647edaf\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-林口區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(林口區)","operationId":"get_d1e35a54_c4f8_4750_9f55_d8911647edaf_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/815afef1-7f4d-4775-a863-f8557b527631\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-樹林區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(樹林區)","operationId":"get_815afef1_7f4d_4775_a863_f8557b527631_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/815afef1-7f4d-4775-a863-f8557b527631\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-樹林區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(樹林區)","operationId":"get_815afef1_7f4d_4775_a863_f8557b527631_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/815afef1-7f4d-4775-a863-f8557b527631\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-樹林區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(樹林區)","operationId":"get_815afef1_7f4d_4775_a863_f8557b527631_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9efe23e8-d31e-44aa-afaf-e0a6b54186d2\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-永和區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(永和區)","operationId":"get_9efe23e8_d31e_44aa_afaf_e0a6b54186d2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9efe23e8-d31e-44aa-afaf-e0a6b54186d2\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-永和區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(永和區)","operationId":"get_9efe23e8_d31e_44aa_afaf_e0a6b54186d2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9efe23e8-d31e-44aa-afaf-e0a6b54186d2\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-永和區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(永和區)","operationId":"get_9efe23e8_d31e_44aa_afaf_e0a6b54186d2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/45cb27d2-df9e-43aa-9da5-a843cbfe829f\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-汐止區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(汐止區)","operationId":"get_45cb27d2_df9e_43aa_9da5_a843cbfe829f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/45cb27d2-df9e-43aa-9da5-a843cbfe829f\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-汐止區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(汐止區)","operationId":"get_45cb27d2_df9e_43aa_9da5_a843cbfe829f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/45cb27d2-df9e-43aa-9da5-a843cbfe829f\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-汐止區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(汐止區)","operationId":"get_45cb27d2_df9e_43aa_9da5_a843cbfe829f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3a748ca1-1178-4003-a88c-4cfa7d996165\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-泰山區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(泰山區)","operationId":"get_3a748ca1_1178_4003_a88c_4cfa7d996165_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3a748ca1-1178-4003-a88c-4cfa7d996165\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-泰山區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(泰山區)","operationId":"get_3a748ca1_1178_4003_a88c_4cfa7d996165_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3a748ca1-1178-4003-a88c-4cfa7d996165\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-泰山區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(泰山區)","operationId":"get_3a748ca1_1178_4003_a88c_4cfa7d996165_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f3c45643-066c-4457-8058-bbfeb8545c60\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-淡水區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(淡水區)","operationId":"get_f3c45643_066c_4457_8058_bbfeb8545c60_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f3c45643-066c-4457-8058-bbfeb8545c60\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-淡水區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(淡水區)","operationId":"get_f3c45643_066c_4457_8058_bbfeb8545c60_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f3c45643-066c-4457-8058-bbfeb8545c60\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-淡水區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(淡水區)","operationId":"get_f3c45643_066c_4457_8058_bbfeb8545c60_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/af2fa2d9-fa17-466b-9abd-b582a278f6d1\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-深坑區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(深坑區)","operationId":"get_af2fa2d9_fa17_466b_9abd_b582a278f6d1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/af2fa2d9-fa17-466b-9abd-b582a278f6d1\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-深坑區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(深坑區)","operationId":"get_af2fa2d9_fa17_466b_9abd_b582a278f6d1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/af2fa2d9-fa17-466b-9abd-b582a278f6d1\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-深坑區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(深坑區)","operationId":"get_af2fa2d9_fa17_466b_9abd_b582a278f6d1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/86f5dbcc-94bb-4e34-a215-99a6fad46230\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-瑞芳區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(瑞芳區)","operationId":"get_86f5dbcc_94bb_4e34_a215_99a6fad46230_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/86f5dbcc-94bb-4e34-a215-99a6fad46230\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-瑞芳區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(瑞芳區)","operationId":"get_86f5dbcc_94bb_4e34_a215_99a6fad46230_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/86f5dbcc-94bb-4e34-a215-99a6fad46230\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-瑞芳區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(瑞芳區)","operationId":"get_86f5dbcc_94bb_4e34_a215_99a6fad46230_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5e015c0c-2c19-4c89-b5c0-7830e0bb144f\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-石碇區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(石碇區)","operationId":"get_5e015c0c_2c19_4c89_b5c0_7830e0bb144f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5e015c0c-2c19-4c89-b5c0-7830e0bb144f\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-石碇區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(石碇區)","operationId":"get_5e015c0c_2c19_4c89_b5c0_7830e0bb144f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5e015c0c-2c19-4c89-b5c0-7830e0bb144f\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-石碇區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(石碇區)","operationId":"get_5e015c0c_2c19_4c89_b5c0_7830e0bb144f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fc2020b3-519c-44c5-92c9-2b4e68ed75fa\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-石門區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(石門區)","operationId":"get_fc2020b3_519c_44c5_92c9_2b4e68ed75fa_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fc2020b3-519c-44c5-92c9-2b4e68ed75fa\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-石門區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(石門區)","operationId":"get_fc2020b3_519c_44c5_92c9_2b4e68ed75fa_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fc2020b3-519c-44c5-92c9-2b4e68ed75fa\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-石門區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(石門區)","operationId":"get_fc2020b3_519c_44c5_92c9_2b4e68ed75fa_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1b3e74e5-3ec0-4d52-96c9-1b31aef94dc0\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-萬里區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(萬里區)","operationId":"get_1b3e74e5_3ec0_4d52_96c9_1b31aef94dc0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1b3e74e5-3ec0-4d52-96c9-1b31aef94dc0\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-萬里區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(萬里區)","operationId":"get_1b3e74e5_3ec0_4d52_96c9_1b31aef94dc0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1b3e74e5-3ec0-4d52-96c9-1b31aef94dc0\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-萬里區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(萬里區)","operationId":"get_1b3e74e5_3ec0_4d52_96c9_1b31aef94dc0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/45b82384-d347-4121-9235-a6886e953895\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-蘆洲區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(蘆洲區)","operationId":"get_45b82384_d347_4121_9235_a6886e953895_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/45b82384-d347-4121-9235-a6886e953895\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-蘆洲區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(蘆洲區)","operationId":"get_45b82384_d347_4121_9235_a6886e953895_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/45b82384-d347-4121-9235-a6886e953895\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-蘆洲區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(蘆洲區)","operationId":"get_45b82384_d347_4121_9235_a6886e953895_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fc3fd161-60bf-457b-bba0-63d57401e9c7\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-貢寮區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(貢寮區)","operationId":"get_fc3fd161_60bf_457b_bba0_63d57401e9c7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fc3fd161-60bf-457b-bba0-63d57401e9c7\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-貢寮區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(貢寮區)","operationId":"get_fc3fd161_60bf_457b_bba0_63d57401e9c7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fc3fd161-60bf-457b-bba0-63d57401e9c7\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-貢寮區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(貢寮區)","operationId":"get_fc3fd161_60bf_457b_bba0_63d57401e9c7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d226bcf0-6c06-4eb3-a350-299831fe979c\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-金山區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(金山區)","operationId":"get_d226bcf0_6c06_4eb3_a350_299831fe979c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d226bcf0-6c06-4eb3-a350-299831fe979c\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-金山區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(金山區)","operationId":"get_d226bcf0_6c06_4eb3_a350_299831fe979c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d226bcf0-6c06-4eb3-a350-299831fe979c\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-金山區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(金山區)","operationId":"get_d226bcf0_6c06_4eb3_a350_299831fe979c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/80b660a8-0b7e-4146-8725-07c33d75cf02\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-雙溪區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(雙溪區)","operationId":"get_80b660a8_0b7e_4146_8725_07c33d75cf02_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/80b660a8-0b7e-4146-8725-07c33d75cf02\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-雙溪區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(雙溪區)","operationId":"get_80b660a8_0b7e_4146_8725_07c33d75cf02_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/80b660a8-0b7e-4146-8725-07c33d75cf02\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-雙溪區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(雙溪區)","operationId":"get_80b660a8_0b7e_4146_8725_07c33d75cf02_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4ab3b7c2-0016-4965-9378-abbf215bfce2\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊租賃案件-鶯歌區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(鶯歌區)","operationId":"get_4ab3b7c2_0016_4965_9378_abbf215bfce2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4ab3b7c2-0016-4965-9378-abbf215bfce2\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊租賃案件-鶯歌區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(鶯歌區)","operationId":"get_4ab3b7c2_0016_4965_9378_abbf215bfce2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4ab3b7c2-0016-4965-9378-abbf215bfce2\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊租賃案件-鶯歌區","description":"1.不動產租賃案件實價登錄資訊，包含標的位置、面積、總價等資訊。2.本資料集為每10日更新一次。(鶯歌區)","operationId":"get_4ab3b7c2_0016_4965_9378_abbf215bfce2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/acce802d-58cc-4dff-9e7a-9ecc517f78be\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊-買賣案件","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。","operationId":"get_acce802d_58cc_4dff_9e7a_9ecc517f78be_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/acce802d-58cc-4dff-9e7a-9ecc517f78be\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊-買賣案件","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。","operationId":"get_acce802d_58cc_4dff_9e7a_9ecc517f78be_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/acce802d-58cc-4dff-9e7a-9ecc517f78be\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊-買賣案件","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。","operationId":"get_acce802d_58cc_4dff_9e7a_9ecc517f78be_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/25c75854-9a38-4735-a5fd-cd5472dec4a1\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊-買賣案件-三峽區","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。(三峽區)","operationId":"get_25c75854_9a38_4735_a5fd_cd5472dec4a1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/25c75854-9a38-4735-a5fd-cd5472dec4a1\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊-買賣案件-三峽區","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。(三峽區)","operationId":"get_25c75854_9a38_4735_a5fd_cd5472dec4a1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/25c75854-9a38-4735-a5fd-cd5472dec4a1\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊-買賣案件-三峽區","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。(三峽區)","operationId":"get_25c75854_9a38_4735_a5fd_cd5472dec4a1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b556c4ab-a554-4978-b052-709e6802be6d\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊-買賣案件-三芝區","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。(三芝區)","operationId":"get_b556c4ab_a554_4978_b052_709e6802be6d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b556c4ab-a554-4978-b052-709e6802be6d\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊-買賣案件-三芝區","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。(三芝區)","operationId":"get_b556c4ab_a554_4978_b052_709e6802be6d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b556c4ab-a554-4978-b052-709e6802be6d\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊-買賣案件-三芝區","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。(三芝區)","operationId":"get_b556c4ab_a554_4978_b052_709e6802be6d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ca5a0ba9-217c-4c0d-b594-ed48e269b1ce\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊-買賣案件-三重區","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。(三重區)","operationId":"get_ca5a0ba9_217c_4c0d_b594_ed48e269b1ce_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ca5a0ba9-217c-4c0d-b594-ed48e269b1ce\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊-買賣案件-三重區","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。(三重區)","operationId":"get_ca5a0ba9_217c_4c0d_b594_ed48e269b1ce_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ca5a0ba9-217c-4c0d-b594-ed48e269b1ce\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊-買賣案件-三重區","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。(三重區)","operationId":"get_ca5a0ba9_217c_4c0d_b594_ed48e269b1ce_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/57b355c5-9acd-4189-ae66-71c2445a3b25\/csv":{"get":{"tags":["CSV"],"summary":"不動產實價登錄資訊-買賣案件-中和區","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。(中和區)","operationId":"get_57b355c5_9acd_4189_ae66_71c2445a3b25_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/57b355c5-9acd-4189-ae66-71c2445a3b25\/json":{"get":{"tags":["JSON"],"summary":"不動產實價登錄資訊-買賣案件-中和區","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。(中和區)","operationId":"get_57b355c5_9acd_4189_ae66_71c2445a3b25_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/57b355c5-9acd-4189-ae66-71c2445a3b25\/xml":{"get":{"tags":["XML"],"summary":"不動產實價登錄資訊-買賣案件-中和區","description":"1. 不動產買賣案件實價登錄資訊，包含標的位置、面積、總價等資訊。2. 本資料集為每10日更新一次。(中和區)","operationId":"get_57b355c5_9acd_4189_ae66_71c2445a3b25_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"descrip
[...]
