{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/425e5f43-9430-496f-9de3-002659057140\/csv":{"get":{"tags":["CSV"],"summary":"三環六線之各線建設狀態","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。","operationId":"get_425e5f43_9430_496f_9de3_002659057140_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/425e5f43-9430-496f-9de3-002659057140\/json":{"get":{"tags":["JSON"],"summary":"三環六線之各線建設狀態","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。","operationId":"get_425e5f43_9430_496f_9de3_002659057140_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/425e5f43-9430-496f-9de3-002659057140\/xml":{"get":{"tags":["XML"],"summary":"三環六線之各線建設狀態","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。","operationId":"get_425e5f43_9430_496f_9de3_002659057140_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e45acece-f63f-4dba-b174-018d22e0edb7\/csv":{"get":{"tags":["CSV"],"summary":"三環六線興建中捷運路線進度及說明","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。","operationId":"get_e45acece_f63f_4dba_b174_018d22e0edb7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e45acece-f63f-4dba-b174-018d22e0edb7\/json":{"get":{"tags":["JSON"],"summary":"三環六線興建中捷運路線進度及說明","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。","operationId":"get_e45acece_f63f_4dba_b174_018d22e0edb7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e45acece-f63f-4dba-b174-018d22e0edb7\/xml":{"get":{"tags":["XML"],"summary":"三環六線興建中捷運路線進度及說明","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。","operationId":"get_e45acece_f63f_4dba_b174_018d22e0edb7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0c4451e1-0b22-4fda-be6b-4ca626761fe6\/csv":{"get":{"tags":["CSV"],"summary":"三環六線規劃中路網說明","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。","operationId":"get_0c4451e1_0b22_4fda_be6b_4ca626761fe6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0c4451e1-0b22-4fda-be6b-4ca626761fe6\/json":{"get":{"tags":["JSON"],"summary":"三環六線規劃中路網說明","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。","operationId":"get_0c4451e1_0b22_4fda_be6b_4ca626761fe6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0c4451e1-0b22-4fda-be6b-4ca626761fe6\/xml":{"get":{"tags":["XML"],"summary":"三環六線規劃中路網說明","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。","operationId":"get_0c4451e1_0b22_4fda_be6b_4ca626761fe6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f21b1156-bd0f-4fb9-929b-c5fb5fd12c7d\/csv":{"get":{"tags":["CSV"],"summary":"捷運工程常見問題","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。\r\n","operationId":"get_f21b1156_bd0f_4fb9_929b_c5fb5fd12c7d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f21b1156-bd0f-4fb9-929b-c5fb5fd12c7d\/json":{"get":{"tags":["JSON"],"summary":"捷運工程常見問題","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。\r\n","operationId":"get_f21b1156_bd0f_4fb9_929b_c5fb5fd12c7d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f21b1156-bd0f-4fb9-929b-c5fb5fd12c7d\/xml":{"get":{"tags":["XML"],"summary":"捷運工程常見問題","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。\r\n","operationId":"get_f21b1156_bd0f_4fb9_929b_c5fb5fd12c7d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0582983a-adeb-4c4b-95e1-cbca1e2c50ef\/csv":{"get":{"tags":["CSV"],"summary":"新北市境內捷運路線長度及車站數","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。","operationId":"get_0582983a_adeb_4c4b_95e1_cbca1e2c50ef_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0582983a-adeb-4c4b-95e1-cbca1e2c50ef\/json":{"get":{"tags":["JSON"],"summary":"新北市境內捷運路線長度及車站數","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。","operationId":"get_0582983a_adeb_4c4b_95e1_cbca1e2c50ef_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0582983a-adeb-4c4b-95e1-cbca1e2c50ef\/xml":{"get":{"tags":["XML"],"summary":"新北市境內捷運路線長度及車站數","description":"本計畫係由臺北都會區捷運路網已通車、興建中及規劃中之捷運路線所構成，建設完成後於本市境內建構而成之捷運路網。","operationId":"get_0582983a_adeb_4c4b_95e1_cbca1e2c50ef_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}