{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/308dcd75-6434-45bc-a95f-584da4fed251\/csv":{"get":{"tags":["CSV"],"summary":"政府行政機關辦公日曆表","description":"政府行政機關辦公日曆表(2017-2026)","operationId":"get_308dcd75_6434_45bc_a95f_584da4fed251_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/308dcd75-6434-45bc-a95f-584da4fed251\/json":{"get":{"tags":["JSON"],"summary":"政府行政機關辦公日曆表","description":"政府行政機關辦公日曆表(2017-2026)","operationId":"get_308dcd75_6434_45bc_a95f_584da4fed251_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/308dcd75-6434-45bc-a95f-584da4fed251\/xml":{"get":{"tags":["XML"],"summary":"政府行政機關辦公日曆表","description":"政府行政機關辦公日曆表(2017-2026)","operationId":"get_308dcd75_6434_45bc_a95f_584da4fed251_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/90d94859-d69a-4ba9-bbad-10346e58b3c2\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府113年度公務人員平時獎懲情形","description":"新北市政府113年度公務人員平時獎懲情形(不含警消人員)","operationId":"get_90d94859_d69a_4ba9_bbad_10346e58b3c2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/90d94859-d69a-4ba9-bbad-10346e58b3c2\/json":{"get":{"tags":["JSON"],"summary":"新北市政府113年度公務人員平時獎懲情形","description":"新北市政府113年度公務人員平時獎懲情形(不含警消人員)","operationId":"get_90d94859_d69a_4ba9_bbad_10346e58b3c2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/90d94859-d69a-4ba9-bbad-10346e58b3c2\/xml":{"get":{"tags":["XML"],"summary":"新北市政府113年度公務人員平時獎懲情形","description":"新北市政府113年度公務人員平時獎懲情形(不含警消人員)","operationId":"get_90d94859_d69a_4ba9_bbad_10346e58b3c2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c45e3221-273e-41fa-a04c-635496c68d38\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府113年度天然災害停止上班上課訊息","description":"新北市政府113年度天然災害停止上班上課訊息。","operationId":"get_c45e3221_273e_41fa_a04c_635496c68d38_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c45e3221-273e-41fa-a04c-635496c68d38\/json":{"get":{"tags":["JSON"],"summary":"新北市政府113年度天然災害停止上班上課訊息","description":"新北市政府113年度天然災害停止上班上課訊息。","operationId":"get_c45e3221_273e_41fa_a04c_635496c68d38_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c45e3221-273e-41fa-a04c-635496c68d38\/xml":{"get":{"tags":["XML"],"summary":"新北市政府113年度天然災害停止上班上課訊息","description":"新北市政府113年度天然災害停止上班上課訊息。","operationId":"get_c45e3221_273e_41fa_a04c_635496c68d38_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6cf880cd-24c7-4926-a2f0-ca3471ce25cf\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府一級機關分層負責明細表","description":"新北市政府一級機關分層負責明細表，主要欄位包含承辦機關（單位）、公務項目及內容、決行權責、會辦機關（單位）","operationId":"get_6cf880cd_24c7_4926_a2f0_ca3471ce25cf_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6cf880cd-24c7-4926-a2f0-ca3471ce25cf\/json":{"get":{"tags":["JSON"],"summary":"新北市政府一級機關分層負責明細表","description":"新北市政府一級機關分層負責明細表，主要欄位包含承辦機關（單位）、公務項目及內容、決行權責、會辦機關（單位）","operationId":"get_6cf880cd_24c7_4926_a2f0_ca3471ce25cf_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6cf880cd-24c7-4926-a2f0-ca3471ce25cf\/xml":{"get":{"tags":["XML"],"summary":"新北市政府一級機關分層負責明細表","description":"新北市政府一級機關分層負責明細表，主要欄位包含承辦機關（單位）、公務項目及內容、決行權責、會辦機關（單位）","operationId":"get_6cf880cd_24c7_4926_a2f0_ca3471ce25cf_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9046be14-e04f-4fcc-9477-9c8f3a263d1c\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府二級機關分層負責明細表","description":"新北市政府二級機關分層負責明細表，主要欄位包含縣市別代碼、機關代碼、民國年、承辦單位、公務項目及內容、決行權責、會辦機關（單位）","operationId":"get_9046be14_e04f_4fcc_9477_9c8f3a263d1c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9046be14-e04f-4fcc-9477-9c8f3a263d1c\/json":{"get":{"tags":["JSON"],"summary":"新北市政府二級機關分層負責明細表","description":"新北市政府二級機關分層負責明細表，主要欄位包含縣市別代碼、機關代碼、民國年、承辦單位、公務項目及內容、決行權責、會辦機關（單位）","operationId":"get_9046be14_e04f_4fcc_9477_9c8f3a263d1c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9046be14-e04f-4fcc-9477-9c8f3a263d1c\/xml":{"get":{"tags":["XML"],"summary":"新北市政府二級機關分層負責明細表","description":"新北市政府二級機關分層負責明細表，主要欄位包含縣市別代碼、機關代碼、民國年、承辦單位、公務項目及內容、決行權責、會辦機關（單位）","operationId":"get_9046be14_e04f_4fcc_9477_9c8f3a263d1c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6aad7341-90fc-4777-9cdc-c19b0100c473\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府公教職員年齡結構","description":"本項資料以本府暨所屬各機關(區公所)及烏來區公所為統計範圍，並以113年12月31日為基準日。","operationId":"get_6aad7341_90fc_4777_9cdc_c19b0100c473_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6aad7341-90fc-4777-9cdc-c19b0100c473\/json":{"get":{"tags":["JSON"],"summary":"新北市政府公教職員年齡結構","description":"本項資料以本府暨所屬各機關(區公所)及烏來區公所為統計範圍，並以113年12月31日為基準日。","operationId":"get_6aad7341_90fc_4777_9cdc_c19b0100c473_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6aad7341-90fc-4777-9cdc-c19b0100c473\/xml":{"get":{"tags":["XML"],"summary":"新北市政府公教職員年齡結構","description":"本項資料以本府暨所屬各機關(區公所)及烏來區公所為統計範圍，並以113年12月31日為基準日。","operationId":"get_6aad7341_90fc_4777_9cdc_c19b0100c473_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bfc9c7ad-811f-486d-b2f8-4d2715f3160c\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府公教職員教育程度結構","description":"本項資料以本府暨所屬各機關(區公所)及烏來區公所為統計範圍，並以113年12月31日為基準日。","operationId":"get_bfc9c7ad_811f_486d_b2f8_4d2715f3160c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bfc9c7ad-811f-486d-b2f8-4d2715f3160c\/json":{"get":{"tags":["JSON"],"summary":"新北市政府公教職員教育程度結構","description":"本項資料以本府暨所屬各機關(區公所)及烏來區公所為統計範圍，並以113年12月31日為基準日。","operationId":"get_bfc9c7ad_811f_486d_b2f8_4d2715f3160c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bfc9c7ad-811f-486d-b2f8-4d2715f3160c\/xml":{"get":{"tags":["XML"],"summary":"新北市政府公教職員教育程度結構","description":"本項資料以本府暨所屬各機關(區公所)及烏來區公所為統計範圍，並以113年12月31日為基準日。","operationId":"get_bfc9c7ad_811f_486d_b2f8_4d2715f3160c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/db43c96b-ee5d-45cb-8f79-49a4bc4967e3\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府原住民族進用統計表","description":"統計日期：114年6月","operationId":"get_db43c96b_ee5d_45cb_8f79_49a4bc4967e3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/db43c96b-ee5d-45cb-8f79-49a4bc4967e3\/json":{"get":{"tags":["JSON"],"summary":"新北市政府原住民族進用統計表","description":"統計日期：114年6月","operationId":"get_db43c96b_ee5d_45cb_8f79_49a4bc4967e3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/db43c96b-ee5d-45cb-8f79-49a4bc4967e3\/xml":{"get":{"tags":["XML"],"summary":"新北市政府原住民族進用統計表","description":"統計日期：114年6月","operationId":"get_db43c96b_ee5d_45cb_8f79_49a4bc4967e3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7b223383-67d7-4c62-80f8-6c3f1aeb30b3\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府各機關學校人員遷調情形","description":"表列數字係包含本府各級機關學校間人員調任人次。","operationId":"get_7b223383_67d7_4c62_80f8_6c3f1aeb30b3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7b223383-67d7-4c62-80f8-6c3f1aeb30b3\/json":{"get":{"tags":["JSON"],"summary":"新北市政府各機關學校人員遷調情形","description":"表列數字係包含本府各級機關學校間人員調任人次。","operationId":"get_7b223383_67d7_4c62_80f8_6c3f1aeb30b3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7b223383-67d7-4c62-80f8-6c3f1aeb30b3\/xml":{"get":{"tags":["XML"],"summary":"新北市政府各機關學校人員遷調情形","description":"表列數字係包含本府各級機關學校間人員調任人次。","operationId":"get_7b223383_67d7_4c62_80f8_6c3f1aeb30b3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e99a5476-6969-483b-8a7d-343639c1c521\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府各機關編制員額一覽表","description":"統計時間：113年1月1日。","operationId":"get_e99a5476_6969_483b_8a7d_343639c1c521_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e99a5476-6969-483b-8a7d-343639c1c521\/json":{"get":{"tags":["JSON"],"summary":"新北市政府各機關編制員額一覽表","description":"統計時間：113年1月1日。","operationId":"get_e99a5476_6969_483b_8a7d_343639c1c521_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e99a5476-6969-483b-8a7d-343639c1c521\/xml":{"get":{"tags":["XML"],"summary":"新北市政府各機關編制員額一覽表","description":"統計時間：113年1月1日。","operationId":"get_e99a5476_6969_483b_8a7d_343639c1c521_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4648951b-be07-47ed-a4d4-419e5d64e4a6\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府各機關電話、地址資訊","description":"新北市政府各機關電話、地址。","operationId":"get_4648951b_be07_47ed_a4d4_419e5d64e4a6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4648951b-be07-47ed-a4d4-419e5d64e4a6\/json":{"get":{"tags":["JSON"],"summary":"新北市政府各機關電話、地址資訊","description":"新北市政府各機關電話、地址。","operationId":"get_4648951b_be07_47ed_a4d4_419e5d64e4a6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4648951b-be07-47ed-a4d4-419e5d64e4a6\/xml":{"get":{"tags":["XML"],"summary":"新北市政府各機關電話、地址資訊","description":"新北市政府各機關電話、地址。","operationId":"get_4648951b_be07_47ed_a4d4_419e5d64e4a6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/06eca187-c0bd-4a18-800f-29ea475ee312\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府員工協助方案諮詢服務一覽表","description":"一、執行期程：113年1月至12月。二、個人諮詢次數：529次，團體諮詢次數：42次。※備註：本表於每年4月底前更新前一年度資料。","operationId":"get_06eca187_c0bd_4a18_800f_29ea475ee312_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/06eca187-c0bd-4a18-800f-29ea475ee312\/json":{"get":{"tags":["JSON"],"summary":"新北市政府員工協助方案諮詢服務一覽表","description":"一、執行期程：113年1月至12月。二、個人諮詢次數：529次，團體諮詢次數：42次。※備註：本表於每年4月底前更新前一年度資料。","operationId":"get_06eca187_c0bd_4a18_800f_29ea475ee312_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/06eca187-c0bd-4a18-800f-29ea475ee312\/xml":{"get":{"tags":["XML"],"summary":"新北市政府員工協助方案諮詢服務一覽表","description":"一、執行期程：113年1月至12月。二、個人諮詢次數：529次，團體諮詢次數：42次。※備註：本表於每年4月底前更新前一年度資料。","operationId":"get_06eca187_c0bd_4a18_800f_29ea475ee312_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c682a0d9-362e-4719-a1ff-74ee70b186ff\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府員工參訓情形","description":"新北市政府員工參訓情形，單位：人次。","operationId":"get_c682a0d9_362e_4719_a1ff_74ee70b186ff_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c682a0d9-362e-4719-a1ff-74ee70b186ff\/json":{"get":{"tags":["JSON"],"summary":"新北市政府員工參訓情形","description":"新北市政府員工參訓情形，單位：人次。","operationId":"get_c682a0d9_362e_4719_a1ff_74ee70b186ff_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c682a0d9-362e-4719-a1ff-74ee70b186ff\/xml":{"get":{"tags":["XML"],"summary":"新北市政府員工參訓情形","description":"新北市政府員工參訓情形，單位：人次。","operationId":"get_c682a0d9_362e_4719_a1ff_74ee70b186ff_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/56b0e972-6889-4ecc-ab1a-fbe3ff92c1ba\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府府級任務編組情形統計表","description":"資料日期：114年","operationId":"get_56b0e972_6889_4ecc_ab1a_fbe3ff92c1ba_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/56b0e972-6889-4ecc-ab1a-fbe3ff92c1ba\/json":{"get":{"tags":["JSON"],"summary":"新北市政府府級任務編組情形統計表","description":"資料日期：114年","operationId":"get_56b0e972_6889_4ecc_ab1a_fbe3ff92c1ba_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/56b0e972-6889-4ecc-ab1a-fbe3ff92c1ba\/xml":{"get":{"tags":["XML"],"summary":"新北市政府府級任務編組情形統計表","description":"資料日期：114年","operationId":"get_56b0e972_6889_4ecc_ab1a_fbe3ff92c1ba_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6b0939b4-62d5-49ec-84a4-c8c2feb2e1dc\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府「心靈小綠洲講座」辦理情形","description":"新北市政府「心靈小綠洲講座」辦理情形。","operationId":"get_6b0939b4_62d5_49ec_84a4_c8c2feb2e1dc_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6b0939b4-62d5-49ec-84a4-c8c2feb2e1dc\/json":{"get":{"tags":["JSON"],"summary":"新北市政府「心靈小綠洲講座」辦理情形","description":"新北市政府「心靈小綠洲講座」辦理情形。","operationId":"get_6b0939b4_62d5_49ec_84a4_c8c2feb2e1dc_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6b0939b4-62d5-49ec-84a4-c8c2feb2e1dc\/xml":{"get":{"tags":["XML"],"summary":"新北市政府「心靈小綠洲講座」辦理情形","description":"新北市政府「心靈小綠洲講座」辦理情形。","operationId":"get_6b0939b4_62d5_49ec_84a4_c8c2feb2e1dc_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7f04a4c7-0242-4428-9914-0f1e19a10078\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府「新手爸媽講座」辦理情形","description":"新北市政府「新手爸媽講座」辦理情形。","operationId":"get_7f04a4c7_0242_4428_9914_0f1e19a10078_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7f04a4c7-0242-4428-9914-0f1e19a10078\/json":{"get":{"tags":["JSON"],"summary":"新北市政府「新手爸媽講座」辦理情形","description":"新北市政府「新手爸媽講座」辦理情形。","operationId":"get_7f04a4c7_0242_4428_9914_0f1e19a10078_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7f04a4c7-0242-4428-9914-0f1e19a10078\/xml":{"get":{"tags":["XML"],"summary":"新北市政府「新手爸媽講座」辦理情形","description":"新北市政府「新手爸媽講座」辦理情形。","operationId":"get_7f04a4c7_0242_4428_9914_0f1e19a10078_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1f29c278-ed24-4cd5-8e27-f208aef4d0c8\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府晉升薦(簡)任官等訓練參訓情形","description":"新北市政府晉升薦(簡)任官等訓練參訓情形。","operationId":"get_1f29c278_ed24_4cd5_8e27_f208aef4d0c8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1f29c278-ed24-4cd5-8e27-f208aef4d0c8\/json":{"get":{"tags":["JSON"],"summary":"新北市政府晉升薦(簡)任官等訓練參訓情形","description":"新北市政府晉升薦(簡)任官等訓練參訓情形。","operationId":"get_1f29c278_ed24_4cd5_8e27_f208aef4d0c8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1f29c278-ed24-4cd5-8e27-f208aef4d0c8\/xml":{"get":{"tags":["XML"],"summary":"新北市政府晉升薦(簡)任官等訓練參訓情形","description":"新北市政府晉升薦(簡)任官等訓練參訓情形。","operationId":"get_1f29c278_ed24_4cd5_8e27_f208aef4d0c8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ebfc90b0-c57a-4d1b-a339-45164520f5b2\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府行政機關公務人員人數","description":"本項資料係以本府暨所屬各機關(區公所)及烏來區公所為統計範圍，並以113年12月31日為基準日。","operationId":"get_ebfc90b0_c57a_4d1b_a339_45164520f5b2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ebfc90b0-c57a-4d1b-a339-45164520f5b2\/json":{"get":{"tags":["JSON"],"summary":"新北市政府行政機關公務人員人數","description":"本項資料係以本府暨所屬各機關(區公所)及烏來區公所為統計範圍，並以113年12月31日為基準日。","operationId":"get_ebfc90b0_c57a_4d1b_a339_45164520f5b2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ebfc90b0-c57a-4d1b-a339-45164520f5b2\/xml":{"get":{"tags":["XML"],"summary":"新北市政府行政機關公務人員人數","description":"本項資料係以本府暨所屬各機關(區公所)及烏來區公所為統計範圍，並以113年12月31日為基準日。","operationId":"get_ebfc90b0_c57a_4d1b_a339_45164520f5b2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1dc41ac6-e78c-469e-a361-61edb8a75178\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府身心障礙人員進用統計表","description":"統計日期：114年6月","operationId":"get_1dc41ac6_e78c_469e_a361_61edb8a75178_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1dc41ac6-e78c-469e-a361-61edb8a75178\/json":{"get":{"tags":["JSON"],"summary":"新北市政府身心障礙人員進用統計表","description":"統計日期：114年6月","operationId":"get_1dc41ac6_e78c_469e_a361_61edb8a75178_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1dc41ac6-e78c-469e-a361-61edb8a75178\/xml":{"get":{"tags":["XML"],"summary":"新北市政府身心障礙人員進用統計表","description":"統計日期：114年6月","operationId":"get_1dc41ac6_e78c_469e_a361_61edb8a75178_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}