{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/fdbf7375-62ae-4cf2-8ac1-9b97414ba2c3\/csv":{"get":{"tags":["CSV"],"summary":"新北市平面媒體廣告與新聞管理統計","description":"新北市平面媒體廣告與新聞管理統計。","operationId":"get_fdbf7375_62ae_4cf2_8ac1_9b97414ba2c3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fdbf7375-62ae-4cf2-8ac1-9b97414ba2c3\/json":{"get":{"tags":["JSON"],"summary":"新北市平面媒體廣告與新聞管理統計","description":"新北市平面媒體廣告與新聞管理統計。","operationId":"get_fdbf7375_62ae_4cf2_8ac1_9b97414ba2c3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fdbf7375-62ae-4cf2-8ac1-9b97414ba2c3\/xml":{"get":{"tags":["XML"],"summary":"新北市平面媒體廣告與新聞管理統計","description":"新北市平面媒體廣告與新聞管理統計。","operationId":"get_fdbf7375_62ae_4cf2_8ac1_9b97414ba2c3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8e801573-92e8-4c22-bd8c-d1b821095b1d\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府新聞局現有人員統計","description":"新北市政府新聞局現有人員統計。","operationId":"get_8e801573_92e8_4c22_bd8c_d1b821095b1d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8e801573-92e8-4c22-bd8c-d1b821095b1d\/json":{"get":{"tags":["JSON"],"summary":"新北市政府新聞局現有人員統計","description":"新北市政府新聞局現有人員統計。","operationId":"get_8e801573_92e8_4c22_bd8c_d1b821095b1d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8e801573-92e8-4c22-bd8c-d1b821095b1d\/xml":{"get":{"tags":["XML"],"summary":"新北市政府新聞局現有人員統計","description":"新北市政府新聞局現有人員統計。","operationId":"get_8e801573_92e8_4c22_bd8c_d1b821095b1d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8c398c6f-8502-4715-a3fb-96a88d0e7051\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府有線廣播電視收費標準","description":"新北市政府有線廣播電視收費標準。","operationId":"get_8c398c6f_8502_4715_a3fb_96a88d0e7051_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8c398c6f-8502-4715-a3fb-96a88d0e7051\/json":{"get":{"tags":["JSON"],"summary":"新北市政府有線廣播電視收費標準","description":"新北市政府有線廣播電視收費標準。","operationId":"get_8c398c6f_8502_4715_a3fb_96a88d0e7051_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8c398c6f-8502-4715-a3fb-96a88d0e7051\/xml":{"get":{"tags":["XML"],"summary":"新北市政府有線廣播電視收費標準","description":"新北市政府有線廣播電視收費標準。","operationId":"get_8c398c6f_8502_4715_a3fb_96a88d0e7051_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c1f72b84-f239-49e0-9b28-e6a9c3437610\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府有線廣播電視費率審議委員會設置要點","description":"新北市政府有線廣播電視費率審議委員會設置要點。","operationId":"get_c1f72b84_f239_49e0_9b28_e6a9c3437610_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c1f72b84-f239-49e0-9b28-e6a9c3437610\/json":{"get":{"tags":["JSON"],"summary":"新北市政府有線廣播電視費率審議委員會設置要點","description":"新北市政府有線廣播電視費率審議委員會設置要點。","operationId":"get_c1f72b84_f239_49e0_9b28_e6a9c3437610_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c1f72b84-f239-49e0-9b28-e6a9c3437610\/xml":{"get":{"tags":["XML"],"summary":"新北市政府有線廣播電視費率審議委員會設置要點","description":"新北市政府有線廣播電視費率審議委員會設置要點。","operationId":"get_c1f72b84_f239_49e0_9b28_e6a9c3437610_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fca0a6d2-e42b-4e27-b7d2-90501fc29161\/csv":{"get":{"tags":["CSV"],"summary":"新北市有線電視名冊","description":"新北市有線電視業者名冊。","operationId":"get_fca0a6d2_e42b_4e27_b7d2_90501fc29161_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fca0a6d2-e42b-4e27-b7d2-90501fc29161\/json":{"get":{"tags":["JSON"],"summary":"新北市有線電視名冊","description":"新北市有線電視業者名冊。","operationId":"get_fca0a6d2_e42b_4e27_b7d2_90501fc29161_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fca0a6d2-e42b-4e27-b7d2-90501fc29161\/xml":{"get":{"tags":["XML"],"summary":"新北市有線電視名冊","description":"新北市有線電視業者名冊。","operationId":"get_fca0a6d2_e42b_4e27_b7d2_90501fc29161_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/61c99f42-8a90-4adc-9c40-ba9e0ea097aa\/csv":{"get":{"tags":["CSV"],"summary":"新北市電影院名冊","description":"新北市電影院聯絡名冊。","operationId":"get_61c99f42_8a90_4adc_9c40_ba9e0ea097aa_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/61c99f42-8a90-4adc-9c40-ba9e0ea097aa\/json":{"get":{"tags":["JSON"],"summary":"新北市電影院名冊","description":"新北市電影院聯絡名冊。","operationId":"get_61c99f42_8a90_4adc_9c40_ba9e0ea097aa_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/61c99f42-8a90-4adc-9c40-ba9e0ea097aa\/xml":{"get":{"tags":["XML"],"summary":"新北市電影院名冊","description":"新北市電影院聯絡名冊。","operationId":"get_61c99f42_8a90_4adc_9c40_ba9e0ea097aa_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}