{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/eb446c92-12e8-41b0-96da-feb6ea569e11\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊","description":"公寓大廈管理組織報備清冊。","operationId":"get_eb446c92_12e8_41b0_96da_feb6ea569e11_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/eb446c92-12e8-41b0-96da-feb6ea569e11\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊","description":"公寓大廈管理組織報備清冊。","operationId":"get_eb446c92_12e8_41b0_96da_feb6ea569e11_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/eb446c92-12e8-41b0-96da-feb6ea569e11\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊","description":"公寓大廈管理組織報備清冊。","operationId":"get_eb446c92_12e8_41b0_96da_feb6ea569e11_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cd80d06a-7499-4747-9747-64aecc69b46a\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-三峽區","description":"公寓大廈管理組織報備清冊。(三峽區)","operationId":"get_cd80d06a_7499_4747_9747_64aecc69b46a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cd80d06a-7499-4747-9747-64aecc69b46a\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-三峽區","description":"公寓大廈管理組織報備清冊。(三峽區)","operationId":"get_cd80d06a_7499_4747_9747_64aecc69b46a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/cd80d06a-7499-4747-9747-64aecc69b46a\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-三峽區","description":"公寓大廈管理組織報備清冊。(三峽區)","operationId":"get_cd80d06a_7499_4747_9747_64aecc69b46a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4ba360db-924f-469e-9669-99cc54096f29\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-三芝區","description":"公寓大廈管理組織報備清冊。(三芝區)","operationId":"get_4ba360db_924f_469e_9669_99cc54096f29_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4ba360db-924f-469e-9669-99cc54096f29\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-三芝區","description":"公寓大廈管理組織報備清冊。(三芝區)","operationId":"get_4ba360db_924f_469e_9669_99cc54096f29_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4ba360db-924f-469e-9669-99cc54096f29\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-三芝區","description":"公寓大廈管理組織報備清冊。(三芝區)","operationId":"get_4ba360db_924f_469e_9669_99cc54096f29_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2de66c69-c5c3-4b71-b327-cf093b471402\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-三重區","description":"公寓大廈管理組織報備清冊。(三重區)","operationId":"get_2de66c69_c5c3_4b71_b327_cf093b471402_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2de66c69-c5c3-4b71-b327-cf093b471402\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-三重區","description":"公寓大廈管理組織報備清冊。(三重區)","operationId":"get_2de66c69_c5c3_4b71_b327_cf093b471402_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2de66c69-c5c3-4b71-b327-cf093b471402\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-三重區","description":"公寓大廈管理組織報備清冊。(三重區)","operationId":"get_2de66c69_c5c3_4b71_b327_cf093b471402_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/75c1c80e-ed38-458b-b5b4-f190d1b91ad9\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-中和區","description":"公寓大廈管理組織報備清冊。(中和區)","operationId":"get_75c1c80e_ed38_458b_b5b4_f190d1b91ad9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/75c1c80e-ed38-458b-b5b4-f190d1b91ad9\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-中和區","description":"公寓大廈管理組織報備清冊。(中和區)","operationId":"get_75c1c80e_ed38_458b_b5b4_f190d1b91ad9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/75c1c80e-ed38-458b-b5b4-f190d1b91ad9\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-中和區","description":"公寓大廈管理組織報備清冊。(中和區)","operationId":"get_75c1c80e_ed38_458b_b5b4_f190d1b91ad9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/60979db8-ded7-4341-8e04-d95deed6e7df\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-五股區","description":"公寓大廈管理組織報備清冊。(五股區)","operationId":"get_60979db8_ded7_4341_8e04_d95deed6e7df_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/60979db8-ded7-4341-8e04-d95deed6e7df\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-五股區","description":"公寓大廈管理組織報備清冊。(五股區)","operationId":"get_60979db8_ded7_4341_8e04_d95deed6e7df_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/60979db8-ded7-4341-8e04-d95deed6e7df\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-五股區","description":"公寓大廈管理組織報備清冊。(五股區)","operationId":"get_60979db8_ded7_4341_8e04_d95deed6e7df_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e4d65c35-0ec4-4350-98fc-edfcc911f3be\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-八里區","description":"公寓大廈管理組織報備清冊。(八里區)","operationId":"get_e4d65c35_0ec4_4350_98fc_edfcc911f3be_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e4d65c35-0ec4-4350-98fc-edfcc911f3be\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-八里區","description":"公寓大廈管理組織報備清冊。(八里區)","operationId":"get_e4d65c35_0ec4_4350_98fc_edfcc911f3be_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e4d65c35-0ec4-4350-98fc-edfcc911f3be\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-八里區","description":"公寓大廈管理組織報備清冊。(八里區)","operationId":"get_e4d65c35_0ec4_4350_98fc_edfcc911f3be_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/186661dc-e9fe-473c-9d9c-6acc86ed6a70\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-土城區","description":"公寓大廈管理組織報備清冊。(土城區)","operationId":"get_186661dc_e9fe_473c_9d9c_6acc86ed6a70_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/186661dc-e9fe-473c-9d9c-6acc86ed6a70\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-土城區","description":"公寓大廈管理組織報備清冊。(土城區)","operationId":"get_186661dc_e9fe_473c_9d9c_6acc86ed6a70_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/186661dc-e9fe-473c-9d9c-6acc86ed6a70\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-土城區","description":"公寓大廈管理組織報備清冊。(土城區)","operationId":"get_186661dc_e9fe_473c_9d9c_6acc86ed6a70_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fbd0ad90-094d-4abe-8217-71a1e682f80d\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-新店區","description":"公寓大廈管理組織報備清冊。(新店區)","operationId":"get_fbd0ad90_094d_4abe_8217_71a1e682f80d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fbd0ad90-094d-4abe-8217-71a1e682f80d\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-新店區","description":"公寓大廈管理組織報備清冊。(新店區)","operationId":"get_fbd0ad90_094d_4abe_8217_71a1e682f80d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fbd0ad90-094d-4abe-8217-71a1e682f80d\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-新店區","description":"公寓大廈管理組織報備清冊。(新店區)","operationId":"get_fbd0ad90_094d_4abe_8217_71a1e682f80d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7dc77cb6-0e5a-4365-b051-cc4af08013c0\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-新莊區","description":"公寓大廈管理組織報備清冊。(新莊區)","operationId":"get_7dc77cb6_0e5a_4365_b051_cc4af08013c0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7dc77cb6-0e5a-4365-b051-cc4af08013c0\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-新莊區","description":"公寓大廈管理組織報備清冊。(新莊區)","operationId":"get_7dc77cb6_0e5a_4365_b051_cc4af08013c0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7dc77cb6-0e5a-4365-b051-cc4af08013c0\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-新莊區","description":"公寓大廈管理組織報備清冊。(新莊區)","operationId":"get_7dc77cb6_0e5a_4365_b051_cc4af08013c0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/421e6c4c-6fa9-4746-b8aa-858d667c8c78\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-板橋區","description":"公寓大廈管理組織報備清冊。(板橋區)","operationId":"get_421e6c4c_6fa9_4746_b8aa_858d667c8c78_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/421e6c4c-6fa9-4746-b8aa-858d667c8c78\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-板橋區","description":"公寓大廈管理組織報備清冊。(板橋區)","operationId":"get_421e6c4c_6fa9_4746_b8aa_858d667c8c78_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/421e6c4c-6fa9-4746-b8aa-858d667c8c78\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-板橋區","description":"公寓大廈管理組織報備清冊。(板橋區)","operationId":"get_421e6c4c_6fa9_4746_b8aa_858d667c8c78_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/dde3e6ac-751d-4342-bf2e-4f874d85633c\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-林口區","description":"公寓大廈管理組織報備清冊。(林口區)","operationId":"get_dde3e6ac_751d_4342_bf2e_4f874d85633c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/dde3e6ac-751d-4342-bf2e-4f874d85633c\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-林口區","description":"公寓大廈管理組織報備清冊。(林口區)","operationId":"get_dde3e6ac_751d_4342_bf2e_4f874d85633c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/dde3e6ac-751d-4342-bf2e-4f874d85633c\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-林口區","description":"公寓大廈管理組織報備清冊。(林口區)","operationId":"get_dde3e6ac_751d_4342_bf2e_4f874d85633c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f6fa2593-ea0a-4cf8-a69c-41808b00cfbc\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-樹林區","description":"公寓大廈管理組織報備清冊。(樹林區)","operationId":"get_f6fa2593_ea0a_4cf8_a69c_41808b00cfbc_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f6fa2593-ea0a-4cf8-a69c-41808b00cfbc\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-樹林區","description":"公寓大廈管理組織報備清冊。(樹林區)","operationId":"get_f6fa2593_ea0a_4cf8_a69c_41808b00cfbc_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f6fa2593-ea0a-4cf8-a69c-41808b00cfbc\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-樹林區","description":"公寓大廈管理組織報備清冊。(樹林區)","operationId":"get_f6fa2593_ea0a_4cf8_a69c_41808b00cfbc_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b2e898e2-4de0-4e4e-8cd7-9b813cb12def\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-永和區","description":"公寓大廈管理組織報備清冊。(永和區)","operationId":"get_b2e898e2_4de0_4e4e_8cd7_9b813cb12def_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b2e898e2-4de0-4e4e-8cd7-9b813cb12def\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-永和區","description":"公寓大廈管理組織報備清冊。(永和區)","operationId":"get_b2e898e2_4de0_4e4e_8cd7_9b813cb12def_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b2e898e2-4de0-4e4e-8cd7-9b813cb12def\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-永和區","description":"公寓大廈管理組織報備清冊。(永和區)","operationId":"get_b2e898e2_4de0_4e4e_8cd7_9b813cb12def_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/04b2f0c3-67c0-4f36-a3b2-4e1c60ae35b4\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-汐止區","description":"公寓大廈管理組織報備清冊。(汐止區)","operationId":"get_04b2f0c3_67c0_4f36_a3b2_4e1c60ae35b4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/04b2f0c3-67c0-4f36-a3b2-4e1c60ae35b4\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-汐止區","description":"公寓大廈管理組織報備清冊。(汐止區)","operationId":"get_04b2f0c3_67c0_4f36_a3b2_4e1c60ae35b4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/04b2f0c3-67c0-4f36-a3b2-4e1c60ae35b4\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-汐止區","description":"公寓大廈管理組織報備清冊。(汐止區)","operationId":"get_04b2f0c3_67c0_4f36_a3b2_4e1c60ae35b4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a3a6b6d7-d1a5-474c-ab82-dbfd79bcc652\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-泰山區","description":"公寓大廈管理組織報備清冊。(泰山區)","operationId":"get_a3a6b6d7_d1a5_474c_ab82_dbfd79bcc652_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a3a6b6d7-d1a5-474c-ab82-dbfd79bcc652\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-泰山區","description":"公寓大廈管理組織報備清冊。(泰山區)","operationId":"get_a3a6b6d7_d1a5_474c_ab82_dbfd79bcc652_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a3a6b6d7-d1a5-474c-ab82-dbfd79bcc652\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-泰山區","description":"公寓大廈管理組織報備清冊。(泰山區)","operationId":"get_a3a6b6d7_d1a5_474c_ab82_dbfd79bcc652_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9a224c30-8465-46e5-99af-188e59ce7673\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-淡水區","description":"公寓大廈管理組織報備清冊。(淡水區)","operationId":"get_9a224c30_8465_46e5_99af_188e59ce7673_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9a224c30-8465-46e5-99af-188e59ce7673\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-淡水區","description":"公寓大廈管理組織報備清冊。(淡水區)","operationId":"get_9a224c30_8465_46e5_99af_188e59ce7673_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9a224c30-8465-46e5-99af-188e59ce7673\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-淡水區","description":"公寓大廈管理組織報備清冊。(淡水區)","operationId":"get_9a224c30_8465_46e5_99af_188e59ce7673_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/36ccde4b-121a-4069-bd7e-14c77b7f88f5\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-深坑區","description":"公寓大廈管理組織報備清冊。(深坑區)","operationId":"get_36ccde4b_121a_4069_bd7e_14c77b7f88f5_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/36ccde4b-121a-4069-bd7e-14c77b7f88f5\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-深坑區","description":"公寓大廈管理組織報備清冊。(深坑區)","operationId":"get_36ccde4b_121a_4069_bd7e_14c77b7f88f5_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/36ccde4b-121a-4069-bd7e-14c77b7f88f5\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-深坑區","description":"公寓大廈管理組織報備清冊。(深坑區)","operationId":"get_36ccde4b_121a_4069_bd7e_14c77b7f88f5_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6dbfd303-ca3a-4784-a55c-b0a4207abf67\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-瑞芳區","description":"公寓大廈管理組織報備清冊。(瑞芳區)","operationId":"get_6dbfd303_ca3a_4784_a55c_b0a4207abf67_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6dbfd303-ca3a-4784-a55c-b0a4207abf67\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-瑞芳區","description":"公寓大廈管理組織報備清冊。(瑞芳區)","operationId":"get_6dbfd303_ca3a_4784_a55c_b0a4207abf67_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6dbfd303-ca3a-4784-a55c-b0a4207abf67\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-瑞芳區","description":"公寓大廈管理組織報備清冊。(瑞芳區)","operationId":"get_6dbfd303_ca3a_4784_a55c_b0a4207abf67_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/492daafd-7c33-4c43-b4bc-8ca33e2237dc\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-石碇區","description":"公寓大廈管理組織報備清冊。(石碇區)","operationId":"get_492daafd_7c33_4c43_b4bc_8ca33e2237dc_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/492daafd-7c33-4c43-b4bc-8ca33e2237dc\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-石碇區","description":"公寓大廈管理組織報備清冊。(石碇區)","operationId":"get_492daafd_7c33_4c43_b4bc_8ca33e2237dc_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/492daafd-7c33-4c43-b4bc-8ca33e2237dc\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-石碇區","description":"公寓大廈管理組織報備清冊。(石碇區)","operationId":"get_492daafd_7c33_4c43_b4bc_8ca33e2237dc_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/051d6e33-5868-4618-bdf4-eb496a99785d\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-石門區","description":"公寓大廈管理組織報備清冊。(石門區)","operationId":"get_051d6e33_5868_4618_bdf4_eb496a99785d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/051d6e33-5868-4618-bdf4-eb496a99785d\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-石門區","description":"公寓大廈管理組織報備清冊。(石門區)","operationId":"get_051d6e33_5868_4618_bdf4_eb496a99785d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/051d6e33-5868-4618-bdf4-eb496a99785d\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-石門區","description":"公寓大廈管理組織報備清冊。(石門區)","operationId":"get_051d6e33_5868_4618_bdf4_eb496a99785d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/acac4741-c509-42e3-9682-6df5acbc7a51\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-萬里區","description":"公寓大廈管理組織報備清冊。(萬里區)","operationId":"get_acac4741_c509_42e3_9682_6df5acbc7a51_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/acac4741-c509-42e3-9682-6df5acbc7a51\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-萬里區","description":"公寓大廈管理組織報備清冊。(萬里區)","operationId":"get_acac4741_c509_42e3_9682_6df5acbc7a51_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/acac4741-c509-42e3-9682-6df5acbc7a51\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-萬里區","description":"公寓大廈管理組織報備清冊。(萬里區)","operationId":"get_acac4741_c509_42e3_9682_6df5acbc7a51_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fce11819-30a0-4e0d-97e4-e1ea03d42fa1\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-蘆洲區","description":"公寓大廈管理組織報備清冊。(蘆洲區)","operationId":"get_fce11819_30a0_4e0d_97e4_e1ea03d42fa1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fce11819-30a0-4e0d-97e4-e1ea03d42fa1\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-蘆洲區","description":"公寓大廈管理組織報備清冊。(蘆洲區)","operationId":"get_fce11819_30a0_4e0d_97e4_e1ea03d42fa1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fce11819-30a0-4e0d-97e4-e1ea03d42fa1\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-蘆洲區","description":"公寓大廈管理組織報備清冊。(蘆洲區)","operationId":"get_fce11819_30a0_4e0d_97e4_e1ea03d42fa1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/79acbdde-27c9-4f09-ba5a-9f7b0120affa\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-貢寮區","description":"公寓大廈管理組織報備清冊。(貢寮區)","operationId":"get_79acbdde_27c9_4f09_ba5a_9f7b0120affa_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/79acbdde-27c9-4f09-ba5a-9f7b0120affa\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-貢寮區","description":"公寓大廈管理組織報備清冊。(貢寮區)","operationId":"get_79acbdde_27c9_4f09_ba5a_9f7b0120affa_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/79acbdde-27c9-4f09-ba5a-9f7b0120affa\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-貢寮區","description":"公寓大廈管理組織報備清冊。(貢寮區)","operationId":"get_79acbdde_27c9_4f09_ba5a_9f7b0120affa_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/22139dcd-4c11-4a21-a044-0ea43b7b4828\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-金山區","description":"公寓大廈管理組織報備清冊。(金山區)","operationId":"get_22139dcd_4c11_4a21_a044_0ea43b7b4828_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/22139dcd-4c11-4a21-a044-0ea43b7b4828\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-金山區","description":"公寓大廈管理組織報備清冊。(金山區)","operationId":"get_22139dcd_4c11_4a21_a044_0ea43b7b4828_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/22139dcd-4c11-4a21-a044-0ea43b7b4828\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-金山區","description":"公寓大廈管理組織報備清冊。(金山區)","operationId":"get_22139dcd_4c11_4a21_a044_0ea43b7b4828_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bc88e865-8855-4a42-8215-4d52316d86cf\/csv":{"get":{"tags":["CSV"],"summary":"公寓大廈管理組織報備清冊-鶯歌區","description":"公寓大廈管理組織報備清冊。(鶯歌區)","operationId":"get_bc88e865_8855_4a42_8215_4d52316d86cf_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bc88e865-8855-4a42-8215-4d52316d86cf\/json":{"get":{"tags":["JSON"],"summary":"公寓大廈管理組織報備清冊-鶯歌區","description":"公寓大廈管理組織報備清冊。(鶯歌區)","operationId":"get_bc88e865_8855_4a42_8215_4d52316d86cf_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bc88e865-8855-4a42-8215-4d52316d86cf\/xml":{"get":{"tags":["XML"],"summary":"公寓大廈管理組織報備清冊-鶯歌區","description":"公寓大廈管理組織報備清冊。(鶯歌區)","operationId":"get_bc88e865_8855_4a42_8215_4d52316d86cf_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7fb9f0c8-2690-41eb-85c8-8696293f4b92\/csv":{"get":{"tags":["CSV"],"summary":"各年度瓶頸打通案件","description":"各年度瓶頸打通案件對照","operationId":"get_7fb9f0c8_2690_41eb_85c8_8696293f4b92_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7fb9f0c8-2690-41eb-85c8-8696293f4b92\/json":{"get":{"tags":["JSON"],"summary":"各年度瓶頸打通案件","description":"各年度瓶頸打通案件對照","operationId":"get_7fb9f0c8_2690_41eb_85c8_8696293f4b92_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7fb9f0c8-2690-41eb-85c8-8696293f4b92\/xml":{"get":{"tags":["XML"],"summary":"各年度瓶頸打通案件","description":"各年度瓶頸打通案件對照","operationId":"get_7fb9f0c8_2690_41eb_85c8_8696293f4b92_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6348226e-2e1a-4567-957f-0550bb71a6e1\/csv":{"get":{"tags":["CSV"],"summary":"採購處代辦建築及土木工程案件情形","description":"新北市採購工程統計，其資料包含建築工程月平均統計、土木工程月平均統計。","operationId":"get_6348226e_2e1a_4567_957f_0550bb71a6e1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6348226e-2e1a-4567-957f-0550bb71a6e1\/json":{"get":{"tags":["JSON"],"summary":"採購處代辦建築及土木工程案件情形","description":"新北市採購工程統計，其資料包含建築工程月平均統計、土木工程月平均統計。","operationId":"get_6348226e_2e1a_4567_957f_0550bb71a6e1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6348226e-2e1a-4567-957f-0550bb71a6e1\/xml":{"get":{"tags":["XML"],"summary":"採購處代辦建築及土木工程案件情形","description":"新北市採購工程統計，其資料包含建築工程月平均統計、土木工程月平均統計。","operationId":"get_6348226e_2e1a_4567_957f_0550bb71a6e1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c1487d7b-fff1-43d3-a2ce-4716eab4d286\/csv":{"get":{"tags":["CSV"],"summary":"新北市建築執照存查","description":"一、 此為使照存根資料，提供「領照日期」從91年1月至今的資料。\r\n二、 原始資料由工務局提供，此三項資料「建蔽率」、「容積率」及「原建造(雜項)執照發照日期」在原始資料提供時即為空欄位。\r\n三、 此資料排序為最新至最舊。\r\n","operationId":"get_c1487d7b_fff1_43d3_a2ce_4716eab4d286_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c1487d7b-fff1-43d3-a2ce-4716eab4d286\/json":{"get":{"tags":["JSON"],"summary":"新北市建築執照存查","description":"一、 此為使照存根資料，提供「領照日期」從91年1月至今的資料。\r\n二、 原始資料由工務局提供，此三項資料「建蔽率」、「容積率」及「原建造(雜項)執照發照日期」在原始資料提供時即為空欄位。\r\n三、 此資料排序為最新至最舊。\r\n","operationId":"get_c1487d7b_fff1_43d3_a2ce_4716eab4d286_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c1487d7b-fff1-43d3-a2ce-4716eab4d286\/xml":{"get":{"tags":["XML"],"summary":"新北市建築執照存查","description":"一、 此為使照存根資料，提供「領照日期」從91年1月至今的資料。\r\n二、 原始資料由工務局提供，此三項資料「建蔽率」、「容積率」及「原建造(雜項)執照發照日期」在原始資料提供時即為空欄位。\r\n三、 此資料排序為最新至最舊。\r\n","operationId":"get_c1487d7b_fff1_43d3_a2ce_4716eab4d286_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9a0e5bb4-7d98-4067-be60-cb13b007e3d6\/csv":{"get":{"tags":["CSV"],"summary":"新北市建築物公安申報統計","description":"本資料提供新北市建築物公安申報件數統計表。","operationId":"get_9a0e5bb4_7d98_4067_be60_cb13b007e3d6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9a0e5bb4-7d98-4067-be60-cb13b007e3d6\/json":{"get":{"tags":["JSON"],"summary":"新北市建築物公安申報統計","description":"本資料提供新北市建築物公安申報件數統計表。","operationId":"get_9a0e5bb4_7d98_4067_be60_cb13b007e3d6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9a0e5bb4-7d98-4067-be60-cb13b007e3d6\/xml":{"get":{"tags":["XML"],"summary":"新北市建築物公安申報統計","description":"本資料提供新北市建築物公安申報件數統計表。","operationId":"get_9a0e5bb4_7d98_4067_be60_cb13b007e3d6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6bc52bab-8e95-41ed-94f2-ffac12cce08b\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府新建工程處-各年度預算書","description":"新北市政府新建工程處-各年度預算書。","operationId":"get_6bc52bab_8e95_41ed_94f2_ffac12cce08b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6bc52bab-8e95-41ed-94f2-ffac12cce08b\/json":{"get":{"tags":["JSON"],"summary":"新北市政府新建工程處-各年度預算書","description":"新北市政府新建工程處-各年度預算書。","operationId":"get_6bc52bab_8e95_41ed_94f2_ffac12cce08b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6bc52bab-8e95-41ed-94f2-ffac12cce08b\/xml":{"get":{"tags":["XML"],"summary":"新北市政府新建工程處-各年度預算書","description":"新北市政府新建工程處-各年度預算書。","operationId":"get_6bc52bab_8e95_41ed_94f2_ffac12cce08b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3aa5fd0e-7595-484c-bd56-e13a1681d1c6\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府核發建築物使用執照-使用分區別","description":"新北市政府核發建築物使用執照-使用分區別。","operationId":"get_3aa5fd0e_7595_484c_bd56_e13a1681d1c6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3aa5fd0e-7595-484c-bd56-e13a1681d1c6\/json":{"get":{"tags":["JSON"],"summary":"新北市政府核發建築物使用執照-使用分區別","description":"新北市政府核發建築物使用執照-使用分區別。","operationId":"get_3aa5fd0e_7595_484c_bd56_e13a1681d1c6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3aa5fd0e-7595-484c-bd56-e13a1681d1c6\/xml":{"get":{"tags":["XML"],"summary":"新北市政府核發建築物使用執照-使用分區別","description":"新北市政府核發建築物使用執照-使用分區別。","operationId":"get_3aa5fd0e_7595_484c_bd56_e13a1681d1c6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/96b6101b-c033-4834-8bd5-e312651db7a0\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府道路挖掘資訊","description":"本項資料為新北市政府工務局所屬養護工程處提供之新北市道路挖掘業務系統所提供的相關資訊","operationId":"get_96b6101b_c033_4834_8bd5_e312651db7a0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/96b6101b-c033-4834-8bd5-e312651db7a0\/json":{"get":{"tags":["JSON"],"summary":"新北市政府道路挖掘資訊","description":"本項資料為新北市政府工務局所屬養護工程處提供之新北市道路挖掘業務系統所提供的相關資訊","operationId":"get_96b6101b_c033_4834_8bd5_e312651db7a0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/96b6101b-c033-4834-8bd5-e312651db7a0\/xml":{"get":{"tags":["XML"],"summary":"新北市政府道路挖掘資訊","description":"本項資料為新北市政府工務局所屬養護工程處提供之新北市道路挖掘業務系統所提供的相關資訊","operationId":"get_96b6101b_c033_4834_8bd5_e312651db7a0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/230d3466-812b-4dbf-9fdb-23431499d025\/csv":{"get":{"tags":["CSV"],"summary":"新北市民間興闢道路及附屬設施處理辦法","description":"新北市民間興闢道路及附屬設施處理辦法。","operationId":"get_230d3466_812b_4dbf_9fdb_23431499d025_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/230d3466-812b-4dbf-9fdb-23431499d025\/json":{"get":{"tags":["JSON"],"summary":"新北市民間興闢道路及附屬設施處理辦法","description":"新北市民間興闢道路及附屬設施處理辦法。","operationId":"get_230d3466_812b_4dbf_9fdb_23431499d025_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/230d3466-812b-4dbf-9fdb-23431499d025\/xml":{"get":{"tags":["XML"],"summary":"新北市民間興闢道路及附屬設施處理辦法","description":"新北市民間興闢道路及附屬設施處理辦法。","operationId":"get_230d3466_812b_4dbf_9fdb_23431499d025_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6e1ce5fa-3976-4e3e-b981-83990d58502e\/csv":{"get":{"tags":["CSV"],"summary":"新北市營造業工程登記","description":"營造業工程開工、竣工登記清冊，表格內容疑問請參考說明檔案。","operationId":"get_6e1ce5fa_3976_4e3e_b981_83990d58502e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6e1ce5fa-3976-4e3e-b981-83990d58502e\/json":{"get":{"tags":["JSON"],"summary":"新北市營造業工程登記","description":"營造業工程開工、竣工登記清冊，表格內容疑問請參考說明檔案。","operationId":"get_6e1ce5fa_3976_4e3e_b981_83990d58502e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6e1ce5fa-3976-4e3e-b981-83990d58502e\/xml":{"get":{"tags":["XML"],"summary":"新北市營造業工程登記","description":"營造業工程開工、竣工登記清冊，表格內容疑問請參考說明檔案。","operationId":"get_6e1ce5fa_3976_4e3e_b981_83990d58502e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/39149fe0-85ab-4e6c-99e5-60657d44895f\/csv":{"get":{"tags":["CSV"],"summary":"新北市路燈資料","description":"共收錄了新北市29區路燈資料。","operationId":"get_39149fe0_85ab_4e6c_99e5_60657d44895f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/39149fe0-85ab-4e6c-99e5-60657d44895f\/json":{"get":{"tags":["JSON"],"summary":"新北市路燈資料","description":"共收錄了新北市29區路燈資料。","operationId":"get_39149fe0_85ab_4e6c_99e5_60657d44895f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/39149fe0-85ab-4e6c-99e5-60657d44895f\/xml":{"get":{"tags":["XML"],"summary":"新北市路燈資料","description":"共收錄了新北市29區路燈資料。","operationId":"get_39149fe0_85ab_4e6c_99e5_60657d44895f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/38061b5c-165e-48bf-baec-158dbd5b2c52\/csv":{"get":{"tags":["CSV"],"summary":"新北市轄內橋梁基本資料","description":"新北市轄內所有橋梁的基本屬性資料(橋梁長度單位為公尺)。","operationId":"get_38061b5c_165e_48bf_baec_158dbd5b2c52_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/38061b5c-165e-48bf-baec-158dbd5b2c52\/json":{"get":{"tags":["JSON"],"summary":"新北市轄內橋梁基本資料","description":"新北市轄內所有橋梁的基本屬性資料(橋梁長度單位為公尺)。","operationId":"get_38061b5c_165e_48bf_baec_158dbd5b2c52_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/38061b5c-165e-48bf-baec-158dbd5b2c52\/xml":{"get":{"tags":["XML"],"summary":"新北市轄內橋梁基本資料","description":"新北市轄內所有橋梁的基本屬性資料(橋梁長度單位為公尺)。","operationId":"get_38061b5c_165e_48bf_baec_158dbd5b2c52_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7ccd0715-2e3e-453a-a290-180d8f3075cd\/csv":{"get":{"tags":["CSV"],"summary":"新北市騎樓整平各年度施作路段(統計至113年底)","description":"本資料提供新北市騎樓整平各年度施作之區域、路名以及施工長度(長度單位為公尺)。","operationId":"get_7ccd0715_2e3e_453a_a290_180d8f3075cd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7ccd0715-2e3e-453a-a290-180d8f3075cd\/json":{"get":{"tags":["JSON"],"summary":"新北市騎樓整平各年度施作路段(統計至113年底)","description":"本資料提供新北市騎樓整平各年度施作之區域、路名以及施工長度(長度單位為公尺)。","operationId":"get_7ccd0715_2e3e_453a_a290_180d8f3075cd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7ccd0715-2e3e-453a-a290-180d8f3075cd\/xml":{"get":{"tags":["XML"],"summary":"新北市騎樓整平各年度施作路段(統計至113年底)","description":"本資料提供新北市騎樓整平各年度施作之區域、路名以及施工長度(長度單位為公尺)。","operationId":"get_7ccd0715_2e3e_453a_a290_180d8f3075cd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ee952bfd-b2b8-4af4-a305-b27c46ae11c6\/csv":{"get":{"tags":["CSV"],"summary":"民間自行興闢道路及附屬設施「興闢計畫書」標準作業流程","description":"民間自行興闢道路及附屬設施「興闢計畫書」標準作業流程。","operationId":"get_ee952bfd_b2b8_4af4_a305_b27c46ae11c6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ee952bfd-b2b8-4af4-a305-b27c46ae11c6\/json":{"get":{"tags":["JSON"],"summary":"民間自行興闢道路及附屬設施「興闢計畫書」標準作業流程","description":"民間自行興闢道路及附屬設施「興闢計畫書」標準作業流程。","operationId":"get_ee952bfd_b2b8_4af4_a305_b27c46ae11c6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ee952bfd-b2b8-4af4-a305-b27c46ae11c6\/xml":{"get":{"tags":["XML"],"summary":"民間自行興闢道路及附屬設施「興闢計畫書」標準作業流程","description":"民間自行興闢道路及附屬設施「興闢計畫書」標準作業流程。","operationId":"get_ee952bfd_b2b8_4af4_a305_b27c46ae11c6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}