{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/5a1f9484-f818-4f81-acd2-a3cf4b3703af\/csv":{"get":{"tags":["CSV"],"summary":"100年度新北市總預算收支簡明比較分析表","description":"1.100年度新北市總預算收支簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_5a1f9484_f818_4f81_acd2_a3cf4b3703af_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5a1f9484-f818-4f81-acd2-a3cf4b3703af\/json":{"get":{"tags":["JSON"],"summary":"100年度新北市總預算收支簡明比較分析表","description":"1.100年度新北市總預算收支簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_5a1f9484_f818_4f81_acd2_a3cf4b3703af_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5a1f9484-f818-4f81-acd2-a3cf4b3703af\/xml":{"get":{"tags":["XML"],"summary":"100年度新北市總預算收支簡明比較分析表","description":"1.100年度新北市總預算收支簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_5a1f9484_f818_4f81_acd2_a3cf4b3703af_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f903f41d-745b-4e3c-844f-80fe8b6c5ab8\/csv":{"get":{"tags":["CSV"],"summary":"100年度新北市總預算歲入來源別預算比較總表","description":"1.100年度新北市總預算歲入來源別預算比較總表(經資門併計) 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_f903f41d_745b_4e3c_844f_80fe8b6c5ab8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f903f41d-745b-4e3c-844f-80fe8b6c5ab8\/json":{"get":{"tags":["JSON"],"summary":"100年度新北市總預算歲入來源別預算比較總表","description":"1.100年度新北市總預算歲入來源別預算比較總表(經資門併計) 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_f903f41d_745b_4e3c_844f_80fe8b6c5ab8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f903f41d-745b-4e3c-844f-80fe8b6c5ab8\/xml":{"get":{"tags":["XML"],"summary":"100年度新北市總預算歲入來源別預算比較總表","description":"1.100年度新北市總預算歲入來源別預算比較總表(經資門併計) 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_f903f41d_745b_4e3c_844f_80fe8b6c5ab8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1fce9a3c-d2cb-4398-a2d2-dccc38085c0e\/csv":{"get":{"tags":["CSV"],"summary":"100年度新北市總預算歲入來源別預算總表","description":"1.100年度新北市總預算歲入來源別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_1fce9a3c_d2cb_4398_a2d2_dccc38085c0e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1fce9a3c-d2cb-4398-a2d2-dccc38085c0e\/json":{"get":{"tags":["JSON"],"summary":"100年度新北市總預算歲入來源別預算總表","description":"1.100年度新北市總預算歲入來源別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_1fce9a3c_d2cb_4398_a2d2_dccc38085c0e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1fce9a3c-d2cb-4398-a2d2-dccc38085c0e\/xml":{"get":{"tags":["XML"],"summary":"100年度新北市總預算歲入來源別預算總表","description":"1.100年度新北市總預算歲入來源別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_1fce9a3c_d2cb_4398_a2d2_dccc38085c0e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a556249f-0df4-428b-bd67-cecdeae2a16b\/csv":{"get":{"tags":["CSV"],"summary":"100年度新北市總預算歲入歲出性質及餘絀簡明比較分析表","description":"1.100年度新北市總預算歲入歲出性質及餘絀簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_a556249f_0df4_428b_bd67_cecdeae2a16b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a556249f-0df4-428b-bd67-cecdeae2a16b\/json":{"get":{"tags":["JSON"],"summary":"100年度新北市總預算歲入歲出性質及餘絀簡明比較分析表","description":"1.100年度新北市總預算歲入歲出性質及餘絀簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_a556249f_0df4_428b_bd67_cecdeae2a16b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a556249f-0df4-428b-bd67-cecdeae2a16b\/xml":{"get":{"tags":["XML"],"summary":"100年度新北市總預算歲入歲出性質及餘絀簡明比較分析表","description":"1.100年度新北市總預算歲入歲出性質及餘絀簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_a556249f_0df4_428b_bd67_cecdeae2a16b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/977c213c-80ee-4a86-994a-f6bd04470580\/csv":{"get":{"tags":["CSV"],"summary":"100年度新北市總預算歲入歲出簡明比較分析表","description":"1.100年度新北市總預算歲入歲出簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_977c213c_80ee_4a86_994a_f6bd04470580_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/977c213c-80ee-4a86-994a-f6bd04470580\/json":{"get":{"tags":["JSON"],"summary":"100年度新北市總預算歲入歲出簡明比較分析表","description":"1.100年度新北市總預算歲入歲出簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_977c213c_80ee_4a86_994a_f6bd04470580_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/977c213c-80ee-4a86-994a-f6bd04470580\/xml":{"get":{"tags":["XML"],"summary":"100年度新北市總預算歲入歲出簡明比較分析表","description":"1.100年度新北市總預算歲入歲出簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_977c213c_80ee_4a86_994a_f6bd04470580_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5dc201e8-8242-46f9-b17d-0ebfff52f255\/csv":{"get":{"tags":["CSV"],"summary":"100年度新北市總預算歲出政事別預算比較總表","description":"1.100年度新北市總預算歲出政事別預算比較總表(經資門併計) 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_5dc201e8_8242_46f9_b17d_0ebfff52f255_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5dc201e8-8242-46f9-b17d-0ebfff52f255\/json":{"get":{"tags":["JSON"],"summary":"100年度新北市總預算歲出政事別預算比較總表","description":"1.100年度新北市總預算歲出政事別預算比較總表(經資門併計) 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_5dc201e8_8242_46f9_b17d_0ebfff52f255_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5dc201e8-8242-46f9-b17d-0ebfff52f255\/xml":{"get":{"tags":["XML"],"summary":"100年度新北市總預算歲出政事別預算比較總表","description":"1.100年度新北市總預算歲出政事別預算比較總表(經資門併計) 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_5dc201e8_8242_46f9_b17d_0ebfff52f255_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cc3f1f5a-ed19-418a-b229-1dd998801c1c\/csv":{"get":{"tags":["CSV"],"summary":"100年度新北市總預算歲出政事別預算總表","description":"1.100年度新北市總預算案歲出政事別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_cc3f1f5a_ed19_418a_b229_1dd998801c1c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cc3f1f5a-ed19-418a-b229-1dd998801c1c\/json":{"get":{"tags":["JSON"],"summary":"100年度新北市總預算歲出政事別預算總表","description":"1.100年度新北市總預算案歲出政事別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_cc3f1f5a_ed19_418a_b229_1dd998801c1c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/cc3f1f5a-ed19-418a-b229-1dd998801c1c\/xml":{"get":{"tags":["XML"],"summary":"100年度新北市總預算歲出政事別預算總表","description":"1.100年度新北市總預算案歲出政事別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_cc3f1f5a_ed19_418a_b229_1dd998801c1c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/24b66f1c-39b4-4ea2-95ef-822c7794cf4b\/csv":{"get":{"tags":["CSV"],"summary":"100年度新北市總預算歲出機關別預算比較總表","description":"1.100年度新北市總預算歲出機關別預算比較總表(經資門併計) 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_24b66f1c_39b4_4ea2_95ef_822c7794cf4b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/24b66f1c-39b4-4ea2-95ef-822c7794cf4b\/json":{"get":{"tags":["JSON"],"summary":"100年度新北市總預算歲出機關別預算比較總表","description":"1.100年度新北市總預算歲出機關別預算比較總表(經資門併計) 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_24b66f1c_39b4_4ea2_95ef_822c7794cf4b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/24b66f1c-39b4-4ea2-95ef-822c7794cf4b\/xml":{"get":{"tags":["XML"],"summary":"100年度新北市總預算歲出機關別預算比較總表","description":"1.100年度新北市總預算歲出機關別預算比較總表(經資門併計) 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_24b66f1c_39b4_4ea2_95ef_822c7794cf4b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a2dea418-6b0d-4dcc-832b-898145ba4eed\/csv":{"get":{"tags":["CSV"],"summary":"100年度新北市總預算歲出機關別預算總表","description":"1.100年度新北市總預算歲出機關別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_a2dea418_6b0d_4dcc_832b_898145ba4eed_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a2dea418-6b0d-4dcc-832b-898145ba4eed\/json":{"get":{"tags":["JSON"],"summary":"100年度新北市總預算歲出機關別預算總表","description":"1.100年度新北市總預算歲出機關別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_a2dea418_6b0d_4dcc_832b_898145ba4eed_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a2dea418-6b0d-4dcc-832b-898145ba4eed\/xml":{"get":{"tags":["XML"],"summary":"100年度新北市總預算歲出機關別預算總表","description":"1.100年度新北市總預算歲出機關別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->100年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_a2dea418_6b0d_4dcc_832b_898145ba4eed_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/829bb595-37f3-43ff-be39-2f7ec8edd823\/csv":{"get":{"tags":["CSV"],"summary":"101年度新北市總預算收支簡明比較分析表","description":"1.101年度新北市總預算收支簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"\"新北市政府主計處網頁->總預算->101年度\"\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_829bb595_37f3_43ff_be39_2f7ec8edd823_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/829bb595-37f3-43ff-be39-2f7ec8edd823\/json":{"get":{"tags":["JSON"],"summary":"101年度新北市總預算收支簡明比較分析表","description":"1.101年度新北市總預算收支簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"\"新北市政府主計處網頁->總預算->101年度\"\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_829bb595_37f3_43ff_be39_2f7ec8edd823_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/829bb595-37f3-43ff-be39-2f7ec8edd823\/xml":{"get":{"tags":["XML"],"summary":"101年度新北市總預算收支簡明比較分析表","description":"1.101年度新北市總預算收支簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"\"新北市政府主計處網頁->總預算->101年度\"\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_829bb595_37f3_43ff_be39_2f7ec8edd823_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/426b46b7-0631-45d1-b72a-788e8350c527\/csv":{"get":{"tags":["CSV"],"summary":"101年度新北市總預算歲入來源別預算比較總表","description":"1.101年度新北市總預算歲入來源別預算比較總表 2.單位：新臺幣千元 3.完整資料詳參\"\"新北市政府主計處網頁->總預算->101年度\"\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_426b46b7_0631_45d1_b72a_788e8350c527_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/426b46b7-0631-45d1-b72a-788e8350c527\/json":{"get":{"tags":["JSON"],"summary":"101年度新北市總預算歲入來源別預算比較總表","description":"1.101年度新北市總預算歲入來源別預算比較總表 2.單位：新臺幣千元 3.完整資料詳參\"\"新北市政府主計處網頁->總預算->101年度\"\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_426b46b7_0631_45d1_b72a_788e8350c527_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/426b46b7-0631-45d1-b72a-788e8350c527\/xml":{"get":{"tags":["XML"],"summary":"101年度新北市總預算歲入來源別預算比較總表","description":"1.101年度新北市總預算歲入來源別預算比較總表 2.單位：新臺幣千元 3.完整資料詳參\"\"新北市政府主計處網頁->總預算->101年度\"\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_426b46b7_0631_45d1_b72a_788e8350c527_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a2991a5e-6fd1-4500-a8c6-e020fca1ef45\/csv":{"get":{"tags":["CSV"],"summary":"101年度新北市總預算歲入來源別預算總表","description":"1.101年度新北市總預算歲入來源別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"\"新北市政府主計處網頁->總預算->101年度\"\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_a2991a5e_6fd1_4500_a8c6_e020fca1ef45_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a2991a5e-6fd1-4500-a8c6-e020fca1ef45\/json":{"get":{"tags":["JSON"],"summary":"101年度新北市總預算歲入來源別預算總表","description":"1.101年度新北市總預算歲入來源別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"\"新北市政府主計處網頁->總預算->101年度\"\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_a2991a5e_6fd1_4500_a8c6_e020fca1ef45_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a2991a5e-6fd1-4500-a8c6-e020fca1ef45\/xml":{"get":{"tags":["XML"],"summary":"101年度新北市總預算歲入來源別預算總表","description":"1.101年度新北市總預算歲入來源別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"\"新北市政府主計處網頁->總預算->101年度\"\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_a2991a5e_6fd1_4500_a8c6_e020fca1ef45_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5aaa1cf4-15e1-40d8-808a-026093ee54d8\/csv":{"get":{"tags":["CSV"],"summary":"101年度新北市總預算歲入歲出性質及餘絀簡明比較分析表","description":"1.101年度新北市總預算歲入歲出性質及餘絀簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_5aaa1cf4_15e1_40d8_808a_026093ee54d8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5aaa1cf4-15e1-40d8-808a-026093ee54d8\/json":{"get":{"tags":["JSON"],"summary":"101年度新北市總預算歲入歲出性質及餘絀簡明比較分析表","description":"1.101年度新北市總預算歲入歲出性質及餘絀簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_5aaa1cf4_15e1_40d8_808a_026093ee54d8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5aaa1cf4-15e1-40d8-808a-026093ee54d8\/xml":{"get":{"tags":["XML"],"summary":"101年度新北市總預算歲入歲出性質及餘絀簡明比較分析表","description":"1.101年度新北市總預算歲入歲出性質及餘絀簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_5aaa1cf4_15e1_40d8_808a_026093ee54d8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d1520f6b-5467-43d5-b1dd-94bfa4a2abf8\/csv":{"get":{"tags":["CSV"],"summary":"101年度新北市總預算歲入歲出簡明比較分析表","description":"1.101年度新北市總預算歲入歲出簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_d1520f6b_5467_43d5_b1dd_94bfa4a2abf8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d1520f6b-5467-43d5-b1dd-94bfa4a2abf8\/json":{"get":{"tags":["JSON"],"summary":"101年度新北市總預算歲入歲出簡明比較分析表","description":"1.101年度新北市總預算歲入歲出簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_d1520f6b_5467_43d5_b1dd_94bfa4a2abf8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d1520f6b-5467-43d5-b1dd-94bfa4a2abf8\/xml":{"get":{"tags":["XML"],"summary":"101年度新北市總預算歲入歲出簡明比較分析表","description":"1.101年度新北市總預算歲入歲出簡明比較分析表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_d1520f6b_5467_43d5_b1dd_94bfa4a2abf8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d8d58988-b579-4040-a309-c014e7cf54c9\/csv":{"get":{"tags":["CSV"],"summary":"101年度新北市總預算歲出政事別預算比較總表","description":"1.101年度新北市總預算歲出政事別預算比較總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_d8d58988_b579_4040_a309_c014e7cf54c9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d8d58988-b579-4040-a309-c014e7cf54c9\/json":{"get":{"tags":["JSON"],"summary":"101年度新北市總預算歲出政事別預算比較總表","description":"1.101年度新北市總預算歲出政事別預算比較總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_d8d58988_b579_4040_a309_c014e7cf54c9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d8d58988-b579-4040-a309-c014e7cf54c9\/xml":{"get":{"tags":["XML"],"summary":"101年度新北市總預算歲出政事別預算比較總表","description":"1.101年度新北市總預算歲出政事別預算比較總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_d8d58988_b579_4040_a309_c014e7cf54c9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/837ba8c8-fc80-42ae-95e6-80f11fb1347a\/csv":{"get":{"tags":["CSV"],"summary":"101年度新北市總預算歲出政事別預算總表","description":"1.101年度新北市總預算案歲出政事別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_837ba8c8_fc80_42ae_95e6_80f11fb1347a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/837ba8c8-fc80-42ae-95e6-80f11fb1347a\/json":{"get":{"tags":["JSON"],"summary":"101年度新北市總預算歲出政事別預算總表","description":"1.101年度新北市總預算案歲出政事別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_837ba8c8_fc80_42ae_95e6_80f11fb1347a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/837ba8c8-fc80-42ae-95e6-80f11fb1347a\/xml":{"get":{"tags":["XML"],"summary":"101年度新北市總預算歲出政事別預算總表","description":"1.101年度新北市總預算案歲出政事別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_837ba8c8_fc80_42ae_95e6_80f11fb1347a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3eaa564e-e75d-42c6-a39b-9e592a8e2f10\/csv":{"get":{"tags":["CSV"],"summary":"101年度新北市總預算歲出機關別預算比較總表","description":"1.101年度新北市總預算歲出機關別預算比較總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_3eaa564e_e75d_42c6_a39b_9e592a8e2f10_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3eaa564e-e75d-42c6-a39b-9e592a8e2f10\/json":{"get":{"tags":["JSON"],"summary":"101年度新北市總預算歲出機關別預算比較總表","description":"1.101年度新北市總預算歲出機關別預算比較總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_3eaa564e_e75d_42c6_a39b_9e592a8e2f10_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3eaa564e-e75d-42c6-a39b-9e592a8e2f10\/xml":{"get":{"tags":["XML"],"summary":"101年度新北市總預算歲出機關別預算比較總表","description":"1.101年度新北市總預算歲出機關別預算比較總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_3eaa564e_e75d_42c6_a39b_9e592a8e2f10_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6066559d-4c3d-4a48-8aa5-a0331daa77ba\/csv":{"get":{"tags":["CSV"],"summary":"101年度新北市總預算歲出機關別預算總表","description":"1.101年度新北市總預算歲出機關別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_6066559d_4c3d_4a48_8aa5_a0331daa77ba_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6066559d-4c3d-4a48-8aa5-a0331daa77ba\/json":{"get":{"tags":["JSON"],"summary":"101年度新北市總預算歲出機關別預算總表","description":"1.101年度新北市總預算歲出機關別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_6066559d_4c3d_4a48_8aa5_a0331daa77ba_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6066559d-4c3d-4a48-8aa5-a0331daa77ba\/xml":{"get":{"tags":["XML"],"summary":"101年度新北市總預算歲出機關別預算總表","description":"1.101年度新北市總預算歲出機關別預算總表 2.單位：新臺幣千元 3.完整資料詳參\"新北市政府主計處網頁->總預算->101年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb787205e21e4d69679)或電洽主計處查詢。","operationId":"get_6066559d_4c3d_4a48_8aa5_a0331daa77ba_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/300dd06c-674c-4cfc-ac52-bad8afa4564e\/csv":{"get":{"tags":["CSV"],"summary":"102年度新北市總預算收支簡明比較分析表","description":"1.102年度新北市總預算收支簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_300dd06c_674c_4cfc_ac52_bad8afa4564e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/300dd06c-674c-4cfc-ac52-bad8afa4564e\/json":{"get":{"tags":["JSON"],"summary":"102年度新北市總預算收支簡明比較分析表","description":"1.102年度新北市總預算收支簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_300dd06c_674c_4cfc_ac52_bad8afa4564e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/300dd06c-674c-4cfc-ac52-bad8afa4564e\/xml":{"get":{"tags":["XML"],"summary":"102年度新北市總預算收支簡明比較分析表","description":"1.102年度新北市總預算收支簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_300dd06c_674c_4cfc_ac52_bad8afa4564e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2de983be-70f0-4e50-9ef3-be6cd0183c45\/csv":{"get":{"tags":["CSV"],"summary":"102年度新北市總預算歲入來源別預算比較總表（經資併計）","description":"1.102年度新北市總預算歲入來源別預算比較總表（經資併計）2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_2de983be_70f0_4e50_9ef3_be6cd0183c45_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2de983be-70f0-4e50-9ef3-be6cd0183c45\/json":{"get":{"tags":["JSON"],"summary":"102年度新北市總預算歲入來源別預算比較總表（經資併計）","description":"1.102年度新北市總預算歲入來源別預算比較總表（經資併計）2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_2de983be_70f0_4e50_9ef3_be6cd0183c45_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2de983be-70f0-4e50-9ef3-be6cd0183c45\/xml":{"get":{"tags":["XML"],"summary":"102年度新北市總預算歲入來源別預算比較總表（經資併計）","description":"1.102年度新北市總預算歲入來源別預算比較總表（經資併計）2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_2de983be_70f0_4e50_9ef3_be6cd0183c45_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a219b964-d385-4cc1-bb93-ac5f51af3807\/csv":{"get":{"tags":["CSV"],"summary":"102年度新北市總預算歲入來源別預算總表","description":"1.102年度新北市總預算歲入來源別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_a219b964_d385_4cc1_bb93_ac5f51af3807_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a219b964-d385-4cc1-bb93-ac5f51af3807\/json":{"get":{"tags":["JSON"],"summary":"102年度新北市總預算歲入來源別預算總表","description":"1.102年度新北市總預算歲入來源別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_a219b964_d385_4cc1_bb93_ac5f51af3807_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a219b964-d385-4cc1-bb93-ac5f51af3807\/xml":{"get":{"tags":["XML"],"summary":"102年度新北市總預算歲入來源別預算總表","description":"1.102年度新北市總預算歲入來源別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_a219b964_d385_4cc1_bb93_ac5f51af3807_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/df78b875-5f01-49bf-a8ea-57d40011c0ca\/csv":{"get":{"tags":["CSV"],"summary":"102年度新北市總預算歲入歲出性質及餘絀簡明比較分析表","description":"1.102年度新北市總預算歲入歲出性質及餘絀簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_df78b875_5f01_49bf_a8ea_57d40011c0ca_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/df78b875-5f01-49bf-a8ea-57d40011c0ca\/json":{"get":{"tags":["JSON"],"summary":"102年度新北市總預算歲入歲出性質及餘絀簡明比較分析表","description":"1.102年度新北市總預算歲入歲出性質及餘絀簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_df78b875_5f01_49bf_a8ea_57d40011c0ca_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/df78b875-5f01-49bf-a8ea-57d40011c0ca\/xml":{"get":{"tags":["XML"],"summary":"102年度新北市總預算歲入歲出性質及餘絀簡明比較分析表","description":"1.102年度新北市總預算歲入歲出性質及餘絀簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_df78b875_5f01_49bf_a8ea_57d40011c0ca_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bbb99dbb-5ddb-45df-8082-c91dfc91d04f\/csv":{"get":{"tags":["CSV"],"summary":"102年度新北市總預算歲入歲出簡明比較分析表","description":"1.102年度新北市總預算歲入歲出簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_bbb99dbb_5ddb_45df_8082_c91dfc91d04f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bbb99dbb-5ddb-45df-8082-c91dfc91d04f\/json":{"get":{"tags":["JSON"],"summary":"102年度新北市總預算歲入歲出簡明比較分析表","description":"1.102年度新北市總預算歲入歲出簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_bbb99dbb_5ddb_45df_8082_c91dfc91d04f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bbb99dbb-5ddb-45df-8082-c91dfc91d04f\/xml":{"get":{"tags":["XML"],"summary":"102年度新北市總預算歲入歲出簡明比較分析表","description":"1.102年度新北市總預算歲入歲出簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_bbb99dbb_5ddb_45df_8082_c91dfc91d04f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ddaf137a-3d74-4342-9568-bcfb390f7077\/csv":{"get":{"tags":["CSV"],"summary":"102年度新北市總預算歲出政事別預算比較總表（經資併計）","description":"1.102年度新北市總預算歲出政事別預算比較總表（經資併計）2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_ddaf137a_3d74_4342_9568_bcfb390f7077_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ddaf137a-3d74-4342-9568-bcfb390f7077\/json":{"get":{"tags":["JSON"],"summary":"102年度新北市總預算歲出政事別預算比較總表（經資併計）","description":"1.102年度新北市總預算歲出政事別預算比較總表（經資併計）2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_ddaf137a_3d74_4342_9568_bcfb390f7077_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ddaf137a-3d74-4342-9568-bcfb390f7077\/xml":{"get":{"tags":["XML"],"summary":"102年度新北市總預算歲出政事別預算比較總表（經資併計）","description":"1.102年度新北市總預算歲出政事別預算比較總表（經資併計）2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_ddaf137a_3d74_4342_9568_bcfb390f7077_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/49cfe53b-aa49-445e-be93-dc05090def66\/csv":{"get":{"tags":["CSV"],"summary":"102年度新北市總預算歲出政事別預算總表","description":"1.102年度新北市總預算歲出政事別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_49cfe53b_aa49_445e_be93_dc05090def66_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/49cfe53b-aa49-445e-be93-dc05090def66\/json":{"get":{"tags":["JSON"],"summary":"102年度新北市總預算歲出政事別預算總表","description":"1.102年度新北市總預算歲出政事別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_49cfe53b_aa49_445e_be93_dc05090def66_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/49cfe53b-aa49-445e-be93-dc05090def66\/xml":{"get":{"tags":["XML"],"summary":"102年度新北市總預算歲出政事別預算總表","description":"1.102年度新北市總預算歲出政事別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_49cfe53b_aa49_445e_be93_dc05090def66_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e8c9c0a0-173b-4e0d-9a31-1b8094e58898\/csv":{"get":{"tags":["CSV"],"summary":"102年度新北市總預算歲出機關別預算比較總表","description":"1.102年度新北市總預算歲出機關別預算比較總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_e8c9c0a0_173b_4e0d_9a31_1b8094e58898_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e8c9c0a0-173b-4e0d-9a31-1b8094e58898\/json":{"get":{"tags":["JSON"],"summary":"102年度新北市總預算歲出機關別預算比較總表","description":"1.102年度新北市總預算歲出機關別預算比較總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_e8c9c0a0_173b_4e0d_9a31_1b8094e58898_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e8c9c0a0-173b-4e0d-9a31-1b8094e58898\/xml":{"get":{"tags":["XML"],"summary":"102年度新北市總預算歲出機關別預算比較總表","description":"1.102年度新北市總預算歲出機關別預算比較總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_e8c9c0a0_173b_4e0d_9a31_1b8094e58898_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e8787770-d585-40e8-bbeb-a514e51c77ef\/csv":{"get":{"tags":["CSV"],"summary":"102年度新北市總預算歲出機關別預算總表","description":"1.102年度新北市總預算歲出機關別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_e8787770_d585_40e8_bbeb_a514e51c77ef_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e8787770-d585-40e8-bbeb-a514e51c77ef\/json":{"get":{"tags":["JSON"],"summary":"102年度新北市總預算歲出機關別預算總表","description":"1.102年度新北市總預算歲出機關別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_e8787770_d585_40e8_bbeb_a514e51c77ef_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e8787770-d585-40e8-bbeb-a514e51c77ef\/xml":{"get":{"tags":["XML"],"summary":"102年度新北市總預算歲出機關別預算總表","description":"1.102年度新北市總預算歲出機關別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->102年度\"(https:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb704b84f8309c90832)或電洽主計處查詢。","operationId":"get_e8787770_d585_40e8_bbeb_a514e51c77ef_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ee1b1b42-47d8-4dbf-911d-401365831f69\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市總預算收支簡明比較分析表","description":"1.103年度新北市總預算收支簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_ee1b1b42_47d8_4dbf_911d_401365831f69_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ee1b1b42-47d8-4dbf-911d-401365831f69\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市總預算收支簡明比較分析表","description":"1.103年度新北市總預算收支簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_ee1b1b42_47d8_4dbf_911d_401365831f69_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ee1b1b42-47d8-4dbf-911d-401365831f69\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市總預算收支簡明比較分析表","description":"1.103年度新北市總預算收支簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_ee1b1b42_47d8_4dbf_911d_401365831f69_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4ef1ed62-d4bb-468f-b86a-e4607225b0a7\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市總預算歲入來源別預算比較總表","description":"1.103年度新北市總預算歲入來源別預算比較總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_4ef1ed62_d4bb_468f_b86a_e4607225b0a7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4ef1ed62-d4bb-468f-b86a-e4607225b0a7\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市總預算歲入來源別預算比較總表","description":"1.103年度新北市總預算歲入來源別預算比較總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_4ef1ed62_d4bb_468f_b86a_e4607225b0a7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4ef1ed62-d4bb-468f-b86a-e4607225b0a7\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市總預算歲入來源別預算比較總表","description":"1.103年度新北市總預算歲入來源別預算比較總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_4ef1ed62_d4bb_468f_b86a_e4607225b0a7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4f90e3c8-c776-4023-b849-251cfc1c6088\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市總預算歲入來源別預算總表","description":"1.103年度新北市總預算歲入來源別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_4f90e3c8_c776_4023_b849_251cfc1c6088_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4f90e3c8-c776-4023-b849-251cfc1c6088\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市總預算歲入來源別預算總表","description":"1.103年度新北市總預算歲入來源別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_4f90e3c8_c776_4023_b849_251cfc1c6088_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4f90e3c8-c776-4023-b849-251cfc1c6088\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市總預算歲入來源別預算總表","description":"1.103年度新北市總預算歲入來源別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_4f90e3c8_c776_4023_b849_251cfc1c6088_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2f65fc44-4f87-4b6c-94ec-4c0d3fd91c90\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市總預算歲入歲出性質及餘絀簡明比較分析表","description":"1.103年度新北市總預算歲入歲出性質及餘絀簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_2f65fc44_4f87_4b6c_94ec_4c0d3fd91c90_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2f65fc44-4f87-4b6c-94ec-4c0d3fd91c90\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市總預算歲入歲出性質及餘絀簡明比較分析表","description":"1.103年度新北市總預算歲入歲出性質及餘絀簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_2f65fc44_4f87_4b6c_94ec_4c0d3fd91c90_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2f65fc44-4f87-4b6c-94ec-4c0d3fd91c90\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市總預算歲入歲出性質及餘絀簡明比較分析表","description":"1.103年度新北市總預算歲入歲出性質及餘絀簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_2f65fc44_4f87_4b6c_94ec_4c0d3fd91c90_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/69703b12-ac50-41e5-ae72-4a8135062033\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市總預算歲入歲出簡明比較分析表","description":"1.103年度新北市總預算歲入歲出簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_69703b12_ac50_41e5_ae72_4a8135062033_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/69703b12-ac50-41e5-ae72-4a8135062033\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市總預算歲入歲出簡明比較分析表","description":"1.103年度新北市總預算歲入歲出簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_69703b12_ac50_41e5_ae72_4a8135062033_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/69703b12-ac50-41e5-ae72-4a8135062033\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市總預算歲入歲出簡明比較分析表","description":"1.103年度新北市總預算歲入歲出簡明比較分析表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_69703b12_ac50_41e5_ae72_4a8135062033_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/00d52f41-82d3-4a61-87fd-663ecbf0dbcb\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市總預算歲出政事別預算比較總表","description":"1.103年度新北市總預算歲出政事別預算比較總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_00d52f41_82d3_4a61_87fd_663ecbf0dbcb_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/00d52f41-82d3-4a61-87fd-663ecbf0dbcb\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市總預算歲出政事別預算比較總表","description":"1.103年度新北市總預算歲出政事別預算比較總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_00d52f41_82d3_4a61_87fd_663ecbf0dbcb_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/00d52f41-82d3-4a61-87fd-663ecbf0dbcb\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市總預算歲出政事別預算比較總表","description":"1.103年度新北市總預算歲出政事別預算比較總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_00d52f41_82d3_4a61_87fd_663ecbf0dbcb_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/00fb8d69-ff10-46f2-b297-b32098a5ac18\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市總預算歲出政事別預算總表","description":"1.103年度新北市總預算歲出政事別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_00fb8d69_ff10_46f2_b297_b32098a5ac18_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/00fb8d69-ff10-46f2-b297-b32098a5ac18\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市總預算歲出政事別預算總表","description":"1.103年度新北市總預算歲出政事別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_00fb8d69_ff10_46f2_b297_b32098a5ac18_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/00fb8d69-ff10-46f2-b297-b32098a5ac18\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市總預算歲出政事別預算總表","description":"1.103年度新北市總預算歲出政事別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_00fb8d69_ff10_46f2_b297_b32098a5ac18_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8214b98f-e49c-4f03-ac4d-e983ad847b71\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市總預算歲出機關別預算比較總表","description":"1.103年度新北市總預算歲出機關別預算比較總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_8214b98f_e49c_4f03_ac4d_e983ad847b71_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8214b98f-e49c-4f03-ac4d-e983ad847b71\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市總預算歲出機關別預算比較總表","description":"1.103年度新北市總預算歲出機關別預算比較總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_8214b98f_e49c_4f03_ac4d_e983ad847b71_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8214b98f-e49c-4f03-ac4d-e983ad847b71\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市總預算歲出機關別預算比較總表","description":"1.103年度新北市總預算歲出機關別預算比較總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_8214b98f_e49c_4f03_ac4d_e983ad847b71_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/04a602b4-6330-428f-bff5-7f81cb9824bc\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市總預算歲出機關別預算總表","description":"1.103年度新北市總預算歲出機關別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_04a602b4_6330_428f_bff5_7f81cb9824bc_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/04a602b4-6330-428f-bff5-7f81cb9824bc\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市總預算歲出機關別預算總表","description":"1.103年度新北市總預算歲出機關別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_04a602b4_6330_428f_bff5_7f81cb9824bc_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/04a602b4-6330-428f-bff5-7f81cb9824bc\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市總預算歲出機關別預算總表","description":"1.103年度新北市總預算歲出機關別預算總表2.單位：新臺幣千元3.完整資料詳參\"新北市政府主計處網頁->總預算->103年度\"(http:\/\/www.bas.ntpc.gov.tw\/home.jsp?id=ae62173b3896f185&act=be4f48068b2b0031&dataserno=d7bc58f03a37bfb75eda0661cf265a6d)或電洽主計處查詢。","operationId":"get_04a602b4_6330_428f_bff5_7f81cb9824bc_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a6afd088-60b6-44d3-a11d-f6f2d4cfbaf8\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市附屬單位預算作業基金收支餘絀綜計表(依基金別分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金收支餘絀綜計表(依基金別分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_a6afd088_60b6_44d3_a11d_f6f2d4cfbaf8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a6afd088-60b6-44d3-a11d-f6f2d4cfbaf8\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市附屬單位預算作業基金收支餘絀綜計表(依基金別分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金收支餘絀綜計表(依基金別分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_a6afd088_60b6_44d3_a11d_f6f2d4cfbaf8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a6afd088-60b6-44d3-a11d-f6f2d4cfbaf8\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市附屬單位預算作業基金收支餘絀綜計表(依基金別分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金收支餘絀綜計表(依基金別分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_a6afd088_60b6_44d3_a11d_f6f2d4cfbaf8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/682f22c5-dc9f-4632-89a1-1fe6faaf8713\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市附屬單位預算作業基金收支餘絀綜計表(依收支科目分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金收支餘絀綜計表(依收支科目分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_682f22c5_dc9f_4632_89a1_1fe6faaf8713_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/682f22c5-dc9f-4632-89a1-1fe6faaf8713\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市附屬單位預算作業基金收支餘絀綜計表(依收支科目分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金收支餘絀綜計表(依收支科目分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_682f22c5_dc9f_4632_89a1_1fe6faaf8713_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/682f22c5-dc9f-4632-89a1-1fe6faaf8713\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市附屬單位預算作業基金收支餘絀綜計表(依收支科目分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金收支餘絀綜計表(依收支科目分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_682f22c5_dc9f_4632_89a1_1fe6faaf8713_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2409a1c2-5085-4840-9cac-abd1ee344025\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市附屬單位預算作業基金現金流量綜計表(依基金別分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金現金流量綜計表(依基金別分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_2409a1c2_5085_4840_9cac_abd1ee344025_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2409a1c2-5085-4840-9cac-abd1ee344025\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市附屬單位預算作業基金現金流量綜計表(依基金別分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金現金流量綜計表(依基金別分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_2409a1c2_5085_4840_9cac_abd1ee344025_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2409a1c2-5085-4840-9cac-abd1ee344025\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市附屬單位預算作業基金現金流量綜計表(依基金別分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金現金流量綜計表(依基金別分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_2409a1c2_5085_4840_9cac_abd1ee344025_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0bcdbee9-4664-4d20-ae28-40ef4fa89191\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市附屬單位預算作業基金現金流量綜計表(依現流項目分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金現金流量綜計表(依現金流量項目分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_0bcdbee9_4664_4d20_ae28_40ef4fa89191_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0bcdbee9-4664-4d20-ae28-40ef4fa89191\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市附屬單位預算作業基金現金流量綜計表(依現流項目分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金現金流量綜計表(依現金流量項目分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_0bcdbee9_4664_4d20_ae28_40ef4fa89191_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0bcdbee9-4664-4d20-ae28-40ef4fa89191\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市附屬單位預算作業基金現金流量綜計表(依現流項目分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金現金流量綜計表(依現金流量項目分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_0bcdbee9_4664_4d20_ae28_40ef4fa89191_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f0b03c8c-2841-4136-b693-76bac299f18c\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市附屬單位預算作業基金餘絀撥補綜計表(依基金別分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金餘絀撥補綜計表(依基金別分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_f0b03c8c_2841_4136_b693_76bac299f18c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f0b03c8c-2841-4136-b693-76bac299f18c\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市附屬單位預算作業基金餘絀撥補綜計表(依基金別分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金餘絀撥補綜計表(依基金別分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_f0b03c8c_2841_4136_b693_76bac299f18c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f0b03c8c-2841-4136-b693-76bac299f18c\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市附屬單位預算作業基金餘絀撥補綜計表(依基金別分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金餘絀撥補綜計表(依基金別分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_f0b03c8c_2841_4136_b693_76bac299f18c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1ec7728b-cd44-4b42-a42f-3be38d64b488\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市附屬單位預算作業基金餘絀撥補綜計表(依撥補項目分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金餘絀撥補綜計表(依撥補項目分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_1ec7728b_cd44_4b42_a42f_3be38d64b488_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1ec7728b-cd44-4b42-a42f-3be38d64b488\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市附屬單位預算作業基金餘絀撥補綜計表(依撥補項目分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金餘絀撥補綜計表(依撥補項目分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_1ec7728b_cd44_4b42_a42f_3be38d64b488_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1ec7728b-cd44-4b42-a42f-3be38d64b488\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市附屬單位預算作業基金餘絀撥補綜計表(依撥補項目分列)(預算案)","description":"1.103年度新北市附屬單位預算作業基金餘絀撥補綜計表(依撥補項目分列)(預算案)\r\n\r\n2.單位：新臺幣千元\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算案\"( http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10408)或電洽主計處查詢。\r\n\r\n4.作業基金之新北市都市更新基金、新北市實施平均地權基金及新北市軌道建設發展基金尚未經市議會審議通過。","operationId":"get_1ec7728b_cd44_4b42_a42f_3be38d64b488_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/179735bf-c0fc-4f72-8417-0b28cb038411\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市附屬單位預算營業基金固定資產建設改良擴充資金來源綜計表(法定)","description":"1.103年度新北市附屬單位預算營業基金固定資產建設改良擴充資金來源綜計表(法定)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算\"(http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10612)或電洽主計處查詢。","operationId":"get_179735bf_c0fc_4f72_8417_0b28cb038411_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/179735bf-c0fc-4f72-8417-0b28cb038411\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市附屬單位預算營業基金固定資產建設改良擴充資金來源綜計表(法定)","description":"1.103年度新北市附屬單位預算營業基金固定資產建設改良擴充資金來源綜計表(法定)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算\"(http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10612)或電洽主計處查詢。","operationId":"get_179735bf_c0fc_4f72_8417_0b28cb038411_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/179735bf-c0fc-4f72-8417-0b28cb038411\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市附屬單位預算營業基金固定資產建設改良擴充資金來源綜計表(法定)","description":"1.103年度新北市附屬單位預算營業基金固定資產建設改良擴充資金來源綜計表(法定)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算\"(http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10612)或電洽主計處查詢。","operationId":"get_179735bf_c0fc_4f72_8417_0b28cb038411_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0109b6dc-2519-4a1a-9f9c-ce040dc737e1\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市附屬單位預算營業基金損益綜計表(依收支科目分列)(法定)","description":"1.103年度新北市附屬單位預算營業基金損益綜計表(依收支科目分列)(法定)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算\"(http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10612)或電洽主計處查詢。","operationId":"get_0109b6dc_2519_4a1a_9f9c_ce040dc737e1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0109b6dc-2519-4a1a-9f9c-ce040dc737e1\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市附屬單位預算營業基金損益綜計表(依收支科目分列)(法定)","description":"1.103年度新北市附屬單位預算營業基金損益綜計表(依收支科目分列)(法定)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算\"(http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10612)或電洽主計處查詢。","operationId":"get_0109b6dc_2519_4a1a_9f9c_ce040dc737e1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0109b6dc-2519-4a1a-9f9c-ce040dc737e1\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市附屬單位預算營業基金損益綜計表(依收支科目分列)(法定)","description":"1.103年度新北市附屬單位預算營業基金損益綜計表(依收支科目分列)(法定)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算\"(http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10612)或電洽主計處查詢。","operationId":"get_0109b6dc_2519_4a1a_9f9c_ce040dc737e1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/be40e5a4-63c7-4754-880f-e2c3c85403c7\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市附屬單位預算營業基金損益綜計表(依機關別分列)(法定)","description":"1.103年度新北市附屬單位預算營業基金損益綜計表(依機關別分列)(法定)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算\"(http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10612)或電洽主計處查詢。","operationId":"get_be40e5a4_63c7_4754_880f_e2c3c85403c7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/be40e5a4-63c7-4754-880f-e2c3c85403c7\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市附屬單位預算營業基金損益綜計表(依機關別分列)(法定)","description":"1.103年度新北市附屬單位預算營業基金損益綜計表(依機關別分列)(法定)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算\"(http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10612)或電洽主計處查詢。","operationId":"get_be40e5a4_63c7_4754_880f_e2c3c85403c7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/be40e5a4-63c7-4754-880f-e2c3c85403c7\/xml":{"get":{"tags":["XML"],"summary":"103年度新北市附屬單位預算營業基金損益綜計表(依機關別分列)(法定)","description":"1.103年度新北市附屬單位預算營業基金損益綜計表(依機關別分列)(法定)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算\"(http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10612)或電洽主計處查詢。","operationId":"get_be40e5a4_63c7_4754_880f_e2c3c85403c7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/aa2ff538-3b8b-48fe-982f-c24439d40bf7\/csv":{"get":{"tags":["CSV"],"summary":"103年度新北市附屬單位預算營業基金現金流量綜計表(依機關別分列)(法定)","description":"1.103年度新北市附屬單位預算營業基金現金流量綜計表(依機關別分列)(法定)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算\"(http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id=10612)或電洽主計處查詢。","operationId":"get_aa2ff538_3b8b_48fe_982f_c24439d40bf7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/aa2ff538-3b8b-48fe-982f-c24439d40bf7\/json":{"get":{"tags":["JSON"],"summary":"103年度新北市附屬單位預算營業基金現金流量綜計表(依機關別分列)(法定)","description":"1.103年度新北市附屬單位預算營業基金現金流量綜計表(依機關別分列)(法定)\r\n\r\n2.單位：新臺幣千元\r\n\r\n3.各項欄位說明詳參\"新北市政府主計處網頁->附屬單位預算及綜計表->103年度附屬單位預算\"(http:\/\/www.bas.ntpc.gov.tw\/download\/?type_id
[...]
