{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/c16fe2d6-5268-466d-8193-57945787576d\/csv":{"get":{"tags":["CSV"],"summary":"新北市公告得免個案指定建築線地區","description":"新北市公告得免個案指定建築線地區。","operationId":"get_c16fe2d6_5268_466d_8193_57945787576d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c16fe2d6-5268-466d-8193-57945787576d\/json":{"get":{"tags":["JSON"],"summary":"新北市公告得免個案指定建築線地區","description":"新北市公告得免個案指定建築線地區。","operationId":"get_c16fe2d6_5268_466d_8193_57945787576d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c16fe2d6-5268-466d-8193-57945787576d\/xml":{"get":{"tags":["XML"],"summary":"新北市公告得免個案指定建築線地區","description":"新北市公告得免個案指定建築線地區。","operationId":"get_c16fe2d6_5268_466d_8193_57945787576d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2133585f-8acb-47ab-827f-1bf488371b30\/csv":{"get":{"tags":["CSV"],"summary":"新北市區域計畫委員會委員名單","description":"提供新北市區域計畫委員會之委員名單、職稱、現職等資料","operationId":"get_2133585f_8acb_47ab_827f_1bf488371b30_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2133585f-8acb-47ab-827f-1bf488371b30\/json":{"get":{"tags":["JSON"],"summary":"新北市區域計畫委員會委員名單","description":"提供新北市區域計畫委員會之委員名單、職稱、現職等資料","operationId":"get_2133585f_8acb_47ab_827f_1bf488371b30_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2133585f-8acb-47ab-827f-1bf488371b30\/xml":{"get":{"tags":["XML"],"summary":"新北市區域計畫委員會委員名單","description":"提供新北市區域計畫委員會之委員名單、職稱、現職等資料","operationId":"get_2133585f_8acb_47ab_827f_1bf488371b30_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5c657e4e-26d5-49af-9a60-bb9e2d6ec73f\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府住宅諮詢審議委員會委員名單","description":"新北市政府住宅諮詢審議委員會第13屆委員名單","operationId":"get_5c657e4e_26d5_49af_9a60_bb9e2d6ec73f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5c657e4e-26d5-49af-9a60-bb9e2d6ec73f\/json":{"get":{"tags":["JSON"],"summary":"新北市政府住宅諮詢審議委員會委員名單","description":"新北市政府住宅諮詢審議委員會第13屆委員名單","operationId":"get_5c657e4e_26d5_49af_9a60_bb9e2d6ec73f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5c657e4e-26d5-49af-9a60-bb9e2d6ec73f\/xml":{"get":{"tags":["XML"],"summary":"新北市政府住宅諮詢審議委員會委員名單","description":"新北市政府住宅諮詢審議委員會第13屆委員名單","operationId":"get_5c657e4e_26d5_49af_9a60_bb9e2d6ec73f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/868ac760-d43d-4bf8-a926-c2c17862c783\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府城鄉發展局通訊錄","description":"說明城鄉發展局各單位的總機及分機","operationId":"get_868ac760_d43d_4bf8_a926_c2c17862c783_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/868ac760-d43d-4bf8-a926-c2c17862c783\/json":{"get":{"tags":["JSON"],"summary":"新北市政府城鄉發展局通訊錄","description":"說明城鄉發展局各單位的總機及分機","operationId":"get_868ac760_d43d_4bf8_a926_c2c17862c783_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/868ac760-d43d-4bf8-a926-c2c17862c783\/xml":{"get":{"tags":["XML"],"summary":"新北市政府城鄉發展局通訊錄","description":"說明城鄉發展局各單位的總機及分機","operationId":"get_868ac760_d43d_4bf8_a926_c2c17862c783_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/502d1589-3693-4f2c-9c05-22e3ec37330d\/csv":{"get":{"tags":["CSV"],"summary":"新北市歷年住宅補貼受理情形統計表","description":"新北市歷年申請住宅補貼情形","operationId":"get_502d1589_3693_4f2c_9c05_22e3ec37330d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/502d1589-3693-4f2c-9c05-22e3ec37330d\/json":{"get":{"tags":["JSON"],"summary":"新北市歷年住宅補貼受理情形統計表","description":"新北市歷年申請住宅補貼情形","operationId":"get_502d1589_3693_4f2c_9c05_22e3ec37330d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/502d1589-3693-4f2c-9c05-22e3ec37330d\/xml":{"get":{"tags":["XML"],"summary":"新北市歷年住宅補貼受理情形統計表","description":"新北市歷年申請住宅補貼情形","operationId":"get_502d1589_3693_4f2c_9c05_22e3ec37330d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/13006a96-ac78-48ab-9160-15e924df7e82\/csv":{"get":{"tags":["CSV"],"summary":"新北市都市及區域發展指標","description":"提供新北市都市及區域發展指標","operationId":"get_13006a96_ac78_48ab_9160_15e924df7e82_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/13006a96-ac78-48ab-9160-15e924df7e82\/json":{"get":{"tags":["JSON"],"summary":"新北市都市及區域發展指標","description":"提供新北市都市及區域發展指標","operationId":"get_13006a96_ac78_48ab_9160_15e924df7e82_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/13006a96-ac78-48ab-9160-15e924df7e82\/xml":{"get":{"tags":["XML"],"summary":"新北市都市及區域發展指標","description":"提供新北市都市及區域發展指標","operationId":"get_13006a96_ac78_48ab_9160_15e924df7e82_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/60ecc055-2252-4370-bba4-ec64e37c05d5\/csv":{"get":{"tags":["CSV"],"summary":"新北市都市更新核定成果(最新)","description":"提供新北市都市更新核定案件名稱、核定日期及相關資訊連結網址","operationId":"get_60ecc055_2252_4370_bba4_ec64e37c05d5_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/60ecc055-2252-4370-bba4-ec64e37c05d5\/json":{"get":{"tags":["JSON"],"summary":"新北市都市更新核定成果(最新)","description":"提供新北市都市更新核定案件名稱、核定日期及相關資訊連結網址","operationId":"get_60ecc055_2252_4370_bba4_ec64e37c05d5_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/60ecc055-2252-4370-bba4-ec64e37c05d5\/xml":{"get":{"tags":["XML"],"summary":"新北市都市更新核定成果(最新)","description":"提供新北市都市更新核定案件名稱、核定日期及相關資訊連結網址","operationId":"get_60ecc055_2252_4370_bba4_ec64e37c05d5_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cd03cc13-9bb8-45d5-a262-82ec7750459f\/csv":{"get":{"tags":["CSV"],"summary":"新北市都市更新處劃定都市更新地區","description":"ㄧ、提供都市更新地區範圍查詢\r\n二、提供都市更新計畫內容查詢","operationId":"get_cd03cc13_9bb8_45d5_a262_82ec7750459f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cd03cc13-9bb8-45d5-a262-82ec7750459f\/json":{"get":{"tags":["JSON"],"summary":"新北市都市更新處劃定都市更新地區","description":"ㄧ、提供都市更新地區範圍查詢\r\n二、提供都市更新計畫內容查詢","operationId":"get_cd03cc13_9bb8_45d5_a262_82ec7750459f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/cd03cc13-9bb8-45d5-a262-82ec7750459f\/xml":{"get":{"tags":["XML"],"summary":"新北市都市更新處劃定都市更新地區","description":"ㄧ、提供都市更新地區範圍查詢\r\n二、提供都市更新計畫內容查詢","operationId":"get_cd03cc13_9bb8_45d5_a262_82ec7750459f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a33ea98a-91dd-4f61-921f-5b74e0662faf\/csv":{"get":{"tags":["CSV"],"summary":"新北市都市更新處市訂法規","description":"提供本市市訂都市更新相關法規","operationId":"get_a33ea98a_91dd_4f61_921f_5b74e0662faf_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a33ea98a-91dd-4f61-921f-5b74e0662faf\/json":{"get":{"tags":["JSON"],"summary":"新北市都市更新處市訂法規","description":"提供本市市訂都市更新相關法規","operationId":"get_a33ea98a_91dd_4f61_921f_5b74e0662faf_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a33ea98a-91dd-4f61-921f-5b74e0662faf\/xml":{"get":{"tags":["XML"],"summary":"新北市都市更新處市訂法規","description":"提供本市市訂都市更新相關法規","operationId":"get_a33ea98a_91dd_4f61_921f_5b74e0662faf_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/53a7c195-e069-4f3a-9a88-86d761d9a768\/csv":{"get":{"tags":["CSV"],"summary":"新北市都市更新處簡易都更","description":"說明簡易都更申辦程序及參考資料","operationId":"get_53a7c195_e069_4f3a_9a88_86d761d9a768_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/53a7c195-e069-4f3a-9a88-86d761d9a768\/json":{"get":{"tags":["JSON"],"summary":"新北市都市更新處簡易都更","description":"說明簡易都更申辦程序及參考資料","operationId":"get_53a7c195_e069_4f3a_9a88_86d761d9a768_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/53a7c195-e069-4f3a-9a88-86d761d9a768\/xml":{"get":{"tags":["XML"],"summary":"新北市都市更新處簡易都更","description":"說明簡易都更申辦程序及參考資料","operationId":"get_53a7c195_e069_4f3a_9a88_86d761d9a768_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/187d7926-dde3-44f4-8c9d-848ff2e1d423\/csv":{"get":{"tags":["CSV"],"summary":"新北市都市更新處都市更新契約注意事項","description":"提供都市更新契約注意事項","operationId":"get_187d7926_dde3_44f4_8c9d_848ff2e1d423_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/187d7926-dde3-44f4-8c9d-848ff2e1d423\/json":{"get":{"tags":["JSON"],"summary":"新北市都市更新處都市更新契約注意事項","description":"提供都市更新契約注意事項","operationId":"get_187d7926_dde3_44f4_8c9d_848ff2e1d423_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/187d7926-dde3-44f4-8c9d-848ff2e1d423\/xml":{"get":{"tags":["XML"],"summary":"新北市都市更新處都市更新契約注意事項","description":"提供都市更新契約注意事項","operationId":"get_187d7926_dde3_44f4_8c9d_848ff2e1d423_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fe26e0a5-54c2-4876-bbc7-150243c048f5\/csv":{"get":{"tags":["CSV"],"summary":"新北市都市計畫土地使用分區及範圍圖","description":"請於下載之CSV檔內部連結下載相關圖資檔案，分區圖資僅供參考，仍以發布實施之都市計畫書圖為準","operationId":"get_fe26e0a5_54c2_4876_bbc7_150243c048f5_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fe26e0a5-54c2-4876-bbc7-150243c048f5\/json":{"get":{"tags":["JSON"],"summary":"新北市都市計畫土地使用分區及範圍圖","description":"請於下載之CSV檔內部連結下載相關圖資檔案，分區圖資僅供參考，仍以發布實施之都市計畫書圖為準","operationId":"get_fe26e0a5_54c2_4876_bbc7_150243c048f5_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fe26e0a5-54c2-4876-bbc7-150243c048f5\/xml":{"get":{"tags":["XML"],"summary":"新北市都市計畫土地使用分區及範圍圖","description":"請於下載之CSV檔內部連結下載相關圖資檔案，分區圖資僅供參考，仍以發布實施之都市計畫書圖為準","operationId":"get_fe26e0a5_54c2_4876_bbc7_150243c048f5_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/98c637e7-b929-46a5-88ec-742dd48e2eee\/csv":{"get":{"tags":["CSV"],"summary":"新北市都市計畫委員會委員名單","description":"新北市都市計畫委員會第15屆委員名單（任期：114年1月1日至114年12月31日）","operationId":"get_98c637e7_b929_46a5_88ec_742dd48e2eee_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/98c637e7-b929-46a5-88ec-742dd48e2eee\/json":{"get":{"tags":["JSON"],"summary":"新北市都市計畫委員會委員名單","description":"新北市都市計畫委員會第15屆委員名單（任期：114年1月1日至114年12月31日）","operationId":"get_98c637e7_b929_46a5_88ec_742dd48e2eee_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/98c637e7-b929-46a5-88ec-742dd48e2eee\/xml":{"get":{"tags":["XML"],"summary":"新北市都市計畫委員會委員名單","description":"新北市都市計畫委員會第15屆委員名單（任期：114年1月1日至114年12月31日）","operationId":"get_98c637e7_b929_46a5_88ec_742dd48e2eee_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e4f81455-ea2f-4a1b-b68b-4d6130b102ac\/csv":{"get":{"tags":["CSV"],"summary":"新北市都市計畫容積移轉申請案件資料統計","description":"提供新北市都市計畫容積移轉申請案件統計資料\r\n","operationId":"get_e4f81455_ea2f_4a1b_b68b_4d6130b102ac_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e4f81455-ea2f-4a1b-b68b-4d6130b102ac\/json":{"get":{"tags":["JSON"],"summary":"新北市都市計畫容積移轉申請案件資料統計","description":"提供新北市都市計畫容積移轉申請案件統計資料\r\n","operationId":"get_e4f81455_ea2f_4a1b_b68b_4d6130b102ac_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e4f81455-ea2f-4a1b-b68b-4d6130b102ac\/xml":{"get":{"tags":["XML"],"summary":"新北市都市計畫容積移轉申請案件資料統計","description":"提供新北市都市計畫容積移轉申請案件統計資料\r\n","operationId":"get_e4f81455_ea2f_4a1b_b68b_4d6130b102ac_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f6e7e341-222d-4da4-bfb3-a5447e06f43c\/csv":{"get":{"tags":["CSV"],"summary":"新北市都市設計及土地使用開發許可審議會委員名單","description":"新北市都市設計及土地使用開發許可審議會第8屆委員名單（任期：114年1月1日至114年12月31日）","operationId":"get_f6e7e341_222d_4da4_bfb3_a5447e06f43c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f6e7e341-222d-4da4-bfb3-a5447e06f43c\/json":{"get":{"tags":["JSON"],"summary":"新北市都市設計及土地使用開發許可審議會委員名單","description":"新北市都市設計及土地使用開發許可審議會第8屆委員名單（任期：114年1月1日至114年12月31日）","operationId":"get_f6e7e341_222d_4da4_bfb3_a5447e06f43c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f6e7e341-222d-4da4-bfb3-a5447e06f43c\/xml":{"get":{"tags":["XML"],"summary":"新北市都市設計及土地使用開發許可審議會委員名單","description":"新北市都市設計及土地使用開發許可審議會第8屆委員名單（任期：114年1月1日至114年12月31日）","operationId":"get_f6e7e341_222d_4da4_bfb3_a5447e06f43c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bd90fa3c-7641-4ca8-873a-16957423fa38\/csv":{"get":{"tags":["CSV"],"summary":"新北市非都市土地使用分區面積","description":"提供新北市各土地使用分區之面積","operationId":"get_bd90fa3c_7641_4ca8_873a_16957423fa38_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bd90fa3c-7641-4ca8-873a-16957423fa38\/json":{"get":{"tags":["JSON"],"summary":"新北市非都市土地使用分區面積","description":"提供新北市各土地使用分區之面積","operationId":"get_bd90fa3c_7641_4ca8_873a_16957423fa38_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bd90fa3c-7641-4ca8-873a-16957423fa38\/xml":{"get":{"tags":["XML"],"summary":"新北市非都市土地使用分區面積","description":"提供新北市各土地使用分區之面積","operationId":"get_bd90fa3c_7641_4ca8_873a_16957423fa38_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/beea56fc-d953-4761-8ecc-2764529ddc10\/csv":{"get":{"tags":["CSV"],"summary":"新北市非都市土地使用編定面積","description":"提供新北市各非都市土地使用編定之面積","operationId":"get_beea56fc_d953_4761_8ecc_2764529ddc10_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/beea56fc-d953-4761-8ecc-2764529ddc10\/json":{"get":{"tags":["JSON"],"summary":"新北市非都市土地使用編定面積","description":"提供新北市各非都市土地使用編定之面積","operationId":"get_beea56fc_d953_4761_8ecc_2764529ddc10_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/beea56fc-d953-4761-8ecc-2764529ddc10\/xml":{"get":{"tags":["XML"],"summary":"新北市非都市土地使用編定面積","description":"提供新北市各非都市土地使用編定之面積","operationId":"get_beea56fc_d953_4761_8ecc_2764529ddc10_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/51bade47-2b49-4e37-b091-191a202f36fd\/csv":{"get":{"tags":["CSV"],"summary":"都市更新及爭議處理審議會名單(最新)","description":"提供新北市都市更新審議委員會委員名單","operationId":"get_51bade47_2b49_4e37_b091_191a202f36fd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/51bade47-2b49-4e37-b091-191a202f36fd\/json":{"get":{"tags":["JSON"],"summary":"都市更新及爭議處理審議會名單(最新)","description":"提供新北市都市更新審議委員會委員名單","operationId":"get_51bade47_2b49_4e37_b091_191a202f36fd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/51bade47-2b49-4e37-b091-191a202f36fd\/xml":{"get":{"tags":["XML"],"summary":"都市更新及爭議處理審議會名單(最新)","description":"提供新北市都市更新審議委員會委員名單","operationId":"get_51bade47_2b49_4e37_b091_191a202f36fd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f532251f-4360-4635-88db-ae3d76136420\/csv":{"get":{"tags":["CSV"],"summary":"都市更新條例及相關法令彙編","description":"提供都市更新條例及相關法令(中央法規、新北市相關規定、相關法規及重要函釋))","operationId":"get_f532251f_4360_4635_88db_ae3d76136420_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f532251f-4360-4635-88db-ae3d76136420\/json":{"get":{"tags":["JSON"],"summary":"都市更新條例及相關法令彙編","description":"提供都市更新條例及相關法令(中央法規、新北市相關規定、相關法規及重要函釋))","operationId":"get_f532251f_4360_4635_88db_ae3d76136420_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f532251f-4360-4635-88db-ae3d76136420\/xml":{"get":{"tags":["XML"],"summary":"都市更新條例及相關法令彙編","description":"提供都市更新條例及相關法令(中央法規、新北市相關規定、相關法規及重要函釋))","operationId":"get_f532251f_4360_4635_88db_ae3d76136420_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}