{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/439a1031-c605-4354-875a-4e7e53c42adb\/csv":{"get":{"tags":["CSV"],"summary":"勞動基準法與勞工退休準備金常見問答集","description":"新北勞動雲公開之勞動基準法與勞工退休準備金相關問答彙整","operationId":"get_439a1031_c605_4354_875a_4e7e53c42adb_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/439a1031-c605-4354-875a-4e7e53c42adb\/json":{"get":{"tags":["JSON"],"summary":"勞動基準法與勞工退休準備金常見問答集","description":"新北勞動雲公開之勞動基準法與勞工退休準備金相關問答彙整","operationId":"get_439a1031_c605_4354_875a_4e7e53c42adb_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/439a1031-c605-4354-875a-4e7e53c42adb\/xml":{"get":{"tags":["XML"],"summary":"勞動基準法與勞工退休準備金常見問答集","description":"新北勞動雲公開之勞動基準法與勞工退休準備金相關問答彙整","operationId":"get_439a1031_c605_4354_875a_4e7e53c42adb_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/87044f1f-3ec2-4811-af5a-c1dd4bb9460e\/csv":{"get":{"tags":["CSV"],"summary":"新北市勞工體格及健康檢查指定醫院","description":"勞動部所提供勞工體格及健康檢查指定醫院(每半年更新一次)","operationId":"get_87044f1f_3ec2_4811_af5a_c1dd4bb9460e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/87044f1f-3ec2-4811-af5a-c1dd4bb9460e\/json":{"get":{"tags":["JSON"],"summary":"新北市勞工體格及健康檢查指定醫院","description":"勞動部所提供勞工體格及健康檢查指定醫院(每半年更新一次)","operationId":"get_87044f1f_3ec2_4811_af5a_c1dd4bb9460e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/87044f1f-3ec2-4811-af5a-c1dd4bb9460e\/xml":{"get":{"tags":["XML"],"summary":"新北市勞工體格及健康檢查指定醫院","description":"勞動部所提供勞工體格及健康檢查指定醫院(每半年更新一次)","operationId":"get_87044f1f_3ec2_4811_af5a_c1dd4bb9460e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/862e96dc-a996-4d7e-8b81-199268526d85\/csv":{"get":{"tags":["CSV"],"summary":"新北市外勞仲介資訊","description":"新北市外勞仲介資訊，包含基本資料、違法紀錄、勞動部評鑑等級、主要引進外勞國籍別及行業別等。","operationId":"get_862e96dc_a996_4d7e_8b81_199268526d85_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/862e96dc-a996-4d7e-8b81-199268526d85\/json":{"get":{"tags":["JSON"],"summary":"新北市外勞仲介資訊","description":"新北市外勞仲介資訊，包含基本資料、違法紀錄、勞動部評鑑等級、主要引進外勞國籍別及行業別等。","operationId":"get_862e96dc_a996_4d7e_8b81_199268526d85_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/862e96dc-a996-4d7e-8b81-199268526d85\/xml":{"get":{"tags":["XML"],"summary":"新北市外勞仲介資訊","description":"新北市外勞仲介資訊，包含基本資料、違法紀錄、勞動部評鑑等級、主要引進外勞國籍別及行業別等。","operationId":"get_862e96dc_a996_4d7e_8b81_199268526d85_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1a552e3d-8d6d-4cc0-b8b6-b50336bd0647\/csv":{"get":{"tags":["CSV"],"summary":"新北市按摩小棧地圖據點","description":"新北市政府勞工局近年在醫院、車站、運動中心、商業大樓及公有空間等場所設置按摩小棧，培訓按摩師取得專業技術士執照，幫助視障朋友適應職場生活","operationId":"get_1a552e3d_8d6d_4cc0_b8b6_b50336bd0647_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1a552e3d-8d6d-4cc0-b8b6-b50336bd0647\/json":{"get":{"tags":["JSON"],"summary":"新北市按摩小棧地圖據點","description":"新北市政府勞工局近年在醫院、車站、運動中心、商業大樓及公有空間等場所設置按摩小棧，培訓按摩師取得專業技術士執照，幫助視障朋友適應職場生活","operationId":"get_1a552e3d_8d6d_4cc0_b8b6_b50336bd0647_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1a552e3d-8d6d-4cc0-b8b6-b50336bd0647\/xml":{"get":{"tags":["XML"],"summary":"新北市按摩小棧地圖據點","description":"新北市政府勞工局近年在醫院、車站、運動中心、商業大樓及公有空間等場所設置按摩小棧，培訓按摩師取得專業技術士執照，幫助視障朋友適應職場生活","operationId":"get_1a552e3d_8d6d_4cc0_b8b6_b50336bd0647_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4427db9f-2eb0-4646-a291-e6031d564c4f\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府所屬就業服務據點","description":"新北市政府所屬就業服務據點列表","operationId":"get_4427db9f_2eb0_4646_a291_e6031d564c4f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4427db9f-2eb0-4646-a291-e6031d564c4f\/json":{"get":{"tags":["JSON"],"summary":"新北市政府所屬就業服務據點","description":"新北市政府所屬就業服務據點列表","operationId":"get_4427db9f_2eb0_4646_a291_e6031d564c4f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4427db9f-2eb0-4646-a291-e6031d564c4f\/xml":{"get":{"tags":["XML"],"summary":"新北市政府所屬就業服務據點","description":"新北市政府所屬就業服務據點列表","operationId":"get_4427db9f_2eb0_4646_a291_e6031d564c4f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a3408b16-7b28-4fa5-9834-d147aae909bf\/csv":{"get":{"tags":["CSV"],"summary":"新北市違法雇主資料_勞動基準法","description":"新北市違反勞動基準法之違法雇主資料名單","operationId":"get_a3408b16_7b28_4fa5_9834_d147aae909bf_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a3408b16-7b28-4fa5-9834-d147aae909bf\/json":{"get":{"tags":["JSON"],"summary":"新北市違法雇主資料_勞動基準法","description":"新北市違反勞動基準法之違法雇主資料名單","operationId":"get_a3408b16_7b28_4fa5_9834_d147aae909bf_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a3408b16-7b28-4fa5-9834-d147aae909bf\/xml":{"get":{"tags":["XML"],"summary":"新北市違法雇主資料_勞動基準法","description":"新北市違反勞動基準法之違法雇主資料名單","operationId":"get_a3408b16_7b28_4fa5_9834_d147aae909bf_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d7b245c0-0ba7-4ee9-9021-5ca27ac52eb4\/csv":{"get":{"tags":["CSV"],"summary":"新北市違法雇主資料_性別平等工作法","description":"新北市違反性別平等工作法之違法雇主資料名單","operationId":"get_d7b245c0_0ba7_4ee9_9021_5ca27ac52eb4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d7b245c0-0ba7-4ee9-9021-5ca27ac52eb4\/json":{"get":{"tags":["JSON"],"summary":"新北市違法雇主資料_性別平等工作法","description":"新北市違反性別平等工作法之違法雇主資料名單","operationId":"get_d7b245c0_0ba7_4ee9_9021_5ca27ac52eb4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d7b245c0-0ba7-4ee9-9021-5ca27ac52eb4\/xml":{"get":{"tags":["XML"],"summary":"新北市違法雇主資料_性別平等工作法","description":"新北市違反性別平等工作法之違法雇主資料名單","operationId":"get_d7b245c0_0ba7_4ee9_9021_5ca27ac52eb4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8ec84245-450b-45df-9bc5-510ab6e02e73\/csv":{"get":{"tags":["CSV"],"summary":"新北市違法雇主資料_職業安全衛生法","description":"新北市違反職業安全衛生法之違法雇主資料名單","operationId":"get_8ec84245_450b_45df_9bc5_510ab6e02e73_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8ec84245-450b-45df-9bc5-510ab6e02e73\/json":{"get":{"tags":["JSON"],"summary":"新北市違法雇主資料_職業安全衛生法","description":"新北市違反職業安全衛生法之違法雇主資料名單","operationId":"get_8ec84245_450b_45df_9bc5_510ab6e02e73_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8ec84245-450b-45df-9bc5-510ab6e02e73\/xml":{"get":{"tags":["XML"],"summary":"新北市違法雇主資料_職業安全衛生法","description":"新北市違反職業安全衛生法之違法雇主資料名單","operationId":"get_8ec84245_450b_45df_9bc5_510ab6e02e73_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/80743c0e-b7e7-4d4a-825b-df354a542f65\/csv":{"get":{"tags":["CSV"],"summary":"歷年重大職災統計","description":"提供歷年重大職災統計相關資料","operationId":"get_80743c0e_b7e7_4d4a_825b_df354a542f65_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/80743c0e-b7e7-4d4a-825b-df354a542f65\/json":{"get":{"tags":["JSON"],"summary":"歷年重大職災統計","description":"提供歷年重大職災統計相關資料","operationId":"get_80743c0e_b7e7_4d4a_825b_df354a542f65_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/80743c0e-b7e7-4d4a-825b-df354a542f65\/xml":{"get":{"tags":["XML"],"summary":"歷年重大職災統計","description":"提供歷年重大職災統計相關資料","operationId":"get_80743c0e_b7e7_4d4a_825b_df354a542f65_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}