{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/b4d3c3c6-53d8-4e4f-8ae5-6235628e38a6\/csv":{"get":{"tags":["CSV"],"summary":"新北市低收入戶老人機構安置補助暨老人保護安置合約機構名冊","description":"新北市政府社會局提供的新北市低收入戶老人機構安置補助暨老人保護安置合約機構名冊","operationId":"get_b4d3c3c6_53d8_4e4f_8ae5_6235628e38a6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b4d3c3c6-53d8-4e4f-8ae5-6235628e38a6\/json":{"get":{"tags":["JSON"],"summary":"新北市低收入戶老人機構安置補助暨老人保護安置合約機構名冊","description":"新北市政府社會局提供的新北市低收入戶老人機構安置補助暨老人保護安置合約機構名冊","operationId":"get_b4d3c3c6_53d8_4e4f_8ae5_6235628e38a6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b4d3c3c6-53d8-4e4f-8ae5-6235628e38a6\/xml":{"get":{"tags":["XML"],"summary":"新北市低收入戶老人機構安置補助暨老人保護安置合約機構名冊","description":"新北市政府社會局提供的新北市低收入戶老人機構安置補助暨老人保護安置合約機構名冊","operationId":"get_b4d3c3c6_53d8_4e4f_8ae5_6235628e38a6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b05fbab8-5b43-4847-b72e-6856caeb1611\/csv":{"get":{"tags":["CSV"],"summary":"新北市兒童及少年安置及教養機構","description":"新北市兒童及少年安置及教養機構主要欄位包含中心名稱、地址、電話","operationId":"get_b05fbab8_5b43_4847_b72e_6856caeb1611_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b05fbab8-5b43-4847-b72e-6856caeb1611\/json":{"get":{"tags":["JSON"],"summary":"新北市兒童及少年安置及教養機構","description":"新北市兒童及少年安置及教養機構主要欄位包含中心名稱、地址、電話","operationId":"get_b05fbab8_5b43_4847_b72e_6856caeb1611_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b05fbab8-5b43-4847-b72e-6856caeb1611\/xml":{"get":{"tags":["XML"],"summary":"新北市兒童及少年安置及教養機構","description":"新北市兒童及少年安置及教養機構主要欄位包含中心名稱、地址、電話","operationId":"get_b05fbab8_5b43_4847_b72e_6856caeb1611_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b3faf2aa-e96b-4f2f-b647-da47dc094860\/csv":{"get":{"tags":["CSV"],"summary":"新北市公共托育中心名冊","description":"提供新北市各公共托育中心名稱、委辦單位、地址與電話等資訊","operationId":"get_b3faf2aa_e96b_4f2f_b647_da47dc094860_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b3faf2aa-e96b-4f2f-b647-da47dc094860\/json":{"get":{"tags":["JSON"],"summary":"新北市公共托育中心名冊","description":"提供新北市各公共托育中心名稱、委辦單位、地址與電話等資訊","operationId":"get_b3faf2aa_e96b_4f2f_b647_da47dc094860_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b3faf2aa-e96b-4f2f-b647-da47dc094860\/xml":{"get":{"tags":["XML"],"summary":"新北市公共托育中心名冊","description":"提供新北市各公共托育中心名稱、委辦單位、地址與電話等資訊","operationId":"get_b3faf2aa_e96b_4f2f_b647_da47dc094860_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4182946c-9f01-4676-9992-d40047b232cf\/csv":{"get":{"tags":["CSV"],"summary":"新北市公共親子中心","description":"新北市政府社會局提供的新北市公共親子中心相關資訊。","operationId":"get_4182946c_9f01_4676_9992_d40047b232cf_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4182946c-9f01-4676-9992-d40047b232cf\/json":{"get":{"tags":["JSON"],"summary":"新北市公共親子中心","description":"新北市政府社會局提供的新北市公共親子中心相關資訊。","operationId":"get_4182946c_9f01_4676_9992_d40047b232cf_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4182946c-9f01-4676-9992-d40047b232cf\/xml":{"get":{"tags":["XML"],"summary":"新北市公共親子中心","description":"新北市政府社會局提供的新北市公共親子中心相關資訊。","operationId":"get_4182946c_9f01_4676_9992_d40047b232cf_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fbf63b03-a922-4e9d-a47d-c1fe6d879669\/csv":{"get":{"tags":["CSV"],"summary":"新北市單親家庭關懷諮詢服務站名冊","description":"新北市政府社會局提供新北市單親家庭關懷諮詢服務站名冊","operationId":"get_fbf63b03_a922_4e9d_a47d_c1fe6d879669_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fbf63b03-a922-4e9d-a47d-c1fe6d879669\/json":{"get":{"tags":["JSON"],"summary":"新北市單親家庭關懷諮詢服務站名冊","description":"新北市政府社會局提供新北市單親家庭關懷諮詢服務站名冊","operationId":"get_fbf63b03_a922_4e9d_a47d_c1fe6d879669_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fbf63b03-a922-4e9d-a47d-c1fe6d879669\/xml":{"get":{"tags":["XML"],"summary":"新北市單親家庭關懷諮詢服務站名冊","description":"新北市政府社會局提供新北市單親家庭關懷諮詢服務站名冊","operationId":"get_fbf63b03_a922_4e9d_a47d_c1fe6d879669_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1c1d0066-a4e7-4753-b8bc-d7728d5f3e04\/csv":{"get":{"tags":["CSV"],"summary":"新北市實物銀行分行及領用站一覽表","description":"新北市實物銀行分行及領用站一覽表_1140606版","operationId":"get_1c1d0066_a4e7_4753_b8bc_d7728d5f3e04_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1c1d0066-a4e7-4753-b8bc-d7728d5f3e04\/json":{"get":{"tags":["JSON"],"summary":"新北市實物銀行分行及領用站一覽表","description":"新北市實物銀行分行及領用站一覽表_1140606版","operationId":"get_1c1d0066_a4e7_4753_b8bc_d7728d5f3e04_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1c1d0066-a4e7-4753-b8bc-d7728d5f3e04\/xml":{"get":{"tags":["XML"],"summary":"新北市實物銀行分行及領用站一覽表","description":"新北市實物銀行分行及領用站一覽表_1140606版","operationId":"get_1c1d0066_a4e7_4753_b8bc_d7728d5f3e04_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/99ad6aba-dc13-47a1-a084-fe773ec5f15f\/csv":{"get":{"tags":["CSV"],"summary":"新北市少年福利服務中心名冊","description":"新北市政府社會局提供的新北市少年福利服務中心名冊","operationId":"get_99ad6aba_dc13_47a1_a084_fe773ec5f15f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/99ad6aba-dc13-47a1-a084-fe773ec5f15f\/json":{"get":{"tags":["JSON"],"summary":"新北市少年福利服務中心名冊","description":"新北市政府社會局提供的新北市少年福利服務中心名冊","operationId":"get_99ad6aba_dc13_47a1_a084_fe773ec5f15f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/99ad6aba-dc13-47a1-a084-fe773ec5f15f\/xml":{"get":{"tags":["XML"],"summary":"新北市少年福利服務中心名冊","description":"新北市政府社會局提供的新北市少年福利服務中心名冊","operationId":"get_99ad6aba_dc13_47a1_a084_fe773ec5f15f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4c9cc06e-d84f-4252-8a3e-08e81850af25\/csv":{"get":{"tags":["CSV"],"summary":"新北市弱勢家庭兒童及少年社區照顧服務名冊","description":"新北市政府社會局提供的新北市弱勢家庭兒童及少年社區照顧服務名冊。","operationId":"get_4c9cc06e_d84f_4252_8a3e_08e81850af25_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4c9cc06e-d84f-4252-8a3e-08e81850af25\/json":{"get":{"tags":["JSON"],"summary":"新北市弱勢家庭兒童及少年社區照顧服務名冊","description":"新北市政府社會局提供的新北市弱勢家庭兒童及少年社區照顧服務名冊。","operationId":"get_4c9cc06e_d84f_4252_8a3e_08e81850af25_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4c9cc06e-d84f-4252-8a3e-08e81850af25\/xml":{"get":{"tags":["XML"],"summary":"新北市弱勢家庭兒童及少年社區照顧服務名冊","description":"新北市政府社會局提供的新北市弱勢家庭兒童及少年社區照顧服務名冊。","operationId":"get_4c9cc06e_d84f_4252_8a3e_08e81850af25_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7b71f65c-24ad-43fc-8d2a-b7a558178b76\/csv":{"get":{"tags":["CSV"],"summary":"新北市托育人員專業訓練課程(自費班)","description":"為有效解決新北市父母托育困擾並維持托育品質，結合民間機構團體及學校單位辦理托育人員專業訓練課程，增益托育人員專業知能並協助取得托育人員技術士證，俾利提供優質、普及之托育服務。","operationId":"get_7b71f65c_24ad_43fc_8d2a_b7a558178b76_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7b71f65c-24ad-43fc-8d2a-b7a558178b76\/json":{"get":{"tags":["JSON"],"summary":"新北市托育人員專業訓練課程(自費班)","description":"為有效解決新北市父母托育困擾並維持托育品質，結合民間機構團體及學校單位辦理托育人員專業訓練課程，增益托育人員專業知能並協助取得托育人員技術士證，俾利提供優質、普及之托育服務。","operationId":"get_7b71f65c_24ad_43fc_8d2a_b7a558178b76_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7b71f65c-24ad-43fc-8d2a-b7a558178b76\/xml":{"get":{"tags":["XML"],"summary":"新北市托育人員專業訓練課程(自費班)","description":"為有效解決新北市父母托育困擾並維持托育品質，結合民間機構團體及學校單位辦理托育人員專業訓練課程，增益托育人員專業知能並協助取得托育人員技術士證，俾利提供優質、普及之托育服務。","operationId":"get_7b71f65c_24ad_43fc_8d2a_b7a558178b76_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fbcc2a46-c8de-489c-92d2-c614a793e76f\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府實物銀行聯絡資訊","description":"市府為強化對弱勢家庭的服務網絡，運用社會工作資源連結方式，凝聚社會善心資源及社區力量，使弱勢家庭得以就近獲得資源以穩定生活，滿足弱勢家庭基本生活所需，故自100 月1 月結合公私夥伴資源力量開始推動實物銀行方案，期透過各界愛心捐助從點到線成面，建構出社會關懷支持網絡。","operationId":"get_fbcc2a46_c8de_489c_92d2_c614a793e76f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fbcc2a46-c8de-489c-92d2-c614a793e76f\/json":{"get":{"tags":["JSON"],"summary":"新北市政府實物銀行聯絡資訊","description":"市府為強化對弱勢家庭的服務網絡，運用社會工作資源連結方式，凝聚社會善心資源及社區力量，使弱勢家庭得以就近獲得資源以穩定生活，滿足弱勢家庭基本生活所需，故自100 月1 月結合公私夥伴資源力量開始推動實物銀行方案，期透過各界愛心捐助從點到線成面，建構出社會關懷支持網絡。","operationId":"get_fbcc2a46_c8de_489c_92d2_c614a793e76f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fbcc2a46-c8de-489c-92d2-c614a793e76f\/xml":{"get":{"tags":["XML"],"summary":"新北市政府實物銀行聯絡資訊","description":"市府為強化對弱勢家庭的服務網絡，運用社會工作資源連結方式，凝聚社會善心資源及社區力量，使弱勢家庭得以就近獲得資源以穩定生活，滿足弱勢家庭基本生活所需，故自100 月1 月結合公私夥伴資源力量開始推動實物銀行方案，期透過各界愛心捐助從點到線成面，建構出社會關懷支持網絡。","operationId":"get_fbcc2a46_c8de_489c_92d2_c614a793e76f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cfc42867-f272-46d2-9fde-c10ee5feb2c3\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府社會局委託辦理居家托育服務中心名冊","description":"新北市政府社會局委託辦理居家托育服務中心名冊。","operationId":"get_cfc42867_f272_46d2_9fde_c10ee5feb2c3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cfc42867-f272-46d2-9fde-c10ee5feb2c3\/json":{"get":{"tags":["JSON"],"summary":"新北市政府社會局委託辦理居家托育服務中心名冊","description":"新北市政府社會局委託辦理居家托育服務中心名冊。","operationId":"get_cfc42867_f272_46d2_9fde_c10ee5feb2c3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/cfc42867-f272-46d2-9fde-c10ee5feb2c3\/xml":{"get":{"tags":["XML"],"summary":"新北市政府社會局委託辦理居家托育服務中心名冊","description":"新北市政府社會局委託辦理居家托育服務中心名冊。","operationId":"get_cfc42867_f272_46d2_9fde_c10ee5feb2c3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d200c1fe-6019-481b-ab20-566009648b19\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府衛生局合作早期療育評估鑑定醫院","description":"新北市政府衛生局合作早期療育評估鑑定醫院。","operationId":"get_d200c1fe_6019_481b_ab20_566009648b19_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d200c1fe-6019-481b-ab20-566009648b19\/json":{"get":{"tags":["JSON"],"summary":"新北市政府衛生局合作早期療育評估鑑定醫院","description":"新北市政府衛生局合作早期療育評估鑑定醫院。","operationId":"get_d200c1fe_6019_481b_ab20_566009648b19_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d200c1fe-6019-481b-ab20-566009648b19\/xml":{"get":{"tags":["XML"],"summary":"新北市政府衛生局合作早期療育評估鑑定醫院","description":"新北市政府衛生局合作早期療育評估鑑定醫院。","operationId":"get_d200c1fe_6019_481b_ab20_566009648b19_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0ea6776a-e2c1-472a-b5ac-a35970ae819d\/csv":{"get":{"tags":["CSV"],"summary":"新北市民間志願服務運用單位已備案名冊","description":"新北市政府社會局提供的新北市民間志願服務運用單位已備案名冊。","operationId":"get_0ea6776a_e2c1_472a_b5ac_a35970ae819d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0ea6776a-e2c1-472a-b5ac-a35970ae819d\/json":{"get":{"tags":["JSON"],"summary":"新北市民間志願服務運用單位已備案名冊","description":"新北市政府社會局提供的新北市民間志願服務運用單位已備案名冊。","operationId":"get_0ea6776a_e2c1_472a_b5ac_a35970ae819d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0ea6776a-e2c1-472a-b5ac-a35970ae819d\/xml":{"get":{"tags":["XML"],"summary":"新北市民間志願服務運用單位已備案名冊","description":"新北市政府社會局提供的新北市民間志願服務運用單位已備案名冊。","operationId":"get_0ea6776a_e2c1_472a_b5ac_a35970ae819d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/abfde51a-e8c1-4b2b-bd8f-eeb548a793b7\/csv":{"get":{"tags":["CSV"],"summary":"新北市社區照顧關懷據點名冊","description":"新北市政府社會局提供的新北市社區照顧關懷據點名冊。","operationId":"get_abfde51a_e8c1_4b2b_bd8f_eeb548a793b7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/abfde51a-e8c1-4b2b-bd8f-eeb548a793b7\/json":{"get":{"tags":["JSON"],"summary":"新北市社區照顧關懷據點名冊","description":"新北市政府社會局提供的新北市社區照顧關懷據點名冊。","operationId":"get_abfde51a_e8c1_4b2b_bd8f_eeb548a793b7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/abfde51a-e8c1-4b2b-bd8f-eeb548a793b7\/xml":{"get":{"tags":["XML"],"summary":"新北市社區照顧關懷據點名冊","description":"新北市政府社會局提供的新北市社區照顧關懷據點名冊。","operationId":"get_abfde51a_e8c1_4b2b_bd8f_eeb548a793b7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d424ae39-edea-4aa6-92c3-e8e69938704d\/csv":{"get":{"tags":["CSV"],"summary":"新北市社區發展協會","description":"新北市政府社會局提供的新北市社區發展協會名冊，主要欄位包含區別、名稱、理事長、性別、電話、傳真電話、會址","operationId":"get_d424ae39_edea_4aa6_92c3_e8e69938704d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d424ae39-edea-4aa6-92c3-e8e69938704d\/json":{"get":{"tags":["JSON"],"summary":"新北市社區發展協會","description":"新北市政府社會局提供的新北市社區發展協會名冊，主要欄位包含區別、名稱、理事長、性別、電話、傳真電話、會址","operationId":"get_d424ae39_edea_4aa6_92c3_e8e69938704d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d424ae39-edea-4aa6-92c3-e8e69938704d\/xml":{"get":{"tags":["XML"],"summary":"新北市社區發展協會","description":"新北市政府社會局提供的新北市社區發展協會名冊，主要欄位包含區別、名稱、理事長、性別、電話、傳真電話、會址","operationId":"get_d424ae39_edea_4aa6_92c3_e8e69938704d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a3b33006-44e2-4a88-959e-af24e7346d2d\/csv":{"get":{"tags":["CSV"],"summary":"新北市社會福利服務中心名冊","description":"新北市社會福利服務中心名冊_1140602版","operationId":"get_a3b33006_44e2_4a88_959e_af24e7346d2d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a3b33006-44e2-4a88-959e-af24e7346d2d\/json":{"get":{"tags":["JSON"],"summary":"新北市社會福利服務中心名冊","description":"新北市社會福利服務中心名冊_1140602版","operationId":"get_a3b33006_44e2_4a88_959e_af24e7346d2d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a3b33006-44e2-4a88-959e-af24e7346d2d\/xml":{"get":{"tags":["XML"],"summary":"新北市社會福利服務中心名冊","description":"新北市社會福利服務中心名冊_1140602版","operationId":"get_a3b33006_44e2_4a88_959e_af24e7346d2d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/69cecdb0-7796-48df-84e5-99e4f1274245\/csv":{"get":{"tags":["CSV"],"summary":"新北市私立托嬰機構名冊","description":"新北市政府社會局所提供的托嬰機構名冊主要提供欄位包含名稱、地址、電話、可收托人數、備註","operationId":"get_69cecdb0_7796_48df_84e5_99e4f1274245_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/69cecdb0-7796-48df-84e5-99e4f1274245\/json":{"get":{"tags":["JSON"],"summary":"新北市私立托嬰機構名冊","description":"新北市政府社會局所提供的托嬰機構名冊主要提供欄位包含名稱、地址、電話、可收托人數、備註","operationId":"get_69cecdb0_7796_48df_84e5_99e4f1274245_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/69cecdb0-7796-48df-84e5-99e4f1274245\/xml":{"get":{"tags":["XML"],"summary":"新北市私立托嬰機構名冊","description":"新北市政府社會局所提供的托嬰機構名冊主要提供欄位包含名稱、地址、電話、可收托人數、備註","operationId":"get_69cecdb0_7796_48df_84e5_99e4f1274245_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3a9b8d18-ef68-4593-a85b-c7835014ac21\/csv":{"get":{"tags":["CSV"],"summary":"新北市私立社會福利慈善事業基金會名冊","description":"新北市政府社會局提供的新北市私立社會福利慈善事業基金會名冊。","operationId":"get_3a9b8d18_ef68_4593_a85b_c7835014ac21_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3a9b8d18-ef68-4593-a85b-c7835014ac21\/json":{"get":{"tags":["JSON"],"summary":"新北市私立社會福利慈善事業基金會名冊","description":"新北市政府社會局提供的新北市私立社會福利慈善事業基金會名冊。","operationId":"get_3a9b8d18_ef68_4593_a85b_c7835014ac21_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3a9b8d18-ef68-4593-a85b-c7835014ac21\/xml":{"get":{"tags":["XML"],"summary":"新北市私立社會福利慈善事業基金會名冊","description":"新北市政府社會局提供的新北市私立社會福利慈善事業基金會名冊。","operationId":"get_3a9b8d18_ef68_4593_a85b_c7835014ac21_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/08073ad6-ab64-4ed6-a771-e29e724d5d55\/csv":{"get":{"tags":["CSV"],"summary":"新北市績優社區發展協會名冊","description":"新北市政府社會局提供的新北市績優社區發展協會名冊。","operationId":"get_08073ad6_ab64_4ed6_a771_e29e724d5d55_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/08073ad6-ab64-4ed6-a771-e29e724d5d55\/json":{"get":{"tags":["JSON"],"summary":"新北市績優社區發展協會名冊","description":"新北市政府社會局提供的新北市績優社區發展協會名冊。","operationId":"get_08073ad6_ab64_4ed6_a771_e29e724d5d55_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/08073ad6-ab64-4ed6-a771-e29e724d5d55\/xml":{"get":{"tags":["XML"],"summary":"新北市績優社區發展協會名冊","description":"新北市政府社會局提供的新北市績優社區發展協會名冊。","operationId":"get_08073ad6_ab64_4ed6_a771_e29e724d5d55_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2baf03e8-5e5b-456d-9e01-732b89f1bedd\/csv":{"get":{"tags":["CSV"],"summary":"新北市老人文康活動中心名冊","description":"新北市政府社會局提供的人文康活動中心名冊。","operationId":"get_2baf03e8_5e5b_456d_9e01_732b89f1bedd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2baf03e8-5e5b-456d-9e01-732b89f1bedd\/json":{"get":{"tags":["JSON"],"summary":"新北市老人文康活動中心名冊","description":"新北市政府社會局提供的人文康活動中心名冊。","operationId":"get_2baf03e8_5e5b_456d_9e01_732b89f1bedd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2baf03e8-5e5b-456d-9e01-732b89f1bedd\/xml":{"get":{"tags":["XML"],"summary":"新北市老人文康活動中心名冊","description":"新北市政府社會局提供的人文康活動中心名冊。","operationId":"get_2baf03e8_5e5b_456d_9e01_732b89f1bedd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8f6ef217-935a-44aa-bda2-4e127420f025\/csv":{"get":{"tags":["CSV"],"summary":"新北市老人福利機構","description":"新北市政府社會局提供的新北市老人福利機構名冊。","operationId":"get_8f6ef217_935a_44aa_bda2_4e127420f025_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8f6ef217-935a-44aa-bda2-4e127420f025\/json":{"get":{"tags":["JSON"],"summary":"新北市老人福利機構","description":"新北市政府社會局提供的新北市老人福利機構名冊。","operationId":"get_8f6ef217_935a_44aa_bda2_4e127420f025_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8f6ef217-935a-44aa-bda2-4e127420f025\/xml":{"get":{"tags":["XML"],"summary":"新北市老人福利機構","description":"新北市政府社會局提供的新北市老人福利機構名冊。","operationId":"get_8f6ef217_935a_44aa_bda2_4e127420f025_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c427602d-b032-4800-b6db-674d2f6972bd\/csv":{"get":{"tags":["CSV"],"summary":"新北市街友中途之家名冊","description":"新北市政府社會局提供的新北市街友中途之家名冊","operationId":"get_c427602d_b032_4800_b6db_674d2f6972bd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c427602d-b032-4800-b6db-674d2f6972bd\/json":{"get":{"tags":["JSON"],"summary":"新北市街友中途之家名冊","description":"新北市政府社會局提供的新北市街友中途之家名冊","operationId":"get_c427602d_b032_4800_b6db_674d2f6972bd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c427602d-b032-4800-b6db-674d2f6972bd\/xml":{"get":{"tags":["XML"],"summary":"新北市街友中途之家名冊","description":"新北市政府社會局提供的新北市街友中途之家名冊","operationId":"get_c427602d_b032_4800_b6db_674d2f6972bd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a47b083f-7e87-4b14-88df-71b8042f4959\/csv":{"get":{"tags":["CSV"],"summary":"新北市街友外展服務中心","description":"新北市街友服務","operationId":"get_a47b083f_7e87_4b14_88df_71b8042f4959_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a47b083f-7e87-4b14-88df-71b8042f4959\/json":{"get":{"tags":["JSON"],"summary":"新北市街友外展服務中心","description":"新北市街友服務","operationId":"get_a47b083f_7e87_4b14_88df_71b8042f4959_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a47b083f-7e87-4b14-88df-71b8042f4959\/xml":{"get":{"tags":["XML"],"summary":"新北市街友外展服務中心","description":"新北市街友服務","operationId":"get_a47b083f_7e87_4b14_88df_71b8042f4959_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/193b12d8-9dcf-41e9-a93a-ad6266154a9c\/csv":{"get":{"tags":["CSV"],"summary":"新北市身心障礙福利機構","description":"新北市政府社會局身心障礙福利機構資料","operationId":"get_193b12d8_9dcf_41e9_a93a_ad6266154a9c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/193b12d8-9dcf-41e9-a93a-ad6266154a9c\/json":{"get":{"tags":["JSON"],"summary":"新北市身心障礙福利機構","description":"新北市政府社會局身心障礙福利機構資料","operationId":"get_193b12d8_9dcf_41e9_a93a_ad6266154a9c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/193b12d8-9dcf-41e9-a93a-ad6266154a9c\/xml":{"get":{"tags":["XML"],"summary":"新北市身心障礙福利機構","description":"新北市政府社會局身心障礙福利機構資料","operationId":"get_193b12d8_9dcf_41e9_a93a_ad6266154a9c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/57cb588d-89d6-4d37-bf2d-75559b0f6a3b\/csv":{"get":{"tags":["CSV"],"summary":"新北市身心障礙者日間作業設施服務單位名冊","description":"新北市政府社會局提供的新北市身心障礙者日間作業設施服務單位名冊。","operationId":"get_57cb588d_89d6_4d37_bf2d_75559b0f6a3b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/57cb588d-89d6-4d37-bf2d-75559b0f6a3b\/json":{"get":{"tags":["JSON"],"summary":"新北市身心障礙者日間作業設施服務單位名冊","description":"新北市政府社會局提供的新北市身心障礙者日間作業設施服務單位名冊。","operationId":"get_57cb588d_89d6_4d37_bf2d_75559b0f6a3b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/57cb588d-89d6-4d37-bf2d-75559b0f6a3b\/xml":{"get":{"tags":["XML"],"summary":"新北市身心障礙者日間作業設施服務單位名冊","description":"新北市政府社會局提供的新北市身心障礙者日間作業設施服務單位名冊。","operationId":"get_57cb588d_89d6_4d37_bf2d_75559b0f6a3b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0c239921-dfca-45e4-a6d1-3a62920ca81b\/csv":{"get":{"tags":["CSV"],"summary":"新北市身心障礙者服務中心名冊","description":"新北市政府社會局提供的新北市身心障礙者服務中心名冊。","operationId":"get_0c239921_dfca_45e4_a6d1_3a62920ca81b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0c239921-dfca-45e4-a6d1-3a62920ca81b\/json":{"get":{"tags":["JSON"],"summary":"新北市身心障礙者服務中心名冊","description":"新北市政府社會局提供的新北市身心障礙者服務中心名冊。","operationId":"get_0c239921_dfca_45e4_a6d1_3a62920ca81b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0c239921-dfca-45e4-a6d1-3a62920ca81b\/xml":{"get":{"tags":["XML"],"summary":"新北市身心障礙者服務中心名冊","description":"新北市政府社會局提供的新北市身心障礙者服務中心名冊。","operationId":"get_0c239921_dfca_45e4_a6d1_3a62920ca81b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7a368004-b9d0-4cce-8fe2-3df9da64fec2\/csv":{"get":{"tags":["CSV"],"summary":"新北市身心障礙者社區日間照顧服務中心名冊","description":"新北市政府社會局提供的新北市身心障礙者社區日間照顧服務中心名冊。","operationId":"get_7a368004_b9d0_4cce_8fe2_3df9da64fec2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7a368004-b9d0-4cce-8fe2-3df9da64fec2\/json":{"get":{"tags":["JSON"],"summary":"新北市身心障礙者社區日間照顧服務中心名冊","description":"新北市政府社會局提供的新北市身心障礙者社區日間照顧服務中心名冊。","operationId":"get_7a368004_b9d0_4cce_8fe2_3df9da64fec2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7a368004-b9d0-4cce-8fe2-3df9da64fec2\/xml":{"get":{"tags":["XML"],"summary":"新北市身心障礙者社區日間照顧服務中心名冊","description":"新北市政府社會局提供的新北市身心障礙者社區日間照顧服務中心名冊。","operationId":"get_7a368004_b9d0_4cce_8fe2_3df9da64fec2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/93401a7a-4fbc-4542-9fd0-d0eb1ad707df\/csv":{"get":{"tags":["CSV"],"summary":"新北市身心障礙者臨時及短期照顧服務單位","description":"新北市身心障礙者臨時及短期照顧服務單位。","operationId":"get_93401a7a_4fbc_4542_9fd0_d0eb1ad707df_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/93401a7a-4fbc-4542-9fd0-d0eb1ad707df\/json":{"get":{"tags":["JSON"],"summary":"新北市身心障礙者臨時及短期照顧服務單位","description":"新北市身心障礙者臨時及短期照顧服務單位。","operationId":"get_93401a7a_4fbc_4542_9fd0_d0eb1ad707df_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/93401a7a-4fbc-4542-9fd0-d0eb1ad707df\/xml":{"get":{"tags":["XML"],"summary":"新北市身心障礙者臨時及短期照顧服務單位","description":"新北市身心障礙者臨時及短期照顧服務單位。","operationId":"get_93401a7a_4fbc_4542_9fd0_d0eb1ad707df_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/25e439ab-49e7-4e5e-85ce-a25c13fd2770\/csv":{"get":{"tags":["CSV"],"summary":"新北市避難收容處所一覽表","description":"新北市避難收容處所一覽表。","operationId":"get_25e439ab_49e7_4e5e_85ce_a25c13fd2770_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/25e439ab-49e7-4e5e-85ce-a25c13fd2770\/json":{"get":{"tags":["JSON"],"summary":"新北市避難收容處所一覽表","description":"新北市避難收容處所一覽表。","operationId":"get_25e439ab_49e7_4e5e_85ce_a25c13fd2770_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/25e439ab-49e7-4e5e-85ce-a25c13fd2770\/xml":{"get":{"tags":["XML"],"summary":"新北市避難收容處所一覽表","description":"新北市避難收容處所一覽表。","operationId":"get_25e439ab_49e7_4e5e_85ce_a25c13fd2770_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e49bcba9-47d0-436d-90cd-1f4ef12ec5c6\/csv":{"get":{"tags":["CSV"],"summary":"新北市避難收容處所優先排序自主檢核表","description":"建立各里防災避難地圖","operationId":"get_e49bcba9_47d0_436d_90cd_1f4ef12ec5c6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e49bcba9-47d0-436d-90cd-1f4ef12ec5c6\/json":{"get":{"tags":["JSON"],"summary":"新北市避難收容處所優先排序自主檢核表","description":"建立各里防災避難地圖","operationId":"get_e49bcba9_47d0_436d_90cd_1f4ef12ec5c6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e49bcba9-47d0-436d-90cd-1f4ef12ec5c6\/xml":{"get":{"tags":["XML"],"summary":"新北市避難收容處所優先排序自主檢核表","description":"建立各里防災避難地圖","operationId":"get_e49bcba9_47d0_436d_90cd_1f4ef12ec5c6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f531a808-4aab-4e5e-93f0-c34f9ff97a78\/csv":{"get":{"tags":["CSV"],"summary":"新北市銀髮俱樂部","description":"社會局提供的新北市銀髮俱樂部據點","operationId":"get_f531a808_4aab_4e5e_93f0_c34f9ff97a78_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f531a808-4aab-4e5e-93f0-c34f9ff97a78\/json":{"get":{"tags":["JSON"],"summary":"新北市銀髮俱樂部","description":"社會局提供的新北市銀髮俱樂部據點","operationId":"get_f531a808_4aab_4e5e_93f0_c34f9ff97a78_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f531a808-4aab-4e5e-93f0-c34f9ff97a78\/xml":{"get":{"tags":["XML"],"summary":"新北市銀髮俱樂部","description":"社會局提供的新北市銀髮俱樂部據點","operationId":"get_f531a808_4aab_4e5e_93f0_c34f9ff97a78_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}