{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/fe53260e-c279-44eb-a1ec-4f17a1db8753\/csv":{"get":{"tags":["CSV"],"summary":"公立幼兒園名錄","description":"公立幼兒園名錄。","operationId":"get_fe53260e_c279_44eb_a1ec_4f17a1db8753_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fe53260e-c279-44eb-a1ec-4f17a1db8753\/json":{"get":{"tags":["JSON"],"summary":"公立幼兒園名錄","description":"公立幼兒園名錄。","operationId":"get_fe53260e_c279_44eb_a1ec_4f17a1db8753_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fe53260e-c279-44eb-a1ec-4f17a1db8753\/xml":{"get":{"tags":["XML"],"summary":"公立幼兒園名錄","description":"公立幼兒園名錄。","operationId":"get_fe53260e_c279_44eb_a1ec_4f17a1db8753_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3170b117-f14b-4675-8bd8-3406da91a888\/csv":{"get":{"tags":["CSV"],"summary":"新北市114學年度公立國中學區一覽表","description":"114學年度公立國中學區一覽表","operationId":"get_3170b117_f14b_4675_8bd8_3406da91a888_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3170b117-f14b-4675-8bd8-3406da91a888\/json":{"get":{"tags":["JSON"],"summary":"新北市114學年度公立國中學區一覽表","description":"114學年度公立國中學區一覽表","operationId":"get_3170b117_f14b_4675_8bd8_3406da91a888_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3170b117-f14b-4675-8bd8-3406da91a888\/xml":{"get":{"tags":["XML"],"summary":"新北市114學年度公立國中學區一覽表","description":"114學年度公立國中學區一覽表","operationId":"get_3170b117_f14b_4675_8bd8_3406da91a888_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f563b4cd-b850-41f5-9709-b910f2d147e9\/csv":{"get":{"tags":["CSV"],"summary":"新北市公私立立案幼兒園資料","description":"由本市幼兒教育資源網所提供之公私立立案幼兒園資料","operationId":"get_f563b4cd_b850_41f5_9709_b910f2d147e9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f563b4cd-b850-41f5-9709-b910f2d147e9\/json":{"get":{"tags":["JSON"],"summary":"新北市公私立立案幼兒園資料","description":"由本市幼兒教育資源網所提供之公私立立案幼兒園資料","operationId":"get_f563b4cd_b850_41f5_9709_b910f2d147e9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f563b4cd-b850-41f5-9709-b910f2d147e9\/xml":{"get":{"tags":["XML"],"summary":"新北市公私立立案幼兒園資料","description":"由本市幼兒教育資源網所提供之公私立立案幼兒園資料","operationId":"get_f563b4cd_b850_41f5_9709_b910f2d147e9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c8a74727-102f-49ee-94df-0b3116edff5e\/csv":{"get":{"tags":["CSV"],"summary":"新北市公立國小學區","description":"112學年國小學區一覽表。學區每學年皆有可能調整，故本資料每學年更新一次。","operationId":"get_c8a74727_102f_49ee_94df_0b3116edff5e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c8a74727-102f-49ee-94df-0b3116edff5e\/json":{"get":{"tags":["JSON"],"summary":"新北市公立國小學區","description":"112學年國小學區一覽表。學區每學年皆有可能調整，故本資料每學年更新一次。","operationId":"get_c8a74727_102f_49ee_94df_0b3116edff5e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c8a74727-102f-49ee-94df-0b3116edff5e\/xml":{"get":{"tags":["XML"],"summary":"新北市公立國小學區","description":"112學年國小學區一覽表。學區每學年皆有可能調整，故本資料每學年更新一次。","operationId":"get_c8a74727_102f_49ee_94df_0b3116edff5e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/85ccbce1-b5cd-477c-b20b-d53512f9815f\/csv":{"get":{"tags":["CSV"],"summary":"新北市教育基金會資訊","description":"提供新北市教育基金會相關查詢，含教育基金會申請文件、辦理財團法人登記說明。\r\n註：教育基金會係公益法人，申請設立採許可主義，主管機關須考量各項情況，非申請即必然同意設立。本資料由教育局提供，如有疑問請洽本市教育局。","operationId":"get_85ccbce1_b5cd_477c_b20b_d53512f9815f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/85ccbce1-b5cd-477c-b20b-d53512f9815f\/json":{"get":{"tags":["JSON"],"summary":"新北市教育基金會資訊","description":"提供新北市教育基金會相關查詢，含教育基金會申請文件、辦理財團法人登記說明。\r\n註：教育基金會係公益法人，申請設立採許可主義，主管機關須考量各項情況，非申請即必然同意設立。本資料由教育局提供，如有疑問請洽本市教育局。","operationId":"get_85ccbce1_b5cd_477c_b20b_d53512f9815f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/85ccbce1-b5cd-477c-b20b-d53512f9815f\/xml":{"get":{"tags":["XML"],"summary":"新北市教育基金會資訊","description":"提供新北市教育基金會相關查詢，含教育基金會申請文件、辦理財團法人登記說明。\r\n註：教育基金會係公益法人，申請設立採許可主義，主管機關須考量各項情況，非申請即必然同意設立。本資料由教育局提供，如有疑問請洽本市教育局。","operationId":"get_85ccbce1_b5cd_477c_b20b_d53512f9815f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a3716c81-3652-4450-897d-3574b875888b\/csv":{"get":{"tags":["CSV"],"summary":"新北市短期補習班立案資訊","description":"提供新北市立案短期補習班相關資訊，本資料由教育局提供，如有疑問請洽本市教育局。","operationId":"get_a3716c81_3652_4450_897d_3574b875888b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a3716c81-3652-4450-897d-3574b875888b\/json":{"get":{"tags":["JSON"],"summary":"新北市短期補習班立案資訊","description":"提供新北市立案短期補習班相關資訊，本資料由教育局提供，如有疑問請洽本市教育局。","operationId":"get_a3716c81_3652_4450_897d_3574b875888b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a3716c81-3652-4450-897d-3574b875888b\/xml":{"get":{"tags":["XML"],"summary":"新北市短期補習班立案資訊","description":"提供新北市立案短期補習班相關資訊，本資料由教育局提供，如有疑問請洽本市教育局。","operationId":"get_a3716c81_3652_4450_897d_3574b875888b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2793d073-7051-4514-9a70-cbf5ea8b356b\/csv":{"get":{"tags":["CSV"],"summary":"新北市補校業務資訊","description":"提供新北市國小至國中有辦理補校業務之學校資訊。","operationId":"get_2793d073_7051_4514_9a70_cbf5ea8b356b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2793d073-7051-4514-9a70-cbf5ea8b356b\/json":{"get":{"tags":["JSON"],"summary":"新北市補校業務資訊","description":"提供新北市國小至國中有辦理補校業務之學校資訊。","operationId":"get_2793d073_7051_4514_9a70_cbf5ea8b356b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2793d073-7051-4514-9a70-cbf5ea8b356b\/xml":{"get":{"tags":["XML"],"summary":"新北市補校業務資訊","description":"提供新北市國小至國中有辦理補校業務之學校資訊。","operationId":"get_2793d073_7051_4514_9a70_cbf5ea8b356b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b03e4670-b49c-44d9-9aff-8d549b6b964e\/csv":{"get":{"tags":["CSV"],"summary":"非營利幼兒園名錄","description":"非營利幼兒園名錄。","operationId":"get_b03e4670_b49c_44d9_9aff_8d549b6b964e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b03e4670-b49c-44d9-9aff-8d549b6b964e\/json":{"get":{"tags":["JSON"],"summary":"非營利幼兒園名錄","description":"非營利幼兒園名錄。","operationId":"get_b03e4670_b49c_44d9_9aff_8d549b6b964e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b03e4670-b49c-44d9-9aff-8d549b6b964e\/xml":{"get":{"tags":["XML"],"summary":"非營利幼兒園名錄","description":"非營利幼兒園名錄。","operationId":"get_b03e4670_b49c_44d9_9aff_8d549b6b964e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}