{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/9d345944-c45c-4e39-bd23-677b85738f85\/csv":{"get":{"tags":["CSV"],"summary":"公司登記清冊","description":"公司登記資料","operationId":"get_9d345944_c45c_4e39_bd23_677b85738f85_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9d345944-c45c-4e39-bd23-677b85738f85\/json":{"get":{"tags":["JSON"],"summary":"公司登記清冊","description":"公司登記資料","operationId":"get_9d345944_c45c_4e39_bd23_677b85738f85_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9d345944-c45c-4e39-bd23-677b85738f85\/xml":{"get":{"tags":["XML"],"summary":"公司登記清冊","description":"公司登記資料","operationId":"get_9d345944_c45c_4e39_bd23_677b85738f85_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f54ded71-eb04-466d-bb6d-dd948c8d8502\/csv":{"get":{"tags":["CSV"],"summary":"各商圈理事長聯絡資料","description":"各商圈理事長聯絡資料。","operationId":"get_f54ded71_eb04_466d_bb6d_dd948c8d8502_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f54ded71-eb04-466d-bb6d-dd948c8d8502\/json":{"get":{"tags":["JSON"],"summary":"各商圈理事長聯絡資料","description":"各商圈理事長聯絡資料。","operationId":"get_f54ded71_eb04_466d_bb6d_dd948c8d8502_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f54ded71-eb04-466d-bb6d-dd948c8d8502\/xml":{"get":{"tags":["XML"],"summary":"各商圈理事長聯絡資料","description":"各商圈理事長聯絡資料。","operationId":"get_f54ded71_eb04_466d_bb6d_dd948c8d8502_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8cc57217-bb0b-4fcf-a576-13cba6e7b72b\/csv":{"get":{"tags":["CSV"],"summary":"商業異動_本月各異動項目資本額明細","description":"本月各異動項目資本額明細","operationId":"get_8cc57217_bb0b_4fcf_a576_13cba6e7b72b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8cc57217-bb0b-4fcf-a576-13cba6e7b72b\/json":{"get":{"tags":["JSON"],"summary":"商業異動_本月各異動項目資本額明細","description":"本月各異動項目資本額明細","operationId":"get_8cc57217_bb0b_4fcf_a576_13cba6e7b72b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8cc57217-bb0b-4fcf-a576-13cba6e7b72b\/xml":{"get":{"tags":["XML"],"summary":"商業異動_本月各異動項目資本額明細","description":"本月各異動項目資本額明細","operationId":"get_8cc57217_bb0b_4fcf_a576_13cba6e7b72b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/de7c31a8-72a6-4085-a6fc-5c399ff102ec\/csv":{"get":{"tags":["CSV"],"summary":"對民間團體補(捐)助經費表_v2","description":"本局對民間團體之補助明細","operationId":"get_de7c31a8_72a6_4085_a6fc_5c399ff102ec_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/de7c31a8-72a6-4085-a6fc-5c399ff102ec\/json":{"get":{"tags":["JSON"],"summary":"對民間團體補(捐)助經費表_v2","description":"本局對民間團體之補助明細","operationId":"get_de7c31a8_72a6_4085_a6fc_5c399ff102ec_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/de7c31a8-72a6-4085-a6fc-5c399ff102ec\/xml":{"get":{"tags":["XML"],"summary":"對民間團體補(捐)助經費表_v2","description":"本局對民間團體之補助明細","operationId":"get_de7c31a8_72a6_4085_a6fc_5c399ff102ec_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9766c572-b044-45ec-95aa-e8e9bb2a61ce\/csv":{"get":{"tags":["CSV"],"summary":"新北好市金讚獎市場及攤位獲獎名單","description":"109年新北好市金讚獎市場及攤位獲獎名單。","operationId":"get_9766c572_b044_45ec_95aa_e8e9bb2a61ce_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9766c572-b044-45ec-95aa-e8e9bb2a61ce\/json":{"get":{"tags":["JSON"],"summary":"新北好市金讚獎市場及攤位獲獎名單","description":"109年新北好市金讚獎市場及攤位獲獎名單。","operationId":"get_9766c572_b044_45ec_95aa_e8e9bb2a61ce_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9766c572-b044-45ec-95aa-e8e9bb2a61ce\/xml":{"get":{"tags":["XML"],"summary":"新北好市金讚獎市場及攤位獲獎名單","description":"109年新北好市金讚獎市場及攤位獲獎名單。","operationId":"get_9766c572_b044_45ec_95aa_e8e9bb2a61ce_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/53ac5d2f-a16d-45c2-b103-78aff1033181\/csv":{"get":{"tags":["CSV"],"summary":"新北好禮","description":"新北好禮業者獲獎名單","operationId":"get_53ac5d2f_a16d_45c2_b103_78aff1033181_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/53ac5d2f-a16d-45c2-b103-78aff1033181\/json":{"get":{"tags":["JSON"],"summary":"新北好禮","description":"新北好禮業者獲獎名單","operationId":"get_53ac5d2f_a16d_45c2_b103_78aff1033181_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/53ac5d2f-a16d-45c2-b103-78aff1033181\/xml":{"get":{"tags":["XML"],"summary":"新北好禮","description":"新北好禮業者獲獎名單","operationId":"get_53ac5d2f_a16d_45c2_b103_78aff1033181_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/785be91a-caaf-4e1c-91d6-f7d616d31a45\/csv":{"get":{"tags":["CSV"],"summary":"新北市公有市場及超市清冊","description":"新北市公有市場及超市清冊。","operationId":"get_785be91a_caaf_4e1c_91d6_f7d616d31a45_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/785be91a-caaf-4e1c-91d6-f7d616d31a45\/json":{"get":{"tags":["JSON"],"summary":"新北市公有市場及超市清冊","description":"新北市公有市場及超市清冊。","operationId":"get_785be91a_caaf_4e1c_91d6_f7d616d31a45_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/785be91a-caaf-4e1c-91d6-f7d616d31a45\/xml":{"get":{"tags":["XML"],"summary":"新北市公有市場及超市清冊","description":"新北市公有市場及超市清冊。","operationId":"get_785be91a_caaf_4e1c_91d6_f7d616d31a45_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/02b8e687-dac6-4656-baf7-95209dbb1614\/csv":{"get":{"tags":["CSV"],"summary":"新北市公有攤販集中場清冊","description":"新北市公有攤販集中場名冊","operationId":"get_02b8e687_dac6_4656_baf7_95209dbb1614_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/02b8e687-dac6-4656-baf7-95209dbb1614\/json":{"get":{"tags":["JSON"],"summary":"新北市公有攤販集中場清冊","description":"新北市公有攤販集中場名冊","operationId":"get_02b8e687_dac6_4656_baf7_95209dbb1614_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/02b8e687-dac6-4656-baf7-95209dbb1614\/xml":{"get":{"tags":["XML"],"summary":"新北市公有攤販集中場清冊","description":"新北市公有攤販集中場名冊","operationId":"get_02b8e687_dac6_4656_baf7_95209dbb1614_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c051da17-17e6-49b3-9938-476bb9f3a7f4\/csv":{"get":{"tags":["CSV"],"summary":"新北市公用天然氣導管承裝業(甲級乙級)清冊","description":"提供本市公用天然氣導管承裝業(甲級乙級)之級別、公司名稱、地址等資料。","operationId":"get_c051da17_17e6_49b3_9938_476bb9f3a7f4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c051da17-17e6-49b3-9938-476bb9f3a7f4\/json":{"get":{"tags":["JSON"],"summary":"新北市公用天然氣導管承裝業(甲級乙級)清冊","description":"提供本市公用天然氣導管承裝業(甲級乙級)之級別、公司名稱、地址等資料。","operationId":"get_c051da17_17e6_49b3_9938_476bb9f3a7f4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c051da17-17e6-49b3-9938-476bb9f3a7f4\/xml":{"get":{"tags":["XML"],"summary":"新北市公用天然氣導管承裝業(甲級乙級)清冊","description":"提供本市公用天然氣導管承裝業(甲級乙級)之級別、公司名稱、地址等資料。","operationId":"get_c051da17_17e6_49b3_9938_476bb9f3a7f4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/54e214d6-39bd-4486-8050-2d27a32dcfc0\/csv":{"get":{"tags":["CSV"],"summary":"新北市加氣站清冊","description":"提供本市加氣站營業主體、加氣站站名、地址等資料。","operationId":"get_54e214d6_39bd_4486_8050_2d27a32dcfc0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/54e214d6-39bd-4486-8050-2d27a32dcfc0\/json":{"get":{"tags":["JSON"],"summary":"新北市加氣站清冊","description":"提供本市加氣站營業主體、加氣站站名、地址等資料。","operationId":"get_54e214d6_39bd_4486_8050_2d27a32dcfc0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/54e214d6-39bd-4486-8050-2d27a32dcfc0\/xml":{"get":{"tags":["XML"],"summary":"新北市加氣站清冊","description":"提供本市加氣站營業主體、加氣站站名、地址等資料。","operationId":"get_54e214d6_39bd_4486_8050_2d27a32dcfc0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/54399397-5f74-468a-b008-0ae123ca8a61\/csv":{"get":{"tags":["CSV"],"summary":"新北市加氣站清冊-三重區","description":"提供本市加氣站營業主體、加氣站站名、地址等資料。(三重區)","operationId":"get_54399397_5f74_468a_b008_0ae123ca8a61_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/54399397-5f74-468a-b008-0ae123ca8a61\/json":{"get":{"tags":["JSON"],"summary":"新北市加氣站清冊-三重區","description":"提供本市加氣站營業主體、加氣站站名、地址等資料。(三重區)","operationId":"get_54399397_5f74_468a_b008_0ae123ca8a61_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/54399397-5f74-468a-b008-0ae123ca8a61\/xml":{"get":{"tags":["XML"],"summary":"新北市加氣站清冊-三重區","description":"提供本市加氣站營業主體、加氣站站名、地址等資料。(三重區)","operationId":"get_54399397_5f74_468a_b008_0ae123ca8a61_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ef167cf2-7c41-432f-bc58-8fb02710cb75\/csv":{"get":{"tags":["CSV"],"summary":"新北市加氣站清冊-五股區","description":"提供本市加氣站營業主體、加氣站站名、地址等資料。(五股區)","operationId":"get_ef167cf2_7c41_432f_bc58_8fb02710cb75_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ef167cf2-7c41-432f-bc58-8fb02710cb75\/json":{"get":{"tags":["JSON"],"summary":"新北市加氣站清冊-五股區","description":"提供本市加氣站營業主體、加氣站站名、地址等資料。(五股區)","operationId":"get_ef167cf2_7c41_432f_bc58_8fb02710cb75_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ef167cf2-7c41-432f-bc58-8fb02710cb75\/xml":{"get":{"tags":["XML"],"summary":"新北市加氣站清冊-五股區","description":"提供本市加氣站營業主體、加氣站站名、地址等資料。(五股區)","operationId":"get_ef167cf2_7c41_432f_bc58_8fb02710cb75_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/112f981a-0f10-4791-8f10-67fbda1d3a83\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊","description":"提供本市加油站營業主體、加油站站名、地址等資料。","operationId":"get_112f981a_0f10_4791_8f10_67fbda1d3a83_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/112f981a-0f10-4791-8f10-67fbda1d3a83\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊","description":"提供本市加油站營業主體、加油站站名、地址等資料。","operationId":"get_112f981a_0f10_4791_8f10_67fbda1d3a83_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/112f981a-0f10-4791-8f10-67fbda1d3a83\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊","description":"提供本市加油站營業主體、加油站站名、地址等資料。","operationId":"get_112f981a_0f10_4791_8f10_67fbda1d3a83_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/18deb530-101f-4b33-a8ba-b87fa5d5a8f6\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-三峽區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(三峽區)","operationId":"get_18deb530_101f_4b33_a8ba_b87fa5d5a8f6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/18deb530-101f-4b33-a8ba-b87fa5d5a8f6\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-三峽區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(三峽區)","operationId":"get_18deb530_101f_4b33_a8ba_b87fa5d5a8f6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/18deb530-101f-4b33-a8ba-b87fa5d5a8f6\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-三峽區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(三峽區)","operationId":"get_18deb530_101f_4b33_a8ba_b87fa5d5a8f6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7c6245ae-0531-400d-a17b-486ca78b11dd\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-三芝區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(三芝區)","operationId":"get_7c6245ae_0531_400d_a17b_486ca78b11dd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7c6245ae-0531-400d-a17b-486ca78b11dd\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-三芝區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(三芝區)","operationId":"get_7c6245ae_0531_400d_a17b_486ca78b11dd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7c6245ae-0531-400d-a17b-486ca78b11dd\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-三芝區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(三芝區)","operationId":"get_7c6245ae_0531_400d_a17b_486ca78b11dd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/095ec3be-3a9a-450d-866f-303905f3f33f\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-三重區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(三重區)","operationId":"get_095ec3be_3a9a_450d_866f_303905f3f33f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/095ec3be-3a9a-450d-866f-303905f3f33f\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-三重區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(三重區)","operationId":"get_095ec3be_3a9a_450d_866f_303905f3f33f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/095ec3be-3a9a-450d-866f-303905f3f33f\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-三重區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(三重區)","operationId":"get_095ec3be_3a9a_450d_866f_303905f3f33f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cd3ac482-6867-4376-bbfb-cf732158da4f\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-中和區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(中和區)","operationId":"get_cd3ac482_6867_4376_bbfb_cf732158da4f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cd3ac482-6867-4376-bbfb-cf732158da4f\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-中和區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(中和區)","operationId":"get_cd3ac482_6867_4376_bbfb_cf732158da4f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/cd3ac482-6867-4376-bbfb-cf732158da4f\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-中和區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(中和區)","operationId":"get_cd3ac482_6867_4376_bbfb_cf732158da4f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/42cbb7dd-37e5-4201-b61e-8cf21674f2cd\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-五股區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(五股區)","operationId":"get_42cbb7dd_37e5_4201_b61e_8cf21674f2cd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/42cbb7dd-37e5-4201-b61e-8cf21674f2cd\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-五股區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(五股區)","operationId":"get_42cbb7dd_37e5_4201_b61e_8cf21674f2cd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/42cbb7dd-37e5-4201-b61e-8cf21674f2cd\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-五股區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(五股區)","operationId":"get_42cbb7dd_37e5_4201_b61e_8cf21674f2cd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/341c6c1b-9d4b-4c39-85ec-f1b8bc8f6e8e\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-八里區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(八里區)","operationId":"get_341c6c1b_9d4b_4c39_85ec_f1b8bc8f6e8e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/341c6c1b-9d4b-4c39-85ec-f1b8bc8f6e8e\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-八里區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(八里區)","operationId":"get_341c6c1b_9d4b_4c39_85ec_f1b8bc8f6e8e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/341c6c1b-9d4b-4c39-85ec-f1b8bc8f6e8e\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-八里區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(八里區)","operationId":"get_341c6c1b_9d4b_4c39_85ec_f1b8bc8f6e8e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/84d21b21-d336-4217-9cb6-04e5964ecb92\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-土城區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(土城區)","operationId":"get_84d21b21_d336_4217_9cb6_04e5964ecb92_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/84d21b21-d336-4217-9cb6-04e5964ecb92\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-土城區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(土城區)","operationId":"get_84d21b21_d336_4217_9cb6_04e5964ecb92_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/84d21b21-d336-4217-9cb6-04e5964ecb92\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-土城區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(土城區)","operationId":"get_84d21b21_d336_4217_9cb6_04e5964ecb92_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d52e47a6-523c-4dd2-9f30-d3a8fecebc72\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-坪林區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(坪林區)","operationId":"get_d52e47a6_523c_4dd2_9f30_d3a8fecebc72_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d52e47a6-523c-4dd2-9f30-d3a8fecebc72\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-坪林區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(坪林區)","operationId":"get_d52e47a6_523c_4dd2_9f30_d3a8fecebc72_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d52e47a6-523c-4dd2-9f30-d3a8fecebc72\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-坪林區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(坪林區)","operationId":"get_d52e47a6_523c_4dd2_9f30_d3a8fecebc72_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1ac52a34-94dd-43b1-a811-634c19de9ce2\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-新店區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(新店區)","operationId":"get_1ac52a34_94dd_43b1_a811_634c19de9ce2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1ac52a34-94dd-43b1-a811-634c19de9ce2\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-新店區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(新店區)","operationId":"get_1ac52a34_94dd_43b1_a811_634c19de9ce2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1ac52a34-94dd-43b1-a811-634c19de9ce2\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-新店區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(新店區)","operationId":"get_1ac52a34_94dd_43b1_a811_634c19de9ce2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d50f40d4-5065-4163-875b-0a3dde49ab71\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-新莊區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(新莊區)","operationId":"get_d50f40d4_5065_4163_875b_0a3dde49ab71_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d50f40d4-5065-4163-875b-0a3dde49ab71\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-新莊區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(新莊區)","operationId":"get_d50f40d4_5065_4163_875b_0a3dde49ab71_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d50f40d4-5065-4163-875b-0a3dde49ab71\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-新莊區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(新莊區)","operationId":"get_d50f40d4_5065_4163_875b_0a3dde49ab71_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/228ed654-b445-4872-9225-42a9724f43db\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-板橋區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(板橋區)","operationId":"get_228ed654_b445_4872_9225_42a9724f43db_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/228ed654-b445-4872-9225-42a9724f43db\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-板橋區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(板橋區)","operationId":"get_228ed654_b445_4872_9225_42a9724f43db_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/228ed654-b445-4872-9225-42a9724f43db\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-板橋區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(板橋區)","operationId":"get_228ed654_b445_4872_9225_42a9724f43db_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/34a9c52f-65ab-42af-98da-948668668403\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-林口區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(林口區)","operationId":"get_34a9c52f_65ab_42af_98da_948668668403_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/34a9c52f-65ab-42af-98da-948668668403\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-林口區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(林口區)","operationId":"get_34a9c52f_65ab_42af_98da_948668668403_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/34a9c52f-65ab-42af-98da-948668668403\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-林口區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(林口區)","operationId":"get_34a9c52f_65ab_42af_98da_948668668403_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2012b60e-c0e3-496a-8e28-dc79be724fff\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-樹林區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(樹林區)","operationId":"get_2012b60e_c0e3_496a_8e28_dc79be724fff_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2012b60e-c0e3-496a-8e28-dc79be724fff\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-樹林區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(樹林區)","operationId":"get_2012b60e_c0e3_496a_8e28_dc79be724fff_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2012b60e-c0e3-496a-8e28-dc79be724fff\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-樹林區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(樹林區)","operationId":"get_2012b60e_c0e3_496a_8e28_dc79be724fff_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/52cc3c8f-9959-480b-81d1-133416b836b2\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-永和區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(永和區)","operationId":"get_52cc3c8f_9959_480b_81d1_133416b836b2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/52cc3c8f-9959-480b-81d1-133416b836b2\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-永和區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(永和區)","operationId":"get_52cc3c8f_9959_480b_81d1_133416b836b2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/52cc3c8f-9959-480b-81d1-133416b836b2\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-永和區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(永和區)","operationId":"get_52cc3c8f_9959_480b_81d1_133416b836b2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1bdca832-3ad1-4d2c-bbee-54b99b2da244\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-汐止區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(汐止區)","operationId":"get_1bdca832_3ad1_4d2c_bbee_54b99b2da244_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1bdca832-3ad1-4d2c-bbee-54b99b2da244\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-汐止區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(汐止區)","operationId":"get_1bdca832_3ad1_4d2c_bbee_54b99b2da244_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1bdca832-3ad1-4d2c-bbee-54b99b2da244\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-汐止區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(汐止區)","operationId":"get_1bdca832_3ad1_4d2c_bbee_54b99b2da244_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/406ef4cf-aae9-409b-b8ae-b07753dc5df4\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-泰山區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(泰山區)","operationId":"get_406ef4cf_aae9_409b_b8ae_b07753dc5df4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/406ef4cf-aae9-409b-b8ae-b07753dc5df4\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-泰山區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(泰山區)","operationId":"get_406ef4cf_aae9_409b_b8ae_b07753dc5df4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/406ef4cf-aae9-409b-b8ae-b07753dc5df4\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-泰山區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(泰山區)","operationId":"get_406ef4cf_aae9_409b_b8ae_b07753dc5df4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/aa6c9d81-db7f-43f0-867a-d6a5d27db6aa\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-淡水區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(淡水區)","operationId":"get_aa6c9d81_db7f_43f0_867a_d6a5d27db6aa_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/aa6c9d81-db7f-43f0-867a-d6a5d27db6aa\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-淡水區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(淡水區)","operationId":"get_aa6c9d81_db7f_43f0_867a_d6a5d27db6aa_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/aa6c9d81-db7f-43f0-867a-d6a5d27db6aa\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-淡水區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(淡水區)","operationId":"get_aa6c9d81_db7f_43f0_867a_d6a5d27db6aa_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5ebcdf10-8ab9-4efa-b958-deb39482f6fe\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-深坑區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(深坑區)","operationId":"get_5ebcdf10_8ab9_4efa_b958_deb39482f6fe_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5ebcdf10-8ab9-4efa-b958-deb39482f6fe\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-深坑區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(深坑區)","operationId":"get_5ebcdf10_8ab9_4efa_b958_deb39482f6fe_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5ebcdf10-8ab9-4efa-b958-deb39482f6fe\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-深坑區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(深坑區)","operationId":"get_5ebcdf10_8ab9_4efa_b958_deb39482f6fe_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f22f81cb-bf7d-43e2-b674-09878de69143\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-瑞芳區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(瑞芳區)","operationId":"get_f22f81cb_bf7d_43e2_b674_09878de69143_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f22f81cb-bf7d-43e2-b674-09878de69143\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-瑞芳區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(瑞芳區)","operationId":"get_f22f81cb_bf7d_43e2_b674_09878de69143_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f22f81cb-bf7d-43e2-b674-09878de69143\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-瑞芳區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(瑞芳區)","operationId":"get_f22f81cb_bf7d_43e2_b674_09878de69143_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/462ecd20-2dee-4f66-a14f-9c81971e8fb0\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-石碇區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(石碇區)","operationId":"get_462ecd20_2dee_4f66_a14f_9c81971e8fb0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/462ecd20-2dee-4f66-a14f-9c81971e8fb0\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-石碇區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(石碇區)","operationId":"get_462ecd20_2dee_4f66_a14f_9c81971e8fb0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/462ecd20-2dee-4f66-a14f-9c81971e8fb0\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-石碇區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(石碇區)","operationId":"get_462ecd20_2dee_4f66_a14f_9c81971e8fb0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1f6e2c02-f2b4-49b3-a924-9560aedae316\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-石門區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(石門區)","operationId":"get_1f6e2c02_f2b4_49b3_a924_9560aedae316_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1f6e2c02-f2b4-49b3-a924-9560aedae316\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-石門區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(石門區)","operationId":"get_1f6e2c02_f2b4_49b3_a924_9560aedae316_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1f6e2c02-f2b4-49b3-a924-9560aedae316\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-石門區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(石門區)","operationId":"get_1f6e2c02_f2b4_49b3_a924_9560aedae316_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4c14958a-e751-4324-b290-82fa0b27a34b\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-萬里區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(萬里區)","operationId":"get_4c14958a_e751_4324_b290_82fa0b27a34b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4c14958a-e751-4324-b290-82fa0b27a34b\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-萬里區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(萬里區)","operationId":"get_4c14958a_e751_4324_b290_82fa0b27a34b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4c14958a-e751-4324-b290-82fa0b27a34b\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-萬里區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(萬里區)","operationId":"get_4c14958a_e751_4324_b290_82fa0b27a34b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7ef7d676-a5f7-4580-96bc-588291918cb9\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-蘆洲區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(蘆洲區)","operationId":"get_7ef7d676_a5f7_4580_96bc_588291918cb9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7ef7d676-a5f7-4580-96bc-588291918cb9\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-蘆洲區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(蘆洲區)","operationId":"get_7ef7d676_a5f7_4580_96bc_588291918cb9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7ef7d676-a5f7-4580-96bc-588291918cb9\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-蘆洲區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(蘆洲區)","operationId":"get_7ef7d676_a5f7_4580_96bc_588291918cb9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b206ecf5-1987-4b67-8eb4-e55912e14abd\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-貢寮區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(貢寮區)","operationId":"get_b206ecf5_1987_4b67_8eb4_e55912e14abd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b206ecf5-1987-4b67-8eb4-e55912e14abd\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-貢寮區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(貢寮區)","operationId":"get_b206ecf5_1987_4b67_8eb4_e55912e14abd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b206ecf5-1987-4b67-8eb4-e55912e14abd\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-貢寮區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(貢寮區)","operationId":"get_b206ecf5_1987_4b67_8eb4_e55912e14abd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4a4599ca-9602-4e83-8ad8-c891a4930f60\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-金山區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(金山區)","operationId":"get_4a4599ca_9602_4e83_8ad8_c891a4930f60_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4a4599ca-9602-4e83-8ad8-c891a4930f60\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-金山區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(金山區)","operationId":"get_4a4599ca_9602_4e83_8ad8_c891a4930f60_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4a4599ca-9602-4e83-8ad8-c891a4930f60\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-金山區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(金山區)","operationId":"get_4a4599ca_9602_4e83_8ad8_c891a4930f60_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/68fac5e3-955b-43a6-bc80-314af87dd358\/csv":{"get":{"tags":["CSV"],"summary":"新北市加油站清冊-鶯歌區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(鶯歌區)","operationId":"get_68fac5e3_955b_43a6_bc80_314af87dd358_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/68fac5e3-955b-43a6-bc80-314af87dd358\/json":{"get":{"tags":["JSON"],"summary":"新北市加油站清冊-鶯歌區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(鶯歌區)","operationId":"get_68fac5e3_955b_43a6_bc80_314af87dd358_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/68fac5e3-955b-43a6-bc80-314af87dd358\/xml":{"get":{"tags":["XML"],"summary":"新北市加油站清冊-鶯歌區","description":"提供本市加油站營業主體、加油站站名、地址等資料。(鶯歌區)","operationId":"get_68fac5e3_955b_43a6_bc80_314af87dd358_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5a6fda8d-c383-42de-a309-67df68d85495\/csv":{"get":{"tags":["CSV"],"summary":"新北市動產擔保登記清冊","description":"新北市動產擔保登記清冊。","operationId":"get_5a6fda8d_c383_42de_a309_67df68d85495_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5a6fda8d-c383-42de-a309-67df68d85495\/json":{"get":{"tags":["JSON"],"summary":"新北市動產擔保登記清冊","description":"新北市動產擔保登記清冊。","operationId":"get_5a6fda8d_c383_42de_a309_67df68d85495_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5a6fda8d-c383-42de-a309-67df68d85495\/xml":{"get":{"tags":["XML"],"summary":"新北市動產擔保登記清冊","description":"新北市動產擔保登記清冊。","operationId":"get_5a6fda8d_c383_42de_a309_67df68d85495_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f9759788-0d30-48d8-bd40-527da5e03915\/csv":{"get":{"tags":["CSV"],"summary":"新北市各區家用桶裝瓦斯參考零售價格","description":"本資料集為新北市各區家用桶裝瓦斯參考零售價格。","operationId":"get_f9759788_0d30_48d8_bd40_527da5e03915_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f9759788-0d30-48d8-bd40-527da5e03915\/json":{"get":{"tags":["JSON"],"summary":"新北市各區家用桶裝瓦斯參考零售價格","description":"本資料集為新北市各區家用桶裝瓦斯參考零售價格。","operationId":"get_f9759788_0d30_48d8_bd40_527da5e03915_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f9759788-0d30-48d8-bd40-527da5e03915\/xml":{"get":{"tags":["XML"],"summary":"新北市各區家用桶裝瓦斯參考零售價格","description":"本資料集為新北市各區家用桶裝瓦斯參考零售價格。","operationId":"get_f9759788_0d30_48d8_bd40_527da5e03915_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ba33a61c-72b9-4e80-956d-beff4b8c85cc\/csv":{"get":{"tags":["CSV"],"summary":"新北市各區液化石油氣零售業者清冊","description":"本資料集主要提供新北市各區液化石油氣零售業者清冊。","operationId":"get_ba33a61c_72b9_4e80_956d_beff4b8c85cc_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ba33a61c-72b9-4e80-956d-beff4b8c85cc\/json":{"get":{"tags":["JSON"],"summary":"新北市各區液化石油氣零售業者清冊","description":"本資料集主要提供新北市各區液化石油氣零售業者清冊。","operationId":"get_ba33a61c_72b9_4e80_956d_beff4b8c85cc_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ba33a61c-72b9-4e80-956d-beff4b8c85cc\/xml":{"get":{"tags":["XML"],"summary":"新北市各區液化石油氣零售業者清冊","description":"本資料集主要提供新北市各區液化石油氣零售業者清冊。","operationId":"get_ba33a61c_72b9_4e80_956d_beff4b8c85cc_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/64d1441e-eb86-43a8-b7a1-2b6c7de1ee95\/csv":{"get":{"tags":["CSV"],"summary":"新北市各行政區產業類別家數","description":"各區域產業類別家數","operationId":"get_64d1441e_eb86_43a8_b7a1_2b6c7de1ee95_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/64d1441e-eb86-43a8-b7a1-2b6c7de1ee95\/json":{"get":{"tags":["JSON"],"summary":"新北市各行政區產業類別家數","description":"各區域產業類別家數","operationId":"get_64d1441e_eb86_43a8_b7a1_2b6c7de1ee95_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/64d1441e-eb86-43a8-b7a1-2b6c7de1ee95\/xml":{"get":{"tags":["XML"],"summary":"新北市各行政區產業類別家數","description":"各區域產業類別家數","operationId":"get_64d1441e_eb86_43a8_b7a1_2b6c7de1ee95_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9a34e36f-6ac2-4c1f-a5af-7f20d740a2e0\/csv":{"get":{"tags":["CSV"],"summary":"新北市合法資訊休閒業者清冊","description":"新北市合法資訊休閒業者清冊，其資料包含公司名稱、聯絡人及電話資訊。","operationId":"get_9a34e36f_6ac2_4c1f_a5af_7f20d740a2e0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9a34e36f-6ac2-4c1f-a5af-7f20d740a2e0\/json":{"get":{"tags":["JSON"],"summary":"新北市合法資訊休閒業者清冊","description":"新北市合法資訊休閒業者清冊，其資料包含公司名稱、聯絡人及電話資訊。","operationId":"get_9a34e36f_6ac2_4c1f_a5af_7f20d740a2e0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9a34e36f-6ac2-4c1f-a5af-7f20d740a2e0\/xml":{"get":{"tags":["XML"],"summary":"新北市合法資訊休閒業者清冊","description":"新北市合法資訊休閒業者清冊，其資料包含公司名稱、聯絡人及電話資訊。","operationId":"get_9a34e36f_6ac2_4c1f_a5af_7f20d740a2e0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5f3735b2-5e77-4974-999d-bd3042e610c8\/csv":{"get":{"tags":["CSV"],"summary":"新北市商業各行政區行業別家數","description":"各區域行業別家數","operationId":"get_5f3735b2_5e77_4974_999d_bd3042e610c8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5f3735b2-5e77-4974-999d-bd3042e610c8\/json":{"get":{"tags":["JSON"],"summary":"新北市商業各行政區行業別家數","description":"各區域行業別家數","operationId":"get_5f3735b2_5e77_4974_999d_bd3042e610c8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5f3735b2-5e77-4974-999d-bd3042e610c8\/xml":{"get":{"tags":["XML"],"summary":"新北市商業各行政區行業別家數","description":"各區域行業別家數","operationId":"get_5f3735b2_5e77_4974_999d_bd3042e610c8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/300e707e-c217-4eb1-a7ae-e20ef2f8a2f6\/csv":{"get":{"tags":["CSV"],"summary":"新北市商業各行業別增減資家數","description":"本月各行業別增減資家數_新增日期欄位","operationId":"get_300e707e_c217_4eb1_a7ae_e20ef2f8a2f6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/300e707e-c217-4eb1-a7ae-e20ef2f8a2f6\/json":{"get":{"tags":["JSON"],"summary":"新北市商業各行業別增減資家數","description":"本月各行業別增減資家數_新增日期欄位","operationId":"get_300e707e_c217_4eb1_a7ae_e20ef2f8a2f6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/300e707e-c217-4eb1-a7ae-e20ef2f8a2f6\/xml":{"get":{"tags":["XML"],"summary":"新北市商業各行業別增減資家數","description":"本月各行業別增減資家數_新增日期欄位","operationId":"get_300e707e_c217_4eb1_a7ae_e20ef2f8a2f6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a4f1832c-a264-4721-a385-d948ba624400\/csv":{"get":{"tags":["CSV"],"summary":"新北市商業現有及增減資家數","description":"本市現有商業家數及增減資家數總計","operationId":"get_a4f1832c_a264_4721_a385_d948ba624400_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a4f1832c-a264-4721-a385-d948ba624400\/json":{"get":{"tags":["JSON"],"summary":"新北市商業現有及增減資家數","description":"本市現有商業家數及增減資家數總計","operationId":"get_a4f1832c_a264_4721_a385_d948ba624400_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a4f1832c-a264-4721-a385-d948ba624400\/xml":{"get":{"tags":["XML"],"summary":"新北市商業現有及增減資家數","description":"本市現有商業家數及增減資家數總計","operationId":"get_a4f1832c_a264_4721_a385_d948ba624400_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1ae53d31-a418-4209-83cb-474d91b7f3fc\/csv":{"get":{"tags":["CSV"],"summary":"新北市商業登記清冊","description":"新北市商業登記清冊。","operationId":"get_1ae53d31_a418_4209_83cb_474d91b7f3fc_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1ae53d31-a418-4209-83cb-474d91b7f3fc\/json":{"get":{"tags":["JSON"],"summary":"新北市商業登記清冊","description":"新北市商業登記清冊。","operationId":"get_1ae53d31_a418_4209_83cb_474d91b7f3fc_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1ae53d31-a418-4209-83cb-474d91b7f3fc\/xml":{"get":{"tags":["XML"],"summary":"新北市商業登記清冊","description":"新北市商業登記清冊。","operationId":"get_1ae53d31_a418_4209_83cb_474d91b7f3fc_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/dbbd3361-7449-4603-86bc-0665943e5330\/csv":{"get":{"tags":["CSV"],"summary":"新北市商業行業別家數","description":"本月各行業別現有家數","operationId":"get_dbbd3361_7449_4603_86bc_0665943e5330_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/dbbd3361-7449-4603-86bc-0665943e5330\/json":{"get":{"tags":["JSON"],"summary":"新北市商業行業別家數","description":"本月各行業別現有家數","operationId":"get_dbbd3361_7449_4603_86bc_0665943e5330_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/dbbd3361-7449-4603-86bc-0665943e5330\/xml":{"get":{"tags":["XML"],"summary":"新北市商業行業別家數","description":"本月各行業別現有家數","operationId":"get_dbbd3361_7449_4603_86bc_0665943e5330_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a4712eb5-c01c-4309-8e82-2c3206be0547\/csv":{"get":{"tags":["CSV"],"summary":"新北市商業行業別異動家數","description":"本月各行業別異動家數明細","operationId":"get_a4712eb5_c01c_4309_8e82_2c3206be0547_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a4712eb5-c01c-4309-8e82-2c3206be0547\/json":{"get":{"tags":["JSON"],"summary":"新北市商業行業別異動家數","description":"本月各行業別異動家數明細","operationId":"get_a4712eb5_c01c_4309_8e82_2c3206be0547_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a4712eb5-c01c-4309-8e82-2c3206be0547\/xml":{"get":{"tags":["XML"],"summary":"新北市商業行業別異動家數","description":"本月各行業別異動家數明細","operationId":"get_a4712eb5_c01c_4309_8e82_2c3206be0547_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/638872ee-4667-445c-b399-981614e3381d\/csv":{"get":{"tags":["CSV"],"summary":"新北市商業行業別總資本額","description":"本月底各行業別總資本額","operationId":"get_638872ee_4667_445c_b399_981614e3381d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/638872ee-4667-445c-b399-981614e3381d\/json":{"get":{"tags":["JSON"],"summary":"新北市商業行業別總資本額","description":"本月底各行業別總資本額","operationId":"get_638872ee_4667_445c_b399_981614e3381d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/638872ee-4667-445c-b399-981614e3381d\/xml":{"get":{"tags":["XML"],"summary":"新北市商業行業別總資本額","description":"本月底各行業別總資本額","operationId":"get_638872ee_4667_445c_b399_981614e3381d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ae6cba1d-8c05-4f9c-b315-19ac437c0710\/csv":{"get":{"tags":["CSV"],"summary":"新北市商業資本額前月總額與當月異動明細","description":"本表包含蒐集年月之前月總資本額與當月資本額異動明細(新設立、增減資、歇業、遷入、遷出、行業變動、異動調整)。","operationId":"get_ae6cba1d_8c05_4f9c_b315_19ac437c0710_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ae6cba1d-8c05-4f9c-b315-19ac437c0710\/json":{"get":{"tags":["JSON"],"summary":"新北市商業資本額前月總額與當月異動明細","description":"本表包含蒐集年月之前月總資本額與當月資本額異動明細(新設立、增減資、歇業、遷入、遷出、行業變動、異動調整)。","operationId":"get_ae6cba1d_8c05_4f9c_b315_19ac437c0710_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ae6cba1d-8c05-4f9c-b315-19ac437c0710\/xml":{"get":{"tags":["XML"],"summary":"新北市商業資本額前月總額與當月異動明細","description":"本表包含蒐集年月之前月總資本額與當月資本額異動明細(新設立、增減資、歇業、遷入、遷出、行業變動、異動調整)。","operationId":"get_ae6cba1d_8c05_4f9c_b315_19ac437c0710_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/70572799-0fc1-468d-b9ff-9dd7a26c9848\/csv":{"get":{"tags":["CSV"],"summary":"新北市天然氣供氣戶數及供氣量_天然氣供氣戶數_增減戶數","description":"公用天然氣事業一般用戶及商業用戶本月增減戶數","operationId":"get_70572799_0fc1_468d_b9ff_9dd7a26c9848_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/70572799-0fc1-468d-b9ff-9dd7a26c9848\/json":{"get":{"tags":["JSON"],"summary":"新北市天然氣供氣戶數及供氣量_天然氣供氣戶數_增減戶數","description":"公用天然氣事業一般用戶及商業用戶本月增減戶數","operationId":"get_70572799_0fc1_468d_b9ff_9dd7a26c9848_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/70572799-0fc1-468d-b9ff-9dd7a26c9848\/xml":{"get":{"tags":["XML"],"summary":"新北市天然氣供氣戶數及供氣量_天然氣供氣戶數_增減戶數","description":"公用天然氣事業一般用戶及商業用戶本月增減戶數","operationId":"get_70572799_0fc1_468d_b9ff_9dd7a26c9848_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/05dcbda8-6542-4454-a218-73e9a98594a5\/csv":{"get":{"tags":["CSV"],"summary":"新北市天然氣供氣戶數及供氣量_天然氣供氣戶數_本月底戶數","description":"公用天然氣事業一般用戶及商業用戶截至本月用氣戶數","operationId":"get_05dcbda8_6542_4454_a218_73e9a98594a5_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/05dcbda8-6542-4454-a218-73e9a98594a5\/json":{"get":{"tags":["JSON"],"summary":"新北市天然氣供氣戶數及供氣量_天然氣供氣戶數_本月底戶數","description":"公用天然氣事業一般用戶及商業用戶截至本月用氣戶數","operationId":"get_05dcbda8_6542_4454_a218_73e9a98594a5_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/05dcbda8-6542-4454-a218-73e9a98594a5\/xml":{"get":{"tags":["XML"],"summary":"新北市天然氣供氣戶數及供氣量_天然氣供氣戶數_本月底戶數","description":"公用天然氣事業一般用戶及商業用戶截至本月用氣戶數","operationId":"get_05dcbda8_6542_4454_a218_73e9a98594a5_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7d2d034c-88fe-4c07-8933-8305c4297138\/csv":{"get":{"tags":["CSV"],"summary":"新北市天然氣供氣戶數及供氣量_天然瓦斯年累計供氣量","description":"公用天然氣事業各行政區一般用戶及商業用戶本年截至本月累計供氣量。","operationId":"get_7d2d034c_88fe_4c07_8933_8305c4297138_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7d2d034c-88fe-4c07-8933-8305c4297138\/json":{"get":{"tags":["JSON"],"summary":"新北市天然氣供氣戶數及供氣量_天然瓦斯年累計供氣量","description":"公用天然氣事業各行政區一般用戶及商業用戶本年截至本月累計供氣量。","operationId":"get_7d2d034c_88fe_4c07_8933_8305c4297138_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7d2d034c-88fe-4c07-8933-8305c4297138\/xml":{"get":{"tags":["XML"],"summary":"新北市天然氣供氣戶數及供氣量_天然瓦斯年累計供氣量","description":"公用天然氣事業各行政區一般用戶及商業用戶本年截至本月累計供氣量。","operationId":"get_7d2d034c_88fe_4c07_8933_8305c4297138_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fd0243b6-fde5-474d-a88d-e955cf98eb51\/csv":{"get":{"tags":["CSV"],"summary":"新北市天然氣供氣戶數及供氣量_天然瓦斯本月供氣量","description":"公用天然氣事業一般用戶及商業用戶本月供氣量。","operationId":"get_fd0243b6_fde5_474d_a88d_e955cf98eb51_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fd0243b6-fde5-474d-a88d-e955cf98eb51\/json":{"get":{"tags":["JSON"],"summary":"新北市天然氣供氣戶數及供氣量_天然瓦斯本月供氣量","description":"公用天然氣事業一般用戶及商業用戶本月供氣量。","operationId":"get_fd0243b6_fde5_474d_a88d_e955cf98eb51_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fd0243b6-fde5-474d-a88d-e955cf98eb51\/xml":{"get":{"tags":["XML"],"summary":"新北市天然氣供氣戶數及供氣量_天然瓦斯本月供氣量","description":"公用天然氣事業一般用戶及商業用戶本月供氣量。","operationId":"get_fd0243b6_fde5_474d_a88d_e955cf98eb51_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0663db88-644a-4c5a-8ca4-b20d39289131\/csv":{"get":{"tags":["CSV"],"summary":"新北市天然氣供氣戶數及供氣量 _小計_天然氣供氣戶數 _增減戶數","description":"公用天然氣事業各行政區本月增減戶數","operationId":"get_0663db88_644a_4c5a_8ca4_b20d39289131_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0663db88-644a-4c5a-8ca4-b20d39289131\/json":{"get":{"tags":["JSON"],"summary":"新北市天然氣供氣戶數及供氣量 _小計_天然氣供氣戶數 _增減戶數","description":"公用天然氣事業各行政區本月增減戶數","operationId":"get_0663db88_644a_4c5a_8ca4_b20d39289131_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0663db88-644a-4c5a-8ca4-b20d39289131\/xml":{"get":{"tags":["XML"],"summary":"新北市天然氣供氣戶數及供氣量 _小計_天然氣供氣戶數 _增減戶數","description":"公用天然氣事業各行政區本月增減戶數","operationId":"get_0663db88_644a_4c5a_8ca4_b20d39289131_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c5bd05a0-558c-4dda-8083-3eff4865625d\/csv":{"get":{"tags":["CSV"],"summary":"新北市天然氣供氣戶數及供氣量_小計_天然氣供氣戶數_本月底戶數","description":"公用天然氣事業各行政區截至本月供氣戶數","operationId":"get_c5bd05a0_558c_4dda_8083_3eff4865625d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c5bd05a0-558c-4dda-8083-3eff4865625d\/json":{"get":{"tags":["JSON"],"summary":"新北市天然氣供氣戶數及供氣量_小計_天然氣供氣戶數_本月底戶數","description":"公用天然氣事業各行政區截至本月供氣戶數","operationId":"get_c5bd05a0_558c_4dda_8083_3eff4865625d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c5bd05a0-558c-4dda-8083-3eff4865625d\/xml":{"get":{"tags":["XML"],"summary":"新北市天然氣供氣戶數及供氣量_小計_天然氣供氣戶數_本月底戶數","description":"公用天然氣事業各行政區截至本月供氣戶數","operationId":"get_c5bd05a0_558c_4dda_8083_3eff4865625d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/afdbd412-0ebd-4d48-88ab-7e12092b355c\/csv":{"get":{"tags":["CSV"],"summary":"新北市天然氣供氣戶數及供氣量_小計_天然瓦斯年累計供氣量","description":"公用天然氣事業各行政區本年截至本月累計供氣量。","operationId":"get_afdbd412_0ebd_4d48_88ab_7e12092b355c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/afdbd412-0ebd-4d48-88ab-7e12092b355c\/json":{"get":{"tags":["JSON"],"summary":"新北市天然氣供氣戶數及供氣量_小計_天然瓦斯年累計供氣量","description":"公用天然氣事業各行政區本年截至本月累計供氣量。","operationId":"get_afdbd412_0ebd_4d48_88ab_7e12092b355c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/afdbd412-0ebd-4d48-88ab-7e12092b355c\/xml":{"get":{"tags":["XML"],"summary":"新北市天然氣供氣戶數及供氣量_小計_天然瓦斯年累計供氣量","description":"公用天然氣事業各行政區本年截至本月累計供氣量。","operationId":"get_afdbd412_0ebd_4d48_88ab_7e12092b355c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/300c31ea-e7ac-4efe-8b13-5e511096bb28\/csv":{"get":{"tags":["CSV"],"summary":"新北市天然氣供氣戶數及供氣量_小計_天然瓦斯本月供氣量","description":"公用天然氣事業各行政區本月供氣量。","operationId":"get_300c31ea_e7ac_4efe_8b13_5e511096bb28_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/300c31ea-e7ac-4efe-8b13-5e511096bb28\/json":{"get":{"tags":["JSON"],"summary":"新北市天然氣供氣戶數及供氣量_小計_天然瓦斯本月供氣量","description":"公用天然氣事業各行政區本月供氣量。","operationId":"get_300c31ea_e7ac_4efe_8b13_5e511096bb28_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/300c31ea-e7ac-4efe-8b13-5e511096bb28\/xml":{"get":{"tags":["XML"],"summary":"新北市天然氣供氣戶數及供氣量_小計_天然瓦斯本月供氣量","description":"公用天然氣事業各行政區本月供氣量。","operationId":"get_300c31ea_e7ac_4efe_8b13_5e511096bb28_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c4853109-53e9-4ff2-84e5-29e104b5b362\/csv":{"get":{"tags":["CSV"],"summary":"新北市天然氣公司裝置情形_小計本月累計裝置情況","description":"公用天然氣事業各行政區預繳裝置費戶數、完工戶數及裝錶通氣戶數累計資料。","operationId":"get_c4853109_53e9_4ff2_84e5_29e104b5b362_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c4853109-53e9-4ff2-84e5-29e104b5b362\/json":{"get":{"tags":["JSON"],"summary":"新北市天然氣公司裝置情形_小計本月累計裝置情況","description":"公用天然氣事業各行政區預繳裝置費戶數、完工戶數及裝錶通氣戶數累計資料。","operationId":"get_c4853109_53e9_4ff2_84e5_29e104b5b362_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c4853109-53e9-4ff2-84e5-29e104b5b362\/xml":{"get":{"tags":["XML"],"summary":"新北市天然氣公司裝置情形_小計本月累計裝置情況","description":"公用天然氣事業各行政區預繳裝置費戶數、完工戶數及裝錶通氣戶數累計資料。","operationId":"get_c4853109_53e9_4ff2_84e5_29e104b5b362_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6edac837-9fc6-4a29-9824-9ceebb270953\/csv":{"get":{"tags":["CSV"],"summary":"新北市天然氣公司裝置情形_小計本月裝置情況","description":"公用天然氣事業本月申請戶數、預繳裝置費戶數、完工戶數及裝錶通氣戶數統計資料。","operationId":"get_6edac837_9fc6_4a29_9824_9ceebb270953_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6edac837-9fc6-4a29-9824-9ceebb270953\/json":{"get":{"tags":["JSON"],"summary":"新北市天然氣公司裝置情形_小計本月裝置情況","description":"公用天然氣事業本月申請戶數、預繳裝置費戶數、完工戶數及裝錶通氣戶數統計資料。","operationId":"get_6edac837_9fc6_4a29_9824_9ceebb270953_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6edac837-9fc6-4a29-9824-9ceebb270953\/xml":{"get":{"tags":["XML"],"summary":"新北市天然氣公司裝置情形_小計本月裝置情況","description":"公用天然氣事業本月申請戶數、預繳裝置費戶數、完工戶數及裝錶通氣戶數統計資料。","operationId":"get_6edac837_9fc6_4a29_9824_9ceebb270953_xml","parameters":[{"name":"page","in":"query","de
[...]
