{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/67a7f96f-37c7-4bef-93d5-486d5889da6e\/csv":{"get":{"tags":["CSV"],"summary":"104年度新北市溫泉水質檢驗資料","description":"新北市溫泉水質檢驗資料","operationId":"get_67a7f96f_37c7_4bef_93d5_486d5889da6e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/67a7f96f-37c7-4bef-93d5-486d5889da6e\/json":{"get":{"tags":["JSON"],"summary":"104年度新北市溫泉水質檢驗資料","description":"新北市溫泉水質檢驗資料","operationId":"get_67a7f96f_37c7_4bef_93d5_486d5889da6e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/67a7f96f-37c7-4bef-93d5-486d5889da6e\/xml":{"get":{"tags":["XML"],"summary":"104年度新北市溫泉水質檢驗資料","description":"新北市溫泉水質檢驗資料","operationId":"get_67a7f96f_37c7_4bef_93d5_486d5889da6e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/41d4e041-0330-4f87-a5c2-7cf8d97f0e2b\/csv":{"get":{"tags":["CSV"],"summary":"乳房X光攝影檢查","description":"新北市乳房X光攝影檢查人數\/合約醫療院所數","operationId":"get_41d4e041_0330_4f87_a5c2_7cf8d97f0e2b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/41d4e041-0330-4f87-a5c2-7cf8d97f0e2b\/json":{"get":{"tags":["JSON"],"summary":"乳房X光攝影檢查","description":"新北市乳房X光攝影檢查人數\/合約醫療院所數","operationId":"get_41d4e041_0330_4f87_a5c2_7cf8d97f0e2b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/41d4e041-0330-4f87-a5c2-7cf8d97f0e2b\/xml":{"get":{"tags":["XML"],"summary":"乳房X光攝影檢查","description":"新北市乳房X光攝影檢查人數\/合約醫療院所數","operationId":"get_41d4e041_0330_4f87_a5c2_7cf8d97f0e2b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d26546b3-1ab9-4eac-9a67-de6e0b680ae0\/csv":{"get":{"tags":["CSV"],"summary":"國小新生入學後預防接種紀錄檢查與補接種建議表","description":"提供我國國小入學新生查卡後接補種之對照表，可查詢需要補接種的疫苗類型，亦可查詢未接種之處理方式。\r\n從未接種或忘記有無接種各項疫苗者，完成劑次視為0。\r\n經醫師評估不適合接種活性減毒日本腦炎疫苗的孩童，衛生局\/所有儲備不活化日本腦炎疫苗。","operationId":"get_d26546b3_1ab9_4eac_9a67_de6e0b680ae0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d26546b3-1ab9-4eac-9a67-de6e0b680ae0\/json":{"get":{"tags":["JSON"],"summary":"國小新生入學後預防接種紀錄檢查與補接種建議表","description":"提供我國國小入學新生查卡後接補種之對照表，可查詢需要補接種的疫苗類型，亦可查詢未接種之處理方式。\r\n從未接種或忘記有無接種各項疫苗者，完成劑次視為0。\r\n經醫師評估不適合接種活性減毒日本腦炎疫苗的孩童，衛生局\/所有儲備不活化日本腦炎疫苗。","operationId":"get_d26546b3_1ab9_4eac_9a67_de6e0b680ae0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d26546b3-1ab9-4eac-9a67-de6e0b680ae0\/xml":{"get":{"tags":["XML"],"summary":"國小新生入學後預防接種紀錄檢查與補接種建議表","description":"提供我國國小入學新生查卡後接補種之對照表，可查詢需要補接種的疫苗類型，亦可查詢未接種之處理方式。\r\n從未接種或忘記有無接種各項疫苗者，完成劑次視為0。\r\n經醫師評估不適合接種活性減毒日本腦炎疫苗的孩童，衛生局\/所有儲備不活化日本腦炎疫苗。","operationId":"get_d26546b3_1ab9_4eac_9a67_de6e0b680ae0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/50521fee-598c-42fd-81f2-99db49d380e2\/csv":{"get":{"tags":["CSV"],"summary":"大腸癌篩檢人數及醫療院所數","description":"新北市大腸癌篩檢人數及醫療院所數","operationId":"get_50521fee_598c_42fd_81f2_99db49d380e2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/50521fee-598c-42fd-81f2-99db49d380e2\/json":{"get":{"tags":["JSON"],"summary":"大腸癌篩檢人數及醫療院所數","description":"新北市大腸癌篩檢人數及醫療院所數","operationId":"get_50521fee_598c_42fd_81f2_99db49d380e2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/50521fee-598c-42fd-81f2-99db49d380e2\/xml":{"get":{"tags":["XML"],"summary":"大腸癌篩檢人數及醫療院所數","description":"新北市大腸癌篩檢人數及醫療院所數","operationId":"get_50521fee_598c_42fd_81f2_99db49d380e2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/26a3add2-e8ef-4eb8-ba4b-cb3987b2f729\/csv":{"get":{"tags":["CSV"],"summary":"子宮頸抹片篩檢人數及醫療院所數","description":"新北市子宮頸抹片篩檢人數及醫療院所數","operationId":"get_26a3add2_e8ef_4eb8_ba4b_cb3987b2f729_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/26a3add2-e8ef-4eb8-ba4b-cb3987b2f729\/json":{"get":{"tags":["JSON"],"summary":"子宮頸抹片篩檢人數及醫療院所數","description":"新北市子宮頸抹片篩檢人數及醫療院所數","operationId":"get_26a3add2_e8ef_4eb8_ba4b_cb3987b2f729_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/26a3add2-e8ef-4eb8-ba4b-cb3987b2f729\/xml":{"get":{"tags":["XML"],"summary":"子宮頸抹片篩檢人數及醫療院所數","description":"新北市子宮頸抹片篩檢人數及醫療院所數","operationId":"get_26a3add2_e8ef_4eb8_ba4b_cb3987b2f729_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d2d69f7e-e283-406e-859b-e9e5dc98ac50\/csv":{"get":{"tags":["CSV"],"summary":"市售食品抽驗合格率","description":"市售食品抽驗合格率。","operationId":"get_d2d69f7e_e283_406e_859b_e9e5dc98ac50_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d2d69f7e-e283-406e-859b-e9e5dc98ac50\/json":{"get":{"tags":["JSON"],"summary":"市售食品抽驗合格率","description":"市售食品抽驗合格率。","operationId":"get_d2d69f7e_e283_406e_859b_e9e5dc98ac50_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d2d69f7e-e283-406e-859b-e9e5dc98ac50\/xml":{"get":{"tags":["XML"],"summary":"市售食品抽驗合格率","description":"市售食品抽驗合格率。","operationId":"get_d2d69f7e_e283_406e_859b_e9e5dc98ac50_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b57c14e9-593c-4416-8edd-d1ac8cdceb48\/csv":{"get":{"tags":["CSV"],"summary":"市售食品標示合格率","description":"市售食品標示合格率。","operationId":"get_b57c14e9_593c_4416_8edd_d1ac8cdceb48_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b57c14e9-593c-4416-8edd-d1ac8cdceb48\/json":{"get":{"tags":["JSON"],"summary":"市售食品標示合格率","description":"市售食品標示合格率。","operationId":"get_b57c14e9_593c_4416_8edd_d1ac8cdceb48_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b57c14e9-593c-4416-8edd-d1ac8cdceb48\/xml":{"get":{"tags":["XML"],"summary":"市售食品標示合格率","description":"市售食品標示合格率。","operationId":"get_b57c14e9_593c_4416_8edd_d1ac8cdceb48_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3f9ddf84-eb09-436e-b38e-83067d5a4681\/csv":{"get":{"tags":["CSV"],"summary":"新北健康守護站","description":"新北健康守護站名單","operationId":"get_3f9ddf84_eb09_436e_b38e_83067d5a4681_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3f9ddf84-eb09-436e-b38e-83067d5a4681\/json":{"get":{"tags":["JSON"],"summary":"新北健康守護站","description":"新北健康守護站名單","operationId":"get_3f9ddf84_eb09_436e_b38e_83067d5a4681_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3f9ddf84-eb09-436e-b38e-83067d5a4681\/xml":{"get":{"tags":["XML"],"summary":"新北健康守護站","description":"新北健康守護站名單","operationId":"get_3f9ddf84_eb09_436e_b38e_83067d5a4681_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/467cb02f-1f94-4fa1-a440-4f08575cf181\/csv":{"get":{"tags":["CSV"],"summary":"新北市一般護理之家清冊","description":"新北市政府衛生局所提供之護理機構清冊(更新日期:109年5月4日)","operationId":"get_467cb02f_1f94_4fa1_a440_4f08575cf181_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/467cb02f-1f94-4fa1-a440-4f08575cf181\/json":{"get":{"tags":["JSON"],"summary":"新北市一般護理之家清冊","description":"新北市政府衛生局所提供之護理機構清冊(更新日期:109年5月4日)","operationId":"get_467cb02f_1f94_4fa1_a440_4f08575cf181_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/467cb02f-1f94-4fa1-a440-4f08575cf181\/xml":{"get":{"tags":["XML"],"summary":"新北市一般護理之家清冊","description":"新北市政府衛生局所提供之護理機構清冊(更新日期:109年5月4日)","operationId":"get_467cb02f_1f94_4fa1_a440_4f08575cf181_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/71220947-8655-4e48-9a57-ca20d0452306\/csv":{"get":{"tags":["CSV"],"summary":"新北市中藥材販賣藥商名冊","description":"提供新北市中藥材販賣藥商名冊","operationId":"get_71220947_8655_4e48_9a57_ca20d0452306_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/71220947-8655-4e48-9a57-ca20d0452306\/json":{"get":{"tags":["JSON"],"summary":"新北市中藥材販賣藥商名冊","description":"提供新北市中藥材販賣藥商名冊","operationId":"get_71220947_8655_4e48_9a57_ca20d0452306_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/71220947-8655-4e48-9a57-ca20d0452306\/xml":{"get":{"tags":["XML"],"summary":"新北市中藥材販賣藥商名冊","description":"提供新北市中藥材販賣藥商名冊","operationId":"get_71220947_8655_4e48_9a57_ca20d0452306_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/807110b4-a711-45bf-9493-d46cd22118c8\/csv":{"get":{"tags":["CSV"],"summary":"新北市中醫一般科醫療機構","description":"新北市中醫一般科醫療機構清單","operationId":"get_807110b4_a711_45bf_9493_d46cd22118c8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/807110b4-a711-45bf-9493-d46cd22118c8\/json":{"get":{"tags":["JSON"],"summary":"新北市中醫一般科醫療機構","description":"新北市中醫一般科醫療機構清單","operationId":"get_807110b4_a711_45bf_9493_d46cd22118c8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/807110b4-a711-45bf-9493-d46cd22118c8\/xml":{"get":{"tags":["XML"],"summary":"新北市中醫一般科醫療機構","description":"新北市中醫一般科醫療機構清單","operationId":"get_807110b4_a711_45bf_9493_d46cd22118c8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/435dae21-f8b9-449b-b9bd-0283a9541f68\/csv":{"get":{"tags":["CSV"],"summary":"新北市乳房攝影檢查認證機構清冊","description":"新北市乳房攝影檢查認證機構清冊。","operationId":"get_435dae21_f8b9_449b_b9bd_0283a9541f68_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/435dae21-f8b9-449b-b9bd-0283a9541f68\/json":{"get":{"tags":["JSON"],"summary":"新北市乳房攝影檢查認證機構清冊","description":"新北市乳房攝影檢查認證機構清冊。","operationId":"get_435dae21_f8b9_449b_b9bd_0283a9541f68_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/435dae21-f8b9-449b-b9bd-0283a9541f68\/xml":{"get":{"tags":["XML"],"summary":"新北市乳房攝影檢查認證機構清冊","description":"新北市乳房攝影檢查認證機構清冊。","operationId":"get_435dae21_f8b9_449b_b9bd_0283a9541f68_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ed1ffabb-6561-444d-82ec-0fb80aa82f2b\/csv":{"get":{"tags":["CSV"],"summary":"新北市依法應設置哺集乳室清冊","description":"新北市依法應設置哺集乳室清冊。","operationId":"get_ed1ffabb_6561_444d_82ec_0fb80aa82f2b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ed1ffabb-6561-444d-82ec-0fb80aa82f2b\/json":{"get":{"tags":["JSON"],"summary":"新北市依法應設置哺集乳室清冊","description":"新北市依法應設置哺集乳室清冊。","operationId":"get_ed1ffabb_6561_444d_82ec_0fb80aa82f2b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ed1ffabb-6561-444d-82ec-0fb80aa82f2b\/xml":{"get":{"tags":["XML"],"summary":"新北市依法應設置哺集乳室清冊","description":"新北市依法應設置哺集乳室清冊。","operationId":"get_ed1ffabb_6561_444d_82ec_0fb80aa82f2b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cdecc9d7-37f1-4150-87b2-903890d933d8\/csv":{"get":{"tags":["CSV"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表","operationId":"get_cdecc9d7_37f1_4150_87b2_903890d933d8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cdecc9d7-37f1-4150-87b2-903890d933d8\/json":{"get":{"tags":["JSON"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表","operationId":"get_cdecc9d7_37f1_4150_87b2_903890d933d8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/cdecc9d7-37f1-4150-87b2-903890d933d8\/xml":{"get":{"tags":["XML"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表","operationId":"get_cdecc9d7_37f1_4150_87b2_903890d933d8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8d62dd69-895e-4953-a629-6f7f882bf623\/csv":{"get":{"tags":["CSV"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-三峽區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(三峽區)","operationId":"get_8d62dd69_895e_4953_a629_6f7f882bf623_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8d62dd69-895e-4953-a629-6f7f882bf623\/json":{"get":{"tags":["JSON"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-三峽區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(三峽區)","operationId":"get_8d62dd69_895e_4953_a629_6f7f882bf623_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8d62dd69-895e-4953-a629-6f7f882bf623\/xml":{"get":{"tags":["XML"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-三峽區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(三峽區)","operationId":"get_8d62dd69_895e_4953_a629_6f7f882bf623_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/95064ea7-8623-40ab-8626-db1ece4ef6d4\/csv":{"get":{"tags":["CSV"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-三芝區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(三芝區)","operationId":"get_95064ea7_8623_40ab_8626_db1ece4ef6d4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/95064ea7-8623-40ab-8626-db1ece4ef6d4\/json":{"get":{"tags":["JSON"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-三芝區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(三芝區)","operationId":"get_95064ea7_8623_40ab_8626_db1ece4ef6d4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/95064ea7-8623-40ab-8626-db1ece4ef6d4\/xml":{"get":{"tags":["XML"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-三芝區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(三芝區)","operationId":"get_95064ea7_8623_40ab_8626_db1ece4ef6d4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e5020749-6152-4d65-97c8-d21c409ac410\/csv":{"get":{"tags":["CSV"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-坪林區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(坪林區)","operationId":"get_e5020749_6152_4d65_97c8_d21c409ac410_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e5020749-6152-4d65-97c8-d21c409ac410\/json":{"get":{"tags":["JSON"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-坪林區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(坪林區)","operationId":"get_e5020749_6152_4d65_97c8_d21c409ac410_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e5020749-6152-4d65-97c8-d21c409ac410\/xml":{"get":{"tags":["XML"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-坪林區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(坪林區)","operationId":"get_e5020749_6152_4d65_97c8_d21c409ac410_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7306072f-63cb-45b3-98c3-6e6568aa0a59\/csv":{"get":{"tags":["CSV"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-平溪區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(平溪區)","operationId":"get_7306072f_63cb_45b3_98c3_6e6568aa0a59_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7306072f-63cb-45b3-98c3-6e6568aa0a59\/json":{"get":{"tags":["JSON"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-平溪區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(平溪區)","operationId":"get_7306072f_63cb_45b3_98c3_6e6568aa0a59_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7306072f-63cb-45b3-98c3-6e6568aa0a59\/xml":{"get":{"tags":["XML"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-平溪區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(平溪區)","operationId":"get_7306072f_63cb_45b3_98c3_6e6568aa0a59_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6760c79c-56ad-4b77-b84b-883359bf67cf\/csv":{"get":{"tags":["CSV"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-林口區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(林口區)","operationId":"get_6760c79c_56ad_4b77_b84b_883359bf67cf_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6760c79c-56ad-4b77-b84b-883359bf67cf\/json":{"get":{"tags":["JSON"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-林口區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(林口區)","operationId":"get_6760c79c_56ad_4b77_b84b_883359bf67cf_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6760c79c-56ad-4b77-b84b-883359bf67cf\/xml":{"get":{"tags":["XML"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-林口區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(林口區)","operationId":"get_6760c79c_56ad_4b77_b84b_883359bf67cf_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8f1cfb52-1f1c-43d6-bb92-bdc5b256ad48\/csv":{"get":{"tags":["CSV"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-淡水區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(淡水區)","operationId":"get_8f1cfb52_1f1c_43d6_bb92_bdc5b256ad48_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8f1cfb52-1f1c-43d6-bb92-bdc5b256ad48\/json":{"get":{"tags":["JSON"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-淡水區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(淡水區)","operationId":"get_8f1cfb52_1f1c_43d6_bb92_bdc5b256ad48_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8f1cfb52-1f1c-43d6-bb92-bdc5b256ad48\/xml":{"get":{"tags":["XML"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-淡水區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(淡水區)","operationId":"get_8f1cfb52_1f1c_43d6_bb92_bdc5b256ad48_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e22e5c30-5309-4091-b010-27179a8a3048\/csv":{"get":{"tags":["CSV"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-石碇區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(石碇區)","operationId":"get_e22e5c30_5309_4091_b010_27179a8a3048_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e22e5c30-5309-4091-b010-27179a8a3048\/json":{"get":{"tags":["JSON"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-石碇區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(石碇區)","operationId":"get_e22e5c30_5309_4091_b010_27179a8a3048_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e22e5c30-5309-4091-b010-27179a8a3048\/xml":{"get":{"tags":["XML"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-石碇區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(石碇區)","operationId":"get_e22e5c30_5309_4091_b010_27179a8a3048_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b9c658d2-d827-4b58-942e-edcd97edf086\/csv":{"get":{"tags":["CSV"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-石門區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(石門區)","operationId":"get_b9c658d2_d827_4b58_942e_edcd97edf086_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b9c658d2-d827-4b58-942e-edcd97edf086\/json":{"get":{"tags":["JSON"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-石門區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(石門區)","operationId":"get_b9c658d2_d827_4b58_942e_edcd97edf086_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b9c658d2-d827-4b58-942e-edcd97edf086\/xml":{"get":{"tags":["XML"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-石門區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(石門區)","operationId":"get_b9c658d2_d827_4b58_942e_edcd97edf086_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/08d3429f-74b5-4c9d-ae2c-1d11f21abf01\/csv":{"get":{"tags":["CSV"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-萬里區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(萬里區)","operationId":"get_08d3429f_74b5_4c9d_ae2c_1d11f21abf01_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/08d3429f-74b5-4c9d-ae2c-1d11f21abf01\/json":{"get":{"tags":["JSON"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-萬里區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(萬里區)","operationId":"get_08d3429f_74b5_4c9d_ae2c_1d11f21abf01_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/08d3429f-74b5-4c9d-ae2c-1d11f21abf01\/xml":{"get":{"tags":["XML"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-萬里區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(萬里區)","operationId":"get_08d3429f_74b5_4c9d_ae2c_1d11f21abf01_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/71d3c5a1-4e39-4659-af51-79870b8db66b\/csv":{"get":{"tags":["CSV"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-貢寮區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(貢寮區)","operationId":"get_71d3c5a1_4e39_4659_af51_79870b8db66b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/71d3c5a1-4e39-4659-af51-79870b8db66b\/json":{"get":{"tags":["JSON"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-貢寮區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(貢寮區)","operationId":"get_71d3c5a1_4e39_4659_af51_79870b8db66b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/71d3c5a1-4e39-4659-af51-79870b8db66b\/xml":{"get":{"tags":["XML"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-貢寮區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(貢寮區)","operationId":"get_71d3c5a1_4e39_4659_af51_79870b8db66b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/852a60b6-5d40-4017-8f71-786b226cd5ba\/csv":{"get":{"tags":["CSV"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-雙溪區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(雙溪區)","operationId":"get_852a60b6_5d40_4017_8f71_786b226cd5ba_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/852a60b6-5d40-4017-8f71-786b226cd5ba\/json":{"get":{"tags":["JSON"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-雙溪區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(雙溪區)","operationId":"get_852a60b6_5d40_4017_8f71_786b226cd5ba_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/852a60b6-5d40-4017-8f71-786b226cd5ba\/xml":{"get":{"tags":["XML"],"summary":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段一覽表-雙溪區","description":"新北市偏遠地區巡迴醫療服務承作醫療院所之巡迴地點及時段彙整表(雙溪區)","operationId":"get_852a60b6_5d40_4017_8f71_786b226cd5ba_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fdbefc45-7005-49ab-a56d-41881e435dc2\/csv":{"get":{"tags":["CSV"],"summary":"新北市健保特約藥局名單","description":"提供新北市健保特約藥局名單","operationId":"get_fdbefc45_7005_49ab_a56d_41881e435dc2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fdbefc45-7005-49ab-a56d-41881e435dc2\/json":{"get":{"tags":["JSON"],"summary":"新北市健保特約藥局名單","description":"提供新北市健保特約藥局名單","operationId":"get_fdbefc45_7005_49ab_a56d_41881e435dc2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fdbefc45-7005-49ab-a56d-41881e435dc2\/xml":{"get":{"tags":["XML"],"summary":"新北市健保特約藥局名單","description":"提供新北市健保特約藥局名單","operationId":"get_fdbefc45_7005_49ab_a56d_41881e435dc2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d041976e-de7a-473a-8667-daa9833d777a\/csv":{"get":{"tags":["CSV"],"summary":"新北市兒科醫療機構","description":"新北市兒科醫療機構清單\r\n","operationId":"get_d041976e_de7a_473a_8667_daa9833d777a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d041976e-de7a-473a-8667-daa9833d777a\/json":{"get":{"tags":["JSON"],"summary":"新北市兒科醫療機構","description":"新北市兒科醫療機構清單\r\n","operationId":"get_d041976e_de7a_473a_8667_daa9833d777a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d041976e-de7a-473a-8667-daa9833d777a\/xml":{"get":{"tags":["XML"],"summary":"新北市兒科醫療機構","description":"新北市兒科醫療機構清單\r\n","operationId":"get_d041976e_de7a_473a_8667_daa9833d777a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2d4f34a8-b7b3-403d-ab03-625c72137e44\/csv":{"get":{"tags":["CSV"],"summary":"新北市兒童保健塗氟機構","description":"新北市兒童保健塗氟機構。","operationId":"get_2d4f34a8_b7b3_403d_ab03_625c72137e44_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2d4f34a8-b7b3-403d-ab03-625c72137e44\/json":{"get":{"tags":["JSON"],"summary":"新北市兒童保健塗氟機構","description":"新北市兒童保健塗氟機構。","operationId":"get_2d4f34a8_b7b3_403d_ab03_625c72137e44_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2d4f34a8-b7b3-403d-ab03-625c72137e44\/xml":{"get":{"tags":["XML"],"summary":"新北市兒童保健塗氟機構","description":"新北市兒童保健塗氟機構。","operationId":"get_2d4f34a8_b7b3_403d_ab03_625c72137e44_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bd6757a5-fc9a-4aa8-a523-097f5cc08da2\/csv":{"get":{"tags":["CSV"],"summary":"新北市兒童預防保健醫事機構","description":"新北市兒童預防保健醫事機構。","operationId":"get_bd6757a5_fc9a_4aa8_a523_097f5cc08da2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bd6757a5-fc9a-4aa8-a523-097f5cc08da2\/json":{"get":{"tags":["JSON"],"summary":"新北市兒童預防保健醫事機構","description":"新北市兒童預防保健醫事機構。","operationId":"get_bd6757a5_fc9a_4aa8_a523_097f5cc08da2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bd6757a5-fc9a-4aa8-a523-097f5cc08da2\/xml":{"get":{"tags":["XML"],"summary":"新北市兒童預防保健醫事機構","description":"新北市兒童預防保健醫事機構。","operationId":"get_bd6757a5_fc9a_4aa8_a523_097f5cc08da2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d1bce11a-672e-4a9e-b28d-929eebc91cb7\/csv":{"get":{"tags":["CSV"],"summary":"新北市兒童預防接種時程","description":"新北市兒童預防接種時程為幼童公費疫苗接種劑次時間表","operationId":"get_d1bce11a_672e_4a9e_b28d_929eebc91cb7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d1bce11a-672e-4a9e-b28d-929eebc91cb7\/json":{"get":{"tags":["JSON"],"summary":"新北市兒童預防接種時程","description":"新北市兒童預防接種時程為幼童公費疫苗接種劑次時間表","operationId":"get_d1bce11a_672e_4a9e_b28d_929eebc91cb7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d1bce11a-672e-4a9e-b28d-929eebc91cb7\/xml":{"get":{"tags":["XML"],"summary":"新北市兒童預防接種時程","description":"新北市兒童預防接種時程為幼童公費疫苗接種劑次時間表","operationId":"get_d1bce11a_672e_4a9e_b28d_929eebc91cb7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e8244d31-e0e5-459d-87ba-3c188706fbee\/csv":{"get":{"tags":["CSV"],"summary":"新北市內科醫療機構","description":"新北市內科醫療機構清單\r\n","operationId":"get_e8244d31_e0e5_459d_87ba_3c188706fbee_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e8244d31-e0e5-459d-87ba-3c188706fbee\/json":{"get":{"tags":["JSON"],"summary":"新北市內科醫療機構","description":"新北市內科醫療機構清單\r\n","operationId":"get_e8244d31_e0e5_459d_87ba_3c188706fbee_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e8244d31-e0e5-459d-87ba-3c188706fbee\/xml":{"get":{"tags":["XML"],"summary":"新北市內科醫療機構","description":"新北市內科醫療機構清單\r\n","operationId":"get_e8244d31_e0e5_459d_87ba_3c188706fbee_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/61b29f27-219a-4394-9722-af97a5707598\/csv":{"get":{"tags":["CSV"],"summary":"新北市公共場所AED設置資訊","description":"新北市公共場所AED設置資訊名稱地址分類放置地點開放使用時間連絡電話描述","operationId":"get_61b29f27_219a_4394_9722_af97a5707598_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/61b29f27-219a-4394-9722-af97a5707598\/json":{"get":{"tags":["JSON"],"summary":"新北市公共場所AED設置資訊","description":"新北市公共場所AED設置資訊名稱地址分類放置地點開放使用時間連絡電話描述","operationId":"get_61b29f27_219a_4394_9722_af97a5707598_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/61b29f27-219a-4394-9722-af97a5707598\/xml":{"get":{"tags":["XML"],"summary":"新北市公共場所AED設置資訊","description":"新北市公共場所AED設置資訊名稱地址分類放置地點開放使用時間連絡電話描述","operationId":"get_61b29f27_219a_4394_9722_af97a5707598_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fb62aedb-79e6-4ea6-b013-c23291aef5f7\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。","operationId":"get_fb62aedb_79e6_4ea6_b013_c23291aef5f7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fb62aedb-79e6-4ea6-b013-c23291aef5f7\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。","operationId":"get_fb62aedb_79e6_4ea6_b013_c23291aef5f7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fb62aedb-79e6-4ea6-b013-c23291aef5f7\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。","operationId":"get_fb62aedb_79e6_4ea6_b013_c23291aef5f7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cdb92fd4-84e8-49d5-a942-dc7de3f627a4\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-三峽區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(三峽區)","operationId":"get_cdb92fd4_84e8_49d5_a942_dc7de3f627a4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cdb92fd4-84e8-49d5-a942-dc7de3f627a4\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-三峽區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(三峽區)","operationId":"get_cdb92fd4_84e8_49d5_a942_dc7de3f627a4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/cdb92fd4-84e8-49d5-a942-dc7de3f627a4\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-三峽區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(三峽區)","operationId":"get_cdb92fd4_84e8_49d5_a942_dc7de3f627a4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a88964a0-1aad-431d-b885-2bd96538608d\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-三芝區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(三芝區)","operationId":"get_a88964a0_1aad_431d_b885_2bd96538608d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a88964a0-1aad-431d-b885-2bd96538608d\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-三芝區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(三芝區)","operationId":"get_a88964a0_1aad_431d_b885_2bd96538608d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a88964a0-1aad-431d-b885-2bd96538608d\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-三芝區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(三芝區)","operationId":"get_a88964a0_1aad_431d_b885_2bd96538608d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7ee3f7ec-f8ad-45d1-85bd-02c379acad6a\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-三重區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(三重區)","operationId":"get_7ee3f7ec_f8ad_45d1_85bd_02c379acad6a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7ee3f7ec-f8ad-45d1-85bd-02c379acad6a\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-三重區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(三重區)","operationId":"get_7ee3f7ec_f8ad_45d1_85bd_02c379acad6a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7ee3f7ec-f8ad-45d1-85bd-02c379acad6a\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-三重區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(三重區)","operationId":"get_7ee3f7ec_f8ad_45d1_85bd_02c379acad6a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d4886f09-eefc-4fdf-a540-a99658620c7b\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-中和區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(中和區)","operationId":"get_d4886f09_eefc_4fdf_a540_a99658620c7b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d4886f09-eefc-4fdf-a540-a99658620c7b\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-中和區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(中和區)","operationId":"get_d4886f09_eefc_4fdf_a540_a99658620c7b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d4886f09-eefc-4fdf-a540-a99658620c7b\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-中和區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(中和區)","operationId":"get_d4886f09_eefc_4fdf_a540_a99658620c7b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/99ad3645-4a48-4781-9f55-22b434683d86\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-五股區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(五股區)","operationId":"get_99ad3645_4a48_4781_9f55_22b434683d86_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/99ad3645-4a48-4781-9f55-22b434683d86\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-五股區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(五股區)","operationId":"get_99ad3645_4a48_4781_9f55_22b434683d86_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/99ad3645-4a48-4781-9f55-22b434683d86\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-五股區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(五股區)","operationId":"get_99ad3645_4a48_4781_9f55_22b434683d86_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/747ee30b-7265-417c-9c66-e53e4d7f4dca\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-八里區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(八里區)","operationId":"get_747ee30b_7265_417c_9c66_e53e4d7f4dca_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/747ee30b-7265-417c-9c66-e53e4d7f4dca\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-八里區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(八里區)","operationId":"get_747ee30b_7265_417c_9c66_e53e4d7f4dca_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/747ee30b-7265-417c-9c66-e53e4d7f4dca\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-八里區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(八里區)","operationId":"get_747ee30b_7265_417c_9c66_e53e4d7f4dca_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2d0de65c-bce6-4a2a-8fab-2b514b3be3d0\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-土城區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(土城區)","operationId":"get_2d0de65c_bce6_4a2a_8fab_2b514b3be3d0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2d0de65c-bce6-4a2a-8fab-2b514b3be3d0\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-土城區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(土城區)","operationId":"get_2d0de65c_bce6_4a2a_8fab_2b514b3be3d0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2d0de65c-bce6-4a2a-8fab-2b514b3be3d0\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-土城區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(土城區)","operationId":"get_2d0de65c_bce6_4a2a_8fab_2b514b3be3d0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e463acfa-f246-4427-8ed0-30de970077e0\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-坪林區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(坪林區)","operationId":"get_e463acfa_f246_4427_8ed0_30de970077e0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e463acfa-f246-4427-8ed0-30de970077e0\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-坪林區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(坪林區)","operationId":"get_e463acfa_f246_4427_8ed0_30de970077e0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e463acfa-f246-4427-8ed0-30de970077e0\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-坪林區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(坪林區)","operationId":"get_e463acfa_f246_4427_8ed0_30de970077e0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9606b2db-95ae-4b72-bfe8-b26cb2017ecf\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-平溪區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(平溪區)","operationId":"get_9606b2db_95ae_4b72_bfe8_b26cb2017ecf_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9606b2db-95ae-4b72-bfe8-b26cb2017ecf\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-平溪區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(平溪區)","operationId":"get_9606b2db_95ae_4b72_bfe8_b26cb2017ecf_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9606b2db-95ae-4b72-bfe8-b26cb2017ecf\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-平溪區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(平溪區)","operationId":"get_9606b2db_95ae_4b72_bfe8_b26cb2017ecf_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f336e0f8-1fd2-420a-a862-fc1105058189\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-新店區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(新店區)","operationId":"get_f336e0f8_1fd2_420a_a862_fc1105058189_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f336e0f8-1fd2-420a-a862-fc1105058189\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-新店區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(新店區)","operationId":"get_f336e0f8_1fd2_420a_a862_fc1105058189_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f336e0f8-1fd2-420a-a862-fc1105058189\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-新店區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(新店區)","operationId":"get_f336e0f8_1fd2_420a_a862_fc1105058189_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c91271ce-e35f-4d97-b0cb-64657638d10f\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-新莊區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(新莊區)","operationId":"get_c91271ce_e35f_4d97_b0cb_64657638d10f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c91271ce-e35f-4d97-b0cb-64657638d10f\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-新莊區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(新莊區)","operationId":"get_c91271ce_e35f_4d97_b0cb_64657638d10f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c91271ce-e35f-4d97-b0cb-64657638d10f\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-新莊區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(新莊區)","operationId":"get_c91271ce_e35f_4d97_b0cb_64657638d10f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3cd2dbd8-bd57-42c4-a314-b25f843a1ba3\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-板橋區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(板橋區)","operationId":"get_3cd2dbd8_bd57_42c4_a314_b25f843a1ba3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3cd2dbd8-bd57-42c4-a314-b25f843a1ba3\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-板橋區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(板橋區)","operationId":"get_3cd2dbd8_bd57_42c4_a314_b25f843a1ba3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3cd2dbd8-bd57-42c4-a314-b25f843a1ba3\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-板橋區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(板橋區)","operationId":"get_3cd2dbd8_bd57_42c4_a314_b25f843a1ba3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a98e334f-873f-47a3-b361-d730a5b83f5d\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-林口區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(林口區)","operationId":"get_a98e334f_873f_47a3_b361_d730a5b83f5d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a98e334f-873f-47a3-b361-d730a5b83f5d\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-林口區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(林口區)","operationId":"get_a98e334f_873f_47a3_b361_d730a5b83f5d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a98e334f-873f-47a3-b361-d730a5b83f5d\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-林口區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(林口區)","operationId":"get_a98e334f_873f_47a3_b361_d730a5b83f5d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/494fec0e-6e7b-4667-a247-45adf7a5aa04\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-樹林區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(樹林區)","operationId":"get_494fec0e_6e7b_4667_a247_45adf7a5aa04_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/494fec0e-6e7b-4667-a247-45adf7a5aa04\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-樹林區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(樹林區)","operationId":"get_494fec0e_6e7b_4667_a247_45adf7a5aa04_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/494fec0e-6e7b-4667-a247-45adf7a5aa04\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-樹林區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(樹林區)","operationId":"get_494fec0e_6e7b_4667_a247_45adf7a5aa04_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2f128689-77c9-4f59-a297-494811228a2c\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-永和區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(永和區)","operationId":"get_2f128689_77c9_4f59_a297_494811228a2c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2f128689-77c9-4f59-a297-494811228a2c\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-永和區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(永和區)","operationId":"get_2f128689_77c9_4f59_a297_494811228a2c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2f128689-77c9-4f59-a297-494811228a2c\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-永和區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(永和區)","operationId":"get_2f128689_77c9_4f59_a297_494811228a2c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2a7bdccb-5163-41bf-8389-84658f8a1e7f\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-汐止區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(汐止區)","operationId":"get_2a7bdccb_5163_41bf_8389_84658f8a1e7f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2a7bdccb-5163-41bf-8389-84658f8a1e7f\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-汐止區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(汐止區)","operationId":"get_2a7bdccb_5163_41bf_8389_84658f8a1e7f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2a7bdccb-5163-41bf-8389-84658f8a1e7f\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-汐止區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(汐止區)","operationId":"get_2a7bdccb_5163_41bf_8389_84658f8a1e7f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8845b70d-3bf5-4aeb-9486-f9fbbfc4558a\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-泰山區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(泰山區)","operationId":"get_8845b70d_3bf5_4aeb_9486_f9fbbfc4558a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8845b70d-3bf5-4aeb-9486-f9fbbfc4558a\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-泰山區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(泰山區)","operationId":"get_8845b70d_3bf5_4aeb_9486_f9fbbfc4558a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8845b70d-3bf5-4aeb-9486-f9fbbfc4558a\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-泰山區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(泰山區)","operationId":"get_8845b70d_3bf5_4aeb_9486_f9fbbfc4558a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4fe55930-c19d-4341-a127-d7bd6ea973f5\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-淡水區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(淡水區)","operationId":"get_4fe55930_c19d_4341_a127_d7bd6ea973f5_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4fe55930-c19d-4341-a127-d7bd6ea973f5\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-淡水區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(淡水區)","operationId":"get_4fe55930_c19d_4341_a127_d7bd6ea973f5_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4fe55930-c19d-4341-a127-d7bd6ea973f5\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-淡水區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(淡水區)","operationId":"get_4fe55930_c19d_4341_a127_d7bd6ea973f5_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9e04c855-1bec-4af0-b494-2297fdc269fc\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-深坑區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(深坑區)","operationId":"get_9e04c855_1bec_4af0_b494_2297fdc269fc_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9e04c855-1bec-4af0-b494-2297fdc269fc\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-深坑區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(深坑區)","operationId":"get_9e04c855_1bec_4af0_b494_2297fdc269fc_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9e04c855-1bec-4af0-b494-2297fdc269fc\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-深坑區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(深坑區)","operationId":"get_9e04c855_1bec_4af0_b494_2297fdc269fc_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c0569d82-3923-45b7-af79-43cf85ce2094\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-烏來區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(烏來區)","operationId":"get_c0569d82_3923_45b7_af79_43cf85ce2094_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c0569d82-3923-45b7-af79-43cf85ce2094\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-烏來區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(烏來區)","operationId":"get_c0569d82_3923_45b7_af79_43cf85ce2094_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c0569d82-3923-45b7-af79-43cf85ce2094\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-烏來區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(烏來區)","operationId":"get_c0569d82_3923_45b7_af79_43cf85ce2094_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b87edcea-9025-4f6c-88d8-5071dbbba377\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-瑞芳區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(瑞芳區)","operationId":"get_b87edcea_9025_4f6c_88d8_5071dbbba377_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b87edcea-9025-4f6c-88d8-5071dbbba377\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-瑞芳區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(瑞芳區)","operationId":"get_b87edcea_9025_4f6c_88d8_5071dbbba377_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b87edcea-9025-4f6c-88d8-5071dbbba377\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-瑞芳區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(瑞芳區)","operationId":"get_b87edcea_9025_4f6c_88d8_5071dbbba377_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ba00bc99-9ea0-4e02-b177-5f98c5fe5bd6\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-石碇區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(石碇區)","operationId":"get_ba00bc99_9ea0_4e02_b177_5f98c5fe5bd6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ba00bc99-9ea0-4e02-b177-5f98c5fe5bd6\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-石碇區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(石碇區)","operationId":"get_ba00bc99_9ea0_4e02_b177_5f98c5fe5bd6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ba00bc99-9ea0-4e02-b177-5f98c5fe5bd6\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-石碇區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(石碇區)","operationId":"get_ba00bc99_9ea0_4e02_b177_5f98c5fe5bd6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6f8e454f-7743-40c9-9bc5-df523da5ab88\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-石門區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(石門區)","operationId":"get_6f8e454f_7743_40c9_9bc5_df523da5ab88_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6f8e454f-7743-40c9-9bc5-df523da5ab88\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-石門區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(石門區)","operationId":"get_6f8e454f_7743_40c9_9bc5_df523da5ab88_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6f8e454f-7743-40c9-9bc5-df523da5ab88\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-石門區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(石門區)","operationId":"get_6f8e454f_7743_40c9_9bc5_df523da5ab88_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a5f4ce59-7d3e-4d3c-a565-fa2eee5e2e1f\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-萬里區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(萬里區)","operationId":"get_a5f4ce59_7d3e_4d3c_a565_fa2eee5e2e1f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a5f4ce59-7d3e-4d3c-a565-fa2eee5e2e1f\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-萬里區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(萬里區)","operationId":"get_a5f4ce59_7d3e_4d3c_a565_fa2eee5e2e1f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a5f4ce59-7d3e-4d3c-a565-fa2eee5e2e1f\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-萬里區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(萬里區)","operationId":"get_a5f4ce59_7d3e_4d3c_a565_fa2eee5e2e1f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a4d81334-9a24-4d85-9180-f24d983c7a83\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-蘆洲區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(蘆洲區)","operationId":"get_a4d81334_9a24_4d85_9180_f24d983c7a83_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a4d81334-9a24-4d85-9180-f24d983c7a83\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-蘆洲區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(蘆洲區)","operationId":"get_a4d81334_9a24_4d85_9180_f24d983c7a83_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a4d81334-9a24-4d85-9180-f24d983c7a83\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-蘆洲區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(蘆洲區)","operationId":"get_a4d81334_9a24_4d85_9180_f24d983c7a83_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2c91dd8e-3912-4242-a198-14fc82645846\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-貢寮區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(貢寮區)","operationId":"get_2c91dd8e_3912_4242_a198_14fc82645846_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2c91dd8e-3912-4242-a198-14fc82645846\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-貢寮區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(貢寮區)","operationId":"get_2c91dd8e_3912_4242_a198_14fc82645846_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2c91dd8e-3912-4242-a198-14fc82645846\/xml":{"get":{"tags":["XML"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-貢寮區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(貢寮區)","operationId":"get_2c91dd8e_3912_4242_a198_14fc82645846_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/05f87433-1485-4998-ab41-4946587071fb\/csv":{"get":{"tags":["CSV"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-金山區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(金山區)","operationId":"get_05f87433_1485_4998_ab41_4946587071fb_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/05f87433-1485-4998-ab41-4946587071fb\/json":{"get":{"tags":["JSON"],"summary":" 新北市公費流感抗病毒藥劑合約醫療院所(類流感門診)-金山區","description":"提供查詢本市類流感合約院所，該合約院所可開立公費抗病毒藥劑以對抗流感。(金山區)","operationId":"get_05f87433_1485_4998_ab41_4946587071fb_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/05f87433-1485-4998-ab41-4946587071fb\/xml":{"get":{"tags":["XML"],"summa
[...]
