{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/bf2afa00-624d-4b10-989f-2fb098be91d6\/csv":{"get":{"tags":["CSV"],"summary":"新北市公職人員利益衝突迴避常見問答","description":"提供有關公職人員利益衝突迴避制度問答輯要","operationId":"get_bf2afa00_624d_4b10_989f_2fb098be91d6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bf2afa00-624d-4b10-989f-2fb098be91d6\/json":{"get":{"tags":["JSON"],"summary":"新北市公職人員利益衝突迴避常見問答","description":"提供有關公職人員利益衝突迴避制度問答輯要","operationId":"get_bf2afa00_624d_4b10_989f_2fb098be91d6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bf2afa00-624d-4b10-989f-2fb098be91d6\/xml":{"get":{"tags":["XML"],"summary":"新北市公職人員利益衝突迴避常見問答","description":"提供有關公職人員利益衝突迴避制度問答輯要","operationId":"get_bf2afa00_624d_4b10_989f_2fb098be91d6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4ddf3f87-4d0a-4df0-b263-fd08c913754e\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府員工廉政倫理規範常見問答","description":"提供有關員工廉政倫理規範問答輯要","operationId":"get_4ddf3f87_4d0a_4df0_b263_fd08c913754e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4ddf3f87-4d0a-4df0-b263-fd08c913754e\/json":{"get":{"tags":["JSON"],"summary":"新北市政府員工廉政倫理規範常見問答","description":"提供有關員工廉政倫理規範問答輯要","operationId":"get_4ddf3f87_4d0a_4df0_b263_fd08c913754e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4ddf3f87-4d0a-4df0-b263-fd08c913754e\/xml":{"get":{"tags":["XML"],"summary":"新北市政府員工廉政倫理規範常見問答","description":"提供有關員工廉政倫理規範問答輯要","operationId":"get_4ddf3f87_4d0a_4df0_b263_fd08c913754e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f4a8a677-84ba-4dcd-8407-9810c33e9bb2\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府政風處暨各政風機構受理財產申報人數","description":"提供有關本府受理財產申報人數","operationId":"get_f4a8a677_84ba_4dcd_8407_9810c33e9bb2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f4a8a677-84ba-4dcd-8407-9810c33e9bb2\/json":{"get":{"tags":["JSON"],"summary":"新北市政府政風處暨各政風機構受理財產申報人數","description":"提供有關本府受理財產申報人數","operationId":"get_f4a8a677_84ba_4dcd_8407_9810c33e9bb2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f4a8a677-84ba-4dcd-8407-9810c33e9bb2\/xml":{"get":{"tags":["XML"],"summary":"新北市政府政風處暨各政風機構受理財產申報人數","description":"提供有關本府受理財產申報人數","operationId":"get_f4a8a677_84ba_4dcd_8407_9810c33e9bb2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/89afd2b2-1f58-497e-9b09-01caf528e215\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府政風處檢舉管道","description":"提供受理之檢舉管道","operationId":"get_89afd2b2_1f58_497e_9b09_01caf528e215_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/89afd2b2-1f58-497e-9b09-01caf528e215\/json":{"get":{"tags":["JSON"],"summary":"新北市政府政風處檢舉管道","description":"提供受理之檢舉管道","operationId":"get_89afd2b2_1f58_497e_9b09_01caf528e215_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/89afd2b2-1f58-497e-9b09-01caf528e215\/xml":{"get":{"tags":["XML"],"summary":"新北市政府政風處檢舉管道","description":"提供受理之檢舉管道","operationId":"get_89afd2b2_1f58_497e_9b09_01caf528e215_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}