{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/47aced4b-ea2d-42b0-ab70-8ae8abe661b6\/csv":{"get":{"tags":["CSV"],"summary":"各區清潔隊聯絡資料","description":"各區清潔隊地址及電話","operationId":"get_47aced4b_ea2d_42b0_ab70_8ae8abe661b6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/47aced4b-ea2d-42b0-ab70-8ae8abe661b6\/json":{"get":{"tags":["JSON"],"summary":"各區清潔隊聯絡資料","description":"各區清潔隊地址及電話","operationId":"get_47aced4b_ea2d_42b0_ab70_8ae8abe661b6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/47aced4b-ea2d-42b0-ab70-8ae8abe661b6\/xml":{"get":{"tags":["XML"],"summary":"各區清潔隊聯絡資料","description":"各區清潔隊地址及電話","operationId":"get_47aced4b_ea2d_42b0_ab70_8ae8abe661b6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/473ca704-c8e6-4ae2-91b9-855fe8ddf2a2\/csv":{"get":{"tags":["CSV"],"summary":"新北市事業廢棄物再利用者登記資料","description":"取得目的事業主管機關再利用許可之事業或依中央目的事業主管機關所定再利用管理辦法公告之管理方式收受事業廢棄物進行再利用之事業,並經新北市政府敬保護局核發再利用機構管制編號","operationId":"get_473ca704_c8e6_4ae2_91b9_855fe8ddf2a2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/473ca704-c8e6-4ae2-91b9-855fe8ddf2a2\/json":{"get":{"tags":["JSON"],"summary":"新北市事業廢棄物再利用者登記資料","description":"取得目的事業主管機關再利用許可之事業或依中央目的事業主管機關所定再利用管理辦法公告之管理方式收受事業廢棄物進行再利用之事業,並經新北市政府敬保護局核發再利用機構管制編號","operationId":"get_473ca704_c8e6_4ae2_91b9_855fe8ddf2a2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/473ca704-c8e6-4ae2-91b9-855fe8ddf2a2\/xml":{"get":{"tags":["XML"],"summary":"新北市事業廢棄物再利用者登記資料","description":"取得目的事業主管機關再利用許可之事業或依中央目的事業主管機關所定再利用管理辦法公告之管理方式收受事業廢棄物進行再利用之事業,並經新北市政府敬保護局核發再利用機構管制編號","operationId":"get_473ca704_c8e6_4ae2_91b9_855fe8ddf2a2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fdfdc704-ca66-4735-99fe-3dfb1f79efb7\/csv":{"get":{"tags":["CSV"],"summary":"新北市八里垃圾焚化廠營運管理","description":"新北市八里垃圾焚化廠營運管理資訊，包括廢棄物進廠量、焚化處理量、灰渣產生量、發\/售\/用電量、運轉操作情形等。","operationId":"get_fdfdc704_ca66_4735_99fe_3dfb1f79efb7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fdfdc704-ca66-4735-99fe-3dfb1f79efb7\/json":{"get":{"tags":["JSON"],"summary":"新北市八里垃圾焚化廠營運管理","description":"新北市八里垃圾焚化廠營運管理資訊，包括廢棄物進廠量、焚化處理量、灰渣產生量、發\/售\/用電量、運轉操作情形等。","operationId":"get_fdfdc704_ca66_4735_99fe_3dfb1f79efb7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fdfdc704-ca66-4735-99fe-3dfb1f79efb7\/xml":{"get":{"tags":["XML"],"summary":"新北市八里垃圾焚化廠營運管理","description":"新北市八里垃圾焚化廠營運管理資訊，包括廢棄物進廠量、焚化處理量、灰渣產生量、發\/售\/用電量、運轉操作情形等。","operationId":"get_fdfdc704_ca66_4735_99fe_3dfb1f79efb7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3a43d9d0-bc7f-4f8f-9940-080005f6ac8c\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊","description":"新北市政府環境保護局建檔管理之列管公廁資料","operationId":"get_3a43d9d0_bc7f_4f8f_9940_080005f6ac8c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3a43d9d0-bc7f-4f8f-9940-080005f6ac8c\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊","description":"新北市政府環境保護局建檔管理之列管公廁資料","operationId":"get_3a43d9d0_bc7f_4f8f_9940_080005f6ac8c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3a43d9d0-bc7f-4f8f-9940-080005f6ac8c\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊","description":"新北市政府環境保護局建檔管理之列管公廁資料","operationId":"get_3a43d9d0_bc7f_4f8f_9940_080005f6ac8c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c63fa803-9210-4696-a854-7253ad258f55\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-三峽區","description":"新北市政府環境保護局建檔管理之列管公廁資料(三峽區)","operationId":"get_c63fa803_9210_4696_a854_7253ad258f55_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c63fa803-9210-4696-a854-7253ad258f55\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-三峽區","description":"新北市政府環境保護局建檔管理之列管公廁資料(三峽區)","operationId":"get_c63fa803_9210_4696_a854_7253ad258f55_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c63fa803-9210-4696-a854-7253ad258f55\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-三峽區","description":"新北市政府環境保護局建檔管理之列管公廁資料(三峽區)","operationId":"get_c63fa803_9210_4696_a854_7253ad258f55_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1975d457-dc39-413f-95fb-cc9ef1277d11\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-三芝區","description":"新北市政府環境保護局建檔管理之列管公廁資料(三芝區)","operationId":"get_1975d457_dc39_413f_95fb_cc9ef1277d11_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1975d457-dc39-413f-95fb-cc9ef1277d11\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-三芝區","description":"新北市政府環境保護局建檔管理之列管公廁資料(三芝區)","operationId":"get_1975d457_dc39_413f_95fb_cc9ef1277d11_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1975d457-dc39-413f-95fb-cc9ef1277d11\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-三芝區","description":"新北市政府環境保護局建檔管理之列管公廁資料(三芝區)","operationId":"get_1975d457_dc39_413f_95fb_cc9ef1277d11_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/99025158-d3fd-4b3b-9029-a2e56edc8efa\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-三重區","description":"新北市政府環境保護局建檔管理之列管公廁資料(三重區)","operationId":"get_99025158_d3fd_4b3b_9029_a2e56edc8efa_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/99025158-d3fd-4b3b-9029-a2e56edc8efa\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-三重區","description":"新北市政府環境保護局建檔管理之列管公廁資料(三重區)","operationId":"get_99025158_d3fd_4b3b_9029_a2e56edc8efa_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/99025158-d3fd-4b3b-9029-a2e56edc8efa\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-三重區","description":"新北市政府環境保護局建檔管理之列管公廁資料(三重區)","operationId":"get_99025158_d3fd_4b3b_9029_a2e56edc8efa_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/df4bc5dd-55e3-4404-aa2b-57ccb537f151\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-中和區","description":"新北市政府環境保護局建檔管理之列管公廁資料(中和區)","operationId":"get_df4bc5dd_55e3_4404_aa2b_57ccb537f151_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/df4bc5dd-55e3-4404-aa2b-57ccb537f151\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-中和區","description":"新北市政府環境保護局建檔管理之列管公廁資料(中和區)","operationId":"get_df4bc5dd_55e3_4404_aa2b_57ccb537f151_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/df4bc5dd-55e3-4404-aa2b-57ccb537f151\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-中和區","description":"新北市政府環境保護局建檔管理之列管公廁資料(中和區)","operationId":"get_df4bc5dd_55e3_4404_aa2b_57ccb537f151_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2c813252-e086-415f-a3b9-03559ee8e6de\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-五股區","description":"新北市政府環境保護局建檔管理之列管公廁資料(五股區)","operationId":"get_2c813252_e086_415f_a3b9_03559ee8e6de_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2c813252-e086-415f-a3b9-03559ee8e6de\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-五股區","description":"新北市政府環境保護局建檔管理之列管公廁資料(五股區)","operationId":"get_2c813252_e086_415f_a3b9_03559ee8e6de_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2c813252-e086-415f-a3b9-03559ee8e6de\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-五股區","description":"新北市政府環境保護局建檔管理之列管公廁資料(五股區)","operationId":"get_2c813252_e086_415f_a3b9_03559ee8e6de_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0770bf9d-8366-4da5-87ff-703b4b88edbe\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-八里區","description":"新北市政府環境保護局建檔管理之列管公廁資料(八里區)","operationId":"get_0770bf9d_8366_4da5_87ff_703b4b88edbe_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0770bf9d-8366-4da5-87ff-703b4b88edbe\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-八里區","description":"新北市政府環境保護局建檔管理之列管公廁資料(八里區)","operationId":"get_0770bf9d_8366_4da5_87ff_703b4b88edbe_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0770bf9d-8366-4da5-87ff-703b4b88edbe\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-八里區","description":"新北市政府環境保護局建檔管理之列管公廁資料(八里區)","operationId":"get_0770bf9d_8366_4da5_87ff_703b4b88edbe_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/24869b0d-28db-4d51-b63d-b0e9c7e990f7\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-土城區","description":"新北市政府環境保護局建檔管理之列管公廁資料(土城區)","operationId":"get_24869b0d_28db_4d51_b63d_b0e9c7e990f7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/24869b0d-28db-4d51-b63d-b0e9c7e990f7\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-土城區","description":"新北市政府環境保護局建檔管理之列管公廁資料(土城區)","operationId":"get_24869b0d_28db_4d51_b63d_b0e9c7e990f7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/24869b0d-28db-4d51-b63d-b0e9c7e990f7\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-土城區","description":"新北市政府環境保護局建檔管理之列管公廁資料(土城區)","operationId":"get_24869b0d_28db_4d51_b63d_b0e9c7e990f7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d9b42827-0e97-48d9-b464-2bd8bacb0150\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-坪林區","description":"新北市政府環境保護局建檔管理之列管公廁資料(坪林區)","operationId":"get_d9b42827_0e97_48d9_b464_2bd8bacb0150_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d9b42827-0e97-48d9-b464-2bd8bacb0150\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-坪林區","description":"新北市政府環境保護局建檔管理之列管公廁資料(坪林區)","operationId":"get_d9b42827_0e97_48d9_b464_2bd8bacb0150_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d9b42827-0e97-48d9-b464-2bd8bacb0150\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-坪林區","description":"新北市政府環境保護局建檔管理之列管公廁資料(坪林區)","operationId":"get_d9b42827_0e97_48d9_b464_2bd8bacb0150_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a32a92ff-64ab-400a-a840-5629944e0cc8\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-平溪區","description":"新北市政府環境保護局建檔管理之列管公廁資料(平溪區)","operationId":"get_a32a92ff_64ab_400a_a840_5629944e0cc8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a32a92ff-64ab-400a-a840-5629944e0cc8\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-平溪區","description":"新北市政府環境保護局建檔管理之列管公廁資料(平溪區)","operationId":"get_a32a92ff_64ab_400a_a840_5629944e0cc8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a32a92ff-64ab-400a-a840-5629944e0cc8\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-平溪區","description":"新北市政府環境保護局建檔管理之列管公廁資料(平溪區)","operationId":"get_a32a92ff_64ab_400a_a840_5629944e0cc8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ff676b1a-83e7-47fc-9f3b-9d126f1f486e\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-新店區","description":"新北市政府環境保護局建檔管理之列管公廁資料(新店區)","operationId":"get_ff676b1a_83e7_47fc_9f3b_9d126f1f486e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ff676b1a-83e7-47fc-9f3b-9d126f1f486e\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-新店區","description":"新北市政府環境保護局建檔管理之列管公廁資料(新店區)","operationId":"get_ff676b1a_83e7_47fc_9f3b_9d126f1f486e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ff676b1a-83e7-47fc-9f3b-9d126f1f486e\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-新店區","description":"新北市政府環境保護局建檔管理之列管公廁資料(新店區)","operationId":"get_ff676b1a_83e7_47fc_9f3b_9d126f1f486e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/89a5aac7-0aa6-4e0d-a8b2-a15632cef5aa\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-新莊區","description":"新北市政府環境保護局建檔管理之列管公廁資料(新莊區)","operationId":"get_89a5aac7_0aa6_4e0d_a8b2_a15632cef5aa_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/89a5aac7-0aa6-4e0d-a8b2-a15632cef5aa\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-新莊區","description":"新北市政府環境保護局建檔管理之列管公廁資料(新莊區)","operationId":"get_89a5aac7_0aa6_4e0d_a8b2_a15632cef5aa_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/89a5aac7-0aa6-4e0d-a8b2-a15632cef5aa\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-新莊區","description":"新北市政府環境保護局建檔管理之列管公廁資料(新莊區)","operationId":"get_89a5aac7_0aa6_4e0d_a8b2_a15632cef5aa_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fae9df8c-5fdd-4d5c-9455-6c23fa2da33b\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-板橋區","description":"新北市政府環境保護局建檔管理之列管公廁資料(板橋區)","operationId":"get_fae9df8c_5fdd_4d5c_9455_6c23fa2da33b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fae9df8c-5fdd-4d5c-9455-6c23fa2da33b\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-板橋區","description":"新北市政府環境保護局建檔管理之列管公廁資料(板橋區)","operationId":"get_fae9df8c_5fdd_4d5c_9455_6c23fa2da33b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fae9df8c-5fdd-4d5c-9455-6c23fa2da33b\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-板橋區","description":"新北市政府環境保護局建檔管理之列管公廁資料(板橋區)","operationId":"get_fae9df8c_5fdd_4d5c_9455_6c23fa2da33b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f9ea2119-341f-46a8-beb0-3005a7cb899d\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-林口區","description":"新北市政府環境保護局建檔管理之列管公廁資料(林口區)","operationId":"get_f9ea2119_341f_46a8_beb0_3005a7cb899d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f9ea2119-341f-46a8-beb0-3005a7cb899d\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-林口區","description":"新北市政府環境保護局建檔管理之列管公廁資料(林口區)","operationId":"get_f9ea2119_341f_46a8_beb0_3005a7cb899d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f9ea2119-341f-46a8-beb0-3005a7cb899d\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-林口區","description":"新北市政府環境保護局建檔管理之列管公廁資料(林口區)","operationId":"get_f9ea2119_341f_46a8_beb0_3005a7cb899d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bdbb6f5c-d0a5-4193-a1d6-2b869c6f7a04\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-樹林區","description":"新北市政府環境保護局建檔管理之列管公廁資料(樹林區)","operationId":"get_bdbb6f5c_d0a5_4193_a1d6_2b869c6f7a04_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bdbb6f5c-d0a5-4193-a1d6-2b869c6f7a04\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-樹林區","description":"新北市政府環境保護局建檔管理之列管公廁資料(樹林區)","operationId":"get_bdbb6f5c_d0a5_4193_a1d6_2b869c6f7a04_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bdbb6f5c-d0a5-4193-a1d6-2b869c6f7a04\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-樹林區","description":"新北市政府環境保護局建檔管理之列管公廁資料(樹林區)","operationId":"get_bdbb6f5c_d0a5_4193_a1d6_2b869c6f7a04_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f30d2677-b401-4577-bb96-3b2f356bf649\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-永和區","description":"新北市政府環境保護局建檔管理之列管公廁資料(永和區)","operationId":"get_f30d2677_b401_4577_bb96_3b2f356bf649_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f30d2677-b401-4577-bb96-3b2f356bf649\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-永和區","description":"新北市政府環境保護局建檔管理之列管公廁資料(永和區)","operationId":"get_f30d2677_b401_4577_bb96_3b2f356bf649_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f30d2677-b401-4577-bb96-3b2f356bf649\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-永和區","description":"新北市政府環境保護局建檔管理之列管公廁資料(永和區)","operationId":"get_f30d2677_b401_4577_bb96_3b2f356bf649_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4f3a4cd0-3f09-4380-b063-43c98b358fcc\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-汐止區","description":"新北市政府環境保護局建檔管理之列管公廁資料(汐止區)","operationId":"get_4f3a4cd0_3f09_4380_b063_43c98b358fcc_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4f3a4cd0-3f09-4380-b063-43c98b358fcc\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-汐止區","description":"新北市政府環境保護局建檔管理之列管公廁資料(汐止區)","operationId":"get_4f3a4cd0_3f09_4380_b063_43c98b358fcc_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4f3a4cd0-3f09-4380-b063-43c98b358fcc\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-汐止區","description":"新北市政府環境保護局建檔管理之列管公廁資料(汐止區)","operationId":"get_4f3a4cd0_3f09_4380_b063_43c98b358fcc_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/96f1aa66-53c2-4664-b2af-0b5693478bda\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-泰山區","description":"新北市政府環境保護局建檔管理之列管公廁資料(泰山區)","operationId":"get_96f1aa66_53c2_4664_b2af_0b5693478bda_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/96f1aa66-53c2-4664-b2af-0b5693478bda\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-泰山區","description":"新北市政府環境保護局建檔管理之列管公廁資料(泰山區)","operationId":"get_96f1aa66_53c2_4664_b2af_0b5693478bda_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/96f1aa66-53c2-4664-b2af-0b5693478bda\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-泰山區","description":"新北市政府環境保護局建檔管理之列管公廁資料(泰山區)","operationId":"get_96f1aa66_53c2_4664_b2af_0b5693478bda_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b4f30ed5-2d89-4cd6-b42b-0dc4bf706b20\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-淡水區","description":"新北市政府環境保護局建檔管理之列管公廁資料(淡水區)","operationId":"get_b4f30ed5_2d89_4cd6_b42b_0dc4bf706b20_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b4f30ed5-2d89-4cd6-b42b-0dc4bf706b20\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-淡水區","description":"新北市政府環境保護局建檔管理之列管公廁資料(淡水區)","operationId":"get_b4f30ed5_2d89_4cd6_b42b_0dc4bf706b20_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b4f30ed5-2d89-4cd6-b42b-0dc4bf706b20\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-淡水區","description":"新北市政府環境保護局建檔管理之列管公廁資料(淡水區)","operationId":"get_b4f30ed5_2d89_4cd6_b42b_0dc4bf706b20_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0c83457e-f4f2-4131-86d8-c175122bf89b\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-深坑區","description":"新北市政府環境保護局建檔管理之列管公廁資料(深坑區)","operationId":"get_0c83457e_f4f2_4131_86d8_c175122bf89b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0c83457e-f4f2-4131-86d8-c175122bf89b\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-深坑區","description":"新北市政府環境保護局建檔管理之列管公廁資料(深坑區)","operationId":"get_0c83457e_f4f2_4131_86d8_c175122bf89b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0c83457e-f4f2-4131-86d8-c175122bf89b\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-深坑區","description":"新北市政府環境保護局建檔管理之列管公廁資料(深坑區)","operationId":"get_0c83457e_f4f2_4131_86d8_c175122bf89b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/327a2ef7-0155-4627-a23b-2f1deb4516b6\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-烏來區","description":"新北市政府環境保護局建檔管理之列管公廁資料(烏來區)","operationId":"get_327a2ef7_0155_4627_a23b_2f1deb4516b6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/327a2ef7-0155-4627-a23b-2f1deb4516b6\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-烏來區","description":"新北市政府環境保護局建檔管理之列管公廁資料(烏來區)","operationId":"get_327a2ef7_0155_4627_a23b_2f1deb4516b6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/327a2ef7-0155-4627-a23b-2f1deb4516b6\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-烏來區","description":"新北市政府環境保護局建檔管理之列管公廁資料(烏來區)","operationId":"get_327a2ef7_0155_4627_a23b_2f1deb4516b6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/739b1aa7-d327-4d63-b6aa-5a033e90808b\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-瑞芳區","description":"新北市政府環境保護局建檔管理之列管公廁資料(瑞芳區)","operationId":"get_739b1aa7_d327_4d63_b6aa_5a033e90808b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/739b1aa7-d327-4d63-b6aa-5a033e90808b\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-瑞芳區","description":"新北市政府環境保護局建檔管理之列管公廁資料(瑞芳區)","operationId":"get_739b1aa7_d327_4d63_b6aa_5a033e90808b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/739b1aa7-d327-4d63-b6aa-5a033e90808b\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-瑞芳區","description":"新北市政府環境保護局建檔管理之列管公廁資料(瑞芳區)","operationId":"get_739b1aa7_d327_4d63_b6aa_5a033e90808b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/145a1f8b-f814-44f4-bdf7-0ac5ad298a13\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-石碇區","description":"新北市政府環境保護局建檔管理之列管公廁資料(石碇區)","operationId":"get_145a1f8b_f814_44f4_bdf7_0ac5ad298a13_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/145a1f8b-f814-44f4-bdf7-0ac5ad298a13\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-石碇區","description":"新北市政府環境保護局建檔管理之列管公廁資料(石碇區)","operationId":"get_145a1f8b_f814_44f4_bdf7_0ac5ad298a13_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/145a1f8b-f814-44f4-bdf7-0ac5ad298a13\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-石碇區","description":"新北市政府環境保護局建檔管理之列管公廁資料(石碇區)","operationId":"get_145a1f8b_f814_44f4_bdf7_0ac5ad298a13_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/679e2a41-fb56-4294-bca9-bfc871aeda64\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-石門區","description":"新北市政府環境保護局建檔管理之列管公廁資料(石門區)","operationId":"get_679e2a41_fb56_4294_bca9_bfc871aeda64_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/679e2a41-fb56-4294-bca9-bfc871aeda64\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-石門區","description":"新北市政府環境保護局建檔管理之列管公廁資料(石門區)","operationId":"get_679e2a41_fb56_4294_bca9_bfc871aeda64_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/679e2a41-fb56-4294-bca9-bfc871aeda64\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-石門區","description":"新北市政府環境保護局建檔管理之列管公廁資料(石門區)","operationId":"get_679e2a41_fb56_4294_bca9_bfc871aeda64_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/438986bc-3d79-4365-81ec-b6e12246f261\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-萬里區","description":"新北市政府環境保護局建檔管理之列管公廁資料(萬里區)","operationId":"get_438986bc_3d79_4365_81ec_b6e12246f261_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/438986bc-3d79-4365-81ec-b6e12246f261\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-萬里區","description":"新北市政府環境保護局建檔管理之列管公廁資料(萬里區)","operationId":"get_438986bc_3d79_4365_81ec_b6e12246f261_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/438986bc-3d79-4365-81ec-b6e12246f261\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-萬里區","description":"新北市政府環境保護局建檔管理之列管公廁資料(萬里區)","operationId":"get_438986bc_3d79_4365_81ec_b6e12246f261_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b3e4b4c5-660e-45da-9ee2-e459c40a742a\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-蘆洲區","description":"新北市政府環境保護局建檔管理之列管公廁資料(蘆洲區)","operationId":"get_b3e4b4c5_660e_45da_9ee2_e459c40a742a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b3e4b4c5-660e-45da-9ee2-e459c40a742a\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-蘆洲區","description":"新北市政府環境保護局建檔管理之列管公廁資料(蘆洲區)","operationId":"get_b3e4b4c5_660e_45da_9ee2_e459c40a742a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b3e4b4c5-660e-45da-9ee2-e459c40a742a\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-蘆洲區","description":"新北市政府環境保護局建檔管理之列管公廁資料(蘆洲區)","operationId":"get_b3e4b4c5_660e_45da_9ee2_e459c40a742a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f64f5ae2-e87a-4607-bce9-7525b9a05315\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-貢寮區","description":"新北市政府環境保護局建檔管理之列管公廁資料(貢寮區)","operationId":"get_f64f5ae2_e87a_4607_bce9_7525b9a05315_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f64f5ae2-e87a-4607-bce9-7525b9a05315\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-貢寮區","description":"新北市政府環境保護局建檔管理之列管公廁資料(貢寮區)","operationId":"get_f64f5ae2_e87a_4607_bce9_7525b9a05315_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f64f5ae2-e87a-4607-bce9-7525b9a05315\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-貢寮區","description":"新北市政府環境保護局建檔管理之列管公廁資料(貢寮區)","operationId":"get_f64f5ae2_e87a_4607_bce9_7525b9a05315_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2d421f06-3ba0-4f87-80a5-25034a3e8c7c\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-金山區","description":"新北市政府環境保護局建檔管理之列管公廁資料(金山區)","operationId":"get_2d421f06_3ba0_4f87_80a5_25034a3e8c7c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2d421f06-3ba0-4f87-80a5-25034a3e8c7c\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-金山區","description":"新北市政府環境保護局建檔管理之列管公廁資料(金山區)","operationId":"get_2d421f06_3ba0_4f87_80a5_25034a3e8c7c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2d421f06-3ba0-4f87-80a5-25034a3e8c7c\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-金山區","description":"新北市政府環境保護局建檔管理之列管公廁資料(金山區)","operationId":"get_2d421f06_3ba0_4f87_80a5_25034a3e8c7c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/84a7c457-00ad-40d8-a97f-69e6bc8f8be0\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-雙溪區","description":"新北市政府環境保護局建檔管理之列管公廁資料(雙溪區)","operationId":"get_84a7c457_00ad_40d8_a97f_69e6bc8f8be0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/84a7c457-00ad-40d8-a97f-69e6bc8f8be0\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-雙溪區","description":"新北市政府環境保護局建檔管理之列管公廁資料(雙溪區)","operationId":"get_84a7c457_00ad_40d8_a97f_69e6bc8f8be0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/84a7c457-00ad-40d8-a97f-69e6bc8f8be0\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-雙溪區","description":"新北市政府環境保護局建檔管理之列管公廁資料(雙溪區)","operationId":"get_84a7c457_00ad_40d8_a97f_69e6bc8f8be0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b722b3cd-a724-4c5d-b2e5-9c646e796500\/csv":{"get":{"tags":["CSV"],"summary":"新北市列管公廁資訊-鶯歌區","description":"新北市政府環境保護局建檔管理之列管公廁資料(鶯歌區)","operationId":"get_b722b3cd_a724_4c5d_b2e5_9c646e796500_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b722b3cd-a724-4c5d-b2e5-9c646e796500\/json":{"get":{"tags":["JSON"],"summary":"新北市列管公廁資訊-鶯歌區","description":"新北市政府環境保護局建檔管理之列管公廁資料(鶯歌區)","operationId":"get_b722b3cd_a724_4c5d_b2e5_9c646e796500_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b722b3cd-a724-4c5d-b2e5-9c646e796500\/xml":{"get":{"tags":["XML"],"summary":"新北市列管公廁資訊-鶯歌區","description":"新北市政府環境保護局建檔管理之列管公廁資料(鶯歌區)","operationId":"get_b722b3cd_a724_4c5d_b2e5_9c646e796500_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/612f1570-6a62-47b6-8531-94774d98c422\/csv":{"get":{"tags":["CSV"],"summary":"新北市噪音監測站位置","description":"自動交通噪音監測站地點","operationId":"get_612f1570_6a62_47b6_8531_94774d98c422_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/612f1570-6a62-47b6-8531-94774d98c422\/json":{"get":{"tags":["JSON"],"summary":"新北市噪音監測站位置","description":"自動交通噪音監測站地點","operationId":"get_612f1570_6a62_47b6_8531_94774d98c422_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/612f1570-6a62-47b6-8531-94774d98c422\/xml":{"get":{"tags":["XML"],"summary":"新北市噪音監測站位置","description":"自動交通噪音監測站地點","operationId":"get_612f1570_6a62_47b6_8531_94774d98c422_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/17a0b082-f9e1-41de-a9d1-a2f04ede915f\/csv":{"get":{"tags":["CSV"],"summary":"新北市噪音管制區劃定範圍","description":"本市四類噪音管制區及相關規定","operationId":"get_17a0b082_f9e1_41de_a9d1_a2f04ede915f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/17a0b082-f9e1-41de-a9d1-a2f04ede915f\/json":{"get":{"tags":["JSON"],"summary":"新北市噪音管制區劃定範圍","description":"本市四類噪音管制區及相關規定","operationId":"get_17a0b082_f9e1_41de_a9d1_a2f04ede915f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/17a0b082-f9e1-41de-a9d1-a2f04ede915f\/xml":{"get":{"tags":["XML"],"summary":"新北市噪音管制區劃定範圍","description":"本市四類噪音管制區及相關規定","operationId":"get_17a0b082_f9e1_41de_a9d1_a2f04ede915f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/198e688e-e6fe-49eb-8fb0-f29aaa4834a4\/csv":{"get":{"tags":["CSV"],"summary":"新北市土壤及地下水列管資訊(已解除列管場址)","description":"新北市土壤及地下水列管場址列表，已解除列管場址。","operationId":"get_198e688e_e6fe_49eb_8fb0_f29aaa4834a4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/198e688e-e6fe-49eb-8fb0-f29aaa4834a4\/json":{"get":{"tags":["JSON"],"summary":"新北市土壤及地下水列管資訊(已解除列管場址)","description":"新北市土壤及地下水列管場址列表，已解除列管場址。","operationId":"get_198e688e_e6fe_49eb_8fb0_f29aaa4834a4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/198e688e-e6fe-49eb-8fb0-f29aaa4834a4\/xml":{"get":{"tags":["XML"],"summary":"新北市土壤及地下水列管資訊(已解除列管場址)","description":"新北市土壤及地下水列管場址列表，已解除列管場址。","operationId":"get_198e688e_e6fe_49eb_8fb0_f29aaa4834a4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9987dc63-2c8d-4c75-903d-6ebd82d1792d\/csv":{"get":{"tags":["CSV"],"summary":"新北市土壤及地下水列管資訊(目前列管場址)","description":"新北市土壤及地下水列管場址列表。","operationId":"get_9987dc63_2c8d_4c75_903d_6ebd82d1792d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9987dc63-2c8d-4c75-903d-6ebd82d1792d\/json":{"get":{"tags":["JSON"],"summary":"新北市土壤及地下水列管資訊(目前列管場址)","description":"新北市土壤及地下水列管場址列表。","operationId":"get_9987dc63_2c8d_4c75_903d_6ebd82d1792d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9987dc63-2c8d-4c75-903d-6ebd82d1792d\/xml":{"get":{"tags":["XML"],"summary":"新北市土壤及地下水列管資訊(目前列管場址)","description":"新北市土壤及地下水列管場址列表。","operationId":"get_9987dc63_2c8d_4c75_903d_6ebd82d1792d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/28ab4122-60e1-4065-98e5-abccb69aaca6\/csv":{"get":{"tags":["CSV"],"summary":"新北市垃圾清運車輛所在位置","description":"一、新北市垃圾清運車輛所在位址。\r\n二、資料僅顯示目前出勤中之垃圾車所在位址，故不同時段，資料數會有明顯不同（每2分鐘更新1次），甚至少數時段可能為零。\r\n三、垃圾車車機採4G訊號傳輸，倘有訊號不良情形，可能導致資料延遲。","operationId":"get_28ab4122_60e1_4065_98e5_abccb69aaca6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/28ab4122-60e1-4065-98e5-abccb69aaca6\/json":{"get":{"tags":["JSON"],"summary":"新北市垃圾清運車輛所在位置","description":"一、新北市垃圾清運車輛所在位址。\r\n二、資料僅顯示目前出勤中之垃圾車所在位址，故不同時段，資料數會有明顯不同（每2分鐘更新1次），甚至少數時段可能為零。\r\n三、垃圾車車機採4G訊號傳輸，倘有訊號不良情形，可能導致資料延遲。","operationId":"get_28ab4122_60e1_4065_98e5_abccb69aaca6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/28ab4122-60e1-4065-98e5-abccb69aaca6\/xml":{"get":{"tags":["XML"],"summary":"新北市垃圾清運車輛所在位置","description":"一、新北市垃圾清運車輛所在位址。\r\n二、資料僅顯示目前出勤中之垃圾車所在位址，故不同時段，資料數會有明顯不同（每2分鐘更新1次），甚至少數時段可能為零。\r\n三、垃圾車車機採4G訊號傳輸，倘有訊號不良情形，可能導致資料延遲。","operationId":"get_28ab4122_60e1_4065_98e5_abccb69aaca6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/39e17852-9ac9-45b7-bc60-d8d0ed7e3161\/csv":{"get":{"tags":["CSV"],"summary":"新北市垃圾焚化廠位置","description":"新北市垃圾焚化廠位置。","operationId":"get_39e17852_9ac9_45b7_bc60_d8d0ed7e3161_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/39e17852-9ac9-45b7-bc60-d8d0ed7e3161\/json":{"get":{"tags":["JSON"],"summary":"新北市垃圾焚化廠位置","description":"新北市垃圾焚化廠位置。","operationId":"get_39e17852_9ac9_45b7_bc60_d8d0ed7e3161_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/39e17852-9ac9-45b7-bc60-d8d0ed7e3161\/xml":{"get":{"tags":["XML"],"summary":"新北市垃圾焚化廠位置","description":"新北市垃圾焚化廠位置。","operationId":"get_39e17852_9ac9_45b7_bc60_d8d0ed7e3161_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/edc3ad26-8ae7-4916-a00b-bc6048d19bf8\/csv":{"get":{"tags":["CSV"],"summary":"新北市垃圾車路線","description":"一、提供新北市各行政區垃圾車表定清運路線查詢，本資料將定期更新。\r\n二、資料提供各清運路線名稱、所在行政區、里別，以及路線上各清運點名稱、表定位置(經緯度)、收運序號、收運時間、收運頻率(含一般垃圾、資源回收、廚餘)。\r\n","operationId":"get_edc3ad26_8ae7_4916_a00b_bc6048d19bf8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/edc3ad26-8ae7-4916-a00b-bc6048d19bf8\/json":{"get":{"tags":["JSON"],"summary":"新北市垃圾車路線","description":"一、提供新北市各行政區垃圾車表定清運路線查詢，本資料將定期更新。\r\n二、資料提供各清運路線名稱、所在行政區、里別，以及路線上各清運點名稱、表定位置(經緯度)、收運序號、收運時間、收運頻率(含一般垃圾、資源回收、廚餘)。\r\n","operationId":"get_edc3ad26_8ae7_4916_a00b_bc6048d19bf8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/edc3ad26-8ae7-4916-a00b-bc6048d19bf8\/xml":{"get":{"tags":["XML"],"summary":"新北市垃圾車路線","description":"一、提供新北市各行政區垃圾車表定清運路線查詢，本資料將定期更新。\r\n二、資料提供各清運路線名稱、所在行政區、里別，以及路線上各清運點名稱、表定位置(經緯度)、收運序號、收運時間、收運頻率(含一般垃圾、資源回收、廚餘)。\r\n","operationId":"get_edc3ad26_8ae7_4916_a00b_bc6048d19bf8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a2f0ac0a-500d-4375-b975-0cec4aee56cb\/csv":{"get":{"tags":["CSV"],"summary":"新北市專用垃圾袋代售商","description":"新北市專用垃圾袋代售商清冊","operationId":"get_a2f0ac0a_500d_4375_b975_0cec4aee56cb_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a2f0ac0a-500d-4375-b975-0cec4aee56cb\/json":{"get":{"tags":["JSON"],"summary":"新北市專用垃圾袋代售商","description":"新北市專用垃圾袋代售商清冊","operationId":"get_a2f0ac0a_500d_4375_b975_0cec4aee56cb_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a2f0ac0a-500d-4375-b975-0cec4aee56cb\/xml":{"get":{"tags":["XML"],"summary":"新北市專用垃圾袋代售商","description":"新北市專用垃圾袋代售商清冊","operationId":"get_a2f0ac0a_500d_4375_b975_0cec4aee56cb_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/58ad9706-2fc0-4dd2-a4d3-181540ef7014\/csv":{"get":{"tags":["CSV"],"summary":"新北市巨大廢棄物清運時間流程","description":"新北市巨大廢棄物清運時間流程。","operationId":"get_58ad9706_2fc0_4dd2_a4d3_181540ef7014_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/58ad9706-2fc0-4dd2-a4d3-181540ef7014\/json":{"get":{"tags":["JSON"],"summary":"新北市巨大廢棄物清運時間流程","description":"新北市巨大廢棄物清運時間流程。","operationId":"get_58ad9706_2fc0_4dd2_a4d3_181540ef7014_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/58ad9706-2fc0-4dd2-a4d3-181540ef7014\/xml":{"get":{"tags":["XML"],"summary":"新北市巨大廢棄物清運時間流程","description":"新北市巨大廢棄物清運時間流程。","operationId":"get_58ad9706_2fc0_4dd2_a4d3_181540ef7014_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5461792a-8ffc-4723-a0b6-560f750eec3b\/csv":{"get":{"tags":["CSV"],"summary":"新北市戶外環境噴藥期程","description":"新北市戶外環境噴藥各區期程若無登載者請洽各區清潔隊或至新北市政府環境保護局官網查詢","operationId":"get_5461792a_8ffc_4723_a0b6_560f750eec3b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5461792a-8ffc-4723-a0b6-560f750eec3b\/json":{"get":{"tags":["JSON"],"summary":"新北市戶外環境噴藥期程","description":"新北市戶外環境噴藥各區期程若無登載者請洽各區清潔隊或至新北市政府環境保護局官網查詢","operationId":"get_5461792a_8ffc_4723_a0b6_560f750eec3b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5461792a-8ffc-4723-a0b6-560f750eec3b\/xml":{"get":{"tags":["XML"],"summary":"新北市戶外環境噴藥期程","description":"新北市戶外環境噴藥各區期程若無登載者請洽各區清潔隊或至新北市政府環境保護局官網查詢","operationId":"get_5461792a_8ffc_4723_a0b6_560f750eec3b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a30d296d-e43c-43a5-97d2-aef54332d4e0\/csv":{"get":{"tags":["CSV"],"summary":"新北市掩埋場位置","description":"新北市掩埋場位置。","operationId":"get_a30d296d_e43c_43a5_97d2_aef54332d4e0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a30d296d-e43c-43a5-97d2-aef54332d4e0\/json":{"get":{"tags":["JSON"],"summary":"新北市掩埋場位置","description":"新北市掩埋場位置。","operationId":"get_a30d296d_e43c_43a5_97d2_aef54332d4e0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a30d296d-e43c-43a5-97d2-aef54332d4e0\/xml":{"get":{"tags":["XML"],"summary":"新北市掩埋場位置","description":"新北市掩埋場位置。","operationId":"get_a30d296d_e43c_43a5_97d2_aef54332d4e0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d24fd22c-671d-4d01-b04d-6cc7328d7530\/csv":{"get":{"tags":["CSV"],"summary":"新北市機車定檢站名單","description":"新北市機車定檢站名單(站號、站名、電話、地址)","operationId":"get_d24fd22c_671d_4d01_b04d_6cc7328d7530_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d24fd22c-671d-4d01-b04d-6cc7328d7530\/json":{"get":{"tags":["JSON"],"summary":"新北市機車定檢站名單","description":"新北市機車定檢站名單(站號、站名、電話、地址)","operationId":"get_d24fd22c_671d_4d01_b04d_6cc7328d7530_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d24fd22c-671d-4d01-b04d-6cc7328d7530\/xml":{"get":{"tags":["XML"],"summary":"新北市機車定檢站名單","description":"新北市機車定檢站名單(站號、站名、電話、地址)","operationId":"get_d24fd22c_671d_4d01_b04d_6cc7328d7530_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0ef37fbc-9cec-4d07-852f-78a9022ef707\/csv":{"get":{"tags":["CSV"],"summary":"新北市民眾繳納違反環保法令行政罰鍰之方式及其他相關注意事項","description":"民眾繳納違反環保法令行政罰鍰之方式及其他相關注意事項","operationId":"get_0ef37fbc_9cec_4d07_852f_78a9022ef707_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0ef37fbc-9cec-4d07-852f-78a9022ef707\/json":{"get":{"tags":["JSON"],"summary":"新北市民眾繳納違反環保法令行政罰鍰之方式及其他相關注意事項","description":"民眾繳納違反環保法令行政罰鍰之方式及其他相關注意事項","operationId":"get_0ef37fbc_9cec_4d07_852f_78a9022ef707_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0ef37fbc-9cec-4d07-852f-78a9022ef707\/xml":{"get":{"tags":["XML"],"summary":"新北市民眾繳納違反環保法令行政罰鍰之方式及其他相關注意事項","description":"民眾繳納違反環保法令行政罰鍰之方式及其他相關注意事項","operationId":"get_0ef37fbc_9cec_4d07_852f_78a9022ef707_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8c2288ba-0b37-4e2e-af55-bf723ba40edf\/csv":{"get":{"tags":["CSV"],"summary":"新北市清除及處理機構基本資料(新版)","description":"清除許可：     1.甲級：從事一般廢棄物、一般事業廢棄物及有害事業廢棄物清除業務。     2.乙級：從事一般廢棄物 及一般事業廢棄物清除業務。     3.丙級：從事每月總計九百公噸以下一般廢棄物及一般事業廢棄物清除業務。     處理許可：     1.甲級：從事一般廢棄物、一般事業廢棄物及有害事業廢棄物處理業務。     2.乙級：從事一般廢棄物及一般事業廢棄物處理業務。","operationId":"get_8c2288ba_0b37_4e2e_af55_bf723ba40edf_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8c2288ba-0b37-4e2e-af55-bf723ba40edf\/json":{"get":{"tags":["JSON"],"summary":"新北市清除及處理機構基本資料(新版)","description":"清除許可：     1.甲級：從事一般廢棄物、一般事業廢棄物及有害事業廢棄物清除業務。     2.乙級：從事一般廢棄物 及一般事業廢棄物清除業務。     3.丙級：從事每月總計九百公噸以下一般廢棄物及一般事業廢棄物清除業務。     處理許可：     1.甲級：從事一般廢棄物、一般事業廢棄物及有害事業廢棄物處理業務。     2.乙級：從事一般廢棄物及一般事業廢棄物處理業務。","operationId":"get_8c2288ba_0b37_4e2e_af55_bf723ba40edf_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8c2288ba-0b37-4e2e-af55-bf723ba40edf\/xml":{"get":{"tags":["XML"],"summary":"新北市清除及處理機構基本資料(新版)","description":"清除許可：     1.甲級：從事一般廢棄物、一般事業廢棄物及有害事業廢棄物清除業務。     2.乙級：從事一般廢棄物 及一般事業廢棄物清除業務。     3.丙級：從事每月總計九百公噸以下一般廢棄物及一般事業廢棄物清除業務。     處理許可：     1.甲級：從事一般廢棄物、一般事業廢棄物及有害事業廢棄物處理業務。     2.乙級：從事一般廢棄物及一般事業廢棄物處理業務。","operationId":"get_8c2288ba_0b37_4e2e_af55_bf723ba40edf_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/07395049-33fc-4540-baac-942a5647ab93\/csv":{"get":{"tags":["CSV"],"summary":"新北市營建工程空污費收費櫃檯","description":"新北市營建工程空污費收費櫃檯基本資料","operationId":"get_07395049_33fc_4540_baac_942a5647ab93_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/07395049-33fc-4540-baac-942a5647ab93\/json":{"get":{"tags":["JSON"],"summary":"新北市營建工程空污費收費櫃檯","description":"新北市營建工程空污費收費櫃檯基本資料","operationId":"get_07395049_33fc_4540_baac_942a5647ab93_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/07395049-33fc-4540-baac-942a5647ab93\/xml":{"get":{"tags":["XML"],"summary":"新北市營建工程空污費收費櫃檯","description":"新北市營建工程空污費收費櫃檯基本資料","operationId":"get_07395049_33fc_4540_baac_942a5647ab93_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c9fe0056-efb0-448d-9e2b-cc79f5330050\/csv":{"get":{"tags":["CSV"],"summary":"新北市環保旅宿","description":"新北市環保旅宿。","operationId":"get_c9fe0056_efb0_448d_9e2b_cc79f5330050_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c9fe0056-efb0-448d-9e2b-cc79f5330050\/json":{"get":{"tags":["JSON"],"summary":"新北市環保旅宿","description":"新北市環保旅宿。","operationId":"get_c9fe0056_efb0_448d_9e2b_cc79f5330050_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c9fe0056-efb0-448d-9e2b-cc79f5330050\/xml":{"get":{"tags":["XML"],"summary":"新北市環保旅宿","description":"新北市環保旅宿。","operationId":"get_c9fe0056_efb0_448d_9e2b_cc79f5330050_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e90d14f8-5995-4ebb-af19-8f8fd7d396c8\/csv":{"get":{"tags":["CSV"],"summary":"新北市環保餐廳","description":"新北市環保餐廳。","operationId":"get_e90d14f8_5995_4ebb_af19_8f8fd7d396c8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e90d14f8-5995-4ebb-af19-8f8fd7d396c8\/json":{"get":{"tags":["JSON"],"summary":"新北市環保餐廳","description":"新北市環保餐廳。","operationId":"get_e90d14f8_5995_4ebb_af19_8f8fd7d396c8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e90d14f8-5995-4ebb-af19-8f8fd7d396c8\/xml":{"get":{"tags":["XML"],"summary":"新北市環保餐廳","description":"新北市環保餐廳。","operationId":"get_e90d14f8_5995_4ebb_af19_8f8fd7d396c8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cad88b80-8230-48d4-a8d4-ce478954fddf\/csv":{"get":{"tags":["CSV"],"summary":"新北市環境及交通噪音監測站地點","description":"人工交通噪音監測站及環境噪音監測站地點","operationId":"get_cad88b80_8230_48d4_a8d4_ce478954fddf_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/cad88b80-8230-48d4-a8d4-ce478954fddf\/json":{"get":{"tags":["JSON"],"summary":"新北市環境及交通噪音監測站地點","description":"人工交通噪音監測站及環境噪音監測站地點","operationId":"get_cad88b80_8230_48d4_a8d4_ce478954fddf_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/cad88b80-8230-48d4-a8d4-ce478954fddf\/xml":{"get":{"tags":["XML"],"summary":"新北市環境及交通噪音監測站地點","description":"人工交通噪音監測站及環境噪音監測站地點","operationId":"get_cad88b80_8230_48d4_a8d4_ce478954fddf_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7af5b5ef-e4e3-496d-aac7-8a93a8e3b308\/csv":{"get":{"tags":["CSV"],"summary":"新北市環境教育設施場所","description":"目前新北市轄內通過行政院環境保護署設施場所認證共計18處，提供環境教育專業服務及趣味活動，具有不同的豐富自然或人文特色的學習環境。","operationId":"get_7af5b5ef_e4e3_496d_aac7_8a93a8e3b308_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7af5b5ef-e4e3-496d-aac7-8a93a8e3b308\/json":{"get":{"tags":["JSON"],"summary":"新北市環境教育設施場所","description":"目前新北市轄內通過行政院環境保護署設施場所認證共計18處，提供環境教育專業服務及趣味活動，具有不同的豐富自然或人文特色的學習環境。","operationId":"get_7af5b5ef_e4e3_496d_aac7_8a93a8e3b308_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7af5b5ef-e4e3-496d-aac7-8a93a8e3b308\/xml":{"get":{"tags":["XML"],"summary":"新北市環境教育設施場所","description":"目前新北市轄內通過行政院環境保護署設施場所認證共計18處，提供環境教育專業服務及趣味活動，具有不同的豐富自然或人文特色的學習環境。","operationId":"get_7af5b5ef_e4e3_496d_aac7_8a93a8e3b308_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f84b36dd-be73-4bd7-8aaf-3c83948e0945\/csv":{"get":{"tags":["CSV"],"summary":"新北市環境用藥販賣業者名單","description":"新北市內合格設置的環境用藥販賣業者名單","operationId":"get_f84b36dd_be73_4bd7_8aaf_3c83948e0945_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f84b36dd-be73-4bd7-8aaf-3c83948e0945\/json":{"get":{"tags":["JSON"],"summary":"新北市環境用藥販賣業者名單","description":"新北市內合格設置的環境用藥販賣業者名單","operationId":"get_f84b36dd_be73_4bd7_8aaf_3c83948e0945_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f84b36dd-be73-4bd7-8aaf-3c83948e0945\/xml":{"get":{"tags":["XML"],"summary":"新北市環境用藥販賣業者名單","description":"新北市內合格設置的環境用藥販賣業者名單","operationId":"get_f84b36dd_be73_4bd7_8aaf_3c83948e0945_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0bb279b7-592d-4a8b-b128-24258ced5e60\/csv":{"get":{"tags":["CSV"],"summary":"新北市病媒防治業者名單","description":"新北市內合格設置的病媒防治業者名單","operationId":"get_0bb279b7_592d_4a8b_b128_24258ced5e60_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0bb279b7-592d-4a8b-b128-24258ced5e60\/json":{"get":{"tags":["JSON"],"summary":"新北市病媒防治業者名單","description":"新北市內合格設置的病媒防治業者名單","operationId":"get_0bb279b7_592d_4a8b_b128_24258ced5e60_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0bb279b7-592d-4a8b-b128-24258ced5e60\/xml":{"get":{"tags":["XML"],"summary":"新北市病媒防治業者名單","description":"新北市內合格設置的病媒防治業者名單","operationId":"get_0bb279b7_592d_4a8b_b128_24258ced5e60_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a57c5c06-5066-4452-b2f2-9cfc95d4291d\/csv":{"get":{"tags":["CSV"],"summary":"新北市空氣品質人工監測站位置","description":"空氣品質人工監測站位置及監測項目","operationId":"get_a57c5c06_5066_4452_b2f2_9cfc95d4291d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a57c5c06-5066-4452-b2f2-9cfc95d4291d\/json":{"get":{"tags":["JSON"],"summary":"新北市空氣品質人工監測站位置","description":"空氣品質人工監測站位置及監測項目","operationId":"get_a57c5c06_5066_4452_b2f2_9cfc95d4291d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a57c5c06-5066-4452-b2f2-9cfc95d4291d\/xml":{"get":{"tags":["XML"],"summary":"新北市空氣品質人工監測站位置","description":"空氣品質人工監測站位置及監測項目","operationId":"get_a57c5c06_5066_4452_b2f2_9cfc95d4291d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/42d5f96b-c6f6-445a-a259-48c270b384e6\/csv":{"get":{"tags":["CSV"],"summary":"新北市空氣品質淨化區","description":"新北市空氣品質淨化區基本資料","operationId":"get_42d5f96b_c6f6_445a_a259_48c270b384e6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/42d5f96b-c6f6-445a-a259-48c270b384e6\/json":{"get":{"tags":["JSON"],"summary":"新北市空氣品質淨化區","description":"新北市空氣品質淨化區基本資料","operationId":"get_42d5f96b_c6f6_445a_a259_48c270b384e6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/42d5f96b-c6f6-445a-a259-48c270b384e6\/xml":{"get":{"tags":["XML"],"summary":"新北市空氣品質淨化區","description":"新北市空氣品質淨化區基本資料","operationId":"get_42d5f96b_c6f6_445a_a259_48c270b384e6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e413ec2b-986e-46d0-8cbd-2223cba8ca06\/csv":{"get":{"tags":["CSV"],"summary":"新北市空氣品質資訊","description":"提供新北市內三峽測站的空氣品質相關資訊。 ","operationId":"get_e413ec2b_986e_46d0_8cbd_2223cba8ca06_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e413ec2b-986e-46d0-8cbd-2223cba8ca06\/json":{"get":{"tags":["JSON"],"summary":"新北市空氣品質資訊","description":"提供新北市內三峽測站的空氣品質相關資訊。 ","operationId":"get_e413ec2b_986e_46d0_8cbd_2223cba8ca06_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e413ec2b-986e-46d0-8cbd-2223cba8ca06\/xml":{"get":{"tags":["XML"],"summary":"新北市空氣品質資訊","description":"提供新北市內三峽測站的空氣品質相關資訊。 ","operationId":"get_e413ec2b_986e_46d0_8cbd_2223cba8ca06_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6ccd0274-0c09-43b0-98fc-4d5222a71e8b\/csv":{"get":{"tags":["CSV"],"summary":"新北市綠色商店","description":"新北市綠色商店。","operationId":"get_6ccd0274_0c09_43b0_98fc_4d5222a71e8b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6ccd0274-0c09-43b0-98fc-4d5222a71e8b\/json":{"get":{"tags":["JSON"],"summary":"新北市綠色商店","description":"新北市綠色商店。","operationId":"get_6ccd0274_0c09_43b0_98fc_4d5222a71e8b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6ccd0274-0c09-43b0-98fc-4d5222a71e8b\/xml":{"get":{"tags":["XML"],"summary":"新北市綠色商店","description":"新北市綠色商店。","operationId":"get_6ccd0274_0c09_43b0_98fc_4d5222a71e8b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ccfa18a7-b045-49cf-8940-0e5f80a9f1a3\/csv":{"get":{"tags":["CSV"],"summary":"新北市航空噪音管制區劃定範圍","description":"1.臺灣桃園國際機場之航空噪音防制區。\r\n2.交通部民用航空局臺北國際航空站之航空噪音防制區。\r\n","operationId":"get_ccfa18a7_b045_49cf_8940_0e5f80a9f1a3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ccfa18a7-b045-49cf-8940-0e5f80a9f1a3\/json":{"get":{"tags":["JSON"],"summary":"新北市航空噪音管制區劃定範圍","description":"1.臺灣桃園國際機場之航空噪音防制區。\r\n2.交通部民用航空局臺北國際航空站之航空噪音防制區。\r\n","operationId":"get_ccfa18a7_b045_49cf_8940_0e5f80a9f1a3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ccfa18a7-b045-49cf-8940-0e5f80a9f1a3\/xml":{"get":{"tags":["XML"],"summary":"新北市航空噪音管制區劃定範圍","description":"1.臺灣桃園國際機場之航空噪音防制區。\r\n2.交通部民用航空局臺北國際航空站之航空噪音防制區。\r\n","operationId":"get_ccfa18a7_b045_49cf_8940_0e5f80a9f1a3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d7330ae1-5869-4ee7-8821-03b1d7d13822\/csv":{"get":{"tags":["CSV"],"summary":"新北市轄內固定污染源空氣污染物監測數據-即時","description":"針對固定污染源空氣污染物連續自動監測設施(CEMS)監測數據-即時","operationId":"get_d7330ae1_5869_4ee7_8821_03b1d7d13822_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d7330ae1-5869-4ee7-8821-03b1d7d13822\/json":{"get":{"tags":["JSON"],"summary":"新北市轄內固定污染源空氣污染物監測數據-即時","description":"針對固定污染源空氣污染物連續自動監測設施(CEMS)監測數據-即時","operationId":"get_d7330ae1_5869_4ee7_8821_03b1d7d13822_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d7330ae1-5869-4ee7-8821-03b1d7d13822\/xml":{"get":{"tags":["XML"],"summary":"新北市轄內固定污染源空氣污染物監測數據-即時","description":"針對固定污染源空氣污染物連續自動監測設施(CEMS)監測數據-即時","operationId":"get_d7330ae1_5869_4ee7_8821_03b1d7d13822_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a0660faf-c2ae-41ce-b390-bb81c51d1ecb\/csv":{"get":{"tags":["CSV"],"summary":"新北市轄內固定污染源空氣污染物監測數據-日報","description":"針對固定污染源空氣污染物連續自動監測設施(CEMS)監測數據-日報","operationId":"get_a0660faf_c2ae_41ce_b390_bb81c51d1ecb_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a0660faf-c2ae-41ce-b390-bb81c51d1ecb\/json":{"get":{"tags":["JSON"],"summary":"新北市轄內固定污染源空氣污染物監測數據-日報","description":"針對固定污染源空氣污染物連續自動監測設施(CEMS)監測數據-日報","operationId":"get_a0660faf_c2ae_41ce_b390_bb81c51d1ecb_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a0660faf-c2ae-41ce-b390-bb81c51d1ecb\/xml":{"get":{"tags":["XML"],"summary":"新北市轄內固定污染源空氣污染物監測數據-日報","description":"針對固定污染源空氣污染物連續自動監測設施(CEMS)監測數據-日報","operationId":"get_a0660faf_c2ae_41ce_b390_bb81c51d1ecb_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0f0967bd-3c42-4fd4-80ac-786509c315f3\/csv":{"get":{"tags":["CSV"],"summary":"新北市轄內設置空氣污染物監測設施之固定污染源","description":"新北市轄內設置空氣污染物監測設施之固定污染源。","operationId":"get_0f0967bd_3c42_4fd4_80ac_786509c315f3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"s
[...]
