{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/1eeec6a8-8fd3-43f4-84a1-a89f38d4a4cd\/csv":{"get":{"tags":["CSV"],"summary":"110年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"110年新北市政府查獲涉嫌違反菸酒管理法案件月報表。","operationId":"get_1eeec6a8_8fd3_43f4_84a1_a89f38d4a4cd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1eeec6a8-8fd3-43f4-84a1-a89f38d4a4cd\/json":{"get":{"tags":["JSON"],"summary":"110年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"110年新北市政府查獲涉嫌違反菸酒管理法案件月報表。","operationId":"get_1eeec6a8_8fd3_43f4_84a1_a89f38d4a4cd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1eeec6a8-8fd3-43f4-84a1-a89f38d4a4cd\/xml":{"get":{"tags":["XML"],"summary":"110年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"110年新北市政府查獲涉嫌違反菸酒管理法案件月報表。","operationId":"get_1eeec6a8_8fd3_43f4_84a1_a89f38d4a4cd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/45d3d8fc-03ce-40ec-ba2f-977edfbe8d8f\/csv":{"get":{"tags":["CSV"],"summary":"111年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"新北市政府查獲涉嫌違反菸酒管理法案件月報表(111年)","operationId":"get_45d3d8fc_03ce_40ec_ba2f_977edfbe8d8f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/45d3d8fc-03ce-40ec-ba2f-977edfbe8d8f\/json":{"get":{"tags":["JSON"],"summary":"111年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"新北市政府查獲涉嫌違反菸酒管理法案件月報表(111年)","operationId":"get_45d3d8fc_03ce_40ec_ba2f_977edfbe8d8f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/45d3d8fc-03ce-40ec-ba2f-977edfbe8d8f\/xml":{"get":{"tags":["XML"],"summary":"111年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"新北市政府查獲涉嫌違反菸酒管理法案件月報表(111年)","operationId":"get_45d3d8fc_03ce_40ec_ba2f_977edfbe8d8f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/68c53b81-fdab-46d6-b1a6-3ccc1a340b98\/csv":{"get":{"tags":["CSV"],"summary":"112年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"新北市政府查獲涉嫌違反菸酒管理法案件月報表","operationId":"get_68c53b81_fdab_46d6_b1a6_3ccc1a340b98_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/68c53b81-fdab-46d6-b1a6-3ccc1a340b98\/json":{"get":{"tags":["JSON"],"summary":"112年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"新北市政府查獲涉嫌違反菸酒管理法案件月報表","operationId":"get_68c53b81_fdab_46d6_b1a6_3ccc1a340b98_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/68c53b81-fdab-46d6-b1a6-3ccc1a340b98\/xml":{"get":{"tags":["XML"],"summary":"112年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"新北市政府查獲涉嫌違反菸酒管理法案件月報表","operationId":"get_68c53b81_fdab_46d6_b1a6_3ccc1a340b98_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7d25104a-5417-41fc-a9a4-c7016cacc214\/csv":{"get":{"tags":["CSV"],"summary":"113年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"新北市政府查獲涉嫌違反菸酒管理法案件月報表","operationId":"get_7d25104a_5417_41fc_a9a4_c7016cacc214_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7d25104a-5417-41fc-a9a4-c7016cacc214\/json":{"get":{"tags":["JSON"],"summary":"113年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"新北市政府查獲涉嫌違反菸酒管理法案件月報表","operationId":"get_7d25104a_5417_41fc_a9a4_c7016cacc214_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7d25104a-5417-41fc-a9a4-c7016cacc214\/xml":{"get":{"tags":["XML"],"summary":"113年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"新北市政府查獲涉嫌違反菸酒管理法案件月報表","operationId":"get_7d25104a_5417_41fc_a9a4_c7016cacc214_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/92875a6d-eaa7-47a4-a494-514fa9ee15a6\/csv":{"get":{"tags":["CSV"],"summary":"114年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"新北市政府查獲涉嫌違反菸酒管理法案件月報表","operationId":"get_92875a6d_eaa7_47a4_a494_514fa9ee15a6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/92875a6d-eaa7-47a4-a494-514fa9ee15a6\/json":{"get":{"tags":["JSON"],"summary":"114年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"新北市政府查獲涉嫌違反菸酒管理法案件月報表","operationId":"get_92875a6d_eaa7_47a4_a494_514fa9ee15a6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/92875a6d-eaa7-47a4-a494-514fa9ee15a6\/xml":{"get":{"tags":["XML"],"summary":"114年新北市政府查獲涉嫌違反菸酒管理法案件月報表","description":"新北市政府查獲涉嫌違反菸酒管理法案件月報表","operationId":"get_92875a6d_eaa7_47a4_a494_514fa9ee15a6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3c32c459-2c26-46c4-bb83-98e6a5e2fa32\/csv":{"get":{"tags":["CSV"],"summary":"114新北市iMAP可供認養綠美化土地環境主題","description":"新北市iMAP可供認養綠美化土地環境主題","operationId":"get_3c32c459_2c26_46c4_bb83_98e6a5e2fa32_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3c32c459-2c26-46c4-bb83-98e6a5e2fa32\/json":{"get":{"tags":["JSON"],"summary":"114新北市iMAP可供認養綠美化土地環境主題","description":"新北市iMAP可供認養綠美化土地環境主題","operationId":"get_3c32c459_2c26_46c4_bb83_98e6a5e2fa32_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3c32c459-2c26-46c4-bb83-98e6a5e2fa32\/xml":{"get":{"tags":["XML"],"summary":"114新北市iMAP可供認養綠美化土地環境主題","description":"新北市iMAP可供認養綠美化土地環境主題","operationId":"get_3c32c459_2c26_46c4_bb83_98e6a5e2fa32_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5d3909e3-0f05-48a5-ac35-1a34f5da62ca\/csv":{"get":{"tags":["CSV"],"summary":"契稅稅源統計月報表","description":"提供本市各行政區民國102年1月起每月之契稅稅源統計資料","operationId":"get_5d3909e3_0f05_48a5_ac35_1a34f5da62ca_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5d3909e3-0f05-48a5-ac35-1a34f5da62ca\/json":{"get":{"tags":["JSON"],"summary":"契稅稅源統計月報表","description":"提供本市各行政區民國102年1月起每月之契稅稅源統計資料","operationId":"get_5d3909e3_0f05_48a5_ac35_1a34f5da62ca_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5d3909e3-0f05-48a5-ac35-1a34f5da62ca\/xml":{"get":{"tags":["XML"],"summary":"契稅稅源統計月報表","description":"提供本市各行政區民國102年1月起每月之契稅稅源統計資料","operationId":"get_5d3909e3_0f05_48a5_ac35_1a34f5da62ca_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f6180a57-d928-4193-831c-85ab8bf61ad9\/csv":{"get":{"tags":["CSV"],"summary":"市有土地參加都市更新案件最新進度表","description":"市有土地參加都市更新案件進度表，其資料包含地區、案名、計畫階段、土地面積等資料。\r\n\t\t\t\t\t","operationId":"get_f6180a57_d928_4193_831c_85ab8bf61ad9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/f6180a57-d928-4193-831c-85ab8bf61ad9\/json":{"get":{"tags":["JSON"],"summary":"市有土地參加都市更新案件最新進度表","description":"市有土地參加都市更新案件進度表，其資料包含地區、案名、計畫階段、土地面積等資料。\r\n\t\t\t\t\t","operationId":"get_f6180a57_d928_4193_831c_85ab8bf61ad9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/f6180a57-d928-4193-831c-85ab8bf61ad9\/xml":{"get":{"tags":["XML"],"summary":"市有土地參加都市更新案件最新進度表","description":"市有土地參加都市更新案件進度表，其資料包含地區、案名、計畫階段、土地面積等資料。\r\n\t\t\t\t\t","operationId":"get_f6180a57_d928_4193_831c_85ab8bf61ad9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/efb47547-a26b-4126-a0d7-133c1a48cbe3\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年度徵起之國稅、縣市稅分成數額表","description":"新北市102年度徵起之國稅、縣市稅分成數額表。","operationId":"get_efb47547_a26b_4126_a0d7_133c1a48cbe3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/efb47547-a26b-4126-a0d7-133c1a48cbe3\/json":{"get":{"tags":["JSON"],"summary":"新北市102年度徵起之國稅、縣市稅分成數額表","description":"新北市102年度徵起之國稅、縣市稅分成數額表。","operationId":"get_efb47547_a26b_4126_a0d7_133c1a48cbe3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/efb47547-a26b-4126-a0d7-133c1a48cbe3\/xml":{"get":{"tags":["XML"],"summary":"新北市102年度徵起之國稅、縣市稅分成數額表","description":"新北市102年度徵起之國稅、縣市稅分成數額表。","operationId":"get_efb47547_a26b_4126_a0d7_133c1a48cbe3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/54af2fa9-82cd-459f-ba34-785c27f79252\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年度預算數及執行數共同比（執行率）","description":"新北市102年度預算數及執行數共同比（執行率）。","operationId":"get_54af2fa9_82cd_459f_ba34_785c27f79252_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/54af2fa9-82cd-459f-ba34-785c27f79252\/json":{"get":{"tags":["JSON"],"summary":"新北市102年度預算數及執行數共同比（執行率）","description":"新北市102年度預算數及執行數共同比（執行率）。","operationId":"get_54af2fa9_82cd_459f_ba34_785c27f79252_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/54af2fa9-82cd-459f-ba34-785c27f79252\/xml":{"get":{"tags":["XML"],"summary":"新北市102年度預算數及執行數共同比（執行率）","description":"新北市102年度預算數及執行數共同比（執行率）。","operationId":"get_54af2fa9_82cd_459f_ba34_785c27f79252_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/40ce8aa3-f079-4f34-b2b5-280c4e78982d\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年至104年地價稅稅額計算公式","description":"提供新北市102年至104年地價稅稅額計算公式\r\n","operationId":"get_40ce8aa3_f079_4f34_b2b5_280c4e78982d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/40ce8aa3-f079-4f34-b2b5-280c4e78982d\/json":{"get":{"tags":["JSON"],"summary":"新北市102年至104年地價稅稅額計算公式","description":"提供新北市102年至104年地價稅稅額計算公式\r\n","operationId":"get_40ce8aa3_f079_4f34_b2b5_280c4e78982d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/40ce8aa3-f079-4f34-b2b5-280c4e78982d\/xml":{"get":{"tags":["XML"],"summary":"新北市102年至104年地價稅稅額計算公式","description":"提供新北市102年至104年地價稅稅額計算公式\r\n","operationId":"get_40ce8aa3_f079_4f34_b2b5_280c4e78982d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/811737ee-b443-4cc8-b07d-041d5afb8c74\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年度徵起之國稅、縣市稅分成數額表","description":"新北市103年度徵起之國稅、縣市稅分成數額表。","operationId":"get_811737ee_b443_4cc8_b07d_041d5afb8c74_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/811737ee-b443-4cc8-b07d-041d5afb8c74\/json":{"get":{"tags":["JSON"],"summary":"新北市103年度徵起之國稅、縣市稅分成數額表","description":"新北市103年度徵起之國稅、縣市稅分成數額表。","operationId":"get_811737ee_b443_4cc8_b07d_041d5afb8c74_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/811737ee-b443-4cc8-b07d-041d5afb8c74\/xml":{"get":{"tags":["XML"],"summary":"新北市103年度徵起之國稅、縣市稅分成數額表","description":"新北市103年度徵起之國稅、縣市稅分成數額表。","operationId":"get_811737ee_b443_4cc8_b07d_041d5afb8c74_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/99b918d6-7063-4524-ac79-19ad6372b8fd\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年度預算數及執行數共同比（執行率）","description":"新北市103年度預算數及執行數共同比（執行率）。","operationId":"get_99b918d6_7063_4524_ac79_19ad6372b8fd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/99b918d6-7063-4524-ac79-19ad6372b8fd\/json":{"get":{"tags":["JSON"],"summary":"新北市103年度預算數及執行數共同比（執行率）","description":"新北市103年度預算數及執行數共同比（執行率）。","operationId":"get_99b918d6_7063_4524_ac79_19ad6372b8fd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/99b918d6-7063-4524-ac79-19ad6372b8fd\/xml":{"get":{"tags":["XML"],"summary":"新北市103年度預算數及執行數共同比（執行率）","description":"新北市103年度預算數及執行數共同比（執行率）。","operationId":"get_99b918d6_7063_4524_ac79_19ad6372b8fd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3c1dd61a-0b2f-4b67-b301-164beb2e406c\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年度徵起之國稅、縣市稅分成數額表","description":"新北市104年度徵起之國稅、縣市稅分成數額表。","operationId":"get_3c1dd61a_0b2f_4b67_b301_164beb2e406c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3c1dd61a-0b2f-4b67-b301-164beb2e406c\/json":{"get":{"tags":["JSON"],"summary":"新北市104年度徵起之國稅、縣市稅分成數額表","description":"新北市104年度徵起之國稅、縣市稅分成數額表。","operationId":"get_3c1dd61a_0b2f_4b67_b301_164beb2e406c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3c1dd61a-0b2f-4b67-b301-164beb2e406c\/xml":{"get":{"tags":["XML"],"summary":"新北市104年度徵起之國稅、縣市稅分成數額表","description":"新北市104年度徵起之國稅、縣市稅分成數額表。","operationId":"get_3c1dd61a_0b2f_4b67_b301_164beb2e406c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8ee3fd44-9e70-44f7-bf1c-f4aad6362f98\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年度預算數及執行數共同比（執行率）","description":"新北市104年度預算數及執行數共同比（執行率）。","operationId":"get_8ee3fd44_9e70_44f7_bf1c_f4aad6362f98_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8ee3fd44-9e70-44f7-bf1c-f4aad6362f98\/json":{"get":{"tags":["JSON"],"summary":"新北市104年度預算數及執行數共同比（執行率）","description":"新北市104年度預算數及執行數共同比（執行率）。","operationId":"get_8ee3fd44_9e70_44f7_bf1c_f4aad6362f98_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8ee3fd44-9e70-44f7-bf1c-f4aad6362f98\/xml":{"get":{"tags":["XML"],"summary":"新北市104年度預算數及執行數共同比（執行率）","description":"新北市104年度預算數及執行數共同比（執行率）。","operationId":"get_8ee3fd44_9e70_44f7_bf1c_f4aad6362f98_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ed647434-b6c3-4647-b3e1-8dda4e5e8c72\/csv":{"get":{"tags":["CSV"],"summary":"新北市105年度徵起之國稅、縣市稅分成數額表","description":"新北市105年度徵起之國稅、縣市稅分成數額表。","operationId":"get_ed647434_b6c3_4647_b3e1_8dda4e5e8c72_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ed647434-b6c3-4647-b3e1-8dda4e5e8c72\/json":{"get":{"tags":["JSON"],"summary":"新北市105年度徵起之國稅、縣市稅分成數額表","description":"新北市105年度徵起之國稅、縣市稅分成數額表。","operationId":"get_ed647434_b6c3_4647_b3e1_8dda4e5e8c72_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ed647434-b6c3-4647-b3e1-8dda4e5e8c72\/xml":{"get":{"tags":["XML"],"summary":"新北市105年度徵起之國稅、縣市稅分成數額表","description":"新北市105年度徵起之國稅、縣市稅分成數額表。","operationId":"get_ed647434_b6c3_4647_b3e1_8dda4e5e8c72_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ee196c99-91af-4cca-a4f0-baedfb9bf4c8\/csv":{"get":{"tags":["CSV"],"summary":"新北市 105年度預算數及執行數共同比（執行率）","description":"新北市 105年度預算數及執行數共同比（執行率）。","operationId":"get_ee196c99_91af_4cca_a4f0_baedfb9bf4c8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ee196c99-91af-4cca-a4f0-baedfb9bf4c8\/json":{"get":{"tags":["JSON"],"summary":"新北市 105年度預算數及執行數共同比（執行率）","description":"新北市 105年度預算數及執行數共同比（執行率）。","operationId":"get_ee196c99_91af_4cca_a4f0_baedfb9bf4c8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ee196c99-91af-4cca-a4f0-baedfb9bf4c8\/xml":{"get":{"tags":["XML"],"summary":"新北市 105年度預算數及執行數共同比（執行率）","description":"新北市 105年度預算數及執行數共同比（執行率）。","operationId":"get_ee196c99_91af_4cca_a4f0_baedfb9bf4c8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/746f7a91-9a93-4464-88af-62b84acefd6b\/csv":{"get":{"tags":["CSV"],"summary":"新北市105年至106年地價稅稅額計算公式","description":"提供新北市105年至106年地價稅稅額計算公式","operationId":"get_746f7a91_9a93_4464_88af_62b84acefd6b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/746f7a91-9a93-4464-88af-62b84acefd6b\/json":{"get":{"tags":["JSON"],"summary":"新北市105年至106年地價稅稅額計算公式","description":"提供新北市105年至106年地價稅稅額計算公式","operationId":"get_746f7a91_9a93_4464_88af_62b84acefd6b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/746f7a91-9a93-4464-88af-62b84acefd6b\/xml":{"get":{"tags":["XML"],"summary":"新北市105年至106年地價稅稅額計算公式","description":"提供新北市105年至106年地價稅稅額計算公式","operationId":"get_746f7a91_9a93_4464_88af_62b84acefd6b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ed7c61a6-cd83-49f8-a140-7f3790cb0701\/csv":{"get":{"tags":["CSV"],"summary":"新北市 106 年度徵起之國稅、縣市稅分成數額表","description":"新北市106年度徵起之國稅、縣市稅分成數額表","operationId":"get_ed7c61a6_cd83_49f8_a140_7f3790cb0701_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ed7c61a6-cd83-49f8-a140-7f3790cb0701\/json":{"get":{"tags":["JSON"],"summary":"新北市 106 年度徵起之國稅、縣市稅分成數額表","description":"新北市106年度徵起之國稅、縣市稅分成數額表","operationId":"get_ed7c61a6_cd83_49f8_a140_7f3790cb0701_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ed7c61a6-cd83-49f8-a140-7f3790cb0701\/xml":{"get":{"tags":["XML"],"summary":"新北市 106 年度徵起之國稅、縣市稅分成數額表","description":"新北市106年度徵起之國稅、縣市稅分成數額表","operationId":"get_ed7c61a6_cd83_49f8_a140_7f3790cb0701_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a8b1a519-9d40-4bd5-83e5-523b95a203cc\/csv":{"get":{"tags":["CSV"],"summary":"新北市106年度預算數及執行數共同比（執行率）","description":"新北市106年度預算數及執行數共同比（執行率）。","operationId":"get_a8b1a519_9d40_4bd5_83e5_523b95a203cc_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a8b1a519-9d40-4bd5-83e5-523b95a203cc\/json":{"get":{"tags":["JSON"],"summary":"新北市106年度預算數及執行數共同比（執行率）","description":"新北市106年度預算數及執行數共同比（執行率）。","operationId":"get_a8b1a519_9d40_4bd5_83e5_523b95a203cc_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a8b1a519-9d40-4bd5-83e5-523b95a203cc\/xml":{"get":{"tags":["XML"],"summary":"新北市106年度預算數及執行數共同比（執行率）","description":"新北市106年度預算數及執行數共同比（執行率）。","operationId":"get_a8b1a519_9d40_4bd5_83e5_523b95a203cc_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/237abfd6-b273-40a1-9a85-c8ad805b465c\/csv":{"get":{"tags":["CSV"],"summary":"新北市107年度徵起之國稅、縣市稅分成數額表","description":"新北市107年度徵起之國稅、縣市稅分成數額表。","operationId":"get_237abfd6_b273_40a1_9a85_c8ad805b465c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/237abfd6-b273-40a1-9a85-c8ad805b465c\/json":{"get":{"tags":["JSON"],"summary":"新北市107年度徵起之國稅、縣市稅分成數額表","description":"新北市107年度徵起之國稅、縣市稅分成數額表。","operationId":"get_237abfd6_b273_40a1_9a85_c8ad805b465c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/237abfd6-b273-40a1-9a85-c8ad805b465c\/xml":{"get":{"tags":["XML"],"summary":"新北市107年度徵起之國稅、縣市稅分成數額表","description":"新北市107年度徵起之國稅、縣市稅分成數額表。","operationId":"get_237abfd6_b273_40a1_9a85_c8ad805b465c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fd97f282-9ed1-4555-9472-47920a4c1e1f\/csv":{"get":{"tags":["CSV"],"summary":"新北市107年度預算數及執行數共同比（執行率）","description":"預算數及執行數共同比，其資料包含項目名稱、預算數、累計實徵數(單位：億元)、累計實收數(單位：億元)等統計資訊。","operationId":"get_fd97f282_9ed1_4555_9472_47920a4c1e1f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fd97f282-9ed1-4555-9472-47920a4c1e1f\/json":{"get":{"tags":["JSON"],"summary":"新北市107年度預算數及執行數共同比（執行率）","description":"預算數及執行數共同比，其資料包含項目名稱、預算數、累計實徵數(單位：億元)、累計實收數(單位：億元)等統計資訊。","operationId":"get_fd97f282_9ed1_4555_9472_47920a4c1e1f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fd97f282-9ed1-4555-9472-47920a4c1e1f\/xml":{"get":{"tags":["XML"],"summary":"新北市107年度預算數及執行數共同比（執行率）","description":"預算數及執行數共同比，其資料包含項目名稱、預算數、累計實徵數(單位：億元)、累計實收數(單位：億元)等統計資訊。","operationId":"get_fd97f282_9ed1_4555_9472_47920a4c1e1f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0b9dea2b-1384-4ebe-97db-a137deb89584\/csv":{"get":{"tags":["CSV"],"summary":"新北市107年至108年地價稅稅額計算公式","description":"提供新北市107年至108年地價稅稅額計算公式","operationId":"get_0b9dea2b_1384_4ebe_97db_a137deb89584_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0b9dea2b-1384-4ebe-97db-a137deb89584\/json":{"get":{"tags":["JSON"],"summary":"新北市107年至108年地價稅稅額計算公式","description":"提供新北市107年至108年地價稅稅額計算公式","operationId":"get_0b9dea2b_1384_4ebe_97db_a137deb89584_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0b9dea2b-1384-4ebe-97db-a137deb89584\/xml":{"get":{"tags":["XML"],"summary":"新北市107年至108年地價稅稅額計算公式","description":"提供新北市107年至108年地價稅稅額計算公式","operationId":"get_0b9dea2b_1384_4ebe_97db_a137deb89584_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a7677334-6cdd-4565-a804-04b5e383e2df\/csv":{"get":{"tags":["CSV"],"summary":"新北市108年度徵起之國稅、縣市稅分成數額表","description":"新北市108年度徵起之國稅、縣市稅分成數額表。","operationId":"get_a7677334_6cdd_4565_a804_04b5e383e2df_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a7677334-6cdd-4565-a804-04b5e383e2df\/json":{"get":{"tags":["JSON"],"summary":"新北市108年度徵起之國稅、縣市稅分成數額表","description":"新北市108年度徵起之國稅、縣市稅分成數額表。","operationId":"get_a7677334_6cdd_4565_a804_04b5e383e2df_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a7677334-6cdd-4565-a804-04b5e383e2df\/xml":{"get":{"tags":["XML"],"summary":"新北市108年度徵起之國稅、縣市稅分成數額表","description":"新北市108年度徵起之國稅、縣市稅分成數額表。","operationId":"get_a7677334_6cdd_4565_a804_04b5e383e2df_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bf839041-91ae-4fb5-ac93-deef66fc66db\/csv":{"get":{"tags":["CSV"],"summary":"新北市108年度預算數及執行數共同比（執行率）","description":"預算數及執行數共同比，其資料包含項目名稱、預算數、累計實徵數(單位：億元)、累計實收數(單位：億元)等統計資訊。","operationId":"get_bf839041_91ae_4fb5_ac93_deef66fc66db_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bf839041-91ae-4fb5-ac93-deef66fc66db\/json":{"get":{"tags":["JSON"],"summary":"新北市108年度預算數及執行數共同比（執行率）","description":"預算數及執行數共同比，其資料包含項目名稱、預算數、累計實徵數(單位：億元)、累計實收數(單位：億元)等統計資訊。","operationId":"get_bf839041_91ae_4fb5_ac93_deef66fc66db_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bf839041-91ae-4fb5-ac93-deef66fc66db\/xml":{"get":{"tags":["XML"],"summary":"新北市108年度預算數及執行數共同比（執行率）","description":"預算數及執行數共同比，其資料包含項目名稱、預算數、累計實徵數(單位：億元)、累計實收數(單位：億元)等統計資訊。","operationId":"get_bf839041_91ae_4fb5_ac93_deef66fc66db_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/481807e7-68df-4f95-896a-8d7afce72a2e\/csv":{"get":{"tags":["CSV"],"summary":"新北市109年度徵起之國稅、縣市稅分成數額表","description":"新北市109年度徵起之國稅、縣市稅分成數額表。","operationId":"get_481807e7_68df_4f95_896a_8d7afce72a2e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/481807e7-68df-4f95-896a-8d7afce72a2e\/json":{"get":{"tags":["JSON"],"summary":"新北市109年度徵起之國稅、縣市稅分成數額表","description":"新北市109年度徵起之國稅、縣市稅分成數額表。","operationId":"get_481807e7_68df_4f95_896a_8d7afce72a2e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/481807e7-68df-4f95-896a-8d7afce72a2e\/xml":{"get":{"tags":["XML"],"summary":"新北市109年度徵起之國稅、縣市稅分成數額表","description":"新北市109年度徵起之國稅、縣市稅分成數額表。","operationId":"get_481807e7_68df_4f95_896a_8d7afce72a2e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5104150e-069b-413f-acfd-5594da4bc2fb\/csv":{"get":{"tags":["CSV"],"summary":"新北市109年度預算數及執行數共同比（執行率）","description":"新北市109年度預算數及執行數共同比（執行率）。","operationId":"get_5104150e_069b_413f_acfd_5594da4bc2fb_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5104150e-069b-413f-acfd-5594da4bc2fb\/json":{"get":{"tags":["JSON"],"summary":"新北市109年度預算數及執行數共同比（執行率）","description":"新北市109年度預算數及執行數共同比（執行率）。","operationId":"get_5104150e_069b_413f_acfd_5594da4bc2fb_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5104150e-069b-413f-acfd-5594da4bc2fb\/xml":{"get":{"tags":["XML"],"summary":"新北市109年度預算數及執行數共同比（執行率）","description":"新北市109年度預算數及執行數共同比（執行率）。","operationId":"get_5104150e_069b_413f_acfd_5594da4bc2fb_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/824a6fb1-b47c-44a9-a90d-eba727f4ee72\/csv":{"get":{"tags":["CSV"],"summary":"新北市109年至110年地價稅稅額計算公式","description":"提供新北市109年至110年地價稅稅額計算公式","operationId":"get_824a6fb1_b47c_44a9_a90d_eba727f4ee72_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/824a6fb1-b47c-44a9-a90d-eba727f4ee72\/json":{"get":{"tags":["JSON"],"summary":"新北市109年至110年地價稅稅額計算公式","description":"提供新北市109年至110年地價稅稅額計算公式","operationId":"get_824a6fb1_b47c_44a9_a90d_eba727f4ee72_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/824a6fb1-b47c-44a9-a90d-eba727f4ee72\/xml":{"get":{"tags":["XML"],"summary":"新北市109年至110年地價稅稅額計算公式","description":"提供新北市109年至110年地價稅稅額計算公式","operationId":"get_824a6fb1_b47c_44a9_a90d_eba727f4ee72_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a8bc9069-98bc-4a0f-8239-e4c9d922bc88\/csv":{"get":{"tags":["CSV"],"summary":"新北市110年度徵起之國稅、縣市稅分成數額表","description":"新北市110年度徵起之國稅、縣市稅分成數額表110","operationId":"get_a8bc9069_98bc_4a0f_8239_e4c9d922bc88_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a8bc9069-98bc-4a0f-8239-e4c9d922bc88\/json":{"get":{"tags":["JSON"],"summary":"新北市110年度徵起之國稅、縣市稅分成數額表","description":"新北市110年度徵起之國稅、縣市稅分成數額表110","operationId":"get_a8bc9069_98bc_4a0f_8239_e4c9d922bc88_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a8bc9069-98bc-4a0f-8239-e4c9d922bc88\/xml":{"get":{"tags":["XML"],"summary":"新北市110年度徵起之國稅、縣市稅分成數額表","description":"新北市110年度徵起之國稅、縣市稅分成數額表110","operationId":"get_a8bc9069_98bc_4a0f_8239_e4c9d922bc88_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/00c63e33-0c34-4964-855c-1e72823dc8f9\/csv":{"get":{"tags":["CSV"],"summary":"新北市110年度預算數及執行數共同比（執行率）","description":"預算數及執行數共同比，其資料包含項目名稱、預算數、累計實徵數(單位：億元)、累計實收數(單位：億元)等統計資訊。","operationId":"get_00c63e33_0c34_4964_855c_1e72823dc8f9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/00c63e33-0c34-4964-855c-1e72823dc8f9\/json":{"get":{"tags":["JSON"],"summary":"新北市110年度預算數及執行數共同比（執行率）","description":"預算數及執行數共同比，其資料包含項目名稱、預算數、累計實徵數(單位：億元)、累計實收數(單位：億元)等統計資訊。","operationId":"get_00c63e33_0c34_4964_855c_1e72823dc8f9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/00c63e33-0c34-4964-855c-1e72823dc8f9\/xml":{"get":{"tags":["XML"],"summary":"新北市110年度預算數及執行數共同比（執行率）","description":"預算數及執行數共同比，其資料包含項目名稱、預算數、累計實徵數(單位：億元)、累計實收數(單位：億元)等統計資訊。","operationId":"get_00c63e33_0c34_4964_855c_1e72823dc8f9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5ec95146-a5ea-40cb-a7aa-71ff87e3b4bd\/csv":{"get":{"tags":["CSV"],"summary":"新北市111年度徵起之國稅、縣市稅分成數額表","description":"新北市111年度徵起之國稅、縣市稅分成數額","operationId":"get_5ec95146_a5ea_40cb_a7aa_71ff87e3b4bd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5ec95146-a5ea-40cb-a7aa-71ff87e3b4bd\/json":{"get":{"tags":["JSON"],"summary":"新北市111年度徵起之國稅、縣市稅分成數額表","description":"新北市111年度徵起之國稅、縣市稅分成數額","operationId":"get_5ec95146_a5ea_40cb_a7aa_71ff87e3b4bd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5ec95146-a5ea-40cb-a7aa-71ff87e3b4bd\/xml":{"get":{"tags":["XML"],"summary":"新北市111年度徵起之國稅、縣市稅分成數額表","description":"新北市111年度徵起之國稅、縣市稅分成數額","operationId":"get_5ec95146_a5ea_40cb_a7aa_71ff87e3b4bd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/90065256-4d07-42cf-b27a-4c44635ecc21\/csv":{"get":{"tags":["CSV"],"summary":"新北市111年度預算數及執行數共同比（執行率）","description":"新北市111年度預算數及執行數共同比 執行率","operationId":"get_90065256_4d07_42cf_b27a_4c44635ecc21_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/90065256-4d07-42cf-b27a-4c44635ecc21\/json":{"get":{"tags":["JSON"],"summary":"新北市111年度預算數及執行數共同比（執行率）","description":"新北市111年度預算數及執行數共同比 執行率","operationId":"get_90065256_4d07_42cf_b27a_4c44635ecc21_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/90065256-4d07-42cf-b27a-4c44635ecc21\/xml":{"get":{"tags":["XML"],"summary":"新北市111年度預算數及執行數共同比（執行率）","description":"新北市111年度預算數及執行數共同比 執行率","operationId":"get_90065256_4d07_42cf_b27a_4c44635ecc21_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/dc51fb76-87a0-434b-b199-eb77f70748c3\/csv":{"get":{"tags":["CSV"],"summary":"新北市111年至112年地價稅稅額計算公式","description":"提供新北市111年至112年地價稅稅額計算公式","operationId":"get_dc51fb76_87a0_434b_b199_eb77f70748c3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/dc51fb76-87a0-434b-b199-eb77f70748c3\/json":{"get":{"tags":["JSON"],"summary":"新北市111年至112年地價稅稅額計算公式","description":"提供新北市111年至112年地價稅稅額計算公式","operationId":"get_dc51fb76_87a0_434b_b199_eb77f70748c3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/dc51fb76-87a0-434b-b199-eb77f70748c3\/xml":{"get":{"tags":["XML"],"summary":"新北市111年至112年地價稅稅額計算公式","description":"提供新北市111年至112年地價稅稅額計算公式","operationId":"get_dc51fb76_87a0_434b_b199_eb77f70748c3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0aeefcb6-bf8d-48cc-a9b3-4c4719cd3bc7\/csv":{"get":{"tags":["CSV"],"summary":"新北市112年度徵起之國稅、縣市稅分成數額表","description":"新北市112年度徵起之國稅、縣市稅分成數額表112","operationId":"get_0aeefcb6_bf8d_48cc_a9b3_4c4719cd3bc7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0aeefcb6-bf8d-48cc-a9b3-4c4719cd3bc7\/json":{"get":{"tags":["JSON"],"summary":"新北市112年度徵起之國稅、縣市稅分成數額表","description":"新北市112年度徵起之國稅、縣市稅分成數額表112","operationId":"get_0aeefcb6_bf8d_48cc_a9b3_4c4719cd3bc7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0aeefcb6-bf8d-48cc-a9b3-4c4719cd3bc7\/xml":{"get":{"tags":["XML"],"summary":"新北市112年度徵起之國稅、縣市稅分成數額表","description":"新北市112年度徵起之國稅、縣市稅分成數額表112","operationId":"get_0aeefcb6_bf8d_48cc_a9b3_4c4719cd3bc7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2a1142c3-08d5-44e2-8e5c-875e765e8ffe\/csv":{"get":{"tags":["CSV"],"summary":"新北市112年度預算數及執行數共同比（執行率）","description":"新北市112年度預算數及執行數共同比（執行率）112","operationId":"get_2a1142c3_08d5_44e2_8e5c_875e765e8ffe_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2a1142c3-08d5-44e2-8e5c-875e765e8ffe\/json":{"get":{"tags":["JSON"],"summary":"新北市112年度預算數及執行數共同比（執行率）","description":"新北市112年度預算數及執行數共同比（執行率）112","operationId":"get_2a1142c3_08d5_44e2_8e5c_875e765e8ffe_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2a1142c3-08d5-44e2-8e5c-875e765e8ffe\/xml":{"get":{"tags":["XML"],"summary":"新北市112年度預算數及執行數共同比（執行率）","description":"新北市112年度預算數及執行數共同比（執行率）112","operationId":"get_2a1142c3_08d5_44e2_8e5c_875e765e8ffe_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/991a7992-c629-4b70-8463-b1ebd7b5ba7f\/csv":{"get":{"tags":["CSV"],"summary":"新北市113年度徵起之國稅、縣市稅分成數額表","description":"113新北市113年度徵起之國稅、縣市稅分成數額表","operationId":"get_991a7992_c629_4b70_8463_b1ebd7b5ba7f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/991a7992-c629-4b70-8463-b1ebd7b5ba7f\/json":{"get":{"tags":["JSON"],"summary":"新北市113年度徵起之國稅、縣市稅分成數額表","description":"113新北市113年度徵起之國稅、縣市稅分成數額表","operationId":"get_991a7992_c629_4b70_8463_b1ebd7b5ba7f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/991a7992-c629-4b70-8463-b1ebd7b5ba7f\/xml":{"get":{"tags":["XML"],"summary":"新北市113年度徵起之國稅、縣市稅分成數額表","description":"113新北市113年度徵起之國稅、縣市稅分成數額表","operationId":"get_991a7992_c629_4b70_8463_b1ebd7b5ba7f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d73aa560-2c67-450d-85b8-36bd67fdd13d\/csv":{"get":{"tags":["CSV"],"summary":"新北市113年度預算數及執行數共同比（執行率）","description":"113新北市113年度預算數及執行數共同比（執行率）","operationId":"get_d73aa560_2c67_450d_85b8_36bd67fdd13d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d73aa560-2c67-450d-85b8-36bd67fdd13d\/json":{"get":{"tags":["JSON"],"summary":"新北市113年度預算數及執行數共同比（執行率）","description":"113新北市113年度預算數及執行數共同比（執行率）","operationId":"get_d73aa560_2c67_450d_85b8_36bd67fdd13d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d73aa560-2c67-450d-85b8-36bd67fdd13d\/xml":{"get":{"tags":["XML"],"summary":"新北市113年度預算數及執行數共同比（執行率）","description":"113新北市113年度預算數及執行數共同比（執行率）","operationId":"get_d73aa560_2c67_450d_85b8_36bd67fdd13d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c3b6041b-175d-47fb-9a7b-7d4274914f6a\/csv":{"get":{"tags":["CSV"],"summary":"新北市113年至114年地價稅稅額計算公式","description":"提供新北市113年至114年地價稅稅額計算公式","operationId":"get_c3b6041b_175d_47fb_9a7b_7d4274914f6a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c3b6041b-175d-47fb-9a7b-7d4274914f6a\/json":{"get":{"tags":["JSON"],"summary":"新北市113年至114年地價稅稅額計算公式","description":"提供新北市113年至114年地價稅稅額計算公式","operationId":"get_c3b6041b_175d_47fb_9a7b_7d4274914f6a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c3b6041b-175d-47fb-9a7b-7d4274914f6a\/xml":{"get":{"tags":["XML"],"summary":"新北市113年至114年地價稅稅額計算公式","description":"提供新北市113年至114年地價稅稅額計算公式","operationId":"get_c3b6041b_175d_47fb_9a7b_7d4274914f6a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4f0e0a55-634b-4e2b-b9d1-532f9da6e31c\/csv":{"get":{"tags":["CSV"],"summary":"新北市114年度徵起之國稅、縣市稅分成數額表","description":"114新北市114年度徵起之國稅、縣市稅分成數額表","operationId":"get_4f0e0a55_634b_4e2b_b9d1_532f9da6e31c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4f0e0a55-634b-4e2b-b9d1-532f9da6e31c\/json":{"get":{"tags":["JSON"],"summary":"新北市114年度徵起之國稅、縣市稅分成數額表","description":"114新北市114年度徵起之國稅、縣市稅分成數額表","operationId":"get_4f0e0a55_634b_4e2b_b9d1_532f9da6e31c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4f0e0a55-634b-4e2b-b9d1-532f9da6e31c\/xml":{"get":{"tags":["XML"],"summary":"新北市114年度徵起之國稅、縣市稅分成數額表","description":"114新北市114年度徵起之國稅、縣市稅分成數額表","operationId":"get_4f0e0a55_634b_4e2b_b9d1_532f9da6e31c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/be8f3acd-c310-408f-a152-e388af9708c2\/csv":{"get":{"tags":["CSV"],"summary":"新北市114年度預算數及執行數共同比（執行率）","description":"114新北市114年度預算數及執行數共同比（執行率）","operationId":"get_be8f3acd_c310_408f_a152_e388af9708c2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/be8f3acd-c310-408f-a152-e388af9708c2\/json":{"get":{"tags":["JSON"],"summary":"新北市114年度預算數及執行數共同比（執行率）","description":"114新北市114年度預算數及執行數共同比（執行率）","operationId":"get_be8f3acd_c310_408f_a152_e388af9708c2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/be8f3acd-c310-408f-a152-e388af9708c2\/xml":{"get":{"tags":["XML"],"summary":"新北市114年度預算數及執行數共同比（執行率）","description":"114新北市114年度預算數及執行數共同比（執行率）","operationId":"get_be8f3acd_c310_408f_a152_e388af9708c2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e5159001-7485-4581-890f-318351a77317\/csv":{"get":{"tags":["CSV"],"summary":"新北市30層以下房屋構造標準單價(民國103年7月1日至民國109年6月30日適用)","description":"民國103年7月1日至民國109年6月30日適用；單位元(新台幣)\/平方公尺；備註：全棟房屋係以該房屋之構造、總樓層數及用途，各層適用同一標準單價。例如：構造為鋼筋混凝土造，總樓層數為5層，用途為住宅(第3類)之房屋，其1-5層適用之標準單價皆為5,040元(新台幣)。","operationId":"get_e5159001_7485_4581_890f_318351a77317_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e5159001-7485-4581-890f-318351a77317\/json":{"get":{"tags":["JSON"],"summary":"新北市30層以下房屋構造標準單價(民國103年7月1日至民國109年6月30日適用)","description":"民國103年7月1日至民國109年6月30日適用；單位元(新台幣)\/平方公尺；備註：全棟房屋係以該房屋之構造、總樓層數及用途，各層適用同一標準單價。例如：構造為鋼筋混凝土造，總樓層數為5層，用途為住宅(第3類)之房屋，其1-5層適用之標準單價皆為5,040元(新台幣)。","operationId":"get_e5159001_7485_4581_890f_318351a77317_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e5159001-7485-4581-890f-318351a77317\/xml":{"get":{"tags":["XML"],"summary":"新北市30層以下房屋構造標準單價(民國103年7月1日至民國109年6月30日適用)","description":"民國103年7月1日至民國109年6月30日適用；單位元(新台幣)\/平方公尺；備註：全棟房屋係以該房屋之構造、總樓層數及用途，各層適用同一標準單價。例如：構造為鋼筋混凝土造，總樓層數為5層，用途為住宅(第3類)之房屋，其1-5層適用之標準單價皆為5,040元(新台幣)。","operationId":"get_e5159001_7485_4581_890f_318351a77317_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/235a8796-5b0f-4cdc-9058-ebc3a81d31b4\/csv":{"get":{"tags":["CSV"],"summary":"新北市30層以下房屋構造標準單價表(109年7月1日起至112年6月30日適用)","description":"單位：元(新台幣)／平方公尺；備註：全棟房屋係以該房屋之構造、總樓層數及用途，各層適用同一標準單價。例如：構造為鋼筋混凝土造，總樓層數為5層，用途為住宅(第3類)之房屋，其1-5層適用之標準單價皆為5,040元。","operationId":"get_235a8796_5b0f_4cdc_9058_ebc3a81d31b4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/235a8796-5b0f-4cdc-9058-ebc3a81d31b4\/json":{"get":{"tags":["JSON"],"summary":"新北市30層以下房屋構造標準單價表(109年7月1日起至112年6月30日適用)","description":"單位：元(新台幣)／平方公尺；備註：全棟房屋係以該房屋之構造、總樓層數及用途，各層適用同一標準單價。例如：構造為鋼筋混凝土造，總樓層數為5層，用途為住宅(第3類)之房屋，其1-5層適用之標準單價皆為5,040元。","operationId":"get_235a8796_5b0f_4cdc_9058_ebc3a81d31b4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/235a8796-5b0f-4cdc-9058-ebc3a81d31b4\/xml":{"get":{"tags":["XML"],"summary":"新北市30層以下房屋構造標準單價表(109年7月1日起至112年6月30日適用)","description":"單位：元(新台幣)／平方公尺；備註：全棟房屋係以該房屋之構造、總樓層數及用途，各層適用同一標準單價。例如：構造為鋼筋混凝土造，總樓層數為5層，用途為住宅(第3類)之房屋，其1-5層適用之標準單價皆為5,040元。","operationId":"get_235a8796_5b0f_4cdc_9058_ebc3a81d31b4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/db113460-dfa9-4a89-8061-96a507782b50\/csv":{"get":{"tags":["CSV"],"summary":"新北市30層以下房屋構造標準單價表(112年7月1日起適用)","description":"單位：元(新台幣)／平方公尺；備註：全棟房屋係以該房屋之構造、總樓層數及用途，各層適用同一標準單價。例如：構造為鋼筋混凝土造，總樓層數為5層，用途為住宅(第3類)之房屋，其1-5層適用之標準單價皆為5,540元。","operationId":"get_db113460_dfa9_4a89_8061_96a507782b50_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/db113460-dfa9-4a89-8061-96a507782b50\/json":{"get":{"tags":["JSON"],"summary":"新北市30層以下房屋構造標準單價表(112年7月1日起適用)","description":"單位：元(新台幣)／平方公尺；備註：全棟房屋係以該房屋之構造、總樓層數及用途，各層適用同一標準單價。例如：構造為鋼筋混凝土造，總樓層數為5層，用途為住宅(第3類)之房屋，其1-5層適用之標準單價皆為5,540元。","operationId":"get_db113460_dfa9_4a89_8061_96a507782b50_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/db113460-dfa9-4a89-8061-96a507782b50\/xml":{"get":{"tags":["XML"],"summary":"新北市30層以下房屋構造標準單價表(112年7月1日起適用)","description":"單位：元(新台幣)／平方公尺；備註：全棟房屋係以該房屋之構造、總樓層數及用途，各層適用同一標準單價。例如：構造為鋼筋混凝土造，總樓層數為5層，用途為住宅(第3類)之房屋，其1-5層適用之標準單價皆為5,540元。","operationId":"get_db113460_dfa9_4a89_8061_96a507782b50_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d9869b79-3074-4412-96f5-5e7e4d5e6019\/csv":{"get":{"tags":["CSV"],"summary":"新北市30層以下房屋構造標準單價表(民國103年6月30日以前適用)","description":"民國103年6月30日前適用；單位：元(新台幣)\/平方公尺","operationId":"get_d9869b79_3074_4412_96f5_5e7e4d5e6019_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d9869b79-3074-4412-96f5-5e7e4d5e6019\/json":{"get":{"tags":["JSON"],"summary":"新北市30層以下房屋構造標準單價表(民國103年6月30日以前適用)","description":"民國103年6月30日前適用；單位：元(新台幣)\/平方公尺","operationId":"get_d9869b79_3074_4412_96f5_5e7e4d5e6019_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d9869b79-3074-4412-96f5-5e7e4d5e6019\/xml":{"get":{"tags":["XML"],"summary":"新北市30層以下房屋構造標準單價表(民國103年6月30日以前適用)","description":"民國103年6月30日前適用；單位：元(新台幣)\/平方公尺","operationId":"get_d9869b79_3074_4412_96f5_5e7e4d5e6019_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/982f2868-9cf4-470f-bdb2-8ae0cbebd26a\/csv":{"get":{"tags":["CSV"],"summary":"新北市31層以上房屋構造標準單價表(103年7月1日至112年6月30日適用)","description":"單位：元(新台幣)\/平方公尺；備註：本表以每3層為一級距，31層至60層每3層每平方公尺加價400元，61層至90層每3層每平方公尺加價320元，91層以上每3層每平方公尺加價280元。 ","operationId":"get_982f2868_9cf4_470f_bdb2_8ae0cbebd26a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/982f2868-9cf4-470f-bdb2-8ae0cbebd26a\/json":{"get":{"tags":["JSON"],"summary":"新北市31層以上房屋構造標準單價表(103年7月1日至112年6月30日適用)","description":"單位：元(新台幣)\/平方公尺；備註：本表以每3層為一級距，31層至60層每3層每平方公尺加價400元，61層至90層每3層每平方公尺加價320元，91層以上每3層每平方公尺加價280元。 ","operationId":"get_982f2868_9cf4_470f_bdb2_8ae0cbebd26a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/982f2868-9cf4-470f-bdb2-8ae0cbebd26a\/xml":{"get":{"tags":["XML"],"summary":"新北市31層以上房屋構造標準單價表(103年7月1日至112年6月30日適用)","description":"單位：元(新台幣)\/平方公尺；備註：本表以每3層為一級距，31層至60層每3層每平方公尺加價400元，61層至90層每3層每平方公尺加價320元，91層以上每3層每平方公尺加價280元。 ","operationId":"get_982f2868_9cf4_470f_bdb2_8ae0cbebd26a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/95e1a6e3-e6e9-4711-8411-1321cc637c0e\/csv":{"get":{"tags":["CSV"],"summary":"新北市31層以上房屋構造標準單價表(112年7月1日以後適用)","description":"單位：元(新台幣)\/平方公尺；備註：1.本表以每3層為一級距，31層至60層每3層每平方公尺加價440元，61層至90層每3層每平方公尺加價350元，91層以上每3層每平方公尺加價310元。 2. 全棟房屋係以該房屋之構造、總樓層數及用途，各層適用同一標準單價。例如：構造為鋼骨鋼筋混凝土造，總樓層數為43層，用途為住宅(第3類)之房屋，其1-43層適用之標準單價皆為21,010元。","operationId":"get_95e1a6e3_e6e9_4711_8411_1321cc637c0e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/95e1a6e3-e6e9-4711-8411-1321cc637c0e\/json":{"get":{"tags":["JSON"],"summary":"新北市31層以上房屋構造標準單價表(112年7月1日以後適用)","description":"單位：元(新台幣)\/平方公尺；備註：1.本表以每3層為一級距，31層至60層每3層每平方公尺加價440元，61層至90層每3層每平方公尺加價350元，91層以上每3層每平方公尺加價310元。 2. 全棟房屋係以該房屋之構造、總樓層數及用途，各層適用同一標準單價。例如：構造為鋼骨鋼筋混凝土造，總樓層數為43層，用途為住宅(第3類)之房屋，其1-43層適用之標準單價皆為21,010元。","operationId":"get_95e1a6e3_e6e9_4711_8411_1321cc637c0e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/95e1a6e3-e6e9-4711-8411-1321cc637c0e\/xml":{"get":{"tags":["XML"],"summary":"新北市31層以上房屋構造標準單價表(112年7月1日以後適用)","description":"單位：元(新台幣)\/平方公尺；備註：1.本表以每3層為一級距，31層至60層每3層每平方公尺加價440元，61層至90層每3層每平方公尺加價350元，91層以上每3層每平方公尺加價310元。 2. 全棟房屋係以該房屋之構造、總樓層數及用途，各層適用同一標準單價。例如：構造為鋼骨鋼筋混凝土造，總樓層數為43層，用途為住宅(第3類)之房屋，其1-43層適用之標準單價皆為21,010元。","operationId":"get_95e1a6e3_e6e9_4711_8411_1321cc637c0e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1350a154-18a7-4705-95db-5fb07bd3f8e3\/csv":{"get":{"tags":["CSV"],"summary":"新北市31層以上房屋構造標準單價表(民國103年6月30日以前適用)","description":"民國103年6月30日前適用；單位：元(新台幣)\/平方公尺；備註：本表以每3層為一級距，31層至60層每3層每平方公尺加價200元(新台幣)，61層至90層每3層每平方公尺加價160元(新台幣)，91層至105層每平方公尺加價140元(新台幣)。","operationId":"get_1350a154_18a7_4705_95db_5fb07bd3f8e3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1350a154-18a7-4705-95db-5fb07bd3f8e3\/json":{"get":{"tags":["JSON"],"summary":"新北市31層以上房屋構造標準單價表(民國103年6月30日以前適用)","description":"民國103年6月30日前適用；單位：元(新台幣)\/平方公尺；備註：本表以每3層為一級距，31層至60層每3層每平方公尺加價200元(新台幣)，61層至90層每3層每平方公尺加價160元(新台幣)，91層至105層每平方公尺加價140元(新台幣)。","operationId":"get_1350a154_18a7_4705_95db_5fb07bd3f8e3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1350a154-18a7-4705-95db-5fb07bd3f8e3\/xml":{"get":{"tags":["XML"],"summary":"新北市31層以上房屋構造標準單價表(民國103年6月30日以前適用)","description":"民國103年6月30日前適用；單位：元(新台幣)\/平方公尺；備註：本表以每3層為一級距，31層至60層每3層每平方公尺加價200元(新台幣)，61層至90層每3層每平方公尺加價160元(新台幣)，91層至105層每平方公尺加價140元(新台幣)。","operationId":"get_1350a154_18a7_4705_95db_5fb07bd3f8e3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6a8aa49c-153e-48a3-8909-dfcdb73ba2cb\/csv":{"get":{"tags":["CSV"],"summary":"新北市79年迄今各年度累進起點地價","description":"提供新北市79年迄今各年度累進起點地價","operationId":"get_6a8aa49c_153e_48a3_8909_dfcdb73ba2cb_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6a8aa49c-153e-48a3-8909-dfcdb73ba2cb\/json":{"get":{"tags":["JSON"],"summary":"新北市79年迄今各年度累進起點地價","description":"提供新北市79年迄今各年度累進起點地價","operationId":"get_6a8aa49c_153e_48a3_8909_dfcdb73ba2cb_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6a8aa49c-153e-48a3-8909-dfcdb73ba2cb\/xml":{"get":{"tags":["XML"],"summary":"新北市79年迄今各年度累進起點地價","description":"提供新北市79年迄今各年度累進起點地價","operationId":"get_6a8aa49c_153e_48a3_8909_dfcdb73ba2cb_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/94d2b7f1-4ab9-4777-9eb5-9d922112edd8\/csv":{"get":{"tags":["CSV"],"summary":"新北市債務情形","description":"新北市債務情形概況","operationId":"get_94d2b7f1_4ab9_4777_9eb5_9d922112edd8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/94d2b7f1-4ab9-4777-9eb5-9d922112edd8\/json":{"get":{"tags":["JSON"],"summary":"新北市債務情形","description":"新北市債務情形概況","operationId":"get_94d2b7f1_4ab9_4777_9eb5_9d922112edd8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/94d2b7f1-4ab9-4777-9eb5-9d922112edd8\/xml":{"get":{"tags":["XML"],"summary":"新北市債務情形","description":"新北市債務情形概況","operationId":"get_94d2b7f1_4ab9_4777_9eb5_9d922112edd8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c7ca4aed-9429-4c72-800f-4e8d521576a0\/csv":{"get":{"tags":["CSV"],"summary":"新北市內信用合作社本、分支機構數","description":"新北市內信用合作社本、分支機構數113","operationId":"get_c7ca4aed_9429_4c72_800f_4e8d521576a0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/c7ca4aed-9429-4c72-800f-4e8d521576a0\/json":{"get":{"tags":["JSON"],"summary":"新北市內信用合作社本、分支機構數","description":"新北市內信用合作社本、分支機構數113","operationId":"get_c7ca4aed_9429_4c72_800f_4e8d521576a0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/c7ca4aed-9429-4c72-800f-4e8d521576a0\/xml":{"get":{"tags":["XML"],"summary":"新北市內信用合作社本、分支機構數","description":"新北市內信用合作社本、分支機構數113","operationId":"get_c7ca4aed_9429_4c72_800f_4e8d521576a0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e3a7f590-11f5-4b74-aeb5-efd248e25595\/csv":{"get":{"tags":["CSV"],"summary":"新北市內農漁會信用部本、分支機構數","description":"新北市內農漁會信用部本、分支機構數113","operationId":"get_e3a7f590_11f5_4b74_aeb5_efd248e25595_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e3a7f590-11f5-4b74-aeb5-efd248e25595\/json":{"get":{"tags":["JSON"],"summary":"新北市內農漁會信用部本、分支機構數","description":"新北市內農漁會信用部本、分支機構數113","operationId":"get_e3a7f590_11f5_4b74_aeb5_efd248e25595_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e3a7f590-11f5-4b74-aeb5-efd248e25595\/xml":{"get":{"tags":["XML"],"summary":"新北市內農漁會信用部本、分支機構數","description":"新北市內農漁會信用部本、分支機構數113","operationId":"get_e3a7f590_11f5_4b74_aeb5_efd248e25595_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/889f0f2d-cd23-4af6-9e25-e480cf21a037\/csv":{"get":{"tags":["CSV"],"summary":"新北市各區房屋坐落地段等級表(109年7月1日起至112年6月30日適用)","description":"109年7月1日起至112年6月30日適用","operationId":"get_889f0f2d_cd23_4af6_9e25_e480cf21a037_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/889f0f2d-cd23-4af6-9e25-e480cf21a037\/json":{"get":{"tags":["JSON"],"summary":"新北市各區房屋坐落地段等級表(109年7月1日起至112年6月30日適用)","description":"109年7月1日起至112年6月30日適用","operationId":"get_889f0f2d_cd23_4af6_9e25_e480cf21a037_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/889f0f2d-cd23-4af6-9e25-e480cf21a037\/xml":{"get":{"tags":["XML"],"summary":"新北市各區房屋坐落地段等級表(109年7月1日起至112年6月30日適用)","description":"109年7月1日起至112年6月30日適用","operationId":"get_889f0f2d_cd23_4af6_9e25_e480cf21a037_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a1a6a837-56d3-4bb0-b6ec-8ccc89b5be6c\/csv":{"get":{"tags":["CSV"],"summary":"新北市各區房屋坐落地段等級表(112年7月1日起適用)","description":"112年7月1日起適用","operationId":"get_a1a6a837_56d3_4bb0_b6ec_8ccc89b5be6c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a1a6a837-56d3-4bb0-b6ec-8ccc89b5be6c\/json":{"get":{"tags":["JSON"],"summary":"新北市各區房屋坐落地段等級表(112年7月1日起適用)","description":"112年7月1日起適用","operationId":"get_a1a6a837_56d3_4bb0_b6ec_8ccc89b5be6c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a1a6a837-56d3-4bb0-b6ec-8ccc89b5be6c\/xml":{"get":{"tags":["XML"],"summary":"新北市各區房屋坐落地段等級表(112年7月1日起適用)","description":"112年7月1日起適用","operationId":"get_a1a6a837_56d3_4bb0_b6ec_8ccc89b5be6c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/175d4e8c-4314-42af-842a-b61a8ba8996c\/csv":{"get":{"tags":["CSV"],"summary":"新北市各區房屋坐落地段等級表(民國106年7月1日至民國109年6月30日適用)","description":"民國106年7月1日至民國109年6月30日適用","operationId":"get_175d4e8c_4314_42af_842a_b61a8ba8996c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/175d4e8c-4314-42af-842a-b61a8ba8996c\/json":{"get":{"tags":["JSON"],"summary":"新北市各區房屋坐落地段等級表(民國106年7月1日至民國109年6月30日適用)","description":"民國106年7月1日至民國109年6月30日適用","operationId":"get_175d4e8c_4314_42af_842a_b61a8ba8996c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/175d4e8c-4314-42af-842a-b61a8ba8996c\/xml":{"get":{"tags":["XML"],"summary":"新北市各區房屋坐落地段等級表(民國106年7月1日至民國109年6月30日適用)","description":"民國106年7月1日至民國109年6月30日適用","operationId":"get_175d4e8c_4314_42af_842a_b61a8ba8996c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/34c2c062-9c2c-469f-a28d-e92a4032359c\/csv":{"get":{"tags":["CSV"],"summary":"新北市地方稅網路與臨櫃申報件數統計表","description":"提供新北市地方稅網路與臨櫃申報件數統計","operationId":"get_34c2c062_9c2c_469f_a28d_e92a4032359c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/34c2c062-9c2c-469f-a28d-e92a4032359c\/json":{"get":{"tags":["JSON"],"summary":"新北市地方稅網路與臨櫃申報件數統計表","description":"提供新北市地方稅網路與臨櫃申報件數統計","operationId":"get_34c2c062_9c2c_469f_a28d_e92a4032359c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/34c2c062-9c2c-469f-a28d-e92a4032359c\/xml":{"get":{"tags":["XML"],"summary":"新北市地方稅網路與臨櫃申報件數統計表","description":"提供新北市地方稅網路與臨櫃申報件數統計","operationId":"get_34c2c062_9c2c_469f_a28d_e92a4032359c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8b9a3e77-0f45-4791-8d31-02f1c9269c9a\/csv":{"get":{"tags":["CSV"],"summary":"新北市多元繳稅方式件數統計表","description":"提供新北市多元繳稅方式件數","operationId":"get_8b9a3e77_0f45_4791_8d31_02f1c9269c9a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8b9a3e77-0f45-4791-8d31-02f1c9269c9a\/json":{"get":{"tags":["JSON"],"summary":"新北市多元繳稅方式件數統計表","description":"提供新北市多元繳稅方式件數","operationId":"get_8b9a3e77_0f45_4791_8d31_02f1c9269c9a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8b9a3e77-0f45-4791-8d31-02f1c9269c9a\/xml":{"get":{"tags":["XML"],"summary":"新北市多元繳稅方式件數統計表","description":"提供新北市多元繳稅方式件數","operationId":"get_8b9a3e77_0f45_4791_8d31_02f1c9269c9a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a77aa6ee-f776-486a-8cc9-087c2056fd29\/csv":{"get":{"tags":["CSV"],"summary":"新北市市有土地用地分析","description":"新北市市有土地用地分析(113年12月)","operationId":"get_a77aa6ee_f776_486a_8cc9_087c2056fd29_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a77aa6ee-f776-486a-8cc9-087c2056fd29\/json":{"get":{"tags":["JSON"],"summary":"新北市市有土地用地分析","description":"新北市市有土地用地分析(113年12月)","operationId":"get_a77aa6ee_f776_486a_8cc9_087c2056fd29_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a77aa6ee-f776-486a-8cc9-087c2056fd29\/xml":{"get":{"tags":["XML"],"summary":"新北市市有土地用地分析","description":"新北市市有土地用地分析(113年12月)","operationId":"get_a77aa6ee_f776_486a_8cc9_087c2056fd29_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a69c30a5-37f8-445f-9f2e-978121154b67\/csv":{"get":{"tags":["CSV"],"summary":"新北市徵起之國稅、縣市稅數額表(102-106)","description":"新北市徵起之國稅、縣市稅數額表102-106","operationId":"get_a69c30a5_37f8_445f_9f2e_978121154b67_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a69c30a5-37f8-445f-9f2e-978121154b67\/json":{"get":{"tags":["JSON"],"summary":"新北市徵起之國稅、縣市稅數額表(102-106)","description":"新北市徵起之國稅、縣市稅數額表102-106","operationId":"get_a69c30a5_37f8_445f_9f2e_978121154b67_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a69c30a5-37f8-445f-9f2e-978121154b67\/xml":{"get":{"tags":["XML"],"summary":"新北市徵起之國稅、縣市稅數額表(102-106)","description":"新北市徵起之國稅、縣市稅數額表102-106","operationId":"get_a69c30a5_37f8_445f_9f2e_978121154b67_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d458d4c2-2909-4816-9ab7-0e33a967858f\/csv":{"get":{"tags":["CSV"],"summary":"新北市徵起之國稅、縣市稅數額表(103-108)","description":"新北市徵起之國稅、縣市稅數額表(103-108)。","operationId":"get_d458d4c2_2909_4816_9ab7_0e33a967858f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d458d4c2-2909-4816-9ab7-0e33a967858f\/json":{"get":{"tags":["JSON"],"summary":"新北市徵起之國稅、縣市稅數額表(103-108)","description":"新北市徵起之國稅、縣市稅數額表(103-108)。","operationId":"get_d458d4c2_2909_4816_9ab7_0e33a967858f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d458d4c2-2909-4816-9ab7-0e33a967858f\/xml":{"get":{"tags":["XML"],"summary":"新北市徵起之國稅、縣市稅數額表(103-108)","description":"新北市徵起之國稅、縣市稅數額表(103-108)。","operationId":"get_d458d4c2_2909_4816_9ab7_0e33a967858f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1aa4246a-ae27-4f4f-9951-5072e8fa460e\/csv":{"get":{"tags":["CSV"],"summary":"新北市徵起之國稅、縣市稅數額表(107-111)","description":"新北市徵起之國稅、縣市稅數額表107-111","operationId":"get_1aa4246a_ae27_4f4f_9951_5072e8fa460e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1aa4246a-ae27-4f4f-9951-5072e8fa460e\/json":{"get":{"tags":["JSON"],"summary":"新北市徵起之國稅、縣市稅數額表(107-111)","description":"新北市徵起之國稅、縣市稅數額表107-111","operationId":"get_1aa4246a_ae27_4f4f_9951_5072e8fa460e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","sc
[...]
