{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/50efd0ee-d589-46e1-813c-4c48afe9b37d\/csv":{"get":{"tags":["CSV"],"summary":"102年度A1類交通事故資料","description":"102年度A1類交通事故資料。","operationId":"get_50efd0ee_d589_46e1_813c_4c48afe9b37d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/50efd0ee-d589-46e1-813c-4c48afe9b37d\/json":{"get":{"tags":["JSON"],"summary":"102年度A1類交通事故資料","description":"102年度A1類交通事故資料。","operationId":"get_50efd0ee_d589_46e1_813c_4c48afe9b37d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/50efd0ee-d589-46e1-813c-4c48afe9b37d\/xml":{"get":{"tags":["XML"],"summary":"102年度A1類交通事故資料","description":"102年度A1類交通事故資料。","operationId":"get_50efd0ee_d589_46e1_813c_4c48afe9b37d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/09d622a4-e1c9-456f-81ed-c979f90fe668\/csv":{"get":{"tags":["CSV"],"summary":"102年度A2類交通事故資料","description":"102年度A2類交通事故資料。","operationId":"get_09d622a4_e1c9_456f_81ed_c979f90fe668_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/09d622a4-e1c9-456f-81ed-c979f90fe668\/json":{"get":{"tags":["JSON"],"summary":"102年度A2類交通事故資料","description":"102年度A2類交通事故資料。","operationId":"get_09d622a4_e1c9_456f_81ed_c979f90fe668_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/09d622a4-e1c9-456f-81ed-c979f90fe668\/xml":{"get":{"tags":["XML"],"summary":"102年度A2類交通事故資料","description":"102年度A2類交通事故資料。","operationId":"get_09d622a4_e1c9_456f_81ed_c979f90fe668_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/76ee388b-6dd8-41e6-8ae6-0ee99051041a\/csv":{"get":{"tags":["CSV"],"summary":"103年度A1類交通事故資料","description":"103年度A1類交通事故資料。","operationId":"get_76ee388b_6dd8_41e6_8ae6_0ee99051041a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/76ee388b-6dd8-41e6-8ae6-0ee99051041a\/json":{"get":{"tags":["JSON"],"summary":"103年度A1類交通事故資料","description":"103年度A1類交通事故資料。","operationId":"get_76ee388b_6dd8_41e6_8ae6_0ee99051041a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/76ee388b-6dd8-41e6-8ae6-0ee99051041a\/xml":{"get":{"tags":["XML"],"summary":"103年度A1類交通事故資料","description":"103年度A1類交通事故資料。","operationId":"get_76ee388b_6dd8_41e6_8ae6_0ee99051041a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2ec8e639-771a-45b3-8a42-7c4fe1a80fad\/csv":{"get":{"tags":["CSV"],"summary":"103年度A2類交通事故資料","description":"103年度A2類交通事故資料。","operationId":"get_2ec8e639_771a_45b3_8a42_7c4fe1a80fad_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2ec8e639-771a-45b3-8a42-7c4fe1a80fad\/json":{"get":{"tags":["JSON"],"summary":"103年度A2類交通事故資料","description":"103年度A2類交通事故資料。","operationId":"get_2ec8e639_771a_45b3_8a42_7c4fe1a80fad_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2ec8e639-771a-45b3-8a42-7c4fe1a80fad\/xml":{"get":{"tags":["XML"],"summary":"103年度A2類交通事故資料","description":"103年度A2類交通事故資料。","operationId":"get_2ec8e639_771a_45b3_8a42_7c4fe1a80fad_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/66be5520-5ac0-461f-ae0d-1db22dfb5bfa\/csv":{"get":{"tags":["CSV"],"summary":"104年度A1類交通事故資料","description":"104年度A1類交通事故資料。","operationId":"get_66be5520_5ac0_461f_ae0d_1db22dfb5bfa_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/66be5520-5ac0-461f-ae0d-1db22dfb5bfa\/json":{"get":{"tags":["JSON"],"summary":"104年度A1類交通事故資料","description":"104年度A1類交通事故資料。","operationId":"get_66be5520_5ac0_461f_ae0d_1db22dfb5bfa_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/66be5520-5ac0-461f-ae0d-1db22dfb5bfa\/xml":{"get":{"tags":["XML"],"summary":"104年度A1類交通事故資料","description":"104年度A1類交通事故資料。","operationId":"get_66be5520_5ac0_461f_ae0d_1db22dfb5bfa_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a19272fe-8e93-43e0-9a03-8e71eb6b0a2d\/csv":{"get":{"tags":["CSV"],"summary":"104年度A2類交通事故資料","description":"104年度A2類交通事故資料。","operationId":"get_a19272fe_8e93_43e0_9a03_8e71eb6b0a2d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a19272fe-8e93-43e0-9a03-8e71eb6b0a2d\/json":{"get":{"tags":["JSON"],"summary":"104年度A2類交通事故資料","description":"104年度A2類交通事故資料。","operationId":"get_a19272fe_8e93_43e0_9a03_8e71eb6b0a2d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a19272fe-8e93-43e0-9a03-8e71eb6b0a2d\/xml":{"get":{"tags":["XML"],"summary":"104年度A2類交通事故資料","description":"104年度A2類交通事故資料。","operationId":"get_a19272fe_8e93_43e0_9a03_8e71eb6b0a2d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2852c6e1-48eb-4bfa-9b58-401d6db2894e\/csv":{"get":{"tags":["CSV"],"summary":"104年度新北市十大易肇事路口","description":"104年度新北市十大易肇事路口。","operationId":"get_2852c6e1_48eb_4bfa_9b58_401d6db2894e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2852c6e1-48eb-4bfa-9b58-401d6db2894e\/json":{"get":{"tags":["JSON"],"summary":"104年度新北市十大易肇事路口","description":"104年度新北市十大易肇事路口。","operationId":"get_2852c6e1_48eb_4bfa_9b58_401d6db2894e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2852c6e1-48eb-4bfa-9b58-401d6db2894e\/xml":{"get":{"tags":["XML"],"summary":"104年度新北市十大易肇事路口","description":"104年度新北市十大易肇事路口。","operationId":"get_2852c6e1_48eb_4bfa_9b58_401d6db2894e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3766bb6f-bd79-4b8f-ae9a-c9e08f05d9f0\/csv":{"get":{"tags":["CSV"],"summary":"104年新北市交通違規取締統計","description":"104年新北市交通違規取締統計。","operationId":"get_3766bb6f_bd79_4b8f_ae9a_c9e08f05d9f0_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3766bb6f-bd79-4b8f-ae9a-c9e08f05d9f0\/json":{"get":{"tags":["JSON"],"summary":"104年新北市交通違規取締統計","description":"104年新北市交通違規取締統計。","operationId":"get_3766bb6f_bd79_4b8f_ae9a_c9e08f05d9f0_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3766bb6f-bd79-4b8f-ae9a-c9e08f05d9f0\/xml":{"get":{"tags":["XML"],"summary":"104年新北市交通違規取締統計","description":"104年新北市交通違規取締統計。","operationId":"get_3766bb6f_bd79_4b8f_ae9a_c9e08f05d9f0_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ae02ef32-e08a-400a-8abc-22a5c5aff30d\/csv":{"get":{"tags":["CSV"],"summary":"105年度A1類交通事故資料","description":"105年度A1類交通事故資料。","operationId":"get_ae02ef32_e08a_400a_8abc_22a5c5aff30d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/ae02ef32-e08a-400a-8abc-22a5c5aff30d\/json":{"get":{"tags":["JSON"],"summary":"105年度A1類交通事故資料","description":"105年度A1類交通事故資料。","operationId":"get_ae02ef32_e08a_400a_8abc_22a5c5aff30d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/ae02ef32-e08a-400a-8abc-22a5c5aff30d\/xml":{"get":{"tags":["XML"],"summary":"105年度A1類交通事故資料","description":"105年度A1類交通事故資料。","operationId":"get_ae02ef32_e08a_400a_8abc_22a5c5aff30d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e11e5291-505b-4a39-b95b-6f7c6c602357\/csv":{"get":{"tags":["CSV"],"summary":"105年新北市A2道路交通事故","description":"105年新北市A2道路交通事故。","operationId":"get_e11e5291_505b_4a39_b95b_6f7c6c602357_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/e11e5291-505b-4a39-b95b-6f7c6c602357\/json":{"get":{"tags":["JSON"],"summary":"105年新北市A2道路交通事故","description":"105年新北市A2道路交通事故。","operationId":"get_e11e5291_505b_4a39_b95b_6f7c6c602357_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/e11e5291-505b-4a39-b95b-6f7c6c602357\/xml":{"get":{"tags":["XML"],"summary":"105年新北市A2道路交通事故","description":"105年新北市A2道路交通事故。","operationId":"get_e11e5291_505b_4a39_b95b_6f7c6c602357_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/df9841ec-dcce-4f0f-827b-2ff15fb5daf6\/csv":{"get":{"tags":["CSV"],"summary":"105年新北市交通違規取締統計","description":"105年新北市交通違規取締統計。","operationId":"get_df9841ec_dcce_4f0f_827b_2ff15fb5daf6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/df9841ec-dcce-4f0f-827b-2ff15fb5daf6\/json":{"get":{"tags":["JSON"],"summary":"105年新北市交通違規取締統計","description":"105年新北市交通違規取締統計。","operationId":"get_df9841ec_dcce_4f0f_827b_2ff15fb5daf6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/df9841ec-dcce-4f0f-827b-2ff15fb5daf6\/xml":{"get":{"tags":["XML"],"summary":"105年新北市交通違規取締統計","description":"105年新北市交通違規取締統計。","operationId":"get_df9841ec_dcce_4f0f_827b_2ff15fb5daf6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/87b66cbf-3edd-488c-9525-ac8f39979e24\/csv":{"get":{"tags":["CSV"],"summary":"106年新北市A2道路交通事故","description":"106年新北市A2道路交通事故。","operationId":"get_87b66cbf_3edd_488c_9525_ac8f39979e24_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/87b66cbf-3edd-488c-9525-ac8f39979e24\/json":{"get":{"tags":["JSON"],"summary":"106年新北市A2道路交通事故","description":"106年新北市A2道路交通事故。","operationId":"get_87b66cbf_3edd_488c_9525_ac8f39979e24_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/87b66cbf-3edd-488c-9525-ac8f39979e24\/xml":{"get":{"tags":["XML"],"summary":"106年新北市A2道路交通事故","description":"106年新北市A2道路交通事故。","operationId":"get_87b66cbf_3edd_488c_9525_ac8f39979e24_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/63461852-abd1-4f74-b8d1-5f61001776ac\/csv":{"get":{"tags":["CSV"],"summary":"106年新北市交通違規取締統計","description":"106年新北市交通違規取締統計。","operationId":"get_63461852_abd1_4f74_b8d1_5f61001776ac_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/63461852-abd1-4f74-b8d1-5f61001776ac\/json":{"get":{"tags":["JSON"],"summary":"106年新北市交通違規取締統計","description":"106年新北市交通違規取締統計。","operationId":"get_63461852_abd1_4f74_b8d1_5f61001776ac_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/63461852-abd1-4f74-b8d1-5f61001776ac\/xml":{"get":{"tags":["XML"],"summary":"106年新北市交通違規取締統計","description":"106年新北市交通違規取締統計。","operationId":"get_63461852_abd1_4f74_b8d1_5f61001776ac_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bf3f4f49-5885-429e-83fa-a165654ff4be\/csv":{"get":{"tags":["CSV"],"summary":"107年新北市A2道路交通事故","description":"107年新北市A2道路交通事故。","operationId":"get_bf3f4f49_5885_429e_83fa_a165654ff4be_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bf3f4f49-5885-429e-83fa-a165654ff4be\/json":{"get":{"tags":["JSON"],"summary":"107年新北市A2道路交通事故","description":"107年新北市A2道路交通事故。","operationId":"get_bf3f4f49_5885_429e_83fa_a165654ff4be_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bf3f4f49-5885-429e-83fa-a165654ff4be\/xml":{"get":{"tags":["XML"],"summary":"107年新北市A2道路交通事故","description":"107年新北市A2道路交通事故。","operationId":"get_bf3f4f49_5885_429e_83fa_a165654ff4be_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7b9623b2-ddfd-4c76-8aa7-4a65b7333953\/csv":{"get":{"tags":["CSV"],"summary":"107年新北市交通違規取締統計","description":"107年新北市交通違規取締統計。","operationId":"get_7b9623b2_ddfd_4c76_8aa7_4a65b7333953_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/7b9623b2-ddfd-4c76-8aa7-4a65b7333953\/json":{"get":{"tags":["JSON"],"summary":"107年新北市交通違規取締統計","description":"107年新北市交通違規取締統計。","operationId":"get_7b9623b2_ddfd_4c76_8aa7_4a65b7333953_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/7b9623b2-ddfd-4c76-8aa7-4a65b7333953\/xml":{"get":{"tags":["XML"],"summary":"107年新北市交通違規取締統計","description":"107年新北市交通違規取締統計。","operationId":"get_7b9623b2_ddfd_4c76_8aa7_4a65b7333953_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/12423e69-7697-4a32-93e4-c3c38c4581aa\/csv":{"get":{"tags":["CSV"],"summary":"108年新北市交通違規取締統計","description":"108年新北市交通違規取締統","operationId":"get_12423e69_7697_4a32_93e4_c3c38c4581aa_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/12423e69-7697-4a32-93e4-c3c38c4581aa\/json":{"get":{"tags":["JSON"],"summary":"108年新北市交通違規取締統計","description":"108年新北市交通違規取締統","operationId":"get_12423e69_7697_4a32_93e4_c3c38c4581aa_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/12423e69-7697-4a32-93e4-c3c38c4581aa\/xml":{"get":{"tags":["XML"],"summary":"108年新北市交通違規取締統計","description":"108年新北市交通違規取締統","operationId":"get_12423e69_7697_4a32_93e4_c3c38c4581aa_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b5b35668-12ca-464b-b8fe-c44691ed4d12\/csv":{"get":{"tags":["CSV"],"summary":"109年新北市交通違規取締統計","description":"109年新北市交通違規取締統計。","operationId":"get_b5b35668_12ca_464b_b8fe_c44691ed4d12_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b5b35668-12ca-464b-b8fe-c44691ed4d12\/json":{"get":{"tags":["JSON"],"summary":"109年新北市交通違規取締統計","description":"109年新北市交通違規取締統計。","operationId":"get_b5b35668_12ca_464b_b8fe_c44691ed4d12_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b5b35668-12ca-464b-b8fe-c44691ed4d12\/xml":{"get":{"tags":["XML"],"summary":"109年新北市交通違規取締統計","description":"109年新北市交通違規取締統計。","operationId":"get_b5b35668_12ca_464b_b8fe_c44691ed4d12_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b7600e46-6534-4292-8d8c-ab604b97e333\/csv":{"get":{"tags":["CSV"],"summary":"110年新北市交通違規取締統計","description":"110年新北市交通違規取締統計。","operationId":"get_b7600e46_6534_4292_8d8c_ab604b97e333_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b7600e46-6534-4292-8d8c-ab604b97e333\/json":{"get":{"tags":["JSON"],"summary":"110年新北市交通違規取締統計","description":"110年新北市交通違規取締統計。","operationId":"get_b7600e46_6534_4292_8d8c_ab604b97e333_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b7600e46-6534-4292-8d8c-ab604b97e333\/xml":{"get":{"tags":["XML"],"summary":"110年新北市交通違規取締統計","description":"110年新北市交通違規取締統計。","operationId":"get_b7600e46_6534_4292_8d8c_ab604b97e333_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/27b97ad9-9dba-4ca9-b0ed-14b29000ffec\/csv":{"get":{"tags":["CSV"],"summary":"區間平均速率執法設備設置地點","description":"區間平均速率執法設備設置地點。","operationId":"get_27b97ad9_9dba_4ca9_b0ed_14b29000ffec_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/27b97ad9-9dba-4ca9-b0ed-14b29000ffec\/json":{"get":{"tags":["JSON"],"summary":"區間平均速率執法設備設置地點","description":"區間平均速率執法設備設置地點。","operationId":"get_27b97ad9_9dba_4ca9_b0ed_14b29000ffec_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/27b97ad9-9dba-4ca9-b0ed-14b29000ffec\/xml":{"get":{"tags":["XML"],"summary":"區間平均速率執法設備設置地點","description":"區間平均速率執法設備設置地點。","operationId":"get_27b97ad9_9dba_4ca9_b0ed_14b29000ffec_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/54c8db42-c762-4462-8af4-6e0f28956bc1\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A1道路交通事故-未滿12歲兒童統計","description":"新北市102年A1道路交通事故-未滿12歲兒童統計。","operationId":"get_54c8db42_c762_4462_8af4_6e0f28956bc1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/54c8db42-c762-4462-8af4-6e0f28956bc1\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A1道路交通事故-未滿12歲兒童統計","description":"新北市102年A1道路交通事故-未滿12歲兒童統計。","operationId":"get_54c8db42_c762_4462_8af4_6e0f28956bc1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/54c8db42-c762-4462-8af4-6e0f28956bc1\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A1道路交通事故-未滿12歲兒童統計","description":"新北市102年A1道路交通事故-未滿12歲兒童統計。","operationId":"get_54c8db42_c762_4462_8af4_6e0f28956bc1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8f39220a-2d15-4c3c-ba8b-aad139f568db\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A1道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"本市102年A1交通事故中機車騎士及乘客之死亡人數為76人、受傷人數為31人，其中佩戴安全帽之死亡人數為72人、受傷人數為31人，比率為96.2%，惟頭戴安全帽並不是生命安全的絕對保證，尚有極大可能而造成身體其他部位之傷害。","operationId":"get_8f39220a_2d15_4c3c_ba8b_aad139f568db_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8f39220a-2d15-4c3c-ba8b-aad139f568db\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A1道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"本市102年A1交通事故中機車騎士及乘客之死亡人數為76人、受傷人數為31人，其中佩戴安全帽之死亡人數為72人、受傷人數為31人，比率為96.2%，惟頭戴安全帽並不是生命安全的絕對保證，尚有極大可能而造成身體其他部位之傷害。","operationId":"get_8f39220a_2d15_4c3c_ba8b_aad139f568db_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8f39220a-2d15-4c3c-ba8b-aad139f568db\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A1道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"本市102年A1交通事故中機車騎士及乘客之死亡人數為76人、受傷人數為31人，其中佩戴安全帽之死亡人數為72人、受傷人數為31人，比率為96.2%，惟頭戴安全帽並不是生命安全的絕對保證，尚有極大可能而造成身體其他部位之傷害。","operationId":"get_8f39220a_2d15_4c3c_ba8b_aad139f568db_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fdaa8372-d6de-4301-a788-d5a0c8253c42\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A1道路交通事故-死亡年齡與行動狀態統計","description":"新北市102年A1道路交通事故-死亡年齡與行動狀態統計。","operationId":"get_fdaa8372_d6de_4301_a788_d5a0c8253c42_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/fdaa8372-d6de-4301-a788-d5a0c8253c42\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A1道路交通事故-死亡年齡與行動狀態統計","description":"新北市102年A1道路交通事故-死亡年齡與行動狀態統計。","operationId":"get_fdaa8372_d6de_4301_a788_d5a0c8253c42_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/fdaa8372-d6de-4301-a788-d5a0c8253c42\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A1道路交通事故-死亡年齡與行動狀態統計","description":"新北市102年A1道路交通事故-死亡年齡與行動狀態統計。","operationId":"get_fdaa8372_d6de_4301_a788_d5a0c8253c42_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b7072af8-03eb-4290-aac6-904d64f03eea\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A1道路交通事故-第一當事者使用行動電話分析統計","description":"新北市102年A1道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_b7072af8_03eb_4290_aac6_904d64f03eea_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b7072af8-03eb-4290-aac6-904d64f03eea\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A1道路交通事故-第一當事者使用行動電話分析統計","description":"新北市102年A1道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_b7072af8_03eb_4290_aac6_904d64f03eea_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b7072af8-03eb-4290-aac6-904d64f03eea\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A1道路交通事故-第一當事者使用行動電話分析統計","description":"新北市102年A1道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_b7072af8_03eb_4290_aac6_904d64f03eea_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8f20f361-acee-47f2-95ed-83c2a1a47400\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A1道路交通事故-第一當事者車輛用途","description":"新北市102年A1道路交通事故-第一當事者車輛用途。","operationId":"get_8f20f361_acee_47f2_95ed_83c2a1a47400_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8f20f361-acee-47f2-95ed-83c2a1a47400\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A1道路交通事故-第一當事者車輛用途","description":"新北市102年A1道路交通事故-第一當事者車輛用途。","operationId":"get_8f20f361_acee_47f2_95ed_83c2a1a47400_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8f20f361-acee-47f2-95ed-83c2a1a47400\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A1道路交通事故-第一當事者車輛用途","description":"新北市102年A1道路交通事故-第一當事者車輛用途。","operationId":"get_8f20f361_acee_47f2_95ed_83c2a1a47400_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/709e1107-6c8b-4365-808e-d8dff0d140b9\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A1道路交通事故-第一當事者飲酒情形","description":"新北市102年A1道路交通事故-第一當事者飲酒情形。","operationId":"get_709e1107_6c8b_4365_808e_d8dff0d140b9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/709e1107-6c8b-4365-808e-d8dff0d140b9\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A1道路交通事故-第一當事者飲酒情形","description":"新北市102年A1道路交通事故-第一當事者飲酒情形。","operationId":"get_709e1107_6c8b_4365_808e_d8dff0d140b9_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/709e1107-6c8b-4365-808e-d8dff0d140b9\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A1道路交通事故-第一當事者飲酒情形","description":"新北市102年A1道路交通事故-第一當事者飲酒情形。","operationId":"get_709e1107_6c8b_4365_808e_d8dff0d140b9_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/63f22e69-42c8-46e2-aec8-a6a51790bef8\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A1道路交通事故-駕駛人年齡分布統計","description":"新北市102年A1道路交通事故-駕駛人年齡分布統計。","operationId":"get_63f22e69_42c8_46e2_aec8_a6a51790bef8_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/63f22e69-42c8-46e2-aec8-a6a51790bef8\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A1道路交通事故-駕駛人年齡分布統計","description":"新北市102年A1道路交通事故-駕駛人年齡分布統計。","operationId":"get_63f22e69_42c8_46e2_aec8_a6a51790bef8_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/63f22e69-42c8-46e2-aec8-a6a51790bef8\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A1道路交通事故-駕駛人年齡分布統計","description":"新北市102年A1道路交通事故-駕駛人年齡分布統計。","operationId":"get_63f22e69_42c8_46e2_aec8_a6a51790bef8_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a9f266f7-ccc3-4708-bf5d-ee07cbd2061f\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A2道路交通事故-受傷年齡與行動狀態統計","description":"新北市102年A2道路交通事故-受傷年齡與行動狀態統計。","operationId":"get_a9f266f7_ccc3_4708_bf5d_ee07cbd2061f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a9f266f7-ccc3-4708-bf5d-ee07cbd2061f\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A2道路交通事故-受傷年齡與行動狀態統計","description":"新北市102年A2道路交通事故-受傷年齡與行動狀態統計。","operationId":"get_a9f266f7_ccc3_4708_bf5d_ee07cbd2061f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a9f266f7-ccc3-4708-bf5d-ee07cbd2061f\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A2道路交通事故-受傷年齡與行動狀態統計","description":"新北市102年A2道路交通事故-受傷年齡與行動狀態統計。","operationId":"get_a9f266f7_ccc3_4708_bf5d_ee07cbd2061f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/93262eda-07ce-4cb3-85aa-16a2d8dd5549\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A2道路交通事故-未滿12歲兒童統計","description":"新北市102年A2道路交通事故-未滿12歲兒童統計。","operationId":"get_93262eda_07ce_4cb3_85aa_16a2d8dd5549_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/93262eda-07ce-4cb3-85aa-16a2d8dd5549\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A2道路交通事故-未滿12歲兒童統計","description":"新北市102年A2道路交通事故-未滿12歲兒童統計。","operationId":"get_93262eda_07ce_4cb3_85aa_16a2d8dd5549_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/93262eda-07ce-4cb3-85aa-16a2d8dd5549\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A2道路交通事故-未滿12歲兒童統計","description":"新北市102年A2道路交通事故-未滿12歲兒童統計。","operationId":"get_93262eda_07ce_4cb3_85aa_16a2d8dd5549_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d8f9d922-1183-4e33-b38f-ab07df09c71d\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A2道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"本市102年交通事故中機車騎士及乘客受傷人數為24758人，其中佩戴安全帽人數為24597人，比率為99.3%，惟頭戴安全帽並不是生命安全的絕對保證，尚有極大可能而造成身體其他部位之傷害。","operationId":"get_d8f9d922_1183_4e33_b38f_ab07df09c71d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d8f9d922-1183-4e33-b38f-ab07df09c71d\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A2道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"本市102年交通事故中機車騎士及乘客受傷人數為24758人，其中佩戴安全帽人數為24597人，比率為99.3%，惟頭戴安全帽並不是生命安全的絕對保證，尚有極大可能而造成身體其他部位之傷害。","operationId":"get_d8f9d922_1183_4e33_b38f_ab07df09c71d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d8f9d922-1183-4e33-b38f-ab07df09c71d\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A2道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"本市102年交通事故中機車騎士及乘客受傷人數為24758人，其中佩戴安全帽人數為24597人，比率為99.3%，惟頭戴安全帽並不是生命安全的絕對保證，尚有極大可能而造成身體其他部位之傷害。","operationId":"get_d8f9d922_1183_4e33_b38f_ab07df09c71d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/729169a8-c73f-4bd3-9538-a2a64f3a3ac2\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A2道路交通事故-第一當事者使用行動電話分析統計","description":"新北市102年A2道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_729169a8_c73f_4bd3_9538_a2a64f3a3ac2_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/729169a8-c73f-4bd3-9538-a2a64f3a3ac2\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A2道路交通事故-第一當事者使用行動電話分析統計","description":"新北市102年A2道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_729169a8_c73f_4bd3_9538_a2a64f3a3ac2_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/729169a8-c73f-4bd3-9538-a2a64f3a3ac2\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A2道路交通事故-第一當事者使用行動電話分析統計","description":"新北市102年A2道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_729169a8_c73f_4bd3_9538_a2a64f3a3ac2_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d6aaeebf-3207-4c03-97e0-f5d027746b8d\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A2道路交通事故-第一當事者車輛用途","description":"新北市102年A2道路交通事故-第一當事者車輛用途。","operationId":"get_d6aaeebf_3207_4c03_97e0_f5d027746b8d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d6aaeebf-3207-4c03-97e0-f5d027746b8d\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A2道路交通事故-第一當事者車輛用途","description":"新北市102年A2道路交通事故-第一當事者車輛用途。","operationId":"get_d6aaeebf_3207_4c03_97e0_f5d027746b8d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d6aaeebf-3207-4c03-97e0-f5d027746b8d\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A2道路交通事故-第一當事者車輛用途","description":"新北市102年A2道路交通事故-第一當事者車輛用途。","operationId":"get_d6aaeebf_3207_4c03_97e0_f5d027746b8d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4ddb3a25-bed2-4818-9030-26d92c4dacb7\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A2道路交通事故-第一當事者飲酒情形","description":"新北市102年A2道路交通事故-第一當事者飲酒情形。","operationId":"get_4ddb3a25_bed2_4818_9030_26d92c4dacb7_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4ddb3a25-bed2-4818-9030-26d92c4dacb7\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A2道路交通事故-第一當事者飲酒情形","description":"新北市102年A2道路交通事故-第一當事者飲酒情形。","operationId":"get_4ddb3a25_bed2_4818_9030_26d92c4dacb7_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4ddb3a25-bed2-4818-9030-26d92c4dacb7\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A2道路交通事故-第一當事者飲酒情形","description":"新北市102年A2道路交通事故-第一當事者飲酒情形。","operationId":"get_4ddb3a25_bed2_4818_9030_26d92c4dacb7_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/12035857-9e64-4ecc-ae6a-6f0d8aa940f4\/csv":{"get":{"tags":["CSV"],"summary":"新北市102年A2道路交通事故-駕駛人年齡分布統計","description":"新北市102年A2道路交通事故-駕駛人年齡分布統計。","operationId":"get_12035857_9e64_4ecc_ae6a_6f0d8aa940f4_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/12035857-9e64-4ecc-ae6a-6f0d8aa940f4\/json":{"get":{"tags":["JSON"],"summary":"新北市102年A2道路交通事故-駕駛人年齡分布統計","description":"新北市102年A2道路交通事故-駕駛人年齡分布統計。","operationId":"get_12035857_9e64_4ecc_ae6a_6f0d8aa940f4_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/12035857-9e64-4ecc-ae6a-6f0d8aa940f4\/xml":{"get":{"tags":["XML"],"summary":"新北市102年A2道路交通事故-駕駛人年齡分布統計","description":"新北市102年A2道路交通事故-駕駛人年齡分布統計。","operationId":"get_12035857_9e64_4ecc_ae6a_6f0d8aa940f4_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5c4970d0-c112-42fb-899a-2bd237bd4ffe\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A1道路交通事故-未滿12歲兒童統計","description":"新北市103年A1道路交通事故-未滿12歲兒童統計。","operationId":"get_5c4970d0_c112_42fb_899a_2bd237bd4ffe_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/5c4970d0-c112-42fb-899a-2bd237bd4ffe\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A1道路交通事故-未滿12歲兒童統計","description":"新北市103年A1道路交通事故-未滿12歲兒童統計。","operationId":"get_5c4970d0_c112_42fb_899a_2bd237bd4ffe_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/5c4970d0-c112-42fb-899a-2bd237bd4ffe\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A1道路交通事故-未滿12歲兒童統計","description":"新北市103年A1道路交通事故-未滿12歲兒童統計。","operationId":"get_5c4970d0_c112_42fb_899a_2bd237bd4ffe_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/08326773-9ac2-4fbb-b674-508c674b1efd\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A1道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"本市103年A1交通事故中機車騎士及乘客之死亡人數為67人、受傷人數為32人，其中佩戴安全帽之死亡人數為64人、受傷人數為31人，比率為95.9%，惟頭戴安全帽並不是生命安全的絕對保證，尚有極大可能而造成身體其他部位之傷害。","operationId":"get_08326773_9ac2_4fbb_b674_508c674b1efd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/08326773-9ac2-4fbb-b674-508c674b1efd\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A1道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"本市103年A1交通事故中機車騎士及乘客之死亡人數為67人、受傷人數為32人，其中佩戴安全帽之死亡人數為64人、受傷人數為31人，比率為95.9%，惟頭戴安全帽並不是生命安全的絕對保證，尚有極大可能而造成身體其他部位之傷害。","operationId":"get_08326773_9ac2_4fbb_b674_508c674b1efd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/08326773-9ac2-4fbb-b674-508c674b1efd\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A1道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"本市103年A1交通事故中機車騎士及乘客之死亡人數為67人、受傷人數為32人，其中佩戴安全帽之死亡人數為64人、受傷人數為31人，比率為95.9%，惟頭戴安全帽並不是生命安全的絕對保證，尚有極大可能而造成身體其他部位之傷害。","operationId":"get_08326773_9ac2_4fbb_b674_508c674b1efd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9bd59a1e-6069-452e-85fb-fc0b7e25d665\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A1道路交通事故-死亡年齡與行動狀態統計","description":"新北市103年A1道路交通事故-死亡年齡與行動狀態統計。","operationId":"get_9bd59a1e_6069_452e_85fb_fc0b7e25d665_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9bd59a1e-6069-452e-85fb-fc0b7e25d665\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A1道路交通事故-死亡年齡與行動狀態統計","description":"新北市103年A1道路交通事故-死亡年齡與行動狀態統計。","operationId":"get_9bd59a1e_6069_452e_85fb_fc0b7e25d665_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9bd59a1e-6069-452e-85fb-fc0b7e25d665\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A1道路交通事故-死亡年齡與行動狀態統計","description":"新北市103年A1道路交通事故-死亡年齡與行動狀態統計。","operationId":"get_9bd59a1e_6069_452e_85fb_fc0b7e25d665_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4906803c-2e66-4b58-8de1-5e0dc4f5c78c\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A1道路交通事故-第一當事者使用行動電話分析統計","description":"新北市103年A1道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_4906803c_2e66_4b58_8de1_5e0dc4f5c78c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4906803c-2e66-4b58-8de1-5e0dc4f5c78c\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A1道路交通事故-第一當事者使用行動電話分析統計","description":"新北市103年A1道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_4906803c_2e66_4b58_8de1_5e0dc4f5c78c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4906803c-2e66-4b58-8de1-5e0dc4f5c78c\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A1道路交通事故-第一當事者使用行動電話分析統計","description":"新北市103年A1道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_4906803c_2e66_4b58_8de1_5e0dc4f5c78c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9dcbd85c-4d51-4798-8b4e-90de82f1a556\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A1道路交通事故-第一當事者車輛用途","description":"新北市103年A1道路交通事故-第一當事者車輛用途。","operationId":"get_9dcbd85c_4d51_4798_8b4e_90de82f1a556_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9dcbd85c-4d51-4798-8b4e-90de82f1a556\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A1道路交通事故-第一當事者車輛用途","description":"新北市103年A1道路交通事故-第一當事者車輛用途。","operationId":"get_9dcbd85c_4d51_4798_8b4e_90de82f1a556_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9dcbd85c-4d51-4798-8b4e-90de82f1a556\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A1道路交通事故-第一當事者車輛用途","description":"新北市103年A1道路交通事故-第一當事者車輛用途。","operationId":"get_9dcbd85c_4d51_4798_8b4e_90de82f1a556_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/50257462-6bac-4bf7-846e-55a90d76a6f3\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A1道路交通事故-第一當事者飲酒情形","description":"新北市103年A1道路交通事故-第一當事者飲酒情形。","operationId":"get_50257462_6bac_4bf7_846e_55a90d76a6f3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/50257462-6bac-4bf7-846e-55a90d76a6f3\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A1道路交通事故-第一當事者飲酒情形","description":"新北市103年A1道路交通事故-第一當事者飲酒情形。","operationId":"get_50257462_6bac_4bf7_846e_55a90d76a6f3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/50257462-6bac-4bf7-846e-55a90d76a6f3\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A1道路交通事故-第一當事者飲酒情形","description":"新北市103年A1道路交通事故-第一當事者飲酒情形。","operationId":"get_50257462_6bac_4bf7_846e_55a90d76a6f3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8867a709-6f49-4482-97bf-6ec797b9d229\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A1道路交通事故-駕駛人年齡分布統計","description":"新北市103年A1道路交通事故-駕駛人年齡分布統計。","operationId":"get_8867a709_6f49_4482_97bf_6ec797b9d229_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/8867a709-6f49-4482-97bf-6ec797b9d229\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A1道路交通事故-駕駛人年齡分布統計","description":"新北市103年A1道路交通事故-駕駛人年齡分布統計。","operationId":"get_8867a709_6f49_4482_97bf_6ec797b9d229_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/8867a709-6f49-4482-97bf-6ec797b9d229\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A1道路交通事故-駕駛人年齡分布統計","description":"新北市103年A1道路交通事故-駕駛人年齡分布統計。","operationId":"get_8867a709_6f49_4482_97bf_6ec797b9d229_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3e3414fa-1a97-42c7-ab00-6208f0177477\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A2道路交通事故-受傷年齡與行動狀態統計","description":"新北市103年A2道路交通事故-受傷年齡與行動狀態統計。","operationId":"get_3e3414fa_1a97_42c7_ab00_6208f0177477_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/3e3414fa-1a97-42c7-ab00-6208f0177477\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A2道路交通事故-受傷年齡與行動狀態統計","description":"新北市103年A2道路交通事故-受傷年齡與行動狀態統計。","operationId":"get_3e3414fa_1a97_42c7_ab00_6208f0177477_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/3e3414fa-1a97-42c7-ab00-6208f0177477\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A2道路交通事故-受傷年齡與行動狀態統計","description":"新北市103年A2道路交通事故-受傷年齡與行動狀態統計。","operationId":"get_3e3414fa_1a97_42c7_ab00_6208f0177477_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1eb528a0-7ce4-47e9-8faa-b1b17169b1ca\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A2道路交通事故-未滿12歲兒童統計","description":"新北市103年A2道路交通事故-未滿12歲兒童統計。","operationId":"get_1eb528a0_7ce4_47e9_8faa_b1b17169b1ca_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1eb528a0-7ce4-47e9-8faa-b1b17169b1ca\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A2道路交通事故-未滿12歲兒童統計","description":"新北市103年A2道路交通事故-未滿12歲兒童統計。","operationId":"get_1eb528a0_7ce4_47e9_8faa_b1b17169b1ca_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1eb528a0-7ce4-47e9-8faa-b1b17169b1ca\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A2道路交通事故-未滿12歲兒童統計","description":"新北市103年A2道路交通事故-未滿12歲兒童統計。","operationId":"get_1eb528a0_7ce4_47e9_8faa_b1b17169b1ca_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/99c41cfa-0aa4-48f2-8fb3-42e50315c767\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A2道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"本市103年交通事故中機車騎士及乘客受傷人數為30868人，其中佩戴安全帽人數為30668，比率為99.3%，惟頭戴安全帽並不是生命安全的絕對保證，尚有極大可能而造成身體其他部位之傷害。","operationId":"get_99c41cfa_0aa4_48f2_8fb3_42e50315c767_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/99c41cfa-0aa4-48f2-8fb3-42e50315c767\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A2道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"本市103年交通事故中機車騎士及乘客受傷人數為30868人，其中佩戴安全帽人數為30668，比率為99.3%，惟頭戴安全帽並不是生命安全的絕對保證，尚有極大可能而造成身體其他部位之傷害。","operationId":"get_99c41cfa_0aa4_48f2_8fb3_42e50315c767_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/99c41cfa-0aa4-48f2-8fb3-42e50315c767\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A2道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"本市103年交通事故中機車騎士及乘客受傷人數為30868人，其中佩戴安全帽人數為30668，比率為99.3%，惟頭戴安全帽並不是生命安全的絕對保證，尚有極大可能而造成身體其他部位之傷害。","operationId":"get_99c41cfa_0aa4_48f2_8fb3_42e50315c767_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2a8c2be3-edf3-4b1a-b415-0c1f1a16b329\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A2道路交通事故-第一當事者使用行動電話分析統計","description":"新北市103年A2道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_2a8c2be3_edf3_4b1a_b415_0c1f1a16b329_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/2a8c2be3-edf3-4b1a-b415-0c1f1a16b329\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A2道路交通事故-第一當事者使用行動電話分析統計","description":"新北市103年A2道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_2a8c2be3_edf3_4b1a_b415_0c1f1a16b329_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/2a8c2be3-edf3-4b1a-b415-0c1f1a16b329\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A2道路交通事故-第一當事者使用行動電話分析統計","description":"新北市103年A2道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_2a8c2be3_edf3_4b1a_b415_0c1f1a16b329_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/13883c35-54bc-4298-ad5a-762bac1d67ad\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A2道路交通事故-第一當事者車輛用途","description":"新北市103年A2道路交通事故-第一當事者車輛用途。","operationId":"get_13883c35_54bc_4298_ad5a_762bac1d67ad_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/13883c35-54bc-4298-ad5a-762bac1d67ad\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A2道路交通事故-第一當事者車輛用途","description":"新北市103年A2道路交通事故-第一當事者車輛用途。","operationId":"get_13883c35_54bc_4298_ad5a_762bac1d67ad_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/13883c35-54bc-4298-ad5a-762bac1d67ad\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A2道路交通事故-第一當事者車輛用途","description":"新北市103年A2道路交通事故-第一當事者車輛用途。","operationId":"get_13883c35_54bc_4298_ad5a_762bac1d67ad_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/77fa43aa-351f-4bab-9866-4ba767cba79f\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A2道路交通事故-第一當事者飲酒情形","description":"新北市103年A2道路交通事故-第一當事者飲酒情形。","operationId":"get_77fa43aa_351f_4bab_9866_4ba767cba79f_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/77fa43aa-351f-4bab-9866-4ba767cba79f\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A2道路交通事故-第一當事者飲酒情形","description":"新北市103年A2道路交通事故-第一當事者飲酒情形。","operationId":"get_77fa43aa_351f_4bab_9866_4ba767cba79f_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/77fa43aa-351f-4bab-9866-4ba767cba79f\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A2道路交通事故-第一當事者飲酒情形","description":"新北市103年A2道路交通事故-第一當事者飲酒情形。","operationId":"get_77fa43aa_351f_4bab_9866_4ba767cba79f_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d0ed9e9b-cc51-4ee6-ba7b-953133f084ec\/csv":{"get":{"tags":["CSV"],"summary":"新北市103年A2道路交通事故-駕駛人年齡分布統計","description":"新北市103年A2道路交通事故-駕駛人年齡分布統計。","operationId":"get_d0ed9e9b_cc51_4ee6_ba7b_953133f084ec_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d0ed9e9b-cc51-4ee6-ba7b-953133f084ec\/json":{"get":{"tags":["JSON"],"summary":"新北市103年A2道路交通事故-駕駛人年齡分布統計","description":"新北市103年A2道路交通事故-駕駛人年齡分布統計。","operationId":"get_d0ed9e9b_cc51_4ee6_ba7b_953133f084ec_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d0ed9e9b-cc51-4ee6-ba7b-953133f084ec\/xml":{"get":{"tags":["XML"],"summary":"新北市103年A2道路交通事故-駕駛人年齡分布統計","description":"新北市103年A2道路交通事故-駕駛人年齡分布統計。","operationId":"get_d0ed9e9b_cc51_4ee6_ba7b_953133f084ec_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/62198fe5-c6ff-4d63-b549-6d47819c732e\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A1道路交通事故-未滿12歲兒童統計","description":"新北市104年A1道路交通事故-未滿12歲兒童統計。","operationId":"get_62198fe5_c6ff_4d63_b549_6d47819c732e_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/62198fe5-c6ff-4d63-b549-6d47819c732e\/json":{"get":{"tags":["JSON"],"summary":"新北市104年A1道路交通事故-未滿12歲兒童統計","description":"新北市104年A1道路交通事故-未滿12歲兒童統計。","operationId":"get_62198fe5_c6ff_4d63_b549_6d47819c732e_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/62198fe5-c6ff-4d63-b549-6d47819c732e\/xml":{"get":{"tags":["XML"],"summary":"新北市104年A1道路交通事故-未滿12歲兒童統計","description":"新北市104年A1道路交通事故-未滿12歲兒童統計。","operationId":"get_62198fe5_c6ff_4d63_b549_6d47819c732e_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d99ce44a-dd7b-4803-86c9-1b3efe67ed49\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A1道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"新北市104年A1道路交通事故-機車傷亡者與戴用安全帽關係統計。","operationId":"get_d99ce44a_dd7b_4803_86c9_1b3efe67ed49_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d99ce44a-dd7b-4803-86c9-1b3efe67ed49\/json":{"get":{"tags":["JSON"],"summary":"新北市104年A1道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"新北市104年A1道路交通事故-機車傷亡者與戴用安全帽關係統計。","operationId":"get_d99ce44a_dd7b_4803_86c9_1b3efe67ed49_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/d99ce44a-dd7b-4803-86c9-1b3efe67ed49\/xml":{"get":{"tags":["XML"],"summary":"新北市104年A1道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"新北市104年A1道路交通事故-機車傷亡者與戴用安全帽關係統計。","operationId":"get_d99ce44a_dd7b_4803_86c9_1b3efe67ed49_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/973d481f-2762-4198-9612-81527672ac53\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A1道路交通事故-死亡年齡與行動狀態統計","description":"新北市104年A1道路交通事故-死亡年齡與行動狀態統計。","operationId":"get_973d481f_2762_4198_9612_81527672ac53_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/973d481f-2762-4198-9612-81527672ac53\/json":{"get":{"tags":["JSON"],"summary":"新北市104年A1道路交通事故-死亡年齡與行動狀態統計","description":"新北市104年A1道路交通事故-死亡年齡與行動狀態統計。","operationId":"get_973d481f_2762_4198_9612_81527672ac53_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/973d481f-2762-4198-9612-81527672ac53\/xml":{"get":{"tags":["XML"],"summary":"新北市104年A1道路交通事故-死亡年齡與行動狀態統計","description":"新北市104年A1道路交通事故-死亡年齡與行動狀態統計。","operationId":"get_973d481f_2762_4198_9612_81527672ac53_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/091dc91b-8032-4419-b1be-f0e311d2cce3\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A1道路交通事故-第一當事者使用行動電話分析統計","description":"新北市104年A1道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_091dc91b_8032_4419_b1be_f0e311d2cce3_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/091dc91b-8032-4419-b1be-f0e311d2cce3\/json":{"get":{"tags":["JSON"],"summary":"新北市104年A1道路交通事故-第一當事者使用行動電話分析統計","description":"新北市104年A1道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_091dc91b_8032_4419_b1be_f0e311d2cce3_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/091dc91b-8032-4419-b1be-f0e311d2cce3\/xml":{"get":{"tags":["XML"],"summary":"新北市104年A1道路交通事故-第一當事者使用行動電話分析統計","description":"新北市104年A1道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_091dc91b_8032_4419_b1be_f0e311d2cce3_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/51b9c79f-89f8-4f62-97fd-81f795329f14\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A1道路交通事故-第一當事者車輛用途","description":"新北市104年A1道路交通事故-第一當事者車輛用途。","operationId":"get_51b9c79f_89f8_4f62_97fd_81f795329f14_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/51b9c79f-89f8-4f62-97fd-81f795329f14\/json":{"get":{"tags":["JSON"],"summary":"新北市104年A1道路交通事故-第一當事者車輛用途","description":"新北市104年A1道路交通事故-第一當事者車輛用途。","operationId":"get_51b9c79f_89f8_4f62_97fd_81f795329f14_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/51b9c79f-89f8-4f62-97fd-81f795329f14\/xml":{"get":{"tags":["XML"],"summary":"新北市104年A1道路交通事故-第一當事者車輛用途","description":"新北市104年A1道路交通事故-第一當事者車輛用途。","operationId":"get_51b9c79f_89f8_4f62_97fd_81f795329f14_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9ed21669-fbd1-4f31-a3cc-be72bb5e67a6\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A1道路交通事故-第一當事者飲酒情形","description":"新北市104年A1道路交通事故-第一當事者飲酒情形。","operationId":"get_9ed21669_fbd1_4f31_a3cc_be72bb5e67a6_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9ed21669-fbd1-4f31-a3cc-be72bb5e67a6\/json":{"get":{"tags":["JSON"],"summary":"新北市104年A1道路交通事故-第一當事者飲酒情形","description":"新北市104年A1道路交通事故-第一當事者飲酒情形。","operationId":"get_9ed21669_fbd1_4f31_a3cc_be72bb5e67a6_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9ed21669-fbd1-4f31-a3cc-be72bb5e67a6\/xml":{"get":{"tags":["XML"],"summary":"新北市104年A1道路交通事故-第一當事者飲酒情形","description":"新北市104年A1道路交通事故-第一當事者飲酒情形。","operationId":"get_9ed21669_fbd1_4f31_a3cc_be72bb5e67a6_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b0d85bb5-ff0e-4f04-afd0-3ef5d2c1c369\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A1道路交通事故-駕駛人年齡分布統計","description":"新北市104年A1道路交通事故-駕駛人年齡分布統計。","operationId":"get_b0d85bb5_ff0e_4f04_afd0_3ef5d2c1c369_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/b0d85bb5-ff0e-4f04-afd0-3ef5d2c1c369\/json":{"get":{"tags":["JSON"],"summary":"新北市104年A1道路交通事故-駕駛人年齡分布統計","description":"新北市104年A1道路交通事故-駕駛人年齡分布統計。","operationId":"get_b0d85bb5_ff0e_4f04_afd0_3ef5d2c1c369_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/b0d85bb5-ff0e-4f04-afd0-3ef5d2c1c369\/xml":{"get":{"tags":["XML"],"summary":"新北市104年A1道路交通事故-駕駛人年齡分布統計","description":"新北市104年A1道路交通事故-駕駛人年齡分布統計。","operationId":"get_b0d85bb5_ff0e_4f04_afd0_3ef5d2c1c369_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/dfd0cc35-cd54-4268-bcca-773240f80fdd\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A2道路交通事故-受傷年齡與行動狀態統計","description":"新北市104年A2道路交通事故-受傷年齡與行動狀態統計。","operationId":"get_dfd0cc35_cd54_4268_bcca_773240f80fdd_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/dfd0cc35-cd54-4268-bcca-773240f80fdd\/json":{"get":{"tags":["JSON"],"summary":"新北市104年A2道路交通事故-受傷年齡與行動狀態統計","description":"新北市104年A2道路交通事故-受傷年齡與行動狀態統計。","operationId":"get_dfd0cc35_cd54_4268_bcca_773240f80fdd_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/dfd0cc35-cd54-4268-bcca-773240f80fdd\/xml":{"get":{"tags":["XML"],"summary":"新北市104年A2道路交通事故-受傷年齡與行動狀態統計","description":"新北市104年A2道路交通事故-受傷年齡與行動狀態統計。","operationId":"get_dfd0cc35_cd54_4268_bcca_773240f80fdd_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0ce6ccbb-f30e-4f6b-b21c-b81fc804a077\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A2道路交通事故-未滿12歲兒童統計","description":"新北市104年A2道路交通事故-未滿12歲兒童統計。","operationId":"get_0ce6ccbb_f30e_4f6b_b21c_b81fc804a077_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/0ce6ccbb-f30e-4f6b-b21c-b81fc804a077\/json":{"get":{"tags":["JSON"],"summary":"新北市104年A2道路交通事故-未滿12歲兒童統計","description":"新北市104年A2道路交通事故-未滿12歲兒童統計。","operationId":"get_0ce6ccbb_f30e_4f6b_b21c_b81fc804a077_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/0ce6ccbb-f30e-4f6b-b21c-b81fc804a077\/xml":{"get":{"tags":["XML"],"summary":"新北市104年A2道路交通事故-未滿12歲兒童統計","description":"新北市104年A2道路交通事故-未滿12歲兒童統計。","operationId":"get_0ce6ccbb_f30e_4f6b_b21c_b81fc804a077_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/87002235-3af7-4a7a-a8d2-f0c0ac61826a\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A2道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"提供新北市104年A2道路交通事故中，機車傷亡者與騎士是否戴用安全帽的統計資訊","operationId":"get_87002235_3af7_4a7a_a8d2_f0c0ac61826a_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/87002235-3af7-4a7a-a8d2-f0c0ac61826a\/json":{"get":{"tags":["JSON"],"summary":"新北市104年A2道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"提供新北市104年A2道路交通事故中，機車傷亡者與騎士是否戴用安全帽的統計資訊","operationId":"get_87002235_3af7_4a7a_a8d2_f0c0ac61826a_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/87002235-3af7-4a7a-a8d2-f0c0ac61826a\/xml":{"get":{"tags":["XML"],"summary":"新北市104年A2道路交通事故-機車傷亡者與戴用安全帽關係統計","description":"提供新北市104年A2道路交通事故中，機車傷亡者與騎士是否戴用安全帽的統計資訊","operationId":"get_87002235_3af7_4a7a_a8d2_f0c0ac61826a_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/17ef404c-1b88-48cb-ade2-edfb91a5a388\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A2道路交通事故-第一當事者使用行動電話分析統計","description":"新北市104年A2道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_17ef404c_1b88_48cb_ade2_edfb91a5a388_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/17ef404c-1b88-48cb-ade2-edfb91a5a388\/json":{"get":{"tags":["JSON"],"summary":"新北市104年A2道路交通事故-第一當事者使用行動電話分析統計","description":"新北市104年A2道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_17ef404c_1b88_48cb_ade2_edfb91a5a388_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/17ef404c-1b88-48cb-ade2-edfb91a5a388\/xml":{"get":{"tags":["XML"],"summary":"新北市104年A2道路交通事故-第一當事者使用行動電話分析統計","description":"新北市104年A2道路交通事故-第一當事者使用行動電話分析統計。","operationId":"get_17ef404c_1b88_48cb_ade2_edfb91a5a388_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6eb74562-67d5-4525-b42c-ff9d3f2981b1\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A2道路交通事故-第一當事者車輛用途","description":"新北市104年A2道路交通事故-第一當事者車輛用途。","operationId":"get_6eb74562_67d5_4525_b42c_ff9d3f2981b1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/6eb74562-67d5-4525-b42c-ff9d3f2981b1\/json":{"get":{"tags":["JSON"],"summary":"新北市104年A2道路交通事故-第一當事者車輛用途","description":"新北市104年A2道路交通事故-第一當事者車輛用途。","operationId":"get_6eb74562_67d5_4525_b42c_ff9d3f2981b1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/6eb74562-67d5-4525-b42c-ff9d3f2981b1\/xml":{"get":{"tags":["XML"],"summary":"新北市104年A2道路交通事故-第一當事者車輛用途","description":"新北市104年A2道路交通事故-第一當事者車輛用途。","operationId":"get_6eb74562_67d5_4525_b42c_ff9d3f2981b1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/44aad94d-8afa-4df7-bb9c-a16bc727af11\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A2道路交通事故-第一當事者飲酒情形","description":"新北市104年A2道路交通事故-第一當事者飲酒情形。","operationId":"get_44aad94d_8afa_4df7_bb9c_a16bc727af11_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/44aad94d-8afa-4df7-bb9c-a16bc727af11\/json":{"get":{"tags":["JSON"],"summary":"新北市104年A2道路交通事故-第一當事者飲酒情形","description":"新北市104年A2道路交通事故-第一當事者飲酒情形。","operationId":"get_44aad94d_8afa_4df7_bb9c_a16bc727af11_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/44aad94d-8afa-4df7-bb9c-a16bc727af11\/xml":{"get":{"tags":["XML"],"summary":"新北市104年A2道路交通事故-第一當事者飲酒情形","description":"新北市104年A2道路交通事故-第一當事者飲酒情形。","operationId":"get_44aad94d_8afa_4df7_bb9c_a16bc727af11_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/d5f7c829-d246-4992-b598-f4fe807e52a9\/csv":{"get":{"tags":["CSV"],"summary":"新北市104年A2道路交通事故-駕駛人年齡分布統計","description":"新北市104年A2道路交通事故-駕駛人年齡分布統計。","operationId":"get_d5f7c829_d246_4992_b598_f4fe807e52a9_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema"
[...]
