{"openapi":"3.1.0","info":{"title":"NTPC OpenData API","description":"","version":"v1"},"servers":[{"url":"https:\/\/data.ntpc.gov.tw","description":"Generated server url"}],"paths":{"\/api\/datasets\/246df8b0-8e2d-4688-9dc3-cdfd38513d23\/csv":{"get":{"tags":["CSV"],"summary":"新北市國家賠償事件處理情形統計資料","description":"為將本府國家賠償案件處理結果統計之資料公開，以供民眾瞭解及運用。","operationId":"get_246df8b0_8e2d_4688_9dc3_cdfd38513d23_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/246df8b0-8e2d-4688-9dc3-cdfd38513d23\/json":{"get":{"tags":["JSON"],"summary":"新北市國家賠償事件處理情形統計資料","description":"為將本府國家賠償案件處理結果統計之資料公開，以供民眾瞭解及運用。","operationId":"get_246df8b0_8e2d_4688_9dc3_cdfd38513d23_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/246df8b0-8e2d-4688-9dc3-cdfd38513d23\/xml":{"get":{"tags":["XML"],"summary":"新北市國家賠償事件處理情形統計資料","description":"為將本府國家賠償案件處理結果統計之資料公開，以供民眾瞭解及運用。","operationId":"get_246df8b0_8e2d_4688_9dc3_cdfd38513d23_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/80717594-e36f-4aa0-bced-c5645885c480\/csv":{"get":{"tags":["CSV"],"summary":"新北市政府採購爭議案件分析","description":"統計並分析本府採購申訴審議委員會每半年度受理採購爭議案件之辦理情形，使民眾了解，並達資訊公開之目的。\r\n提供年度、爭議途徑類型、前期未結案件數、本期新受理案件數、本期處理終結案件數、本期未結案件數等資訊。\r\n","operationId":"get_80717594_e36f_4aa0_bced_c5645885c480_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/80717594-e36f-4aa0-bced-c5645885c480\/json":{"get":{"tags":["JSON"],"summary":"新北市政府採購爭議案件分析","description":"統計並分析本府採購申訴審議委員會每半年度受理採購爭議案件之辦理情形，使民眾了解，並達資訊公開之目的。\r\n提供年度、爭議途徑類型、前期未結案件數、本期新受理案件數、本期處理終結案件數、本期未結案件數等資訊。\r\n","operationId":"get_80717594_e36f_4aa0_bced_c5645885c480_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/80717594-e36f-4aa0-bced-c5645885c480\/xml":{"get":{"tags":["XML"],"summary":"新北市政府採購爭議案件分析","description":"統計並分析本府採購申訴審議委員會每半年度受理採購爭議案件之辦理情形，使民眾了解，並達資訊公開之目的。\r\n提供年度、爭議途徑類型、前期未結案件數、本期新受理案件數、本期處理終結案件數、本期未結案件數等資訊。\r\n","operationId":"get_80717594_e36f_4aa0_bced_c5645885c480_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/122086f7-3919-4ab3-b757-bcc6a929f47c\/csv":{"get":{"tags":["CSV"],"summary":"新北市法令解釋及諮詢成果半年報","description":"新北市法令解釋及諮詢成果半年報。","operationId":"get_122086f7_3919_4ab3_b757_bcc6a929f47c_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/122086f7-3919-4ab3-b757-bcc6a929f47c\/json":{"get":{"tags":["JSON"],"summary":"新北市法令解釋及諮詢成果半年報","description":"新北市法令解釋及諮詢成果半年報。","operationId":"get_122086f7_3919_4ab3_b757_bcc6a929f47c_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/122086f7-3919-4ab3-b757-bcc6a929f47c\/xml":{"get":{"tags":["XML"],"summary":"新北市法令解釋及諮詢成果半年報","description":"新北市法令解釋及諮詢成果半年報。","operationId":"get_122086f7_3919_4ab3_b757_bcc6a929f47c_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a4cfc560-c73f-4e54-aae0-492c13f10de1\/csv":{"get":{"tags":["CSV"],"summary":"新北市法律諮詢服務處所暨時段","description":"為解決市民法律疑惑，聘任95位經驗豐富且具熱忱的律師擔任本府法律扶助顧問，提供民眾免費法律諮詢。除於市府行政大樓外，更在本市各區公所設置法律諮詢處，分別提供全市民眾免費解答民眾法律疑惑。\r\n提供地點、服務時段、聯絡電話、地址等資訊\r\n","operationId":"get_a4cfc560_c73f_4e54_aae0_492c13f10de1_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/a4cfc560-c73f-4e54-aae0-492c13f10de1\/json":{"get":{"tags":["JSON"],"summary":"新北市法律諮詢服務處所暨時段","description":"為解決市民法律疑惑，聘任95位經驗豐富且具熱忱的律師擔任本府法律扶助顧問，提供民眾免費法律諮詢。除於市府行政大樓外，更在本市各區公所設置法律諮詢處，分別提供全市民眾免費解答民眾法律疑惑。\r\n提供地點、服務時段、聯絡電話、地址等資訊\r\n","operationId":"get_a4cfc560_c73f_4e54_aae0_492c13f10de1_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/a4cfc560-c73f-4e54-aae0-492c13f10de1\/xml":{"get":{"tags":["XML"],"summary":"新北市法律諮詢服務處所暨時段","description":"為解決市民法律疑惑，聘任95位經驗豐富且具熱忱的律師擔任本府法律扶助顧問，提供民眾免費法律諮詢。除於市府行政大樓外，更在本市各區公所設置法律諮詢處，分別提供全市民眾免費解答民眾法律疑惑。\r\n提供地點、服務時段、聯絡電話、地址等資訊\r\n","operationId":"get_a4cfc560_c73f_4e54_aae0_492c13f10de1_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1d8f3ebd-fd1e-4157-b9ec-9dd85b7a189d\/csv":{"get":{"tags":["CSV"],"summary":"新北市消費協商不到場業者","description":"為使民眾在消費時可先查詢企業經營者是否曾因無正當理由不到場參與協商之情形。","operationId":"get_1d8f3ebd_fd1e_4157_b9ec_9dd85b7a189d_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/1d8f3ebd-fd1e-4157-b9ec-9dd85b7a189d\/json":{"get":{"tags":["JSON"],"summary":"新北市消費協商不到場業者","description":"為使民眾在消費時可先查詢企業經營者是否曾因無正當理由不到場參與協商之情形。","operationId":"get_1d8f3ebd_fd1e_4157_b9ec_9dd85b7a189d_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/1d8f3ebd-fd1e-4157-b9ec-9dd85b7a189d\/xml":{"get":{"tags":["XML"],"summary":"新北市消費協商不到場業者","description":"為使民眾在消費時可先查詢企業經營者是否曾因無正當理由不到場參與協商之情形。","operationId":"get_1d8f3ebd_fd1e_4157_b9ec_9dd85b7a189d_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bb4cefbd-dbdd-44a6-8734-a90a9e925cdc\/csv":{"get":{"tags":["CSV"],"summary":"新北市消費爭議第1次申訴案件群組分析","description":"消費爭議第1次申訴案件群組分析，針對各個分類進行第1次申訴分別統計。","operationId":"get_bb4cefbd_dbdd_44a6_8734_a90a9e925cdc_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/bb4cefbd-dbdd-44a6-8734-a90a9e925cdc\/json":{"get":{"tags":["JSON"],"summary":"新北市消費爭議第1次申訴案件群組分析","description":"消費爭議第1次申訴案件群組分析，針對各個分類進行第1次申訴分別統計。","operationId":"get_bb4cefbd_dbdd_44a6_8734_a90a9e925cdc_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/bb4cefbd-dbdd-44a6-8734-a90a9e925cdc\/xml":{"get":{"tags":["XML"],"summary":"新北市消費爭議第1次申訴案件群組分析","description":"消費爭議第1次申訴案件群組分析，針對各個分類進行第1次申訴分別統計。","operationId":"get_bb4cefbd_dbdd_44a6_8734_a90a9e925cdc_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4b8a80bb-6922-4557-8750-83605bcfb179\/csv":{"get":{"tags":["CSV"],"summary":"新北市消費者保護官室處理案件統計表","description":"新北市消費者保護官室針對交易事件處理案件統計表","operationId":"get_4b8a80bb_6922_4557_8750_83605bcfb179_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/4b8a80bb-6922-4557-8750-83605bcfb179\/json":{"get":{"tags":["JSON"],"summary":"新北市消費者保護官室處理案件統計表","description":"新北市消費者保護官室針對交易事件處理案件統計表","operationId":"get_4b8a80bb_6922_4557_8750_83605bcfb179_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/4b8a80bb-6922-4557-8750-83605bcfb179\/xml":{"get":{"tags":["XML"],"summary":"新北市消費者保護官室處理案件統計表","description":"新北市消費者保護官室針對交易事件處理案件統計表","operationId":"get_4b8a80bb_6922_4557_8750_83605bcfb179_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9f27cbcb-0ce5-4c4e-9088-5f8418468b71\/csv":{"get":{"tags":["CSV"],"summary":"新北市訴願案件統計資料","description":"為將本府受理訴願案件訴願決定結果統計之資料公開，以供民眾瞭解及運用。\r\n提供年度、上年度未結件數、新收辦件數、審結件數、訴願駁回數、訴願駁回百分比率、訴願不受理數、訴願不受理百分比率、訴願撤銷原處分數、訴願撤銷原處分百分比率、開會次數等資訊","operationId":"get_9f27cbcb_0ce5_4c4e_9088_5f8418468b71_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9f27cbcb-0ce5-4c4e-9088-5f8418468b71\/json":{"get":{"tags":["JSON"],"summary":"新北市訴願案件統計資料","description":"為將本府受理訴願案件訴願決定結果統計之資料公開，以供民眾瞭解及運用。\r\n提供年度、上年度未結件數、新收辦件數、審結件數、訴願駁回數、訴願駁回百分比率、訴願不受理數、訴願不受理百分比率、訴願撤銷原處分數、訴願撤銷原處分百分比率、開會次數等資訊","operationId":"get_9f27cbcb_0ce5_4c4e_9088_5f8418468b71_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9f27cbcb-0ce5-4c4e-9088-5f8418468b71\/xml":{"get":{"tags":["XML"],"summary":"新北市訴願案件統計資料","description":"為將本府受理訴願案件訴願決定結果統計之資料公開，以供民眾瞭解及運用。\r\n提供年度、上年度未結件數、新收辦件數、審結件數、訴願駁回數、訴願駁回百分比率、訴願不受理數、訴願不受理百分比率、訴願撤銷原處分數、訴願撤銷原處分百分比率、開會次數等資訊","operationId":"get_9f27cbcb_0ce5_4c4e_9088_5f8418468b71_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9060838f-a17c-4fcb-86d5-1ca39a6bbd4b\/csv":{"get":{"tags":["CSV"],"summary":"新北市調解委員會組織概況統計","description":"新北市調解委員會組織概況，了解性別，年齡，教育程度，行業，服務公職，委員年資分布狀況。","operationId":"get_9060838f_a17c_4fcb_86d5_1ca39a6bbd4b_csv","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"text\/csv;charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"\/api\/datasets\/9060838f-a17c-4fcb-86d5-1ca39a6bbd4b\/json":{"get":{"tags":["JSON"],"summary":"新北市調解委員會組織概況統計","description":"新北市調解委員會組織概況，了解性別，年齡，教育程度，行業，服務公職，委員年資分布狀況。","operationId":"get_9060838f_a17c_4fcb_86d5_1ca39a6bbd4b_json","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/api\/datasets\/9060838f-a17c-4fcb-86d5-1ca39a6bbd4b\/xml":{"get":{"tags":["XML"],"summary":"新北市調解委員會組織概況統計","description":"新北市調解委員會組織概況，了解性別，年齡，教育程度，行業，服務公職，委員年資分布狀況。","operationId":"get_9060838f_a17c_4fcb_86d5_1ca39a6bbd4b_xml","parameters":[{"name":"page","in":"query","description":"頁碼(0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"每頁筆數","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"success","content":{"application\/xml":{"schema":{"type":"string","format":"binary"}}}}}}}}}