{
  "swagger": "2.0",
  "info": {
    "description": "此API為 新竹市政府資料開放平臺-中文網 所有 <a href='https://opendata.hccg.gov.tw'>網站連結</a>",    "version": "1.0.0",
    "title": "新竹市政府資料開放平臺-中文網 開放資料集 API"  },
  "host": "opendata.hccg.gov.tw",  "basePath": "/API/v3/Rest",
  "tags": [
    {
      "name": "OpenData",
      "description": "取得本機關最新開放資料"
    }
  ],
  "schemes": [
    "https"  ],
  "paths": {
    "/OpenData/3C5FB164814DD7EA": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市政府1999服務專線熱門問答點閱數統計表",
        "operationId": "3C5FB164814DD7EA",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/08629178680477BF": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市政府1999服務專線熱門問答點閱數統計表-114年",
        "operationId": "08629178680477BF",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/CE2AA45FDFB6355B": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市政府1999服務專線來電總數統計表-114年",
        "operationId": "CE2AA45FDFB6355B",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/DD4FADAEC668B7BD": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市政府1999服務專線來電總數統計表",
        "operationId": "DD4FADAEC668B7BD",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/6AEBC1D78E171938": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市公共自行車租賃系統(YouBike)使用資料",
        "operationId": "6AEBC1D78E171938",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/37FC96FC7052218F": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市公共圖書館圖書借閱量統計表",
        "operationId": "37FC96FC7052218F",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/3D78304D57F370C2": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市民俗一覽表",
        "operationId": "3D78304D57F370C2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/E5183CB49106FF81": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市傳統表演藝術、傳統工藝一覽表",
        "operationId": "E5183CB49106FF81",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/8D6E458C3F110978": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 文化資產保存技術一覽表",
        "operationId": "8D6E458C3F110978",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/20491B5EF25F6DEB": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市生育津貼支用明細表",
        "operationId": "20491B5EF25F6DEB",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/2FE0C2FF2B53A1EC": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市政府資料開放平台防空疏散避難設施資料",
        "operationId": "2FE0C2FF2B53A1EC",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/A21C63D084D4E754": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市老屋補助名單",
        "operationId": "A21C63D084D4E754",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/00AC4212130D47C1": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市寶山路調撥車道資訊",
        "operationId": "00AC4212130D47C1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/A3C3AB7BA5BFEC62": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 114年產業及社福移工勞工人數",
        "operationId": "A3C3AB7BA5BFEC62",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/CA092C8F96FC431A": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市紀念建築一覽表",
        "operationId": "CA092C8F96FC431A",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/2D8AE5DE5064EE57": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市歷史建築一覽表",
        "operationId": "2D8AE5DE5064EE57",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/791CB1B4BE69544C": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市古蹟一覽表",
        "operationId": "791CB1B4BE69544C",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/23A34CF95DB2D3CB": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 古物一覽表",
        "operationId": "23A34CF95DB2D3CB",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/D7112FD110971850": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市旅宿業住宿率",
        "operationId": "D7112FD110971850",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/A62BC03809A7D0B9": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市殯葬管理所殯儀館各項設施使用人次統計表114年度",
        "operationId": "A62BC03809A7D0B9",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/C2E8F90D7FD2C8EB": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市殯葬管理所納骨堂使用人次統計表114年度",
        "operationId": "C2E8F90D7FD2C8EB",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/39E134219B46E22C": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市殯葬管理所火化場使用人次統計表114年度",
        "operationId": "39E134219B46E22C",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/DAA6E960C1944E26": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市公私立托嬰中心名冊",
        "operationId": "DAA6E960C1944E26",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/A902A01337B9549B": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市第22屆里長名冊",
        "operationId": "A902A01337B9549B",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/4E8A4A6732A9DC82": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市火災案件統計表",
        "operationId": "4E8A4A6732A9DC82",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/11C4BC8F7534EC12": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市消防局119受理案件統計分析",
        "operationId": "11C4BC8F7534EC12",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/977F4F46BA8C0922": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市各級工會團體組織名冊",
        "operationId": "977F4F46BA8C0922",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/CCCF5A01450CB0EA": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市政府衛生棉放置館舍清冊",
        "operationId": "CCCF5A01450CB0EA",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/4B52D1CA6EE4D4EE": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市114年職業訓練開班一覽表",
        "operationId": "4B52D1CA6EE4D4EE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/0D1444B6F59B4369": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市早期療育自費療育單位清單",
        "operationId": "0D1444B6F59B4369",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/89A68A9C92330782": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市各市民活動中心",
        "operationId": "89A68A9C92330782",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/DD760B9E096DFB01": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 114年9月新竹市iHsinchu免費無線上網熱點流量統計一覽表",
        "operationId": "DD760B9E096DFB01",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/F4BDE7B5B0A91D45": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市iHsinchu免費無線上網熱點流量統計一覽表",
        "operationId": "F4BDE7B5B0A91D45",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/F8CDF5DAB91A04F5": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市合法旅宿資料名冊",
        "operationId": "F8CDF5DAB91A04F5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/2C416441547B1C8B": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市北區觀光景點清單",
        "operationId": "2C416441547B1C8B",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/45A6214813A52DED": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市東區觀光景點清單",
        "operationId": "45A6214813A52DED",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/E41C2CB742924333": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市香山區觀光景點清單",
        "operationId": "E41C2CB742924333",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/2288F75FEAC6D684": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市親山步道",
        "operationId": "2288F75FEAC6D684",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/C046E54610292808": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市北區合法旅宿資料名冊",
        "operationId": "C046E54610292808",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/AC48F4987E16AAB0": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市香山區合法旅宿資料名冊",
        "operationId": "AC48F4987E16AAB0",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/7137FF06F93FAEC7": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 測量案件統計表",
        "operationId": "7137FF06F93FAEC7",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/EE0550EC19DB97A6": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市人民團體名冊",
        "operationId": "EE0550EC19DB97A6",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/89076EE2723510CD": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市轄農會漁會信用部總分支機構一覽表(新竹市香山區)",
        "operationId": "89076EE2723510CD",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/C84C3EEFE50FB2CC": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市轄農會漁會信用部總分支機構一覽表",
        "operationId": "C84C3EEFE50FB2CC",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/C3EED77172AE1EFF": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市轄信用合作社總分支機構一覽表(苗栗縣)",
        "operationId": "C3EED77172AE1EFF",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/0C9CFAF307FBA636": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市轄信用合作社總分支機構一覽表(桃園市)",
        "operationId": "0C9CFAF307FBA636",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/075B0B9FD2BD9F57": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市轄信用合作社總分支機構一覽表(新竹縣)",
        "operationId": "075B0B9FD2BD9F57",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/FDE3EFF3FCDE30FE": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市轄信用合作社總分支機構一覽表(新竹市香山區)",
        "operationId": "FDE3EFF3FCDE30FE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/311CFFAC88A613A5": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市轄信用合作社總分支機構一覽表(新竹市東區)",
        "operationId": "311CFFAC88A613A5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/5AE9222769999C3F": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市轄信用合作社總分支機構一覽表(新竹市北區)",
        "operationId": "5AE9222769999C3F",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/7C33EEFE9BCBFFD6": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市酒製造業者明細表",
        "operationId": "7C33EEFE9BCBFFD6",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/C17786B2EC1B76F4": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市轄農會漁會信用部總分支機構一覽表(新竹市北區、新竹市新竹區漁會)",
        "operationId": "C17786B2EC1B76F4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/ECA44331B5E1D321": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市轄農會漁會信用部總分支機構一覽表(新竹市東區)",
        "operationId": "ECA44331B5E1D321",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/EDBF1BD14394E1B4": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市轄信用合作社總分支機構一覽表",
        "operationId": "EDBF1BD14394E1B4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/8306E983B8218E1E": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市政府及所屬機關學校可供租借公有場地資料",
        "operationId": "8306E983B8218E1E",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/2B5AF518DCC79DB8": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市火災及爆炸災害潛勢公開資料",
        "operationId": "2B5AF518DCC79DB8",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/34030CA509491F0E": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市燃氣熱水器承裝業技術士名冊",
        "operationId": "34030CA509491F0E",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/77A807E0BAF95F4E": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市燃氣熱水器承裝業證書名冊",
        "operationId": "77A807E0BAF95F4E",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/E98FE5A41E8805C5": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市政府最新債務訊息",
        "operationId": "E98FE5A41E8805C5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/B50117AC57734744": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市勞工健檢指定醫療機構名冊",
        "operationId": "B50117AC57734744",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/4D3128D93F1D3BF3": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市各年度建物買賣移轉棟數",
        "operationId": "4D3128D93F1D3BF3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/86EB8A73A6AA9BB3": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市各年度土地買賣移轉筆數",
        "operationId": "86EB8A73A6AA9BB3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/76A3089BCF392E8A": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 離婚終止結婚人數按性別、婚姻類型及原屬國籍（地區）分",
        "operationId": "76A3089BCF392E8A",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/D1522BB1F67437C2": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 結婚人數按性別、婚姻類型及原屬國籍（地區）分",
        "operationId": "D1522BB1F67437C2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/9B3D872527A7133B": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市人口統計表",
        "operationId": "9B3D872527A7133B",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/D3DF1F194A0EF2CF": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市自來水供水系統直接供水點（民眾端）監測數據",
        "operationId": "D3DF1F194A0EF2CF",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/548AA182F4204BCF": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 原水檢測資料",
        "operationId": "548AA182F4204BCF",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/9E6A00B74EC76AEE": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 清水檢測資料",
        "operationId": "9E6A00B74EC76AEE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/F9C832D2ED60A25D": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市河川水質監測",
        "operationId": "F9C832D2ED60A25D",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/FF16ABB604CE011E": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市附屬單位決算作業基金餘絀撥補綜計",
        "operationId": "FF16ABB604CE011E",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/C308F46D3246407A": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市游泳池水質檢驗情形",
        "operationId": "C308F46D3246407A",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/73316DA3C58A1ACF": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市水療池水質檢驗情形",
        "operationId": "73316DA3C58A1ACF",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/D24D08B10ED6D1BC": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 114年8月新竹市iHsinchu免費無線上網熱點流量統計一覽表",
        "operationId": "D24D08B10ED6D1BC",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/87002201EBA9F930": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 竹風藝文饗宴",
        "operationId": "87002201EBA9F930",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/9E2A9820A0546D77": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市身心障礙者社區樂活補給站",
        "operationId": "9E2A9820A0546D77",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/5C765C8F7BAB9775": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市政府已簽約促參案件表",
        "operationId": "5C765C8F7BAB9775",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/AA833B1E57EA8F98": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市附屬單位決算特別收入基金來源用途及餘絀綜計表",
        "operationId": "AA833B1E57EA8F98",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/6E0C3477ABB10843": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市北區共餐據點名冊",
        "operationId": "6E0C3477ABB10843",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/5CFBD8CDD77A24A8": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市應回收廢棄物回收處理業及舊貨商名冊",
        "operationId": "5CFBD8CDD77A24A8",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/06533E869DDF24CC": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 垃圾強制分類表(資源回收物及廚餘)",
        "operationId": "06533E869DDF24CC",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/EE9C31188AE32269": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 114年7月新竹市iHsinchu免費無線上網熱點流量統計一覽表",
        "operationId": "EE9C31188AE32269",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/EF60D550B63164D5": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市公立殯葬設施資訊",
        "operationId": "EF60D550B63164D5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/B78F9D123B5C5EEC": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市家庭教育中心412-8185專線諮詢服務",
        "operationId": "B78F9D123B5C5EEC",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/8778491CC27E583F": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市稅務局全功能服務櫃臺他轄代發本機關作業統計表",
        "operationId": "8778491CC27E583F",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/C10A77702C89B052": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市稅務局全功能服務櫃臺績效統計表",
        "operationId": "C10A77702C89B052",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/C393BAE0EC9ABE6C": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市稅務局全功能服務櫃臺本轄代發他機關作業統計表",
        "operationId": "C393BAE0EC9ABE6C",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/9EAF3A4076350C0F": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市各類房屋暨附屬設備評價標準表(105年7月1日以後新建、增建、改建完成房屋適用)",
        "operationId": "9EAF3A4076350C0F",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/047326C930D97672": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市最近10年房屋稅綜合統計表",
        "operationId": "047326C930D97672",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/9223D5B5AFCF856E": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 房屋用途類別及用途細類別代號對照",
        "operationId": "9223D5B5AFCF856E",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/4C41799F76227C14": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市房屋位置所在段落等級表",
        "operationId": "4C41799F76227C14",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/647BF5DDC9AB3E95": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市各類房屋折舊標準表(105年6月30日以前新建、增建、改建完成房屋適用)",
        "operationId": "647BF5DDC9AB3E95",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/4F398F5938C9F300": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市各類房屋折舊標準表(105年7月1日以後新建、增建、改建完成房屋適用)",
        "operationId": "4F398F5938C9F300",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/B3BCD5F80466C985": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市各類房屋暨附屬設備評價標準表(105年6月30日以前新建、增建、改建完成房屋適用)",
        "operationId": "B3BCD5F80466C985",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/D175915259299210": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市房屋標準單價表(105年7月1日至111年6月30日新建、改建、增建完成房屋適用)",
        "operationId": "D175915259299210",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/5B3D36539E122EE9": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市房屋標準單價表(111年7月1日以後新建、改建、增建完成房屋適用)",
        "operationId": "5B3D36539E122EE9",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/0A4D48B2F881BFCF": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市房屋標準單價表(105年6月30日以前新建、增建、改建完成房屋適用)",
        "operationId": "0A4D48B2F881BFCF",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/81FD434CFF2AA66F": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 113年度新竹市重要遊憩據點遊客人次統計",
        "operationId": "81FD434CFF2AA66F",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/AD61037703876697": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市重要遊憩據點遊客人次統計",
        "operationId": "AD61037703876697",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/5E6FC5947E0AF357": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市身心障礙者日間照顧及住宿式照顧機構名冊",
        "operationId": "5E6FC5947E0AF357",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/03BBCB34A3303896": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 圖書預算及採購冊數",
        "operationId": "03BBCB34A3303896",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/A36A6099F8EF19A5": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市公立納骨堂清冊",
        "operationId": "A36A6099F8EF19A5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/31A9FC84B580B13D": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市東區共餐據點名冊",
        "operationId": "31A9FC84B580B13D",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/26B6391A1279799C": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市香山區共餐據點名冊",
        "operationId": "26B6391A1279799C",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/A70BD0CC698AF3AE": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市十大主要死亡原因(民國113年) ",
        "operationId": "A70BD0CC698AF3AE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/8044E8B3AFCC2C20": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 安香山陵座管理費基金提撥表",
        "operationId": "8044E8B3AFCC2C20",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/D87FA556D33DD045": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市私立納骨塔清冊",
        "operationId": "D87FA556D33DD045",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/5E1C2FBF27CD23B9": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 懷恩堂管理費基金提撥表",
        "operationId": "5E1C2FBF27CD23B9",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "integer",
            "required": false,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Result DataSet"
          }
        }
      }
    }
,
    "/OpenData/C92D94B4F863F0D8": {
      "get": {
        "tags": [
          "News"
        ],
        "description": "取得 新竹市114學年度國小普通班班級數及學生人數",
        "operationId": "C92D94B4F863F0D8",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "取前幾筆 (資料一次最多取得500筆，預設為10筆)",            "type": "integer",
            "required": false,
            "maximum": 500,
            "default": 10
          },
          {
            "name": "skip",
[...]
