{"openapi":"3.1.0","info":{"title":"水利資料整合雲平台Open API","description":"<div>介接使用說明：本專區提供 RESTful Web API，使用者可採用 HTTP GET 方法，取得本專區開放資料，並以通用 JSON 格式作為回傳結果。<\/div>\n<div>若您是一般使用者，欲了解開放資料原始內容，請至水利資料開放平台查詢開放資料清單<\/div><div><\/div>","contact":{"name":"經濟部水利署"},"version":"v2"},"servers":[{"url":"https:\/\/opendata.wra.gov.tw","description":"Generated server url"}],"paths":{"\/api\/v2\/ad756630-2246-4569-8910-a865cdfa7984":{"get":{"tags":["水利行政與管理"],"summary":"IoW累計流量(雨水貯留)基本資料","description":"IoW(水資源物聯網)收集之雨水貯留相關感測設備基本資料，主要收集雨水入流、雨水出流、自來水補充累積流量等感測數值。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/03be73eb-5da8-45d4-87d9-4e78d476a843":{"get":{"tags":["水利行政與管理"],"summary":"水權統計資料","description":"本資料集主要目的為提供中央主管機關有效水權件數及水量供民眾查詢，資料集資料內容為中央主管機關已核准通過之水權資料，欄位內容包括序號、年份、月份、主管機關、水源類別、用水標的、狀照類別、引用水源(河川)、引用水源(水系) 、引水地點(縣市)、引水地點(鄉鎮)及1月至12月引用水量等23個欄位，將前述的欄位資料透過彙整，可讓民眾了解各縣市鄉鎮依用水標的與河川水系不同，所核發的水權狀件數與用水量的差異等等，達到水權透明化的目的。此資料集於每月25日統計當月份之有效水權件數與水量。一般民眾可利用水權資訊網中水權統計功能，查詢全國有效水權之相關資訊。目前水權統計功能可依照年份月份、主管機關、河川水系、縣市鄉鎮等作為單位查詢的條件，水權資訊網系統則會依據不同的查詢條件於資料庫進行資料比對，並且將計算完成後的資料數據以表格的方式顯示於網頁上。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/598befe9-a6fe-4126-a8cc-52ccbbecfc68":{"get":{"tags":["水庫與堰壩"],"summary":"曾文水庫即時水情資訊","description":"提供水利署南區水資源局所轄曾文水庫即時水情資料，資料內容包括水庫水位、有效蓄水量、時雨量、本日累積雨量、觀測時間等。水位資料係於水庫適當位置設置水位計，於整點擷取水庫水位資料，並透過傳輸系統傳回管理單位資料庫。測得水庫水位資料後，並依據水庫淤積測量結果，即可得水庫有效蓄水量資料。時雨量資料則於水庫集水區適當位置設置多處雨量計，透過傳輸系統傳回管理單位資料庫，並經加權計算後即可得集水區(平均)時雨量資料。水位站及雨量站觀測每小時更新一次，由於即時資料為監測儀器之原始資料，因此部份資料未經檢核，使用者引用及參考時請謹慎注意。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/51023e88-4c76-4dbc-bbb9-470da690d539":{"get":{"tags":["水庫與堰壩"],"summary":"水庫每日營運狀況","description":"本資料集主要係彙整現有公告之水庫，水庫名稱、水庫編號、記錄時間、有效容量、呆水位、滿水位、集水區雨量、進水量、取用水量、排洪道流量、溢洪道流量、放流量合計、出水量合計…等資料。本資料集係由各水庫管理單位，資料來源為水利署水利防災中心之災害緊急應變系統內登錄所轄公告水庫之每日營運相關資料。資料庫管理系統所提供資料，主要為提供給關心台灣地區水庫水情之各界，了解目前水庫最新之營運情形，作為旅遊、經濟建設分析、學術研究、防災防汛及水源調配…等之依據。本資料集所示為各水庫每日營運狀況，各項資料由各水庫管理單位在每日上午9時30分前輸入（星期六、日之資料則在星期一統一輸入）。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/2be9044c-6e44-4856-aad5-dd108c2e6679":{"get":{"tags":["水庫與堰壩"],"summary":"水庫水情資料","description":"本資料集主要係彙整台灣地區現有公告之水庫，包含水庫名稱、水情時間、本日集水區累積降雨量、進流量、水位、滿水位、有效蓄水量、蓄水百分比、水庫出流量、防洪運轉狀態等資料。本資料集來源係由水利署水利防災組之災害緊急應變系統產出；由各水庫管理單位依水庫為自記儀器每小時自動產生或人工每日觀測一次，負責轉入或登錄（若遇颱風豪雨期間涉及防汛重點之水庫，需登錄每小時之累積降雨量、進流量、水位、滿水位、有效蓄水量、蓄水百分比、水庫出流量、防洪運轉狀態等資料）至水利署之系統內。本資料庫管理系統所提供之資料，主要為提供給關心台灣地區水庫水情之各界，了解目前水庫最新之水情變化，作為旅遊、經濟建設分析、學術研究、防災防汛及水源調配…等之依據。請使用者注意顏色設定，勿使用「綠色」、「黃色」、「橙色」及「紅色」，避免誤導社會大眾將水庫蓄水率與水情燈號不當連結，水情燈號請以水利署網站【https:\/\/www.wra.gov.tw\/】為主。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/6d7ba910-b627-4844-882b-df232064db0c":{"get":{"tags":["水庫與堰壩"],"summary":"牡丹水庫即時水情資訊","description":"提供水利署南區水資源局所轄牡丹水庫即時水情資料，資料內容包括水庫水位、有效蓄水量、時雨量、本日累積雨量、觀測時間等。水位資料係於水庫適當位置設置水位計，於整點擷取水庫水位資料，並透過傳輸系統傳回管理單位資料庫。測得水庫水位資料後，並依據水庫淤積測量結果，即可得水庫有效蓄水量資料。時雨量資料則於水庫集水區適當位置設置多處雨量計，透過傳輸系統傳回管理單位資料庫，並經加權計算後即可得集水區(平均)時雨量資料。水位站及雨量站觀測每小時更新一次，由於即時資料為監測儀器之原始資料，因此部份資料未經檢核，使用者引用及參考時請謹慎注意。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/7cd352ef-6518-4396-b2d6-61f1946a5611":{"get":{"tags":["水庫與堰壩"],"summary":"石門水庫濁度資料","description":"石門水庫位於大漢溪中游，地處桃園市大溪區與龍潭區、復興區、新竹縣、關西鎮之間，由於溪口處有雙峰對峙狀若石門，因而得名。其興建緣由，主要是因為大漢溪上游陡峻，無法涵蓄水源，延及下游各地區常遭水旱之苦；政府為解決民困、發展農業、興修水利，自民國四十五年七月展開興建石門水庫工作，並於五十三年六月完工，歷時八載，參加員工七千餘人，建設經費約達新台幣三十二億元，水庫總長度為十六．五公里，滿水位面積八平方公里，有效蓄水量約二億七百萬立方公尺，為一多目標水利工程，具有灌溉、發電、給水、防洪、觀光等效益。主要工程可分為大壩、溢洪道、排洪隧道、電廠、後池及後池堰、石門大圳及桃園大圳進水口等結構物，自完工營運以來，對北部地區農業生產之改良，工業之發展，人民生活水準提高，以及防止水旱災害等方面均有重大貢獻。近年來環保意識高漲，北區水資源局為供應民生及農、工業之用水需求，除積極辦理集水區治理及環境保護工作，防止水源污染；並提倡全民節約用水之觀念，共同珍惜水資源。本資料集為提供石門水庫濁度資料，方便民眾了解水庫濁度狀況。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/ecc4ce8d-0942-474a-8705-53e9aaa7c4e8":{"get":{"tags":["水庫與堰壩"],"summary":"阿公店水庫即時水情資訊","description":"提供水利署南區水資源局所轄阿公店水庫即時水情資料，資料內容包括水庫水位、有效蓄水量、時雨量、本日累積雨量、觀測時間等。水位資料係於水庫適當位置設置水位計，於整點擷取水庫水位資料，並透過傳輸系統傳回管理單位資料庫。測得水庫水位資料後，並依據水庫淤積測量結果，即可得水庫有效蓄水量資料。時雨量資料則於水庫集水區適當位置設置多處雨量計，透過傳輸系統傳回管理單位資料庫，並經加權計算後即可得集水區(平均)時雨量資料。水位站及雨量站觀測每小時更新一次，由於即時資料為監測儀器之原始資料，因此部份資料未經檢核，使用者引用及參考時請謹慎注意。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/f3ae2889-ccaf-45a3-a546-0edd8d9fd2da":{"get":{"tags":["水文統計"],"summary":"地下水水位年度統計","description":"本資料集主要為描述水利署所屬各地下水井之年度水位統計資訊，包含各井之年平均水位、年最高日水位、年最高日水位發生日、年最低日水位、年最低日水位發生日、瞬間最高水位、瞬間最高水位發生日時、瞬間最低水位、瞬間最低水位發生日時刻等，有助於了解各觀測井每年度水位之極值，並可利用此資料集掌握觀測井歷年極值變化之趨勢。本資料集的製作方式由水利署所屬第一~十河川局每月收集觀測井之觀測資訊，並利用統計方式計算而來。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/3e86faea-e94a-4a91-a870-852d73e83c3d":{"get":{"tags":["水文統計"],"summary":"地下水水位觀測井井況","description":"本資料集係經濟部水利署於全台各地下水區設置之地下水觀測站井井況資料，其中包含觀測井井號、設置位置、坐標、井深、井頂高、所屬地下水分區、地下水分層、開始觀測日期及廢站日期等基本資訊，除了解全台地下水觀測井分布及設置概況外，可配合各觀測井水位資料，進一步分析區域地下水文情勢。其中，本資料集之井頂高資料係指觀測井井口高程資料，其仍可能因地層下陷、地震等因素而有所變動，建請使用者審慎使用並注意是否有更新資訊。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/15c166e9-800f-4a81-ba60-0ba61b6c9975":{"get":{"tags":["水文統計"],"summary":"水利署所屬雨量站基本資料","description":"本資料集主要包含經濟部水利署所轄雨量觀測站站況基本資料，包括測站站號、中文站名、中文站址、英文站址、流域編號、縣市代碼、鄉鎮代碼、TM2度分帶97X坐標、TM2度分帶97Y坐標、標高、存廢代碼、設置地點之單位名稱、測站所屬村里、測站所屬之流域(支流)、測站所屬之流域(次支流)、設備類型、是否有傳輸設備等。本資料集資料內容更新頻率為每年一次，於每年度資料更新前，站況基本資料可能配合實際情況有所更動，使用者引用時請注意。另本署所屬雨量站即時觀測資料，已另由交通部中央氣象局統一於政府資料開放平臺發布。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/73c4c3de-4045-4765-abeb-89f9f9cd5ff0":{"get":{"tags":["河川與排水"],"summary":"即時水位資料","description":"經濟部水利署發布所屬分布於全台灣中央管河川或區域排水之水位觀測站所觀測之即時水位資料，資料內容包括各水位站當下最新之觀測水位資料、觀測日期及時間、水位站站號等。水位站即時觀測資料為每10分鐘紀錄1筆，因此資料更新頻率最快為每10分鐘1次。由於即時水位資料為即時發布之原始資料，因此資料未經任何檢核及品管程序，且資料可能因訊號傳輸中斷、儀器故障等因素導致部分水位站資料停止更新或回傳異常水位資料，使用者引用及參考時請謹慎注意。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/c4acc691-7416-40ca-9464-292c0c00da92":{"get":{"tags":["河川與排水"],"summary":"河川水位測站站況","description":"本資料集主要描述水利署所屬水位站之基本資料，有助於了解水位站的相關內容。\r\n包括測站所屬流域，主流、測站所屬之流域，支流、次支流，次支流、一級警戒水位高、二級警戒水位高，、三級警戒水位高、流域編號、是否易受天災破壞、所需車程、測站有市電供電、工程施工管理、設置之橋樑或構造物名稱、 現場收集資料之頻率、水文資料是否定期送水文組彙整、測站上游是否有放水點生態環境監測、水尺零點標高、英文站址、英文站名、河川英文名稱、設備型態、是否設置於跨河構造物、防汛用途、是否為高含砂量河段、水利設施管理、水文觀測用途、測站是否易遭雷擊、中文站址、現場巡邏或維護之頻率、水文資料無定期送水文組彙整原因、正常觀測之性質、觀測項目、觀測原因、觀測現況、站號、中文站名等資料","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/9332bd66-0213-4380-a5d5-a43e7be49255":{"get":{"tags":["河川與排水"],"summary":"河川流量測站站況","description":"本資料集主要描述水利署所屬流量站之基本資料，有助於了解流量站的相關內容。 資料集中包括包括測站所屬流域，主流、測站所屬之流域，支流、次支流，次支流、一級警戒水位高、二級警戒水位高，、三級警戒水位高、流域編號、是否易受天災破壞、所需車程、測站有市電供電、工程施工管理、設置之橋樑或構造物名稱、 現場收集資料之頻率、水文資料是否定期送水文組彙整、測站上游是否有放水點生態環境監測、水尺零點標高、英文站址、英文站名、河川英文名稱、設備型態、是否設置於跨河構造物、防汛用途、是否為高含砂量河段、水利設施管理、水文觀測用途、測站是否易遭雷擊、中文站址、現場巡邏或維護之頻率、水文資料無定期送水文組彙整原因、正常觀測之性質、觀測項目、觀測原因、觀測現況、站號、中文站名等資料","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/637037ae-d125-4b21-805d-f0d1edb0b553":{"get":{"tags":["河川與排水"],"summary":"甲仙攔河堰即時水情資訊","description":"提供水利署南區水資源局所轄甲仙攔河堰即時水情資料，資料內容包括攔河堰操作水位、河川流量、河道濁度、時雨量、累積雨量、觀測時間等。水位資料係於攔河堰適當位置設置水位計，於整點擷取攔河堰水位資料，並透過傳輸系統傳回管理單位資料庫。測得攔河堰水位資料後，並依據河道寬度計算，即可得河川流量資料。時雨量資料則收集上游集水區氣象局雨量觀測站資料，透過網站連結擷取傳回管理單位資料庫，並經加權計算後即可得上游集水區(平均)時雨量資料。水位站及雨量站觀測每小時更新一次，由於即時資料為監測儀器之原始資料，因此部份資料未經檢核，使用者引用及參考時請謹慎注意。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/b2b7cbec-ec4a-4d08-ae41-b3b2cf96b99b":{"get":{"tags":["河川與排水"],"summary":"高屏溪河堰即時水情資訊","description":"提供水利署南區水資源分署所轄高屏溪攔河堰即時水情資料，包含水位、河川流量、時雨量、日累積雨量、濁度、南化高屏聯通管通水量、高屏堰現況河川引水流量、高屏堰上游傍河伏流水引取量等資料，資料為1小時1筆，此資料為系統自動傳輸，未經人工檢核，使用者引用及參考時請謹慎注意。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/9ae30f5e-d5fe-4146-adf0-75e74bd4f408":{"get":{"tags":["環境敏感"],"summary":"水質水量保護區基本資料","description":"自來水水質水量保護區公告資料，包括公告日期、公告面積以及涵蓋範圍資訊。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/1a49527b-a768-499e-a4c3-3e7f8378570f":{"get":{"tags":["防災應用"],"summary":"IoW堤防結構安全基本資料","description":"IoW(水資源物聯網)收集之堤防結構安全感測設備基本資料","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/4d3ec222-8ce9-4f3a-bf20-f743441006a4":{"get":{"tags":["防災應用"],"summary":"IoW沖刷深度基本資料","description":"IoW(水資源物聯網)收集之沖刷深度感測設備基本資料","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}},"\/api\/v2\/d82e29eb-22f8-4e94-8d27-be27ac601d5e":{"get":{"tags":["防災應用"],"summary":"IoW閘門相關監測基本資料","description":"閘門相關監測感測設備其所在地點、資料類型…等，可識別其設備之基本訊息。","parameters":[{"name":"page","in":"query","description":"頁碼(1..N)","schema":{"type":"integer","default":1}},{"name":"size","in":"query","description":"每頁筆數，上限一千筆","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"回傳查詢資料結果"}}}}}}