{"swagger":"2.0","info":{"version":"1.1","title":"財政部財政資訊中心政府資料開放 提供 Open API Service"},"host":"eip.fia.gov.tw","basePath":"/OAI","tags":[{"name":"【資料集編號24308】臺閩地區公民營使用及免用發票報繳營業稅情形統計表API","description":"Public Business Invoice Pay Controller"},{"name":"【資料集編號24309】臺閩地區營利事業自動報繳單位營業額依公民營級距統計表API","description":"Business Tax Auto Apply Range Rpt Controller"},{"name":"【資料集編號25212】臺閩地區營業人家數按各種組織依課稅方式計算比率統計API","description":"Business Tax Count By Ortn Controller"},{"name":"【資料集編號25213】營利事業營業家數按負責人性別及縣市別統計API","description":"Business Count By Sex And Hsn Controller"},{"name":"【資料集編號34147】非營利事業機關團體資料API","description":"Non Business Unit Controller"},{"name":"【資料集編號75136】全國各級學校統一編號資料API","description":"School Ban Data Controller"},{"name":"【資料集編號8355】臺閩地區營業稅自動報繳單位申報情形分析表(縣市別)API","description":"Business Tax Auto Apply City Rpt Controller"},{"name":"【資料集編號8356】臺閩地區營業稅自動報繳單位申報情形分析表(行業別)API","description":"Business Tax Auto Apply Rpt Controller"},{"name":"【資料集編號8687】臺閩地區營業人資本額家數統計表(縣市別)API","description":"Business Capital Count By Hsn Controller"},{"name":"【資料集編號8690】臺閩地區營業稅查定課徵營利事業開徵情形(家數_銷售額_稅額)統計表API","description":"Business Tax Levy Cnt Cus Tax Rpt Controller"},{"name":"【資料集編號9400】全國營業(稅籍)登記資料API","description":"Business Registration Controller"}],"paths":{"/api/BusinessTaxAutoApplyCityRpt":{"get":{"tags":["【資料集編號8355】臺閩地區營業稅自動報繳單位申報情形分析表(縣市別)API"],"summary":"依分頁大小取得營業稅自動報繳單位申報情形分析表(縣市別)","operationId":"listAllUsingGET_3","produces":["*/*"],"parameters":[{"name":"limit","in":"query","description":"限制回傳資料筆數","required":true,"type":"integer","format":"int32","x-example":100},{"name":"offset","in":"query","description":"從第幾筆開始回傳,可與limit使用達到分頁目的","required":true,"type":"integer","format":"int32","x-example":0}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessTaxAutoApplyCityRptBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/BusinessTaxAutoApplyCityRpt/{dataYear}":{"get":{"tags":["【資料集編號8355】臺閩地區營業稅自動報繳單位申報情形分析表(縣市別)API"],"summary":"依查詢條件取得營業稅自動報繳單位申報情形分析表(縣市別)","operationId":"getByDataYearUsingGET_2","produces":["*/*"],"parameters":[{"name":"dataYear","in":"path","description":"年度","required":true,"type":"string"}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessTaxAutoApplyCityRptBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessCapitalCountByHsn":{"get":{"tags":["【資料集編號8687】臺閩地區營業人資本額家數統計表(縣市別)API"],"summary":"依分頁大小取得臺閩地區營業人資本額家數統計表(縣市別)","operationId":"listAllUsingGET","produces":["*/*"],"parameters":[{"name":"limit","in":"query","description":"限制回傳資料筆數","required":true,"type":"integer","format":"int32","x-example":100},{"name":"offset","in":"query","description":"從第幾筆開始回傳,可與limit使用達到分頁目的","required":true,"type":"integer","format":"int32","x-example":0}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessCapitalCountByHsnBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessCapitalCountByHsn/{dataYear}":{"get":{"tags":["【資料集編號8687】臺閩地區營業人資本額家數統計表(縣市別)API"],"summary":"依查詢條件取得臺閩地區營業人資本額家數統計表(縣市別)","operationId":"getByDataYearUsingGET","produces":["*/*"],"parameters":[{"name":"dataYear","in":"path","description":"年度","required":true,"type":"string"}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessCapitalCountByHsnBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessCountBySexAndHsn":{"get":{"tags":["【資料集編號25213】營利事業營業家數按負責人性別及縣市別統計API"],"summary":"依分頁大小取得營利事業營業家數按負責人性別及縣市別統計","operationId":"listAllUsingGET_1","produces":["*/*"],"parameters":[{"name":"limit","in":"query","description":"限制回傳資料筆數","required":true,"type":"integer","format":"int32","x-example":100},{"name":"offset","in":"query","description":"從第幾筆開始回傳,可與limit使用達到分頁目的","required":true,"type":"integer","format":"int32","x-example":0}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessCountBySexAndHsnBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessCountBySexAndHsn/{dataYear}":{"get":{"tags":["【資料集編號25213】營利事業營業家數按負責人性別及縣市別統計API"],"summary":"依查詢條件取得營利事業營業家數按負責人性別及縣市別統計","operationId":"getByDataYearUsingGET_1","produces":["*/*"],"parameters":[{"name":"dataYear","in":"path","description":"年度","required":true,"type":"string"}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessCountBySexAndHsnBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessRegistration":{"get":{"tags":["【資料集編號9400】全國營業(稅籍)登記資料API"],"summary":"依分頁大小取得全國營業(稅籍)登記資料","operationId":"listAllUsingGET_2","produces":["*/*"],"parameters":[{"name":"limit","in":"query","description":"限制回傳資料筆數","required":true,"type":"integer","format":"int32","x-example":100},{"name":"offset","in":"query","description":"從第幾筆開始回傳,可與limit使用達到分頁目的","required":true,"type":"integer","format":"int32","x-example":0}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessRegistrationBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessRegistration/{ban}":{"get":{"tags":["【資料集編號9400】全國營業(稅籍)登記資料API"],"summary":"依統一編號取得全國營業(稅籍)登記資料","operationId":"getByPkeyUsingGET","produces":["*/*"],"parameters":[{"name":"ban","in":"path","description":"統一編號","required":true,"type":"string"}],"responses":{"200":{"description":"查詢成功","schema":{"$ref":"#/definitions/BusinessRegistrationBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessTaxAutoApplyRangeRpt":{"get":{"tags":["【資料集編號24309】臺閩地區營利事業自動報繳單位營業額依公民營級距統計表API"],"summary":"依分頁大小取得臺閩地區營利事業自動報繳單位營業額依公民營級距統計表","operationId":"listAllUsingGET_4","produces":["*/*"],"parameters":[{"name":"limit","in":"query","description":"限制回傳資料筆數","required":true,"type":"integer","format":"int32","x-example":100},{"name":"offset","in":"query","description":"從第幾筆開始回傳,可與limit使用達到分頁目的","required":true,"type":"integer","format":"int32","x-example":0}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessTaxAutoApplyRangeRptBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessTaxAutoApplyRangeRpt/{dataYear}":{"get":{"tags":["【資料集編號24309】臺閩地區營利事業自動報繳單位營業額依公民營級距統計表API"],"summary":"依查詢條件取得臺閩地區營利事業自動報繳單位營業額依公民營級距統計表","operationId":"getByDataYearUsingGET_3","produces":["*/*"],"parameters":[{"name":"dataYear","in":"path","description":"年度","required":true,"type":"string"}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessTaxAutoApplyRangeRptBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessTaxAutoApplyRpt":{"get":{"tags":["【資料集編號8356】臺閩地區營業稅自動報繳單位申報情形分析表(行業別)API"],"summary":"依分頁大小取得臺閩地區營業稅自動報繳單位申報情形分析表(行業別)","operationId":"listAllUsingGET_5","produces":["*/*"],"parameters":[{"name":"limit","in":"query","description":"限制回傳資料筆數","required":true,"type":"integer","format":"int32","x-example":100},{"name":"offset","in":"query","description":"從第幾筆開始回傳,可與limit使用達到分頁目的","required":true,"type":"integer","format":"int32","x-example":0}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessTaxAutoApplyRptBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessTaxAutoApplyRpt/{dataYear}":{"get":{"tags":["【資料集編號8356】臺閩地區營業稅自動報繳單位申報情形分析表(行業別)API"],"summary":"依查詢條件取得臺閩地區營業稅自動報繳單位申報情形分析表(行業別)","operationId":"getByDataYearUsingGET_4","produces":["*/*"],"parameters":[{"name":"dataYear","in":"path","description":"年度","required":true,"type":"string"}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessTaxAutoApplyRptBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessTaxCountByOrtn":{"get":{"tags":["【資料集編號25212】臺閩地區營業人家數按各種組織依課稅方式計算比率統計API"],"summary":"依分頁大小取得臺閩地區營業人家數按各種組織依課稅方式計算比率統計","operationId":"listAllUsingGET_6","produces":["*/*"],"parameters":[{"name":"limit","in":"query","description":"限制回傳資料筆數","required":true,"type":"integer","format":"int32","x-example":100},{"name":"offset","in":"query","description":"從第幾筆開始回傳,可與limit使用達到分頁目的","required":true,"type":"integer","format":"int32","x-example":0}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessTaxCountByOrtnBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessTaxCountByOrtn/{dataYear}":{"get":{"tags":["【資料集編號25212】臺閩地區營業人家數按各種組織依課稅方式計算比率統計API"],"summary":"依查詢條件取得臺閩地區營業人家數按各種組織依課稅方式計算比率統計","operationId":"getByDataYearUsingGET_5","produces":["*/*"],"parameters":[{"name":"dataYear","in":"path","description":"年度","required":true,"type":"string"}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessTaxCountByOrtnBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessTaxLevyCntCusTaxRpt":{"get":{"tags":["【資料集編號8690】臺閩地區營業稅查定課徵營利事業開徵情形(家數_銷售額_稅額)統計表API"],"summary":"依分頁大小取得臺閩地區營業稅查定課徵營利事業開徵情形(家數_銷售額_稅額)統計表","operationId":"listAllUsingGET_7","produces":["*/*"],"parameters":[{"name":"limit","in":"query","description":"限制回傳資料筆數","required":true,"type":"integer","format":"int32","x-example":100},{"name":"offset","in":"query","description":"從第幾筆開始回傳,可與limit使用達到分頁目的","required":true,"type":"integer","format":"int32","x-example":0}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessTaxLevyCntCusTaxRptBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/businessTaxLevyCntCusTaxRpt/{dataYear}":{"get":{"tags":["【資料集編號8690】臺閩地區營業稅查定課徵營利事業開徵情形(家數_銷售額_稅額)統計表API"],"summary":"依查詢條件取得臺閩地區營業稅查定課徵營利事業開徵情形(家數_銷售額_稅額)統計表","operationId":"getByDataYearUsingGET_6","produces":["*/*"],"parameters":[{"name":"dataYear","in":"path","description":"年度","required":true,"type":"string"}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessTaxLevyCntCusTaxRptBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/nonBusinessUnit":{"get":{"tags":["【資料集編號34147】非營利事業機關團體資料API"],"summary":"依分頁大小統一編號取得非營利事業單位資料","operationId":"listAllUsingGET_8","produces":["*/*"],"parameters":[{"name":"limit","in":"query","description":"限制回傳資料筆數","required":true,"type":"integer","format":"int32","x-example":100},{"name":"offset","in":"query","description":"從第幾筆開始回傳,可與limit使用達到分頁目的","required":true,"type":"integer","format":"int32","x-example":0}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/NonBusinessUnitBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/nonBusinessUnit/search":{"get":{"tags":["【資料集編號34147】非營利事業機關團體資料API"],"summary":"依查詢條件取得統一編號查詢非營利事業單位資料","operationId":"listByConditionUsingGET","produces":["*/*"],"parameters":[{"name":"ban","in":"query","description":"非營利事業單位統一編號","required":false,"type":"string"},{"name":"hsnNm","in":"query","description":"縣市名稱","required":false,"type":"string","enum":["基隆市","臺北市","新北市","桃園市","新竹市","新竹縣","苗栗縣","臺中市","彰化縣","南投縣","雲林縣","嘉義市","嘉義縣","臺南市","高雄市","屏東縣","宜蘭縣","花蓮縣","臺東縣","澎湖縣","金門縣","連江縣"]},{"name":"limit","in":"query","description":"限制回傳資料筆數","required":true,"type":"integer","format":"int32","x-example":100},{"name":"offset","in":"query","description":"從第幾筆開始回傳,可與limit使用達到分頁目的","required":true,"type":"integer","format":"int32","x-example":0}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/NonBusinessUnitBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/nonBusinessUnit/{ban}":{"get":{"tags":["【資料集編號34147】非營利事業機關團體資料API"],"summary":"依統一編號取得非營利事業單位資料","operationId":"getByPkeyUsingGET_1","produces":["*/*"],"parameters":[{"name":"ban","in":"path","description":"非營利事業單位統一編號","required":true,"type":"string"}],"responses":{"200":{"description":"查詢成功","schema":{"$ref":"#/definitions/NonBusinessUnitBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/publicBusinessInvoicePay":{"get":{"tags":["【資料集編號24308】臺閩地區公民營使用及免用發票報繳營業稅情形統計表API"],"summary":"依分頁大小取得臺閩地區公民營使用及免用發票報繳營業稅情形統計表","operationId":"listAllUsingGET_9","produces":["*/*"],"parameters":[{"name":"limit","in":"query","description":"限制回傳資料筆數","required":true,"type":"integer","format":"int32","x-example":100},{"name":"offset","in":"query","description":"從第幾筆開始回傳,可與limit使用達到分頁目的","required":true,"type":"integer","format":"int32","x-example":0}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/PublicBusinessInvoicePayBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/publicBusinessInvoicePay/{year}":{"get":{"tags":["【資料集編號24308】臺閩地區公民營使用及免用發票報繳營業稅情形統計表API"],"summary":"依查詢條件取得臺閩地區公民營使用及免用發票報繳營業稅情形統計表","operationId":"getByYearUsingGET","produces":["*/*"],"parameters":[{"name":"year","in":"path","description":"年度","required":true,"type":"string"}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/PublicBusinessInvoicePayBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/schoolBanData":{"get":{"tags":["【資料集編號75136】全國各級學校統一編號資料API"],"summary":"依分頁大小取得全國各級學校統一編號資料","operationId":"listAllUsingGET_10","produces":["*/*"],"parameters":[{"name":"limit","in":"query","description":"限制回傳資料筆數","required":true,"type":"integer","format":"int32","x-example":100},{"name":"offset","in":"query","description":"從第幾筆開始回傳,可與limit使用達到分頁目的","required":true,"type":"integer","format":"int32","x-example":0}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/SchoolBanDataBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/schoolBanData/search":{"get":{"tags":["【資料集編號75136】全國各級學校統一編號資料API"],"summary":"依查詢條件取得各級學校統一編號資料","operationId":"listByConditionUsingGET_1","produces":["*/*"],"parameters":[{"name":"hsnNm","in":"query","description":"縣市名稱","required":false,"type":"string","allowEmptyValue":false,"enum":["基隆市","臺北市","新北市","桃園市","新竹市","新竹縣","苗栗縣","臺中市","彰化縣","南投縣","雲林縣","嘉義市","嘉義縣","臺南市","高雄市","屏東縣","宜蘭縣","花蓮縣","臺東縣","澎湖縣","金門縣","連江縣"]},{"name":"limit","in":"query","description":"限制回傳資料筆數","required":true,"type":"integer","format":"int32","x-example":100},{"name":"offset","in":"query","description":"從第幾筆開始回傳,可與limit使用達到分頁目的","required":true,"type":"integer","format":"int32","x-example":0}],"responses":{"200":{"description":"查詢成功","schema":{"type":"array","items":{"$ref":"#/definitions/SchoolBanDataBean"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}},"/api/schoolBanData/{ban}":{"get":{"tags":["【資料集編號75136】全國各級學校統一編號資料API"],"summary":"依統一編號取得全國各級學校統一編號資料","operationId":"getByPkeyUsingGET_2","produces":["*/*"],"parameters":[{"name":"ban","in":"path","description":"統一編號","required":true,"type":"string"}],"responses":{"200":{"description":"查詢成功","schema":{"$ref":"#/definitions/SchoolBanDataBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"查詢異常"}},"deprecated":false}}},"definitions":{"BusinessCapitalCountByHsnBean":{"type":"object","properties":{"dataYear":{"type":"string","description":"年度"},"hsnNm":{"type":"string","description":"縣市"},"branchNt0":{"type":"number","description":"資本額級距"},"belowNt100k":{"type":"number","description":"資本額級距"},"nt100k500k":{"type":"number","description":"資本額級距"},"nt500k1m":{"type":"number","description":"資本額級距"},"nt1m5m":{"type":"number","description":"資本額級距"},"nt5m10m":{"type":"number","description":"資本額級距"},"nt10m50m":{"type":"number","description":"資本額級距"},"nt50m100m":{"type":"number","description":"資本額級距"},"nt100m500m":{"type":"number","description":"資本額級距"},"nt500m1b":{"type":"number","description":"資本額級距"},"aboveNt1b":{"type":"number","description":"資本額級距"}},"title":"BusinessCapitalCountByHsnBean","description":"臺閩地區營業人資本額家數統計表(縣市別)"},"BusinessCountBySexAndHsnBean":{"type":"object","properties":{"dataYear":{"type":"string","description":"年度"},"responsibleSex":{"type":"string","description":"負責人性別"},"hsnNm":{"type":"string","description":"縣市"},"taxIndustryA":{"type":"number","description":"稅務業別"},"taxIndustryB":{"type":"number","description":"稅務業別"},"taxIndustryC":{"type":"number","description":"稅務業別"},"taxIndustryD":{"type":"number","description":"稅務業別"},"taxIndustryE":{"type":"number","description":"稅務業別"},"taxIndustryF":{"type":"number","description":"稅務業別"},"taxIndustryG":{"type":"number","description":"稅務業別"},"taxIndustryH":{"type":"number","description":"稅務業別"},"taxIndustryI":{"type":"number","description":"稅務業別"},"taxIndustryJ":{"type":"number","description":"稅務業別"},"taxIndustryK":{"type":"number","description":"稅務業別"},"taxIndustryL":{"type":"number","description":"稅務業別"},"taxIndustryM":{"type":"number","description":"稅務業別"},"taxIndustryN":{"type":"number","description":"稅務業別"},"taxIndustryO":{"type":"number","description":"稅務業別"},"taxIndustryP":{"type":"number","description":"稅務業別"},"taxIndustryQ":{"type":"number","description":"稅務業別"},"taxIndustryR":{"type":"number","description":"稅務業別"},"taxIndustryS":{"type":"number","description":"稅務業別"},"taxIndustryX":{"type":"number","description":"稅務業別"}},"title":"BusinessCountBySexAndHsnBean","description":"營利事業營業家數按負責人性別及縣市別統計"},"BusinessRegistrationBean":{"type":"object","required":["ban"],"properties":{"ban":{"type":"string","description":"統一編號"},"businessAddress":{"type":"string","description":"營業地址"},"headquartersBan":{"type":"string","description":"總機構統一編號"},"businessNm":{"type":"string","description":"營業人名稱"},"capitalAmount":{"type":"number","description":"資本額"},"businessSetupDate":{"type":"string","description":"設立日期"},"businessType":{"type":"string","description":"組織別名稱"},"isUseInvoice":{"type":"string","description":"使用統一發票"},"industryCd":{"type":"string","description":"行業代號"},"industryNm":{"type":"string","description":"名稱"},"industryCd1":{"type":"string","description":"行業代號1"},"industryNm1":{"type":"string","description":" 名稱1"},"industryCd2":{"type":"string","description":"行業代號2"},"industryNm2":{"type":"string","description":"名稱2"},"industryCd3":{"type":"string","description":"行業代號3"},"industryNm3":{"type":"string","description":"名稱3"}},"title":"BusinessRegistrationBean","description":"全國營業(稅籍)登記"},"BusinessTaxAutoApplyCityRptBean":{"type":"object","properties":{"dataYear":{"type":"string","description":"年度"},"city":{"type":"string","description":"縣市別"},"applyBusinessAmount":{"type":"number","description":"申報家數"},"salesAmount":{"type":"number","description":"銷售額合計"},"taxableSales":{"type":"number","description":"應稅銷售額"},"zeroTaxSales":{"type":"number","description":"零稅率銷售額"},"taxFreeSales":{"type":"number","description":"免稅銷售額"},"specialTaxSales":{"type":"number","description":"特種計稅銷售額"},"taxPayable":{"type":"number","description":"本年應實繳稅額"},"taxRef":{"type":"number","description":"本年應退稅額"}},"title":"BusinessTaxAutoApplyCityRptBean","description":"臺閩地區營業稅自動報繳單位申報情形分析表(縣市別)"},"BusinessTaxAutoApplyRangeRptBean":{"type":"object","properties":{"dataYear":{"type":"string","description":"年度"},"item":{"type":"string","description":"項目"},"classInterval":{"type":"string","description":"級距"},"applyBusinessAmount":{"type":"number","description":"申報家數"},"salesAmount":{"type":"number","description":"銷售額合計"},"taxableSales":{"type":"number","description":"應稅銷售額"},"zeroTaxSales":{"type":"number","description":"零稅率銷售額"},"taxFreeSales":{"type":"number","description":"免稅銷售額"},"specialTaxSales":{"type":"number","description":"特種計稅銷售額"},"taxPayable":{"type":"number","description":"本年應實繳稅額"}},"title":"BusinessTaxAutoApplyRangeRptBean","description":"臺閩地區營利事業自動報繳單位營業額依公民營級距統計表"},"BusinessTaxAutoApplyRptBean":{"type":"object","properties":{"dataYear":{"type":"string","description":"年度"},"industryCdNm":{"type":"string","description":"行業別"},"applyBusinessAmount":{"type":"number","description":"申報家數"},"salesAmount":{"type":"number","description":"銷售額合計"},"taxableSales":{"type":"number","description":"應稅銷售額"},"zeroTaxSales":{"type":"number","description":"零稅率銷售額"},"taxFreeSales":{"type":"number","description":"免稅銷售額"},"specialTaxSales":{"type":"number","description":"特種計稅銷售額"},"taxPayable":{"type":"number","description":"本年應實繳稅額"},"taxRefund":{"type":"number","description":"本年應退稅額"}},"title":"BusinessTaxAutoApplyRptBean","description":"臺閩地區營業稅自動報繳單位申報情形分析表(行業別)"},"BusinessTaxCountByOrtnBean":{"type":"object","properties":{"dataYear":{"type":"string","description":"年度"},"ortn":{"type":"string","description":"組織別"},"txlGene":{"type":"number","description":"應稅一般使用發票"},"txlGeneNisp":{"type":"number","description":"應稅一般免用自繳"},"txlSpFina":{"type":"number","description":"應稅特種使用發票金融典當業"},"txlSpEd":{"type":"number","description":"應稅特種使用發票一般飲食業"},"txlSpEdLuxury":{"type":"number","description":"應稅特種使用發票奢侈飲食業"},"txlSpNisp":{"type":"number","description":"應稅特種免用自繳"},"txlSpAssessGene":{"type":"number","description":"應稅特種查定一般"},"txlSpAssessPeddler":{"type":"number","description":"應稅特種查定攤販"},"txlSpAssessEd":{"type":"number","description":"應稅特種查定一般飲食業"},"txlSpAssessEdLuxury":{"type":"number","description":"應稅特種查定奢侈飲食業"},"xmpGene":{"type":"number","description":"免稅一般使用發票"},"xmpGeneNisp":{"type":"number","description":"免稅一般免用自繳"},"xmpSpFina":{"type":"number","description":"免稅特種使用發票金融典當業"},"xmpSpEd":{"type":"number","description":"免稅特種使用發票一般飲食業"},"xmpSpEdLuxury":{"type":"number","description":"免稅特種使用發票奢侈飲食業"},"xmpSpNisp":{"type":"number","description":"免稅特種免用自繳"},"xmpSpAssessGene":{"type":"number","description":"免稅特種查定一般"},"xmpSpAssessPeddler":{"type":"number","description":"免稅特種查定攤販"},"xmpSpAssessEd":{"type":"number","description":"免稅特種查定一般飲食業"},"xmpSpAssessEdLuxury":{"type":"number","description":"免稅特種查定奢侈飲食業"},"stopCountAutoapplyTxl":{"type":"number","description":"停業家數-自動報繳-應稅"},"stopCountAssessTxl":{"type":"number","description":"停業家數-查定課徵-應稅"},"stopCountAutoapplyXmp":{"type":"number","description":"停業家數-自動報繳-免稅"},"stopCountAssessXmp":{"type":"number","description":"停業家數-查定課徵-免稅"}},"title":"BusinessTaxCountByOrtnBean","description":"臺閩地區營業人家數按各種組織依課稅方式計算比率統計"},"BusinessTaxLevyCntCusTaxRptBean":{"type":"object","properties":{"dataYear":{"type":"string","description":"年度"},"agency":{"type":"string","description":"機關"},"quarter":{"type":"string","description":"季別"},"taxableNumber1":{"type":"number","description":"應稅家數"},"taxableNumberPercent":{"type":"number","description":"應稅家數百分比"},"belowTaxNumber2":{"type":"number","description":"未達起徵家數"},"belowTaxNumberPercent":{"type":"number","description":"未達起徵家數百分比"},"actuallyLeviedNumber3":{"type":"number","description":"實際開徵家數"},"actuallyLeviedNumberPercent":{"type":"number","description":"實際開徵家數百分比"},"actuallyLeviedTotalSalesAmount4":{"type":"number","description":"實際開徵總銷售額"},"actuallyLeviedTotalSalesAmountPercent":{"type":"number","description":"實際開徵總銷售額百分比"},"actuallyLeviedAvgSalesAmount43":{"type":"number","description":"實際開徵平均銷售額"},"actuallyLeviedTotalTaxAmount5":{"type":"number","description":"實際開徵總稅額"},"actuallyLeviedTotalTaxAmountPercent":{"type":"number","description":"實際開徵總稅額百分比"},"actuallyLeviedAvgTaxAmount53":{"type":"number","description":"實際開徵平均稅額"},"belowTaxPercent21":{"type":"number","description":"未達起徵點家數佔本轄區百分比"},"actuallyLeviedPercent31":{"type":"number","description":"實際開徵家數佔本轄區百分比"}},"title":"BusinessTaxLevyCntCusTaxRptBean","description":"臺閩地區營業稅查定課徵營利事業開徵情形(家數_銷售額_稅額)統計表"},"NonBusinessUnitBean":{"type":"object","required":["ban"],"properties":{"ban":{"type":"string","description":"非營利事業統一編號"},"unitNm":{"type":"string","description":"非營利事業單位名稱"},"hsnNm":{"type":"string","description":"縣市名稱","enum":["基隆市","臺北市","新北市","桃園市","新竹市","新竹縣","苗栗縣","臺中市","彰化縣","南投縣","雲林縣","嘉義市","嘉義縣","臺南市","高雄市","屏東縣","宜蘭縣","花蓮縣","臺東縣","澎湖縣","金門縣","連江縣"]},"modifyDate":{"type":"string","description":"異動日期"},"modifyCd":{"type":"string","description":"異動代號"},"modifyReason":{"type":"string","description":"異動原因"}},"title":"NonBusinessUnitBean","description":"非營利事業單位"},"PublicBusinessInvoicePayBean":{"type":"object","properties":{"year":{"type":"string","description":"年度"},"item":{"type":"string","description":"項目"},"branch":{"type":"string","description":"區局別"},"store":{"type":"string","description":"家數"},"pNeedtax":{"type":"number","description":"公營-應稅銷售額"},"pZerotax":{"type":"number","description":"公營-零稅率銷售額"},"pFreetax":{"type":"number","description":"公營-免稅銷售額"},"pActtax":{"type":"number","description":"公營-實繳稅額"},"bNeedtax":{"type":"number","description":"民營-應稅銷售額"},"bZerotax":{"type":"number","description":"民營-零稅率銷售額"},"bFreetax":{"type":"number","description":"民營-免稅銷售額"},"bActtax":{"type":"number","description":"民營-實繳稅額"}},"title":"PublicBusinessInvoicePayBean","description":"臺閩地區公民營使用及免用發票報繳營業稅情形統計表"},"SchoolBanDataBean":{"type":"object","required":["ban"],"properties":{"ban":{"type":"string","description":"統一編號"},"unitNm":{"type":"string","description":"單位名稱"},"hsnNm":{"type":"string","description":"機關所在縣市"},"modifyDate":{"type":"string","description":"最近異動日期"},"modifyReasonCd":{"type":"string","description":" 最近異動原因"},"modifyReasonNm":{"type":"string","description":"原因說明文字"}},"title":"SchoolBanDataBean","description":"全國各級學校統一編號資料"}}}